.subheader
  %h3
    Messages
.form-container
  = link_to 'Share Your Thoughts', form_comments_path(:commentable_type => new_comment.commentable_type, :commentable_id => new_comment.commentable_id), :class => 'form-toggle-link'
  #comment-form-div
.comments
  - if comments.length == 0
    .comment
      = "no messages yet"
  - else
    = render comments
.comments-footer
  = link_to "All Messages", comments_path