.subheader
  %h3
    Comments
.comments
  .fb-comments{:href => request.url, "num-posts" => 5, :width => 470}
  %h3
    Old Comments
  - if comments.length == 0
    .comment
      = "no messages yet"
  - else
    = render comments
.comments-footer
  = link_to "All Messages", comments_path