.subheader
  %h3
    Messages
.form-container
  .post-message
    = link_to 'Post a Message', form_comments_path(:commentable_type => new_comment.commentable_type, :commentable_id => new_comment.commentable_id), :class => 'search-button form-toggle-link'
  #comment-form-div
.comments
  - if comments.length == 0
    .comment
      = "no messages yet"
  - else
    = render comments
.comments-footer
  = link_to "All Messages", comments_path