#recipe-list
  .subheader
    %h3
      = @subheader
  - @recipes.each do |recipe|
    .recipe-name
      = link_to recipe.name, recipe_path(recipe)
#comment-list
  .subheader
    %h3
      Comments
  - Comment.limit(50).each do |comment|
    .comment
      .user-name= comment.user_name
      .content= comment.content
