<h1>1-2-3-4 Cake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 cups cake flour, sifted
</li>
<li>
1 tablespoon baking powder
</li>
<li>
1 teaspoon baking soda
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 cup unsalted butter, softened (2 sticks)
</li>
<li>
2 cups sugar
</li>
<li>
4 large eggs
</li>
<li>
1 1/4 cups buttermilk, or plain yogurt thinned with milk
</li>
<li>
1 1/2 teaspoons vanilla
</li>
<li>
Sour Cream Chocolate Frosting:
</li>
<li>
1 1/2 cups powdered sugar, sifted
</li>
<li>
3 ounces unsweetened chocolate, melted
</li>
<li>
2 tablespoons sour cream, or more if needed
</li>
<li>
2 tablespoons unsalted butter, softened
</li>
<li>
1/8 teaspoon salt
</li>
<li>
1 teaspoon vanilla
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 350F.  Butter and flour 2 9&quot; inch round pans or 8&quot; square pans.  Set aside.  
</li>
<li>
Resift the flour with the baking powder, baking soda and salt; set aside.
</li>
<li>
In a large bowl, cream the butter and sugar with an electric mixer at medium-high speed until very light.  Beat in the eggs, one at a time.  Lower the speed to slow and beat in the flour mixture alternately with the buttermilk or yogurt mixture, beginning and ending with the flour.
</li>
<li>
Beat in the vanilla.  Scrape the batter into the prepared pans, dividing gently.
</li>
<li>
Bake until the cakes are lightly golden and toothpick inserted in the center emerges clean, 30-35 minutes.
</li>
<li>
Cool completely in the pans on wire racks.  Run the tip of a knife around the sides of the cakes to loosen them from the pans; invert the cake layers and frost.
</li>
<li>
Frosting:  With an electric mixer, combine the powdered sugar and melted chocolate at medium-slow speed.  Increase the speed slightly, add the sour cream, butter, salt and vanilla and mix until well blended.  If the frosting is too stiff, add more sour cream until the frosting is of a spreadable consistency.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a cake that has been made for generations using 1 cup of
</p>
<p>
  butter, 2 cups sugar, 3 cups flour and 4 eggs....thus 1-2-3-4 cake. 
</p>
<p>
  Made from memory with my grandma&#39;s (and maybe yours) favorite teacup
</p>
<p>
  for measuring!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Classic Home Desserts&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 9&quot; layers&quot;SOURCE: Richard Sax
</p>
</div></body>
