<h1>100% Whole Wheat Bread</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 3/4-3 cups warm tap water
</li>
<li>
1/4 cup vegetable oil
</li>
<li>
1/4 cup  honey
</li>
<li>
1 1/2 tablespoons dough enhancer, or 1/2 Vitamin C tablet, crushed
</li>
<li>
1 1/2 tablespoons vital wheat gluten
</li>
<li>
1 1/2 tablespoons SAF Instant Yeast
</li>
<li>
3/4 teaspoon salt
</li>
<li>
7-8 cups freshly milled whole wheat flour, available at Great Harvest
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place water in bowl of electric mixer.  Add 1/2 of the flour.  Add oil, honey, dough enhancer, gluten and yeast.  With paddle attachment, mix  for about 2 minutes.  Add about 3 cups of flour and the salt.  Change to kneading attachment.  Mix until flour is completely incorporated.  Add flour 1/4 cup at a time until mixture pulls away from the bowl.  Cover bowl and allow the dough to rest for 10 minutes.  Turn the mixer on again and mix for another 2-3 minutes.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Place in an oiled bowl to rise until double.  Punch down dough and shape into two loaves.  Place in oiled bread pans and allow to rise until double.    Bake at 350F for 25-30 minutes or until golden brown.  SOURCE: Adapted from the Kitchen Engine
</p>
</div></body>
