<h1>15th Century Lasagna!</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 recipe Char&#39;s Fresh Pasta
</li>
<li>
1 recipe Italian Spinach with Raisins &amp; Pinenuts
</li>
<li>
2 1/2 cups mozzarella cheese, grated
</li>
<li>
1 cup Parmesan Reggiano, grated finely
</li>
<li>
2 cups fresh bread crumbs, day old is fine
</li>
<li>
1/4 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Make the pasta and set aside to rest under a bowl.
</li>
<li>
Make the Ricotta-Parm Filling.  Set aside.
</li>
<li>
Make the Italian Spinach with Raisins &amp; Pinenuts. 
</li>
<li>
Grate the mozzarella and the Parmesan cheeses.
</li>
<li>
Heat the 1/4 cup olive oil in a saute pan.  Add the bread crumbs, mix in oil, add 1/4 teaspoon salt.  Turn off heat.
</li>
<li>
Choose a large rectangular baking pan (approximately 9&quot;x13&quot;).  Oil the bottom of the pan.  Begin to roll out pasta, 1/4 of the dough at a time,  in a pasta maker to a &quot;5&quot; thickness (as designated on the pasta maker).  When you have completed rolling out the first quarter, it will be very long.  Cut it to fit across the bottom of the pan.  You will need two of them on the bottom.  
</li>
<li>
Top this first layer of pasta with half of the spinach mixture.  Sprinkle 1/2 cup of the Parmesan over this mixture.  Continue to roll out more pasta.  Lay the pasta down on top of the spinach mixture.  Top this layer with the ricotta filling.  Top this with half of the mozzarella cheese.  Repeat these two layers with more rolled out pasta.  Finish with the last of the ricotta, topping with the last of the mozzarella.  Finish this last layer with the bread crumb mixture.
</li>
<li>
Place in 375F preheated oven.  Bake about 45-50 minutes until bubbly and puffy.  Remove from oven and allow to set for about 10 minutes before cutting.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
