<h1>A Great Biscuit</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups AP flour
</li>
<li>
2 1/4 teaspoons baking powder
</li>
<li>
2 tablespoons sugar
</li>
<li>
1/2 teaspoon cream of tartar
</li>
<li>
1/4 teaspoon baking powder
</li>
<li>
1/4 teaspoon sea salt
</li>
<li>
4 tablespoons shortening, cut into pieces
</li>
<li>
4 tablespoons unsalted butter, cut into pieces
</li>
<li>
3/4 cup buttermilk
</li>
<li>
melted butter
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 400F.
</li>
<li>
Blend together in a food processor the dry ingredients.
</li>
<li>
Add shortening and butter and pulse until mixture resembles small bits.
</li>
<li>
Shake the buttermilk and pour over mixture.  Pulse just until the mixture comes together slightly (will look crumbly).  Pour out of the processor and knead dough slightly on lightly floured board 3-4 times.
</li>
<li>
Pat the dough to 1 inch.  Using a 2&quot; round cutter, cut out biscuits.  Place on parchment lined sheet pan, placing them about 2&quot; apart.  Lightly press together the scraps and cut a few more biscuits.
</li>
<li>
Brush a little melted butter on top of each biscuit, taking care to have it stay on top and not drizzle down the sides (this will keep the biscuits from rising).
</li>
<li>
Transfer the biscuits to the oven and increase the temperature to 425F.  Bake for 15 to 20 minutes.  Cool on a rack for 2 minutes and serve warm.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Adapted from Washington Post 2005&quot;
</p>
<p>
SERVINGS: 11
</p>
<p>
SOURCE: Lisa Yockelson
</p>
</div></body>
