<head>
<title>Aioli</title>
</head>
<body>
<h1>Aioli</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 large garlic cloves
</li>
<li>
3 large egg yolks
</li>
<li>
2 1/2 cups virgin olive oil
</li>
<li>
1/2 teaspoon kosher salt
</li>
<li>
1 tablespoon lemon juice
</li>
</ul>
<h2>Method</h2><ul>
<li>
Put the garlic  and 3 egg yolks into the processor and process for 2-3 seconds, just until blended using the metal blade.  With the machine running, very slowly pour in the olive oil, in a thin trickle at first until the mayonnaise starts to thicken, then more rapidly.  When stiff, season with salt and lemon juice.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Very garlicky Provencal mayonnaise...with lots of uses!
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: James Beard
</p>
</body>
