<h1>Albondigas en Salsa Verde</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. tomatillos, husked &amp; rinsed
</li>
<li>
2 small white onions, 1 quartered, 1 finely chopped
</li>
<li>
2 cloves garlic, unpeeled
</li>
<li>
2 chiles chipotles en adobo (comes in cans
</li>
<li>
in the Mexican section)
</li>
<li>
1 cup beef or chicken stock + 1 cup more if
</li>
<li>
needed
</li>
<li>
salt to taste
</li>
<li>
2 lbs. ground lean beef
</li>
<li>
1 cup fine dried bread crumbs, soaked in 1/4 cup milk
</li>
<li>
2 large eggs, lightly beaten
</li>
<li>
6 tablespoons finely chopped cilantro
</li>
<li>
1/2 teaspoon freshly ground pepper
</li>
<li>
3 large eggs, hard boiled and cut into cubes
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Roast the tomatillos in a cast iron pan until slightly blackened.  So the same with the onion and garlic.  Peel the garlic and place in a food processor with tthe tomatillo and roasted onion.  Add the chiles and the 1 cup broth and process until smooth.  Pour into a saucepan and bring to a boil.  Reduce the heat and simmer, uncovered for 10 minutes.  Season with salt.
</li>
<li>
Mix the meat, bread crumbs, beaten eggs, chopped onion, 4 tablespoons of the cilantro, salt and pepper in a bowl.  For each meatball, flatten 1 rounded tablespoon of the mixture.  Add several cubes of egg and wrap the meat around them.  Shape into a ball.  Drop the balls into the simmering sauce, cover and cook, stirring occasionally, 20-30 minutes.  Add more broth as neede.
</li>
<li>
Spoon onto a warmed platter, sprinkle with the remaining 2 tablespoons cilantro and serve.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Williams-Sonoma &quot;Savoring Mexico&quot;&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Marilyn Tausend
</p>
</div></body>
