<h1>Allemande Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 gallon veal veloute**
</li>
<li>
Liaison:
</li>
<li>
8 egg yolk
</li>
<li>
1 pint heavy cream
</li>
<li>
1 ounce lj
</li>
<li>
wp
</li>
<li>
nutmeg (if desired)
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Place the veloute in a saucepan and simmer a few minutes over moderate heat until slightly reduced.
</li>
<li>
2.  Beat the egg yolks and cream together in a stainless steel bowl.
</li>
<li>
3.  Temper the liaison by slowly beating in about one-third of the hot sauce.  Then slowly stir this mixture back into the sauce in the pan.
</li>
<li>
4.  Reheat to just below simmering.  Do not boil.
</li>
<li>
5.  Add lj, ks, and wp to taste and strain through wet cheesecloth.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : **Allemande Sauce, strictly speaking, should be made with Veal Veloute.  However, since Chicken Veloute is much more common in the U.S., Allemande Sauce and the small sauces derived from it are often made with Chicken Veloute.
</p>
<p>
SERVINGS: 50
</p>
<p>
SOURCE: Gisslen Text
</p>
</body>
