<h1>Almost No-Bake Strawberry Cheesecake Tart</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups vanilla wafer cookie crumbs
</li>
<li>
1/2 stick butter, melted
</li>
<li>
1/4 ounce packet unflavored gelatin
</li>
<li>
1/4 cup cold water
</li>
<li>
8 ounces cream cheese, softened
</li>
<li>
3/4 cup sugar
</li>
<li>
1 cup fat free Greek-style yogurt
</li>
<li>
1 teaspoon vanilla
</li>
<li>
3/4 cup strawberry jam
</li>
<li>
Fresh strawberries, to serve
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 400F.
</li>
<li>
Mix together cookie crumbs and butter.  Press the mixture into a 9&quot; removable bottom tart pan, bottom and sides.  Bake for 6-8 minutes and cool.
</li>
<li>
Filling:  Combine the gelatin and water in a microwave-safe cup.  Allow to set for 5 minutes or until gelatin is dissolved.    Microwave for 30 seconds or until it boils.
</li>
<li>
In a large electric mixer bowl, beat the cream cheese and sugar until smooth, scraping the bowl.  Add yogurt, gelatin and vanilla and beat until smooth.
</li>
</ul>
<h2>Notes</h2><p>
Beat the strawberry jam with a fork until mostly smooth.  Add the jam to the cream cheese mixture and fold in with a rubber spatula.  Transfer the mixture to the cooled tart shell and smooth the top.  Cover and refrigerate until firm.  Serve with fresh strawberries.SOURCE: Adapted from Spokesman-Review
</p>
</body>
