<head>
<title>Almond Cookies</title>
</head>
<body>
<h1>Almond Cookies</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup granulated sugar
</li>
<li>
1/2 cup brown sugar
</li>
<li>
1 large egg
</li>
<li>
1/2 lb. lard, no substitute
</li>
<li>
1/2 teaspoon almond extract
</li>
<li>
2 cups flour
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
3/4 teaspoon baking powder
</li>
<li>
whole almonds
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sift flour with baking soda and baking powder.  Cream egg and lard together.  Add sugars, then almond extract.  Gradually add the dry ingredients and mix well.  Chill for several hours before handling.  Roll 1 tablespoon dough in your hands to form a ball.  Press an almond in the middle.  Brush with beaten egg yolk and bake 8-10 minutes.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Your own wonderful version of what you might receive in an Asian
</p>
<p>
  restaurant.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;10 dozen&quot;SOURCE: Rhoda Yee
</p>
</body>
