<head>
<title>Almond Meatballs</title>
</head>
<body>
<h1>Almond Meatballs</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 pound ground pork
</li>
<li>
1/2 pound  ground lean beef
</li>
<li>
1 large egg
</li>
<li>
1/2 cup bread crumbs
</li>
<li>
1 tablespoon garlic, minced
</li>
<li>
1/4 cup blanced almonds, roughly chopped
</li>
<li>
s/p, to taste
</li>
<li>
olive oil
</li>
<li>
flour for dredging
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix, gently, all the ingredients except the olive oil and flour.  Form into 1/2&quot; balls.
</li>
<li>
Put the oil in a large skillet and heat pan.  Dredge the meatballs in flour and add to the oil.  Cook about 10-15 minutes, turning as they cook.  Serve hot or at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Mark Bittman
</p>
</body>
