<head>
<title>Almond Cream</title>
</head>
<body>
<h1>Almond Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups ground whole almonds
</li>
<li>
1 1/3 cups sugar
</li>
<li>
2 lemons, rind, grated
</li>
<li>
1/4 teaspoon ground cinnamon
</li>
<li>
8 egg yolks, whisked
</li>
</ul>
<h2>Method</h2><ul>
<li>
Roast the ground almonds in a dry pan until they are golden brown, but not too dark.  Remove from the heat.  
</li>
<li>
Slowly dissolve the sugar in about 3 1/3 cups water and bring to a boil to form a clear thick syrup.
</li>
<li>
Add the lemon rind, cinnamon and roast almonds, stirring constantly and adding a little extra water if necessary.  Remove from the heat, leave to cool for a few minutes and then fold in the egg yolks.
</li>
<li>
Bring to a boil again; then pour into a glass dish and chill.  Store in the refrigerator until ready to serve.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A favorite Carnival dessert.&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
