<h1>Almond-Hazelnut Cake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3/4 cup ground almonds
</li>
<li>
3/4 cup ground hazelnuts
</li>
<li>
1/4 cup flour
</li>
<li>
3/4 cup granulated sugar
</li>
<li>
1/2 cup unsalted butter, melted
</li>
<li>
3 large eggs, beaten
</li>
<li>
1/4 cup Grand Marnier
</li>
<li>
1/2 teaspoon baking powder
</li>
<li>
whipping cream, whipped softly
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place ground almonds and hazelnuts into a food processor.  Sift flour on to the nuts.  Add sugar and melted butter.  Pulse a couple of times and scrape down sides of bowl and process until well mixed and sticky.  Add eggs and GrandMarnier and process until consistency is like very thick cream.  Sprinkle with baking powder and pulse a couple of times until blended.
</li>
<li>
Transfer mixture to 10&quot; pie place or springform pan.  Bake for 35-40 minutes until top has browned and sides have pulled in a little with cake tester coming out almost dry.
</li>
<li>
Remove from oven and cool completely in pan.  (Don&#39;t worry the center will cave in very slightly).  Serve with softly whipped cream or summer berries.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Byron Ayanoglu
</p>
</div></body>
