<h1>Angel Wings</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 cups sugar
</li>
<li>
8 cups chicken stock
</li>
<li>
4 cups fish sauce
</li>
<li>
2 cups cider vinegar
</li>
<li>
3/4 cup corn starch
</li>
<li>
1 1/2 cups paprika
</li>
<li>
1 16 oz jar chili paste with soy bean oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cook altogether until thick and almost syrupy.  Pass with deep fried chicken wings.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 250
</p>
<p>
SOURCE: Chris Perkins
</p>
</div></body>
