<h1>Angu de Arroz</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups rice, short grain
</li>
<li>
1 teaspoon salt
</li>
<li>
1 cup coconut milk
</li>
<li>
butter
</li>
</ul>
<h2>Method</h2><ul>
<li>
Thoroughly rinse the rice until the water runs clear.  Put the rice into a saucepan with 4 cups water and leave it to soak overnight.  Stir in the salt, cover, bring to a boil and cook over low heat for 20 minutes, or until the liquid has been absorbed and the rice is mushy.  Stir in the coconut milk and cook , mashing the rice with a wooden spoon, for 2 minutes.  
</li>
<li>
Turn the rice into a buttered 1 1/2 quart mold and allow to cool.  Unmold the rice by ocvering with a platter and turning over quickly.  If it doesn&#39;t unmold readily, hit the bottom of the mold with the flat of your hand.  Serve at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This molded rice is served, typically, with Vatapa or other Brazilian
</p>
<p>
  fish or meat dishes.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Elizabeth Ortiz
</p>
</body>
