<h1>Apple Charlotte&#39;s Apple Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups sifted flour
</li>
<li>
1 1/4 cups sugar
</li>
<li>
2 teaspoons cinnamon
</li>
<li>
1 teaspoon baking soda
</li>
<li>
1/4 teaspoon salt
</li>
<li>
2 large eggs
</li>
<li>
1 cup oil
</li>
<li>
1 teaspoon rum, bourbon or vanilla
</li>
<li>
4 cups chopped apples
</li>
<li>
1/2 cup walnuts, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sift together dry ingredients.  Beat until light and foamy the eggs and oil. Add rum, bourbon or vanilla to oil and eggs.  Gradually blend in dry ingredients to wet mixture.  Stir in apples and walnuts.  Pour into two greased loaf pans or a  13x9x2 pan.  Bake at 350 for 1 hour or until done.  Cool on racks.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Great for dessert with slightly sweetened whipped cream or for Sunday breakfast!
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Char
</p>
</body>
