<h1>Apple Charlotte Granita</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 cups hot espresso or strong coffee
</li>
<li>
2/3 cup granulated sugar
</li>
<li>
1 quart whipped topping
</li>
<li>
1 teaspoon vanilla extract
</li>
<li>
1 teaspoon espresso coffee, powder
</li>
<li>
2 ounces bittersweet chocolate
</li>
<li>
mint sprigs
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Pour coffee into large bowl.  Mix in sugar until completely dissolved.  Pour into 13x9 glass baking dish.  Place dish in freezer and every hour, scrape the mixture with a large fork to create the granita texture.  It needs about 5 hours to completely freeze.  You will start scraping when it is not frozen solid...this helps create the texture of the granita.  
</li>
<li>
Mix the expresso coffee powder into the  whipped topping.  Layer the granita and whipped topping in a beautiful glass.  Top with topping and sprinkle with shaved or grated chocolate.  Top with mint sprig.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
</div></body>
