<h1>Apple Tart with Almond Filling</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 recipe Pate Brisee or pie shell
</li>
<li>
Frangipane:
</li>
<li>
3/4 cup almonds, ground to powder
</li>
<li>
1/2 cup sugar
</li>
<li>
1 egg
</li>
<li>
1 tablespoon melted sweet butter
</li>
<li>
Apples:
</li>
<li>
5 red or golden Delicious apples, peeled and cored
</li>
<li>
3 tablespoons sugar
</li>
<li>
2 tablespoons sweet butter
</li>
<li>
Apricot Glaze:
</li>
<li>
6 tablespoons apricot jam
</li>
<li>
2 tablespoons sugar
</li>
<li>
1/4 cup water
</li>
<li>
1 tablespoon kirsch or brandy
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Frangipane:
</li>
<li>
Grind the almonds in the electric blender or food processor to a powder.  Then mix with the sugar, egg, and melted butter.  Blend a few seconds to make a smooth paste.  Spread over the top of the dough.
</li>
<li>
Apples:
</li>
<li>
Cut peeled and cored apples in half and slice about 1/4&quot; thick.  Arrange the slices, overlapping, in circles on top of the frangipane (it is acceptable to place the apples on the frangipane in a random fashion).  sprinkle with the 3 tablespoons of sugar and dot the top with the sweet butter, cut into small pieces.  Bake in a preheated 400F oven for 1 1/4 hours, or until apples are tender and the pastry has browned.  Let cool to room temperature.
</li>
<li>
Apricot Glaze:
</li>
<li>
Combine the apricot jam, sugar, and water in a small saucepan.  Bring to a boil, then simmer slowly for 5 minutes.  Strain through a fine sieve.  Place a piece of plastic wrap directly on the surface of the mixture to prevent a skin from forming.  When cool, stir in the brandy.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Jacques Pepin
</p>
</div></body>
