<head>
<title>Apple Charlotte Caesar Dressing</title>
</head>
<body>
<h1>Apple Charlotte Caesar Dressing</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup red wine vinegar
</li>
<li>
1 tablespoon grainy mustard
</li>
<li>
2 lemons juice
</li>
<li>
3 cloves garlic, or more to taste
</li>
<li>
1 tin (2 oz) anchovies, oil drained
</li>
<li>
1-1 1/2 cups canola oil, more or less
</li>
<li>
1 cup olive oil, more or less
</li>
<li>
salt and freshly ground pepper
</li>
<li>
1 head or 2 hearts romaine, cut into large chunks
</li>
<li>
1 1/2 cups parmesan cheese
</li>
<li>
3 cups cubed sour dough bread
</li>
<li>
3 cloves garlic, sliced thin
</li>
<li>
1/2 cube butter
</li>
<li>
1/2 cup olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place everything up to the oil in a food processor.  Blend well.
</li>
<li>
Begin to add the oil through the tiny hole in the feed tube (as you would with mayo).  Only add about 2 cups totally and then taste.  Add up to about 3 cups oil all together, emulsifying the mixture as you run the machine the entire time.  This will remain emulsified in the refrigerator until ready for use.  Excellent as a marinating mixture, as well!
</li>
<li>
Croutons:  Heat saute pan.  Add butter and oil.  Saute garlic briefly.  Add bread cubes and coat with butter and oil.  Saute gently over medium low heat until crispy and crunchy but not hard.  Hide these until you are ready to place them in the salad as they have a way of disappearing before needed!!!!
</li>
<li>
Putting the Salad together:  Pour a good amount of dressing (1 cup or so) into the bowl.  Add the romaine and parmesan.  Mix lightly.  Taste for correct amount of dressing.  Add croutons (delicious if still a little warm); mix again gently.  Add fresh ground pepper and serve.  
</li>
<li>
I save the leftover dressing in a quart jar.  Great to have around!
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is fabulous....no raw eggs, and the dressing is a keeper in the frig.  You
</p>
<p>
  must make this to your taste....but here are some guidelines.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 quart&quot;
</p>
</body>
