<head>
<title>Apple Bread Pudding</title>
</head>
<body>
<h1>Apple Bread Pudding</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 golden delicious apples, peeled and sliced
</li>
<li>
1 1/4 cups sugar
</li>
<li>
7 egg yolk
</li>
<li>
1/3 cup sugar
</li>
<li>
2 cups half and half
</li>
<li>
2 cups cream
</li>
<li>
1 orange, grated
</li>
<li>
1/4 teaspoon salt
</li>
<li>
3/4 teaspoon vanilla extract
</li>
<li>
1/2 teaspoon almond extract
</li>
<li>
1/8 teaspoon nutmeg
</li>
<li>
1 tablespoon brandy
</li>
<li>
4 ounces almond paste, cut in small pieces
</li>
<li>
1 lb. good quality white bread, 1/2 &quot; cubes
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Simmer the apples in 1 cup water and 1/4 cup of the sugar about 5 minutes.  Drain the fruit and save the liquid, setting the fruit aside to cool.
</li>
<li>
2.  Return the poaching liquid to pan and add the remaining 2 cup sugar and 1/2 cup water.  Boil and when it begins to brown, swirl the pan so that it caramelizes evenly.  Cook to a medium golden color.  Pur the hot caramel into a 2 quart gratin dish.  Cool.
</li>
<li>
3.  Whisk the egg yolks and slowly add 1/3 cup sugar and mix well.  Whisk in 1/2 &amp; 1/2 and cream.  Add the orange zest, salt, vanilla and almond extracts, nutmeg and brandy.  
</li>
<li>
4.  Fold in the poached apples, the almond paste and bread cubes and transfer this mixture to the gratin dish.  Let rest at least 1 hour or refrigerate overnight.
</li>
<li>
5.  Preheat the oven to 375F.  Sprinkle a little sugar over the top of the pudding and place gratin dish on baking sheet to catch any overflow.  Bake until nicely browned for about 55 minutes.  Serve warm or at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
