<h1>Apple Charlotte Lemon Cream Scones</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups flour
</li>
<li>
1/2 cup sugar
</li>
<li>
3 teaspoons baking powder
</li>
<li>
1 teaspoon salt
</li>
<li>
1/2 cup butter, cut into small chunks
</li>
<li>
3/4 cup heavy whipping cream
</li>
<li>
1 large egg
</li>
<li>
2 teaspoons vanilla
</li>
<li>
2 teaspoons lemon zest
</li>
<li>
1 tablespoon whipping cream
</li>
<li>
1 tablespoon sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
In food processor, mix together dry ingredients to butter.  Pulse the butter into the flour mix until it looks like small peas.
</li>
<li>
Mix together the 3/4 cup whipping cream, the egg, vanilla, and lemon zest in a large measuring cup.  Turn on the food processor and pour down the feed tube while the food processor is running.  Mix just until moistened.  DO NOT OVER BEAT.  Pour out onto bread board and knead slighty until mixture comes together.  Pat to about 1 1/4 &quot; and cut into rounds.  
</li>
<li>
Place on parchment lined sheet pan.  Brush the tops with 1 tablespoon whipping cream and dust each one with a little sugar (total 1 tablespoon sugar).
</li>
<li>
Place in a preheated 400F oven for about 10-15 minutes.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
