<h1>Apple Sausage Dressing</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 lbs. gound pork sausage
</li>
<li>
1 teaspoon dried thyme
</li>
<li>
1/2 teaspoon freshly ground nutmeg
</li>
<li>
1/2 cup brandy
</li>
<li>
14 cups 1/4&quot; day old French bread, (about 2 loaves)
</li>
<li>
10 tablespoons unsalted butter
</li>
<li>
2 cups green apples, chopped, peeled
</li>
<li>
1 1/4 cups onion, minced
</li>
<li>
1 cup celery, minced
</li>
<li>
3/4 cup fresh parsley, minced
</li>
<li>
1 tablespoon ground sage
</li>
<li>
1 1/2 teaspoons dried thyme
</li>
<li>
1 teaspoon salt
</li>
<li>
freshly gound pepper to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix together sausage, thyme, ground nutmeg and brandy.  Cover and chill overnight.
</li>
<li>
Preheat oven to 300 F. degrees and spread French bread to dry.  Bake until brown and dry about 30 minutes stirring frequently.  Melt 2 tablespoons butter in large skillet.  Add sausage and cook until no longer pink for about 5-7 minutes, stirring frequently to break up lumps.  Add sausage to bread using slotted spoon.  Discard fat.
</li>
<li>
Melt remaining butter in skillet over low heat.  Add apple, onion and cerery and cook, until vegetables begin to soften, 5-7 minutes.  Stir in parsley and cook 2-3 minutes more.  Add mixture to bread and toss gently.  Blend in remaining ingredients.  Taste and adjust seasoning.  Add more brandy as needed for desired moistness.  Cool completely.  Refrigerate before stuffing bird.  Stuffing that won&#39;t fit into turkey may be placed in a cassarole and baked 1 hour.  This works well in a 12-16# turkey.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : Favorite Thanksgiving StuffingNOTES : My mom, Betty Gerard, always made the best sausage stuffing all the years I was growing up.  I guess we just can&#39;t get away from those familiar smells and wonderful traditions.  This is very similar to hers, I&#39;ve only added brandy (she used sherry which is also wonderful).  And I soak up the brandy in the sausage overnight.  Also a touch of apples adds even more moistness.  Delicious....when I&#39;m really ambitious and have the time I make my own French bread for bread cubes.
</p>
<p>
SERVINGS: 16
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
