<h1>Apple Charlotte&#39;s Creamy Tomato Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 large onion, diced
</li>
<li>
3 stalks celery, diced
</li>
<li>
1 red bell pepper, diced
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1 large can tomatoes, pureed, rinse can w/1/2 c h20
</li>
<li>
1 large can whole tomatoes, + juice, rinse w/1C h20
</li>
<li>
16-20 fresh peeled, seeded tomatoes, in place of canned
</li>
<li>
3 cups chicken stock
</li>
<li>
1/2 large bag fresh basil, leaves removed
</li>
<li>
2 cups bechemel sauce
</li>
<li>
2 cups cream, if desired
</li>
<li>
Tabasco sauce, to taste
</li>
<li>
salt/pepper to taste
</li>
<li>
sugar to taste, a bit
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Sweat onions, celery, bell pepper and garlic.  Add tomatoes and chix stock and cook about 20 minutes.  Add basil and cook another 5 minutes.  Puree.  Whisk in bechemel.  Add more stock to thin if necessary.  Taste to season with Tabasco, salt (if needed), pepper, and a bit of sugar to soften acid edge.  Fabulous!!
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Almost like we use to get as kids.....only better!  Great with
</p>
<p>
  Grilled Cheese on Homemade Bread....yum&quot;
</p>
<p>
SERVINGS: 12
</p>
</div></body>
