<h1>Applesauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Pile of apples
</li>
<li>
water in bottom of pot
</li>
<li>
cinnamon sticks or cinnamon
</li>
<li>
sweetening: honey, brown sugar, or sugar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place quartered and cored apples into pot.  Pour in a small amount of water up to about an inch.  Add cinnamon and cook until apples are soft.
</li>
<li>
Put apples through food mill.  Sweeten to taste with honey or brown sugar or sugar.
</li>
</ul>
<h2>Notes</h2><div id='notes'></div></body>
