<head>
<title>Apple Charlotte Apple Pie</title>
</head>
<body>
<h1>Apple Charlotte Apple Pie</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 apples, combine whatever: golden delicious with grannies with fuji, galas, etc.
</li>
<li>
3/4 to 1 cup sugar, or to taste
</li>
<li>
1 tablespoon cinnamon, or to desired cinnamon taste
</li>
<li>
1 tablespoon flour, more or less
</li>
<li>
1/4 cup butter
</li>
<li>
2 recipes pate brisee
</li>
<li>
sugar for sprinkling
</li>
</ul>
<h2>Method</h2><ul>
<li>
Peel and slice apples into bowl.  Add sugar, flour cinnamon to apples and taste for flavor.  Roll out dough and place in deep-dish pie plate.     Add apples.  Roll out top dough.  Fold top dough in half and cut slits for venting.  Place on apples.  Cut off overhang to equal about 1&quot; all around and fold both crusts under, adhering to pan.  Crimp decoratively or with fork.   Sprinkle with sugar.   Place in 400F oven for 15 minutes.  Then turn down to 350F and continue to bake until golden and knife inserted in apples through slit demonstrates the apples are cooked through, approximately another 45 minutes.    If browns too quickly, cover lightly with aluminum foil. 
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Well....this is the pie that gets better everytime I make it,
</p>
<p>
  according to my husband who just wants me to make it everyday....its
</p>
<p>
  his favorite thing in the world!!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
