<head>
<title>Apple Charlotte Chicken Noodle Soup</title>
</head>
<body>
<h1>Apple Charlotte Chicken Noodle Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 shallot, minced
</li>
<li>
1 garlic, smashed &amp; minced
</li>
<li>
1 leek, halved &amp; sliced
</li>
<li>
4 slices Genoa salami, juliened
</li>
<li>
10 cups chicken stock
</li>
<li>
2 cups beef stock
</li>
<li>
4 fresh plum tomatoes (canned if out of season), cut up
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
1 whole chicken breast, cooked &amp; heated through
</li>
<li>
1/2 lb. linquini, cooked
</li>
<li>
Parmesan cheese, shredded
</li>
<li>
garlic croutons:
</li>
<li>
bread cubes
</li>
<li>
olive oil
</li>
<li>
butter
</li>
<li>
garlic cloves, smashed &amp; minced
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Sweat shallots, garlic and leeks in sauce pan.  
</li>
<li>
2.  Add salami for a few minutes.
</li>
<li>
3.  Add chicken stock, beef stock and tomatoes.  Heat through.
</li>
<li>
4.  Taste for seasoning...add what is needed, including salt &amp; pepper.
</li>
<li>
5.  To serve:  Place large strip of chicken breast in bowl; cover with broth mixture;
</li>
<li>
add a very few noodles; top with croutons and a sprinkling of parmesan cheese.
</li>
<li>
Croutons:
</li>
<li>
1.  Melt olive oil and butter in saute pan and add garlic (do not burn).  Add bread cubes making sure they are covered with the mixture.  Place in 375 F oven until golden and crisp.  You will never buy croutons again!
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This recipe is very flexible and is always very good.  If you only have chicken stock on hand, don&#39;t worry...its great with chicken stock only.  Play around with it and try other things.  I&#39;ve added spinach when I&#39;ve had it...its beautiful and delicious.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
