<h1>Apple Charlotte Focaccia</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Sponge:
</li>
<li>
1 tablespoon active dry yeast
</li>
<li>
1 1/2 cups warm water
</li>
<li>
2 cups unbleached flour
</li>
<li>
Dough:
</li>
<li>
1 cup water, room temperature
</li>
<li>
1/2 cup dry white wine
</li>
<li>
1/2 cup olive oil
</li>
<li>
sponge, above
</li>
<li>
5 cups unbleached flour or bread flour, Add more if needed
</li>
<li>
1 tablespoon sea salt
</li>
<li>
Topping:
</li>
<li>
4 tablespoons (approximately) extra virgin olive oil
</li>
<li>
Other toppings as desired:
</li>
<li>
rosemary, sage, minced
</li>
<li>
fennel or anise seeds
</li>
<li>
dried chile peppers,
</li>
<li>
1/2 teaspoon kosher salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Sponge:  Mix yeast, flour and water for about 1 minute in a mixer or by hand.  Allow to sit at least 6 hours or overnight, covered.
</li>
<li>
Dough:  Add the water, wine, and olive oil to the sponge.  Mix with electric mixer for about 2 minutes.  Add salt.  Change to dough hook.  Add remaining flour making the dough somewhat stiff but still slightly slack, mixing another 2-4 minutes until all the flour is mixed in.
</li>
<li>
I
</li>
<li>
Shaping and second rise:  The dough should be soft, full of air bubbles, and stretch easily.  Press it into a lightly oiled 10 1/2 x 15 1/2 inch pan, dimple it well with your fingertips or knuckles, cover with a towel and let rise until puffy and doubled, about 45 minutes.
</li>
<li>
Baking:  At least 30 minutes before you plan to bake, preheat the oven to 450Fdegrees with a baking stone inside, if you have one.  Once again dimple the top of the dough with your fingertips and drizzle olive oil so it pools in the little indentations, and sprinkle with the salt.  Place the focaccia pan directly on the stone and immediately reduce the temperature to 425F degrees, spraying the oven walls and floor with cold water from a spritzxer bottle 3 times in the first 10 minutes.  Bake the focaccia for 25 to 30 minutes, until golden.  Immediately remove from the pan and let cool on a rack.  If using for sandwiches, sprinkle the warm focaccia with olive oil right after removing from ove.  Serve warm or at room temperature.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : This is fabulous and very easy.  Grill vegetables including eggplant, onions and tomatoes, make Sauce Rouille or Aioli and make the most outrageous Vegie Sandwiches using this bread you will ever taste!  This bread is great with almost any pasta or Italian dish and easy summer dinners are heaven when this bread is served with a great salad and a hearty red wine.  Enjoy!!!
</p>
<p>
SERVINGS: 24
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
