<h1>Apple Charlotte Focaccia</h1>
<h2>Ingredients</h2>
<ul>
<li>
Biga:
</li>
<li>
2 cups flour, bread or all purpose
</li>
<li>
1 1/3 cups warm water
</li>
<li>
1 tablespoon active dry yeast
</li>
<li>
Dough:
</li>
<li>
Biga from above
</li>
<li>
1 1/4 cups water
</li>
<li>
1/2 cup white wine
</li>
<li>
1/2 cup olive oil
</li>
<li>
5 cups flour
</li>
<li>
1 tablespoon sea salt
</li>
<li>
Topping:
</li>
<li>
olive oil
</li>
<li>
3 sprigs rosemary, leaves removed, minced
</li>
<li>
6 leaves sage, minced
</li>
<li>
2 teaspoons anise seed
</li>
<li>
chile flakes
</li>
<li>
kosher salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Make biga.  Allow to sit, uncovered, for at least 1-2 hours; overnight is best.
</li>
<li>
Place biga in mixing bowl.  Add water, wine and olive oil and half of remaining flour.  Mix with a paddle attachment for about 5 minutes.  Change to dough hook.  Slowly add (1/2 cup at a time) the rest of the flour until mixed through.  The dough should be slightly wetter than a bread dough.
</li>
<li>
Cover with plastic.  Allow to rise for about 2 hours until double.  Punch down.  Allow to rise again for about 1 hour.  Punch down and lay in 2 pizza pans that have been oiled and sprinkle with corn meal.  Cover and allow to rise another 45-60 minutes.  Meanwhile heat oven to 450F.  When dough has risen, dimple with fingers and pour olive oil over.  Sprinkle with herbs and seasonings.  Place in oven and bake for about 20-30 minutes.  If begins to cook too quickly, lower oven temperature to 425F.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is our favorite and most loved focaccia.  Enjoy!&quot;
</p>
</body>
