<head>
<title>Apple Charlotte</title>
</head>
<body>
<h1>Apple Charlotte</h1>
<h2>Ingredients</h2>
<ul>
<li>
7 golden Delicious apple, peeled, seeded, 8ths
</li>
<li>
4 tablespoons unsalted butter
</li>
<li>
1/2 cup sugar
</li>
<li>
1 tablespoon grated orange peel
</li>
<li>
1 tablespoon grated lemon peel
</li>
<li>
3 tablespoons apricot preserves
</li>
<li>
1/2 cup unsalted butter, melted
</li>
<li>
2 slices white bread, trimmed, each cut into 4
</li>
<li>
triangles
</li>
<li>
5 slices white bread, trimmed and cut into halves
</li>
</ul>
<h2>Method</h2><ul>
<li>
Melt the 3 tablespoons of butter in a saucepan and add the apples.  Cook 4-5 minutes, stirring constantly, and add the sugar, orange, and lemon rind.  Cook 15-20 minutes, stirring until all the juices have evaporated and the apples are soft.  Mix in the apricot jam.  Brush a charlotte mold (1 1/2 quart) with the melted butter.  Arrange the triangles of bread on the bottom of the mold, so that the points of the triangles meet in the middle and the bread covers the bottom of the mold entirely.  
</li>
<li>
Arrange the half slices of bread around the sides so that they overlap. 
</li>
<li>
Fill the center with the apple mixture and cover with waxed paper and cook in a preheated 400 oven for approximately 50 minutes.  
</li>
<li>
If the apple mixture shrinks during cooking the slices of bread will be higher than the filling.  If so, fold the excell bread over the apples. 
</li>
<li>
Unmold on a serving platter and brush with apricot sauce.  Serve warm with Creme Anglaise.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
