<head>
<title>Apple Charlotte with Sabayon Chardonnay</title>
</head>
<body>
<h1>Apple Charlotte with Sabayon Chardonnay</h1>
<h2>Ingredients</h2>
<ul>
<li>
Apple Charlotte:
</li>
<li>
5 day old croissants, sliced 1/4&quot; thick
</li>
<li>
1/4 lb. melted butter
</li>
<li>
1 tablespoon butter
</li>
<li>
3 cups apples ( half eating and half cooking), cut into 1/4&quot; dice
</li>
<li>
1 tablespoon fresh lemon juice
</li>
<li>
2 tablespoons sugar
</li>
<li>
pinch salt
</li>
<li>
1/2 teaspoon five-spice powder
</li>
<li>
4 tablespoons Herman Wente Reserve Chardonnay
</li>
<li>
1/2 cup finely chopped walnuts
</li>
<li>
Sabayon Chardonnay
</li>
<li>
6 egg yolks
</li>
<li>
3 tablespoons sugar
</li>
<li>
1 cup Herman Wente Reserve Chardonnay
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Prepare apple charlotte molds by dipping sliced croissants in 1/4 cup melted butter, and pressing firmly into muffin tins around sides and bottom.  Reserve enough croissant slices (1 croissant) to press on top to encase filling.
</li>
<li>
2.  Melt one tablespoon of butter in saute pan and add diced apples, lemon, sugar, salt, five-spice powder and wine and cook a few minutes, maintaining a firm, however cooked, shape with the apples.  Add the nuts at the end.
</li>
<li>
3.  Fill the apple charlotte shells with the apple/nut mixture.  Dip the reserved slices of croissants into butter and press on top of the apple mixture.
</li>
<li>
4.  Bake at 350 F for 20-25 minutes until golden brown and slightly crisp.  Allow to cool about 5 minutes in tins and invert on cooling rack to cool completely.
</li>
<li>
Sabayon Chardonnay:
</li>
<li>
1.  Beat egg yolks with a whisk in a bowl until foamy.
</li>
<li>
2.  Mix in sugar and wine.
</li>
<li>
3.  Place over hot water bath and continue to whisk until thick, being careful not to scramble eggs.  Refrigerate until serving time.
</li>
<li>
To serve:  Dust the charlottes lightly with powdered sugar.  Place sabayon sauce on plate, top with Apple Charlotte and garnish with poached unpeeled apple slices, if desired.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : What an opportunity to participate in &quot;Le Grande Finale&quot; and develop a dessert suited to my catering company name...Apple Charlotte Cooking &amp; Catering Co.!   I loved working with Wente&#39;s 1995 Herman Wente Reserve Chardonnay.  This is based on the classic French Apple Charlotte with a twist:  use of croissants instead of bread for a flakey, buttery crust, a touch of five-spice powder, walnuts and a light sabayon with chardonnay, all in an effort to pair more favorable with the chardonnay.
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Charlotte Zyskowski
</p>
</body>
