<h1>Apple Charlotte Chardonnay Sabayon</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Apple Charlotte:
</li>
<li>
5 croissants, day-old, sliced 1/4&quot; thick
</li>
<li>
1/4 lb. melted butter
</li>
<li>
1 tablespoon butter
</li>
<li>
3 cups apples (half eating &amp; half cooking), cut into 1/4&quot; dice
</li>
<li>
1 tablespoon fresh lemon juice
</li>
<li>
1 1/2 tablespoons sugar
</li>
<li>
pinch salt
</li>
<li>
1/4 teaspoon five-spice powder
</li>
<li>
4 tablespoons Herman Wente Reserve Chardonnay
</li>
<li>
1/2 cup finely chopped walnuts
</li>
<li>
Chardonnay Sabayon:
</li>
<li>
6 egg yolks
</li>
<li>
3 tablespoons sugar
</li>
<li>
1 cup Herman Wente Reserve Chardonnay
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Prepare apple charlotte molds by brushing sliced croissants with the 1/4 cup melted butter, and pressing firmly around sides and bottom of muffin tins.  Reserve one croissant, sliced, to press on top of the filled charlottes.
</li>
<li>
2.  Melt one tablespoon of butter in saute pan and add diced apples, lemon, sugar, salt, five-spice powder and wine and cook 5-7 minutes, maintaining a firm, cooked shape with the apples.  Mix the nuts into the mixture at the end.
</li>
<li>
3.  Fill the apple charlotte shells with the apple/nut mixture.  Dip the reserved slices of croissants into butter and press on top of the apple mixture enclosing contents.
</li>
<li>
4.  Bake at 350F for 20-25 minutes until golden brown.  Allow to cool 5 minutes in muffin tins before inverting on cooling rack to cool completely.
</li>
<li>
Sabayon Chardonnay:
</li>
<li>
1.  Beat egg yolks in a bowl with a whisk until foamy.
</li>
<li>
2.  Beat in sugar and wine.
</li>
<li>
3.  Place over hot water bath and continue to whisk until thick, being careful not to scramble eggs.  Refrigerate until serving time.
</li>
<li>
4.  To serve:  Dust the charlottes lightly with powdered sugar right before serving.  Place sabayon sauce on plate, top with Apple Charlotte and garnish with poached unpeeled apple slices, if desired.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : WENTE VINEYARDS HERMAN WENTE RESERVE CHARDONNAY1995
</p>
<p>
What an opportunity to participate in &quot;Le Grande Finale&quot; and develop a dessert suited to my catering company name...Apple Charlotte Cooking &amp; Catering Co.!  I loved working with Wente&#39;s 1995 &quot;Herman&quot;.  This dessert is based on the classic French Apple Charlotte with a twist:  use of croissants instead of bread for a flakey, buttery mold that holds the five-spice infused apple filling, the addition of walnuts and served with a light chardonnay sabayon, all in an effort to pair more favorably with the chardonnay.  Makes 8 servings.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Charlotte Zyskowski
</p>
</div></body>
