<head>
<title>Apricot Bread Pudding</title>
</head>
<body>
<h1>Apricot Bread Pudding</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups dried apricots
</li>
<li>
2 cups water
</li>
<li>
2 1/2 cups sugar
</li>
<li>
1 cup sugar, additional
</li>
<li>
14 egg yolks
</li>
<li>
2/3 cup sugar
</li>
<li>
4 cups half and half
</li>
<li>
4 cups cream
</li>
<li>
grated zest of 2 oranges
</li>
<li>
1/2 teaspoon salt
</li>
<li>
2 teaspoons vanilla
</li>
<li>
1/2 teaspoon almond extract
</li>
<li>
1/4 teaspoon nutmeg
</li>
<li>
2 tablespoons brandy
</li>
<li>
8 ounces almond paste, cut into tiny pieces
</li>
<li>
10 cups bread, wonderful bread!
</li>
</ul>
<h2>Method</h2><ul>
<li>
Simmer apricots in 2 cups water and 1/2 half cup of the sugar for about 15 minutes.   Drain fruit, saving liquid.  Set the fruit aside.
</li>
<li>
Return the poaching liquid to the saucepan and add the remainder of the sugar.  Add the additional 1 cup water.  Cook this to an amber color, swirling gently.  Pour into a 4 quart gratin dish.  Cool.
</li>
<li>
Whisk the eggs with 2/3 cup sugar.  Add the half and half and cream.  Add the zest, salt and seasonings.  Fold in apricots, almond paste and bread cubes.  Pour onto the caramel.  Let it rest overnight or at least an hour in the frig.
</li>
<li>
Preheat oven to 375F.  Sprinkle the top with a little sugar.  Place the gratin on a large baking sheet that has a sheet of parchment paper on it, to catch any that may boil over.  Bake until browned for about 60 minutes.  Serve warm or at room temp. with softly whipped cream (Creme Chantilly). 
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A luscious ending to any meal....&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Chez Panisse
</p>
</body>
