<h1>Apricot Mango BBQ Ribs</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 tablespoons ancho chile powder
</li>
<li>
1 teaspoon kosher salt
</li>
<li>
1 teaspoon garlic powder
</li>
<li>
1/2 teaspoon cumin
</li>
<li>
1/2 teaspoon ground thyme
</li>
<li>
2 tablespoons olive oil
</li>
<li>
2 slabs baby back ribs
</li>
<li>
1/2 cup diced canned apricots, drained
</li>
<li>
1/2 cup fresh mangos, diced
</li>
<li>
1 4 oz. can mild chipotle chiles
</li>
<li>
2 tablespoons brown sugar
</li>
<li>
3 whole garlic clove
</li>
<li>
1 tablespoon olive oil
</li>
<li>
1 tablespoon tomato paste
</li>
<li>
2 teaspoons vanilla
</li>
<li>
2 teaspoons balsamic vinegar
</li>
<li>
1 teaspoon Worcestershire sauce
</li>
<li>
1 teaspoon cumin
</li>
<li>
1/2 teaspoon salt, + 1/4 t cayenne pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Make a paste with the first 6 ingredients.  Rub over the ribs and wrap with plastic wrap.  Chill for 2 hours or overnight.
</li>
<li>
Sauce:  Combine all sauce ingredients in a blender and hold in the refrigerator.  	
</li>
<li>
Preheat oven to 300F.  Unwrap ribs and place on sheet pan lined with parchment paper.  Bake for 1 1/2 hours.  Brush sauce on ribs. and make 45 minutes longer.
</li>
<li>
Wrap ribs with foil and allow to sit for 20 minutes.  Serve.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Adapted from Nielsen-Massey 
</p>
</body>
