<head>
<title>Apricot &amp; Goat Cheese Stuffed Chicken Breast</title>
</head>
<body>
<h1>Apricot &amp; Goat Cheese Stuffed Chicken Breast</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
3 chicken breasts (6 chicken breast halves)
</li>
<li>
1/4 cup olive oil
</li>
<li>
1 finger rosemary, minced
</li>
<li>
1 large banch thyme, minced
</li>
<li>
salt &amp; pepper
</li>
<li>
&Acirc;&frac12; cup water
</li>
<li>
1 cup dried apricots
</li>
<li>
1 cup almonds, sliced
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1 shallot, minced
</li>
<li>
&Acirc;&frac12; bunch parsley, finely chopped
</li>
<li>
6 ounces goat cheese
</li>
<li>
1/2 pound fresh spinach
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
2 eggs, beaten
</li>
<li>
1 tablespoon water
</li>
<li>
flour
</li>
<li>
bread crumbs
</li>
<li>
salt &amp; Pepper
</li>
<li>
Mix olive oil, rosemary, thyme, salt and pepper. Lay  chicken breasts in large non-reactive dish or pan and cover with olive oil mixture. Allow to marinate for 30-60 minutes.
</li>
<li>
Mix dried apricots with water and allow to soak for 15-20 minutes. Drain. 
</li>
<li>
Mix apricots, almonds, garlic, shallot, parsley and goat cheese. Season with salt and pepper to taste.
</li>
<li>
Remove chicken from marinade. Lay out chicken breast on plastic wrap. Place another piece of wrap on top of chicken breast. Pound chicken slightly with kitchen mallet to even out to about 1/4&quot; thickness.  Remove top wrap. Cut into two portions.  Evenly spread apricot mixture over lamb leaving a 1&quot; margin around edges. Top with a layer of spinach leaves.   Roll the and tie to hold cylinder in place; or secure with a toothpick.   Repeat with the rest of the chicken.  
</li>
<li>
Place beaten eggs and water in one pie tin or dish; flour in another; salt &amp; peppered bread crumbs in another.  
</li>
<li>
Heat a saute pan to medium hot. Add some olive oil. Dredge the chicken cylinders in flour, egg and then bread crumbs.  Brown all around.
</li>
<li>
Place in 375F oven and roast for about 12 minutes until firm to the touch.
</li>
<li>
Remove chicken from oven and place on warm serving platter. Cover with aluminum foil for about 5 minutes. 
</li>
</ul>
<h2>Notes</h2><p>
Remove string and slice for serving.SOURCE: Apple Charlotte
</p>
</body>
