<h1>Arugula &amp; Radicchio with Feta &amp; Dates</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup  lemon juice
</li>
<li>
1 cup olive oil
</li>
<li>
(null) salt
</li>
<li>
pepper
</li>
<li>
1 cup dates, pitted
</li>
<li>
1/2 pound arugula
</li>
<li>
2 heads radicchio, bite size chunks (or pomelo)
</li>
<li>
1 cup feta cheese, crumbled
</li>
</ul>
<h2>Method</h2><ul>
<li>
Make vinaigrette with lemon juice, o/o and s/p to taste.
</li>
<li>
Halve dates lenghwise and thinly slice.
</li>
</ul>
<h2>Notes</h2><p>
Toss ingredients with vinaigrette and add feta. SOURCE: Adapted from Gourmet
</p>
</body>
