<h1>Asian Grilled Sea Bass</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/2 lbs. sea bass fillet
</li>
<li>
olive oil
</li>
<li>
2 tablespoons sesame seeds, toasted
</li>
<li>
1/2 cup scallion greens, thinly sliced
</li>
<li>
Marinade:
</li>
<li>
4 tablespoons lime juice
</li>
<li>
4 tablespoons dry sherry
</li>
<li>
4 tablespoons sesame oil
</li>
<li>
2 tablespoons ginger, minced
</li>
<li>
1 teaspoon garlic chile sauce
</li>
<li>
1/2 cup scallions, white part only, thinly sliced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Remove the skin and pin bones from the salmon.  Place in glass dish.
</li>
<li>
Mix the marinade items and pour over the tuna.
</li>
<li>
Marinade for 30 minutes to 2 hours.
</li>
<li>
Heat the grill to hot.
</li>
<li>
Wipe the grill with a paper towel that has been dipped in olive oil.  Place the fish on the grill.  Grill for approximately 5-6 minutes and then turn and grill for 5-6 minutes. ( Meanwhile you can bring the marinade to simmer and cook for one minute and use as sauce with served fish.)
</li>
<li>
When the fish is done, remove to plate and top with toasted sesame seeds and scallion tops.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Delicious served with rice and steamed snow peas.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
