<h1>Asian Spiced Beef Brisket</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Asian-spiced stovetop brisket
</li>
<li>
Annie Copps, food editor of Yankee magazine, offers no-fail holiday recipes
</li>
<li>
Read the story
</li>
<li>
Annie Copps, food editor at Yankee Magazine
</li>
<li>
Serves 8
</li>
<li>
INGREDIENTS
</li>
<li>
&acirc;&#128;&cent; One 5- to 6-pound flat-cut beef brisket
</li>
<li>
&acirc;&#128;&cent; Kosher or sea salt
</li>
<li>
&acirc;&#128;&cent; Freshly ground black pepper
</li>
<li>
&acirc;&#128;&cent; 3 tablespoons vegetable oil
</li>
<li>
&acirc;&#128;&cent; 4 cups yellow onions, thinly sliced
</li>
<li>
&acirc;&#128;&cent; 1 cup roughly chopped carrot
</li>
<li>
&acirc;&#128;&cent; 1 cup roughly chopped celery
</li>
<li>
&acirc;&#128;&cent; 2 tablespoons chopped garlic
</li>
<li>
&acirc;&#128;&cent; 1/2 cup roughly chopped ginger
</li>
<li>
&acirc;&#128;&cent; 1 bottle red wine
</li>
<li>
&acirc;&#128;&cent; 3/4 cup soy sauce
</li>
<li>
&acirc;&#128;&cent; 1/4 cup brown sugar
</li>
<li>
&acirc;&#128;&cent; 4 star anise pods
</li>
<li>
&acirc;&#128;&cent; 1 ounce (a small handful) cilantro (most of the stems trimmed)
</li>
<li>
&acirc;&#128;&cent; 4 cups chicken stock
</li>
<li>
DIRECTIONS
</li>
<li>
Season brisket with salt and pepper. In a Dutch oven over medium-high heat, heat vegetable oil and brown brisket, on both sides; about 5 minutes per side. Remove to a plate. Add onions, carrot, celery and saut&Atilde;&copy; about 5 minutes. Add garlic and ginger; saut&Atilde;&copy; about 5 minutes more. Add wine; and bring to a boil and reduce by half, about 10 minutes. Add soy sauce, brown sugar, star anise, cilantro, and stock; bring to a boil. Add brisket back to the pan (and any juices that have accumulated). Lower heat to a gentle simmer. Cover and simmer for about 3 hours or until very tender, and turning the brisket over every 45 minutes or so.
</li>
<li>
Transfer meat to platter and let rest 20 minutes. Strain pan juices and discard solids. Let the pan juices sit until the fat separates. Skim off the fat, then bring the sauce to a boil and reduce by half. Thinly slice meat across grain and place on a serving platter. Spoon sauce over the top and serve remaining sauce in a gravy boat.
</li>
<li>
TIPS
</li>
<li>
Can be made one day ahead. Cover meat and sauce separately; chill. Arrange meat in baking dish. Cover with foil; rewarm in 350&Acirc;&deg; F oven about 40 minutes.
</li>
</ul>
<h2>Notes</h2><p>
&Acirc;&copy; 2009 MSNBC InteractiveSOURCE: Adapted from Annie Copps, Yankee Magazine
</p>
</body>
