<head>
<title>Asparagus &amp; Potato Tart</title>
</head>
<body>
<h1>Asparagus &amp; Potato Tart</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Ingredients
</li>
<li>
1 pound potatoes, peeled and cut into chunks
</li>
<li>
Sea salt
</li>
<li>
1 pound asparagus spears, woody ends removed
</li>
<li>
8 ounces filo pastry
</li>
<li>
1/2 cup butter, melted
</li>
<li>
1/2 cup freshly grated sharp cheddar cheese
</li>
<li>
1/2 cup freshly grated jack cheese
</li>
<li>
3 large organic or free-range eggs
</li>
<li>
1 (8-ounce) container heavy cream
</li>
<li>
1/4 whole fresh nutmeg
</li>
<li>
Freshly ground black pepper
</li>
<li>
Directions
</li>
<li>
Put your potatoes into a pan of salted boiling water and cook for 15 minutes. Meanwhile blanch your asparagus in a separate pan of salted boiling water for 4 minutes, and drain in a colander.
</li>
<li>
Preheat the oven to 375 degrees F.
</li>
<li>
Get an ovenproof dish - I&#39;ve used many different shapes and sizes. Layer the sheets of filo pastry in the dish, brushing them with melted butter as you go and letting about 1-inch hang over the edge. You want to get the pastry about 5 layers thick. Put a clean, damp kitchen towel over the top and put aside.
</li>
</ul>
<h2>Notes</h2><p>
When the potatoes are done, mash them with the cheeses. In a separate bowl, mix together the eggs and cream and stir into your cheesy mashed potato. Grate in the nutmeg, season well with pepper and mix together. Spread the mashed potato over the filo pastry, then bring up the sides of the filo and scrunch them together to form a rim. Take your blanched asparagus and line them up across the filling, making sure you cover it all. Brush all over with the remaining melted butter and pop into the preheated oven for around 20 minutes, or until golden and crisp. Allow to rest for 10 minutes. Serve just as you would a quiche for a quick lunch or supper, with a salad.SOURCE: Adapted from Jamie Oliver
</p>
</body>
