<h1>Asparagus Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. green asparagus
</li>
<li>
6 cups vegetable stock, or light chix stock or water
</li>
<li>
bouquet garni
</li>
<li>
2 white onions
</li>
<li>
1 leek
</li>
<li>
2 red potatoes
</li>
<li>
2 tablespoons olive oil
</li>
<li>
parsley
</li>
<li>
creme fraiche
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut or snap off the rough, rooty ends of the asparagus and simmer the ends in the stock with the bouquet garni for 30 minutes or so.
</li>
<li>
In a soup pot, saute the onions, leek and potatoes, peeled and diced, in the olive oil and a little water.  When the vegetables are very soft, strain the stock into the pot and bring to a simmer.
</li>
<li>
Chop the asparagus roughly, reserving the tips to garnish, and add the rest of the chopped asparagus to the soup pot.  Let the soup simmer for about 5 minutes until the asparagus is just tender.  Do not overcook, or you will lose freshness and color.
</li>
<li>
Puree the soup in a blender using mostly asparagus and a little stock and pass through a fine sieve into a bowl.    Setting the soup in the bowl into a larger bowl of ice water to cool rapidly will help keep a nice color.  The soup should be a dense but smooth liquid.  Thin with stock as  needed to make a soup consistency.  
</li>
<li>
Cut the asparagus tips in helf lenthwise and blanch for about 1-2 minutes.  Serve the soup chilled or reheated to just below a boil, garnished with the asparagus tips, chopped parsley and creme fraiche.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Chez Panisse Vegetables
</p>
</body>
