<h1>Asparagus &amp; Leek Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup olive oil
</li>
<li>
2 lbs. leeks, white &amp; light-green parts only,
</li>
<li>
half chopped, half cut into 2-inch
</li>
<li>
long matchstick strips, washed well
</li>
<li>
1 -1/2 lbs. baking potato, peeled and chopped
</li>
<li>
3 lbs. asparagus, stems cut into pieces,
</li>
<li>
tips quartered lengthwise if large
</li>
<li>
2 quarts white chicken stock (recipe follows)
</li>
<li>
1/2 cup fresh flat-leaf parsley leaves
</li>
<li>
2 1/2 teaspoons salt
</li>
<li>
1/4 teaspoon fresh ground black pepper
</li>
<li>
cooking oil for frying
</li>
<li>
3/4 cup creme fraiche or sour cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  In a large pot, heat the olive oil over moderately low heat.  Add the chopped leeks and cook, stirring occasionally, for 3 minutes.  Add the potato and asparagus stems and cook, stirring occasionally, for 3 minutes.
</li>
<li>
2.  Add the stock and bring to a boil.  Reduce the heat and simmer until the vegetables are soft, about 20 minutes.  Add the parsley, salt and pepper and cook for 1 minute.
</li>
<li>
3.  In a blender or food processor, puree the soup and then strain into a large pot.  Press the vegetables firmly with a spoon to get all the puree.
</li>
<li>
4.  In a medium pan of boiling, salted water, cook the asparagus tips for 2 minutes.  Drain.  Rinse with cold water and drain thoroughly.
</li>
<li>
5.  In a small saucepan, heat 1/2 inch of cooking oil until very hot, about 350F.  Add half of the leek strips to the oil and fry until they are tinged with brown, about 1 minute.  Remove with a slotted spoon and drain on paper towels.  Repeat with the remaining leek strips.  
</li>
<li>
6.  Bring the soup to a simmer over moderate heat, stirring occasionally.  Add the asparagus tips.  Bring back to a simmer.  Ladle into bowls and serve topped with the creme fraiche and fried leeks.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Yield on this soup is 6 - 10 ounce servings.
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Chef Charles Palmer/Aureole
</p>
</body>
