<h1>Asparagus Cordon Bleu Crepes</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 basic crepes
</li>
<li>
1 1/2 lbs. fresh asparagus
</li>
<li>
boiling salted water
</li>
<li>
8 thin slices cooked ham
</li>
<li>
Dijon mustard
</li>
<li>
8 slices Swiss cheese
</li>
<li>
2 tomatoes, peeled, seeded, chopped
</li>
<li>
chopped parsley
</li>
<li>
fresh tarragon
</li>
<li>
3 tablespoons butter
</li>
<li>
3 tablespoons all-purpose flour
</li>
<li>
1 teaspoon fresh tarragon
</li>
<li>
1/2 teaspoon salt, or to taste
</li>
<li>
pepper
</li>
<li>
1 1/2 cups half and half, or evaporated skim milk
</li>
<li>
1/2 lb. sauted mushrooms
</li>
</ul>
<h2>Method</h2><ul>
<li>
Prepare crepes; set aside.  Preheat oven to 375F.  Trim asparagus spears.  In a large saucepan, cook asparagus spears in boiling salted water until crisp-tender.   Shock cold in ice water to stop cooking.  Drain and dry with paper towels.
</li>
<li>
Place a slice of ham on each crepe.  Spread ham slice with mustard.  Top with a slice of cheese, asparagus spears and tomatoes.  Sprinkle with parsley and tarragon, as desired.  Roll up crepes and place in a 13 x 9 baking dish placing crepes seam side down.  
</li>
<li>
In a medium saucepan, melt butter.  Blend in flour, tarragon and salt and pepper.  Make a roux and cook until mixture smells like a cooked biscuit (do not brown).  Slowly stir in half &amp; half.  Stir constantly over medium high heat until mixture thickens and bubbles.  Stir in mushrooms and taste for correct seasoning.
</li>
<li>
Pour sauce over crepes in baking dish.  Bake 25 minutes or until heated through.  
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;An elegant and delicious take on using crepes.......much can be done
</p>
<p>
  ahead of your guests&#39; arrival.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Pat Jester&#39;s Brunch Cookery
</p>
</body>
