<h1>Avocado &amp; Beet Salad with Orange and Lemon Vinaigrette</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 medium red or golden beets
</li>
<li>
salt and pepper
</li>
<li>
2 tablespoons red wine vinegar
</li>
<li>
olive oil
</li>
<li>
2 shallots, minced
</li>
<li>
4 tablespoons white wine vinegar
</li>
<li>
2 tablespoons lemon juice
</li>
<li>
2 tablespoons orange juice
</li>
<li>
2 tablespoons chervil, chopped
</li>
<li>
lemon zest
</li>
<li>
orange zest
</li>
<li>
4 ripe avocado
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 400F
</li>
<li>
Wash and trim the beets.  Place in baking dish with a splash of water and cover.  Roast for about 45 minutes until cooked through.
</li>
<li>
Allow to cool.  Peel and cut into wedges.
</li>
<li>
Place in a bowl.  Season with s/p, red wine vinegar and a little olive oil.  Toss gently.
</li>
<li>
Macerate the shallots in the white wine vinegar, lemon juice, orange juice and some salt.  Allow to sit for 15 minutes.
</li>
<li>
Whisk in enough olive oil to taste.  STir in zest and taste for seasoning.
</li>
<li>
Cut the avocados into 1/4&quot; slices.Arrange on plates and season with salt and pepper.  Arrange beets over avocado slices and pour a bit of viniagrette over.  Garnish with chervil.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Chez Panisse
</p>
</body>
