<h1>Babka Wielkanocna</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/4 cups milk, lukewarm
</li>
<li>
2 packages yeast
</li>
<li>
1/2 cup sugar
</li>
<li>
2 teaspoons salt
</li>
<li>
12 large egg yolks
</li>
<li>
1 teaspoon vanilla extract
</li>
<li>
1/4 teaspoon almond extract
</li>
<li>
3/4 lbs. +2 tablespoons unsalted butter, softened
</li>
<li>
2 tablespoons orange peel, finely grated
</li>
<li>
1 tablespoon lemon peel, finely grated
</li>
<li>
1/2 cup chopped almonds
</li>
<li>
1/3 cup raisins, yellow
</li>
<li>
blanched almonds halves
</li>
<li>
fine dry breadcrumbs
</li>
</ul>
<h2>Method</h2><ul>
<li>
Pour the lukewarm milk into a small bowl and sprinkle it with the yeast and 1/2 teaspoon of the sugar.  Let the mixture stand for 2-3 minutes.  Stir to dissolve the yeast completely.  Set the bowl aside in a warm place for about 10 minutes or until the mixture almost doubles in volume.
</li>
<li>
Place 6 cups of the flour, the remaining sugar and the salt in a deep mixing bowl in a heavy duty mixer.  Pour in the yeast mixture and egg yolks and flavorings and gradually mix  the flour into the liquid ingredients.  Continue to mix slowly until well mixed, then beat in 3/4 pound of the butter a tablespoon at a time.  The dough should be firm enough to gather into a medium soft ball.  If needed, add up to 1/2 cup more flour, adding a bit at a time.
</li>
<li>
Change the paddle beater to a kneading hook and knead for about 20 minutes or until the dough is very smooth, glossy and elastic.  If kneading by hand this will take about 40 minutes.
</li>
<li>
Shape the dough into a ball and place in a lightly greased bowl.  Put plastic wrap over the bowl and set aside in a draft-free place until doubles in volume, about 1 hour.
</li>
<li>
With a pastry brush, spread the last 2 tablespoons of butter in a 2-quart Gugelhupf pan or a angel food cake pan or mold.  Sprinkle with flour and tap out excess.
</li>
<li>
Punch the dough down and knead in raisins and citrus peels. Place the dough evenly into the pan.  Allow the dough to rise again until doubled or about 1 hour or until the dough has risen almost to the top of the mold.
</li>
<li>
Preheat the oven to 375F.  Bake the brad in the middle of the oven for about 40 minutes or until it is golden brown.  Turn the bread out onto a cake rack and let it cool briefly at room temp.  You can top with a light icing of powdered sugar, water and lemon juice, if desired. 
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Oh my God....clear the kitchen counter.  This is the biggest loaf of
</p>
<p>
  bread you will ever make and probably the most stupendous!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 loaf&quot;SOURCE: Adapted from Culinary Arts Institute Polish Cookbook
</p>
</body>
