<h1>Baby Artichoke Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
16 baby artichokes, cooked
</li>
<li>
1 red pepper, julienned
</li>
<li>
1/2 English cucumber, thinly sliced
</li>
<li>
1/2 cup black olives, pitted
</li>
<li>
4 Roma tomatoes, cut into wedges
</li>
<li>
1/2 red onions, thinly sliced
</li>
<li>
1 cup seedless grapes, halved
</li>
<li>
2 teaspoons capers, drained
</li>
<li>
Dressing:
</li>
<li>
3 cloves garlic, pressed, minced
</li>
<li>
olive oil, glug, glug, glug
</li>
<li>
1 tablespoon champagne vinegar
</li>
<li>
1 tablespoon lemon juice, or to taste
</li>
<li>
salt and pepper
</li>
<li>
fresh parsley, minced
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Gently toss together all the ingredients up to the dressing.  Mix the dressing in a large bowl with a whisk to taste....remembering that you will probably be enjoying it with wine; therefore, making it &quot;rounder&quot; in flavor (less acidic).  Garnish with parsley.....yum!
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
