<head>
<title>Baby Back Spareribs with Chipotle &amp; Peanut Sauce</title>
</head>
<body>
<h1>Baby Back Spareribs with Chipotle &amp; Peanut Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 slab pork spareribs weighing 3-4 pounds
</li>
<li>
1 1/2 cups red chile sauce (in Mexican recipe file)
</li>
<li>
1/2 cup tomato puree or pureed canned tomatoes
</li>
<li>
4 chipotles
</li>
<li>
2 tablespoons brown sugar or honey
</li>
<li>
2 tablespoons cider vinegar
</li>
<li>
1/4 cup Spanish peanuts, roasted
</li>
<li>
cilantro, chopped for garnish
</li>
</ul>
<h2>Method</h2><ul>
<li>
Leave the ribs whole on the slab for cooking.
</li>
<li>
Preheat the oven to 375.  Place the meat in the pan in one layer.  Salt and pepper and cover to steam and bake for 45 minutes.
</li>
<li>
Meanwhile prepare the sauce by combining the red chili sauce, tomato puree, chipotles, sugar and vinegar in a blender.  Blend at a low to medium speed until the chipotles are incorporated.  Do not salt.
</li>
<li>
At the end of the 45 minutes, remove the spareribs from the oven and raise the heat to 400F for glazing them.  Take the ribs out of the pan with a slotted spoon, transfer them a cutting board and cut into individual ribs.  Place in large bowl and pour the sauce over, reserving 1/2 cup.  Discard the fat in the baking pan, put the ribs back in, tossing them a little to coat completely with the sauce, and bake at 400F for about 20 minutes more.
</li>
<li>
Remove the meat to a large covered bowl or pan and cover allowing a few moments to rest.  Degrease the baking juices in the pan and add the reserved sauce.  Stirring over low heat, scrape up the cooked bits that cling to the bottom of the pan.  If the sauce is not thick enough to coat the ribs, turn up the heat and boil for a few minutes (not usually necessary).  Grind the peanuts coarsly in processor  and stir them into the sauce.  Season with salt and pepper to taste.  Pour the sauce over the ribs and transfer them to a serving platter.  Garnish with a liberal sprinkling of cilantro.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Serves 4 as an entree and 6 as an appetizer.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;The Feast of Santa Fe&quot;
</p>
<p>
SERVINGS: 6
</p>
</body>
