<h1>Bacon &amp; Cheddar Stuffed Burgers</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/2 lbs. beef chuck, freshly ground
</li>
<li>
2 teaspoons salt
</li>
<li>
1 heaping teaspoon black pepper
</li>
<li>
3 teaspoons Worcestershire sauce
</li>
<li>
Stuffing:
</li>
<li>
2 cups sharp cheddar cheese, grated
</li>
<li>
6 strips bacon, cooked and crumbled
</li>
<li>
6 tablespoons smoky barbecue sauce
</li>
<li>
1/2 cup finely chopped red onion
</li>
</ul>
<h2>Method</h2><ul>
<li>
lettuce, tomatoes, onions and condiments
</li>
<li>
In a large bowl combine the meat, salt, pepper, and Worcestershire sauce.  Form into equal patties about 3/8&quot; thick.  Refrigerate while preparing the stuffing.
</li>
<li>
Blend the stuffing ingredients.  Place equal amounts of stuffing on half of the paddies.  Cover with the other halves and seal the edges by pressing together with your fingers.  Grill to 160F internal temperature.
</li>
<li>
Serve with lettuce, tomatoes, onions, and condiments.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Bruce Aidells
</p>
</body>
