<h1>Baked Stuffed Shrimp</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
If you can&acirc;&#128;&#153;t find clam juice, chicken stock will work in a pinch. Any sturdy rimmed baking sheet can be used in place of the broiler pan bottom.
</li>
<li>
Serves 4 to 6.  
</li>
<li>
INGREDIENTS
</li>
<li>
4	slices hearty white sandwich bread , torn into pieces
</li>
<li>
1/2	cup mayonnaise
</li>
<li>
1/4	cup bottled clam juice
</li>
<li>
1/4	cup finely chopped fresh parsley
</li>
<li>
4	 scallions , chopped fine
</li>
<li>
2	 garlic cloves minced
</li>
<li>
2	teaspoons grated zest and 1 tablespoon juice from 1 lemon
</li>
<li>
1	tablespoon Dijon mustard
</li>
<li>
1/8	teaspoon cayenne pepper
</li>
<li>
Salt
</li>
<li>
1 1/4	pounds colossal shrimp, peeled and deveined
</li>
<li>
INSTRUCTIONS
</li>
<li>
1. Adjust oven rack to upper-middle position and heat oven to 375 degrees. Pulse bread in food processor to coarse crumbs. Transfer crumbs to broiler pan bottom and bake until golden and dry, 8 to 10 minutes, stirring halfway through cooking time. Remove crumbs from oven and reduce temperature to 275 degrees.
</li>
<li>
2. Combine toasted bread crumbs, mayonnaise, clam juice, parsley, scallions, garlic, lemon zest and juice, mustard, cayenne, and &Acirc;&frac14; teaspoon salt in large bowl.
</li>
<li>
3. Pat shrimp dry with paper towels and season with salt. Grease empty broiler pan bottom. Following steps 1 to 4 at left, butterfly and cut hole through center of each shrimp and arrange cut-side down on prepared pan. Divide bread crumb mixture among shrimp, pressing to adhere. Bake until shrimp are opaque, 20 to 25 minutes.
</li>
<li>
4. Remove shrimp from oven and heat broiler. Broil shrimp until crumbs are deep golden brown and crispy, 1 to 3 minutes. Serve.
</li>
<li>
Print
</li>
<li>
Email
</li>
<li>
STEP-BY-STEP
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Perfect Stuffed Shrimp Cutting a hole clear through the center of each butterflied shrimp may seem like a mistake, but it actually gives the shrimSOURCE: Cooks Country
</p>
</div></body>
