<head>
<title>Baked or Steamed Pork Buns</title>
</head>
<body>
<h1>Baked or Steamed Pork Buns</h1>
<h2>Ingredients</h2>
<ul>
<li>
Dough:
</li>
<li>
4 tablespoons sugar
</li>
<li>
1/2 cup warm milk
</li>
<li>
2 teaspoons active dry yeast
</li>
<li>
2 1/2 cups flour, about
</li>
<li>
1/2 teaspoon salt
</li>
<li>
Filling:
</li>
<li>
8 dried black mushrooms
</li>
<li>
2 tablespoons canola oil
</li>
<li>
1/2 cup green onions, minced
</li>
<li>
2 teaspoons garlic, minced
</li>
<li>
1/2 cup water
</li>
<li>
4 teaspoons hoisin sauce
</li>
<li>
4 teaspoons oystr-flavored sauce
</li>
<li>
1 tablespoon sugar
</li>
<li>
2 teaspoons cornstarch, dissolved in 2 tablespoons water
</li>
<li>
1 1/2 cusp Chinese barbecued pork
</li>
<li>
1 egg yolk, lightly beaten
</li>
</ul>
<h2>Method</h2><ul>
<li>
Dissolve 2 tablespoons of sugar in milk and water.  Sprinkle in yeast and let stand until bubbly about 10 minutes.
</li>
<li>
Place 2 cups flour 2 tablespoons sugar and salt in large mixing bowl.  Add above liquid and mix with paddle attachment.  Add flour if needed until no longer sticky.
</li>
<li>
Change to dough hook and knead until smooth and elastic for about 5-7 minutes.
</li>
<li>
Place in an oiled bowl and allow to rise covered for about about 1 hour until double.
</li>
<li>
Filling:  Soak mushrooms in warm water until softened, for about 20 minutes.  Drain.  Discard stems and coarsely chop.
</li>
<li>
In hot wok add oil, green onions, garlic and mushrooms and stirfry for about 1 minute.  Stir in water, hoisin sauce, oyster sauce and sugar.  Add cornstarch solution and stir until sauce boils and thickens.  Stir in pork.  Cool.
</li>
<li>
Punch down dough and roll into a cylinder.  Cut into 12 equal pieces.  Roll each into a boll; cover.
</li>
<li>
Flatten each ball and roll into a circle 4-6&quot; in diameter.  Place 1 heaping tablespoon filling in center.  Gather edges of circle over filling; twist and pinch edges together to seal.  Place buns, seam side down, 2&quot; apart on parchment covered baking sheet.  Cover and let rise  until puffy and light.  Brush tops with egg yolk.
</li>
<li>
Preheat oven to 350F.  Bake busn until golden brown, 18-20 minutes.
</li>
</ul>
<h2>Notes</h2><p>
STEAMED PORK BUNS:  For steaming, place a 3&quot; square of parchment paper under each bun before it rises and don&#39;t brush the tops with egg yolk.  When the buns have risen, place in bamboo steamer on papers and steam over high heat until tops are glazed and smooth, for 12-15 minutes.  Serve warm.  These can be rewarmed by steaming for about 10 minutes.SOURCE: Adapted from Martin Yan
</p>
</body>
