<h1>Baked Beans</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 large cans favorite baked beans
</li>
<li>
1/2 lb. bacon, cut 1&quot; thick
</li>
<li>
1 large onion, diced
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1 green bell pepper, diced
</li>
<li>
1 cup barbecue sauce, or to taste
</li>
<li>
barbecue rub, to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Soak beans overnight covered with water.  Drain and cook until finished, adding salt to taste about half way through.
</li>
<li>
Cook bacon.  Leave bacon drippings in the pan and add onion, garlic and bell pepper.  Cook until soft.  Add to beans.  Add barbeque sauce and rub seasoning to taste.  Bake in 350F oven for 1-1 1/2 hours.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;These are old-fashioned and always fabulous.  Gussy up as you
</p>
<p>
  please!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
