<h1>Baked Tofu Kabobs</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Baked Tofu Kabobs
</li>
<li>
1/2 cup coarse brown mustard
</li>
<li>
1/4 cup red wine vinegar
</li>
<li>
2 Tbsp. canola oil
</li>
<li>
1 tsp. garlic powder
</li>
<li>
2 tsp. coarsely ground coriander seed
</li>
<li>
2 Tbsp. reduced-sodium soy sauce, or to taste
</li>
<li>
2 tsp. paprika
</li>
<li>
1/4 tsp. red pepper flakes
</li>
<li>
Freshly ground black pepper, to taste
</li>
<li>
1 lb. extra firm tofu, pressed to remove excess liquid, cut into 24 equal pieces
</li>
<li>
1 red bell pepper, seeded and cut into 12 large chunks
</li>
<li>
1 green bell pepper, seeded and cut into 12 large chunks
</li>
<li>
1/2 Vidalia onion, peeled and cut into 8 chunks
</li>
<li>
In small bowl, mix mustard, vinegar, oil, garlic powder, coriander seed, soy sauce, paprika, red pepper flakes and black pepper. Pour into resealable plastic bag, add tofu, seal bag and marinate overnight.
</li>
<li>
Skewer tofu, bell pepper chunks and onion and place on baking sheet.
</li>
<li>
Preheat oven to 400 degrees and bake for about 20 minutes, turning skewers after 10 minutes. You may also broil or grill kabobs using same technique, although cook time will be different.
</li>
<li>
Makes 4 servings.
</li>
<li>
Per serving: 220 calories, 12 g. total fat (less than 1 g. saturated fat), 
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
13 g. carbohydrate, 11 g. protein, 3 g. dietary fiber, 460 mg. sodium.SOURCE: AICR
</p>
</div></body>
