<head>
<title>Baklava</title>
</head>
<body>
<h1>Baklava</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/3 cups walnut pieces, toasted
</li>
<li>
1 1/3 cups blanched almonds, toasted
</li>
<li>
1/3 cup dry unflavored bread crumbs
</li>
<li>
2 teaspoons cinnamon
</li>
<li>
1 pound(box) phyllo dough, thawed
</li>
<li>
butter, clarified, melted
</li>
<li>
16 whole cloves
</li>
<li>
Syrup:
</li>
<li>
2 cups sugar
</li>
<li>
1 1/2 cups water
</li>
<li>
1 3&quot; cinnamon stick
</li>
<li>
3 whole cloves
</li>
<li>
1/2 cup honey
</li>
<li>
1 tablespoon brandy
</li>
</ul>
<h2>Method</h2><ul>
<li>
Chop nuts finely in food processor, being careful not to pulverize them.  Mix the nuts, crumbs and ground cinnamon until well blended.
</li>
<li>
Preheat the oven to 350F.  Butter the bottom and sides of a 13x9&quot; glass baking dish.  Remove the phyllo from the package to a work surface and smooth out the stack of sheets.  With a pizza cutter cut the phyllo in half to make two stacks of 12 x 8 1/2&quot; sheets.  
</li>
<li>
Place 1 piece of phyllo in the bottom of the pan.  Brush with the melted butter.  (Alternate sheets so that every other one, more or less, reaches the opposite ends of the pan).  Repeat this procedure to make 21 layers of phyllo, but leave the final sheet dry.  Sprinkle evenly with about 3/4 cup of the nut mixture.  Add 4 more sheets of phyllo, brushing each with butter before adding another, except for the top sheet, which should be left dry.  Sprinkle with an additional 3/4 cup of the nut mixture.  Repeat this procedure three more times, ending with a layer of nuts.  Add the remaining sheets of phyllo, brushing each with butter before adding another.  Brush the top generously with butter.
</li>
<li>
With a long, sharp knife, cut the layers into lengthwise thirds.  Then cut into diamond shapes ending these cuts just short of the lengthwise cuts and sides of the pan.
</li>
<li>
With a short spatula, go around all four sides of the pan, tucking the layers of dough down so that the edges are reasonably smooth.  Stick a clove into the center of each diamond shape.  Bake for about 1 hour, or until golden brown.  Remove the baklava from the oven and set on a wire rack to cool completely.  
</li>
<li>
While the baklava is cooling, make the syrup by combining the ingredients in a medium saucepan.
</li>
<li>
Bring to a boil, sitrring constantly with a wooden spoon until the sugar is dissolved.  Boil slowly for about 5 minutes.  Add the honey and continue  to boil slowly for 5 minutes longer.  Remove from the heat and stir in the brandy.  Set aside to cool to lukewarm.  Pour the luckwarm syrup over the cooled baklava.  Cover lightly and set aside at room temperature for several hours or overnight.  Finish cutting the baklava into diamonds before serving.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;The Periyali Cookbook&quot;
</p>
<p>
SERVINGS: 16
</p>
<p>
SOURCE: Holly Garrison
</p>
</body>
