<h1>Balsamic Macerated Strawberries</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups balsamic vinegar
</li>
<li>
1/2 cup brown sugar
</li>
<li>
3 lbs. strawberries, stems removed, halved
</li>
<li>
1 cup marscapone cheese, whipped and slightly sweeted
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place balsamic vinegar in medium saucepan.  Reduce to half the volume.  Add brown sugar and stir until dissolved.  Taste for balance.  Allow to cool while preparing strawberries.
</li>
<li>
Place strawberries in large bowl and pour vinegar/sugar mixture over all.  Allow to sit at least 1 hour to macerate and flavors to combine. 
</li>
<li>
Serve with ice cream or cake and sweeted marscapone.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Perfect for ice cream or putting over grilled pound cake slices.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
