<h1>Balsamic Vinaigrette</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cloves garlic (1 if large), minced
</li>
<li>
1 shallot, minced
</li>
<li>
2 leaves basil, minced
</li>
<li>
1/2 cup Balsamic vinegar
</li>
<li>
1 1/2 cups olive oil
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
(null) a little honey, if desired
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Incorporate garlic, basil and Balsamic.  Whisk in olive oil, incorporating.  Salt &amp; pepper to taste.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 1
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
