<h1>Balsamic Seared Green Beans</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. green beans
</li>
<li>
1/4 lb. pancetta or bacon, diced, if desired
</li>
<li>
1 shallot, minced
</li>
<li>
1 clove garlic, minced
</li>
<li>
2 tablespoons balsamic vinegar
</li>
<li>
(null) salt &amp; pepper to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Cook green beans in boiling salted water until done.
</li>
<li>
2.  Shock cold in ice water and hold.
</li>
<li>
3.  Place diced bacon in saute pan and cook until crisp.  Remove from pan and hold.
</li>
<li>
4.  Place minced shallot in saute pan and sweat.  Add balsamic vinegar and reduce by about 1/3.  
</li>
<li>
5.  Return beans to pan and sear lightly until heated through adding bacon at the last 2 minutes or so.  Season with salt and pepper.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 4
</p>
<p>
SOURCE: Char
</p>
</div></body>
