<head>
<title>Banana Fudge Smoothie</title>
</head>
<body>
<h1>Banana Fudge Smoothie</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups vanilla soymilk, very cold
</li>
<li>
1/2 cup soft silken tofu
</li>
<li>
2 ripe medium bananas, frozen and cut into 1&quot; chunks
</li>
<li>
2 tablespoons cocoa powder
</li>
<li>
1 teaspoon dark honey
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place all in a blender.  Blend until smooth and serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 2
</p>
<p>
SOURCE: Adapted from Cheryl Foberg, R.D.
</p>
</body>
