<h1>Barbecued Meat Loaf</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/4 pounds ground beef, 80% lean
</li>
<li>
1 1/4 pounds ground pork
</li>
<li>
2 cups panko bread crumbs
</li>
<li>
1 cup onion, finely chopped
</li>
<li>
1 large egg
</li>
<li>
1 teaspoon Worcestershire Sauce
</li>
<li>
1 teaspoon granulated garlic
</li>
<li>
1 teaspoon dried tarragon
</li>
<li>
1 teaspoon kosher salt
</li>
<li>
1 teaspoon freshly cracked black pepper
</li>
<li>
1/2 cup bottled barbecue sauce
</li>
<li>
1/4 cup ketchup
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine meat loat ingredients in large bowl.  Divide into two loaves, 4x6&quot;.  Place loaves on sheet pan lined with parchment.  Prepare the grill for indirect cooking over medium-low heat (300F)
</li>
<li>
Mix the sauce.  Top each loaf with 1/4 of the sauce, reserving 1/2 of the sauce to serve with the cooked meat loaf.  
</li>
<li>
Brush cooking grates clean.  With a large spatula, gently pick up each loaf and place on cooking grate.  Grill over medium-low indirect heat with the lid closed until thermometer inserted registers 155F, about 50-60 minutes.  Remove from grill and place on warm platter, covering and allowing to rest 10 minutes.  Cut into 1/2&quot; pieces and serve with warmed reserved sauce.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Weber
</p>
</body>
