<head>
<title>Barzaar Potatoes  (Bazaari Aloo)</title>
</head>
<body>
<h1>Barzaar Potatoes  (Bazaari Aloo)</h1>
<h2>Ingredients</h2>
<ul>
<li>
10 medium red potatoes
</li>
<li>
10 cloves garlic, coarsely chopped
</li>
<li>
1 4&quot; fresh ginger, peeled and chopped
</li>
<li>
3/4 cup vegetable oil
</li>
<li>
1 teaspoon cumin seeds
</li>
<li>
1 teaspoon fennel seeds
</li>
<li>
2 bay leaves
</li>
<li>
1/2 teaspoon mustard seeds
</li>
<li>
2 medium onions, finely minced
</li>
<li>
4 medium tomatoes, finely chopped
</li>
<li>
1/2 teaspoon cayenne pepper
</li>
<li>
1 tablespoon salt
</li>
<li>
1 tablespoon lemon juice
</li>
<li>
2 teaspoons garam masala
</li>
</ul>
<h2>Method</h2><ul>
<li>
Boil potatoes 2 hours ahead.  Cool.  Before cooking the rest of the dish, peel the potatoes and break by hand into 6-8 pieces each.
</li>
<li>
Put the garlic and ginger into food processor with 1/3 cup water.  Blend until it is a paste.
</li>
<li>
Heat the oil in a large wok over medium high heat.  When hot, add cumin, fennel, mustard seeds and bay leaves.  As soon as mustard seeds begin to pop, add the minced onion.  Stir fry until the onion just starts to brown.  
</li>
<li>
Add the garlic ginger paste and fry for 4-5 minutes, stirring frequently.  Add tomatoes.  Stir and cook another 5 minutes.  Add the potatoes, 2 1/4 cups water, cayenne, salt and lemon juice.  Bring to a simer, cover, lower heat and cook gently for 15-20 minutes.  The sauce should thicken.  If it does not, uncover and cook another 5-10 minutes.  Add the garam masala and stir gently to mix.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Madhur Jaffrey
</p>
</body>
