<h1>Basbousa -- Semolina Pudding</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/2 cups +1 tablespoon sugar
</li>
<li>
1/2 lemon juice
</li>
<li>
1 teaspoon rose water
</li>
<li>
8 tablespoons butter, + more for pan
</li>
<li>
1/2 cup blanched almonds, ground in food processor
</li>
<li>
1/2 cup whole milk yogurt
</li>
<li>
1 1/4 cups semolina flour
</li>
<li>
1 teaspoon baking powder
</li>
<li>
1 1/2 teaspoons vanilla
</li>
<li>
1 cup heavy cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place 1 1/2 cups sugar, lemon juice and 1/2 cup water in saucepan and bring to a boil.  Simmer until thick and syrupy, about 5 minutes.  Stir in rose water.  Remove from heat and cool.  Refrigerage until ready to use.
</li>
<li>
Preheat oven to 375F.  Place half of the butter in a medium-hot skillet and add the almonds after the butter is melted.  Cook and stir until lightly browned, about 5 minutes.
</li>
<li>
Beat the yogurt and last 1 cup of sugar in a large bowl.  Add the almonds, butter they were cooked in, semolina, baking powder and 1 teaspoon of vanilla extract.
</li>
<li>
Beat until thoroughly blended.  Place in a greased 9&quot; square pan.  Place in the oven and bake for about 30 minutes until lightly browned.
</li>
<li>
Take the basbousa out of the oven.  Pour the sugar syrup over the basbousa and immediately cut into serving size pieces.  Put back into the oven for 3 minutes.  Melt the remaining butter (4 tablespoons) and pour over the basbousa.  Let rest for a few minutes.
</li>
<li>
Meanwhile, whip the cream, adding the last 1 tablespoon sugar and 1/2 teaspoon of vanilla.  Serve over the basbousa.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Middle Eastern dessert.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Mark Bittman
</p>
</body>
