<h1>Basic Master Mix</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups AP flour
</li>
<li>
4 cups whole wheat flour
</li>
<li>
1 1/3 cups nonfat dry milk
</li>
<li>
1/4 cup baking powder
</li>
<li>
1 teaspoon salt
</li>
<li>
1 1/2 cups Crisco
</li>
</ul>
<h2>Method</h2><ul>
<li>
Stir dry ingredients.  Cut in Crisco until mixed.  Store in closed, covered jar or can for up to two months.  Stir before using in recipes.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;My mom used to make this....only she would use AP flour.  This has
</p>
<p>
  whole wheat flour in it, as well.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;11 cups&quot;SOURCE: WSU Cooperative Extension
</p>
</body>
