<h1>Basic Chocolate Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 ounces unsweetened chocolate
</li>
<li>
1 cup granulated sugar
</li>
<li>
1/8 teaspoon salt
</li>
<li>
1 tablespoon butter
</li>
<li>
1 cup light cream, (evap. skim milk can be used)
</li>
<li>
1/2 teaspoon vanilla extract
</li>
</ul>
<h2>Method</h2><ul>
<li>
Melt chocolate in double boiler.  Stir in sugar, salt, butter and then gradually add cream stirring until smooth (placing pan over low direct heat at this point).
</li>
<li>
Increase heat slightly to low medium and stir constantly for 4-5 minutes until sauce thickens slightly.  Do not boil.  Remove and stir in vanilla.
</li>
<li>
Serve either warm or at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This not only works terrificly on the Italian Christmas Cake but also hot on ice cream.
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Maida Heatters Chocolate Cookbook
</p>
</body>
