<h1>Basic Vinaigrette</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 part vinegar
</li>
<li>
white pepper
</li>
<li>
garlic, mashed w/salt
</li>
<li>
shallots
</li>
<li>
lj
</li>
<li>
herbs
</li>
<li>
3 parts salad oil or olive oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Mix all ingredients except oil.
</li>
<li>
2.  Add oil and mix; mix again before serving.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : There should be no separation of oil and liquid on served salad.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Gisslen Pg. 518 (Chef Klaus Loos)
</p>
</div></body>
