<h1>Basic Chile Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons vegetable oil
</li>
<li>
3 tablespoons onion, finely chopped
</li>
<li>
1 clove garlic, finely chopped
</li>
<li>
1/4 teaspoon oregano
</li>
<li>
1 teaspoon cumin
</li>
<li>
2 tablespoons flour
</li>
<li>
1/2 cup powdered red chiles
</li>
<li>
2 1/2 cups water
</li>
<li>
1 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat the oil over medium heat in a 1-2 quart saucepan.  Add the onion and garlic and saute gently for about 5 mminutes or until the onion is wilted, translucent and turning yellow.  Stir in the oregano, cumin and flour and cook, stirring constantly, until this mixture (which is like a roux) bubbles up and begins to turn a very light brown, about 3 minutes.  Remove pan from heat.
</li>
<li>
IN a separate bowl, mix the powdered chilies and water until they are smoothly blended.  Pour them into the flour-onion paste, stirring t prevent lumbs with a wire whisk.  Return the pan to medium heat and bring the sauce to the boiling point.  Stir from time to time until you begin to see bubbles.  (Since red chilies scorch quite easily, how much you have to stir this sauce depends on the quality of your cookware.  Stir constantly and watch carefully the first time out.)  When the sauce just begins to show signs of active boiling, reduce heat to low and simmer, covered for 2-3 minutes more.  Make sure to stir a few times, reaching thoroughly around the bottom and sides of the pan to catch any lumps beginning to form.  When the sauce is thickened, smooth and no longer raw-tasting, add the salt, beginning with the smaller amount.  Remove from heat and set aside until needed.
</li>
<li>
The finished sauce should be thick enough to nap a smoon heavily; it should have a deep, pungent taste of chili without unpleasant umstiness  or unpalatable hotness.  If it is too bitter or crude for your taste, try other brands of powdered chilies.  However, this sauce should not be expected to stand alone.  Even if somewhat bitter or swee t the real test for &quot;chile colorado&quot; is to marry it with tortillas, so plan as soon as possible to make a batch of enchiladas with your sauce.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;The Feast of Santa Fe&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 cups&quot;SOURCE: Adapted from Huntley Dent
</p>
</body>
