<h1>Basmati Rice with Turmeric, Potato and Cumin....Peelay Chaaval</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 cups basmati rice
</li>
<li>
6 tablespoons vegetable oil
</li>
<li>
1 teaspoon cumin seeds
</li>
<li>
3 tablespoons onion, finely chopped
</li>
<li>
2 red potatoes, peeled and chopped to small dice
</li>
<li>
1 teaspoon turmeric
</li>
<li>
1 1/2 teaspoons salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Method for Indian Basmati Rice:  Wash in several changes of water and drain.  Soak in water to cover by 2&quot; and leave for 30 minutes.  Drain.
</li>
<li>
Heat oil in heavy pot over medium high heat.  When hot, add the cumin seeds and let them sizzle for 10 seconds.  Put in the onion.  Cook until the onion starts to brown.  Add the rice, turmeric and salt.  Turn heat to medium and stir the rice gently for 2 minutes.  Add 2 cups of water and bring to a boil.  Cover tightly, turn heat to very low and cook for 25 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
</div></body>
