<head>
<title>Basmati Rice Pilaf</title>
</head>
<body>
<h1>Basmati Rice Pilaf</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups basmati rice
</li>
<li>
1 tablespoon olive oil
</li>
<li>
1 tablespoon onion, finely chopped
</li>
<li>
8 cups chicken stock
</li>
<li>
1 bay leaf
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat saute pan.  Add olive oil and onions and cook until translucent.  Add rice, making sure to coat each piece with oil.
</li>
<li>
Place onions and rice in rice cooker, add  stock  as instructed in rice cooker directions (it may vary slightly from 8 cups).
</li>
<li>
When rice is cooked, stir the rice, add salt to season to taste.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Basmati rice is fragrant and delicious.  This is a classic
</p>
<p>
  preparation with the aid of a rice maker.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1/2 cup&quot;
</p>
<p>
SERVINGS: 14
</p>
</body>
