<head>
<title>Bastilla</title>
</head>
<body>
<h1>Bastilla</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 whole chicken
</li>
<li>
2 onions, chopped
</li>
<li>
1 teaspoon ginger
</li>
<li>
1 teaspoon turmeric
</li>
<li>
1 teaspoon black pepper
</li>
<li>
2 sticks cinnamon
</li>
<li>
2 cups cilantro, chopped
</li>
<li>
12 large eggs, beaten
</li>
<li>
1 pound almonds
</li>
<li>
1 cup sugar
</li>
<li>
1/4 cup cinnamon
</li>
<li>
4 large sheets phyllo dough
</li>
<li>
1/2 cup melted butter
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.
</li>
<li>
Cook chickenin just enough water to cover with onion, ginger, turmeric, pepper, cinnamon stick and cilantro.  Cook about 45 minutes. Remove chicken, reserving broth.
</li>
<li>
Cook eggs w/ 1/2-3/4 cup of chicken cooking liquid until soft scrambled.  Do not overcook.
</li>
<li>
Process almonds, sugar and cinnamon in food processor until chunky.
</li>
<li>
Brush two 8-10&quot; oven skillets with butter.  Unfold 1 sheet of phyllo and lay 1 over skillet covering the skillet a little more than half way, followed by another phyllo sheet overlapping half way over the first phyllo sheet, allowing the phyllo to fall over half of the chicken mixture and follow by another 1/4 of the almon mixture.  Fold over the sides of the phyllo dough, covering the filling.  Brush with melted butter.  Do the process again with the other pan for a second bastilla.
</li>
<li>
Place the bastillas in the oven and bake for 12-15 minutes until golden.
</li>
<li>
Remove from oven and sift a heavy layer of confectioners sugar over the top.  Take a large pinch of cinnamon between your thumb and forefinger and draw a criss-cross pattern across the top of the bastillas.  Slice into wedges and serve.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Daniel Avurto of Mamounia
</p>
</body>
