<head>
<title>Bechemel Sauce (White Sauce)</title>
</head>
<body>
<h1>Bechemel Sauce (White Sauce)</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 tablespoons butter
</li>
<li>
4 tablespoons flour
</li>
<li>
2 1/2 cups milk
</li>
<li>
1/2 medium onion, clouted
</li>
<li>
nutmet
</li>
<li>
bay leaf
</li>
<li>
peppercorns
</li>
<li>
salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Make a roux by mixing butter and flour and cooking over medium heat until mixture smells like a &quot;cooking biscuit&quot; (you may have to adjust heat to a lower setting to keep it from browning).  Meanwhile heat milk in another saucepan, adding onion, bayleaf and peppercorns to infuse.  When flour mixture is ready, remove onion from milk.  Add milk to roux, slowly whisking in to mix.  Stir until thickened, about 5-10 minutes.  Add more milk if thinner consistency is desired.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;3 cups&quot;
</p>
</body>
