<h1>Bechamel Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 ounces clarified butter
</li>
<li>
1 small onion, sd
</li>
<li>
8 ounces flour
</li>
<li>
1 gallon milk
</li>
<li>
2 whole bay leaves
</li>
<li>
4 whole cloves
</li>
<li>
nutmeg
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Heat the butter in a heavy sauce pot over low heat.  Sweat onions. Add the flour and make a white roux.  Cool the roux slightly.
</li>
<li>
2.  In another saucepan, scald the milk.  Gradually add  the roux to the milk, reserving 30% of roux and  beating constantly.
</li>
<li>
3.  Bring the sauce to a boil, stirring constantly.  Reduce heat to a simmer.
</li>
<li>
4.  Add bay leaves and two cloves . Simmer at least 15 minutes, or if possible, for 30 minutes or more.  Stir occasionally while cooking.
</li>
<li>
5.  Adjust the consistency by adding more roux or  more hot milk if necessary.
</li>
<li>
6.  Season very lightly wiht salt, nutmeg, and white pepper.   Spice flavors should not dominate.
</li>
<li>
7.  Strain the sauce throught a china cap lined with wet cheesecloth.  Cover or spread melted butter on the surface to prevent skin formation.  Keep hot in a BM or cool in cold water bath for later use.
</li>
<li>
LIGHT BECHAMEL:  Use 12 oz. roux.
</li>
<li>
HEAVY BECHAMEL:  Use 1 1/2 pound roux.
</li>
<li>
For the following SMALL SAUCES add ingredients to 1 quart Bechamel Sauce....
</li>
<li>
CREAM SAUCE:  4-8 oz. heavy cream, heated or tempered.
</li>
<li>
MORNAY SAUCE:  4 oz. Gruyere cheese &amp; 2 oz. Parmesan stirred in until just melted.
</li>
<li>
Finish, off heat, with 2 oz. raw butter.  Thin out with a little hot milk if necessary, or use a stock or broth appropriate for the dish being prepared.
</li>
<li>
MORNAY SAUCE FOR GLAZING OR GRATINEEING:  Finish Mornay Sauce with liaison of 2 egg yolks and 2 oz. heavy cream.
</li>
<li>
CHEDDAR CHEESE SAUCE:  8 oz. cheddar cheese, 1/2 tsp. dry mustard, 2 tsp. Worcestershire Sauce.
</li>
<li>
MUSTARD SAUCE:  4 oz. prepared mustard.
</li>
<li>
NANTUA SAUCE:  6 oz. shrimp butter, 4 oz. heavy cream (classic Nantua is made with crayfish, not readily available in all parts of the U. S.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : According to Chef Klaus Loos, season nicely; do not allow to be bland.
</p>
<p>
SERVINGS: 50
</p>
<p>
SOURCE: Gisslen Text and Chef Klaus Loos
</p>
</div></body>
