<h1>Bechamel or White Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups milk
</li>
<li>
3 tablespoons unsalted butter
</li>
<li>
3 tablespoons AP flour
</li>
<li>
nutmeg
</li>
<li>
onion with cloves
</li>
<li>
garlic clove
</li>
<li>
bay leaf
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat milk in saucepan with onion &quot;clouted&quot; with cloves, garlic clove and bay leaf.  Do not let it boil.
</li>
<li>
In another non-reactive pan melt the butter and when it bubbles add the flour all at once, stirring constantly with a whisk.  Let the mixture cook about 3-5 minutes until it smells like a cooked biscuit.  Remove the pan from the heat and pour in the hot milk, stirring the entire time (remove the onion, garlic clove and bay leaf before pouring into the flour mixture).  Bring it to a boil while you stir the mixture and then lower the heat until it is thick and glossy.
</li>
<li>
You can make the sauce thicker or thinner by adding more less of the liquid or solid ingredients.  If the sauce is too thick, add a little hot milk and mix well.  If it is too thin, cook it longer over slow heat, being careful not to let it scorch.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a &quot;mother sauce or master sauce&quot; meaning that it is an
</p>
<p>
  important sauce to know for your reperatoire as a beginning to many
</p>
<p>
  other sauces.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 1/2 cups&quot;SOURCE: Classic
</p>
</div></body>
