<h1>Beef Bourguignon</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 pound bacon
</li>
<li>
1/4-1/3# beef chuck per person, cut into large chunks
</li>
<li>
flour
</li>
<li>
olive oil
</li>
<li>
salt pepper
</li>
<li>
mirepoix, onion, celery, carrot
</li>
<li>
garlic
</li>
<li>
1 large shallot, minced
</li>
<li>
1/2 bottle dry red wine
</li>
<li>
equal portion of beef stock
</li>
<li>
bouquet garne, parsley stems, bay leaves, thyme
</li>
<li>
1 pound mushrooms
</li>
<li>
1 pound pearl onions, blanched &amp; peeled
</li>
</ul>
<h2>Method</h2><ul>
<li>
Put wine and stock together and reduce 1/3 to 1/2.  
</li>
<li>
Cook bacon until cooked but still soft.  Remove from pan and leave in about 2 tablespoons of bacon fat.
</li>
<li>
Dust meat with flour.  Season with s/p.  Sear in olive oil and bacon fat until brown all around.  May be done in batches.  Take all meat out and hold.  Brown lightly mirepoix.  
</li>
<li>
Deglaze pan with wine/stock mixture beginning with just about a cup, scrapping up pieces.  Add the rest of the liquid.  Add meat back in with vegetables.
</li>
<li>
Cover with lid and cook at 350F for 1 1/2-2 1/2 hours.  Cook until tender but still holding together.
</li>
<li>
Remove from oven.  Remove meat from sauce.  Strain sauce.  Wipe out pan.  Return sauce and meat to pan.  Taste and correct seasoning.
</li>
</ul>
<h2>Notes</h2><p>
While the meat dish is cooking, sear mushrooms until slightly dark.  Add to meat dish with reserved bacon after straining and returning meat to pan.SOURCE: Apple Charlotte
</p>
</body>
