<h1>Beef Stock</h1>
<h2>Ingredients</h2>
<ul>
<li>
7 lbs. beef soup bones
</li>
<li>
Mirepoix:
</li>
<li>
2 onions
</li>
<li>
1 leek
</li>
<li>
2-3 carrots
</li>
<li>
3-4 celery
</li>
<li>
2 crushed garlic cloves
</li>
<li>
Bouquet Garni:
</li>
<li>
2 bay leaves
</li>
<li>
3 sprigs fresh thyme
</li>
<li>
6-8 whole peppercorns
</li>
<li>
8 parsley stems
</li>
<li>
4 whole cloves
</li>
<li>
1 tablespoon tomato paste
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Roast the bones for about 45 minutes.  Add the mirepoix and tomato paste to roasting pan of bones and roast another 15-20 minutes.
</li>
<li>
2.  Place the bones in a stockpot with the vegetables.  Pour the fat out of the roasting pan and deglaze the pan adding the juices to the stockpot.  Cover with cold water until 2 inches above the bones.
</li>
<li>
3.  Bring to a boil and lower to simmer.  Skim the scum.  Add the bouquet garni.
</li>
<li>
4.  Simmer for about 8 hours.
</li>
<li>
5.  Remove the bones with a slotted spoon.  Strain the stock.
</li>
<li>
6.  Cool in a waterbath and refrigerate.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is a wonderful stock to have on hand.  Not only is it a great soup base but it can be reduced to a glace and used to enrich sauces.  Use the stock in place of water in pot roasts, stews, sauces.  A great flavor enhancer.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
