<h1>Beef &amp; Pumpkin Stew</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. beef chuck roast
</li>
<li>
2 tablespoons Big Four Paste
</li>
<li>
5 cups coconut milk
</li>
<li>
2 tablespoons fish sauce, or to taste
</li>
<li>
2 serrano chiles, lightly crushed, up to 3 if desired
</li>
<li>
3 cups winter squash, 1&quot; pieces, butternut, acorn, or sugar pumpkin
</li>
<li>
1 bunch cilantro, coarsely chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
in a large mixing bow, comibine the beef and Big Four Paste.  Cover and marinate for a couple of hours in the refrigerator.  Remove an hour before cooking to allow to come to room temp.
</li>
<li>
Heat a saute pan until hot for searing and sear the beef until brown all around.  Add the coconut milk and simmer for about an hour to hour and one half until beef is tender.
</li>
<li>
Taste the soup and season with fish sauce and chiles, depending on your taste.  Cover and allow to simmer for about 10 minutes.  Add the squash and cook another 15-20 minutes or until the squash is cooked through but still firm.
</li>
<li>
Serve, garnished with cilantro leaves and served with long grain rice.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Thai and wonderful!!  Keang Bah-Shaw&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Cracking the Coconut&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Adapted from Se-Mei Yu&#39;s recipe
</p>
</body>
