<h1>Beef Satay</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 stalks lemongrass, Sliced very thin
</li>
<li>
8 walnut size shallots, chopped
</li>
<li>
6 cloves garlic, chopped
</li>
<li>
2 teaspoons fennel seed
</li>
<li>
1/2 cup water
</li>
<li>
1/4 cup brown sugar
</li>
<li>
2 teaspoons ground cumin
</li>
<li>
2 teaspoons ground coriander
</li>
<li>
2 teaspoons turmeric powder
</li>
<li>
2 teaspoons ginger, minced
</li>
<li>
2 tablespoons soy sauce
</li>
<li>
2 pounds beef sirloin, or skinless chicken
</li>
<li>
40 bamboo skewers
</li>
<li>
Satay Peanut Sauce
</li>
<li>
lettuce leaves
</li>
<li>
sliced cucumber
</li>
<li>
red onion, sliced
</li>
<li>
red chile peppers, sliced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Process the sliced lemongrass, shallots, garlic, fennel seed and water in a blender until smooth.  Pour into a bowl.  Add brown sugar, cumin, soriander, turmeric, ginger and soy sauce and mix.  
</li>
<li>
Cut meat across the grain into thin diagonal slices.  Then cut these pieces into 2&quot; lengths.
</li>
<li>
Add meat the spice mixture, covering to coat, and marinate  in refrigerator for at least 2 hours.
</li>
<li>
Soak skewers at least 15 minutes before using.  Preheat grill.  Place 2 pieces of meat on each skewer.  Spray grill with non-stick spray.  Cook skewers 2-3 minutes, turning as needed.  Place on warm platter.
</li>
<li>
Serve with satay sauce and garnish with lettuce leaves, cucumber, onion and sliced chile.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Martin Yan
</p>
</body>
