<h1>Beef or Chicken Fajitas</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. boneless sirloin steak or chicken breasts
</li>
<li>
1 large onion, sliced into rings
</li>
<li>
1 large green pepper, seeded and sliced
</li>
<li>
8 9&quot; flour tortillas
</li>
<li>
1 tomato, chopped
</li>
<li>
1/4 lb. mozzarella cheese mixed with
</li>
<li>
1/4 lb. Cheddar cheese, both grated
</li>
<li>
4 ounces black olives, chopped
</li>
<li>
1/4 head lettuce, shredded
</li>
<li>
1/2 cup sour cream
</li>
<li>
1 cup chunky-style salsa
</li>
<li>
Marinade:
</li>
<li>
3 tablespoons honey
</li>
<li>
2 tablespoons white vinegar
</li>
<li>
1 1/2 teaspoons garlic powder
</li>
<li>
1 1/2 teaspoons powdered ginger
</li>
<li>
1/4 cup soy sauce
</li>
<li>
3/4 cup vegetable oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix marinade ingredients in a large bowl.  Slice (partially frozen for easy slicing) beef or chicken into thin strips.  Add to marinade.  Add onion and green pepper.  Mix thoroughly, cover and marinate 4-6 hours in refrigerator, stirring occasionally so all ingredients are well coated.
</li>
<li>
When ready to cook, heat oven to 350 degrees.  Heat skillet to medium to medium high heat.  While skillet is heating, wrap tortillas tightly in foil and place in oven to warm, 10-15 minutes.
</li>
<li>
When skillet is heated, spoon the meat from bowl into skillet (Note:  meat and vegetables will retain enough liquid from marinate to saute without adding oil).  Saute until desired doneness or just until pink is gone, 10-12 minutes.  Add onions and peppers; saute until just tender but still crisp.
</li>
<li>
Spoon 1/8 of beef-vegetable mixture onto a warm tortilla.  Add tomato, cheese, olives, lettuce, sour cream and salsa as desire.  Roll tortilla around filling.  Serve immediately.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : Put the goods out and let people help themselves...Simple!NOTES : Joyce tells me this saved her and all the E.W.U. friends who were lucky enough to take advantage of the Winters during the dreaded Spokane &quot;Ice Storm of 96&quot;.  The Winters did not lose their power so they were at the mercy of other cold souls who did over many days.  This recipe saved the day for large groups of people (and for large hungry people).  Its easy and fast once you get the marinating going in the morning.  Joyce says these absolutely will warm up any cold gang...from the inside out.  Definite crowd, kid and professor pleaser.
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Joyce Winters
</p>
</div></body>
