<h1>Beet, Cucumber &amp; Celery Relish</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 medium red or golden beets, roasted
</li>
<li>
1 large shallot, cut into small dice
</li>
<li>
2 teaspoons white wine vinegar
</li>
<li>
salt and pepper
</li>
<li>
2 cucumbers, peeled, seeded, cut into 1/8&quot; dice
</li>
<li>
2 stalks celery, peel, cut into 1/8&quot; dice, parboil for about 30 seconds
</li>
<li>
1 tablespoon red wine vinegar
</li>
<li>
4 tablespoons extra virgin olive oil
</li>
<li>
1 tablespoon chopped chervil, tarragon or baby dill
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat the oven to 400F.  Trim and wash the beets before roasting.  Then put them in a small baking dish with a generous splash of water, cover tightly and roast in the oven for 30 minutes to an hour, until they are cooked through.
</li>
<li>
Let the minced shallot macerate in a bowl for 20 minutes in the vinegar with a pinch of salt.  
</li>
<li>
When the beets are throughly cooked, allow them to cool, uncovered.  Peel them, trimming off the rest of the stems and cut them into 1/8 dice.  Put he beets in a bowl, add the redd wine vinegar, 1 tablespoon of the olive oil, and the herb; season with salt and pepper.  (the beets are kept apart until serving to keep them from coloring the other ingredients red.  If you use golden beets, they can be combined and seasoned with the rest of the relish.)
</li>
<li>
Add the cucumber, celery, the remaining olive oil, and the the golden beets to the bowl with the shallot and vinegar.  Taste and adjust for seasoning and consistency, adding more vinegar, salt, and olive oil if needed.  To serve the relish, spread the dish to be garnsihed first with the cucumber mixture and then sprinkle the beets on top. 
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A beautiful and delicious addition to grilled salmon.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 cups&quot;SOURCE: Alice Waters
</p>
</div></body>
