<h1>Beignet au Fromage</h1>
<h2>Ingredients</h2>
<ul>
<li>
oil for deep frying`
</li>
<li>
1 large egg
</li>
<li>
1/2 cup milk
</li>
<li>
salt/pepper -- to taste
</li>
<li>
6 2&quot; Brie, wedges, rind removed
</li>
<li>
3 cups fresh bread crumbs, French bread
</li>
<li>
3 apples sliced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Pour oil in large skillet to depth of 2 &quot; and heat to 350F.  Combine egg, milk, salt and pepper.  Dip each Brie wedge in egg mixture, then coat thoroughly with crumbs.  Fry a few at a time until crisp and brown on both sides.  Serve immediately with apple slices as an accompaniment.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 6
</p>
<p>
SOURCE: Bastille Brasserie Parisienne, Chicago, Illinois
</p>
</body>
