<head>
<title>Belgium Waffles with Marscapone &amp; Honey</title>
</head>
<body>
<h1>Belgium Waffles with Marscapone &amp; Honey</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
True traditional Belgian waffles are leavened with yeast, not baking powder. The rich creamy flavor of mascarpone cheese and earthy sweetness of honey complement the crisp yeasty flavor of these light and airy waffles.
</li>
<li>
RECIPE INGREDIENTS
</li>
<li>
2 cups lukewarm whole milk (105 degrees F to 115 degrees F)
</li>
<li>
2 tablespoons honey
</li>
<li>
1 teaspoons dry active yeast
</li>
<li>
1/4 cup mascarpone cheese
</li>
<li>
2 cups all-purpose flour
</li>
<li>
2 teaspoons ground cardamom
</li>
<li>
1 teaspoon salt
</li>
<li>
1/4 cup (1/2 stick) melted butter
</li>
<li>
3 large egg whites
</li>
<li>
Additional mascarpone, whipped
</li>
<li>
Additional warm honey
</li>
<li>
Fresh berries
</li>
<li>
DIRECTIONS
</li>
<li>
Mix first 3 ingredients in medium bowl to blend. Let stand until foamy, about 10 minutes. Mix in creme fraiche. Mix flour and salt in large bowl. Add yeast mixture; stir to blend. Fold in melted butter. Cover and chill at least 1 hour or overnight.
</li>
<li>
Preheat oven to 200 degrees F. Preheat Belgian waffle iron according to manufacturer&#39;s instructions. Using electric mixer, beat egg whites in large bowl until stiff peaks form. Fold egg whites into batter. Spoon 1 cup batter onto iron; spread with spatula. Cover and cook until golden and cooked through, about 4 minutes. Transfer waffle to baking sheet and keep warm in oven. Repeat, making 6 waffles total.
</li>
<li>
Place waffles on plates. Top with additional cream fraiche and warm honey.
</li>
<li>
Recipe created exclusively for Cooking.com by Rochelle Palermo, Food Editor at Cooking.com.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Cooking.com; Cook&#39;s Catalog
</p>
</body>
