<h1>Berries &amp; Cream Grand Marnier</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups whipping cream, whipped
</li>
<li>
1/3 cup sugar
</li>
<li>
2 cups marscapone cheese, whipped
</li>
<li>
3 pints strawberries
</li>
<li>
sprinkle Grand Marnier
</li>
<li>
sugar to taste
</li>
<li>
mint
</li>
</ul>
<h2>Method</h2><ul>
<li>
Beat the marscapone adding sugar slowly, until softened.  Fold the whipped cream  together with marscapone.  Refrigerate.
</li>
<li>
Allow the berries to maserate for at least 1/2 hour in the Grand Marnier and sugar.  
</li>
<li>
Layer the creams with the berries in a pretty glass serving glass or bowl.  Garnish with mint.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
