<h1>Berry Mouse</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
12 large eggs
</li>
<li>
1 cup sugar
</li>
<li>
2 tablespoons unflavored gelatin
</li>
<li>
2 cups raspberries, strained, pureed
</li>
<li>
1/4 cup framboise
</li>
<li>
2 cups heavy cream
</li>
<li>
1/2 cup confectioner&#39;s sugar, sifted
</li>
<li>
1/2 teaspoon cream of tartar
</li>
<li>
1/2 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
fresh raspberries for garnish
</li>
<li>
Beat yolks, sugar and gelatin until light and thick.  
</li>
<li>
Place mixture in a metal bowl and place over a small amount of simmering water (not touching the water) on top of the stove.  Stir in the raspberry puree.  Cook over simmering water long enough to dissolve the sugar and gelatin.  Set aside to cool. 
</li>
<li>
Stir the framboise into the raspberry mixture.  Whip the cream, adding the confectioners&#39; sugar 1 tablespoon at a time, until stiff.  Fold the cream into the raspberry mixture.
</li>
<li>
Beat the egg whites until foamy.  Add the cream of tartar and salt and continue beating until soft peaks form.  Fold the whites into the other mixture and pour into pretty serving dishes or a pretty bowl.  Refrigerate several hours until set.  Serve with additional berries and whipped cream.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This mouse works with any berries.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Lee Bailey
</p>
</div></body>
