<h1>Berry Banana Oatmeal Muffins</h1>
<h2>Ingredients</h2>
<ul>
<li>
3/4 cup AP flour
</li>
<li>
3/4 cup whole wheat flour
</li>
<li>
1/4 cup oatmeal
</li>
<li>
2 teaspoons baking powder
</li>
<li>
1/2 teaspoon salt
</li>
<li>
2 mashed bananas
</li>
<li>
1/2 cup soy milk
</li>
<li>
1 large egg
</li>
<li>
2 tablespoons vegetable oil
</li>
<li>
1 teaspoon fresh lemon juice
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1 1/2 cups blueberries
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix together dry ingredients.  Mix together wet ingredients and add to dry ingredients.  Add vanilla and blueberries.  Fill paper-lined muffin tins 3/4 full and bake at 400F for about 20 minutes.
</li>
</ul>
<h2>Notes</h2></body>
