<h1>Betsy&#39;s Gingerbread Dough</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 3/4 cups flour
</li>
<li>
1 tablespoon cinnamon
</li>
<li>
1 1/2 teaspoons ginger
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 1/2 cups light corn syrup
</li>
<li>
1 1/4 cups light brown sugar
</li>
<li>
1 cup margarine
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Combine corn syrup, brown sugar and margarine in saucepan and stir constantly over medium heat until margarine is melted.
</li>
<li>
2.  Mix dry ingredients and pour liquid over and mix with hands until stiff.  Chill until easy to handle.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This recipe makes enough dough for one medium gingerbread house.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Betsy Macris
</p>
</body>
