<head>
<title>Beurre Blanc, Thinned Out</title>
</head>
<body>
<h1>Beurre Blanc, Thinned Out</h1>
<h2>Ingredients</h2>
<ul>
<li>
Chardonnay
</li>
<li>
Shallots that have sweat in butter
</li>
<li>
Combine both and a sec.
</li>
<li>
Thin with stock (fish stock if serving
</li>
<li>
with fish, etc.)
</li>
<li>
and monte a beurre at end.
</li>
<li>
Season
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Thomas used this as a sauce over rugget or mullet; however, its thinned out nature made it somewhatbrothy-like.  Very nice.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Thomas Oden
</p>
</body>
