<head>
<title>Bibimbap Sauce</title>
</head>
<body>
<h1>Bibimbap Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup go-chu-jang, hot pepper sauce (chile sauce)
</li>
<li>
3 tablespoons cola
</li>
<li>
2 tablespoons beef stock
</li>
<li>
1 tablespoon each red wine, sesame oil, sugar
</li>
<li>
1 teaspoon paprika
</li>
<li>
1 teaspoon garlic, minced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix together to form a paste.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Korean Cuisine&quot;SOURCE: Adapted from Young Sook Choi
</p>
</body>
