<h1>Bieta al Forno (Baked Swiss Chard)</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 large red or green Swisschard
</li>
<li>
6 ounces shredded mozzarella
</li>
<li>
salt
</li>
<li>
fresh ground pepper
</li>
<li>
5 q.b. * soft unsalted butter
</li>
<li>
1 1/3 cups grated Parmigiano Reggiano, q.b.
</li>
<li>
1 cup heavy cream
</li>
<li>
*q.b. = &quot;more or less&quot;
</li>
</ul>
<h2>Method</h2><ul>
<li>
Wash the Swisschard and dry with paper towels.   Cut the stems close to the leaves and chop the stems in small dice.  Boil slightly salted water in a large pot and drop the leaves in a few at a time and let simmer for about 2 minutes.  Carefully remove from the water and lay out to drain on paper towels.  
</li>
<li>
Cook the diced stems in the same water until they are tender but not mushy.  Drain well and combine with mozzarella  with some salt and pepper.  Spread the cooled leaves on a table and divide the mixture amongst the leaves.  Dot each with a dab of butter and sprinkle with about a tablespoon of parmesan cheese.  Fold the leaves to contain the filling.  Spread the remaining butter on the bottom of a casserole and put in the bundles.  Pour enough heavy cream to come 1/3 way up the bundles.  Sprinkle with remaining parmesan cheese (about 3/4 cup should be left) and bake at 350 for about 30 minutes or until it is hot and bubbly and golden on top.  Serve hot or tepid.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Serve as an appetizer with great bread for sopping!NOTES : This is so simple but unbelievable....No one can ever believe what this dish is composed of and can&#39;t believe they love it!
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Carlo Middione, San Francisco
</p>
</body>
