<head>
<title>Bittersweet Chocolate Tart</title>
</head>
<body>
<h1>Bittersweet Chocolate Tart</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 tart pan short bread crust, cooked
</li>
<li>
1 cup heavy cream
</li>
<li>
8 ounces bittersweet chocolate
</li>
<li>
1 large egg, lightly beaten
</li>
<li>
whipped cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 375F.  Place the cream in a small saucepan and bring to a simmer.  Add the chocolate and whisk until the chocolate is completely melted.  Whisk in the lightly beaten egg.  Pour the chocolate into the tart shell.  Bake until the center looks set, but quivers slightly, for about 15-20 minutes.  Cool on a rack.  Serve slightly warm or at room temperature with whipped cream.
</li>
</ul>
<h2>Notes</h2><p>
Store in the frig.  SOURCE: Adapted from Joy of Cooking
</p>
</body>
