<head>
<title>Black Beans &amp; Rice</title>
</head>
<body>
<h1>Black Beans &amp; Rice</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 medium onion, small dice
</li>
<li>
1/4 red bell pepper, small dice
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1 stalks celery
</li>
<li>
2 tablespoons olive oil
</li>
<li>
2 cans black beans
</li>
<li>
cayenne pepper, to taste
</li>
<li>
paprika, to taste
</li>
<li>
cumin, to taste
</li>
<li>
1 15 oz can tomatoes
</li>
<li>
4 cups spinach
</li>
<li>
1/2 red onion
</li>
<li>
2 avocados
</li>
<li>
2 cups cooked brown rice
</li>
<li>
salsa
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place olive oil in hot skillet and saute onions, bell pepper, celery and garlic briefly until soft and fragrant.  Add  black beans and seasonings.  Add tomatoes.  Cook briefly over low heat.
</li>
<li>
Place 1 cup of spinach on plate.  Top with 1/2 cup brown rice.  Top with bean mixture.  Garnish with sliced red onions, avocados and salsa.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
