<h1>Blackened Fish Fillets</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 snapper fillets
</li>
<li>
olive oil spray
</li>
<li>
Blackening Seasoning, recipe enclosed
</li>
<li>
lemon wedges
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat a cast iron or outside grill to high until smoking hot.  Spray each fillet liberally with olive oil spray.  Sprinkle 1 side of the filet with the seasoning and place in skillet or on grill (grill should be sprayed first).  Cook about 2 minutes until charred.  Turn and cook about 2 more minutes on other side.
</li>
<li>
Serve with polenta topped lightly with Southern Comfort Barbeque Sauce.  Place fish on top.  Serve with lemon wedges.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Judy Adams-Smith
</p>
</div></body>
