<head>
<title>Black Forest Cherry Torte</title>
</head>
<body>
<h1>Black Forest Cherry Torte</h1>
<h2>Ingredients</h2>
<ul>
<li>
Chocolate Spongecake:
</li>
<li>
8 large eggs, separated
</li>
<li>
1/2 cup sugar
</li>
<li>
6 tablespoons ground walnuts
</li>
<li>
1/2 vanilla bean, scraped contents
</li>
<li>
3 1/2 ounces bittersweet chocolate
</li>
<li>
6 tablespoons butter, melted, cooled to lukewarm
</li>
<li>
1/2 cup flour mixed with
</li>
<li>
1 1/8 cups cake crumbs
</li>
<li>
Filling:
</li>
<li>
1 poundjar Morello cherries with juice (15 oz
</li>
<li>
fruit)
</li>
<li>
1/2 cup sugar
</li>
<li>
2 heaping teaspoons cornstarch
</li>
<li>
3 1/4 cups cream
</li>
<li>
1/4 cup kirsch mixed with 3 tablespoons sugar
</li>
<li>
syrup
</li>
<li>
chocolate curls and confectioners&#39; sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Spongecake:
</li>
<li>
Lightly grease the base of a springform pan and line with parchment paper; don&#39;t grease the sides.  Preheat the oven to 375.
</li>
<li>
Put the egg yolks, about a quarter of the sugar and the ground nuts into a bowl and mix.  Add the scraped contents of the vanilla bean.
</li>
<li>
Whisk the egg yolk until frothy (this can be done with a mixer).  Beat until the volume has at least doubled.  
</li>
<li>
Melt the chocolate over hot water and stir it into the mixture while lukewarm.
</li>
<li>
Continue to shisk until the chocolate is blended completely into the mixture.  Then stir in the lukewarm melted butter.
</li>
<li>
Whip the egg whites into soft peaks with the rest of the sugar.  (The meringue should be airy and light, yet somewhat creamy, so that it binds well with the egg yolk and butter batter and the flour mixture in the final phase;  this is achieved by whipping the sugar and egg whites together from the start of the egg white whipping process.)
</li>
<li>
Stir in a tird of the whipped egg whites into the chocolate mixture, using a circular motion.
</li>
<li>
Add the remainder of the whipped egg whites, trickle in the flour and bread crumb mixture, and fold in.
</li>
<li>
Pour the batter into the prepared springform pan and smooth the top with a dough scraper.
</li>
<li>
Filling:
</li>
<li>
Drain the cherries, reserving the juice.  Bring 1 cup of the juice to a boil with about one third of the sugar and the cinnamon.  Remove the cinnamon stick.  Mix the cornstarch with a little cold water, add the juice and cook until thick.  Set aside 16 cherries for decoration.  Add the remainder to the thickened juice and stir in gently, being careful not to crush the fruit.  Bring to a boil again and then remove from the heat.  Allow to cool.
</li>
<li>
Whip the cream with the remaining sugar until stiff.  Cut the cake into thirds.  Spread the bottom layer with the shipped cream, then pipe 4 large rings of whipped cream on top.  Fill the gaps between the rings with the cherry filling.  Place the second layer of the spongecake on top, press down and moisten with the kirsch and sugar syrup.  Make the rings again and fill with cherry filling.  Place the last layer on top.  
</li>
<li>
Spread a layer of cream on top and and sprinkle with kirsch and sugar syrup.  Spread cream around the sides.  Cover the top with chocolate curls.  Pipe cream rosettes around the edge and decorate with cherries.  Dust the center of the cake with confectioners&#39; sugar.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A beautiful and delicious &quot;special occasion&quot; dessert.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;The Chocolate Bible&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;10 inch cake&quot;
</p>
<p>
SERVINGS: 16
</p>
</body>
