<h1>Black Bean Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. black beans, soak overnight
</li>
<li>
chicken stock or vegetable stock, cover beans by 2&quot;
</li>
<li>
1 1/2 cups freshly squeezed orange juice
</li>
<li>
2 large onion, diced
</li>
<li>
2 carrots, diced
</li>
<li>
2 celery, diced
</li>
<li>
4 cloves garlic
</li>
<li>
corn oil
</li>
<li>
1 tablespoon dried oregano
</li>
<li>
1 tablespoon freshly ground cumin
</li>
<li>
2 bay leaves
</li>
<li>
(both oregano/cumin/bayleaf roasted in
</li>
<li>
saute pan until fragrant)
</li>
<li>
1 tablespoon finely ground coffee
</li>
<li>
Tabasco sauce or chipole sauce to taste
</li>
<li>
sea salt or kosher salt to taste
</li>
<li>
Soy sauce, if desired to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Sweat mirepoix and  garlic  in corn oil.  Combine with beans,  stock and orange juice (after draining beans from overnight soaking liquid) and cook  about one hour or until beans are tender.    Puree 1/2 or all  of bean mixture.   If too thick add additional stock to thin slightly.   Add salt and soy sauce ( if desired) to taste.  
</li>
<li>
Top with sour cream and cilantro.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Millennium
</p>
</div></body>
