<h1>Blackberry Mint Sorbet</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/2 cup dark honey
</li>
<li>
1/2 cup cassis (black current), liqueur
</li>
<li>
1/2 cup fresh mint leaves, without stems
</li>
<li>
2 16 oz bag frozen unsweetened blackberries, thawed, or 2 1/2 cups fresh
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place honey, liqueur and mint leaves in a heavy nonreactive saucepan and cook until hot.
</li>
<li>
Remove from heat and strain to remove the mint.  Cool.
</li>
<li>
Place berries in food processor and add syrup.  Process until smooth.
</li>
<li>
Chill until very cold.  Freeze in ice cream maker.  Serve with additional berries, if desired.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: Adapted from Cheryl Foberg, R.D.
</p>
</div></body>
