<h1>Black Chili Paste  (Nam Prik Pow)</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup vegetable oil
</li>
<li>
4 ounces dried green jalapeno peppers
</li>
<li>
1 cup shallots, chopped
</li>
<li>
1 cup garlic, chopped
</li>
<li>
8 ounces dried shrimp
</li>
<li>
2 tablespoons shrimp paste
</li>
<li>
1/3 cup fish sauce
</li>
<li>
1/4 cup sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat a small pan with the oil and deep-fry the dried peppers, shallots and garlic until dark brown.  Place the fried ingredients with all the others in a blender, and process until a smooth mixture forms.
</li>
<li>
Pour the entire mixture into a medium skillet and fry on medium heat for 5 minutes.  Remove, cool, and place in a jar with a tight lid and use as needed.  It will keep indefinitely.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Use in any Thai dish giving a richer and spicy taste.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;4 cups&quot;SOURCE: Thailand, The Beautiful Cookbook
</p>
</body>
