<h1>Black Bean Cakes with Shrimp &amp; Chili Beurre Blanc</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. black beans, cooked
</li>
<li>
Cakes:
</li>
<li>
2 tablespoons canola oil
</li>
<li>
1 onion, minced
</li>
<li>
3 cloves garlic, crushed
</li>
<li>
1 red bell pepper, finely diced
</li>
<li>
1 green bell pepper, finely diced
</li>
<li>
1 jalapeno chile pepper, minced
</li>
<li>
2 tablespoons chile powder, or less if desired
</li>
<li>
1 lb. cooked black beans, above
</li>
<li>
1/2 teaspoon cumin seed, ground
</li>
<li>
1 tablespoon cilantro, minced
</li>
<li>
salt and pepper, to taste
</li>
<li>
Salsa:
</li>
<li>
2 cloves garlic
</li>
<li>
1 small onion, minced
</li>
<li>
1 green pepper, minced
</li>
<li>
1 jalapeno chile pepper, minced
</li>
<li>
1/2 lime juice
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1/4 bunch cilantro, chopped
</li>
<li>
60 21-25 shirmp, butterflied
</li>
<li>
Chili Beurre Blanc:
</li>
<li>
1 tablespoon shallots, minced
</li>
<li>
1/4 cup white wine
</li>
<li>
1 tablespoon chile sauce
</li>
<li>
1/4 cup heavy cream
</li>
<li>
1 cup unsalted butter, cubed and cold
</li>
<li>
salt and pepper, to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
sour cream -- for garnish
</li>
<li>
Preheat oven to 450F.  Grease a baking sheet.  Heat oil  and saute onion, garlic and peppers until softened.  Add the remainng ingredients for the bean cakes.
</li>
<li>
Remove 2/3 of the bean mixture and pass through a food mill or potato ricer, leaving a coarse texture.  Return the &quot;mashed&quot; portion to the pan and stir in the seasoning and lime juice.  Remove from heat and spread out 3/4 inch on the greased baking sheet.  Chill thoroughly in the frig.
</li>
<li>
Cut the cooled cakes into 3&quot; circles with a cookie cutter.  Place the cakes on a slightly greased sheet pan and bake for 5 minutes.
</li>
<li>
Salsa:  Mix the ingredients.  If time permits, the salsa can be left at room temperature to blend the flavors.
</li>
<li>
Shrimp:  Shell the shrimp, leaving the tail.  With a sharp pairing knife, cut almost all the way through the shrimp and press open (like a butterfly).  Toss the shrimp in a little olive oil and salt and pepper.
</li>
<li>
Preheat the grill and grill the shrimp for about 3 minutes until they just begin to color.
</li>
<li>
Beurre Blanc:  In a small saucepan, place the shallots, white wine, chile sauce and cook until the volume is reduce to about 1 tablespoon.
</li>
<li>
Add the cream and reduce to 1 tablespoon.  Whisk in the butter a little at a time, completey incorporating with each tablespoon or so before adding more cold butter.  Add all the butter in this manner.  
</li>
<li>
Plate with the bean cake in the center of the plate.  Serve with shrimp and cilantro surrounding.  Drizzle the shrimp with beurre blanc and garnish the bean cake with salsa and sour cream.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;The White House Inn in St. Kitts&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Janice Barber
</p>
</body>
