<head>
<title>Black Bean Salsa</title>
</head>
<body>
<h1>Black Bean Salsa</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups black beans
</li>
<li>
2 mango, cubed
</li>
<li>
2 papaya, cubed
</li>
<li>
5 plum tomatoes, cubed
</li>
<li>
3 teaspoons garlic, minced
</li>
<li>
1/2 large red onion, minced
</li>
<li>
1 1/2 bunches cilantro, chopped
</li>
<li>
1 -2 limes, juiced
</li>
<li>
salt and pepper to taste
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
