<h1>Blackening Seasoning</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/4 cup sweet paprika
</li>
<li>
6 1/2 tablespoons salt
</li>
<li>
4 teaspoons garlic powder
</li>
<li>
4 teaspoons onion powder
</li>
<li>
4 teaspoons cayenne pepper
</li>
<li>
1 tablespoon ground white pepper
</li>
<li>
1 tablespoon ground black pepper
</li>
<li>
2 teaspoons dried oregano
</li>
<li>
2 teaspoons dried thyme
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine and mix well.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Judy Adams-Smith
</p>
</div></body>
