<head>
<title>Blanquette of Veal</title>
</head>
<body>
<h1>Blanquette of Veal</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 lbs. veal, 1&quot; cubes
</li>
<li>
1 carrot, peeled
</li>
<li>
1 celery/md
</li>
<li>
1 leek, cut in half, white only
</li>
<li>
1 clouted onion*
</li>
<li>
BG (can incorp. leek, carrot, celery)
</li>
<li>
thyme, parsley, bay leaf, garlic
</li>
<li>
2 1/2 quarts veal stock (can be mixed with
</li>
<li>
chicken stock)
</li>
<li>
Roux
</li>
<li>
4 ounces butter (approximate)
</li>
<li>
4 ounces flour (approximate)
</li>
<li>
Liaison
</li>
<li>
2 1/2 egg yolks
</li>
<li>
1 cup cream
</li>
<li>
ks, wp, nutmeg, lj
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Blanch the veal to wash away impurities that might color sauce:  place in pot and cover with cold water.  Bring to a boil, drain, and rinse the meat under cold water.
</li>
<li>
2.  Place the meat in  stock pot.  
</li>
<li>
3.  Sweat the mirepoix and add to stock pot with BG.
</li>
<li>
4. JUST cover the veal with white stock and place in oven or simmer until meat is tender about 1 1/2 hours.  
</li>
<li>
5.  Remove from oven and reserve meat; cover with plastic wrap.  Discard BG.
</li>
<li>
6.  Strain stock into another pan and reduce to about 1/2.
</li>
<li>
7.  Prepare a WHITE roux of half butter and half flour.  Beat into stock to make a veloute sauce and simmer until correct consistancy.
</li>
<li>
8.  Temper the liaison and add to sauce (having removed from heat).  Return sauce to burner and heat gently.  
</li>
<li>
9.  Season with ks, wp, nutmeg and lj.  Add meat.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 25
</p>
<p>
SOURCE: Chef Klaus Loos/Gisslen
</p>
</body>
