<h1>Blinis</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
The original blini (the word literally means &#39;&#39;yeast pancakes&#39;&#39;) were made with buckwheat flour. Today, white flour is often added, to yield lighter blini.
</li>
<li>
RECIPE INGREDIENTS
</li>
<li>
1/4 teaspoon active dry yeast
</li>
<li>
1 cup lukewarm milk
</li>
<li>
1/2 cup buckwheat flour
</li>
<li>
1/2 teaspoon sugar
</li>
<li>
1/4 teaspoon salt
</li>
<li>
2/3 cup all purpose flour
</li>
<li>
2 tablespoons sour cream
</li>
<li>
1/4 cup heavy cream
</li>
<li>
2 eggs, lightly beaten
</li>
<li>
1 tablespoon unsalted butter, melted
</li>
<li>
1 tablespoon vegetable oil
</li>
<li>
DIRECTIONS
</li>
<li>
Combine yeast and milk in a large bowl. Mix well, then add buckwheat flour, sugar, and salt. Mix thoroughly, cover with plastic wrap or a clean dish towel, and set aside to rise until bubbles appear on surface, about 1 hour.
</li>
<li>
Add all purpose flour, sour cream, heavy cream, eggs, and butter. Mix well, cover, and set aside to rise for 2 hours more.
</li>
<li>
Heat 1 tablespoon oil in a large nonstick skillet over medium heat. Cook blini a few at a time (adding oil as necessary). Spoon batter, 1tablespoon at a time, into hot pan and smooth with back of spoon (blini will flatten as they cook). Cook until edges brown and bubbles appear on surface, about 1 minute. Flip blini; cook for 30 seconds more. Transfer finished blini to a plate and cover with a clean dish towel while finishing cooking. Serve blini warm, brushed with melted butter if desired, and topped with caviar.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: Saveur Magazine
</p>
</div></body>
