<h1>Blondies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/2 cup unsalted butter
</li>
<li>
1 1/3 cups  flour
</li>
<li>
1/4 teaspoon baking powder
</li>
<li>
1/4 teaspoon baking soda
</li>
<li>
pinch of salt
</li>
<li>
3/4 cup +2 tbps. sugar
</li>
<li>
1 tablespoon molasses
</li>
<li>
1 large egg, lightly beaten
</li>
<li>
2/3 cup white chocolate chips, or semisweet chocolate chips
</li>
<li>
1/4 cup Heath Bar, coarsely chopped
</li>
<li>
1/2 cup pecans, coarsely chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 325F.  Butter an 8&quot; square pan.  
</li>
<li>
In a medium bowl combine flour, baking powder baking soda and salt.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Melt the butter in a medium saucepan.  When hot, stir in sugar and molasses and trasfer to a large bowl to cool.  When cool, whisk in egg until slightly fluffy.  Mix in flour mixture until combined.  Fold in chips, Heath Bar and pecans.  Transfer to the prepared pan.  Bake until golden and a toothpick inserted into the middle comes out with crumbs adhering to it, 30-35 minutes.  Cool and cut.SOURCE: New York Times Adaptation from Cynthia Barcomi&#39;s Backbunch
</p>
</div></body>
