<h1>Blueberry Lemon Muffins</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup butter, room temperature
</li>
<li>
2 1/4 cups sugar
</li>
<li>
4 large eggs
</li>
<li>
2 2/3 cups all-purpose flour
</li>
<li>
1 1/4 teaspoons salt
</li>
<li>
2 1/2 teaspoons baking powder
</li>
<li>
1 1/3 cups whole milk, room temperature
</li>
<li>
2 tablespoons of lemon zest, finely grated
</li>
<li>
1/8 teaspoon nutmeg
</li>
<li>
2 cups fresh or thawed frozen blueberries
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Preheat the oven to 350 F.  Butter 3 large muffin tins.
</li>
<li>
2.  In the bowl of a tabletop mixer fitted with the flat beater, cream the butter and sugar until fluffy.  Add the eggs, one at a time, waiting until each is incorporated before adding the next.
</li>
<li>
3.  In a separate bowl, combine the flour, salt and baking powder.
</li>
<li>
4.  Beginning and ending with the milk, alternately add the milk and dry ingredients to the batter in 3 or 4 additions, mixing thoroughly after each addition.  Add the lemon zest and mix just until blended.
</li>
<li>
5.  Scoop the batter, with an ice cream scooper, into prepared muffin pans.  Place the pans on the center rack in the oven and bake for approximately 18 minutes until golden brown and spring back when touched.  Loosen them from the pans within minutes so that they do not become soggy on the bottom and place on racks to cool.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This recipe can be changed or modified by changing the fruit OR
</p>
<p>
  adding 1/2 cup poppy seeds for Poppy Seed Muffins.&quot;
</p>
<p>
SERVINGS: 36
</p>
<p>
SOURCE: Ortiz....The Village Baker&#39;s Wife
</p>
</body>
