<head>
<title>Blueberry Cheese Danish</title>
</head>
<body>
<h1>Blueberry Cheese Danish</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Yield:  10 Servings
</p>
<p>
RECIPE INGREDIENTS
</p>
<p>
For the Danish:
</p>
<p>
3/4 cup 1 percent cottage cheese
</p>
<p>
1/3 cup sugar
</p>
<p>
1/3 cup 1 percent milk
</p>
<p>
1/4 cup canola oil
</p>
<p>
1 teaspoon vanilla extract
</p>
<p>
2 cups all-purpose flour
</p>
<p>
2 teaspoons baking powder
</p>
<p>
1/2 teaspoon salt
</p>
<p>
For the Filling:
</p>
<p>
4 ounces reduced-fat cream cheese
</p>
<p>
1/4 cup sugar
</p>
<p>
1 egg, separated
</p>
<p>
1 teaspoon grated lemon peel
</p>
<p>
1 teaspoon vanilla extract
</p>
<p>
1 cup fresh or frozen blueberries
</p>
<p>
1 tablespoon water
</p>
<p>
For the Glaze:
</p>
<p>
1/2 cup confectioners&#39; sugar
</p>
<p>
2 teaspoons lemon juice
</p>
<p>
DIRECTIONS
</p>
<p>
In a blender or food processor, cover and process cottage cheese until smooth. Add sugar, milk, oil and vanilla; process until smooth.
</p>
<p>
Combine the flour, baking powder and salt; add to cheese mixture. Process just until dough forms a ball (dough will be sticky). Turn onto a floured surface; knead 4-5 times. Place in a bowl; cover and refrigerate for 30 minutes.
</p>
<p>
In a mixing bowl, beat cream cheese and sugar until smooth. Add egg yolk, lemon peel and vanilla; mix well. Turn dough onto a 17-in. x 13-in. piece of parchment paper. Roll into a 16-in. x 12-in. rectangle. Transfer with paper to a baking sheet.
</p>
<p>
Spread cream cheese mixture lengthwise in a 3-1/2-in.-wide strip down center of dough; sprinkle with blueberries. On each long side, cut 1-in.-wide strips about 3-3/4 in. into center. Fold alternating strips at an angle across berries. Pinch ends to seal and tuck under. Beat egg white and water; brush over dough.
</p>
<p>
Bake at 400 degrees F for 20-22 minutes or until golden brown. Remove to a wire rack. Combine glaze ingredients; drizzle over warm pastry. Refrigerate leftovers.
</p>
<p>
SOURCE: Healthy Cooking
</p>
</body>
