<head>
<title>Blueberry Raspberry Pie</title>
</head>
<body>
<h1>Blueberry Raspberry Pie</h1>
<h2>Ingredients</h2>
<ul>
<li>
Crust:
</li>
<li>
1 large egg white
</li>
<li>
1 1/2 cups graham cracker crumbs, 12 whole crackers
</li>
<li>
1 1/2 tablespoons butter, melted
</li>
<li>
1 1/2 tablespoons canola oil
</li>
<li>
Filling:
</li>
<li>
2 cups blueberries, fresh or frozen
</li>
<li>
2 cups raspberries, fresh or frozen
</li>
<li>
2/3 cup sugar
</li>
<li>
1/4 cup dry white wine
</li>
<li>
2 1/2 tablespoons fresh lemon juice
</li>
<li>
1 envelope unflavored gelatin
</li>
<li>
2 tablespoons raspberry liqueur
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven 350F.  Lightly oil a 9&quot; pie pan or coat with nonstick cooking spray.
</li>
<li>
In a mixing bowl, whisk egg white until frothy.  Add graham cracker crumbs, butter and oil and blend with a fork  until thoroughly combined.  Press the mixture in an even layer on the bottom and sides of the pan pan.
</li>
<li>
Bake for 10 minutes, or until lightly browned.  Cool on a wire rack.
</li>
<li>
Filling:  In a 1 1/2 quart saucepan, combine 1 cup blueberries, 1 cup raspberries, sugar, wine and lemon juice.  Cook over low heat, mashing with the back of a spoon, for about 5 minutes, or until the sugar is dissolved.  Remove from the heat.
</li>
<li>
In a small saucepan, sprinkle gelatin over 1/4 cup water; let soften for about 3 minutes.  Heat over low heat for 1-2 minutes, or until the gelatin is dissolved.  Stir into the berry mixture.  Gently stir in the remaining 1 cup blueberries, 1 cup rasberries and liqueur.  Pour into a heat-proof bowl and set it over a larger pan of ice water.  Stir gently for about 5 minutes or until the mixture thickens slightly.  Pour into the prepared crust, cover and refrigerate until set, 5 hours or overnight.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Yummmmmm.....the taste of summer.  Use fresh or frozen unsweetened
</p>
<p>
  berries.&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: The Eating Well Dessert Cookbook
</p>
</body>
