<head>
<title>Blueberry Peach Cobbler</title>
</head>
<body>
<h1>Blueberry Peach Cobbler</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 cups blueberries
</li>
<li>
5 cups peaches
</li>
<li>
1/2 lemon juice
</li>
<li>
1/2 teaspoon lemon zest, minced
</li>
<li>
1/2 cup (approx.) sugar
</li>
<li>
1/4 teaspoon allspice
</li>
<li>
1/4 teaspoon freshly grated nutmeg
</li>
<li>
1/2 teaspoon lemon juice
</li>
<li>
1 tablespoon Minute Tapioca
</li>
<li>
Cobbler Mixture:
</li>
<li>
2 cups AP flour
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 tablespoon baking powder
</li>
<li>
5 tablespoons sugar
</li>
<li>
6 tablespoons unsalted butter
</li>
<li>
4 tablespoons vegetable shortening
</li>
<li>
3/4 cup milk
</li>
<li>
1 large egg yolk
</li>
<li>
heavy cream for serving
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 375F.
</li>
<li>
Fruit Mixture: Wash and cut into bite size pieces.  Make sure that fruit is well drained.  Toss fruit with all ingredients up to cobbler mixture.  Pour into a 2 quart baking dish.
</li>
<li>
Cobbler Dough:  In the bowl of a food processor combine the flour, salt, baking powder and 4 tablespoons of the sugar and pulse for 2 seconds to mix.  Then add the cold butter pieces and the vegetable shortening (in 1 tablespoon lumps) and process in 1 second bursts until flour is slightly yellow in color and the texture of coarse meal (10-12 bursts).  
</li>
<li>
Whisk together the milk and egg yolk.  Transfer flour mixture to a large bowl and gradually add two-thirds of the milk mixture, mixing with a rubber spatula.  If necessary, add more of the milk mixture so that the dough holds together easily in a ball.  (Additional milk may be added if necessary).  Now lightly press dough together into a rough ball.  The dough will be extremely soft.
</li>
<li>
Place dish with fruit mixture into oven.  Bake for 10 minutes and then toss fruit with a large spoon.  Meanwhile, roll out dough to a size smaller than the baking dish.  Cut into rounds, squares, or triangles.  When fruit has cooked for a total of 15 minutes, remove from oven.  Increase oven temperature to 425 degrees.  Top fruit wiht dough shapes.  Sprinkle dough with the remaining 1 tablespoon of sugar.
</li>
<li>
Return dish to oven and bake for an additional 20 minutes, or until dough is browned and fruit is bubbly and tender.  Allow to cool for 30 minutes before serving with heavy cream or vanilla ice cream.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Christopher Kimball
</p>
</body>
