<head>
<title>BonBon Cookies</title>
</head>
<body>
<h1>BonBon Cookies</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup soft butter
</li>
<li>
3/4 cup sifted powdered sugar
</li>
<li>
1 tablespoon vanilla
</li>
<li>
food coloring, if desired
</li>
<li>
1 1/2 cups flour
</li>
<li>
1/8 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat oven to 350F.  Mix butter, sugar, vanilla and food coloring thoroughly.   Sift flour and measure and add with salt.  If dough is dry, add 1-2 tablespoons of cream.  Wrap level tablespoon dough around filling (a candied or well drained maraschino cherry, pitted date, nut or chocolate pieces).  Place 1&quot; apart on ungreased baking sheet.  Bake 12-15 minutes being careful not to allow to brown.  Cool. Dip tops of cookies in Icing.  Decorate.
</li>
<li>
Chocolate Dough:  Omit food coloring; blend in 1 sq. unsweetened chocolate (1 oz.) melted.
</li>
<li>
Icing:  Mix 1 cup sifted powdered sugar, 2 tablespoon cream, 1 teaspoon vanilla and food coloring, if desired.
</li>
<li>
Chocolate Icing:  Add 1 square unsweetened chocolate (1 oz.), melted, and use 1/4 cup cream.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Betsy has been making these cookies since she was a little girl and Christmas is not the same without them  One or ten is all you need!
</p>
<p>
SERVINGS: 20
</p>
<p>
SOURCE: Betsy Hjort
</p>
</body>
