<h1>Bougatsa</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups milk
</li>
<li>
1/2 cup + 2 tablespoons sugar
</li>
<li>
2 large eggs, lightly beaten
</li>
<li>
1/2 cup fine semolina
</li>
<li>
3/4 cup clarified butter, or 1 1/2 sticks
</li>
<li>
1/2 lb. phyllo dough
</li>
<li>
ground cinnamon, to taste, for sprinkling
</li>
<li>
confectioners&#39; sugar, to taste, for sprinkling
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 350F.  In the top of a double boiler over simmering water, combine the milk, sugar, eggs and semolina.  Cook, stirring constantly, until the mixture bubbles and thickens.  Remove the top of the double boiler from the heat and set aside to cool.  
</li>
<li>
Brush a 15&quot; pizza pan with a little of the melted butter.  Remove about half of the phyllo from a one pound package and set it aside, covered with waxed paper and a damp cloth.  Tightly rewrap the remaining phyllo and refrigerate or freeze.  
</li>
<li>
On a large work surface, butter half of the phyllo sheets, arranging each one in the pan as you go, overlapping the sheets so that they completely cover the bottom of the pan with about half of each sheet hanging over the side. 
</li>
<li>
Pread the semolina mixture (it will thicken some as it cools) in the bottom of the pan over the phyllo.  
</li>
<li>
Butter the remaining sheets of phyllo, laying them over the filling, but do not allow these to hang over the side of the pan.  Generously butter to top layer of phyllo.  Bring the bottom overhang over the top to seal.  Brush with the remaining butter.  Prick the top in many places with a fork.  Bake for 30-35 minutes, or until golden brown.
</li>
<li>
Remove from the oven and sprinkle generously with cinnamon.  Set aside to cool for about 10 minutes.  Sprinkle heavily with confectioners&#39; sugar just before cutting and serving.  (A pizza wheel works great).
</li>
<li>
Leftovers should be covered and chilled.  Reheat at 300F for about 10 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This should be eaten warm (can easily be reheated) and sprinkled with
</p>
<p>
  lots of ground cinnamon and confectioners&#39; sugar.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;The Periyali Cookbook&quot;
</p>
<p>
SERVINGS: 6
</p>
</div></body>
