<h1>Bouillabaisse</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 lb. red snapper
</li>
<li>
1/2 lb. swordfish
</li>
<li>
1 lb. rock cod
</li>
<li>
1 lb. halibut
</li>
<li>
1 lb. mussels
</li>
<li>
1 1/2 lbs. clams
</li>
<li>
1 1/2 lbs. s medium shrimp
</li>
<li>
1 1/4 lbs. scallops
</li>
<li>
olive oil
</li>
<li>
12 cloves garlic
</li>
<li>
2 bunches parsley
</li>
<li>
1 1/2 cups leeks, julienned
</li>
<li>
1 1/2 cups onion, julienned
</li>
<li>
1 1/2 cups carrots, julienned
</li>
<li>
3/4 cup celery, julienned
</li>
<li>
1 1/2 cups fennel, julienned
</li>
<li>
4 tablespoons herbs de Provence
</li>
<li>
2 tablespoons saffron
</li>
<li>
1 cup basil, chopped
</li>
<li>
salt
</li>
<li>
pepper
</li>
<li>
1 cup Pernod
</li>
<li>
2 tablespoons tomato paste
</li>
<li>
2 cups tomato concasse
</li>
<li>
1 1/2 gallons fish stock
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut fish in 1 x 1&quot; pieces.
</li>
<li>
In a large pot sweat all the julienne vegetables with the olive oil.  Add HdeP, s/p, saffron and basil.  Cook for a few minutes.
</li>
<li>
Add Pernod and reduce a few minutes.  Add the tomato paste and puree.  Cover with the fish stock and simmer for 15 minutes.  
</li>
<li>
Add the fish and simmer for 5 minutes.
</li>
<li>
Rouille:  Puree 3 cloves of garlic with 1/2 cooked baked potato.  Add 1 1/2 cup of olive oil.  Add s/p, lemon juice.  Finish the sauce with 2 tbsp. tomato paste.
</li>
<li>
Garlic Crouton.  Cut slices of good bread.  Brush with olive oil.  Place in oven to crisp.  Rub with cut garlic.  
</li>
<li>
Serve the Bouillabaisse in a soup bowl with croute and rouille.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;The famous Mediterranean seafood soup....enjoy!!  A variety of fish
</p>
<p>
  can be used, as long as it is not oily.  Here are suggestions.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
