<head>
<title>Boullabaise</title>
</head>
<body>
<h1>Boullabaise</h1>
<h2>Ingredients</h2>
<ul>
<li>
Gallon of fish stock
</li>
<li>
onions
</li>
<li>
leeks
</li>
<li>
celery
</li>
<li>
tomatoes (peeled)
</li>
<li>
garlic
</li>
<li>
bg
</li>
<li>
orange rind, 1 strip
</li>
<li>
fennel
</li>
<li>
Pernod
</li>
<li>
parsley
</li>
<li>
saffron, pinch steeped
</li>
<li>
1 tablespoon tomatoe paste
</li>
<li>
croutes fried in oil and rubbed in garlic
</li>
<li>
Sauce Rouille
</li>
<li>
Marinade: 3T o/o
</li>
<li>
2 cloves garlic
</li>
<li>
pinch saffron, steeped
</li>
<li>
Fish: Mediterranian choices +, red snapper, sea bass, striped bass, monkfish, halibut, john dory...some of the possibilities..a mixture; fresh
</li>
<li>
clams, mussels
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
