<head>
<title>Braciole</title>
</head>
<body>
<h1>Braciole</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/2 lbs. beef round, or pork shoulder
</li>
<li>
1 bunch parsley, minced
</li>
<li>
12 leaves sage, minced
</li>
<li>
1 clove garlic, smashed
</li>
<li>
1/2 cup pecorino cheese, grated, or parmesan
</li>
<li>
1/2 lb. ground veal, veal, pork or beef
</li>
<li>
1/3 cup bread crumbs
</li>
<li>
1 raw egg, to bind
</li>
<li>
salt and pepper
</li>
<li>
6 hard boiled eggs
</li>
<li>
12 slices soprasata, sliced thin, or lean ham
</li>
<li>
8 ounces provolone cheese, sliced thin
</li>
<li>
1 onion, small dice
</li>
<li>
3 large cloves garlic, minced
</li>
<li>
1 cup stock, chicken or beef
</li>
<li>
1/4 cup tomato paste
</li>
<li>
salt and pepper
</li>
<li>
2 cups mushrooms, sliced, seared, hold for end
</li>
</ul>
<h2>Method</h2><ul>
<li>
Have the round steak butterflied or cut in half lengthwise to make thinner.  Cut into 12 pieces and pound flat.  Mix the parsley, sage, garlic, pecorino, ground meat, bread crumbs and egg.  Season with salt and pepper remembering that the pecorino is salty.  
</li>
<li>
Lay the flattened pieces of beef out and prepare to fill.  Top with a slice of soprasata, and then a slice of provolone.  Spread the meat mixture on the cheese, dividing between the pieces of meat.    Cut the eggs in half, lengthwise and place one half on top of the mixture at the end.  Roll up and secure with a toothpick.
</li>
<li>
Heat a large braising pot or dutch oven on the stove.  When hot, place a bit of olive oil in pan.  Add the brociole, season with s/p  and brown all around.  Remove from pan.  Add the onion and garlic and cook until softened.  Add the wine and deglaze and reduce about 1/3.  Add the stock and the tomato paste, mixing well.  Return the brociole to the pot and braise in 375F oven for at least 60 minutes.  
</li>
<li>
Meanwhile, sear the mushrooms in a separate pan over high heat.  If you wish you can add a bit of pancetta at the beginning the searing process to add a little flavor.  Season lightly with salt and pepper.  When cooked to a great color...take off the heat and hold.
</li>
<li>
When the braciole is cooked through, remove from pan and place on warm platter.  Pour the sauce into a sauce separator and allow the fat to come to the top.  Pour the hot sauce over the braciole (stopping at the fat line) and serve.  
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A wonderful braised dish....can be made with pork or beef.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
