<h1>Braised Stuffed Beef Rolls</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 lbs. top round steak, sliced 1/2 thick, trimmed and pounded 1/4&quot; thick
</li>
<li>
6 teaspoons German style or hot mustard
</li>
<li>
1/4 cup onion, finely chopped
</li>
<li>
6 slices bacon
</li>
<li>
3 dill pickles, rinsed in cold water and cut lenghwise in half
</li>
<li>
2 tablespoons lard
</li>
<li>
2 cups water
</li>
<li>
1 cup celery, coarsely chopped
</li>
<li>
1/4 cup leeks, thinly sliced
</li>
<li>
1 tablespoon parsnip, finely chopped scraped
</li>
<li>
3 sprigs parsley
</li>
<li>
1 teaspoon salt
</li>
<li>
1 tablespoon butter
</li>
<li>
2 tablespoons flour
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cut steaks into 6 rectangular pieces about 4&quot; wide and 8&quot; long.  Spread each with a teaspoon of mustard, 2 teaspoons of onions and place a slice of bacon down the center.  Lay a pickle half or quarter across the narrow end of each piece and roll the meat around it, jellyroll fashion, into a cylinder.  Tie the rolls at each end with kitchen string.
</li>
<li>
Melt the lard in a heavy large skillet and add the beef rolls, browning on all sides.  Transfer to a plate and pour the water into the skillet and bring it to a boil, deglazing as you go.  Add the celery, leeks, parsnip, parsley and salt, and return the beef rools to the skillet.  Cover and reduce to low, simmering for 1 hour.  Turn the rolls once or twice during the cooking process.  Transfer to heated platter and keep warm, covered.
</li>
<li>
Strain liquid.  Pour back into skillet and reduce to about 2 cups.  Remove from heat.  Meanwhile melt the butter in a small saucepan and add flour.  Lower the heat and cook, stirring constantly, until the flour turns a golden brown. Do not let it burn.  Gradually add the reduced liquid, beating vigorously with a whisk until the sauce is smooth and thick.  Taste for seasoning and return the sauce and the rouladen to the skillet.  Simmer only long enough to heat the rolls through.  Serve with sauce.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Rouladen&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Time-Life Cooking of Germany
</p>
</div></body>
