<h1> Braised Thai Chicken Legs on the Grill</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 teaspoons ground turmeric
</li>
<li>
2 teaspoons minced fresh ginger
</li>
<li>
1 teaspoon ground coriander
</li>
<li>
1/2 teaspoon cayeene pepper
</li>
<li>
2 teaspoons Kosher salt
</li>
<li>
12 whole skin-on chicken legs, with thighs attached
</li>
<li>
1 tablespoon canola oil
</li>
<li>
2 cups green onions, finely chopped
</li>
<li>
2 tablespoons garlic, minced
</li>
<li>
4 teaspoons fresh ginger
</li>
<li>
2 tablespoons Thai green curry paste
</li>
<li>
5-6 cups chicken stock
</li>
<li>
1/4 cup fish sauce
</li>
<li>
2 tablespoons sugar
</li>
<li>
Kosher salt
</li>
<li>
cilantro, if desired for garnish
</li>
</ul>
<h2>Method</h2><ul>
<li>
Rub:
</li>
<li>
Mix rub ingredients together and rug all over chicken legs.  Cover and place in the refrigerator for at least 2 hours.
</li>
<li>
Sauce:
</li>
<li>
Meanwhile, heat a large heavy pot, large enough to hold the legs, heat the oil.  Add the green onions and stir for 1 minute.  Add lemongrass and stir for 1 minute.  Add the garlic and ginger and stir another minute.  Stir in the curry paste, coating the vegetables.  Add the stock, fish sauce and sugar and bring to a boil.  Take from the heat.  
</li>
<li>
Turn on the grill, heating until hot with the lid down.  Open the lid and spray the rack.  Turn down the heat to medium and sear the legs until browned on both sides (cooking over direct heat).  Place the pot over the flame as you brown the chicken, keeping it hot.  (This can be done on an outside or inside burner, as well).   As the chicken browns, add to the pot with the sauce, carefully pushing the legs under the liquid.  After all the legs are browned and added to the pot, place the pot over the &quot;cool zone&quot; or indirect fire (fire remains on, on both sides or at the back of the grill, depending on which way your flame runs).  Cover the pot and close the lid of the grill.  Braise over indirect heat until the chicken is tender, about 30 minutes.  Transfer the chicken to a warm tray.  
</li>
<li>
Pour the braising liquid into a gravy separator or a large glass measuring cup, allowing the fat to come to the top.  Pour liquid out of the gravy separator, leaving the fat behind; or, skim the fat off from the top of the liquid in the large measuring cup. 
</li>
<li>
Glaze:
</li>
<li>
Turn up the grill again for direct grilling.  Strain enough of the braising liquid to equal 2 cups liquid.  Place in a small saucepan and reduce to about 1/2-3/4 cup glaze.  Return the strained solids to the braising liquid.
</li>
<li>
Brush the glaze over one side of each chicken leg and grill glaze side down, 2-3 minutes over medium direct heat, being careful not to burn.  Meanwhile brush the other side of the legs with the glaze and then turn over and grill briefly.  
</li>
<li>
Reheat the braising liquid.  Serve the one leg per person with jasmine rice, spooning some of the braising liquid over.  Garnish with cilantro if desired.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adopted from Fine Cooking
</p>
</body>
