<head>
<title>Braised Pork Ribs with Polenta</title>
</head>
<body>
<h1>Braised Pork Ribs with Polenta</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 tablespoons olive oil
</li>
<li>
6 ounces pancetta, finely chopped
</li>
<li>
3 medium onions, finely chopped
</li>
<li>
3 medium stalks celery with leaves, minced
</li>
<li>
3 small carrots, minced
</li>
<li>
12 ounces beef shoulder (chuck) steak
</li>
<li>
12 ounces boneless pork loin, trimmed of fat
</li>
<li>
5 lbs. lean country-style pork spareribs
</li>
<li>
3 tablespoons olive oil
</li>
<li>
1 large onion, minced
</li>
<li>
4 tablespoons Italian parsley, minced
</li>
<li>
2 large bay leaves
</li>
<li>
1 large clove garlic
</li>
<li>
large pinch of ground cloves
</li>
<li>
large pinch of ground cinnamon
</li>
<li>
large pinch of ground allspice
</li>
<li>
1/8 teaspoon freshly ground black pepper
</li>
<li>
1 cup dry red wine
</li>
<li>
2 16-oz. cans tomatoes with liquid (fresh
</li>
<li>
tomatoes in season only)
</li>
<li>
1/2 cup small Ligurian or Nicoise black olives, pitted
</li>
<li>
3 tablespoons fresh basil, chopped
</li>
<li>
salt and pepper
</li>
<li>
1 Recipe Polenta
</li>
</ul>
<h2>Method</h2><ul>
<li>
Trim excess fat from meat.  If pork is in one piece, separate into pieces by cutting between the ribs.  
</li>
<li>
Heat oil in saute pan.  Add the meat in a single layer.  Take about 20 minutes to brown slowly until dark brown and crusty on all sides.  Remove meat to a platter.
</li>
<li>
In the same pan add onion and parsley.  Cook until the onion carmelizes to a golden brown, taking care not to burn the brown glaze in the bottom of the pan.  Stir frequently.  Stir in the garlic, bay leaves and spices.  Return the meat to the pan, turning to coat it with the vegetables and seasonings.  Pour in the wine, adjusting the heat to a simmer.  As the wine cooks down over 10-15 minutes, use a wooden spatula to deglaze the pan.  Break up the tomatoes as you add them to the pan.  Stir in the olives and bring the mixture to a simmer.  Cover tightly and cook over low heat for one hour.  Add the basil, cover and cook gently another 30 minutes or until meat is tender.  Season with salt and pepper.  Skim any fat from the surface of the sauce before serving.
</li>
<li>
Spoon over hot polenta to serve.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Braised Pork Ribs with Polenta
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Lynn Rossetto Kasper/&quot;The Splendid Table&quot;
</p>
</body>
