<h1>Braised  Fennel</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 heats fennel bulb, cut in quarters
</li>
<li>
3 tablespoons olive oil
</li>
<li>
8 cloves garlic, lightly crushed
</li>
<li>
salt and pepper
</li>
<li>
2 cups white wine or chicken stock
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place olive oil in heated saute pan.  Add fennel, season with salt and pepper, and sear to caramelize until golden.  Add garlic about 1/2 way through the searing process.
</li>
<li>
Add wine or chicken stock and cover to braise fennel until tender about 20-30 minutes.  Check periodically to see if more liquid is required.  Taste for seasoning and serve as a side dish.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fennel is commonly used all over Italy.  This preparation brings out
</p>
<p>
  its natural and delicious sweetness.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
