<h1>Braised Onions</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 lbs. onions, (sm. in quarters)
</li>
<li>
6 tablespoons unsalted butter
</li>
<li>
1 cup chicken stock
</li>
<li>
1/3 cup cider vinegar
</li>
<li>
2 1/2 tablespoons sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Peel onions.  Melt butter in large skillet.  Add onions and cook until browned on all sides, 8-10 minutes stirring frequently.  Add stock.  Cover and cook until barely tender, 18-20 minutes.
</li>
<li>
Pour in vinegar, sprinkle sugar over top and blend gently.  Cover and cook until onions are tender when pierced with knife, about 10 minutes.  Uncover and increase heat to medium high and cook until liquid is syrupy for 3-5 minutes.  Serve hot.  Onions can be prepared ahead and reheated.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : A Must with Thanksgiving DinnerNOTES : Everytime I make this at Thanksgiving, I think of Wes Sanborn because he is always swooning over it as it simmers right before dinner is served and all those great smells are coming together.
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Bon Appetit--1982
</p>
</body>
