<head>
<title>Braised Short Ribs</title>
</head>
<body>
<h1>Braised Short Ribs</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 lbs. beef short ribs, cut 2&quot; thick
</li>
<li>
olive oil
</li>
<li>
1 bottle dry red wine, reduce all but 1 1/2 cups
</li>
<li>
herbs of your choice: thyme, rosemary,
</li>
<li>
chives...anything you like
</li>
<li>
7 cloves garlic, broken
</li>
<li>
bay leaves
</li>
<li>
salt and pepper
</li>
<li>
1/2 cup dried porcini mushroom
</li>
<li>
1 cup ruby port
</li>
<li>
3 tablespoons tomato paste
</li>
<li>
8 slices thick-sliced bacon, cut into 1&quot; pieces
</li>
<li>
2 large onions, rough chop
</li>
<li>
3 leeks, rough chop of white and pale green
</li>
<li>
2 carrots, peeled and roughly chopped
</li>
<li>
3 ribs celery
</li>
<li>
1 cup plum tomatoes, roughtly chopped
</li>
<li>
2 or 3 cups beef stock, smashed and dragged
</li>
<li>
3 tablespoons butter
</li>
<li>
3 tablespoons flour, mixed together (beurre manie)
</li>
<li>
parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place short ribs in a large bowl.  Cover with 1 1/2 cups of wine and about 1/2 cup olive oil.  Add herbs, garlic, bay leaves,  and s/p.  Place on counter for 1 hour or in frig for several hours.  Reduce the remaining wine to about 50%.  Reserve.
</li>
<li>
Place dried porcini mushrooms in bowl and cover with port.  Allow to soak until porcini are reconstituted, at least 1/2 hour.  (This can be done in the microwave on high for one minute).  With a slotted spoon, remove the porcinnis and half of the soaking liquid and place in food processor, processing until smooth.  Reserve the remaining soaking liquid.
</li>
<li>
In a large brasing pan, heat a couple of tablespoons of olive oil.  Cook bacon until cooked through, almost crisp.  Add the onions, leeks, carrots, celery and cook until soft.  Remove from pan and reserve.
</li>
<li>
Dust the meat lightly with flour. Place a couple of tablespoons of olive oil in the same pan.  Add the meat and brown all over.  This might be done in two batches.
</li>
<li>
Return all the meat, bacon and vegetables to the pan.  Bring back to a sizzle.  Add the porcini mixture and stir.  Add the plum tomatoes and stock and the reduced wine.
</li>
<li>
Cover the pan and place in 350-375F oven for approximately 2 hours.  Remove the meat from the sauce.  Strain the remaining sauce and press down in strainer to remove all juices.  Place back on heat.  If too thin, reduce slightly. Whisk in  beurre manie (kneaded butter) to thicken slightly if needed.  Taste to correct seasoning.  Return meat to pot.  Serve with parsley.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fabulous....and even better prepared the day before!&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
