<h1>Braised Lamb with Honey &amp; Almonds</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 tablespoons olive oil
</li>
<li>
2 large onions, chopped
</li>
<li>
4 lbs. boneless lamb from leg or shoulder, cut into 1-2&quot; chunks
</li>
<li>
salt and pepper, to taste
</li>
<li>
1 cup honey
</li>
<li>
3 cloves garlic, minced
</li>
<li>
2 teaspoons ground coriander
</li>
<li>
1/2 teaspoon cayenne
</li>
<li>
2 teaspoons ground caraway
</li>
<li>
1 teaspoon ground cumin
</li>
<li>
1 teaspoon ground fennel
</li>
<li>
2 cups lamb stock, chicken or beef stock can be used
</li>
<li>
2 cups whole blanced almonds
</li>
<li>
2 tablespoons butter
</li>
<li>
squeeze fresh lemon juice
</li>
<li>
cilantro leaves, chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat pan and add oil.  Add onion and cook until soft, about 10 minutes.  Remove with slotted spoon and increase heat to high. 
</li>
<li>
Add lamb pieces, do not crowd, browning and seasoning with salt and pepper.  Remove pieces as completed.  This might be done in batches.
</li>
<li>
When all the lamb is seared, turn off pan and pour off the fat.    Return the lamb to the pan.  Allow to cool for a few minutes.  Turn the pan back on to a medium heat and add the honey.  Stir occasionally, until the honey thins and coats all the lamb.  Add the garlic, cook a moment; the spices; and then the reserved onion.  Add the stock.  Cover and simmer steadily.  
</li>
<li>
Brown the almonds in a skillet until brown and fragrant.  Remove from heat.
</li>
<li>
Cook the lamb until tender, about 1 hour.  Stir in the almonds and butter.  Add the lemon juice.  Serve,  garnished with cilantro,  with couscous or rice.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Purchase a bone in leg of lamb and remove the meat.  Then make a
</p>
<p>
  little stock out of the lamb bone for this dish.....mmmmmmm.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Mark Bittman
</p>
</div></body>
