<head>
<title>Braised Leeks</title>
</head>
<body>
<h1>Braised Leeks</h1>
<h2>Ingredients</h2>
<ul>
<li>
Leeks
</li>
<li>
White Wine
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Use white part of leek only.
</li>
<li>
2.  Cut leeks in half.
</li>
<li>
3.  Place in saucepan, cover with white wine and s/p.
</li>
<li>
4.  Place parchment paper over to help create steam; cover with lid.
</li>
<li>
5.  Braise for 15 minutes; check with skewer for doneness; leave on 5 more
</li>
<li>
minutes if necessary.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Klaus Loos
</p>
</body>
