<h1>Braised Pumpkin with Coconut Milk (Canh Bi Ro Ham Dua)</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups raw pumpkin, peeled and cubed (3/4&quot;)
</li>
<li>
2 cups sweet potato, cubed
</li>
<li>
1/2 cup dried wood ear mushrooms, soaked in water for 10 minutes, then chopped
</li>
<li>
2 cups coconut milk
</li>
<li>
1/4 cup thick coconut cream
</li>
<li>
1/2 cup raw peanuts, soaked in warm water
</li>
<li>
1/2 cup zucchini, sliced 1/4&quot; thick
</li>
<li>
salt
</li>
<li>
1 teaspoon sugar
</li>
<li>
cilantro leaves, whole
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place pumpkin, sweet potatoes, mushrooms and thin coconut milk in a deep saute pan.  Bring to a boil and simmer until nearly done.  Add  the thick coconut milk, peanuts, zucchini and bring to a boil again.  Remove from heat.  Season to taste with salt and sugar.
</li>
<li>
Serve in a bowl and sprinkle with fresh cilantro.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a traditonal Buddhist vegetarian dish finished with raw
</p>
<p>
  peanuts.&quot;
</p>
<p>
SERVINGS: 6
</p>
</body>
