<head>
<title>Brie en Croute</title>
</head>
<body>
<h1>Brie en Croute</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 small round brie cheese
</li>
<li>
1/2 package puff pastry, or one sheet
</li>
<li>
2 tablespoons favorite chutney or jam
</li>
</ul>
<h2>Method</h2><ul>
<li>
Take brie out of wrapping and cut off rind on all sides. 
</li>
<li>
Roll out puff pastry sheet to thin rectangle.  Place brie round in the middle.  Top with jam.  Bring up corners and sides of puff pastry as though you are wrapping a package.  Pinch at &quot;waist&quot; to secure.  Place in freezer for a couple of hours (if you are going to do a couple to have extra, after freezing, wrap in plastic wrap and freeze for up to one month).
</li>
<li>
Take out of freezer and bake in preheated 425F oven for 10-12 minutes or until golden brown.  Serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is an easy and delicious hors d&#39;oeuvre to have around for any
</p>
<p>
  time of year.  Make it and freeze to have on hand during those busy
</p>
<p>
  times of year.&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
