<h1>Brie &amp; Spinach Phyllo Triangles</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 teaspoons olive oil
</li>
<li>
3 cloves garlic, thinly sliced
</li>
<li>
1 lb. fresh spinach, cleaned &amp; chopped
</li>
<li>
roughly
</li>
<li>
juice of 1/2 lemon
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
8 ounces rindless brie
</li>
<li>
1 box phyllo pastry sheets
</li>
<li>
1/2 lb. melted butter
</li>
<li>
1/8 teaspoon salt
</li>
<li>
1/8 teaspoon pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Saute garlic in olive oil until lightly browned, about 1 minute.
</li>
<li>
2.  Add spinach and saute until wilted.
</li>
<li>
3.  Season with salt, pepper and lemon juice to taste.  Allow mixture to cool in glass bowl about 10 minutes.
</li>
<li>
4.  Remove phyllo from package, lay out and cover those you are not working with,
</li>
<li>
with a damp towel to keep them from drying out.
</li>
<li>
5.  Place one sheet of phyllo on work surface with longer side toward you.  Lightly brush entire sheet with melted butter.  Continue to place one sheet on another, brushing each one individually with butter until you have four sheets stacked.  Trim the edges to make uniform.
</li>
<li>
6.  Cut phyllo from top to bottom into six equal parts.  Place 1 teaspoon of spinach mixture in bottom corner of each phyllo strip.  Proceed to fold as though a flag, making into triangle shapes.  Trim excess to make nice triangles.  Brush with butter.  Repeat whole process three more times. 
</li>
<li>
7.   Bake phyllo triangles in a 350F oven until golden brown about 10 minutes.  Serve immediately.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : Yield is 6 servings with 4 triangles each.
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Chef James Bradley/Alouette
</p>
</div></body>
