<h1>Brined &amp; Butterflied Grilled Chicken</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 whole chickens
</li>
<li>
Brine: 4 cups water: 1 cup salt: 1/2 cup
</li>
<li>
pure mable syrup, Brine chickens 6-8 hours
</li>
<li>
1 cup olive oil
</li>
<li>
6 cloves garlic
</li>
<li>
herb of choice, to taste
</li>
<li>
salt and pepper, to taste
</li>
<li>
crushed red pepper, to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Brine chickens.  Rinse.  Cut out back bone and spread open.  Place palms of hands on breast bone and press down with body weight, flattening chickens.
</li>
<li>
Place on indirect heat on grill and grill on one side for 20-30 minutes with lid down at 375-400F.  Turn and cook remaining side.  
</li>
<li>
Cut into serving size pieces.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;One of my favorite ways to enjoy chicken!&quot;
</p>
<p>
SERVINGS: 12
</p>
</body>
