<head>
<title>Brined &amp; Grilled Salmon Fillet</title>
</head>
<body>
<h1>Brined &amp; Grilled Salmon Fillet</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 3 1/2# salmon fillet
</li>
<li>
1 cup kosher salt
</li>
<li>
1 cup sugar
</li>
<li>
2 cups hot water
</li>
<li>
5 cups cold water
</li>
<li>
2 cups wood chips for smoking
</li>
<li>
olive oil
</li>
<li>
seasoning, such as paprika or a mixture of
</li>
<li>
fresh herbs
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix salt and sugar together with hot water.  Allow to dissolve.  Add cold water to cool.  Pour into plastic bag large enough to hold.  Add salmon fillet and brine for 3 hours in the frig.
</li>
<li>
Cover wood chips for 1 hour and allow to soak.  Drain and place in aluminum foil envelope.  Poke with holes.
</li>
<li>
Blot dry the salmon fillet.  Place fillet skin side down on double layer of foil and rub both sides with olive oil.   Season with s/p and other seasonings as desired.
</li>
<li>
Preheat gas grill with all burners on high.  Place wood chips in envelope on top of primary burner under the grill.  Close the lid and allow the grill to heat for about 20 minutes.   Place salmon on foil on burners without heat and allow to cook for 20-30 minutes maintaining a grill temperature of about 325F - 350F.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
</body>
