<h1>Brined Pork Tenderloin</h1>
<h2>Ingredients</h2>
<ul>
<li>
Brine:
</li>
<li>
7 cups hot water
</li>
<li>
1/2 cup kosher salt
</li>
<li>
2 cups apple cider
</li>
<li>
1/2 cup maple syrup
</li>
<li>
2 tablespoons coarsely ground pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
4                     pork tenderloins
</li>
<li>
Stir the hot water and salt together until the salt is dissolved.  Add the remaining brine ingredients.  Cool to at least 45F in the refrigerator.
</li>
<li>
Place the tenderloins in the brine and brine for 6-8 hours in the refrigerator.
</li>
<li>
Take the meat out of the brine, blot dry and allow to sit until inside or outside grill is ready.   Sear on hot grill all around.  Finish in 375F oven for an additional 10-12 minutes or until internal temperature reaches 150F.  Place on warmed platter and tent with foil for about 5 minutes.  Slice for service.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is the perfect preparation for assuring a delicious and juicy
</p>
<p>
  piece of meat for pork.  You can use a thick cut pork chop as well. 
</p>
<p>
  Brine the tenderloin for 6-8 hours; the chops for about 4 hours.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Bruce Aidell
</p>
</body>
