<head>
<title>Brioche</title>
</head>
<body>
<h1>Brioche</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Active Time:  50 Minutes
</li>
<li>
Total Time:  18 Hours 5 Minutes
</li>
</ul>
<h2>Notes</h2><p>
Yield:  2 loaves
</p>
<p>
Brioche dough can be tricky--larger batches are easier to work with. This recipe conveniently makes enough dough for 2 loafs. You can bake one now and freeze the remaining dough for later use. Be sure to start dough 1 day ahead.
</p>
<p>
RECIPE INGREDIENTS
</p>
<p>
1 pound (4 sticks) chilled unsalted butter
</p>
<p>
1 cup lukewarm water
</p>
<p>
2 packages dry yeast
</p>
<p>
1 teaspoon sugar
</p>
<p>
5 cups bread flour
</p>
<p>
3 tablespoons sugar
</p>
<p>
6 large eggs, chilled
</p>
<p>
1/4 cup whole milk, chilled
</p>
<p>
2 teaspoons salt
</p>
<p>
1 large egg, beaten well
</p>
<p>
DIRECTIONS
</p>
<p>
Remove butter from refrigerator as you begin making dough. Combine water, yeast and 1 teaspoon sugar in bowl of heavy duty mixer and let stand until mixture is foamy and yeast is dissolved, about 10 minutes. Add 2 cups bread flour and 3 tablespoons sugar and beat with paddle attachment at medium-low speed until mixture is smooth and sticky, about 5 minutes. Beat in 3 eggs, one at a time, beating well to incorporate after each addition. Beat in cold milk. Add remaining 3 cups flour and salt to bowl and beat well. Beat in remaining 3 eggs, 1 at a time, beating well after each addition. Beat on low until well mixed.
</p>
<p>
Change paddle to dough hook. Beat at medium high speed until mixture is smooth, very elastic and barely sticks to finger when touched, about 5 minutes. Using rolling pin, flatten wrapped sticks of butter to 3/4 to 1/2-inch thickness. Unwrap and cut each into 3 pieces. With mixer running, add half of butter, 1 piece at a time, and mix until butter is almost incorporated into dough. Stop mixer and turn dough over using spatula. Add remaining butter 1 piece at a time and continue beating, stopping mixer occasionally to turn dough until all butter is incorporated and smooth dough forms, about 12 minutes. Cover with plastic wrap and let stand at room temperature until almost doubled in volume, about 1 hour. Chill 1 1/2 to 2 hours. Dough will rise above rim of bowl.
</p>
<p>
With plastic wrap in place, punch down dough with plastic. Remove plastic. Using rubber spatula, separate dough from sides of bowl. Cover with plastic and chill overnight. Punch dough down with plastic in place. Remove plastic. On lightly floured surface, roll dough out to 12 x 6-inch log. Cut in half. Wrap half in plastic and freeze. Butter brioche mold. Place dough, cut side down in mold and let rise until doubled, about 2 hours. Meanwhile preheat oven to 375 degrees F.
</p>
<p>
Brush top of dough gently with egg, being careful not to let egg drip onto mold. Bake until golden brown, about 45 minutes. Unmold and cool completely. Brioche can be made 2 days ahead. Wrap in plastic and store at room temperature.
</p>
<p>
SOURCE: Cooking.com; Cook&#39;s Catalog
</p>
</body>
