<h1>Broccoli Parsnip Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. broccoli
</li>
<li>
2 tablespoons butter
</li>
<li>
2 medium onions, diced
</li>
<li>
8 medium parsnips, peeled, cut into thin rounds
</li>
<li>
5 cups chicken stock
</li>
<li>
1 1/3 cups milk
</li>
<li>
2 cups heavy cream
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut the stems off the broccoli and cut into rounds.  Separate the florets into small sections.
</li>
<li>
Melt the butter in a soup pot.  Add the onion and cook for about 5 minutes; do not brown.
</li>
<li>
Add the parsnips, broccoli stems and chicken stock to cover.  Bring to a boil.  Reduce heat, cover and cook until tender.
</li>
<li>
Meanwhile, cook the broccoli florets in boiling salted water just until done, about 1-2 minutes.  Shock in cold ice water, drain and reserve.
</li>
<li>
Puree the broccoli stem and parsnip mixture.  Add enough chicken stock to correct consistency and bring back to a boil.  Turn the heat down, add the milk and cream, stirring and heat through.  Do not boil.  Taste for correct seasoning.  Add the reserved florets; cook 1 minute more and serve.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Farmhouse Cookbook&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Susan Herrmann Loomis
</p>
</body>
