<head>
<title>Broccoli with Garlic &amp; Mustard Seeds</title>
</head>
<body>
<h1>Broccoli with Garlic &amp; Mustard Seeds</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup extra virgin olive oil
</li>
<li>
3 teaspoons mustard seeds, smashed slighty
</li>
<li>
6 cloves garlic, minced
</li>
<li>
3 lbs. broccoli, trimmed and cut into spears
</li>
<li>
1 teaspoon salt, or to taste
</li>
<li>
1/2 cup chicken stock*
</li>
<li>
1/2 teaspoon chile flakes
</li>
<li>
2 tablespoons extra virgin olive oil
</li>
<li>
1 onion, small dice
</li>
<li>
2 quarts chicken stock
</li>
<li>
season to taste
</li>
<li>
1/2-1 cup cream, if desired
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place oil in wok or large pan and heat until hot.  Put in the mustard seeds in the oil;   Immediately add the garlic.  Stir briefly and add the broccoli.  Stir a minute and add salt and stock.  Stir and cover and cook for about 2 minutes.  Add the chile and cook for another minute with the cover on.  Take the cover off and reduce the remaining liquid away, stirring gently as you do this.
</li>
<li>
Soup:  Begin the soup with the olive oil and mustard seeds.  Add the onion and cook until soft.  Add the garlic.In a soup pot, add the additional oil and saute onion until soft.  Add the broccoli and saute briefly.  Add the chicken stock covering the broccoli by 1-2&quot;.  Once the broccoli is cooked through and tender, puree with a hand-held blender or in batches in your blender (never fill the blender more than 1/2 full).  Add cream, if desired, and season to taste.  Wonderful with garlic croutons.  
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
