<head>
<title>Broiled Nutty Pineapple</title>
</head>
<body>
<h1>Broiled Nutty Pineapple</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 whole ripe pineapple
</li>
<li>
1 1/2 cups coarsely chopped nuts
</li>
<li>
1/2 cup brown sugar
</li>
<li>
6 tablespoons butter, melted, cooled
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat the broiler.  Cut off the top and bottom of the pineapple.  Set on its bottom and peel by slicing down the pineapple, all around.
</li>
<li>
Cut into slices and cut out center with cookie cutter.  
</li>
<li>
Mix together the rest of the ingredients.  Place pineapple slices on parchment paper on sheet pan and divide the topping between the pineapple.
</li>
<li>
Place under the broiler and caramelize about 2-3 minutes.  Delicious served warm and with whipped cream if desired.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 6
</p>
</body>
