<head>
<title>Broiled Sea Bass</title>
</head>
<body>
<h1>Broiled Sea Bass</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons Kikkoman soy sauce
</li>
<li>
1 tablespoon chili paste with garlic
</li>
<li>
2 cloves garlic
</li>
<li>
1 tablespoon white wine vinegar
</li>
<li>
1 tablespoon Chinkiang vinegar
</li>
<li>
1 tablespoon scallion, minced
</li>
<li>
1 tablespoon cilantro, minced
</li>
<li>
1 tablespoon sugar
</li>
<li>
1 teaspoon sesame oil
</li>
<li>
Sea bass or other dense white fish
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Marinate sea bass in above sauce for 20 minutes.
</li>
<li>
2.  Broil fish for 4-8 minutes depending on thickness.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
