<h1>Brown Butter Tuiles</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 tablespoons unsalted butter
</li>
<li>
2 egg whites
</li>
<li>
1/4 cup sugar
</li>
<li>
1/2 cup all purpose flour
</li>
<li>
1/4 teaspoon pure vanilla extract
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat the oven to 350F.
</li>
<li>
Melt the butter ina heavy skillet over medium heat.  After it melts, continue to cook the butter, watching carefully.  It will foam and subside, then separate into golden butterfat and cloudy white milk solids.  The milk solids will begin to brown.  When they are lightly browned and the butter smells nutty and toasted, remove from the heat and se taside to cool slightly.
</li>
<li>
Whip the egg whites and sugar in a clean dry bowl until stiff and glossy.  Add the flour, vanilla and brown butter and mix at low speed until blended.  The batter will become thicker as the egg whites lose volume.
</li>
<li>
On 2 nonstick sheet pans or pans lined with parchment paper, use a spatula or the back of a spoon to pour and spread the batter in very thin circles 8&quot; in diameter.  You will probably be able to fit only two tuiles per pan; they should be very thin, almost so thin that you can see the pan through them.  Bake until light golden brown, 8-10 minutes.  Using a spatula or your fingers, immediately lift the tuile off the pan.  Holding it from above with the tips of your fingers, gently crumble the tuile from the center.  It should look like a fine handkerchief that&#39;s been dropped on the floor.  Set aside to cool.
</li>
<li>
Repeat with the remaining batter.  The batter may stiffen up as the butter cools; you can warm it briefly in the microwave, or set the bowl over hot water to keep the batter warm.
</li>
<li>
Store cooled tuiles in an airtight container, placing sheets of parchment or wax paper between the tuiles.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;These pretty, light cookies are a perfect match to ice cream.&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Gale Gand
</p>
</body>
