<h1>Brownies</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup sifted cake flour
</li>
<li>
1/2 cup Dutch-process cocoa powder
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 1/2 cups packed light brown sugar
</li>
<li>
1/4 cup canola oil
</li>
<li>
1/4 cup buttermilk
</li>
<li>
1 large egg
</li>
<li>
2 large egg whites
</li>
<li>
2 teaspoons pure vanilla extract
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Preheat oven to 350F and lightly oil and 8x12&quot; baking pan or coat with nonstick cooking spray.  Dust with a little flour, tapping out the excess.
</li>
<li>
2.  In a small bowl, whisk together flour, cocoa and salt.  In a large bowl, beat together brown sugar, oil, buttermilk, egg, egg whites and vanilla with an electric mixer on high speed until smooth, making sure no lumps of brown sugar remain.  Add the dry ingredients and beat on low speed just until blended.
</li>
<li>
3.  Transfer the batter to prepared baking pan.  Bake for 25-30 minutes or until skewer inserted in the center comes out clean.  Cool pan on baking rack.  Cut into bars.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : At just 150 calories per brownie....much better than the original at 277 calories.
</p>
<p>
SERVINGS: 15
</p>
<p>
SOURCE: The Eating Well Dessert Cookbook
</p>
</body>
