<head>
<title>Butter Sugar Cookies</title>
</head>
<body>
<h1>Butter Sugar Cookies</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup butter
</li>
<li>
1/2 cup sugar
</li>
<li>
1/2 cup powdered sugar
</li>
<li>
1 large egg
</li>
<li>
2 cups +2 tablespoons flour
</li>
<li>
1/2 teaspoon cream of tartar
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
2 teaspoons vanilla
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cream together the butter, sugars and egg.  Gradually mix in the dry ingredients and vanilla.
</li>
<li>
Roll into small balls and place about 2&quot; apart on ungreased cookie sheet; dip bottom of a butter glass in granulated sugar and press down to form cookies.  Use a cookie press if you have one.
</li>
<li>
Bake in 375F degree oven for 10-12 minutes.  Do not let them brown.
</li>
<li>
Remove cookies to racks and cool before adding to the cookie jar.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;3 dozen&quot;
</p>
</body>
