<h1>Butterflied &amp; Stuffed Pork Tenderloin</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 1 pound (approx.) pork tenderloins, trimmed of silverskin
</li>
<li>
Stuffing:
</li>
<li>
1/2 onion, minced
</li>
<li>
3 stalks celery, minced
</li>
<li>
1 cup apples, 1/4&quot; dice
</li>
<li>
1/2 cup dried cranberries, Soaked in warm stock
</li>
<li>
1/2 cup golden raisins, Soaked in warm stock
</li>
<li>
2 cups chicken or vegetable stock
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1/2 onion, 1/4&quot; dice
</li>
<li>
3 cloves garlic, minced
</li>
<li>
10 stems fresh thyme, leaves removed
</li>
<li>
10 leaves fresh sage, minced
</li>
<li>
salt and pepper
</li>
<li>
1 cup bread crumbs
</li>
<li>
1 large egg, slightly beaten
</li>
<li>
1/2 bunch fresh Italian parsley, minced
</li>
<li>
To Season the Outside of the Tenderloin:
</li>
<li>
olive oil
</li>
<li>
2 cloves garlic, chopped
</li>
<li>
4 stems fresh thyme, leaves removed
</li>
<li>
2 fingers fresh rosemary
</li>
<li>
1 stem fresh oregano
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Saute the onion, celery, garlic in olive oil.  Cook until tranlusent.  Add herbs, bloom to scent.  Add  apples, hydrated fruit, bread crumbs, salt and pepper.  Taste at this point.  Season to correct.  Cool slightly.  Add egg.  Mixture should mound on spoon, not be too wet.  Can correct here as well.  Add parsley.
</li>
<li>
Butterfly the tenderloins by cutting half way through the piece of meat horizontally.  Hammer until about 3/8&quot; thick.  Place the stuffing lenghthwise into the piece of meat.  Roll and tie.  Finish with other two tenderloins.
</li>
<li>
 Sear meat on both sides for a total of about 4-5 minutes.  Place in preheated 375F oven.  Roast on one side for about 5 minutes.  Turn over and continute roasting for about 9-12 minutes more or until internal temperature is at about 145F.  Place on warm platter and allow to rest covered with aluminum foil.
</li>
<li>
Reduction Sauce: Pour off all but about 1 tablespoon of pan drippings (use a sauce separater).   Saute about 2 tablespoons of shallot in pan drippings.  Deglaze the pan with about 1 cup of red fruity wine (merlot or a zinfandel would work nicely).  Reduce to half.  Add about 1 1/2 cups chicken stock and reduce to half or until the sauce is somewhat thickened.  Strain the sauce.  Place back into the pan and whisk in 1 tablespoon of cold butter.  
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fabulous....can be stuffed with this stuffing, a rice stuffing,
</p>
<p>
  oyster stuffing....you name it!  Just a nice reduction sauce is all
</p>
<p>
  you need!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 slices&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
