<head>
<title>Cabernet Risotto</title>
</head>
<body>
<h1>Cabernet Risotto</h1>
<h2>Ingredients</h2>
<ul>
<li>
Butter and o/o
</li>
<li>
1/2 cup diced onion
</li>
<li>
2# risotto (he likes Carnaroli Rice)
</li>
<li>
Toast and coat in butter/oo
</li>
<li>
1/2 bottle of wine/the rest stock
</li>
<li>
Cook as usual for risotto but only add
</li>
<li>
half of liquid and finish right at
</li>
<li>
service with rest of liquid(stock)
</li>
<li>
Allow about 10 minutes for completion.
</li>
<li>
When complete beat in butter, Parm,
</li>
<li>
foie gras, more cab if necessary.
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Thomas Oden
</p>
</body>
