<h1>CaesarGrilled Chicken</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 whole boneless chicken breast, cut in half (making 8 servings)
</li>
<li>
Apple Charlotte Caesar Dressing
</li>
<li>
2 heads romaine lettuce
</li>
<li>
garlic croutons
</li>
<li>
Parmesan cheese
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Marinate the chicken breasts in the Caesar dressing for 15-20 minutes.  Grill on hot grill for about 3-5 minutes.  Turn over and turn heat down to medium and cover with lid.  Continue to cook another 15 minutes or so until cooked through.  Cool in frig.
</li>
<li>
Make a Caesar Salad by combining romaine and croutons with dressing and cheese.  Serve with cold chicken sliced.  Top with extra cheese.  Yum!!
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
</div></body>
