<h1>Campari Tangerine Sorbet</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/2 cup Campari
</li>
<li>
4 cups tangerine juice, freshly squeezed and strained
</li>
<li>
1 1/4 cups Sugar Syrup*, below
</li>
<li>
pinch salt
</li>
<li>
1 1/2 teaspoons lemon juice, freshly squeezed
</li>
<li>
1 1/4 cups granulated sugar
</li>
<li>
1 cup water
</li>
<li>
Boil for about 1 minute until sugar dissolves, store in frig.
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
Combine all ingredients.  Freeze in ice cream machine.  Can be made one day in advance.SOURCE: Adpated from Emily Luchetti
</p>
</div></body>
