<h1>Candied Walnuts</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup powdered sugar
</li>
<li>
1/4 teaspoon salt
</li>
<li>
8 ounces whole walnuts
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Preheat oven to 350F.  Mix together sugar and salt.  Boil water in a small saucepan and add walnuts and allow to cook for 3 minutes.  Drain and roll walnuts in sugar and salt.  Place walnuts on a baking sheet lined with parchment paper.  Place in the oven for about 10 minutes, stirring occasionally, and baking until golden brown.  Cool completely before serving.  SOURCE: Adapted from Sara&#39;s Secrets
</p>
</body>
