<head>
<title>Cantonese Fried Rice</title>
</head>
<body>
<h1>Cantonese Fried Rice</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 large eggs, beaten
</li>
<li>
1 cup onions, diced
</li>
<li>
1 cup celery, diced
</li>
<li>
1 cup forzen peas
</li>
<li>
1 cup ham, diced
</li>
<li>
1 cup shrimp, cooked (not canned)
</li>
<li>
6 cups cooked rice
</li>
<li>
4 green onions, diced
</li>
<li>
4 tablespoons dark soy sauce
</li>
<li>
2 tablespoons light soy sauce
</li>
<li>
2 teaspoons salt
</li>
<li>
8 tablespoons oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Be sure to cut all vegetables the same size as the peas; in a small dice.
</li>
<li>
Heat wok and add 2 teaspoon oil.  Stir fry egg for 20 seconds, remove and set aside.  Add 2 teaspoons oil and stir fry onions with celery for 1 minute.  Set aside.  Add 2 teaspoon oil and stir fry peas for 1-2 minutes.  Set aside.  Add 2 tablespoons oil and stir fry ham and shrimp for 2 minutes.  Set aside.  Add 2 tablespoons oil and stir fry rice, breaking up lumps as you fry.  Season with salt and stir until heated through.  Add all other ingredients and season with soy sauce.  Mix and serve.
</li>
<li>
I f you cook ahead, reheat, loosely covered with foil in a 350F oven for 1/2 hour.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Rhoda Yee
</p>
</body>
