<head>
<title>Cantaloupe Morning Glories</title>
</head>
<body>
<h1>Cantaloupe Morning Glories</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 ripe cantaloupes, peeled, cut in large pieces
</li>
<li>
3 oranges, juice of
</li>
<li>
1 lemon, juice of
</li>
<li>
1 teaspoon sea salt
</li>
<li>
1 tablespoon sugar
</li>
<li>
2 bottles champagne, or sparkling
</li>
<li>
mint
</li>
</ul>
<h2>Method</h2><ul>
<li>
Wash the melon well on the outside before peeling.
</li>
<li>
Place the large pieces in food processor and puree.
</li>
<li>
Add orange and lemon juices, salt and sugar and blend until smooth.
</li>
<li>
Chill until very cold, at least 5 hours.
</li>
<li>
Pour the juice into flutes to fill 1/2 way and top with sparkling.  Top with mint.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 24
</p>
<p>
SOURCE: Adapted from Antonio Carluccio
</p>
</body>
