<h1>Caramel-Plum Crumb Bars</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Crumb Mixture
</li>
<li>
2 2/3 cups flour
</li>
<li>
1 2/3 cups quick-cooking oats, not instant
</li>
<li>
1/2 cup light brown sugar
</li>
<li>
pinch salt
</li>
<li>
2 sticks butter, cut in chunks
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
2               cups  copped plums -- or other fruit
</li>
<li>
                        Caramel:
</li>
<li>
  1                cup  heavy whipping cream
</li>
<li>
     1/4           cup  light corn syrup
</li>
<li>
     3/4           cup  packed light brown sugar
</li>
<li>
     1/4     teasspoon  salt
</li>
<li>
     1/4           cup  flour
</li>
<li>
  1 1/2      teaspoons  vanilla
</li>
<li>
Preheat oven to 350F.  Grease a 9x13 inch pan.
</li>
<li>
Crumb Mixture:  Mix together the flour, oats, sugar and salt in the bowl of a food processor.  Add the butter and pulse until crumbly.  Press half the mixture into the pan and set aside the rest.
</li>
<li>
Bake for about 10 minutes.  Place on a wire rack and spread the plums evenly over the top.
</li>
<li>
Caramel:  In a 3quart heavy saucepan, thoroughly stir together the cream, corn syrup, brown sugar and salt.  Bring to a boil over high heat, stirring constantly.    Turn the heat down so that the mixture boils briskly but not hard.  Place candy thermometer in pan, being careful not to touch bottom (it hooks to the side of the pan).  Boil for 6-8 minutes, stirring occasionally, until it thickens slightly, begins to darken and registers at about 243-244F on the thermometer.
</li>
<li>
Remove the pan from the heat.  Stir in the flour until completely incorporated.  Stir in the vanilla.
</li>
<li>
Pour the caramel over the plums and sprinkle the remaining crumble over the caramel.
</li>
<li>
Bake for 25-30 minutes until golden on top and cooked through.  Cool on wire rack. Run a knife around the edges to loosen caramel.  Cool completely.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Old-fashioned and delicious!&quot;
</p>
<p>
SERVINGS: 24
</p>
</div></body>
