<h1>Caramelized Banana-Rum Tart</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Tart Shell:
</li>
<li>
4 1/2 cups AP flour
</li>
<li>
2 tablespoons sugar
</li>
<li>
1 teaspoon salt
</li>
<li>
1 cup unsalted butter
</li>
<li>
1/2 cup shortening
</li>
<li>
3/4 cup ice water
</li>
<li>
Filling:
</li>
<li>
1 cup unsalted butter
</li>
<li>
3/4 cup rum
</li>
<li>
3/4 cup banana liqueur
</li>
<li>
1/2 cup sugar
</li>
<li>
4 large bananas, peeled and cut into disks
</li>
<li>
Rum Sauce:
</li>
<li>
6 tablespoons cornstarch
</li>
<li>
1 cup water
</li>
<li>
1 quart heavy whipping cream
</li>
<li>
6 tablespoons sugar
</li>
<li>
1 cup dark rum
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
4             ounces  bittersweet chocolate -- cut into chunks
</li>
<li>
Tart Shell:  Place the flour, sugar, salt, butter and shortening in the bowl of a food processor and blend.  Add the water a little at a time until the dough forms a ball and pulls away from the sides of the bowl, about 1 minute.  Wrap in plastic wrap and chill for 30 minutes.
</li>
<li>
Reheat the oven to 400F.  Roll out the pastry on a floured surface.  Roll up the crust on your rolling pin;unroll it across a 10 inch pie tin and press into place.  Put pie weights or dried beans in the bottom and bake for 8 minutes.  Remove from the oven, take out the weights or beans and let cool.
</li>
<li>
Filling:  In a large saucepan bring the butter, rum, liqueur and sugar to a boil over medium-low heat, whisking to keep the mixture from boiling over.  Cook until reduced by half in volume, about 10 minutes.  When reduced and bubbling, stir in the plantains and cook for 1 minute.  Remove the plantains from the heat.  Preheat the oven to 350F.  Use a slotted spoon to lift the plantain disks from the liquid and put them in the cooled pie shell.  Gently pour the liquid from the pan over the plantain pieces.  Bake for 30 minutes or until set and golden.  Remove from the oven and cool to room temperature.  Cover with plastic wrap and refrigerate for 2 hours.
</li>
<li>
Rum Sauce:  Dissolve the cornstarch in the water.  In a saucepan bring the cream, sugar and rum to a boil over medium heat.  Remove from the heat and stir in the cornstarch.  Let cool.
</li>
<li>
To serve:  In the top of the double boiler melt the chocolate over water that is barely simmering.  Spoon rum sauce into the plates.  Cut the tart into wedges and place one on each plate.  Place the melted chocolate in a squeeze bottle or plastic bag; cut a tiny snip in one corner if using a plactic bag.  Drizzle melted chocolate into the rum sauce, swirling into a design.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Serve this tart with the rum sauce on the plate.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;St. James&#39;s Club, Antiqua&quot;SOURCE: Rolston Hector
</p>
</div></body>
