<h1>Caramelized Apple Pie with Mango Ice Cream</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Caramel Sauce:
</li>
<li>
1 1/2 cups sugar
</li>
<li>
1 1/2 cups whipping cream
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
6             medium  Granny Smith apple -- thinly sliced
</li>
<li>
  12       tablespoons  Caramel Sauce (above)
</li>
<li>
  2                     egg yolk
</li>
<li>
  12                6&quot;  puff pastry rounds -- rolled 1/8&quot; thick
</li>
<li>
     3/4           cup  sugar
</li>
<li>
  12            scoops  Mango Ice Cream
</li>
<li>
  3               cups  mixed fruits -- star fruit, strawberries &amp; blackberries
</li>
<li>
  12            sprigs  mint
</li>
<li>
Melt the sugar in a sauce pan over medium heat.  It will be amber in color when melted.  Remove from heat and carefully stir in whipping cream.  Cook until it bubbles and pulls away from the edge of the pan (about 5 minutes).  Pour the caramel into a heatproof bowl and refrigerate.
</li>
<li>
Heat the oven to 400F.  With a pastry brush, grease the bottom of 12 large heatproof dinner plate with butter.  Arrange the apple slices in a swirled circle on each plate and place a large spoonful of caramel sauce over the center.  Brush a little egg yolk around the edge of the plate.  Place pastry circles over the apples and with your fingertips lightly press the edges onto the plate to seal.  Brush the tops with remaining egg yolk, sprinkle with sugar and bake for 8-10 minutes until golden.
</li>
<li>
Place a scoop of mango ice cream in the middle of each piece and scatter with fruit.  Dust with powdered sugar and top with mint sprig.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Lantana&#39;s in Grand Cayman&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Keith Griffen
</p>
</div></body>
