<h1>Caramelized Cardamom Apples with Pistachio Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
Cream:
</li>
<li>
3 cups heavy cream
</li>
<li>
6 tablespoons unsalted pistachios, finely chopped
</li>
<li>
Apples:
</li>
<li>
3 sticks butter
</li>
<li>
12 medium Granny Smith apple
</li>
<li>
3/4 teaspoon finely ground cardamom seeds
</li>
<li>
1/2 teaspoon ground cinnamon
</li>
<li>
1/2 teaspoon ground cloves
</li>
<li>
2 cups sugar
</li>
<li>
9 tablespoons slivered almonds
</li>
<li>
6 tablespoons chopped walnuts
</li>
</ul>
<h2>Method</h2><ul>
<li>
Whip the cream lightly in a bowl until it just begins to hold a shape, but not stiff at all.  Fold half of the pistachio nuts into the cream, cover and refrigerate.
</li>
<li>
Melt the butter over low heat in large, nonstick fry pan.  Take the pan off the heat.  Peel, core and slice the apples thinly, dropping the slices into the butter as you cut them.  Fold them into the butter as you go so that they do not discolor.  Add the spices and nuts.  Cook on mediumheat for 2-3 minutes.  Turn the heat to high and cook for another 8-10 minutes, stirring very gently now and then, until the apples have caramelized lightly.
</li>
<li>
Serve with a dollop of the cream and sprinkle with remaiing chopped pistachios.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Madhur Jaffrey
</p>
</body>
