<head>
<title>Caramelized Apple Salad with Maytag Blue Cheese</title>
</head>
<body>
<h1>Caramelized Apple Salad with Maytag Blue Cheese</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 Granny Smith apple, peeled, cored, cut into eighths
</li>
<li>
8 cups mixed salad greens
</li>
<li>
1/2 cup walnuts, toasted and coarsely chopped
</li>
<li>
8 ounces Maytag Blue Cheese, or other blue cheese
</li>
<li>
Orange Vinaigrette:
</li>
<li>
4 cups orange juice
</li>
<li>
2 tablespoons red wine vinegar
</li>
<li>
2 tablespoons red onion, coarsely chopped
</li>
<li>
1 jalapeno peppers, coarsely chopped
</li>
<li>
2 tablespoons ancho chile powder
</li>
<li>
3/4 cup olive oil
</li>
<li>
1 tablespoon honey
</li>
</ul>
<h2>Method</h2><ul>
<li>
Vinaigrette:  Heat orange juice in nonreactive pot and boil until down to about 1/4 cup. Combine with remaining vinaigrette items except oil in a food processor until blended.  With the food processor running, pour the olive oil into the mixture in a small stream until mixture is creamy and emulsified.  Add honey and salt and pepper to taste.
</li>
<li>
Heat about 1/2 cup of the vinaigrette in a skillet over medium high heat.  Add apples and cook until golden brown on the bottom, then turn and cook through for 1-2 minutes more.
</li>
<li>
Toss the greens with some of the vinaigrette, reserving a bit to put on at the end.   Taste for correct seasoning.  Plate greens, add cheese and walnuts.  Drizzle with remaining vinaigrette.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Bobby Flay
</p>
</body>
