<h1>Cardamom Coffee Cake</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
RECIPE INGREDIENTS
</li>
<li>
For the Cardamom Dough:
</li>
<li>
2 packages (1/2-ounce each) dry yeast
</li>
<li>
1/2 cup warm water
</li>
<li>
2 cups all-purpose flour
</li>
<li>
1/4 cup sugar
</li>
<li>
1/2 teaspoon cardamom powder
</li>
<li>
Pinch of salt
</li>
<li>
4 tablespoons unsalted butter, at room temperature
</li>
<li>
2 eggs
</li>
<li>
1/4 cup slivered almonds
</li>
<li>
For the Almond Filling
</li>
<li>
1/2 pound (1 cup) almond paste
</li>
<li>
2 tablespoons sugar
</li>
<li>
1/4 cup margarine
</li>
<li>
2 tablespoons unsalted butter, at room temperature
</li>
<li>
DIRECTIONS
</li>
<li>
In the bowl of a stand mixer, dissolve the yeast with the warm water. The temperature of the water should be between 100 degrees F and 115 degrees F. Allow the yeast to stand for 10 minutes, until foamy.
</li>
<li>
In a medium bowl, combine the flour, sugar, cardamom, and salt.
</li>
<li>
In the stand mixer with the dough hook attachment, mix the dry ingredients and the butter into the yeast on low speed. Add one egg and continue to beat the dough until it is smooth and sticky. Turn the soft dough onto a floured surface and gently knead a few times. Place the dough into a large oiled bowl, turning the dough once to coat the top. Cover with plastic wrap and allow it to rise for 1 hour, until it doubles in size.
</li>
<li>
Preheat the oven to 375 degrees F. Generously grease a 12-inch round cake pan.
</li>
<li>
TO FORM THE CAKE: Gently deflate the dough. Turn the dough out onto a generously floured surface and roll out to a large rectangle, about 9 by 16-inches. Spread the almond paste mixture over the surface of the dough. Starting from the long side, roll the dough, jellyroll style, towards you to form a long loaf. Then turn the ends towards each other to form a ring and tuck one end into the other, pinching to seal the seam.
</li>
<li>
Transfer the ring to the greased cake pan, leaving a 1-inch border from the side of the pan to allow the cake to expand. With kitchen shears, make diagonal cuts, 3/4 of the way into the dough, every 2-inches, all the way around the ring. Be careful to cut all the way through the dough. Lift up a snipped piece and move it towards the center of the ring, move the next snipped piece and turn it towards the outside of the ring. Continue until you have gone completely around the ring.
</li>
<li>
In a small bowl, lightly beat the remaining egg. Generously brush the surface of the dough with the egg and sprinkle the top with the almonds.
</li>
<li>
Bake in the oven for 45 to 60 minutes, until the top of the dough is shiny and a deep golden brown. Allow the cake to cool on a rack. Serve warm or at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Cooking.com; Cook&#39;s Catalog
</p>
</body>
