<h1>Caribbean Coconut Curry Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
2/3 cup canned cream of coconut, such as Coco Lopez
</li>
<li>
1/2 cup fresh lime juice
</li>
<li>
6 tablespoons green onions, minced
</li>
<li>
2 teaspoons curry powder
</li>
<li>
1/2 teaspoon cayenne powder
</li>
<li>
1/2 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Whisk cream of coconut and fresh lime juice in small bowl until smooth.  Stir in green onions, curry powder, cayenne pepper and salt.  (Can be made 1 day ahead.  Cover and refrigerate.)
</li>
<li>
Brush half of sauce over meat before and during grilling.  Pass remaining sauce separately.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a fabulous little sauce that can be brushed on poultry, fish
</p>
<p>
  or pork before grilling....so marinating needed!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 1/2 cups&quot;SOURCE: Bon Appetit, 1995
</p>
</body>
