<h1>Caribbean Rub</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 tablespoons garlic, minced
</li>
<li>
6 tablespoons onion, minced
</li>
<li>
6 tablespoons dried minced onion
</li>
<li>
2 tablespoons allspice
</li>
<li>
1 tablespoon dried ground chipotle
</li>
<li>
2 tablespoons Hungarian paprika
</li>
<li>
2 tablespoons brown sugar
</li>
<li>
4 1/2 teaspoons minced fresh thyme
</li>
<li>
4 1/2 teaspoons cinnamon
</li>
<li>
1 1/2 teaspoons nutmeg
</li>
<li>
1/2 teaspoon ground habanero
</li>
<li>
2 lemons, zested
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine all ingredients.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A dry rub that is just handy to have around!&quot;SOURCE: Grillin&#39; &amp; Chillin&#39;
</p>
</div></body>
