<head>
<title>Caribbean Sunshine Soup</title>
</head>
<body>
<h1>Caribbean Sunshine Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 acorn squash, or butternut, or pumpkin or mixture
</li>
<li>
3 tablespoons butter
</li>
<li>
2 large onions, diced
</li>
<li>
3 stalks celery, diced
</li>
<li>
3 red chiles, minced
</li>
<li>
6 cups chicken stock, or more if needed
</li>
<li>
2 cans coconut milk
</li>
<li>
2 tablespoons lime juice, or to taste
</li>
<li>
fresh grated nutmeg
</li>
<li>
1 fresh coconut, grated and baked briefly
</li>
<li>
lime rind, zested
</li>
</ul>
<h2>Method</h2><ul>
<li>
Bake squash by cutting in half and placing on sheet pan with a little water and covered in 375F oven for about 1-1 1/2 hours until soft.
</li>
<li>
Heat soup pot and add butter.  Cook onions and celery until soft.  Add in squash ,chiles, stock and bring to boil.  Lower to simmer and add in coconut milk.  Cook for about 15-20 minutes for flavors to mingle.  Puree and add in lime juice and grated nutmeg to taste.  Serve with grated coconut garnish and lime zest.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
