<h1>Caribbean Ginger Pepper Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 tablespoons jalapenos, seeded, minced
</li>
<li>
1 teaspoon cayenne pepper
</li>
<li>
1/4 teaspoon salt
</li>
<li>
2 tablespoons cornstarch
</li>
<li>
1/4 cup granulated sugar
</li>
<li>
1/4 cup lime juice
</li>
<li>
1/4 cup unsweetened pineapple juice
</li>
<li>
1 cup water
</li>
<li>
2 tablespoons soy sauce, or to taste
</li>
<li>
2 tablespoons fresh ginger, peeled, shredded
</li>
<li>
1/2 cup pineapple chunks
</li>
<li>
2 tablespoons dry white wine
</li>
<li>
1 tablespoon cilantro, chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
In a saucepan, blend the salt, cornstarch, sugar, lime juice and pineapple juice until smooth.  Premix and gradually stir in the water, soysauce, ginger, jalapeno and cayenne.  Cook over medium heat, stirring constantly until the sauce is thick and transparent.  Finish the sauce by stirring in the pineapple chunks, wine and cilantro.  Broil or grill fish or chicken breast basting with lemon and butter.  Serve on a bed of rice, topped with a liberal portion of warm sauce.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A cooked sauce that is delicious on broiled or grilled seafood or
</p>
<p>
  chicken.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Chile Pepper Magazine&quot;
</p>
</div></body>
