<h1>Carol Sanborn Apple Pie</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 9&quot; pie crust
</li>
<li>
9 apples, coursely grated
</li>
<li>
1/2 cup sugar
</li>
<li>
1/4 cup flour
</li>
<li>
2 teaspoons cinnamon
</li>
<li>
1/2 cup walnuts, chopped
</li>
<li>
1/2 cup oatmeal
</li>
<li>
1/2 cup flour
</li>
<li>
1/2 tablespoon baking powder
</li>
<li>
1/3 cup butter
</li>
<li>
1/2 cup brown sugar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat the oven to 325 degrees.  Mix apples, sugar, cinnamon and flour together.  Pour into prepared pie crust.  Top apple mixture with nuts.
</li>
<li>
Crumble with fingers the remaining ingredients and place on top of nuts.  Bake for about 45 minutes.  Serve warm with ice cream.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : After every meal forever...says Marty.NOTES : Well here we go again...you might notice how many people this serves?  Yes just one if its Marty, the apple pie man.
</p>
<p>
  But for most of the human race, we can probably get 6-8 servings out of it.  But did I ever tell you about the time I went to visit a farmhouse friend of my Grandma?  Our family had dinner there and the woman who made the dinner, Mary, served each one of us a quarter of a pie for dessert!   Me, being the city girl I was (and still am) was shocked...but loved every minute of it.  I was about 12 and that&#39;s when I noticed my hips beginning to widen...wonder what started that?  This pie is super as is our Carol...why do I always bring up farming when I talk about Carol?  She&#39;s a city girl now, too.
</p>
<p>
CHEF&#39;S TRICK...Whenever I make apple pies, I like to mix up apples...Granny Smith&#39;s, Winesap, Delicious...whatever.  I think it just tastes good.  And you don&#39;t have to peel these apples and a mixup would look pretty.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: M. Gish...Whoever that is!
</p>
</div></body>
