<h1>Carol&#39;s Pickled Beets</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups water
</li>
<li>
1 cup apple cider vinegar
</li>
<li>
4 tablespoons brown sugar
</li>
<li>
2 cups granulated sugar
</li>
<li>
1 teaspoon salt
</li>
<li>
2 teaspoons cinnamon
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix together in large, non-reactive pan and bring to a boil.  Add cooked beets (whole or cut into desired shape) and bring to a boil again.  Pour into clean hot jars and cover with warmed canning lids.  Process for 20 minutes in hot water bath.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;FABULOUS....Carol Sanborn&#39;s recipe given to her by her mom, Donna
</p>
<p>
  Eschnbaum.  Donna lives in South Dakota....she use to save them for
</p>
<p>
  company!  I can&#39;t resist them.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;6 pints&quot;
</p>
</body>
