<h1>Carrot &amp; Shallot Soup with Chervil Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 large shallots, minced
</li>
<li>
6 tablespoons butter
</li>
<li>
5 lbs. sweet carrots, 6 cups, roughly chopped
</li>
<li>
3 quarts chicken stock (approximate), enough just to cover carrots
</li>
<li>
1 cup heavy cream
</li>
<li>
1/4 cup chervil, minced fine (if unavailable, use 2 T tarragon)
</li>
</ul>
<h2>Method</h2><ul>
<li>
Melt butter in soup pot and add shallots.  Cook over low heat.  Peel and roughly chop carrots and add to shallots, sweating together for about 8-10 minutes.
</li>
<li>
Add just enough chicken stock to barely cover and cook until the carrots are tender.  
</li>
<li>
Puree.  Season to taste.
</li>
<li>
Barely whip the heavy cream and flavor it with the minced chervil and salt and pepper to taste.  
</li>
<li>
Serve the soup and float a little whipped cream on top.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Alice Waters
</p>
</body>
