<h1>Carrots with Cilantro &amp; Jalapeno</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 pounds sweet young carrots, cut into 3/4&quot; on diagonal
</li>
<li>
4 jalapeno peppers, or to taste; minced
</li>
<li>
1 limes, grated and juiced
</li>
<li>
4 teaspoons honey
</li>
<li>
5 tablespoons olive oil
</li>
<li>
2 teaspoons fresh fennel seeds, coarsely chopped
</li>
<li>
4 tablespoons cilantro, coarsely chopped
</li>
<li>
4 tablespoons spearmint, coarsely chopped
</li>
<li>
1/2 cup basil, coarsely chopped
</li>
<li>
salt to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Boil in salted water about 3 minutes.  Shock cold in ice water until cold and drain in colander.
</li>
<li>
In a mixing bowl whisk everything except the carrots and herbs.    Add and correct seasoning.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Jerry Traunfeld
</p>
</body>
