<head>
<title>Carrot Cake with Pistachios....Gajar Ki Cake</title>
</head>
<body>
<h1>Carrot Cake with Pistachios....Gajar Ki Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 tablespoons butter, softened
</li>
<li>
1 cup flour
</li>
<li>
1 teaspoon baking soda
</li>
<li>
1/4 teaspoon salt
</li>
<li>
2 large eggs
</li>
<li>
1/2 teaspoon ground cardamom, Take seeds out of pod and grind very finely in a mortar
</li>
<li>
1 cup sugar
</li>
<li>
1 1/2 cups grated carrots, packed
</li>
<li>
3 tablespoons pistachio nut, chopped
</li>
<li>
3 tablespoons walnuts, chopped
</li>
<li>
3 tablespoons golden raisins
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.  Coat a 9&quot; springform pan with butter and dust very lightly with flour.  
</li>
<li>
Sift flour with baking soda and salt on parchment paper; set aside.
</li>
<li>
Beat the eggs well in a large bowl.  Add cardamom, sugar and butter.  Keep beating until thoroughly mixed.
</li>
<li>
Add the flour mixture to the egg mixuter and fold in gently with a spatula.  Add the carrots, pistachios, walnuts, and raisins, folding in.
</li>
<li>
Pour the batter into cake pan and bake for 35-40 minutes until a toothpick insered comes out clean and top is golden red.
</li>
<li>
Lovely served with a spice tea.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;In India, cardamom is like our vanilla.&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
