<h1>Carrot-Apple Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 6 ounce can frozen orange juice concentrate
</li>
<li>
1/2 6 ounce can water
</li>
<li>
2 lbs. carrots, scraped and shredded
</li>
<li>
3 tart apple, peeled, cored, shredded
</li>
<li>
1 cup raisins
</li>
<li>
1 cup golden raisins
</li>
<li>
1 cup cashews, optional, coarsely chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place the juice and water in a large bowl and mix.  Add in and combine well the remaining ingredients excpet the cashews, which should be tossed in at serving time.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A wonderful and very healthy salad that kids love too!&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Adapted from Jane Brody
</p>
</body>
