<h1>Cassata Siciliana</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 genoise recipe, cooked in loaf pan(s)
</li>
<li>
Filling:
</li>
<li>
1 lb. ricotta cheese
</li>
<li>
1/4 cup semi-sweet or bittersweet chocolate, finely chopped
</li>
<li>
1/3 cup powdered sugar
</li>
<li>
1 teaspoon vanilla
</li>
<li>
2 tablespoons citron or orange, finely chopped
</li>
<li>
4 tablespoons toasted almonds
</li>
<li>
1/4 cup heavy cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
1/4           cup  orange-flavored liqueur -- or rum
</li>
<li>
                        Chocolate Frosting:
</li>
<li>
  3               cups  semisweet or bittersweet chocolate -- cut into small pieces
</li>
<li>
     1/4           cup  strong coffee
</li>
<li>
     1/2         pound  sweet butter -- chilled and cut into small pieces
</li>
<li>
  1         tablespoon  dark rum
</li>
<li>
                        Decoration:
</li>
<li>
                        Candied citrus peel or citron and candied
</li>
<li>
                        cherries; nuts if desired.
</li>
<li>
Preparation of cassata:  Line a loaf pan with parchment paper or siran wrap.  Cut the cake to fit the pan on the sides and bottom in a single layer.  Sprinkle the cake slies with half of the orange-flavorred liqueur.  Put half the ricotta mixture on the bottom layer of cake.  Put another slice of cake on the filling and sprinkle on the remaining liqueur.  Top the final layer of filling with another slice of cake.  Cover the sassata wiht clar wrap and put it into the refrigerator for several hours.  When you are ready to frost the cassata , carefully unmold it on a serving dish after it has set and remove paper that may be clinning.  Frost with whipping cream or chocolate frosting.
</li>
<li>
Chocolate Frosting:  Carefully melt the chocolate in the coffee over hot water in a double boiler until it is shiny and there are no lumps in it.  Take the mixture off the heat and add the butter a piece at a time stirring continuously.  Add the rum and stir it in.  When all the butter is in, cool the mixture to a spreading consistency.   Spread on the top and sides of the cassata and decorate with chopped citron, nuts and candied cherries.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a favorite Christmas or Easter Sicilian dessert.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 cake&quot;SOURCE: Betty Gerard
</p>
</body>
