<head>
<title>Cast Iron Skillet Cornbread with Maple Butter</title>
</head>
<body>
<h1>Cast Iron Skillet Cornbread with Maple Butter</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 pound unsalted butter, room temp
</li>
<li>
1 cup pure mable syrup
</li>
<li>
1/2 teaspoon ground cinnamon
</li>
<li>
2 teaspoon salt
</li>
<li>
6 tablespoons vegetable shortening
</li>
<li>
2 1/2 cups AP flour
</li>
<li>
1 1/2 cups yellow cornmeal
</li>
<li>
2 tablespoons baking powder
</li>
<li>
2 teaspoons salt
</li>
<li>
4 large eggs
</li>
<li>
1/4 cup honey
</li>
<li>
2 cups milk
</li>
<li>
1/4 cup melted unsalted butter
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix together ingredients for maple butter.  Refrigerate at least 4 hours, covered.
</li>
<li>
Preheat oven to 425F.  Place shortening between two 8&quot; skillets and place in the oven for 15 minutes.
</li>
<li>
Mix together dry ingredients in a bowl.  Whisk together eggs, honey, milk and butter in another bowl.  Add wet ingredients to dry and stir just until combined.  Remove the skillets from the oven and carefully pour cornmeal batter into the pans, dividing.  
</li>
</ul>
<h2>Notes</h2><p>
Bake 20-25 minutes until toothpick comes out clean.  Cut into wedges and serve warm with maple butter.SOURCE: Adapted from Bobby Flay
</p>
</body>
