<head>
<title>Cauliflower Soup with Coriander.....Gobi Ka Shorva</title>
</head>
<body>
<h1>Cauliflower Soup with Coriander.....Gobi Ka Shorva</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup vegetable oil
</li>
<li>
3 medium onions, chopped
</li>
<li>
3 1&quot;piece fresh ginger, peeled and cut into slivers
</li>
<li>
10 cloves garlic, chopped
</li>
<li>
3 teaspoons ground cumin
</li>
<li>
5 teaspoons ground coriander
</li>
<li>
1/2 teaspoon turmeric
</li>
<li>
3/4 teaspoon cayenne pepper
</li>
<li>
4 medium potaotes, cut into rough dice
</li>
<li>
8 heaping cups cauliflower, flowerets
</li>
<li>
14 cups chicken stock
</li>
<li>
salt, to taste
</li>
<li>
1 cup heavy cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat heavy pot over high heat.  Add onions, ginger and garlic and stir fry for a few minutes until the onions are slightly browned.  Add the cumin, coriander, turmeric and cayenne.  Stir and add the potatoes, cauliflower and chicken stock.
</li>
<li>
Add salt, stirring slightly and bring to a boil.  Cover and simmer for 10 minutes or so until the potatoes are tender.  Correct the salt.
</li>
<li>
Liquify and add cream.  Taste for correct seasoning.  Serve. 
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;The Indian  trinity of dry spices:  ground cumin, ground coriander
</p>
<p>
  and turmeric; and the Indian  trinity of wet spices or fresh
</p>
<p>
  seasonings:  onion, garlic and ginger.  Have all ready before you
</p>
<p>
  begin.&quot;
</p>
<p>
SERVINGS: 12
</p>
</body>
