<head>
<title>Ceylon Curry Powder</title>
</head>
<body>
<h1>Ceylon Curry Powder</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 tablespoons coriander seeds
</li>
<li>
4 tablespoons cumin
</li>
<li>
8 whole black peppercorns
</li>
<li>
8 whole dried red chile peppers
</li>
<li>
2 teaspoons mustard seeds
</li>
<li>
2 teaspoons fenugreek seeds
</li>
<li>
8 dried curry leaves
</li>
<li>
3 whole bay leaves
</li>
<li>
2 tablespoons ground turmeric
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Heat a wok over a low heat. 
</li>
<li>
 
</li>
<li>
2.  Add the coriander and cumin seeds, peppercorns, chile, mustard and fenugreek seeds, curry leaves and bay leaves.
</li>
<li>
3.  Dry roast the spices until fragrant.  Allow to cool.  Grind to a fine powder in a coffee or spice grinder.  Mix in the ground turmeric and store in an airtight container.  
</li>
<li>
This will last for 2-3 weeks.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Sandeep Chatterjee from The Spice Trail
</p>
</body>
