<head>
<title>Chaat Masala</title>
</head>
<body>
<h1>Chaat Masala</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 tablespoons coriander
</li>
<li>
2 tablespoons cumin seeds
</li>
<li>
1 teaspoon ajowan
</li>
<li>
3 tablespoons black salt
</li>
<li>
1 tablespoon amchoor powder
</li>
<li>
2 dried chiles
</li>
<li>
1 teaspoon black peppercorn
</li>
<li>
1 teaspoon pomegranate seeds
</li>
</ul>
<h2>Method</h2><ul>
<li>
Dry roast corander seeds until aromatic.  Remove from pan and dry roast cumin seeds, and then, separately the ajowan.  Grind the roasted mixture finely with the other ingredients.  Store in an airtight container.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Another Indian seasoning....delicious on mixed fried nuts or 
</p>
<p>
  sprinkled onto fruit and vegetables as a seasoning.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;10 tablespoons&quot;SOURCE: Adapted from &quot;The Food of India&quot;
</p>
</body>
