<head>
<title>Chapati</title>
</head>
<body>
<h1>Chapati</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 cups chapati flour
</li>
<li>
2 tablespoons canola oil
</li>
<li>
2 cups warm water
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place flour and oil in food processor.  Add the 1 1/2 cups of the water throught the feed tube while the processor is running.  Add more a little at a time until the dough gathers in a ball.  Touch the dough.  It shoud be very soft and pliable, even somewhat sticky to the touch.  Place the dough in a warm bowl.  Cover with plastic wrap and let it rest in a warm place for at least 1/2 hour.
</li>
<li>
Splash a bit of flour on a work board. Take the dough and knead it for a minute.  Divide it into 4 equal pieces and roll each piece into a rope.  Cut nto 12 equal pieces of dough and roll them into 1&quot; balls.  Dust lightly with flour and place them back into the bowl.  Keep the bowl covered while you work.
</li>
<li>
Heat the griddle over a medium heat.  Roll each ball into a 7-9&quot; circle.  Place it on the hot griddle and bake until the down side is cooked with several brown spots appearing.  Flip the bread and cook until done.  The first side takes about 20-30 seconds.  The second side takes about 8-10 seconds.  Brush with butter, if desired.  Place the finished breads in a basket lined with a towel, keeping them covered.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 16
</p>
<p>
SOURCE: Adaptation from Sahni
</p>
</body>
