<h1>Char&#39;s Wheat/Oatmeal Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups hi glutin whole wheat flour
</li>
<li>
2 1/2 cups water
</li>
<li>
1 cup preferment, from last bread dough made, cut in chunks
</li>
<li>
2 teaspoons active dry yeast
</li>
<li>
1 Tablespoon salt
</li>
<li>
4 tablespoons soft butter or olive oil
</li>
<li>
1/3 cup honey, molasses or brown sugar
</li>
<li>
1 cup whole grain wheat flour
</li>
<li>
1 cup whole-grain wheat flour, wheat berries ground fresh work great
</li>
<li>
1 cup oatmeal, or 1 cup cooked oatmeal
</li>
<li>
1 cup wheat germ, or cornmeal or other grain
</li>
<li>
1 1/2-2 cups bread flour, unbleached bread flour
</li>
<li>
2 tablespoons oatmeal, steel cut or rolled oats
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place 3 cups bread flour, the water, preferment, yeast in heavy duty mixer bowl.  Mix together with paddle until moistened, about 2 minutes.  Add brown sugar, whole grain flour, oatmeal and wheat germ.  Mix for 5 minutes longer at medium-low speed.  Stop mixer, change to dough hook and turn on.  Slowly add, 1/2 cup at a time, until each addition as been incorporated, the last batch of bread flour.  Continue to mix after adding last of bread flour another 5-6 minutes, raising dough temperature to about 78-81 degrees. 
</li>
<li>
 Remove from bowl, shape into ball on floured board and place into oiled bowl.  Cover tightly with plastic wrap and allow to rise until double, about 2-3 hours.  Punch down and turn over and allow to rise another  hour.   After second rising, turn dough out on unfloured board and shape as desired (into boules or placing into loaf pans).  Allow to proof (the last rise) for 45-60 minutes.   Meanwhile during this last rise, turn oven on to 450F and allow to preheat.  Your loaves will be ready to place in the oven when you press gently with your finger and it pops back up....this will be after about 45-60 mnutes.  Do not over rise or you will leave nothing to rise in the oven!  Or, another way of saying that is that your bread will have no &quot;oven spring&quot;.
</li>
<li>
Spray your loaf lightly with water and dust with a tablespoon of oatmeal on each loaf.  Place in hot oven and bake for 25-35 minutes.  Thump to check for doneness....your loaves should sound hollow.  This bread is awesome eaten hot from the oven......yikes.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A great, grainy loaf....love it!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 Loaves&quot;
</p>
<p>
SERVINGS: 28
</p>
</body>
