<head>
<title>Char&#39;s Turkey Ragu &amp; Ricotta Filled Lasagna</title>
</head>
<body>
<h1>Char&#39;s Turkey Ragu &amp; Ricotta Filled Lasagna</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons olive oil
</li>
<li>
1 large  onion, chopped
</li>
<li>
5 cloves garlic, minced
</li>
<li>
1 pound turkey, ground
</li>
<li>
5 links turkey sausages, meat removed from casings
</li>
<li>
2 tablespoons crushed Italian seasoning, dry
</li>
<li>
1/2 bottle dry red wine
</li>
<li>
2 large cans diced tomatoes, not drained
</li>
<li>
1 small can tomato sauce
</li>
<li>
1 tablespoon tomato paste
</li>
<li>
1 cup fresh basil
</li>
<li>
1/2 cup parsley, minced
</li>
<li>
1 recipe Ricotta Filling
</li>
<li>
2 cups mozzarella cheese, grated
</li>
<li>
1 cup Parmesan cheese
</li>
<li>
1 recipe Char&#39;s Fresh Pasta
</li>
</ul>
<h2>Method</h2><ul>
<li>
Ragu:  Place olive oil in hot sauce pot.  Add onions and sweat.  Add garlic and cook for 1 minute.  Add turkey and uncased turkey sausage.  Cook until cooked through.  Sprinkle with seasoning.  Cook 2-3 minutes.  Add wine and cook 5 minutes.  Add tomatoes, tomato sauce and paste.  Add 1 cup more wine or water to thin if needed.  Cook slowly for 2-3 hours.
</li>
<li>
Meanwhile, grate cheeses and make ricotta filling.
</li>
<li>
When sauce is about finished, make pasta as directed.  Add fresh basil and parsley to sauce and cook last 5 minutes.  Turn off sauce when done. 
</li>
<li>
Roll out pasta into sheets*.  Prepare lasagna as you roll out pasta.
</li>
<li>
	1.  Place about 1-1 1/2 cup sauce on bottom of 9x13&quot; pan.
</li>
<li>
	2.  Top with pasta sheets (two side by side, cut to fit).
</li>
<li>
	3.  Top with about 1 cup sauce.  Top with 1/3 of mozzarella and 1/3 of parmesan.
</li>
<li>
	4.  Top with pasta, top with ricotta filling.
</li>
<li>
	5.  Top with pasta, top with sauce and cheeses as before.
</li>
<li>
	6.  Top with pasta, top with ricotta filling.
</li>
<li>
	7.  Top with pasta, top with sauce and remaining cheese.
</li>
<li>
Bake at 375F for about 40-45 minutes until hot, bubbly and puffy.
</li>
<li>
*There is no need to boil fresh pasta first.  
</li>
</ul>
<h2>Notes</h2></body>
