<h1>Char&#39;s Rice &amp; Grain Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup water, warm, ~ 85F
</li>
<li>
1 tablespoon yeast
</li>
<li>
2 cups water, warm, ~ 85F
</li>
<li>
3 cups bread flour
</li>
<li>
1 cup wild rice, or brown, or mixture
</li>
<li>
1 cup whole wheat flour
</li>
<li>
1 cup bread flour, up to 2 cups +
</li>
<li>
1 tablespoon sea salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Dissolve yeast in warm 1/2 cup water and allow to proof (until bubbly, about 5 minutes).
</li>
<li>
Meanwhile, place 3 cups bread flourin mixer.  Attach paddle for mixing.  
</li>
<li>
Add 2 cups water to yeasted water.  Turn on mixer and add water/yeast mixture.  Allow to mix about 5 minutes until it looks stretchy.
</li>
<li>
Add rice.    Mix in further.  Add sea salt and mix.  Change to dough hook.
</li>
<li>
Add, 1/4 cup at a time, the remaining flours until correct texture is made and the dough is at about 78F-81F as measured by a thermator.
</li>
<li>
Place in lightly oiled bowl and cover with plastic wrap.  Allow to rise for 2 hours or until doubled.  Punch down and allow to rise another hour.
</li>
<li>
Shape into loaves and cook in preheated 425F oven for about 20-30 minutes until thumped and sounds hollow.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A wholesome and healthy bread&quot;
</p>
<p>
SERVINGS: 32
</p>
</body>
