<head>
<title>Char&#39;s Mac &amp; Cheese</title>
</head>
<body>
<h1>Char&#39;s Mac &amp; Cheese</h1>
<h2>Ingredients</h2>
<ul>
<li>
Bechemel Sauce:
</li>
<li>
2 tablespoons butter
</li>
<li>
2 tablespoons flour
</li>
<li>
1 1/4 cups milk (1% to whole)
</li>
<li>
1/4 clouted onion
</li>
<li>
nutmeg to taste
</li>
<li>
salt to taste (after cheese is added)
</li>
<li>
1 1/4 cups Gruyere cheese (add more to taste)
</li>
<li>
1/4 cup Parmesan Riggiano
</li>
<li>
chunks of bleu cheese if desired
</li>
<li>
equaling about 1/4 cup sm. dice
</li>
<li>
1/2 lb. penne pasta
</li>
<li>
2 large slices of French baquette, 1 or 2 days
</li>
<li>
old, into bread crumbs
</li>
<li>
3 tablespoons melted butter
</li>
</ul>
<h2>Method</h2><ul>
<li>
Make sauce and flavor to taste with seasonings and cheese.  
</li>
<li>
BUTTER bottom of red au gratin dish (perfect size for this amount).
</li>
<li>
Mix cooked pasta with sauce and place into au gratin.
</li>
<li>
Add bread crumb and butter mixture.
</li>
<li>
Bake until bread crumbs are golden at 375F.
</li>
<li>
Variations on this theme:
</li>
<li>
1.  Change cheeses to suit ethnic or style of meal.
</li>
<li>
2.  Add sausage, tomatoes or other vegetables as desired.
</li>
<li>
3.  Char:  Try using bleu cheese, bacon and toasted walnuts for a unique and eye-opening
</li>
<li>
                    first course!  Think of another pasta.....?
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is a crunchy style of mac &amp; cheese and ever so delicious.  The au gratin dish I use is about 1 1/2 qt. or so and it makes this the perfect crispy top and bottom.
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
