<h1>Charlotte&#39;s Frozen Yogurt</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups sugar
</li>
<li>
1/4 cup flour
</li>
<li>
2 cups skim milk
</li>
<li>
1 quart yogurt
</li>
<li>
4 eggs, slightly beaten
</li>
<li>
1 tablespoon vanilla
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place sugar, flour, buttermilk in saucepan and carefully bring to a boil and boil 1 minutes stirring constantly.  Temper eggs and add back to saucepan and cook entire mixture one minute longer.  Take off stove; cool slightly and add vanilla.  Cool completely in refrigerator and freeze in ice-cream maker.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
