<h1>Char&#39;s Sausage/Marinara/Bechamel Lasagna</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Bechamel (3 cups milk)
</li>
<li>
Tomato Sauce
</li>
<li>
2 lg. cans tomatoes
</li>
<li>
1 onion
</li>
<li>
leek
</li>
<li>
garlic
</li>
<li>
fresh basil
</li>
<li>
sm. amt. chile flakes
</li>
<li>
salt
</li>
<li>
sugar if needed
</li>
<li>
Keep this fairly subtle...marrying
</li>
<li>
flavors of bechemel etc.
</li>
<li>
3 fresh Italian sausages
</li>
<li>
2 fresh Spicy Italian sausage
</li>
<li>
Fresh pasta
</li>
<li>
Parmesan Reggiano ~ 3 cups
</li>
<li>
Mozzerella Cheese ~ 3 cups
</li>
<li>
2 large handfuls fresh basil leaves
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1. Make tomato sauce adding in whole bunches of basil after some cooking to infuse...
</li>
<li>
2.  Make Bechemel and allow to cool with wax paper or plastic wrap covering
</li>
<li>
3.  Cook sausage separately
</li>
<li>
4.  Make pasta and stretch to #6 on pasta machine; lay out and cover with plastic wrap
</li>
<li>
5.  Layer:  Tomato sauce on bottom of large lasagna pan
</li>
<li>
                 Top with sheets of pasta to cover, cutting with scizzors to fit
</li>
<li>
                 Bechemel with Parm on top, layer with basil
</li>
<li>
                 Pasta
</li>
<li>
                 Tomato sauce, meat scattered, mozzerella 
</li>
<li>
                 Pasta with the rest of the Bechemel and some Parm, layer of basil
</li>
<li>
                 Pasta with tomato sauce,rest of meat, mozz
</li>
<li>
                 Last layer of Pasta, tomato sauce, Parm and Mozz
</li>
<li>
This can be made with all kinds of things:  mushrooms, shrimp, eggplant...you name it.
</li>
<li>
This is my basic cannot not fail recipe.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Char Z.
</p>
</div></body>
