<h1>Char&#39;s Molasses Spice Cookies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/3 cup unsalted butter, softened
</li>
<li>
1 cup brown sugar
</li>
<li>
1 1/2 cups dark molasses
</li>
<li>
2 large eggs
</li>
<li>
6 cups white flour, sifted
</li>
<li>
1 teaspoon salt
</li>
<li>
1 teaspoon allspice
</li>
<li>
1 teaspoon cinnamon
</li>
<li>
1 tablespoon fresh ginger, grated
</li>
<li>
2 teaspoons soda mixed with 3 tablespoons cold water
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Beat together shortening, brown sugar and molasses in heavy duty mixer with whisk.  Beat for about 2 minutes until light.  
</li>
<li>
One at a time, add the eggs and mix thoroughly after each addition.
</li>
<li>
Mix together flour, salt, allspice cloves, cinnamon.  Change to paddle and slowly mix in all but about 1 cup of mixture.  Add ginger and soda/water mixture.  Continue to mix and add in the rest of the flour mixture, scraping down bowl once or twice during the whole process.
</li>
<li>
Chill dough for at least 30 minutes.  Preheat oven to 350F and roll out dough to about 1/2&quot; (thick).  Cut with large cookie cutter.  Place on greased cookie sheet and bake until done, about 15-17 minutes. (When you touch it, there should be no imprint left).
</li>
<li>
If desired, frost with simple icing (1 cup powdered sugar mixed with a pinch of salt, 1/2 tsp. vanilla and enough cream or milk to spread easily) when cooled.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Mmmmmmm......&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;3 dozen large&quot;
</p>
</div></body>
