<h1>Char&#39;s Sourdough</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups sour starter...., slightly sour
</li>
<li>
1 cup flour: 1 cup water, three days then
</li>
<li>
feed 1 cup flour:1 cup flour 24 hr., Use and feed and refrigerate.
</li>
<li>
Best to use bottled water.
</li>
<li>
2 cups warm water
</li>
<li>
1 teaspoon salt
</li>
<li>
2 tablespoons nonfat dry milk
</li>
<li>
6 cups unbleached flour, can be part bread flour
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;3/4/03&quot;
</p>
<p>
SERVINGS: 1
</p>
</body>
