<h1>Char&#39;s Italian Loaf</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/2 cups pre-ferment, room temperature
</li>
<li>
2 cups warm water, about 109F, add and mix with paddle
</li>
<li>
2 cups bread flour, mix in with paddle
</li>
<li>
1 1/2 teaspoons yeast in 1/2 cup warm (109F) water
</li>
<li>
1 1/2 cups unbleached flour, mix in with paddle
</li>
<li>
1/2 cup whole wheat flour
</li>
<li>
1 cup semolina flour, mix in with paddle, mix 2-3 minutes
</li>
<li>
1 tablespoon sea salt mixed with 2 tablespoons of water, mix in with paddle
</li>
<li>
1 cup unbleached flour, add with dough hook
</li>
<li>
2-4 tablespoons unbleached flour, more or less to bring together
</li>
<li>
Mix all to about 77F
</li>
<li>
Final dough will be slightly sticky.
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Round into ball and place into lightly greased bowl.  Cover with plastic wrap.  Allow to rise about 2 hours.  
</li>
<li>
Punch down.  Turn over into new ball and allow to rise 1 hour or so until doubled.
</li>
<li>
Shape into two large rectangles (reserving chunk of dough for next loaf) using lots of flour.  Place on parchment paper on sheet pans that have been coated with semolina flour or polenta.  Poke with fingertips.  Allow to rise until double, about 1 hour.  Meanwhile, preheat oven to 450F for at least 40 minutes.
</li>
<li>
If possible place a pizza stone on the lowest rack of the oven and preheat with the oven.  (This can be kept in the oven at all times).
</li>
<li>
When the dough has risen,  spray the loaves briefly with  water and place the pan on the stone in the oven.  Spray the oven quickly with the water.  Wait a minutes or two and open the oven slightly and spray again.  Do this one more time about 2 minutes later.  Try not to open the door too widely, as heat escapes.  Cook the loaves for 
</li>
<li>
about 20-30 minutes until dark golden brown.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Apple Charlotte&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 loaves&quot;
</p>
<p>
SERVINGS: 32
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
