<h1>Cheddar Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 ounces white mire poix
</li>
<li>
4 ounces butter
</li>
<li>
1 ounce garlic, minced
</li>
<li>
4 ounces flour
</li>
<li>
1 gallon chicken stock
</li>
<li>
2 lbs. cheddar cheese, grated
</li>
<li>
1 pint heavy cream
</li>
<li>
4 ounces green pepper, julienne
</li>
<li>
4 ounces red pepper, julienne
</li>
<li>
1/2 ounce dry mustard
</li>
<li>
1 ounce white wine
</li>
<li>
to taste Tabasco sauce
</li>
<li>
to taste Worcestershire sauce
</li>
<li>
to taste s/p
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sweat m/p in butter.  Add garlic and sweat.  Add flour to make roux and cook 5 minutes.  Add chix stock and simmer 45 minutes.  Add rest of ingredients and adjust seasonings to taste.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 40
</p>
<p>
SOURCE: Char
</p>
</body>
