<h1>Cheese &amp; Roasted Vegetable Pate</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 8 oz cream cheese, room temp
</li>
<li>
1 4 oz butter, room temp
</li>
<li>
1/2 cup parmesan cheese
</li>
<li>
3 scallions, minced
</li>
<li>
1 clove garlic, minced
</li>
<li>
1 bell pepper, roasted, julienned
</li>
<li>
1/2 lb. spinach, sauteed in o/o and shallots; cooled
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix cream cheese, butter, parm, scallions and garlic.  Press 1/3 mixture in small pate or loaf pan.  Cover with peppers.  Press on 1/3 cheese mixture on top.  Add
</li>
<li>
spinach (squeezed of juice) and top with remaining third of cream cheese mixture.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
</div></body>
