<head>
<title>Cheese &amp; Mushroom Quesadillas</title>
</head>
<body>
<h1>Cheese &amp; Mushroom Quesadillas</h1>
<h2>Ingredients</h2>
<ul>
<li>
canola oil
</li>
<li>
1 lb. crimini mushrooms, sliced
</li>
<li>
2 jalapeno chile peppers
</li>
<li>
1 bunch cilantro, chopped
</li>
<li>
salt
</li>
<li>
1 lb. jack cheese, grated
</li>
<li>
salsa
</li>
<li>
whole wheat flour tortillas
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat a saute pan.  Add a little canola oil.  Add the mushrooms and chiles.  Sear to finish and add flavor.  Add salt to taste.  Add cilantro.  Remove from heat.
</li>
<li>
Oil one side of the tortilla.  Fill with mushroom filling; add cheese and cover with another tortilla, brushing the top side with oil.  Grill over medium heat until marked and then turn over with a large spatula.  Cut into triangles and serve with salsa and guacamole if desired.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Rick Bayless
</p>
</body>
