<h1>Cheezy Batter Bread</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Ingredients:
</li>
<li>
1/4 cup butter
</li>
<li>
3/4 cup buttermilk
</li>
<li>
3/4 cup water
</li>
<li>
1 package active dry yeast
</li>
<li>
3 eggs
</li>
<li>
3-1/2 to 4 cups flour
</li>
<li>
2 tablespoons sugar
</li>
<li>
1 teaspoon baking soda
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1/4 cup grated Parmesan cheese
</li>
<li>
1 cup shredded Cheddar cheese
</li>
<li>
1/2 cup shredded Swiss cheese
</li>
<li>
Preparation:
</li>
<li>
Place butter in medium saucepan and melt. Add buttermilk and water and heat until warm to the touch. Pour into a large mixing bowl and sprinkle the yeast on top. Stir and let stand for 5 minutes; then whisk in the eggs.
</li>
<li>
Stir together flour, sugar, baking soda, and salt and stir into the egg mixture to make a stiff batter; start with smaller amount of flour and add more if necessary. Stir in the Parmesan cheese, Cheddar cheese, and Swiss cheese.
</li>
</ul>
<h2>Notes</h2><p>
Grease two 8x4&quot; loaf pans or two 1 1/2 quart oven-proof bowls and divide batter between pans. Cover and let rise for about 40 minutes; meanwhile, preheat oven to 375 degrees F. Bake loaves for 35-40 minutes or until deep golden brown. Turn breads out onto wire racks and cool.SOURCE: Linda Larsen
</p>
</body>
