<head>
<title>Cheesy Onion Quesadillas</title>
</head>
<body>
<h1>Cheesy Onion Quesadillas</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
2 wheat flour tortilla
</li>
<li>
jack cheese
</li>
<li>
1 jalapeno chile pepper, sliced
</li>
<li>
1 tablespoon cilantro, chopped
</li>
<li>
sliced caramelized onions*
</li>
<li>
canola oil
</li>
<li>
Lay one flour tortilla on board.  Sprinkle with cheese, chile and cilantro.  Lay sliced caramelized onions on top.  Cover with second tortilla.  Brush with canola oil.  Lay oiled side on hot griddle or grill.  Brush the other side (side up) with canola oil.  Cook until cheese is melted and tortilla is golden.
</li>
<li>
*Mexican Style Caramelized Onions
</li>
</ul>
<h2>Notes</h2><p>
Cut 4-5 onions in half and slice width-wise.  Heat saute pan to hot, add canola oil and add onions.  Add 1 teaspoon on cumin seeds, s/p and cook with lid on until soft.  Take off lid, cooking off liquid and just until just begins to brown around the edges and turn golden.  This process takes about 30-35 minutes.  SOURCE: Apple Charlotte
</p>
</body>
