<h1>Chianti Marinated Filet of Beef</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 filet of beef, whole or butt end
</li>
<li>
2 medium onions, sliced
</li>
<li>
2 bay leaves, broken
</li>
<li>
12 black pepper corns
</li>
<li>
small bunch thyme, left whole
</li>
<li>
12 sprigs parsley stems
</li>
<li>
1 bottle Chianti
</li>
<li>
1/2 cup olive oil
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place trimmed filet of beef in a large non-metalic dish.  Scatter onions, bay leaves, pepper corns, thyme and parsley stems all around the piece of meat.
</li>
<li>
Pour the wine and olive oil all around.  Marinate overnight in the refrigerator.
</li>
<li>
Prepare a medium hot wood charcoal fire.  Remove the filet and rub with a little olive oil and season with salt and pepper.  If the piece of filet is the whole filet (as opposed to just the butt of the filet), tie the tail up to even the thickness.
</li>
<li>
Just as the flames have subsided, place the filet over the hot coals and cook for 25 minutes turning about 5 times to cook evenly.  Cook to internal temperature of 130F.  Rest the filet on a warm platter, covered, for 5-7 minutes.  Carve and serve.  Drizzle with its own juices collected on the platter.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Alice Waters
</p>
</div></body>
