<h1>Chicken Stock</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
10 lbs. chicken bones, pre-roasted ~ 1 hr.
</li>
<li>
Mirepoix:
</li>
<li>
1 lb. onion (part of this can be leeks), chopped
</li>
<li>
8 ounces carrots (or 8 oz. mushroom stems), chopped
</li>
<li>
8 ounces celery, chopped
</li>
<li>
1 bay leaf
</li>
<li>
1/4 teaspoon thyme (or 3-4 fresh thyme sprigs)
</li>
<li>
1/4 teaspoon peppercorns
</li>
<li>
6 parsley stems
</li>
<li>
2 whole cloves
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Pre-roast chicken bones for a deeper stock color; blanch chicken bones if a white
</li>
<li>
stock is desired.  To blanch:  Place bones in a stock pot, cover with cold water and bring to a boil.  Drain and rinse.
</li>
<li>
2.  Place either the pre-roasted bones or the blanched bones in a stock pot and cover with cold water.  Bring to a boil, reduce heat to simmer and skim the scum carefully.
</li>
<li>
3.  Add the mirepoix and sachet ingredients.
</li>
<li>
4.  Simmer for required length of time, skimming the surface as often as necessary for 2 1/2-3 hours.  Add water if necessary to keep bones covered.
</li>
<li>
5.  Strain throught a china cap lined with several layers of cheesecloth.
</li>
<li>
6.  Cool the stock in a waterbath and refrigerate.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : This recipe makes 2 gallons or 128 one-cup servings.  If a white chicken stock is desired, do not pre-roast the  bones and use chopped mushroom stems instead of carrots; otherwise, for deeper color use carrots and pre-roast the bones.
</p>
<p>
SERVINGS: 128
</p>
<p>
SOURCE: Gisslen
</p>
</div></body>
