<head>
<title>Chicken Marsala</title>
</head>
<body>
<h1>Chicken Marsala</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 pounds chicken breasts, skinless, boneless
</li>
<li>
AP flour
</li>
<li>
2 cups dry bread crumbs
</li>
<li>
2 large eggs
</li>
<li>
2 tablespoons water
</li>
<li>
s/p
</li>
<li>
1 pound crimini mushrooms
</li>
<li>
1 tablespoon butter
</li>
<li>
1 tablespoon olive oil
</li>
<li>
1/4 cup pancetta or proscuitto, diced
</li>
<li>
1 cup sweet Marsala wine
</li>
<li>
3/4 cup chicken stock
</li>
<li>
3 tablespoons unsalted butter, cold
</li>
<li>
parsley, chopped
</li>
<li>
fresh lemon juice, to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Pound chicken breasts between plastic wrap to 1/4&quot;.  Place flour, bread crumbs,  and eggs mixed with water, each in one pie plate (fre dredging).  S/p chicken breasts and put aside.
</li>
<li>
Heat 1 tablespoon each butter and oil in saute pan.  Add pancetta or proscuitto and mushrooms and saute until liquid is freed from the mushrooms.
</li>
<li>
	
</li>
<li>
Meanwhile, heat non-stick pan.  Add a little butter and olive oil.  Dredge chicken breasts in flour, then in egg/water mixture and then in bread crumbs, shaking lightly.  Saute chicken lightly, about 5 minutes each side.  Place on heated platter and cover lightly with aluminum foil to maintain warmth.
</li>
</ul>
<h2>Notes</h2><p>
Deglaze the chicken pan with Marsala wine and reduce to about 1/2 volume.  Add chicken stock and reduce slightly.  Add mushroom mixture.  Gently stir in butter and tate to correct seasonings.  Add a drizzle of lemon.  Serve sauce with chicken breasts.SOURCE: Apple Charlotte
</p>
</body>
