<h1>Chicken Adobo (Filipino National Dish)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3/4 cup rice vinegar
</li>
<li>
1/4 cup soy sauce
</li>
<li>
1 tablespoon minced garlic
</li>
<li>
1 bay leaf
</li>
<li>
1 teaspoon sugar
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1/2 teaspoon black pepper
</li>
<li>
4 each chicken legs &amp; thighs, fat trimmed
</li>
<li>
3/4 cup water
</li>
<li>
2 tablespoons cooking oil
</li>
<li>
2 teaspoons cornstarch dissolved in 1 tbsp. water
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Getting Ready:
</li>
<li>
1.  In a 3-quart pan, combine vinegar, soysauce, garlic, bay leaf, sugar salt, and pepper.  Add chicken and stir to coat each piece with marinade.  Let stand for 30 minutes.
</li>
<li>
  
</li>
<li>
Cooking:
</li>
<li>
1.  Add water.  Bring to a boil; reduce heat, cover, and simmer until meat near bone is no longer pink when cut, 45-50 minutes.  Remove chicken with a slotted spoon; pat dry with paper towels.  Reserve sauce and discard bay leaf.
</li>
<li>
2.  Place a wok over medium heat until hot.  Add oil, swirling to coat sides.  Add chicken and cook until browned on all sides, 5-6 minutes total.
</li>
<li>
3.  Heat reserved sauce.  Add cornstarch solution and cook, stirring until sauce bo8ls and thickens.
</li>
<li>
4.  Return chicken to sauce; stir until chicken is well glazed.
</li>
<li>
5.  Lift chicken from sauce and arrange on a serving platter.  Pass extra sauce at the table.
</li>
<li>
Pork Adobo
</li>
<li>
Follow directions for chicken adobo, but omit chicken and use 1 1/2 pounds pork shoulder, cut into 1 1/2&quot; chunks.  Simmer pork until tender, 1-1 1/4 hours, before frying.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 4
</p>
<p>
SOURCE: Martin Yan
</p>
</div></body>
