<head>
<title>Chicken Curry &amp; Apple  Soup</title>
</head>
<body>
<h1>Chicken Curry &amp; Apple  Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
2-3 chicken breast halves, sauted 12 minutes in butter
</li>
<li>
2 tablespoons butter, melted in soup pot
</li>
<li>
3 leeks, cut in half, sliced thin
</li>
<li>
2 tart apples, diced
</li>
<li>
1 cup apple juice
</li>
<li>
1/2 cup apple cider
</li>
<li>
3-4 cups chicken stock
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
3 tablespoons Calvados
</li>
<li>
1/2 cup  heavy cream
</li>
<li>
1 tablespoon curry powder
</li>
<li>
1 tablespoon butter
</li>
<li>
French bread, toasted
</li>
</ul>
<h2>Method</h2><ul>
<li>
Remove chicken, put aside.
</li>
<li>
Place the butter in the same pot.  Add leeks and cook about 10 minutes until softened.  
</li>
<li>
Add the apples, apple juice, vinegar and stock.  Season with salt &amp; pepper.  Cook for 10 minutes.  Add the chicken and cook another 5-10 minutes, covering the pot and cooking  until chicken is cooked through.  
</li>
<li>
Take the chicken from the pot and remove the skin.  Cut into 1/2&quot; chunks.  
</li>
</ul>
<h2>Notes</h2><p>
Just before serving, saute the curry in the 1 tablespoon of butter, cooking slightly.  Add to soup.  Return the chicken to the pot.  Add the Calvados and heavy cream. Taste to correct seasoning.   Serve with the French croute.SOURCE: Adapted from James Peterson
</p>
</body>
