<head>
<title>Chickpea Soup with Rosemary</title>
</head>
<body>
<h1>Chickpea Soup with Rosemary</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. garbanzo beans, dried and soaked overnight in cold water to cover, drained and rinsed
</li>
<li>
1 potato, white rose or red
</li>
<li>
2 carrots +, 1 carrot minced
</li>
<li>
1/3 cup extra virgin olive oil
</li>
<li>
1 cup onion, finely minced
</li>
<li>
2 tablespoons fresh rosemary, finely minced
</li>
<li>
1 tablespoon fresh sage, finely minced
</li>
<li>
1 tablespoon pink peppercorn
</li>
<li>
salt/pepper -- to taste
</li>
<li>
drizzle extra virgin olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Do an overnight or quick soak on the beans.  Remove water.  Place 1 carrot and 1 potato in with the beans and cover with water and/or chicken stock  by 2&quot;.  Cook until cooked through.
</li>
<li>
Heat the oil in a large soup pot and add the minced onion, rosemary, sage and peppercorns.  Cook until soft.  Add all but about 1/2  of the beans and the liquid into the pot.  Cook a few minutes.  Meanwhile, puree the beans with the whole potato and carrot.
</li>
<li>
Add the puree to the soup pot and stir for a minute or two.    Season with salt and pepper and bring to a gentle simmer over medium heat.  Cook stirring a bit until the soup has thickened slightly, 10-12 minutes.  Serve hot with a few drops of extra virgin olive oil drizzled over each serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotrte
</p>
</body>
