<head>
<title>Chicken Rolls (Vietnam)</title>
</head>
<body>
<h1>Chicken Rolls (Vietnam)</h1>
<h2>Ingredients</h2>
<ul>
<li>
Filling:
</li>
<li>
1 lb. chicken, dark meat, finely chopped
</li>
<li>
3 stalks green onion, minced
</li>
<li>
2 ounces bean thread noodles, soaked, drained and chopped
</li>
<li>
1 small carrot, brunoise
</li>
<li>
1 tablespoon cornstarch
</li>
<li>
1 large egg
</li>
<li>
1 teaspoon black pepper
</li>
<li>
2 teaspoons soy sauce
</li>
</ul>
<h2>Method</h2><ul>
<li>
4        tablespoons  sugar
</li>
<li>
  1                cup  warm water
</li>
<li>
  18                8&quot;  rice paper wrappers
</li>
<li>
                        oil -- about 3 cups for deep-frying
</li>
<li>
  18            leaves  lettuce
</li>
<li>
  36            leaves  mint
</li>
<li>
  18            sprigs  cilantro
</li>
<li>
     3/4           cup  Nuoc Cham
</li>
<li>
                        Nuoc Cham:
</li>
<li>
     1/4           cup  fish sauce
</li>
<li>
     1/4           cup  water
</li>
<li>
  1                     lime -- juiced (about 2 tablespoons)
</li>
<li>
  1         tablespoon  sugar
</li>
<li>
  2              fresh  Thai chiles -- sliced
</li>
<li>
Filling:  Combine chicken, green onion, noodles, carrot, cornstarh, egg, pepper and soy sauce and mix thoroughly.  Set aside.
</li>
<li>
Dissolve sugar in water and brush both sides of rice paper wrappers and and let set until soft.  Place a heaping 1 1/2 tablespoons of filling in the 
</li>
<li>
lower 1/3 section of the circle and roll up tight without leaving air pockets.  Place rolls seam side down for a few minutes to allow the rolls to seal before deep frying.
</li>
<li>
Heat oil to 350 degrees and deep fry rolls until golden brown.   To eat:  wrap the rolls with lettuce and top with mint and cilantro and dip in the Nuoc Cham sauce.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 18
</p>
</body>
