<h1>Chicken Tostadas</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 store-bought corn tortillas
</li>
<li>
2 cooked chicken breasts or thighs, shredded
</li>
<li>
beans of your choice: can use
</li>
<li>
Mexican beans (included in this pkt),
</li>
<li>
purchased beans, chili beans
</li>
<li>
lettuce, cut up
</li>
<li>
tomatoes
</li>
<li>
salsa, homemade (in this pkt) or
</li>
<li>
purchased
</li>
<li>
green onions, sliced
</li>
<li>
avacados or quacamole
</li>
<li>
shredded cheese of your choice
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Toast tortillas in oven at 350F for about 7 minutes and then turn over and toast the other side until crisp (make a bunch more and break them up and make nachos too).
</li>
<li>
Meanwhile, heat the beans, cut up the lettuce, dice the tomatoes, slice the green onions and avacados.  Shred some cheese....about one cup.
</li>
<li>
Assembly:  Place one or two tortillas on each individual plate.  Top with beans, a bit of chicken (if desired), a small amount of cheese.  You can place in microwave for a minute at this point or in the oven to melt the cheese.  Take out of oven, top with lettuce, tomatoes, avacados, and salsa.  Garnish with sliced onions.......yum.  Cool and easy!
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : This is a wonderful....&quot;kids can start&quot; recipe.  If you have time make the beans in advance....if not, purchased beans are great too.  This is the real Mexican style.
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
