<head>
<title>Chicken with Fig &amp; Orange Sauce</title>
</head>
<body>
<h1>Chicken with Fig &amp; Orange Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
24 ounces chicken breasts, skinned and cut into 1/2&quot; strips
</li>
<li>
1/3 cup flour
</li>
<li>
1/3 cup olive oil
</li>
<li>
2 onions, thinly cut
</li>
<li>
1 1/2 teaspoons fennel seeds
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1 tablespoon balsamic vinegar
</li>
<li>
2 cups fresh orange juice
</li>
<li>
1 cup white wine
</li>
<li>
salt
</li>
<li>
pepper
</li>
<li>
10 fresh figs*, cut into quarters
</li>
<li>
1/4 cup kalamata olives
</li>
<li>
fresh parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Dredge chicken strips in flour.  Heat pan and add olive oil.  Add chicken strips and saute until
</li>
<li>
golden.  Remove from pan.
</li>
<li>
Add a bit more olive oil.  Add onions, fennel seeds and garlic.  Saute briefly until onions are softened.  Add balsamic vinegar, orange juice and wine.  Deglaze pan and reduce about 1/3-1/2.  Season with salt and pepper.  Add figs and cook briefly.  Add chicken and olives.  Reheat about 1-2 minutes.  Garnish with parsley.  Serve with rice.	
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Byron Ayanoglu
</p>
</body>
