<head>
<title>Chicken with Dried Fruit....Shahi Murgh</title>
</head>
<body>
<h1>Chicken with Dried Fruit....Shahi Murgh</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups plain yogurt
</li>
<li>
2 teaspoons salt
</li>
<li>
freshly ground pepper
</li>
<li>
2 teaspoons ground cumin
</li>
<li>
2 teaspoons ground coriander
</li>
<li>
1/2 teaspoon cayenne pepper, or to taste
</li>
<li>
1/2 cup fresh cilantro, minced
</li>
<li>
2 chickens, cut up
</li>
<li>
1/2 cup vegetable oil
</li>
<li>
2 onions, chopped
</li>
<li>
5 cloves garlic, chopped
</li>
<li>
4 green chiles, chopped
</li>
<li>
16 cardamom pods
</li>
<li>
12 whole cloves
</li>
<li>
2 2&quot; cinnamon stick
</li>
<li>
5 bay leaves
</li>
<li>
1/2 cup blanched slivered almonds
</li>
<li>
1/2 cup golden raisins
</li>
</ul>
<h2>Method</h2><ul>
<li>
Beat the yogurt lightly until smooth and creamy.  Add 1/2 of the salt, some pepper, cumin, coriander and cilantro.  Mix and set aside.
</li>
<li>
Salt &amp; pepper the chicken pieces on both sides using the rest of the salt and pepper.
</li>
<li>
Heat the oil in a non-stick fry pan.  When hot, add the onions, garlic, green chiles,  cardamom, cloves, cinnamon and bay leaves.  Stir once and add as many chicken pieces as the pan will hold easily in a single layer.  Brown the chicken on both sides and set aside.  Brown the rest of the chicken.
</li>
<li>
Into the same oil, add the almonds and raisins.  Stir quickly until the almonds turn golden and raisins plump up.  Put the chicken and its accumulated juices back into the pan.  Lower heat, place a lid on the pan and simmer for about 10 minutes.  Add the seasoned yogurt and bring to a simmer.  Cover and lower heat and simmer for about 12-15 minutes, checking and stiring periodically.  Remove cover, turn the heat up a bit and reduce the sauce until it just clings to the chicken pieces..Remove the whole spices before serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
