<h1>Chicken Stock</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 lbs. chicken bones/pieces
</li>
<li>
Mirepoix:
</li>
<li>
~ 1 onion
</li>
<li>
1 leek
</li>
<li>
1-2 carrots
</li>
<li>
2-3 celery
</li>
<li>
All cut into small dice.
</li>
<li>
2 crushed garlic cloves
</li>
<li>
Bouquet Garni:
</li>
<li>
1 bay leaf
</li>
<li>
2 sprigs fresh thyme
</li>
<li>
5-6 whole peppercorns
</li>
<li>
6-8 parsley stems
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Roast the chicken parts, without any seasoning,  for about 45 minutes to an hour at 375F.  (If you don&#39;t have time to do this, just pile all the bones in the pot, raw.  It just gives the stock a wonderful rich flavor if you have time).
</li>
<li>
2.  Place the preroasted bones in a stock pot.
</li>
<li>
3.  Pour fat from roasting pan and deglaze the roasting pan with a little water.  Add to stockpot.  
</li>
<li>
4.  Cover the bones with cold water,  2 inches above the bones.  Bring to a boil, reduce to simmer and skim the scum.
</li>
<li>
5.  Add the mirepoix and bouquet garni.
</li>
<li>
6.  Simmer for about 2 - 2 1/2 hours skimming scum if needed.  
</li>
<li>
7.  Remove bones with slotted spoon.  Strain the stock through a good strainer.
</li>
<li>
8.  Cool in a water bath* and refrigerate.
</li>
<li>
*Water bath = Place the pot with the strained stock in the kitchen sink (make sure you plug the sink).  Add water and ice in the sink surrounding the pot to the level even the end point of the stock in the pot.  Allow to cool in this manner in the sink for about 30 minutes, stirring occasionally.  Then refrigerate. 
</li>
<li>
 It is difficult for anything deeper than 3&quot; in the refrigerator to cool fast enough to prevent bacteria from growing.    This is one of those little things that can cause &quot;food poisoning&quot; if not handled correctly!!
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Think of how many times you have purchased already prepared chicken stock....you will find everything you make with your own chicken stock to be far superior to the purchased.  Use as a base for broth-type soups and puree soups.  Use in place of cream in  mashed potatoes.  Cook  rice in it.  Think of its use when water is requested in a recipe....often chicken stock can work in a savory dish with great improvement in flavor.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
