<h1>Chicken Gravy....Oh My God!</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 tablespoons chicken fat.......whoa, Nelly
</li>
<li>
6 tablespoons AP flour
</li>
<li>
3 cups milk
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
After you take the chicken from the pan, measure out enough fat to satisfy this request of 6 tablespoons of chicken fat.....whoa, Nelly.  Remove all fat from the pan except this amount.  (See, we can watch it when we must).
</li>
<li>
Blend in 6 tablespoons of flour with a wooden spoon.  Cook this mixture after it begins to bubble for about 3-5 minutes.  You want to cook the flour taste out of it.  It begins to smell a bit like biscuits.
</li>
<li>
Remove from the heat and stir in the milk beginning with just 2 1/2 cups to be sure that you do not thin it out too much.   Place back on the heat and bring to a boil, stirring constantly.  Boil about 1 minute and add more milk if needed.  Season with salt and pepper.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Well....you know.....fried chicken has to have chicken
</p>
<p>
  gravy......This meal could put you right over the top!&quot;
</p>
<p>
SERVINGS: 8
</p>
</div></body>
