<h1>Chicken with Ginger (Gai phad king)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups cloud ear mushrooms, soaked in water 10 minutes
</li>
<li>
1/4 cup canola or soy oil
</li>
<li>
14 cloves garlic, chopped
</li>
<li>
2 onions, thinly sliced
</li>
<li>
4 halves chicken breast, thinly sliced
</li>
<li>
2 cups ginger, julienned
</li>
<li>
2 tablespoons fish sauce
</li>
<li>
1/3 cup oyster sauce
</li>
<li>
2 tablespoons soy sauce
</li>
<li>
2 tablespoons soybean paste
</li>
<li>
4 long red chiles, cut into 1&quot; pieces
</li>
<li>
3/4 cup chicken stock, or water
</li>
<li>
16 green onions, chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Take out hard core of the cloud ear mushrooms.  Cut into pieces.
</li>
<li>
Heat oil in wok over high heat and stir fry garlic until just brown.  Add onion and chicken stir-fry until chicken is opaque on all sides, approximately 3 minutes.
</li>
<li>
Add ginger and mushrooms, fish sauce, oyster sauce, soy sauce and soybean paste.  Stir fry for about 2 minutes.  Add chilies and stock, bring to a boil and cook 1 minute longer.  Service with jasmine rice.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;One of our favorite easy, Thai dishes!&quot;
</p>
<p>
SERVINGS: 8
</p>
</div></body>
