<head>
<title>Chilled Seafood Salad with Bitter Greens</title>
</head>
<body>
<h1>Chilled Seafood Salad with Bitter Greens</h1>
<h2>Ingredients</h2>
<ul>
<li>
Fresee
</li>
<li>
Radicchio
</li>
<li>
Endive
</li>
<li>
Red Onion
</li>
<li>
Shaved Fennel
</li>
<li>
3 shrimp
</li>
<li>
orange sections
</li>
<li>
Dressing:
</li>
<li>
orange zest and orange juice
</li>
<li>
scallots
</li>
<li>
vinegar
</li>
<li>
salt
</li>
<li>
sugar
</li>
<li>
canola oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Combine greens with quartered and sliced red onion.  
</li>
<li>
2.  Top with shaved fennel and place on plate towards 12:o&#39;clock
</li>
<li>
3.  Place three shrimp toward front of greens, 6 o&#39;clock and orange sections at 12 o&#39;clock on greens.
</li>
<li>
4.  For dressing:  Combine orange zest and juice from oranges in saute pan.  Add shallots and reduce almost au sec.  Take out of saute pan and place all in blender.  Add a small amount of vinegar, salt and sugar.  Blend.  Add slowly oil until desired consistancy.
</li>
<li>
4.  Top with Orange Zest Vinaigrette
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Eric
</p>
</body>
