<h1>Chile Verde</h1>
<h2>Ingredients</h2>
<ul>
<li>
20 tomatillos, paper covering removed
</li>
<li>
3 jalapeno chile peppers
</li>
<li>
2 serrano pepper
</li>
<li>
1 large white onion
</li>
<li>
3 cloves garlic
</li>
<li>
1 bunch cilantro
</li>
<li>
1/2 cup chicken broth, or water as needed
</li>
<li>
salt and pepper, to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place tomatillos, chiles and onion on grill (or under the broiler) and grill all sides until slightly blackened all around.    Put tomatillos, chiles, garlic, onion, cilantro into food processor (will need to be done in batches).  Place in saute pan and cook about 20 minutes adding chicken stock.  Sauce should be slightly chunky.  Season to taste with salt and pepper.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 6
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
