<head>
<title>Chiles en Nogada</title>
</head>
<body>
<h1>Chiles en Nogada</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 poblano pepper
</li>
<li>
2 recipes Picadillo made with pork and apples
</li>
<li>
6 eggs separated
</li>
<li>
1 teaspoon salt
</li>
<li>
flour
</li>
<li>
corn or canola oil
</li>
<li>
Sauce:
</li>
<li>
2 cups walnuts, finely ground
</li>
<li>
2 8 ounce cream cheese
</li>
<li>
2 cups half and half, approximate
</li>
</ul>
<h2>Method</h2><ul>
<li>
Roast peppers, peel and remove the seeds.  Stuff with the Picadillo.  Beat egg whites until firm peaks.  Beat the egg yolks with the salt and fold into the egg whites.  Dredge the peppers with the stuffing through the flour and then in the egg mixture.  Fry in hot oil (at a depth of about 1/4-1/2 inch) until lightly golden all over.  Drain on paper towels and arrange on a platter.
</li>
<li>
In a food processor, blend the walnuts, cream cheese and half of the cream.  Add some salt to taste and blend until the consistency is like heavy mayonaise, adding as much of the cream as necessary.  Serve the chiles topped with the sauce.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This &quot;Chile Peppers in a Walnut Sauce&quot; is a variation of Chile
</p>
<p>
  Rellenos....and you will love it!&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from a recipe by Elizabeth Ortiz
</p>
</body>
