<h1>Chilled Peach Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 medium peaches, ripe
</li>
<li>
4 lbs. low-fat silken, firm tofu
</li>
<li>
2 cups orange juice
</li>
<li>
2 cups papaya juice
</li>
<li>
mint for garnish
</li>
</ul>
<h2>Method</h2><ul>
<li>
Peel the peaches by blanching them in boiling water for a minute, then plunging them into a bowl of ice water:  Using a sharp paring knife, remove the skins and slice the peaches.
</li>
<li>
Place the peaches in a food processor or blender jar and add the tofu and fruit juices.  Blend the mixture until it is smooth.
</li>
<li>
Transfer to a large bowl and chill for a least 2 hours, but no longer than 24 hours.
</li>
<li>
Serve cold, garnished with mint leaves.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;At its best when using the summer&#39;s freshest peaches........yum!!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;The Whole Soy Cookbook&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 cup&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Patricia Greenberg
</p>
</body>
