<h1>Chile Rellenos</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 1/2 lbs. spinach leaves, stems removed
</li>
<li>
salt to taste
</li>
<li>
1/4 cup olive oil
</li>
<li>
1/3 cup raisins
</li>
<li>
1/3 cup pinenuts
</li>
<li>
1/2 cup water
</li>
<li>
6 ounces queso fresco, cut in 6 narrow pieces
</li>
<li>
6 poblano chiles, roasted and left whole
</li>
<li>
6 large eggs, divided
</li>
<li>
6 tablespoons flour
</li>
<li>
1/2 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place spinach in a saucepan with only the rinsing water slinging to the leaves and spinkle with salt.  Place over medium heat and cook, stirring often, until wilted, about 5 minutes.  Drain well, squeeze out any excess moisture, and chop coarsely.
</li>
<li>
Preheat oven to 350F.  Over medium-high heat, warm the oil and add the raisins, pinenuts and greens and cook, stirring constantly, until totally dry, about 3 minutes.  Pour in the water and add salt, if needed.  Remember the cheese is quite salty.  Continue to stir until the liquid has evaporated, about 5 minutes.  Remove from the heat; let cool.  Carefully peel the chiles.  Leaving the stem end intact, make a lengthwise slit in each chile and remove the seeds and veins, taking care not to break the walls.
</li>
<li>
Divide the greens and cheese among the chiles, stuffing them carefully so as not to tear them and allowing them to close completely with overlapping edges. 
</li>
<li>
Whip the egg whites until almost stiff, but still slightly soft.  Whip the yolks separately.  Gently fold in flour and egg yolks alternately into the egg whites.  Dip the rellenos into the batter, gently, and place on griddle to saute briefly until golden.  Place on sheet pan and place in a low oven to keep warm.
</li>
<li>
Remove the chiles from the oven and transfer to a serving platter or individual plates.  Pour Roasted Tomato Sauce around them and top with sour cream.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;These are stuffed and sauced a bit differently....&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Filling adapted from Williams Sonoma
</p>
</div></body>
