<h1>Chile Pesto Shrimp</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. medium shrimp, shelled, deveined
</li>
<li>
1 3/4 cups parmesan cheese, shredded
</li>
<li>
4 cloves garlic
</li>
<li>
8 jalapeno chile pepper
</li>
<li>
3/4 cup pine nuts
</li>
<li>
3/4 cup fresh parsley leaves
</li>
<li>
1/3 cup cilantro leaves, whole
</li>
<li>
5 tablespoons olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Process the cheese and garlic in food processor.  Add the rest of the ingredients except shrimp.  Process until smooth.  Toss the shrimp with the pesto and refrigerate, covered, for 1-2 hours.  Preheat the oven to 350F.  Lay the shrimp on a sheet pan covered with parchment paper.  Bake for 15-20 minutes.  Serve garnished with chopped cilantro.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
