<h1>Chile Verde Enchiladas</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 corn tortillas
</li>
<li>
1 recipe chile verde
</li>
<li>
2 cups queso fresco, or Mexican cheese
</li>
<li>
corn or canola oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place small amount of oil in sauce pan and warm.  Briefly cook corn tortillas in oil to soften.  Place a small amount  chile verde and a bit of cheese in tortilla; fold over and place in oblong baking pan.  Finish with all the tortillas and cover with a bit more sauce and cheese.  Heat through until bubbly in 375F oven for about 20-30 minutes.  
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;These are made with one of my favorite Mexican sauces...Chile Verde.&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Traditional
</p>
</body>
