<head>
<title>Chilled Pineapple Cantaloupe Smoothy</title>
</head>
<body>
<h1>Chilled Pineapple Cantaloupe Smoothy</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 whole cantaloupe
</li>
<li>
4 cups soy milk, low-fat
</li>
<li>
3 cups pineapple juice, or mango juice
</li>
<li>
12 sprigs mint
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut the  cantaloups in half, scoop out seeds, and cut flesh into chunks.  Put in a food processor or blender with the soy milk and pineapple (or mango) juice.  Process until the mixture is smooth.  Transfer to a large bowl and chill in freezer for a least 2 hours,  stirring about every hour.
</li>
<li>
Serve the frothy beverage in pretty glasses with a sprig of mint.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Delicious and healthy for snack.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Adopted from The Whole Soy Cookbook&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 cup&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
