<head>
<title>Chile Verde Chicken Soup</title>
</head>
<body>
<h1>Chile Verde Chicken Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons vegetable oil
</li>
<li>
1 onion, small dice
</li>
<li>
4 cloves garlic, smash/minced
</li>
<li>
4 cups chicken stock
</li>
<li>
1 1/2 cups green chile sauce
</li>
<li>
2 cups chicken chunks
</li>
<li>
2 large tomatoes, chopped or 1 large can, drained, rinsed
</li>
<li>
salt and pepper, to taste
</li>
<li>
12 corn tortillas, cut 1&quot; thick
</li>
<li>
queso fresco, or jack cheese
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook onions and garlic in soup pot.  Add stock, chile sauce and chicken chunks.  Add tomatoes.  Heat to hot and correct seasoning with salt &amp; pepper.
</li>
<li>
Meanwhile, cook corn tortillas on two sheet pans in 400F oven until crisp, about 8 minutes.
</li>
<li>
To serve:  Place a handful of corn tortilla strips in bowl.  Add soup.  Top with cheese.  Wonderful!
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 6
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
