<head>
<title>Chinese Almond Cookies</title>
</head>
<body>
<h1>Chinese Almond Cookies</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Prep Time: 15 minutes
</li>
<li>
Cook Time: 25 minutes
</li>
<li>
Ingredients:
</li>
<li>
2 cups flour
</li>
<li>
1/2 teaspoon baking powder
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
1/8 teaspoon salt
</li>
<li>
1/2 cup butter
</li>
<li>
1/2 cup shortening
</li>
<li>
3/4 cup white sugar (can add up to 2 more tablespoons, if desired)
</li>
<li>
1 egg
</li>
<li>
2 1/2 teaspoons almond extract
</li>
<li>
1/4 pound whole, blanched almonds (one for each cookie)
</li>
<li>
1 egg, lightly beaten
</li>
<li>
Preparation:
</li>
<li>
1.Preheat oven to 325 degrees Fahrenheit (162.5 degrees Celsius).
</li>
<li>
2.In a large bowl, sift the flour, baking powder, baking soda, and salt. In a medium bowl, use an electric mixer to beat the butter or margarine, shortening, and sugar. Add the egg and almond extract and beat until well blended. Add to the flour mixture and mix well. Note: The dough will be crumbly at this point, but don&#39;t worry - that is what it&#39;s supposed to be like.
</li>
<li>
3. Use your fingers to form the mixture into a dough, and then form the dough into 2 rolls or logs that are 10 to 12 inches long. Wrap and refrigerate for 2 hours (this will make it easier to shape the dough into circles).
</li>
<li>
4. Take a log and lightly score the dough at 3/4 inch intervals so that you have 15 pieces and cut the dough. Roll each piece into a ball and place on a lightly greased cookie tray, approximately 1 1/2 inches apart. Place an almond in the center of each cookie and press down lightly. Repeat with the remaining dough.
</li>
<li>
5. Brush each cookie lightly with beaten egg before baking. Bake for 15 minutes to 18 minutes, until golden brown. Cool and store in a sealed container.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Rhonda Parkinson; About.com
</p>
</body>
