<h1>Chinese Spring Rolls</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 Chinese dried mushrooms
</li>
<li>
8 ounces Chinese Barbecued Pork
</li>
<li>
1 tablespoon canola oil
</li>
<li>
1 cup Napa Cabbage, finely shredded
</li>
<li>
1 cup bean sprouts
</li>
<li>
1/2 cup celery, finely shredded
</li>
<li>
1 scallion, finely shredded
</li>
<li>
1/2 cup shredded jicama, or fresh bamboo sprouds, finely shredded
</li>
<li>
1 1/2 teaspoons thin soy sauce
</li>
<li>
1/4 teaspoon ground white pepper
</li>
<li>
1 package spring roll wrappers
</li>
<li>
1 tablespoon flour
</li>
<li>
1 quart canola oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Soak mushrooms until softened in warm water for 20-30 minutes.  Drain and squeeze dry.  Cut off and discard stems and thinly slice.
</li>
<li>
Julienne the barbecue pork.
</li>
<li>
Into a hot wok add canola oil, pork, cabbage, bean sprouts, celery, scallion, jicama and mushrooms.  Stirfry 2-3 minutes.  Add soy sauce and pepper and remove from heat.  Cool.
</li>
<li>
Place spring roll wrappers on work surface and loosely cover with a damped cloth.  Combine the flour with 4 teaspoons of cold water.  Place 1 wrapper on the board with a corner facing you.  Sprread about 1/4 cup of mixture at the bottom corner and shape into a 3/4 x 2&quot; rectangle.  Fold the corner nearest you over the mixture and roll up once, fold in the sides, and continue rolling the wrapper up tightly until almost at the end.  Lightly paint the far corner with the flour water mixture.  Roll and seal into a tight cylinder.  Finish the spring rolls, laying each seam side down and covering with a dampened cloth.
</li>
<li>
In a large saucepan, heat canola oil over high heat until oil is a 375F.  Carefully add 3-4 rolls at a time cooking until golden for about 2 minutes, turning half way through the 2 minutes period.  Remove with a slotted spoon and place on a plate with several thicknesses of paper towels.
</li>
<li>
Cut in half or in thirds and serve immediately.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Grace Young
</p>
</div></body>
