<h1>Chinese BBQ Pork</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 boneless pork shoulder or butt
</li>
<li>
1/4 cup soy sauce
</li>
<li>
1/4 cup hoisin sauce
</li>
<li>
3 tablespoons rice wine or dry sherry
</li>
<li>
2 tablespoons ketchup
</li>
<li>
2 tablespoons sugar
</li>
<li>
1 tablespoon orange peel, grated
</li>
<li>
1 teaspoon garlic, minced
</li>
<li>
1 teaspoon ginger, minced
</li>
<li>
1 teaspoon sesame oil
</li>
<li>
1/2 teaspoon Chinese five-spice
</li>
<li>
1 tablespoon sesame seed paste
</li>
<li>
4 drops red food coloring, optional
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Trim fat from pork.  Cut meat into pieces roughly 1&quot;inch thick, 3&quot; wide and 8 inches long.
</li>
<li>
Cover with marinade ingredients.  Refrigerate for at least 4 hours.  Preheat oven to 350F.  Remove meat from marinade and place meat on a rack in a foillined baking pan.  Bake uncovered for 30 minutes.  Turn meat over and bake for 45 minutes longer, brushing occasionally with reserved marinade.  Cut into tin slices.  Serve hot or cold.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Martin Yan
</p>
</div></body>
