<h1>Chinese Chicken &amp; Vegetable Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/2 teaspoon white sesame seeds
</li>
<li>
1/2 teaspoon black sesame seeds
</li>
<li>
Vegetable Soup:
</li>
<li>
3 lbs. spinach, coarse stems trimmed
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
4 cups chicken stock
</li>
<li>
1/2 teaspoon white pepper
</li>
<li>
4 tablespoons cornstarched, dissolved in 3 tbsp. water
</li>
<li>
2 teaspoons sesame oil
</li>
<li>
Chicken Soup:
</li>
<li>
6 tablespoons Chinese rice wine
</li>
<li>
3 tablespoons cornstarch
</li>
<li>
2 teaspoons sugar
</li>
<li>
1/2 teaspoon white pepper
</li>
<li>
3 1/2 cups chicken stock
</li>
<li>
1 lb. boneless chicken, skinned, minced
</li>
<li>
1 cup potato, mashed
</li>
<li>
2 egg whites, slightly beaten
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place white sesame seeds in small frying pan over medium heat; cook, shaking pan until lightly browned, 3-4 minutes.  Immediately remove from pan to cool.  Repeat with black sesame seeds and cook until smell toasted and cool.
</li>
<li>
Vegetable Soup:  Cook spinach with salt in 1&quot; water for 2 minutes.  Drain and rinse with cold water.  Gently squeeze to remove all water.  Coarsely chop.  Place spinach, stock and pepper in the same pot and bring to a boil.  Add cornstarch solution and cook, stirring until soup boils and thickens.  Add sesame oil.  Keep warm.
</li>
<li>
Chicken Soup:  Combine wine, cornstarch, sugar, pepper, and broth in a 2-quart nonstick pan.  Add chicken and mashed potato; mix well.  Let stand for 15 minutes.  Stirring constantly, bring to a boil over medium heat.  Continue to stir and cook until thickened and creamy, about 3 minutes.  Turn off heat.  Add egg white, stirring, until it forms long threads.
</li>
<li>
Pour vegetable and chicken soups into two separate large heatproof glass measuring cups or pitchers.  Slowly pour the soups simultaneously into the opposite sides of bowls.  Sprinkle white sesame seeds in center of vegetable soup and black sesame seeds in center of chicken soup.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a fabulous Asian &quot;two-soup&quot; mixture.....just what we
</p>
<p>
  need....&quot;Two for One&quot; when we are &quot;watching&quot; it!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 cup&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Martin Yan
</p>
</div></body>
