<h1>Chinese Almond Cookies</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups flour
</li>
<li>
3/4 teaspoon baking powder
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
1/2 cup butter, softened
</li>
<li>
1/2 cup vegetable shortening
</li>
<li>
2/3 cup granulated sugar
</li>
<li>
1/2 cup brown sugar, packed
</li>
<li>
1 egg, slightly beaten
</li>
<li>
1/2 teaspoon vanilla extract
</li>
<li>
3/4 teaspoon almond extract
</li>
<li>
40 blanced almonds
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sift flour, baking powder and baking soda into a bowl.
</li>
<li>
With an electric mixer, beat butter, shortening and sugars in a large bowl until fluffy.  Add egg, vanilla and almond extract and; beat until blended.  Add flour mixture; mix well.  Shape dough into a ball and cover with plastic wrap.  Refrigerate for at least 1 hour or up to 2 days.
</li>
<li>
Preheat oven to 350F.  Divide dough into four pieces and each piece into 10 portions.  Roll each portion into a ball, then place 2-3 inches apart on a baking sheet.  Press a whole almond into the center of each ball.
</li>
<li>
Bake until golden brown, 14-16 minutes.  Let cool on baking sheet for 5 minutes, then transfer to a rack to cool completely.  Store in an airtight container.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;&quot;Martin Yan&#39;s Feast&quot;&quot;
</p>
<p>
SERVINGS: 40
</p>
<p>
SOURCE: Martin Yan
</p>
</body>
