<h1>Chipotle Shrimp</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 cloves garlic
</li>
<li>
1 small white onion, sliced 1/4&quot; thick
</li>
<li>
1 medium tomato, ripe
</li>
<li>
3/4 teaspoon black pepper, freshly ground
</li>
<li>
2 tablespoons olive oil
</li>
<li>
3 tablespoons canned chipotle chiles (2-4 tablespoons), drained and chopped
</li>
<li>
1/2 teaspoon salt or to taste
</li>
<li>
2 lbs. shrimp, medium
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
On an ungreased griddle or heavy skillet over medium heat, roast the garlic cloves, turning occasionally, until soft (they will blacken in spots), about 15 minutes.  Cool and peel.
</li>
<li>
Lay the onions on the griddle and let sear, brown and soften about 5 minutes per side.
</li>
<li>
Roast the tomatoes in the same pan until blackened about 6 minutes or more.  Cool and peel, collecting the juces with the tomatoes.
</li>
<li>
Combine all roasted ingredients in a food processor, along with the pepper, cloves and 1/4 cup of water.  Process to a medium-smooth puree.
</li>
<li>
In a very large (12&quot;) skillet, heat the oil over medium-high.  When hot enough to make a drop of the puree sizzle noisily, add it all at once.  Stir for several minutes as the mixture sears and darkens, then reduce the heat to medium-low and continue to cook, sitrring regularly, until very thick, about 5 minutes.  A tablespoon at a time, stir in the Chipotle, tasting until the tick salsa suits your own taste for spiciness.  Taste, season with salt and remove from heat.
</li>
<li>
The shrimp:  Peel the shrimp, leaving the final joint and tail intact.  One at a time devein the shrimp.  
</li>
<li>
Return the skillet with the sauce to medium-high heat.  Add the shrimp, then slowly stir and turn for about 3-4 minutes, until the shrimp are just cooked through.  (The sauce should nicely coat the shrimp without a pool around them).  Taste a shrimp, sprinkle on a little more salt if necessary.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Served with rice, this makes a full meal.&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Rick Bayless
</p>
</div></body>
