<h1>Chipotle Salmon Burgers</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 tablespoons fresh cilantro, chopped
</li>
<li>
6 tablespoons mayonnaise
</li>
<li>
1/4 tablespoon fresh mango, finely chopped
</li>
<li>
2 tablespoons pineapple, finely chopped
</li>
<li>
1/2 teaspoon finely grated lime rind
</li>
<li>
2/3 cup green onions, chopped
</li>
<li>
1/2 cup fresh cilantro, chopped
</li>
<li>
2 tablespoons finely chopped chipolte chile, canned in adobo sauce
</li>
<li>
1 1/2 tablespoons fresh lime juice
</li>
<li>
1/2 teaspoon salt
</li>
<li>
2 1/2 pounds salmon fillet, skinned and cut into 1&quot; pieces
</li>
<li>
cooking spray
</li>
<li>
8 buns or English muffins
</li>
<li>
8 butter lettuce leaves
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mayo:  Mix mayonnaise ingredients in a food processor until smooth.  Cover and chill.
</li>
<li>
Burgers:  Place onions, cilantro, chile and lime juice in food processor.  Process until finely chopped.  Add salt and salmon and pulse until salmon is coarsely ground and mixture is blended.
</li>
<li>
Divide into 8 patties.  Heat grill pan on outside grill until hot.  Spray pan with cooking spray.  Place patties in pan and cook approximately 6 minutes on each side.  
</li>
<li>
Wipe pan, spray and lightly toast buns.  Place bun on plate; top with lettuce, salmon patty and a tablespoon of mayo mixture.  Top with top bun.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Cooking Light
</p>
</div></body>
