<head>
<title>Chocolate Pound Cake</title>
</head>
<body>
<h1>Chocolate Pound Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup unbleached AP flour
</li>
<li>
1/2 cup unsweetened cocoa powder
</li>
<li>
pinch salt
</li>
<li>
4 large eggs, room temp, separated
</li>
<li>
1 cup sugar
</li>
<li>
2 teaspoons vanilla
</li>
<li>
14 tablespoons unsalted butter, room temp
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.  Butter &amp; flour a 9&quot; springform pan.  Cover the bottom with parchment paper.  Butter &amp; flour the parchment.
</li>
<li>
Sift the dry ingredients onto parchment paper.  In a mixing bowl, beat the egg whites with a pinch of salt until white and foamy but still liquid.  Add 1 tablespoon of the measured sugar to the egg whites and mix at high speed until slightly firm but still remain on this side of soft peaks.
</li>
<li>
In the another bowl of your electric mixer, whisk the egg yolks with (all but the 1 tablespoon) of the sugar (use the whisk attachment if you have one).  Mix until foamy and pale yellow and doubled in volume.  Add the vanilla.  Sprinkle the flour over the egg yolk mixture and whisk in quickly, just until mixed.  
</li>
<li>
Add butter in thirds, mixing continuously.  Scrape down the sides of the bowl and mix at medium high speed to be sure all is combined. 
</li>
<li>
Fold 1/4 of the egg whites into the batter.  Then add the remaining whites and gently fold them in until they are fully incorporated.
</li>
<li>
Pour the batter into the prepared pan.  Bake for about 25 minutes until tester inserted comes out clean.  Remove from oven and allow to cool a few minutes.  Loosen around the edge of the pan with a knife.  After 15 minutes, remove from the pan and allow to cool on a rack.
</li>
</ul>
<h2>Notes</h2><p>
Spread with Chocolate Cream Icing when cool.   SOURCE: Adapted from Susan Herrmann Loomis
</p>
</body>
