<h1>Chocolate Silk Bread Pudding</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups milk
</li>
<li>
1/4 cup unsalted butter, cut into pieces
</li>
<li>
4 ounces unsweetened chocolate, best quality
</li>
<li>
2 large eggs
</li>
<li>
1/2 cup sugar
</li>
<li>
1 teaspoon pure vanilla extract
</li>
<li>
1/2 teaspoon ground cinnamon
</li>
<li>
1/4 teaspoon salt
</li>
<li>
2 cups soft bread crumbs, fresh
</li>
<li>
Whipped cream or ice cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 325 F, with a rack in the center.  Butter a 1 1/2 quart shallow baking dish.
</li>
<li>
In a saucepan, combine the milk, butter and chocolate.  Bring to a boil over medium-low heat, stirring occasionally, until the butter and chocolate melt.
</li>
<li>
Meanwhile, in a large bowl, whisk the eggs, sugar, vanilla, cinnamon and salt.  Add the bread crumbs; stir in the hot milk mixture.  Pour into the prepared baking dish.
</li>
<li>
Bake until the pudding is set and slightly wobbly, but not liquid in center, usually 45-60 minutes; do not overbake.  Let cool on a wire rack.
</li>
<li>
Serve the silk pudding lukewarm or cold, with whipped cream or vanilla ice cream, if desired.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fabulous, silky and comforting!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Classic Home Desserts&quot;SOURCE: Richard Sax
</p>
</body>
