<h1>Chocolate Chess Pie</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 9&quot; pie shell, partially baked
</li>
<li>
1/2 cup unsalted butter, cut into 1&quot; cubes
</li>
<li>
4 ounces bittersweet chocolate, coarsely chopped
</li>
<li>
1 1/4 cups sugar
</li>
<li>
2 tablespoons fine yellow cornmeal
</li>
<li>
1/4 teaspoon salt
</li>
<li>
3 large eggs, room temperature
</li>
<li>
1 large egg yolk, room temperature
</li>
<li>
1/4 cup half and half
</li>
<li>
1 teaspoon vanilla
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 325F.
</li>
<li>
Place butter in metal bowl over slightly boiling water.  Scatter the chocolate around the butter.  Melt both together, taking about 5 minutes.
</li>
<li>
Remove chocolate and butter mixture from heat and allow to cool briefly.  
</li>
<li>
Combine sugar, cornmeal and salt in large bowl, tossing with your hands to mix.  Add in eggs, egg yolk, cream and vanialla.  Whisk until well mixed.
</li>
<li>
Pour the chocolate mixture into the egg mixture and whisk briefly until smooth.  Pour into cool pie shell.
</li>
<li>
Place pie in oven on center rack and bake 35-40 minutes and rotate pie around, front to back.  Bake another 20-25 minutes until pie develops a thin upper crust.
</li>
<li>
Cool on a wire rack for at least 1 1/2 hours.  Can be covered loosely and refrigerated and served cold.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Pie&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Adapted from Ken Hoedrich
</p>
</body>
