<head>
<title>Chocolate Seduction</title>
</head>
<body>
<h1>Chocolate Seduction</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 lbs. &amp; 14oz Semisweet chocolate
</li>
<li>
5 lbs. butter
</li>
<li>
2 1/2 lbs. water
</li>
<li>
3 lbs. sugar
</li>
<li>
1/4 ounce salt
</li>
<li>
18 ounces cocoa
</li>
<li>
40 whole eggs
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Melt chocolate and butter together in double boiler.
</li>
<li>
2.  Boil water, sugar and salt.
</li>
<li>
3.  Combine above two mixtures and add cocoa.
</li>
<li>
4.  Add the eggs one at a time.  
</li>
<li>
5.  Can add liquor of choice and roasted ground walnuts .
</li>
<li>
6.  Bake in a waterbath at 350F until it settles like creme brulee (looks almost not baked).
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Yields 7 - 10&quot; cakes.Can be served as a &quot;Chocolate Decadance&quot; or used as a filling, an icing or piped.
</p>
<p>
SERVINGS: 120
</p>
<p>
SOURCE: Chef
</p>
</body>
