<head>
<title>Chocolate Yogurt Mousse</title>
</head>
<body>
<h1>Chocolate Yogurt Mousse</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 ounces semisweet chocolate, dark
</li>
<li>
1 cup yogurt cheese, + 2 tablespoons
</li>
<li>
1/2 cup Dutch-process cocoa powder, sifted twice
</li>
<li>
8 egg white
</li>
<li>
2/3 cup sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place the chocolate in a microwavable bowl and microwave on Hight for 30 second intervals, stirring after each interval, until melted.  Stir a few spoonfuls of the yogurt cheese into the warm chocolate just to cool it slightly, then stir the chocolate mixture into the remaining yogurt cheese.
</li>
<li>
Fill a large saucepan twothirds full of water and bring to a simmer.  Place the bowl of yogurt mixture over the hot water, then fold in the cocoa, stirring gently, until glossy (this loosens the mixture and makes it easier to fold in the meringue).  Remove bowl from the saucepan; set aside and keep warm.
</li>
<li>
To prepare the meringue, combine the egg whites and sugar in a clean stainless-steel bowl.  Place the bowl over the saucepan of simmering water and gently whisk until the egg whites are foamy and reach 135F on an instant-read thermometer.  Remove the bowl from the heat and with an electric mixer on medium speed beat the egg whites until medium peaks form, 3-5 minutes.  
</li>
<li>
Fold the meringue into the yogurt mixture and spoon the mousse into pretty glasses.  Chill until firm, about 4 hours.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Yippee....Chocolate and we can really enjoy it with so few calories.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Great Cooking Every Day&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Culinary Institute of America
</p>
</body>
