<h1>Chocolate Cheesecake</h1>
<h2>Ingredients</h2>
<ul>
<li>
crust
</li>
<li>
2 cups Graham cracker crumbs
</li>
<li>
1/4 cup sugar
</li>
<li>
1/2 cup butter
</li>
<li>
filling
</li>
<li>
4 eggs, separated
</li>
<li>
2/3 cup sugar
</li>
<li>
1 lb. cream cheese, cubed
</li>
<li>
12 ounces semisweet chocolate chips
</li>
<li>
1/2 cup hot strong coffee
</li>
<li>
2 tablespoons dark rum
</li>
<li>
1 teaspoon vanilla
</li>
<li>
topping
</li>
<li>
1/2 cup heavy cream
</li>
<li>
2 tablespoons sugar
</li>
<li>
Garnish
</li>
<li>
chocolate curls
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 350 degrees.  Butter the bottom and sides of a 9 inch springform pan.  Blend crust ingredients in a bowl and pat the crumb mixture onto the bottom and sides of the pan.  Set asisde while preparing the filling.
</li>
<li>
Beat the egg yolks and 1/3 cup sugar in an electric mixer until thick and lemon colored.  Beat in the cream cheese and continue beating until smooth.  Melt the chocolate bits in the top of a double boiler over hot but not boiling water and blend in the hot coffee, rum, vanilla,and salt.  Beat this mixture into the cream cheese mixture.
</li>
<li>
Beat the egg whites until they hold soft peaks, then gradually beat in the reamining 1/3 cup sugar until you have a rather stiff meringue mixture and pour into the prepared crumb crust.  Bake at 350 degrees for one hour.  Turn the oven off, but leave the cake inside until it is completely cooled.  Remove the cake to a rack.  When ready to server, carefully remove the sides of the springform pan.
</li>
<li>
Whip the cream, flavoring it with the sugar.  Spread the whipped cream on the cheesecake and decorate with chocolate curls, shaved from a block of chocolate with a heavy knife.  To facilitate making the shavings, either slightly warm the chocolate or dip the knife in hot water.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: James Beard
</p>
</body>
