<h1>Chocolate Dipped Orange Shortbread</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/2 cups butter, room temperature
</li>
<li>
2/3 cups sugar
</li>
<li>
2 tablespoons orange rind
</li>
<li>
1 teaspoon orange liquor, or brandy
</li>
<li>
2 1/2 cups AP flour
</li>
<li>
1/2 cup cornstarch
</li>
<li>
1/4 teaspoon salt
</li>
<li>
2 cups chopped bittersweet chocolate
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 325F.  Cover two baking sheets with parchment.  In a large bowl with an electric mixer, cream the butter, sugar, orange rind, liquor.  Mix until light and fluffy.
</li>
<li>
Add flour, cornstarch, salt.  Mix until blended.  Remove from bowl.
</li>
<li>
Divide dough into two disks.  Refrigerate for about 30-60 minutes.  
</li>
<li>
Roll out 3/8&quot; thick and cut into shapes desired.  Place on sheet pan and bake in oven about 25 minutes until golden.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Remove from pan.  Cool on rack.  Melt chocolate on top of double boiler.  When shortbread is cool.  Dip half of shortbread in chocolate and return to rack.  Allow to cool completely.SOURCE: Apple Charlotte
</p>
</div></body>
