<head>
<title>Chocolate Hazelnut Sables</title>
</head>
<body>
<h1>Chocolate Hazelnut Sables</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup unsalted butter
</li>
<li>
3/4 cup superfine sugar
</li>
<li>
1 large egg
</li>
<li>
1 tablespoon pure vanilla extract
</li>
<li>
1 3/4 cups flour
</li>
<li>
1/4 cup Dutch-process cocoa powder
</li>
<li>
1/8 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Beat butter and sugar together at medium low speed until mixture is creamy, 2-3 minutes.
</li>
<li>
Add egg and vanilla and mixed until smooth and combined.
</li>
<li>
Sift flour, cocoa and salt into butter  mixture by hand (to avoid overworking the dough; which would make the cookies tough).
</li>
<li>
Divide the dough in half and shape into a cylinder, wraping tightly in plastic wrap.  Refrigerate for 2 hours or up to 1 week.
</li>
<li>
Preheat oven to 325F.  Using a long sharp knife, slice dough into 1/2&quot; rounds and place them on parchment lined sheet pan.  Bake for 12-15 minutes.  Cool on wire rack.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A simple French cookie that is the perfect addition to pots de 
</p>
<p>
  Creme&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Simple French Desserts&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 dozen&quot;SOURCE: Adapted from Jill O&#39;Connor
</p>
</body>
