<h1>Chocolate Ganache Tart</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
14 ounces bittersweet chocolate, chopped (60-65% cocoa content)
</li>
<li>
9 tablespoons unsalted butter, cut into tablespoons, softened
</li>
<li>
1 cup + 2 tablespoons whole milk
</li>
<li>
1 cinnamon stick
</li>
<li>
1 recipe Pate Brisee
</li>
<li>
whipped cream, and/or coffee ice cream
</li>
<li>
chopped nuts , if desired
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place chocolate in large bowl.  Place softened butter on top of the chocolate.  Set  a sieve over the bowl.
</li>
<li>
Preheat the oven to 350F.  Roll the dough 1/16&quot; thick and place the dough into the tart pans.  Bake the shells for 6-8 minutes until golden brown.  Cool the shells in their pans on a wire rack.
</li>
<li>
Bring the milk and cinnamon stick to a boil in a medium saucepan.  Immediately pour the milk through the sieve onto the chocolate and butter.  Whisk gently until the chocolate and butter are melted and the ganache is smooth.  Set aside to cool.
</li>
<li>
When the tart shells are cool, fill with the ganache filling.  Refrigerate if not serving soon.  Cut into slices with sharp knife dipped into hot water.
</li>
<li>
Put a rosette of whipping cream  or serve with a small scoop of coffee ice cream.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 20
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
