<h1>Chocolate Ganache</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 ounces bittersweet chocolate, chopped (60-65% cocoa content)
</li>
<li>
2 tablespoons butter
</li>
<li>
3/4 cup heavy cream
</li>
<li>
1 tablespoon brandy or liquor, if desired
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
Place chopped chocolate in porcelain bowl.  In a small pan on the stove, heat cream and butter until just under boiling.  Pour over chocolate in bowl.  Wait about 2 minutes and whisk until melted and creamy.  Add brandy if desired. SOURCE: Apple Charlotte
</p>
</div></body>
