<head>
<title>Chocolate Framboise Genoise with Chocolate Ganache</title>
</head>
<body>
<h1>Chocolate Framboise Genoise with Chocolate Ganache</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 8 or 9&quot; round chocolate genoise
</li>
<li>
1 cup raspberry jam
</li>
<li>
2/3 cup Framboise
</li>
<li>
2 cups chocolate ganache, approximately
</li>
<li>
1-1 1/2 cups whipped cream*
</li>
</ul>
<h2>Method</h2><ul>
<li>
Split cooled genoise into layers.  Place layer on cake rack over parchment line sheet pan.  Douse a few tablespoons of Framboise on the first layer.  Spread about 1/2 cup raspberry jam on layer and then cover with whipped cream.  Place next layer(s) on top and repeat.  End with only a dousing of Framboise on top layer.  Check around the sides to remove any seeping whipped cream.  Place in refrigerator for about 15 minutes to set slightly.
</li>
<li>
Meanwhile make ganache.  
</li>
<li>
Remove cake from refrigerator and brush crumbs off cake.  Make sure sides are smooth of whipped cream and brush crumbs off.  Pour about 1 cup of ganache on top of cake and allow to run down the sides, smoothing from the top down with a spatula.  Place in the refrigerator for another 15 minutes.  Keep the remaining ganache warm over a bain marie.  
</li>
<li>
Remove cake from refrigerator and pour remaining ganache over first layer of ganache, helping to spread gently with your spatula.  Pour from the top and gently push over the sides of the cake.  Place back in the refrigerator.  Remove from the refrigerator about 20-30 minutes before cutting.  Cut with warm, dry bread knife (dipped in hot water and then dried).  Do this between each slice for pretty slices.
</li>
</ul>
<h2>Notes</h2><p>
*Stabilized Whipped Cream:  Soak 1/2 teaspoon of gelatin in 1 tablespoon of cold water for 5 minutes.   Place the gelatin mixture in the microwave at 80% for 30 seconds.  Check to see that it is dissolved.  Allow it to cool briefly.  Place 1 cup of whipping cream in mixer bowl with 1 tablespoon of powdered sugar.  Whip until almost stiff.  Add gelatin mixture all at once to whipping cream while it is mixing.  Whip until slightly stiff.  SOURCE: Apple Charlotte
</p>
</body>
