<h1>Chocolate Cream Icing</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups heavy cream
</li>
<li>
15 ounces bittersweet chocolate, broken into pieces
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
Place chocolate in a ceramic bowl.  Heat cream until tiny bubbles begin to appear around the edges.  Pour cream over chocolate and continue to stir until all is melted and blended.  Allow to cool briefly until spreadable, for just a few minutes.  SOURCE: Adapted from Susan Herrmann Loomis
</p>
</div></body>
