<h1>Chocolate Angel Food Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup + 1 tablespoon unsweetened cocoa (Dutch
</li>
<li>
processed)
</li>
<li>
1/4 cup boiling water
</li>
<li>
2 teaspoons vanilla
</li>
<li>
1 3/4 cups sugar
</li>
<li>
1 cup cake flour, sifted
</li>
<li>
1/4 teaspoon salt
</li>
<li>
16 large egg whites, (2 liquid cups)
</li>
<li>
2 teaspoons cream of tartar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.  
</li>
<li>
In a medium boil combine the cocoa and boiling water and whisk until smooth.  Whisk in vanilla.
</li>
<li>
In another medium bowl beat the egg whites until frothy, add the cream of tartar, and beat until soft peaks form when the beater is raised.  Gradually beat in the remaining 1 cup sugar, beating until very stiff peaks form when the beater is raised slowly.  Remove 1 heaping cup of egg whites and place it onto the cocoa mixture.
</li>
<li>
Dust the flour mixture over the remaining whites, 1/4 cup at a time, and fold in quickly but gently.  It is not necessary to incorporate every speck until the last addition.  A large balloon whire whisk or slotted skimmer also works well.
</li>
<li>
Whisk together the egg white and cocoa mixture and fold into the batter until uniform.  Pour into the tube pan (the batter will come to 3/4 inch from the top), run a small metal spatula or knife through the batter to prevent air pockets and bake for 40 minutes or until a cake tester inserted in the center comes out clean and the cake springs back when lightly pressed.  (The center will rise above the pan while baking and sink slightly when done.  The surface will have deep cracks like a souffle.)
</li>
<li>
Invert the pan, placing the tube opening over the neck of a wine bottle to suspend it well above the counter and cool the cake completely in the pan.  About 1 1/2 hours.
</li>
<li>
Loosen the sides wiht a long metal spatula and remove the center core of the pan.  Dislodge the bottom and center coree with ametal spatula or thin, sharp knife.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Light and almost guilt free!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Cake Bible&quot;
</p>
<p>
SERVINGS: 14
</p>
<p>
SOURCE: Beranbaum
</p>
</body>
