<h1>Chocolate Salami</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 large eggs
</li>
<li>
1/4 cup sugar
</li>
<li>
1/4 cup butter, softened
</li>
<li>
1/4 cup cocoa with sugar (chocolate milk mixture)
</li>
<li>
2/3 cup shortbread cookie
</li>
<li>
1 tablespoon cherry liquor (or other flavor of choice), Sambucca was used
</li>
<li>
1/2 cup pinenuts
</li>
<li>
1/2 cup almonds
</li>
</ul>
<h2>Method</h2><ul>
<li>
Beat eggs and sugar  together and add soft butter.   Add cocoa with sugar mix.  
</li>
<li>
In food processor, crush together cookies, pinenuts and almonds until finely chopped.  Add to above mixture and add liquor.  
</li>
<li>
Mix with hands and roll into log about 2&quot; wide.  Wrap in plastic wrap and store in refrigerator until ready to slice for service.
</li>
<li>
Serve three thin slices with a dollap of whipped cream.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Did we go &quot;nuts&quot; over this!!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;La Miniera....Montecatini Val de Cecina&quot;
</p>
<p>
SERVINGS: 16
</p>
<p>
SOURCE: Chef Stefania
</p>
</body>
