<h1>Chocolate Terrine</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 ounces semisweet chocolate
</li>
<li>
3/4 cup butter
</li>
<li>
1/2 cup coffee
</li>
<li>
3/4 cup sugar
</li>
<li>
4 large eggs, beaten
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350 F
</li>
<li>
Melt chocolate in bowl over barely simmering water
</li>
<li>
Add coffee and sugar and continue to whisk to dissolve the sugar.  Continue cooking until very hot at approximately 120F
</li>
<li>
Remove from the heat and temper eggs and add back to chocolate mixture.  Pour into foil loaf pan and bake in water bath for 40 minutes.
</li>
<li>
Let cool, then chill overnight.  Turn out the next day and serve in slices.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Sweet Dreams&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Gale Gand
</p>
</body>
