<h1>Chocolate Mousse with Orange Marcarpone Whipped Cream</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cups whole milk
</li>
<li>
6 tablespoons sugar
</li>
<li>
1/2 teaspoon instant espresso powder
</li>
<li>
2 cups bittersweet chocolate chips
</li>
<li>
6 large egg whites
</li>
<li>
1/2 cup mascarpone cheese, room temp
</li>
<li>
1/4 cup fresh squeezed orange juice
</li>
<li>
1 cups whipping cream
</li>
<li>
1/4 cup powdered sugar
</li>
<li>
2 teaspoons orange zest
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mousse:  In a saucepan over medium heat, mix together milk, sugar, espresso powder until hot but not boiling and the sugar is dissolved.  Place the chips in a blender.
</li>
<li>
Pour the milk mixture over the chips in the blender and run on high until combined, a few seconds.  Add the egg whites and run the blender on hight until light, about 1 minute.  Transfer the mousse to 12 small serving cups.  cover with plastic wrap and place in the refrigerator until firm, about 3 hours.
</li>
<li>
Cream:  In an electric mixer bowl, mix the mascarpone and orange juice until smooth.  Add cream, powdered sugar and zest.  Whip until soft peaks, 1 minute or so.    Do this process just before serving the mousse.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Giada
</p>
</div></body>
