<h1>Chocolate Pancakes</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Serve immediately with confectioner&acirc;&#128;&#153;s sugar, whipped cream and fresh sliced strawberries.
</li>
<li>
RECIPE INGREDIENTS
</li>
<li>
1 cup unbleached all purpose flour
</li>
<li>
2 tablespoons soy flour
</li>
<li>
3/4 cup cocoa powder
</li>
<li>
2 teaspoons baking powder
</li>
<li>
2 tablespoons granulated sugar
</li>
<li>
3 large eggs
</li>
<li>
3 tablespoons canola oil
</li>
<li>
1 1/2 cups plain soy milk
</li>
<li>
Pinch of salt
</li>
<li>
DIRECTIONS
</li>
<li>
Sift the all-purpose and soy flours, cocoa and baking powder into a medium bowl. Mix in the granulated sugar. In another bowl, whisk the eggs, oil, soymilk and salt until well combined. Add the wet ingredients to the dry mixture and mix until blended. Mixture should be slightly lumpy and have the consistency of cake batter.
</li>
<li>
In a non-stick skillet on medium heat, ladle a scant 1/4 cup of batter for each pancake. Cook each pancake until bubbles form on the surface and the edges darken or about 2 minutes. Turn and cook until the pancake provides slight resistance when pressed in the center with your finger. Repeat until all of the batter is used.
</li>
<li>
Serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Red Bud Manor
</p>
</body>
