<h1>Chocolate-Orange Creme Genoise</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 chocolate genoise, split in half
</li>
<li>
1 12 ounce jar orange marmalade
</li>
<li>
3 cups whipping cream
</li>
<li>
3 tablespoons sugar
</li>
<li>
Grand Marnier, to taste
</li>
<li>
2 pints Strawberries, for accompaniment
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Whip the whipping cream with sugar until stiff.  
</li>
<li>
Place bottom half of split cake on cake platter.  Sprinkle with Grand Marnier.  Top with about 1/4 cup orange marmalade.  Top with second half of geniose.
</li>
<li>
Fold remaining marmalade into whipped cream.  Sprinkle with more Grand Marnier (no, no, noooooo drinking that!).  Top with whipped cream mixture and refrigerate until service time.
</li>
<li>
Meanwhile, clean strawberries and cut in quarters, leaving one whole for each serving.   Place in bowl with a sprinkle of sugar and doused with a little Grand Marnier.   Serve strawberries on the side with the genoise.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
