<head>
<title>Chocolate Tartlets</title>
</head>
<body>
<h1>Chocolate Tartlets</h1>
<h2>Ingredients</h2>
<ul>
<li>
14 ounces bittersweet chocolate
</li>
<li>
6 tablespoons butter
</li>
<li>
9 large egg yolks
</li>
<li>
6 tablespoons sugar
</li>
<li>
3 large egg whites
</li>
<li>
2 tablespoons sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 475 degrees.
</li>
<li>
Melt the chocolate over a bain marie with the 6 T of butter.
</li>
<li>
Whip the egg yolks with the 6 T of sugar until thick and pale yellow.  Fold into the cooled chocolate.
</li>
<li>
Whip the egg whites with the 2T of sugar until stiff.  Fold into the chocolate mixture.
</li>
<li>
Put into buttered and flored tartlet shells with false bottoms. 
</li>
<li>
Cover and refrigerate for at least 1 hour.
</li>
<li>
Bake at 475 degrees for about 9 minutes.
</li>
<li>
Unmold and serve with creme anglais and fruit decoration...
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : We served this with papaya &amp; strawberry coulis on plate with anglaise.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Franco Dunn, Jordan Winery
</p>
</body>
