<h1>Chocolate Polenta Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
16 ounces semisweet chocolate
</li>
<li>
2 sticks unsalted butter
</li>
<li>
11 large eggs, separated
</li>
<li>
3/4 cup granulated sugar
</li>
<li>
2 tablespoons brandy
</li>
<li>
1/2 cup polenta
</li>
<li>
Powdered sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat the oven to 300F.  Butter a 9x15&quot; cake pan and line it with parchment or wax paper.
</li>
<li>
Melt the chocolate and butter together in the top of a double boiler set over barely simmering water.  Stir well and set aside to cool slightly.
</li>
<li>
Meanwhile, in a mixer bowl ship the egg yolks and 1/2 cup of the granulated sugar until very light yellow and fluffy (use the wire whisk attachment).
</li>
<li>
In a clean, dry bowl, whip the egg whites until soft peaks form.  Add the remaining 1/4 cup of sugar and continue whipping just until stiff and glossy, about 30 seconds more.
</li>
<li>
Fold the egg yolks into the hot chocolate mixture until barely blended.  Fold in the whites until barely blended.  Sprinkle the brandy and polenta evenly over the surface of the batter and fold in.  Pour into the prepared pan and bake until the center is firm and a tester inserted into the center comes out clean (a few crumbs are okay), 1 - 1 1/4 hour.
</li>
<li>
Let cool in the pan.  Cut into squares, dust with confectioners&#39; sugar and serve.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Gale Gand&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 cake&quot;
</p>
<p>
SERVINGS: 12
</p>
</body>
