<head>
<title>Chocolate Caramel Bread Pudding</title>
</head>
<body>
<h1>Chocolate Caramel Bread Pudding</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 large egg yolk
</li>
<li>
4 large eggs
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 1/2 cups heavy whipping cream
</li>
<li>
3 cups milk
</li>
<li>
1/2 cup water
</li>
<li>
1 cup granulated sugar
</li>
<li>
6 cups chocolate cake cubes (any chocolate cake
</li>
<li>
with a pound cake, 1/2&quot; cubes
</li>
<li>
consistency)
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 325F.  In a medium mixing bowl, lightly whisk together the egg yolks, eggs, and salt.  Set aside.
</li>
<li>
In a mdium saucepan, scald the cream and the milk over medium-high heat.  Set aside.
</li>
<li>
In a medium saucepan, stir together the water and the sugar.  Cook over medium heat until the sugar dissolves.  Increase to high heat and cook the sugar until it is golden amber in color.  (Do not stir after you increase the heat.)  Remove the caramel from the stove and let the bubbles subside for a couple of seconds.  Slowly add the cream mixture a couple of tablespoons at a time, stirring constantly.  The caramel will sputter as the cream mixture is added so let the bubbles subside before adding more cream.
</li>
<li>
Whisk the caramel cream into the rreserved egg mixture.  Strain the caramel custard.
</li>
<li>
Place the chocolate cake peieces in the baking dish.  Pour the caramel custard over the cake.
</li>
<li>
Place the chocolate cake pieces in the baking dish.  Pour the caramel custard over the cake.
</li>
<li>
Place the ovenproof baking dish in the large baking pan.  Place the baking pan on a rack in the middle of the oven.  Fill the outer baking pan with water so that the water comes about halfway up the sides of the baking pan.  Bake the bread pudding until a knife inserted in the middle comes out almost completely clean, 55-60 minutes.  Serve the pudding warm.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This simple comfort food is a must for your favorite chocolate and
</p>
<p>
  caramel loving buddy....yummmmmmm.&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: &quot;Four Star Desserts&quot;
</p>
</body>
