<h1>Chocolate Madeleines</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 large egg
</li>
<li>
1 large egg white
</li>
<li>
1 cup flour
</li>
<li>
1/4 cup unsweetened cocoa, preferably Dutch process
</li>
<li>
1 1/2 teaspoons baking powder
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1/2 cup buttermilk
</li>
<li>
3 tablespoons canola oil
</li>
<li>
3/4 cup sugar
</li>
<li>
1 teaspoon vanilla extract
</li>
<li>
1 teaspoon instant coffee granules
</li>
<li>
1 ounce bittersweet chocolate, or powdered sugar for decoration
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 400F.  Spray a madeleine pan with  nonstick cooking spray.  Dust with flour or cocoa tapping out excess.
</li>
<li>
Place whole egg and egg white in a mixing bowl and set the bowl in a larger pan of hot water to warm while you prepare the remaining ingredients.  Stir the eggs occasionally.
</li>
<li>
Sift flour, cocoa, baking powder, baking soda and salt into a bowl; set aside.  Combine buttermilk and oil and set aside.
</li>
<li>
Take the egg bowl off the water, add sugar and beat with an electric mixer on high speed until the mixture is thickened and pale, about 5 minutes (to ribbon stage).  Blend in vanilla and coffee.  With a rubber spatula, alternately fold the dry ingredients and the buttermilk mixture into the egg mixture, making 3 additions of dry ingredients and 2 additions of liquid.
</li>
<li>
Drop the batter by tablespoonfuls into the prepared pan, filling each depression about three-fourths full; you will use about half of the batter.  Bake for 12-15 minutes or until the tops of the madeleines spring back when touched lightly.  Immediately loosen the cakes from the pan and invert onto a wire rack to cool.  Clean pans before adding new batter (or they will stick).
</li>
<li>
Melt the chocolate in  a plastic bag in the microwave.  Snip a small hole in one corner of the bag and quickly squeeze out lines of chocolate over the cookies.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Beautiful and low-fat...wonderful for a chocolate fix!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;The Eating Well Dessert Cookbook&quot;
</p>
<p>
SERVINGS: 24
</p>
</div></body>
