<head>
<title>Chops by Don</title>
</head>
<body>
<h1>Chops by Don</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup Irish whiskey
</li>
<li>
1 1/2 cups olive oil
</li>
<li>
2 cloves garlic, minced
</li>
<li>
2 shallots, minced
</li>
<li>
3 sprigs fresh thyme
</li>
<li>
2 sprigs fresh rosemary
</li>
<li>
1/2 teaspoon cayenne
</li>
<li>
1/2 inch fresh ginger, grated
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
6                     lamb chops
</li>
<li>
Combine marinade ingredients and pour half over lamb chops.  Refrigerate for about 8 hours
</li>
<li>
Remove chops from frig.  Let sit at room temp for 1 hour.  Grill the chops for 5 minutes on each side for medium rare, brushing with reserved
</li>
</ul>
<h2>Notes</h2></body>
