<h1>Chris&#39;s Pecan Pie</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup dark corn syrup
</li>
<li>
3 eggs
</li>
<li>
1/2 cup sugar (+2 tbsp.??)
</li>
<li>
1 cup pecans
</li>
<li>
1/4 cup butter
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place in crust and bake about 40 minutes at 350.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Chris claims this is the BEST pecan pie in the world!
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Chris/CCA
</p>
</body>
