<h1>Christmas Morning Coconut Bread</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup coconut, shredded
</li>
<li>
3 cups flour, sifted
</li>
<li>
1 tablespoon baking powder
</li>
<li>
1 cup sugar
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 egg
</li>
<li>
1 1/2 cups milk
</li>
<li>
1 teaspoon vanilla
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Spread out coconut in a shallow pan and brown in oven at about 350 degrees F (watch the coconut very carefully, and stir often as it burns quite easily).  Mix flour, baking powder, sugar and salt and then add coconut to mixture.  Beat egg until foamy.  Add milk and vanilla to egg and pour into flour mixture.  Stir until mixed.  Do not beat.  Pour into loaf pan lined with wax paper.  Bake at 350 degrees F. for 70 minutes.  Makes one 9&quot; x 5&quot;x3&quot; loaf.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : This must be served toasted and slathered with butter!NOTES : I started making this Christmas Coconut Bread about 20 years ago and have had it every Christmas morning since...anyone that has it for Christmas morning once, can&#39;t go without it again!!!  Christmas will never be the same.
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: The Christmas Cookbook
</p>
</div></body>
