<h1>Chunky Baked Apples</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8-9 unpeeled apples, golden, fuji, gala, or mixture
</li>
<li>
1-2 tablespoon sugar
</li>
<li>
1 teaspoon cinnamon
</li>
<li>
1/4 tablespoons water, approximately
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cut apples into large 1&quot; chunks.  Place in oven baking dish.  Sprinkle with sugar and cinnamon and pour water around bottom.  Cover with aluminum foil.  Bake in 375F oven for about 40-50 minutes until soft but not broken down.  
</li>
<li>
Great with zabaione, ice cream or over a butter cake.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
