<h1>Chunky Ganache &amp; Hazelnut Chunk</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
16 ounces bittersweet chocolate, 60-65% cocoa content
</li>
<li>
4 tablespoons butter, unsalted
</li>
<li>
1 1/2 cups heavy cream
</li>
<li>
1 1/2 cups hazelnuts, chopped
</li>
<li>
2 tablespoons Marsala  or Francelico
</li>
<li>
8 ounces bittersweet chocolate, chopped
</li>
<li>
1 cup heavy cream
</li>
<li>
1/4 cup hazelnuts, chopped tiny
</li>
<li>
1/4 cup pistachio nuts, chopped tiny
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place chopped chocolate in porcelain bowl.  In a small pan on the stove, heat cream and butter until just under boiling.  Pour over chocolate in bowl.  Wait about 2 minutes and whisk until melted and creamy.  Add nuts &amp; liquor.
</li>
<li>
Line metal bread pan with aluminum foil reaching into the corners for a tight fit.  Pour chocolate mixture into lined pan.  Cover with plastic wrap and place in refrigerator.
</li>
<li>
Swish:  Make this right before serving so that it is hot.  Heat cream in same fashion as above.  Pour over chopped chocolate, sit 2 minutes, and whisk.  This will be a creamy, pour-able mixture.
</li>
<li>
To Serve:  Remove the ganache from refrigerator about 30-45 minutes before serving.  Remove the ganache, aluminum foil and all, from the pan.  Unwrap the foil from the sides.  
</li>
<li>
Make a swish across the dessert plate in a zig-zag fashion, without going on the rim.  Do every plate.  Then with a knife, break off  irregular &quot;chunks&quot; of the ganache (about 3-4 ounces) and place in the middle of the zig-zag swish.  Garnish with tiny chopped hazelnuts and pistachios all around.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 16
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
