<head>
<title>Ciabatta</title>
</head>
<body>
<h1>Ciabatta</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 2/3 cups cool water
</li>
<li>
2 1/4 cups starter
</li>
<li>
1 teaspoon SAF Instant Yeast
</li>
<li>
~8-9 cups bread flour
</li>
<li>
1 1/4 teaspoons sea salt
</li>
<li>
1/4 cup milk
</li>
<li>
1/4 cup extra virgin olive oil
</li>
<li>
semolina flour
</li>
</ul>
<h2>Method</h2><ul>
<li>
Use your ongoing starter or make your Quick Starter at least 12 hours before and have it ready.
</li>
<li>
Place water in large electric mixer bowl.  Add yeast.  Add 8 cups of flour.  Mix with dough hook until all incorporated.  Add more flour if needed.  Keep in mind that this is a fairly wet dough.  It should have some slack and is not as compact as your normal loaf when completely mixed.  Continue mixing for 6 minutes.  
</li>
<li>
Place a towel over the bowl with the dough hook still in the dough.  Allow to rest for 20 minutes.  This procedure is called &quot;autolyse&quot; with the purpose of allowing  the dough to rest giving the flour a chance to expand and absorb the liquid.
</li>
<li>
After 20 minutes, turn on the mixer again and add the salt.  Mix for 2 minutes.  Add the milk and olive oil, slowly while running.  Mix for 2 minutes.  At this point the dough will be fairly slack.
</li>
<li>
Take the dough hook off.  Allow to rise for 1-1 1/2 hours.  Place in the refrigerator and allow to finish rising overnight.
</li>
<li>
The next day, remove your dough from the refrigerator.  Make sure your bread/pizza stone is in the oven and turn your oven on to 425F-450F.  Allow the dough to rest about an hour.  During this time your oven will become very hot, heating all the sides, the stone and readying the oven for your loaves.
</li>
<li>
After about an hour, in preparation for shaping your loaves, toss some semolina flour covering a large space (18&quot; across) on your work surface.  Over that toss some bread flour...all in a light covering.  Then tip the bowl of dough pouring out the bread dough, scraping the sides to get all the dough out.  It should be in a big, poured lump.
</li>
<li>
Cut the lump with a dough cutter in half and then in half again.  Place a piece of parchment paper on the underside (upside down) of a sheet pan.  Sprinkle with semolina.  Pick up one of the &quot;quarter&quot; blobs without doing anything to it, and plop it on the parchment, stretching slightly to give it some length.  Repeat this with the rest of the dough quarters right before placing in the oven.  If you can fit two loaves into your oven, do two at a time.  Otherwise just do one.
</li>
</ul>
<h2>Notes</h2><p>
Spray the loaf with water.  Take to the oven and &quot;slip&quot; parchment paper and bread onto the stone.  Close the oven quick.  Give it about 20 minutes and remove with a baker&#39;s peel to a rack to cool.  SOURCE: Apple Charlotte
</p>
</body>
