<head>
<title>Cilantro Lime Rice</title>
</head>
<body>
<h1>Cilantro Lime Rice</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups jasmine rice, rinsed until water runs clear
</li>
<li>
1 can coconut milk
</li>
<li>
water to correct liquid amount
</li>
<li>
1/2 teaspoon salt, or more to taste
</li>
<li>
2 limes, grated rind and juice
</li>
<li>
1 cup cilantro, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Rinse rice until liquid runs clear.  Place in rice cooker.  Add coconut milk and water until liquid reaches first knuckle of pointer finger when finger is placed on top of rice.  Cook until finished.  Add lime rind, juice and cilantro just before serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
