<h1>Cinnamon Zabaione</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Zabaione:
</li>
<li>
6 extra large egg yolks
</li>
<li>
1/3 cup granulated sugar
</li>
<li>
1/4 teaspoon ground cinnamon
</li>
<li>
3/4 cup sweet Marsala wine
</li>
<li>
Whipped Cream:
</li>
<li>
1 cup heavy cream
</li>
<li>
2 tablespoons granulated sugar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Bring some water to a boil in a saucepan.  Put the egg yolks in a stainless steel bowl and add the granulated sugar, and cinnamon.
</li>
<li>
Whisk in the same direction, until the sugar and butter are completely incorporated and the mixture turns a light yellow.  Add the wine and mix together.
</li>
<li>
Place the stainless steal bowl on the sauce pan over the boiling water.  Constantly whisk in the same direction until the zabaione is thick enough to coat a wooden spoon.  Do not allow to boil.
</li>
<li>
Remove the bowl from the pan with the boiling water and stir for 2-3 minutes longer.
</li>
<li>
Transfer the zabaione to individual dessert glasses.
</li>
<li>
Make the whipping cream and top the zabaione with a dollop.  Baked apples or fresh berries are delicious served with the zabione.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This recipe originates from Padove near Venice.  Cinnamon is the
</p>
<p>
  unusual spice in this dessert....Venice being the big spice importer
</p>
<p>
  from exotic locations.&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
