<h1>Cinnamon-Brown Butter Orzo</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 pounds orzo
</li>
<li>
1 stick butter, unsalted
</li>
<li>
1/4 cup olive oil
</li>
<li>
1/2 teaspoon cinnamon, no more
</li>
<li>
1/2 teaspoon pepper
</li>
<li>
1 1/2 cups fresh Italian parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook orzo in a large pot of boiling water.  
</li>
<li>
While cooking orzo, melt butter in skillet over low heat until the butter begins to turn brown and begins to have a nutty aroma.  This takes about 5 minutes more or less.  Remove skillet and addoil, cinnamon and pepper.  Do not add more cinnamon as this flavor should remain very subtle.
</li>
<li>
Drain orzo.  Return to the cooking pot and add melted butter and flavorings.  Be sure to get any of the brown bits from the bottom of the skillet.  Add the parsley at the last minute, just before serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 16
</p>
<p>
SOURCE: Adapted from Gourmet
</p>
</body>
