<head>
<title>Citrus Poached Seafood</title>
</head>
<body>
<h1>Citrus Poached Seafood</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 large firm fish fillet*, ex:  salmon or halibut, skinned &amp; cut into serving size pieces*
</li>
<li>
6 cups water, or to fill large stainless skillet with 3&quot; liquid
</li>
<li>
1 cup white wine
</li>
<li>
1 orange, quartered and juiced
</li>
<li>
1 lemon, quartered and juiced
</li>
<li>
1 lime, quartered and juiced
</li>
<li>
3 tablespoons pickling spice
</li>
<li>
1 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place all the court boullion ingredients in a large stainless skillet.  Add enough water to give you 3&quot; liquid depth in the skillet (or to cover the depth of the salmon fillets).  
</li>
<li>
Bring to a boil and lower flame to simmer about 20 minutes.  Add fillets and cook between 4-7 minutes depending on thickness.  Do not bring liquid to boil while doing this.
</li>
<li>
Remove the fillets from liquid and place on platter.  If you are refrigeratoring the fillets and serving them cold, undercook the fillets.  They will continue cooking as you chill them.
</li>
</ul>
<h2>Notes</h2><p>
Serve with a citrus vinaigrette or dill sauce.  SOURCE: Apple Charlotte
</p>
</body>
