<head>
<title>Citrus Natillas</title>
</head>
<body>
<h1>Citrus Natillas</h1>
<h2>Ingredients</h2>
<ul>
<li>
Poached Egg Whites:
</li>
<li>
12 large egg whites
</li>
<li>
1/4 teaspoon salt
</li>
<li>
3/4 cup sugar
</li>
<li>
Custard:
</li>
<li>
1/4 cup cornstarch
</li>
<li>
3/4 cup sugar
</li>
<li>
1/4 teaspoon cinnamon
</li>
<li>
6 scrapes fresh nutmeg
</li>
<li>
12 large egg yolks
</li>
<li>
1/2 cup orange juice
</li>
<li>
5 cups milk, scalded
</li>
<li>
2 cups cream
</li>
<li>
3 teaspoons vanilla
</li>
<li>
1 teaspoon grated orange peel
</li>
<li>
powdered sugar for glazing
</li>
</ul>
<h2>Method</h2><ul>
<li>
Egg Whites:  Place egg whites in bowl with salt and beat with an electric mixer until soft peaks are reached.  Gradually sprinkle in the sugar, still whipping, until glossy and stiff peaks are reached and sugar dissolved.
</li>
<li>
Bring 1 inch of water to a boil in a wide shallow fry pan and turn the heat down so that the wate simmers slowly (an occasional bubble breaking the surface).  Drop the egg whites into the water by large spoonfuls (for 12 servings).  You may have to do this in two or three batches.  They will swell and poach in a minute or two.  Turn them over if needed.  Drain on paper towels.
</li>
<li>
Custard:  Mix the cornstarch, sugar, cinnamon and nutmeg in a bowl, add the egg yolks and beat at a low speed with a mixer or whisk.  Gradually pour in the orange juice and scalded milk.  Blend and then add the cream.  Pour the custard into a saucepan and heat, stirring, over low heat.  It will take about 12-15 minutes to thicken.  It has to cook until the cornstarch looses its raw taste...do not hurry the process.  The custard should not bowl.  Remove from the heat and add the vanilla and orange peel.
</li>
<li>
Assembling:  Place the drained egg whites in a shallow baking dish.  Pour the egg custard over and chill at least 2 hours.  When ready to serve, sprinkle the surface with powdered sugar from a sieve and place the pudding under the broiler to brown the peaks and as much of the rest of the sugar as possible.  Serve!!
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A lovely light and refreshing dessert.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Adopted from &quot;The Feast of Santa Fe&quot;
</p>
</body>
