<h1>Clams with Chile Paste (Hoi Lay Pat Nam Prik Pao)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 cups coconut milk
</li>
<li>
3/4 cup chile paste
</li>
<li>
3 lbs. clams
</li>
<li>
3 tablespoons fish sauce
</li>
<li>
3 tablespoons brown sugar
</li>
<li>
3 peels lime, peeled with potato peeler
</li>
<li>
1 handful fresh mint leaves, or Thai basil or cilantro leaves
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Boil the cocnut milk 3-5 minutes, lightly.  Add the chile paste and cook for 2-3 minutes or until fragrant.  Add the clams and continue cooking for 3-5 minutes or until the clams begin to open.  Mix in the remaining ingredients and remove from the heat.  Serve with extra chile paste.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 10
</p>
</div></body>
