<h1>Clam Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. clams
</li>
<li>
olive oil
</li>
<li>
about 1 cup water
</li>
<li>
garlic
</li>
<li>
chile epper
</li>
<li>
parsley
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place a small amount of olive oil in pan to cover bottom (the pan&#39;s...not yours).  Add clams and water.  Cover with lid and steam until all clams are open (discard closed ones).  Remove clams from pan and save liquid cooked in and strain reserving for later.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Place aobut 1/4&quot; olive oil in pan.  Add garlic, chile pappe and saute a minute without browning.  Add back  strained liquid; remarm and boil about 3-5 minutes, adding clamsa the last couple of minutes.  Add spagetti cooked al dente and finish in pan with clams.  Add parley, lemon if desired and serve.SOURCE: Fattoria Medicea
</p>
</div></body>
