<h1>Classic Caesar Salad for Two (Tableside)</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 clove garlic
</li>
<li>
pinch salt
</li>
<li>
2 canned anchovies
</li>
<li>
1 teaspoon dry mustard
</li>
<li>
10 - 15 drops worcheschesture
</li>
<li>
1 egg yolk
</li>
<li>
olive oil
</li>
<li>
lemon juice
</li>
<li>
black pepper
</li>
<li>
4 tablespoons parmesan cheese
</li>
<li>
Croutons:
</li>
<li>
bread cubes
</li>
<li>
butter
</li>
<li>
olive oil
</li>
<li>
parmesan cheese
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  In wooden bowl place garlic, salt, anchovies and mustard...mash all with a fork.
</li>
<li>
2.  Add worch. sauce and continue to mash until a paste.
</li>
<li>
3.  Add egg yolk and continue to mix together.
</li>
<li>
4.  Add enough oo to emulsify to desired consistency and flavor.
</li>
<li>
5.  Add lj
</li>
<li>
6.  Cut or tear romane into bowl, add pepper and mix.
</li>
<li>
7.  Add croutons.
</li>
<li>
Croutons:
</li>
<li>
Melt butter and mix with equal of oo.  Add fresh grated parm and mix with bread cubes.  Place in 350 oven for 15 - 20 minutes.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Eric
</p>
</body>
