<h1>Classic Brownies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups flour
</li>
<li>
1 teaspoon salt
</li>
<li>
1 teaspoon baking powder
</li>
<li>
1/4 teaspoon baking soda
</li>
<li>
1/4 cup ground coffee
</li>
<li>
2 sticks butter
</li>
<li>
2 cups brown sugar
</li>
<li>
10 oz. semisweet chocolate chips, about  1 1/2 cups
</li>
<li>
3 large eggs, lightly beaten
</li>
<li>
1/2 cup  walnut pieces
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 350F.  In medium bowl, mix flour, salt, baking powder, baking soda and coffee.
</li>
<li>
In the top of a double boiler, melt butter, brown sugar and 6 ounces (about 1 cup) of chocolate chips, stirring to combine well.  Cool slightly.  Stir in the dry mixture.  Stir in eggs and then fold in walnuts.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Pour into a 9x13&quot; ungreased pan.  Sprinkle the remaining 1/2 cup of chocolate chips on top.  Bake until the cake has shrunk from the sides of the pan, 25-30 minutes.  Cool and refrigerate until completely chilled.  Eat cold or at room temperature.SOURCE: New York Times Adaptation from Sarah LeVine
</p>
</div></body>
