<head>
<title>Classic Roast Beef &amp; Gravy</title>
</head>
<body>
<h1>Classic Roast Beef &amp; Gravy</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Classic Roast Beef and Gravy
</li>
<li>
The best roast beef is cooked gently to keep all its juices inside. But without enough pan drippings, how do you make rich, beefy gravy? Here&acirc;&#128;&#153;s what we discovered:
</li>
<li>
Test Kitchen Discoveries
</li>
<li>
The test kitchen&acirc;&#128;&#153;s top cut for a beef roast that balances flavor, tenderness, and economy is top sirloin roast. Look for a roast with a thick fat cap, which will render as the beef roasts and keep it moist.
</li>
<li>
After seasoning with salt and pepper, let the roast sit to promote well-seasoned, even juicier meat. Sear each side on the stovetop before roasting to develop a flavorful crust.
</li>
<li>
The right roasting temperature produced juicy meat (having expelled very little liquid), a uniformly rosy interior (no gray ring from too much heat), and precious little liquid in the roasting pan.
</li>
<li>
Without pan drippings to make gravy, we used the rendered fat and flavorful brown bits left behind from searing the meat on the stovetop as our gravy base.
</li>
<li>
For the gravy, saut&Atilde;&copy; mushrooms (which greatly improve the &acirc;&#128;&#156;meaty&acirc;&#128;&#157; flavor of the gravy) onion, carrots, and celery in the rendered fat before adding tomato paste (which contributes body), garlic, and flour. Then stir in beef broth and red wine, making sure to scrape up any flavor-rich browned bits with a wooden spoon.
</li>
</ul>
<h2>Notes</h2><p>
After straining the gravy, we add Worcestershire sauce, whose salty, sweet, and acidic essence makes the gravy taste truly rich and meaty.SOURCE: Cooks Country
</p>
</body>
