<h1>Classic Genoise</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 tablespoons clarified butter
</li>
<li>
1 teaspoon vanilla
</li>
<li>
6 large eggs
</li>
<li>
3/4 cup sugar
</li>
<li>
pinch salt
</li>
<li>
1 cup sifted cake flour or AP bleached flour
</li>
<li>
1/4 cup cornstarch, lightly spooned
</li>
</ul>
<h2>Method</h2><ul>
<li>
Add vanilla to warm clarified butter (not hot).  Cool slightly.
</li>
<li>
In a large stainless steel mixing bowl set over a pan of simmering water heat the eggs and sugar until lukewarm, whisking constantly so they do not curdle.
</li>
<li>
Take off heat and beat with the whisk beater until triple in volume, about 5 minutes.  (A hand-held mixer may take 10 minutes).
</li>
<li>
While eggs are beating, sift together the flour and cornstarch.
</li>
<li>
Remove about 1 cup of egg mixture and thoroughly whisk it into the clarified butter.  
</li>
<li>
Sift 1/2 the flour mixture over the remaining egg mixture in large bowl and fold in gently but rapidly with a large balloon whisk or rubber spatula until almost all the flour has disappeared.  Repeat with the remaining flour.  Fold in the butter mixture until just incorporated.
</li>
<li>
Pour immediately into prepared pan (about 2/3 full) and bake 25-35 minutes or until the cake is golden brown and starts to shrimk slightly from the sides of the pan.
</li>
<li>
Loosen the sides of the cake with a metal spatula and unmold at once onto a lightly greased rack.  Reinvert to cool.  Use in your favorite way.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
