<h1>Coconut Cake w/Fluffy Icing</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Coconut Cake with Fluffy Icing
</li>
<li>
Recipe created by Art Smith
</li>
<li>
 
</li>
<li>
This fluffy cake looks like it floated right down from heaven!
</li>
<li>
Ingredients:Makes 12 servings
</li>
<li>
3/4 cup fresh lemon juice
</li>
<li>
2 tablespoons plus 2 teaspoons cornstarch
</li>
<li>
1 1/2 cups sugar
</li>
<li>
8 egg yolks
</li>
<li>
8 tablespoons (1 stick) butter , cut into 8 pieces
</li>
<li>
Grated zest of 2 lemons
</li>
<li>
Pinch of salt
</li>
<li>
3 cups cake flour (not self-rising)
</li>
<li>
1 teaspoon baking powder
</li>
<li>
1/4 teaspoon salt
</li>
<li>
2 cups sugar
</li>
<li>
16 tablespoons (2 sticks) butter , softened
</li>
<li>
4 eggs , at room temperature, separated
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1 cup well-stirred, canned unsweetened coconut milk
</li>
<li>
1 1/2 cups sugar
</li>
<li>
2 egg whites , at room temperature
</li>
<li>
2 teaspoons corn syrup
</li>
<li>
1/4 teaspoon   cream of tartar
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1 bag (17 ounces) shredded sweetened coconut (2 2/3 cups)
</li>
<li>
In a heavy-bottomed medium saucepan, combine lemon juice and 1/2 cup water. Add cornstarch, and whisk to dissolve. Add sugar, egg yolks, butter, lemon zest and salt. Cook over medium heat, whisking constantly, until mixture comes to a simmer. Reduce heat to low and whisk 1 minute. Strain through a coarse sieve into a medium bowl. Let cool to room temperature, press a piece of plastic wrap directly on surface, and refrigerate until very cold. (Filling may be prepared up to 2 days ahead and refrigerated.) 
</li>
<li>
Position a rack in center of oven and preheat oven to 350&Acirc;&deg;. Lightly butter and flour three 9-inch round cake pans; tap out excess flour. Line bottoms of pans with parchment paper. 
</li>
<li>
In a medium bowl, sift together flour, baking powder and salt. In a large bowl, cream sugar and butter with an electric mixer on high speed until light and fluffy, about 3 minutes. Beat in egg yolks, one at a time, then vanilla. On low speed, add flour in three 1-cup additions, alternating with two 1/2-cup additions of coconut milk, beginning and ending with flour, and beat until smooth, scraping bowl often with a rubber spatula. In a medium bowl, beat egg whites (with clean beaters) on high speed until they form stiff peaks. Whisk 1/4 of the whites into batter, and then fold in remainder. Spread evenly in pans. 
</li>
<li>
Bake 25 to 30 minutes, until a toothpick inserted in centers comes out clean. Be sure pans don&#39;t touch each other and that they clear sides of oven by 2 inches. 
</li>
<li>
Let cakes cool in pans on wire racks 10 minutes. Invert onto racks and unmold, removing parchment paper. Turn right sides up and cool completely. 
</li>
<li>
In the bottom of a double boiler, simmer water. In the top of a double boiler, combine sugar, egg whites, corn syrup, cream of tartar and 1/3 cup water. Place over simmering water. Beat on high speed with a handheld electric mixer until icing forms soft peaks, about 2 minutes. Remove from heat and beat in vanilla. Continue beating 5 minutes, or just until stiff peaks form. 
</li>
<li>
Place one layer upside down on a serving plate. Spread with half of lemon filling. Place another layer on top, right side up. Spread with remaining half of lemon filling. Add the final layer right side up. Spread icing over top and then sides of cake. Press handfuls of coconut all over icing. (Cake tastes best the day it is made.)
</li>
<li>
Adapted from Back to the Table by Art Smith
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Art Smith
</p>
</body>
