<head>
<title>Coffee Ice Cream</title>
</head>
<body>
<h1>Coffee Ice Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup half and half
</li>
<li>
2 cups whipping cream
</li>
<li>
3/4 cup sugar
</li>
<li>
6 egg yolks
</li>
<li>
1 cup whole coffee beans
</li>
</ul>
<h2>Method</h2><ul>
<li>
Add  half &amp; half, cream and sugar to a sauce pot and warm the mixture, stirring occasionally, until the sugar has dissolved.  Add the coffee beans.  Bring to a boil and allow to infuse for a few minutes.
</li>
<li>
2.  Whisk the egg yolks just enough to mix them and whisk in some of the hot half &amp; half mixture.  Return to the pan and cook over low heat, stirring constantly, until the custard coats the spoon (when you draw a finger across the custard coating the back of the spoon, your finger should leave a clear trail).
</li>
<li>
3.  Strain through a medium-fine strainer into a metal bowl or container  to remove any lumps that may have formed.    Place this container into another bowl of ice water and chill until mixture is cold. Cover and place in refrigerator and continue to chill over several hours or overnight.
</li>
<li>
4.  When you are ready to reeze the mixture.   Freeze according to the directions for your ice cream maker.  If you want to add chocolate chunks or nuts, add about 10-15 minutes into the freezing process, to keep the chunks suspended.
</li>
<li>
Frozen desserts should be stored in non-reactive containers -- plastic or glass--tightly covered.  Aluminum foil must not contact their surfaces.  They should be stored at 0 degrees F for best quality, but warmed to 5 F- 7 F before serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adopted from Chez Panesse&#39;s recipe for ice cream
</p>
</body>
