<head>
<title>Cold Chicken Salad with Coconut, Peanuts &amp; Crispy Rice Sticks</title>
</head>
<body>
<h1>Cold Chicken Salad with Coconut, Peanuts &amp; Crispy Rice Sticks</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 lbs. whole fresh chicken breasts, bone in, skin on, at room temperature
</li>
<li>
4 quarter size pieces ginger, smashed
</li>
<li>
2 fat scallions, cut into 1&quot; pieces
</li>
<li>
1/4 teaspoon Szechwan peppercorns
</li>
<li>
Vinaigrette:
</li>
<li>
6 tablespoons pickled ginger juice
</li>
<li>
2 tablespoons white vinegar
</li>
<li>
1/2 teaspoon kosher salt
</li>
<li>
1/2 teaspoon dried red chili flakes
</li>
<li>
1/2 cup + 2 Tbsp. canola oil
</li>
<li>
Salad:
</li>
<li>
4 tablespoons sesame seeds
</li>
<li>
6 tablespoons sweetened coconut flakes
</li>
<li>
2/3 cup roasted peanuts
</li>
<li>
2 cups English cucumber, thick julienne
</li>
<li>
2 teaspoons jalapeno chile pepper, paper thin slices
</li>
<li>
3 tablespoons pickled ginger
</li>
<li>
6 cups crispy rice sticks
</li>
<li>
coriander sprigs, for garnish (cilantro)
</li>
</ul>
<h2>Method</h2><ul>
<li>
Crispy Rice Sticks:  Pull apart the rice
</li>
<li>
                        sticks so that you have a very thin web of
</li>
<li>
                        rice sticks.
</li>
<li>
                        Add oil to a depth of 2&quot; in a wok.  Bring
</li>
<li>
                        the oil to 375F (it will puff a single
</li>
<li>
                        rice stick on contact.).  Do not let the
</li>
<li>
                        temperature climb. Toss the noodles into
</li>
<li>
                        the oil, a small batch at a time.  They
</li>
<li>
                        will puff...turn over the nest with tongs.
</li>
<li>
                        Drain.
</li>
<li>
Poached Chicken Breasts:  Wash carefully, making sure to remove all blood.  In a heavy dutch oven, partially fill with cold water.  Add ginger, scallion and peppercorns.  Bring to a rolling boil over high heat.
</li>
<li>
Submerge the chicken in the liquid, cover the pot tightly and turn off the heat.  Allow the chicken to sit, tightly covered and undisturbed, for 2 hours.  You can leave it longer, for convience, but it will not cook further.
</li>
<li>
Drain the chicken and discard liquid (not enough flavor to keep for stock).  Remove the skin and discard. Remove the meat from the bone.  Cut the meat crosswise against the grain into diagonal ribbons 1/4 inch thick.
</li>
<li>
Vinaigrette:  Whisk the ginger juice, vinegar, salt, chile flakes and allow to stand 5 minutes to infuse.  Add the oil in a thin stream to emulsify.
</li>
<li>
Toast the sesame seeds and coconut in the oven.  Watch carefully as they burn easily.  Do each on its own separate pan.
</li>
<li>
Just before serving, toss the chicken, peanuts, sesame seeds, coconut, cucumber, chili rings and pickled ginger.  Rewhisk the vinaigrette and add it to this mixture.
</li>
<li>
Mound the salad on individual plates or on a large platter.  Crown and rim the reserved rice stick and add springs of fresh coriander for garnish (cilantro).
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Adapted from Martin Yan
</p>
</body>
