<head>
<title>Compound Butter</title>
</head>
<body>
<h1>Compound Butter</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 ounces butter
</li>
<li>
1/2 bunch parsley, minced
</li>
<li>
1 tablespoon fresh herb(s) of choice: rosemary,
</li>
<li>
tarragon, chives, minced fine
</li>
<li>
salt and pepper
</li>
<li>
1 small shallot, minced
</li>
<li>
1 clove garlic, minced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix all of the ingredients and roll in parchment paper or plastic wrap.  Refrigerate or freeze until needed.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a wonderful and simple item to have as a &quot;quick&quot; sauce on
</p>
<p>
  hand at any time.  Use for pork, chicken, beef, vegetables&quot;SOURCE: Apple Charlotte
</p>
</body>
