<h1>Confetti Acorn Squash</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 acorn squash, halved
</li>
<li>
1 tablespoon olive oil
</li>
<li>
1/2 cup onion, minced
</li>
<li>
1/2 cup celery, minced
</li>
<li>
1 clove garlic, minced
</li>
<li>
1 small red apple, with skin, chopped
</li>
<li>
1 cup cooked brown rice
</li>
<li>
1 cup wild rice
</li>
<li>
1/2 teaspoon fresh thyme leaves
</li>
<li>
1 teaspoon salt
</li>
<li>
freshly ground pepper to taste
</li>
<li>
1/2 cup raisins
</li>
<li>
1/2 cup sliced almonds
</li>
<li>
1 tablespoon fresh parsley, minced
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Preheat the oven to 350 F degrees.
</li>
<li>
2.  Place the acorn squash halves in baking dish cut side down in 1/4 cup water.  Bake for approximately 35-45 minutes until almost soften.  Take out of the oven at this point.
</li>
<li>
3.  While squash is cooking, place olive oil in moderately hot saute pan.  Add onion and celery and cook until transparent.  Add garlic and cook approximately one minute.    Add chopped apple and cook another minute or two.
</li>
<li>
4.  Mix in brown rice, wild rice,  thyme, salt and freshly ground pepper.
</li>
<li>
5.  Mix in raisins and all but 1 tablespoon of sliced almonds.  Add  minced parsley.
</li>
<li>
6.  Heap this mixture into acorn halves.  Top with reserved sprinkle of almond slices.
</li>
<li>
7.  Bake for 20-25 minutes until almonds are golden.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : This is a meal in itself with the use of brown rice, the additional texture of wild rice and crunchiness of the almonds and subtle sweetness from the addition of raisins and apples.  All it needs is a salad to make it a completely wholesome and delicious meal.
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Charlotte Zyskowski
</p>
</div></body>
