<h1>Confetti Potatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 Yukon potatoes, peeled and quartered
</li>
<li>
4 Red potatoes, quartered
</li>
<li>
4 cloves garlic, peeled
</li>
<li>
1 large carrot, julienned and blanched
</li>
<li>
1 large zucchini, julienned and blanched
</li>
<li>
1 stick unsalted butter
</li>
<li>
1 cup cream or sour cream
</li>
<li>
salt and pepper, to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook potatoes and garlic in salted water until cooked through.
</li>
<li>
Blanch carrot and zucchini separately in salted boiling water briefly.  Drain and dry on paper towels.
</li>
<li>
Drain potatoes.  Add butter and cream to pan that you cooked the potatoes in.  Heat.  
</li>
<li>
Place potatoes and garlic through ricer.  Add juliened vegetables.  Stir gently.  Add salt and pepper to taste.  Serve.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A wonderful and delicious way to add vegetables to mashed
</p>
<p>
  potatoes....and delicious!!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
