<head>
<title>Consomme</title>
</head>
<body>
<h1>Consomme</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. lean beef, ground
</li>
<li>
Mirepoix, sd
</li>
<li>
8 ounces onion
</li>
<li>
4 ounces celery
</li>
<li>
4 ounces carrot
</li>
<li>
8 ounces egg white
</li>
<li>
8 ounces canned tomatoes, crushed
</li>
<li>
8 parsley stems, chopped
</li>
<li>
pinch thyme
</li>
<li>
1 bay leaf
</li>
<li>
2 whole cloves
</li>
<li>
1/2 teaspoon peppercorns, crushed
</li>
<li>
5 quarts cold beef or veal stock
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Combine everything except stock in tall heavy stock pot.  Mix vigorously with
</li>
<li>
wooden spoon, heavy whip or hands.
</li>
<li>
2.  Add about a pint of cold stock and stir well.  Let stand about 30 minutes.
</li>
<li>
3.  Gradually stir in remaining stock, making sure all is well mixed.
</li>
<li>
4.  Set the pot on moderately low heat and let it come to a simmer very slowly.  Stir occasionally.
</li>
<li>
5.  When the simmering point is approaching, stop stirring.
</li>
<li>
6.  Move the pot to lower heat &amp; simmer very slowly ~ 1 1/2 hours.  DO NOT STIR OR DISTURB THE RAFT THAT FORMS ON TOP.
</li>
<li>
7.   Very carefully ladle the consomme out and strain through china cap lined with coffee filter( for the finest filtration possible).  Degrease thoroughly.  
</li>
<li>
8.  Season to taste.
</li>
<li>
DOUBLE CONSOMME:  Use twice the quantity of beef in the basic recipe and add 8 oz. leeks to the mirepoix.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Klaus Loos/Gisslen Text
</p>
</body>
