<h1>Cookhouse Bran Muffins</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
2 eggs &acirc;&#128;&#147; beaten2/3 cup &acirc;&#128;&#147; vegetable oil2 cups &acirc;&#128;&#147; applesauce2 tsp. &acirc;&#128;&#147; vanilla2/3 cup &acirc;&#128;&#147; white sugar2/3 cup &acirc;&#128;&#147; brown sugar2 cups &acirc;&#128;&#147; unbleached white flour1 tsp &acirc;&#128;&#147; baking soda2 tsp &acirc;&#128;&#147; baking powder1 cup &acirc;&#128;&#147; bran1 cup &acirc;&#128;&#147; wheat germ2/3 cup - raisins2/3 cup &acirc;&#128;&#147; chopped walnutsMix wet ingredients in a bowl, mix dry ingredients in another bowl.Combine &amp; mix well. Fill muffin tins 2/3 full.  Bake 15-20 min. @ 400*.You can substitute pureed bananas, Pumpkin or Carrot puree&acirc;&#128;&#153; for the bananas, any kind of nut for the walnuts, and Crannies for the raisins.SOURCE: Pat Hartnett
</p>
</body>
