<h1>Cookie Pizza</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Sugar Cookie Dough:
</li>
<li>
3 cups all purpose white flour, plus more if needed
</li>
<li>
3/4 teaspoon baking powder
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 cup unsalted butter, slightly softened
</li>
<li>
1 (scant) cup sugar
</li>
<li>
1 large egg
</li>
<li>
1 tablespoon milk
</li>
<li>
2 1/2 teaspoons vanilla extract
</li>
<li>
1/4 teaspoon lemon or almond extract
</li>
<li>
Topping:
</li>
<li>
1 1/3 cups cherry preserves
</li>
<li>
2/3 cup dried sweetened cranberries, coarsely chopped
</li>
<li>
2/3 cup pecans or walnuts, chopped, optional
</li>
<li>
2/3 cup shredded sweetened coconut
</li>
<li>
1 cup semisweet chocolate morsels
</li>
<li>
2/3 cup white chocolate, grated
</li>
<li>
1/4 cup dried sweetened cranberries
</li>
<li>
1/4 cup pistachios, chopped, optional
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Dough:  In large bowl, thoroughly stir together the flour, baking powder and salt; set aside. 
</li>
<li>
 In a large bowl, with an electric mixer on medium speed, beat together the butter and sugar until very light and fluffy.  Beat in the egg, milk, vanilla and lemon or almond extract until very well blended and smooth.
</li>
<li>
Gradually beat or stir in the flour mixture to form a smooth, slightly stiff dough.  If it seems soft, stir in up to 3 tablespoons more flour.  Let the dough stand for about 5 minutes, or until firmed up slightly.  Place in the refrigerator for about 1/2 hour.
</li>
<li>
Preheat the oven to 350F.  Divide the dough in half for two 12&quot; pizza pans (or divide into more pieces for smaller pans).  Spray 2 pizza pans with non-stick spray.  With lightly greased hands, pat and press the dough out until it covers the entire pan bottom in an evenly thick layer.  Push any uneven dough edges back inside the pan, shaping so the crust edge is smooth and about 2/3 inch thick all the way around; the thicker edge keeps the dough from overbaking while the interior gets done.
</li>
<li>
In a small bowl, stir together the cherry preserves and copped cranberries.  For each pizza, spread half of the &quot;sauce&quot; evenly over the dough to within 1/4 inch of the edge.
</li>
<li>
Bake one pizza at a time in the middle of the oven for 16-19 minutes, or until the dough is tinged with brown all over and just slightly darker at the edges.  Remove from the oven.  For each pizza, evenly sprinkle with half the pecans or walnuts, coconut and semisweet chocolate morsels.  Top each with half the white chocolate, followed by half the cranberries and pistachios.  Return to the oven and bake for 4-5 minutes, or until the white chocolate begins to melt and brown on top.  Transfer the sheet to a wire rack and let stand until cooled to warm.  
</li>
<li>
Using a pizza cutter or large knife cut the pizza into quarters, eighths and then sixteenths, wiping the knife clean between cuts.  Let stand until completely cooled.
</li>
<li>
Store in pizza pan, covered with foil or in an airtight container for up to 1 week or freeze for up to 1 month.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;The best pizza ever!!  You&#39;ll never be able to call for this
</p>
<p>
  delivery.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;The All-American Cookie Book&quot;
</p>
<p>
SERVINGS: 8
</p>
</div></body>
