<head>
<title>Coq au Vin</title>
</head>
<body>
<h1>Coq au Vin</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 chicken thighs
</li>
<li>
6 chicken legs, both trimmed of fat
</li>
<li>
1 bottle fruity red wine (pinot noir, zinfandel
</li>
<li>
or merlot)
</li>
<li>
3 cups chicken stock
</li>
<li>
1 cup beef stock
</li>
<li>
8 ounces slab bacon, cut into 1/4&quot; pieces
</li>
<li>
2 tablespoons unsalted butter
</li>
<li>
2 tablespoons olive oil
</li>
<li>
2 large carrot, rough cut
</li>
<li>
1 large onion, rough cut
</li>
<li>
1 leek, rough cut
</li>
<li>
2 medium shallots, peeled &amp; quartered
</li>
<li>
2 medium garlic clove, smashed
</li>
<li>
handful thyme &gt;
</li>
<li>
bunch parsley stems
</li>
<li>
2 bay leaf &gt;
</li>
<li>
1 tablespoon tomato paste
</li>
<li>
24 pearl onions
</li>
<li>
1/2 lb. small mushrooms (white or crimini)
</li>
<li>
2 tablespoons flour
</li>
<li>
2 tablespoons unsalted butter
</li>
<li>
minced fresh parsley leaves
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place wine and stocks in saucepan, bring to boil and lower heat slightly.  Reduce to about 4 cups. Saute bacon in large dutch oven until done but not crisp.
</li>
<li>
  Leave about 1 tablespoon of fat in the pan and place cut up vegetables in pan, sauteing until slightly brown.
</li>
<li>
  
</li>
<li>
Take the vegetables out of the pan and hold in the wine/stock mixture.
</li>
<li>
  
</li>
<li>
Place the olive oil and butter in pan and brown chicken.  Remove from pan.  
</li>
<li>
 
</li>
<li>
 Deglaze pan with about a cup of the wine/stock mixuture.
</li>
<li>
Add the rest of the wine/stock/vegetable mixture to the pan.  Add the chicken in.  Add thyme, parsley stems, bay leaves, tomato paste.  Cover and place in oven for about 1 to 1 1/2 hours.  
</li>
<li>
Meanwhile, saute the onions and mushrooms and hold aside with the bacon. 
</li>
<li>
When chicken is done, remove from oven.  Remove chicken from pot.  Strain liquid and remove fat.  Place sauce back in pan and whisk in butter/flour mixture to desired consistency.  Add mushrooms, bacon and onion and reheat slightly.  Add back in chicken.  Serve.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is a delicious French Provencal dish.  It is truely a &quot;fricassee&quot; and demonstrates the &quot;stewing&quot; method with this dish.  &quot;Braising&quot; simply uses less liquid, but the techniques remain very similar.  I think of this as a typical French Bistro dish....enjoy!
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
