<h1>Coriander &amp; Garlic Crisp Tempeh</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3/4 cup water
</li>
<li>
3 teaspoons seasalt
</li>
<li>
1 1/2 teaspoons ground coriander
</li>
<li>
3 cloves garlic, crushed
</li>
<li>
12 ounces tempeh, cut into slices 1/8-1/4&quot; thick
</li>
<li>
oil for deep frying
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine water, salt, coriander, and garlic in bowl, mixing well.  Dip in tempeh slices and drain briefly on absorbent paper or on a rack, patting surface to absorb moisture.  Heat the oil to 375F in a wok.  Slide in tempeh and fry for 3-4 minutes until crisp and golden brown.  Drain briefly on paper towels and serve.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;The Book of Tempeh&quot;
</p>
<p>
SERVINGS: 8
</p>
</div></body>
