<head>
<title>Corn Fritters</title>
</head>
<body>
<h1>Corn Fritters</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 large eggs
</li>
<li>
1 cup milk
</li>
<li>
15 ounces corn kernels, drained
</li>
<li>
1 1/4 cups self-rising corn meal mix
</li>
<li>
1 1/4 cups AP flour
</li>
<li>
1/4 cup sugar
</li>
<li>
1 teaspoon salt
</li>
<li>
4 tablespoons butter, melted
</li>
</ul>
<h2>Method</h2><ul>
<li>
Beat together eggs and milk.  Mix together dry ingredients.  Add to egg/milk mixture.  Add butter and corn.
</li>
<li>
Deep fry.  Serve with maple syrup if desired.
</li>
</ul>
<h2>Notes</h2></body>
