<head>
<title>Corn &amp; Bacon Pancakes</title>
</head>
<body>
<h1>Corn &amp; Bacon Pancakes</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup yellow cornmeal
</li>
<li>
1/2 cup flour
</li>
<li>
1 tablespoon sugar
</li>
<li>
2 teaspoons baking powder
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 cup corn kernels, fresh or frozen
</li>
<li>
2 large eggs
</li>
<li>
3/4 cup milk
</li>
<li>
2 tablespoons butter, melted, cooled
</li>
<li>
5 slices lean bacon, cooked crisp
</li>
</ul>
<h2>Method</h2><ul>
<li>
Whisk together cornmeal, flour, sugar baking powder and salt.  In food processor puree coard the corn.  In another bowl whisk toegehr the corn puree, eggs, milk and butter.  Add the egg mixture to the cornmeal mixture and stir the batter until it is just combined.  Let the batter rest for 10 minutes.  Stir in the bacon, crumbled.
</li>
<li>
Heat the griddle and spray with pan spray.  Pour the batter onto the griddle, about 2 tablespoons each pancake.  Cook about 1 minute each side.  Serve with maple syrup.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 24
</p>
<p>
SOURCE: Gourmet, 1993
</p>
</body>
