<h1>Corn Tortillas</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 1/2 cups masa harina
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 1/2 cups boiling water, approximate, to right consistency
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat griddle and oil lightly.  In a tortilla press place a piece of plastic.  Form masa into small balls about the size of a golfball.  Place masa ball between layers of plastic and gently press down on tortilla press, remove tortilla from plastic and place on griddle.  Let tortilla cook for about a minute on each side or until tortilla is done and has started to have brown spots.  Place tortilla in kitchen towel so that steam can escape but will keep tortillas warm.
</li>
</ul>
<h2>Notes</h2><div id='notes'></div></body>
