<h1>Cornmeal Pancakes</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Yield:  Makes 10 pancakes
</p>
<p>
RECIPE INGREDIENTS
</p>
<p>
1 cup Albers Yellow or White cornmeal
</p>
<p>
1 tablespoon honey
</p>
<p>
1 teaspoon salt
</p>
<p>
1 cup boiling water
</p>
<p>
1/2 cup all-purpose flour
</p>
<p>
2 teaspoons baking powder
</p>
<p>
1 teaspoon ground cinnamon (optional)
</p>
<p>
1 large egg
</p>
<p>
1/2 cup Nestle Carnation evaporated milk
</p>
<p>
maple syrup or applesauce
</p>
<p>
DIRECTIONS
</p>
<p>
Combine corn meal, honey and salt in medium bowls. Slowly stir in boiling water. Cover; let stand for 10 minutes. Stir in flour, baking powder and cinnamon just until blended.
</p>
<p>
Combine egg and evaporated milk in small bowl; add to corn meal mixture. Spoon 1/3 cup batter for each pancake onto heated, lightly greased griddle or skillet; cook for about 1 minute or until bubbles appear. Turn; continue to cook for 1 to 2 minutes or until golden. Repeat with remaining batter. Serve warm with maple syrup.
</p>
<p>
FOR CHEESE AND ONION CORN MEAL PANCAKES:
</p>
<p>
Add 1/2 cup shredded cheddar or mozzarella cheese and 1/4 cup finely chopped onions to batter; stir just until blended. Proceed as above.
</p>
<p>
SOURCE: Albers
</p>
</body>
