<h1>Couscous Salad (or Wild &amp; Brown Rice)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 cups couscous
</li>
<li>
4 cups water, boiled
</li>
<li>
1 cup golden raisins
</li>
<li>
1 cup dried cranberries
</li>
<li>
1/2 cup dried apricots, diced
</li>
<li>
1 cup black beans, drained and rinsed if canned
</li>
<li>
3/4 cup port wine
</li>
<li>
2 tablespoons red wine vinegar
</li>
<li>
water, to cover fruit
</li>
<li>
1 cup slivered almonds, toasted
</li>
<li>
1/2 cup mint leaves, chopped
</li>
<li>
1/3 cup lime juice
</li>
<li>
3/4 cup olive oil
</li>
<li>
1/2 teaspoon cumin
</li>
<li>
salt/pepper -- to taste
</li>
<li>
salad greens
</li>
<li>
whole mint
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Soad equal portions of couscous and boiling water for 5 minutes.
</li>
<li>
Soad dried fruit in port wine, vinegar and water and place on heat in sauce pan and cook until almost all the water is evaporated.
</li>
<li>
Add the fruit, beans, almonds and mint to the cooled couscous.  Make a viniagrette with the lime juice and olive oil.  Add cumin and salt and pepper and taste for correct balance of acid/oil and salt and pepper.  Serve with fresh greens and garnish with mint.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:
</p>
<p>
  &quot;1/2 cup&quot;
</p>
<p>
SERVINGS: 20
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
