<h1>Couscous Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Couscous
</li>
<li>
currents
</li>
<li>
raisins
</li>
<li>
cranberries
</li>
<li>
red wine vinegar
</li>
<li>
port wine
</li>
<li>
water
</li>
<li>
green onions, sliced
</li>
<li>
toasted almonds
</li>
<li>
mint
</li>
<li>
olive oil
</li>
<li>
lime juice
</li>
<li>
olive oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Soak equal portions of couscous and  boiling water for 5 minutes.
</li>
<li>
2.  Soak dried fruit in red wine vinegar, port wine, and water and place on heat in saute pan and cook au sec.
</li>
<li>
3.  Add the rest of the ingredients to taste except the olive oil, lime juice and cumin.
</li>
<li>
4.  Make a vinaigrette from the lime juice, cumin and oo.  Mix all together.
</li>
<li>
This is a good make-ahead salad.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 1
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
