<h1>Cowboy Cookies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 sticks unsalted butter
</li>
<li>
4 cups brown sugar
</li>
<li>
2 cups white sugar
</li>
<li>
8 large eggs
</li>
<li>
4 teaspoons vanilla
</li>
<li>
6 cups AP flour
</li>
<li>
4 teaspoons baking soda
</li>
<li>
4 teaspoons cinnamon
</li>
<li>
2 teaspoons salt
</li>
<li>
12 cups oatmeal
</li>
<li>
1 1/2 cups raisins
</li>
<li>
3 12 oz chocolate chips
</li>
<li>
2 14 oz coconut
</li>
<li>
2 cups nuts
</li>
<li>
1 bag butterscotch chips
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Oven at 350F
</li>
<li>
2.  Beat together butter and sugars until creamy.
</li>
<li>
3.  Add eggs and vanilla and beat well.
</li>
<li>
4.  Add combined flour, baking soda, cinnamon and salt, mix well.
</li>
<li>
5.  Stir in oats, raisins, chocolate chips, coconut, nuts and butterscotch chips.
</li>
<li>
6.  Drop by 1/2 ice-cream scoop onto sprayed pan and bake for about 12-15 minutes.
</li>
<li>
7.  Cool on racks.
</li>
<li>
Can be made into bar cookies baked for about 35 minutes in metal baking pan.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 100
</p>
<p>
SOURCE: Char
</p>
</div></body>
