<h1>Cranberry Orange Quickbread</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups AP flour
</li>
<li>
3/4 cup sugar
</li>
<li>
1/2 cup brown sugar
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
1 stick cold butter, pea size pieces
</li>
<li>
1 orange, zested
</li>
<li>
3/4 cup fresh orange juice
</li>
<li>
1 orange, peeled, sections removed and diced
</li>
<li>
1 large egg
</li>
<li>
1 cup dried cranberries
</li>
</ul>
<h2>Method</h2><ul>
<li>
Grease and flour a 9x5&quot; loaf pan.  Preheat the oven to 350F.
</li>
<li>
In a food processor combine flour, sugars, salt, baking soda and butter. Pulse until mixture resembles finely grated cheese.  Add the zest, juice and egg.  Puse until mixture is just combined.  Remove to a bowl and stir in dicd orange and cranberries.
</li>
<li>
Pour batter in prepared pan.  Bake for 1 hour and 15 minutes.  Rotate the pan halfway through the cooking time to insure even cooking.  
</li>
</ul>
<h2>Notes</h2><p>
Allow to cool in pan for about 20 minutes and remove from loaf pan.  Allow to cool completely before  cutting.SOURCE: Anne Burrell via Gail
</p>
</body>
