<head>
<title>Cranberry/Apple Chutney</title>
</head>
<body>
<h1>Cranberry/Apple Chutney</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 1/2 cups apples, peeled and diced
</li>
<li>
3 cups fresh cranberries
</li>
<li>
1 1/2 cup unsweetened apple juice
</li>
<li>
1/4 cup +2 tablespoons brown sugar
</li>
<li>
1/4 cup golden raisins
</li>
<li>
2 teaspoons fresh ginger root, peeled/grated
</li>
<li>
3/4 teaspoon ground cinnamon
</li>
<li>
1/8 teaspoon salt
</li>
<li>
1/8 teaspoon ground cloves
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine all ingredients in large saucepan and bring to boil.  Reduce heat to medium-low and cook uncovered 10 minutes, stirring occasionally.  Remove, let cool and serve at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : The absolute best cranberry sauce you will ever experience!  This is another one of our Thanksgiving Feast must haves.
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
