<h1>Creamy Coleslaw</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups green cabbage, finely shredded
</li>
<li>
1 cup red cabbage, finely shredded
</li>
<li>
2 carrot, shredded
</li>
<li>
1 red pepper, julienned
</li>
<li>
1/4 red onion, julienned
</li>
<li>
2 bunches green onions, chopped
</li>
<li>
Dressing:
</li>
<li>
3 teaspoons sugar
</li>
<li>
1 teaspoon Dijon mustard
</li>
<li>
1 teaspoon celery seed
</li>
<li>
1/2 cup mayonnaise
</li>
<li>
1/2 cup sour cream
</li>
<li>
1 1/2 tablespoons cider vinegar
</li>
<li>
2 teaspoons horseradish
</li>
<li>
salt to taste
</li>
<li>
pepper to taste
</li>
<li>
Tabasco sauce to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine the vegetables.  Stir the dressing items.  Fold the vegetables into the dressing.  Ready to serve or chill before serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
