<head>
<title>Creamy Polenta</title>
</head>
<body>
<h1>Creamy Polenta</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 quarts water
</li>
<li>
1 tablespoon salt
</li>
<li>
2 cups polenta
</li>
<li>
1/2 cup parmesan cheese
</li>
</ul>
<h2>Method</h2><ul>
<li>
Put the 2 quarts of water in a large saucepan on high heat.  Meanwhile take a dutch oven and put in as much water that will cover the bottom of the saucepan once you balance it on top of the dutch oven for a water bath, almost like a double boiler.  Bring the dutch oven pan to a good heavy simmer.
</li>
<li>
Bring the water in the saucepan to a brisk boil and add the salt.  Put the polenta in a measuring cup from which you can pour it.  With a slender but sturdy wood spoon, create a vortex in the water by swirling it in one direction only.
</li>
<li>
While the water is swirling in a vortex, drizzle in the polenta &quot;a pioggia&quot; (like it is raining).  Lower the heat so that the polenta intermittently bubbles on the surface and &quot;spits&quot; at you and continue to stir for about 3 minutes or so.  When the polenta begins to thicken place the lid on the pan and put it in the water bath (do not submerge it!).  Make sure the simmering water below reaches up as high as possible underneath the top piece.  Cook for about 1 1/2 hours stirring every 30 minutes or so.  Taste for doneness.   It should be yellow, smooth shiny and sweet tasting.  If it is slightly bitter, cook it longer.  This can be held in a slowly simmering bath in perfect condition for up to 4 hours.  If it gets too dry, add lightly salted boiling water and stir vigorously.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Polenta can be served soft or set, with a sauce or not!NOTES : This is a simple way to prepare polenta and it will turn out perfect every time...don&#39;t buy it already made as this is truely wonderful.  I learned this in a cooking class with Carlo Middione and have made it lots of times with great success.
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Carlo Middione, San Francisco
</p>
</body>
