<head>
<title>Creamy Artichoke Soup</title>
</head>
<body>
<h1>Creamy Artichoke Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup olive oil
</li>
<li>
4 leeks, white part only, chopped
</li>
<li>
3 cloves garlic, minced
</li>
<li>
2 small potatoes, peeled &amp; chopped
</li>
<li>
2 8 oz. pkg frozen artichoke hearts, thawed
</li>
<li>
4 cups chicken stock
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
1/4 cup mascarpone cheese
</li>
<li>
mascarpone cheese, for garnish
</li>
<li>
chives, for garnish
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat a large soup pot over medium heat.  Add olive oil.  Add leeks and garlic and cook briefly.  Add the potatoes and cook about 5 minutes.  Add the rest of the ingredients up to the mascarpone and cook until the vegetables are tender, about 20 minutes.
</li>
<li>
Puree the soup, using a immersion blender.  Add the 1/4 cup mascarpone and blend further.
</li>
<li>
Taste to correct seasoning.  Ladle into bowls and top with a dollop of softened mascarpone and chopped chives.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Giada
</p>
</body>
