<head>
<title>Creamy Smashed Potatoes</title>
</head>
<body>
<h1>Creamy Smashed Potatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
10 large potatoes, russets, reds, Yukon Golds...your choice
</li>
<li>
1 cube butter
</li>
<li>
1 1/2 cups cream or milk
</li>
<li>
salt and pepper, to taste
</li>
<li>
If you want you can add: cooked bacon
</li>
<li>
bits, green onions, chopped, herbs, even
</li>
<li>
grated cheese.
</li>
</ul>
<h2>Method</h2><ul>
<li>
Wash potatoes well, leaving skins on.  Cut into quarters and place in large pot of cold, salted water.  Bring the water and potatoes to a boil and turn the stove down to simmer and finish cooking.  Cook for about 20-25 minutes until potatoes are cooked through.
</li>
<li>
Carefully (you may need an adult&#39;s help here), pour the potatoes into a large colander to drain.  Meanwhile, melt the butter and warm the cream or milk in the same pan.  When the mixture is starting to bubble, slightly, turn off the burner.  Carefully, pour the potatoes back into the pot and begin smashing with a potato masher until all the skins and potatoes are well mashed.  Season, to taste, with salt and pepper.  At this point, add addtional items, if you wish....although, it is delicious right now!!
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fabulous and easy to make for anyone....You will be a hero for
</p>
<p>
  sure!!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
