<h1>Creamy Chocolate Framboise Genoise</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 chocolate genoise
</li>
<li>
1 cup raspberry jam
</li>
<li>
2/3 cup Framboise
</li>
<li>
2 cups whipping cream, whipped stiff
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Split chocolate genoise horizontally into 2-3 pieces.
</li>
<li>
Place first layer on cake platter and sprinkle with 1/3 of the Framboise.  Spread 1/4 cup of the raspberry jam on the layer.  Top with next layer and repeat.
</li>
<li>
Place last layer on top and pour the rest of the Framboise over, allowing to soak in.  With the remaining 1/3-1/2 cup raspberry jam, mix with the whipped cream.  
</li>
<li>
Cover the top and sides of the cake with the raspberry whipped cream.  Refrigerate at least 1 hour and up to 4 hours before serving.  Fab!!
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
