<h1>Cream Pudding - Basoondi</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 cups whole milk
</li>
<li>
3 tablespoons sugar, or honey
</li>
<li>
1/8 cup blanched almond, slivered
</li>
<li>
1/8 cup pistachio nuts, blanched and chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Rabadi:  Bring the milk to a boil in a heavy flat bottomed 5-quart pan, stirring constantly with a steel or aluminum spatula (pancake turner or large heavy spoon).  Take about 15 minutes and needs careful attention so that the milk doesn&#39;t stick to the bottom of the pan.  Lower heat and simmer 45-55 minutes, stirring constantly and scraping down the sides until the liquid is reduced to 2 1/4 cups.  Stir in sugar (or honey) and 1 tablespoon each of the nuts.
</li>
<li>
Spoon the pudding into individual dessert dishes and garnish with the remaining nuts.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is actually sweeted rabadi with the addition of nuts.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Adaptation from Sahni
</p>
</body>
