<h1>Creamed Onions</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
5 large white onions, cut in half &amp; sliced thin
</li>
<li>
1 quart half and half
</li>
<li>
4 tablespoons butter, &quot;a glob&quot;
</li>
<li>
1 tablespoon cornstarch
</li>
<li>
salt and pepper, to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place onions in large pot of water and boil onions until transparent.  Dump off water and add half and half to not quite cover and heat to almost boiling.  Thicken with about one tablespoon of cornstarch added to a little milk and bring to boil for about a minute or two.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : Fabulous with turkey, dressing, mashed potatoes, candied..NOTES : Well, I had to really trick Eileen to get this out of her without her knowing it was for this book.  But we all love these so much...and like so many wonderful things we love that make us all happy, its so simple.  Eileen always makes these Christmas Day where we all pile in on her for the most wonderful Christmas Dinner with our terrific family.  My Auntie Eileen and Uncle Don have always been like another set of parents to me and my cousins like another set of siblings.  You could never have any more fun than we do on this day...as I beat my son, John, at ping-pong every year.  He just can&#39;t seem to keep up with my speed after eating these onions.....We love you Eileen.
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Eileen Munson
</p>
</div></body>
