<h1>Cream Cheese &amp; Pistachio Filling</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 ounces cream cheese
</li>
<li>
3 tablespoons chives, chopped
</li>
<li>
1 tablespoon Italian parsley, chopped
</li>
<li>
1 teaspoon Dijon mustard
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1/2 cup pistachio nuts
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cream together and press tightly into bread cavity.  Allow to set for about 1/2 hour before slicing.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Used in a thin French loaf that has been sliced crosswise and scooped
</p>
<p>
  out leaving only approximately 1/4&quot; bread all around.&quot;SOURCE: James Beard
</p>
</body>
