<h1>Cream of Broccoli Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 large onion, small dice
</li>
<li>
3 stalks celery, small dice
</li>
<li>
1 large leek, small dice
</li>
<li>
1 clove garlic, smashed and minced
</li>
<li>
1 shallot, minced
</li>
<li>
1 1/2 lbs. broccoli stems, chopped
</li>
<li>
3 ounces butter, unsalted
</li>
<li>
3 ounces flour
</li>
<li>
3 cups chicken stock
</li>
<li>
1 bouquet garni: thyme, parsley stems, bay
</li>
<li>
leaf and pepper corns
</li>
<li>
1 cup whipping cream
</li>
<li>
1 cup whole milk
</li>
<li>
salt and pepper
</li>
<li>
broccoli florets
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Sweat the onions, celery, leeks, garlic, shallot in the butter.  Add the flour and cook the roux until golden.  Meanwhile, saute the broccoli stems in an additional 1 tablespoon of butter in another saute pan while the roux is cooking.  You need to stir this continuously to avoid burning or sticking.
</li>
<li>
When the roux is golden, remove the sauce pan from the stove and slowly whisk in the chicken stock.  Bring to a boil and add more chicken stock if too thick.  
</li>
<li>
Add the bouquet garni and broccoli stems and turn to simmer.    Season lightly with salt and pepper.  Cook for at least 20 minutes.
</li>
<li>
Strain out solids and remove bouquet garni.  Puree the solids and return to soup base.   Add  cream and adjust taste for salt and pepper.
</li>
<li>
Garnish with cooked and seasoned broccoli florets.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This soup uses as its base a veloute sauce....You are learning two
</p>
<p>
  things in one!&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
