<h1>Creme Anglaise</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups half and half
</li>
<li>
1/2 cup sugar
</li>
<li>
6 large egg yolks, whisked
</li>
<li>
flavoring of choice
</li>
</ul>
<h2>Method</h2><ul>
<li>
Bring cream and sugar to boiling point.  Remove from heat.  Temper eggs by slowly pouring warm cream into egg yolks beating the entire time you are pouring the cream mixture into the eggs.  Return all to pan and continue to cook over medium heat until mixture begins to thicken and coats the back of a wooden spoon (you should be able to run your finger across the back of the spoon and it will leave a path).  Immediately remove from heat and strain into a bowl.  Add flavoring of choice (vanilla, almond or liquor).  Place into refrigerator and serve as desired.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a useful and delicious sauce to serve with all kinds of
</p>
<p>
  cakes, fruits, tarts....you name it!&quot;
</p>
<p>
SERVINGS: 12
</p>
</body>
