<head>
<title>Cremolata di Limone</title>
</head>
<body>
<h1>Cremolata di Limone</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups sugar
</li>
<li>
zest 3 lemons
</li>
<li>
1 2/3 cups lemon juice
</li>
<li>
1 1/4 teaspoons vanilla
</li>
</ul>
<h2>Method</h2><ul>
<li>
In a nonreactive pan place 3 cups of water and the sugar.  When the sugar has dissolved add the zest, lemon juice and vanilla.  Remove from the heat and taste for lemon flavor.  It becomes weaker in terms of taste, the colder it becomes.  Add more lemon if you would like.  Place in the frig for several hours.  Place in an ice cream maker and  churn until firm.  Place in the freezer.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a fabulous light touch at the end of a big Italian meal.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 1/2 quarts&quot;SOURCE: Apple Charlotte
</p>
</body>
