<h1>Creole Fried Chicken</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
From the episode: Fried Chicken
</li>
<li>
To ensure even cooking, breasts should be halved crosswise and leg quarters separated into thighs and drumsticks. We prefer the brash flavor of Louisiana&acirc;&#128;&#153;s own Tabasco sauce in this recipe, but any hot sauce will work. In step 1, do not soak the chicken longer than 8 hours, or it will be too salty.
</li>
<li>
Serves 4 to 6.  
</li>
<li>
INGREDIENTS
</li>
<li>
Seasoned Brine
</li>
<li>
1	quart water
</li>
<li>
1/4	cup sugar
</li>
<li>
3	tablespoons Worcestershire sauce
</li>
<li>
3	tablespoons Tabasco sauce
</li>
<li>
2	tablespoons salt
</li>
<li>
1	tablespoon garlic powder
</li>
<li>
4	pounds bone-in, skin-on chicken pieces (see note)
</li>
<li>
Creole Coating
</li>
<li>
1	tablespoon black pepper
</li>
<li>
1	tablespoon dried oregano
</li>
<li>
1	tablespoon garlic powder
</li>
<li>
2	teaspoons onion powder
</li>
<li>
2	teaspoons cayenne pepper
</li>
<li>
1	teaspoon white pepper
</li>
<li>
1	teaspoon celery salt
</li>
<li>
2	cups all-purpose flour
</li>
<li>
3	quarts peanut oil or vegetable shortening
</li>
<li>
INSTRUCTIONS
</li>
<li>
1. For the seasoned brine: Whisk water, sugar, Worcestershire, Tabasco, salt, and garlic powder in large bowl until sugar and salt dissolve. Add chicken and refrigerate, covered, for 1 hour or up to 8 hours.
</li>
<li>
2. For the Creole coating: Combine black pepper, oregano, garlic powder, onion powder, cayenne, white pepper, and celery salt in large bowl; reserve 4 tablespoons spice mixture. Add flour to bowl with remaining spice mixture and stir to combine.
</li>
<li>
3. Remove chicken from refrigerator and pour off brine. Sprinkle chicken with 3 tablespoons reserved spice mixture and toss to coat. Working in batches of two, dredge chicken pieces in flour mixture. Shake excess flour from chicken and transfer to wire rack. (Do not discard flour mixture.)
</li>
<li>
4. Adjust oven rack to middle position and heat oven to 200 degrees. Heat oil in large Dutch oven over medium-high heat to 375 degrees. Return chicken pieces to flour mixture and turn to coat. Fry half of chicken, adjusting burner as necessary to maintain oil temperature between 300 and 325 degrees, until deep golden brown and white meat registers 160 degrees (or dark meat registers 175 degrees), 10 to 12 minutes. Transfer chicken to clean wire rack set over baking sheet and place in oven. Bring oil back to 375 degrees and repeat with remaining chicken. Sprinkle crisp chicken with remaining tablespoon spice mixture. Serve.
</li>
<li>
Print
</li>
<li>
Email
</li>
<li>
Recipes
</li>
<li>
Grilled Corn on the Cob
</li>
<li>
Equipment Reviews
</li>
<li>
Dutch Ovens
</li>
<li>
Taste Tests
</li>
<li>
Microwave Popcorn
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Cooks Country
</p>
</body>
