<h1>Crisp Calamari</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 lbs. squid tubes
</li>
<li>
1/2 lb. tentacles, if using cleaned squid
</li>
<li>
salt and pepper to taste
</li>
<li>
Wondra&Atilde;&#134; Quick-mixing flour
</li>
<li>
mixture of olive oil and canola oil, to a depth in the pan of 1/2 inch
</li>
</ul>
<h2>Method</h2><ul>
<li>
Rinse the cleaned squid and dry on paper towels.  Cut into 1/4&quot; rings.  Place in bowl and sprinkle with salt and pepper to taste.  Lightly dust with flour.  When the oil reaches 365F on a deep fat thermometer, carefully place a few pieces of the squid.  As they cook turn a couple of times until golden.  Drain on paper towels and keep warm until service.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a light and bright and easy preparation of this favorite
</p>
<p>
  Greek dish.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
