<h1>Crispy Sauteed Firm Fish</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/2 pounds firm fish, cod, halibut, snapper cut into serving side pieces
</li>
<li>
2 large eggs, beaten with 1 tablespoon water for wash
</li>
<li>
2 cups (apprx) bread crumbs
</li>
<li>
2 cups flour
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
3 tablespoons olive oil or canola oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place non-stick saute pan on burner and heat over medium high heat until hot.  Add oil  Salt &amp; pepper fish filets.  Dip into flour, lightly tap; dip into egg wash; and then into bread crumbs. Place, gently, into hot oil in pan.  Finish with the rest of the pieces.  
</li>
<li>
Brown lightly and turn over after 5-7 minutes.  Cook another 3-4 minutes.  Remove, carefully, to warm platter.  Serve with tartar sauce or dill vinaigrette.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
