<h1>Crispy Egg Noodles with Seafood (MiXao Don Do Bien)</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 lb. noodles, fresh, thin egg noodles
</li>
<li>
1/4 cup vegetable oil, or more if needed
</li>
<li>
Stir-Fried Seafood
</li>
</ul>
<h2>Method</h2><ul>
<li>
Bring a pot of water to a boil over high heat.  Add the noodles and cook, untangling them with chopsticks, until tender but firm, about 5 minutes.  Drain, spread them into a thick pancake on a plate, loosely cover with plastic wrap and allow to dry.
</li>
<li>
Heat 2 tablespoons oil in a non-stick skillet over medium-high heat.  Add the egg noodles, being careful not to distroy their pancake form, and allow to crisp until golden brown, 5-7 minutes.  Slide onto a plate.  Add the remaining oil to the pan and flip the noodle pancake into the pan so the crisp side faces up.  Crisp the underside until golden brown, 5-7 minutes.  
</li>
<li>
While the noodles are getting crisp on this second side, you should be stir-frying the seafood.
</li>
<li>
Transfer crispy egg noodles to a serving dish and top with the stir-fried seafood.  Serve while hot.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;The noodles used in this dish are fresh noodles often referred to as
</p>
<p>
  &quot;Shanghai-style&quot; noodles.  This is delicious with just a touch of
</p>
<p>
  chili sauce.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;&quot;Authentic Vietnamese Cookiing:  Food from a Family Table&quot;&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Corinne Trang
</p>
</body>
