<h1>Crispy Sauteed Cod...An Easy &amp; Delicious  Way with Fish</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. cod
</li>
<li>
1 cup buttermilk
</li>
<li>
1/2 cup flour
</li>
<li>
salt and pepper, to taste
</li>
<li>
1 cup Panko, available in the market&#39;s Asian section
</li>
<li>
salt and pepper
</li>
<li>
2 tablespoons extra virgin olive oil, or slightly more if needed
</li>
<li>
Dill Viniagrette:
</li>
<li>
1 shallot, minced
</li>
<li>
2 tablespoons champagne wine vinegar
</li>
<li>
salt and pepper, to taste
</li>
<li>
1/4 cup extra virgin olive oil, approximate, to taste
</li>
<li>
1 tablespoon fresh dill weed, coarsely chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut the cod into 4 serving pieces.
</li>
<li>
Whisk together the buttermilk and flour in a medium bowl. Season lightly with salt and pepepr.  Place the Panko on a plate.
</li>
<li>
Heat the olive oil in a large non-stick pan.  Dip the cod pieces into the buttermilk and flour mixture.  Coat each piece with the Panko.  Lay gently into the hot oil.  Salt and pepper cod to taste.  Over medium high heat cook the cod until golden on one side, approximately 5 minutes..  Turn the fish, salt and pepper.  Lower the heat slightly and  cook until the cod is golden and cooked through, another 3-5 minutes, depending on the thickness.
</li>
<li>
Enjoy with the Dill Viniagrette.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This fish is fried lightly in olive oil and nicely &quot;crisped&quot; because
</p>
<p>
  of a lovely coating of Panko, a Japanese-style breading.&quot;
</p>
<p>
NOTES:
</p>
<p>
NOTES : Serve with homemade tartar sauce or a light viniagrette.
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
