<h1>Crispy Corn-Masa Crepes</h1>
<h2>Ingredients</h2>
<ul>
<li>
Crepes:
</li>
<li>
3 large eggs
</li>
<li>
1 1/4 cups milk
</li>
<li>
1/4 cup flour
</li>
<li>
1/4 cup fresh masa for tortillas or 1/3 cup masa
</li>
<li>
harina, mixed with 1/4 cup hot water
</li>
<li>
1 teaspoon sugar
</li>
<li>
1/4 teaspoon salt
</li>
<li>
2 1/2 tablespoons unsalted butter, melted
</li>
<li>
Vegetable Filling:
</li>
<li>
2 fresh poblano chiles
</li>
<li>
1 small white onion
</li>
<li>
2 tablespoons vegetable oil
</li>
<li>
2 ears corn, kernals cut from cobs
</li>
<li>
2 medium zucchini
</li>
<li>
4 ounces fresh spinach, chopped
</li>
<li>
1/2 cup cilantro leaves, whole
</li>
<li>
1/3 cup milk
</li>
<li>
1 teaspoon salt, or to taste
</li>
<li>
For Finishing the Dish:
</li>
<li>
1 cup Thick Cream or creme fraiche
</li>
<li>
3/4 cup Monterey jack cheese, shredded
</li>
<li>
3 tablespoons cilantro, for garnish
</li>
</ul>
<h2>Method</h2><ul>
<li>
36 hours before need make Thick Cream:  Pour 1 cup heavy whipping cream in a small saucepan and set over low heat, stirring just until the chill is off; do not heat above 100F.  Remove from the heat, stir in 2 teaspoons buttermilk (or sour cream or plain yogurt) and pour into a clean glass jar.  Place the lid on jar, but don&#39;t tighten it, and put in a warm (80-90F) spot.  Let the cream develop for 12-24 hours, until noticeable thicker.  Stir gently and refrigerate at least 4 hours or overnight to chill and complete the thickening.  Covered and refrigerated, will keep for 10 days or so.
</li>
<li>
The Crepe Batter:  Place all the ingredients except the butter in a food processor or blender.  Process until smooth, stopping the machine once to scrape down the sides.  With the machine rumming, pour in the melted butter.  Pour into a pitcher and set aside to rest for 2 hours.
</li>
<li>
Making the Crepes:  Set a 7&quot; skillet over medium-high heat and brush very lightly with butter.  When quite hot, pour in about 1/4 cup of the batter, quickly swirl it around to coat the bottom, then immediately pour the excess back into the pitcher.  Using your fingers or a narrow spatula, flip the crepe (it should be golden brown).  Cook about a minute longer, until the underneath is golden, then remove to a plate.  Continue making crepes in the same manner, buttering the pan from time to time and stacking the finshed crepes on top of one another; cover with plastic wrape.  You should have 12 to 14 crepes.
</li>
<li>
The Vegetable Filling:  Roast the chiles directly over a gas flame turning until blackened on all sides, about 5 minutes.  Cover with a kitchen towel and let stand 5 minutes.  Peel, pull out the stema nd seed pod, then rinse briefly to remove bits of skin and seeds.  Slice into 1/4&quot; strips.
</li>
<li>
In a large skillet, cook the onion in the oil  over medium heat until lightly browned, 5-7 minutes.  Add the chiles, corn kernels, zucchini, spinach, cilantro and milk.  Cook, stirring freequently, until the zucchini is just tender and the milk has evaporated, about 7 minutes.  Taste and season with salt and let cool.
</li>
<li>
Filling the crepes:  Lay out a crepe, fold the top third down, spoon is a portion of filling and a bit of the Jack cheese in the middle, then fold the point at the upper right-hand side toward the bottom left-hand corner; fold the point at the upper left.  Fill and fold the remainder of the crepes, lay on a parchment-lined or nonstick baking sheet, then bake in a 375F oven until crispy.  *  Serve with a bit of greens, Tomatillo-Green Quacamole and a drizzle of Thick Cream.
</li>
<li>
*  Alternatively (non-crisp)Filling and Fishing:  Lay out a crepe, prettiest-side down, and spoon about 1/4 cup of the vegetable filling down the middle.  Roll up to enclose the filling and place in a buttered 13x9&quot; baking dish, preferable one that will look nice on a table.  Continue spooning and rolling until all crepes are filled.  Turn on the oven to 400F.  Stir the Tick Cream until smooth (if it too thick, stir in a little milk) and drizzle over the crepes.  Sprinkle with the cheese.  Bake until heated through and bubbling, about 15 minutes.  Strew the cilantro over the crepes and they&#39;re ready to serve.
</li>
<li>
Advance Preparation:  These crepes can be made a couple of days in advance but you will need to put a piece of plastic wrap between each crepe so they don&#39;t stick together, then wrap them well and refirgerate.  The filling can be made a few hours in advance but you will want to drain off any accumulated liquid from it.  Fill the crepes and assemble the dish just before baking.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 6
</p>
<p>
SOURCE: Rick Bayless
</p>
</body>
