<h1>Croque-Monsieur</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
24 slices bread
</li>
<li>
24 slices Gruyere cheese
</li>
<li>
12 slices honey-cured ham, not too thinly sliced...about 1 ounce each
</li>
<li>
1/4 cup olive oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 400F. 
</li>
<li>
Brush the bread slices with olive oil on one side.  On each slice place a piece of cheese.  On half of the bread slices, place a ham slice.  Top each of the cheese/ham slices with the other cheese topped bread slices.  Press together.  Brush all sides with olive oil (or dip each side in olive oil).  Arrange on a sheet pan and place in 400F oven for about 10-12 minutes.
</li>
<li>
These can be cut into small portions as an hor d&#39;oeuvre or used as a sandwich.  A fabulous and easy treat!
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A wonderful, easy hors d&#39;oeuvre or if serving soup...made as a
</p>
<p>
  sandwich.  Use a great bread...and change cheese as you wish.&quot;
</p>
<p>
SERVINGS: 12
</p>
</div></body>
