<head>
<title>Crostata Fragolina (Strawberry Tart)</title>
</head>
<body>
<h1>Crostata Fragolina (Strawberry Tart)</h1>
<h2>Ingredients</h2>
<ul>
<li>
Filling:
</li>
<li>
4 large egg yolks
</li>
<li>
1/4 cup sugar
</li>
<li>
2 tablespoons flour, + 1 teaspoon
</li>
<li>
1 cup milk
</li>
<li>
1/4 cup mascarpone cheese
</li>
<li>
Dough:
</li>
<li>
1 1/4 cups flour
</li>
<li>
2 tablespoons sugar
</li>
<li>
1/8 teaspoon salt
</li>
<li>
8 tablespoons butter, cut into pieces
</li>
<li>
1/4 cup cold water
</li>
</ul>
<h2>Method</h2><ul>
<li>
1         tablespoon  strawberry or apple jelly -- melted
</li>
<li>
                        Glaze:
</li>
<li>
  3              pints  strawberries
</li>
<li>
     1/2           cup  water
</li>
<li>
     2/3           cup  sugar
</li>
<li>
  2        tablespoons  cornstarch
</li>
<li>
  2 1/2    tablespoons  Orange Liqueur
</li>
<li>
In the top of a double boiler, off the heat, whisk together the egg yolks and sugar:  Whisk in the flour until well blended.  Whisk in the milk.  Cook over medium heat, whisking, until the filling begins to thicken and coats the shisk.  Pour the filling into a bowl.  Cover with a piece of buttered wax paper; pressing it against the surface of the filling, and refrigerate for several hours.
</li>
<li>
In a food processor; combine the flour, sugar, and salt, and process to blend.  Add the butter and process until the mixture through the feed tube and process just until a ball of dough begins to form.  Do not overprocess the dough, or it will be tough.    Wrap in plastic wrap.  Refrigerate 1 hour.
</li>
<li>
Preheat the oven to 425F, and place a rack in the center of the oven.  On a lightly floured surface, roll into a 14&quot; circle.  Fit the dough into an 11&quot; tart pan with a removable bottom, and trim the excess dough.  Prick the dough all over with a fork.
</li>
<li>
Bake the shell for about 15 minutes or until golden brown.  Cool on rack.
</li>
<li>
Hull the strawberries and wipe them clean with a damp towel.  Do not wash or the tart will be soggy.  Chop enough of the berries to mike 1/2 cup.  Put the chopped berries in a saucepan, add the water and bring to a boil, crushing the berries with a wooden spoon to release their juices.  Pour the mixture into a fine strainer set over a bowl, and set the saucepan aside.  Press on the berries to release as much juice as possible, then discard the strawberry pulp.  You should have about 2/3 cup juice.
</li>
<li>
In the saucepan, stir together the sugar and cornstarch, making sure there are no lumps.  Slowly stir in the strawberry juice and blend well.  Cook over medium heat, stirring, until the glaze thickens to the cconsistency of honey.  Remove the from the heat and stir in  the orange liqueur.  Cover to keep warm.
</li>
<li>
Stir the mascarpone cheese into the cream filling.  spread the filling over the cooled tart shell.  Arrange the rmaining whole strawberries decoratively over the filling.  With a pastry brush, paint the strawberries with the glaze, letting it run down between the berries.
</li>
<li>
Place the tart on a serving plate and refrigerate for several hours before serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Mary Ann Esposito
</p>
</body>
