<head>
<title>Crostata</title>
</head>
<body>
<h1>Crostata</h1>
<h2>Ingredients</h2>
<ul>
<li>
Dough:
</li>
<li>
2 1/2 cups flour
</li>
<li>
pinch salt
</li>
<li>
1/2 cup sugar
</li>
<li>
1 3/4 sticks unsalted butter, cold
</li>
<li>
1 large egg
</li>
<li>
1 egg yolk
</li>
<li>
2 tablespoons marsala wine
</li>
<li>
2 teaspoons fresh lemon juice
</li>
<li>
1 1/2 cups jam, homemade or good quality
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place dry ingredients in the bowl of the food processor.  Pulse to mix.  Add butter.  Pulse to pea size pieces.  Beat egg and egg yolk with marsala and lemon juice.  Add to dry ingredients and pulse lightly just until begins to come together.  Add a bit more marsala or water if too dry.  Pour out on floured board and roll into two small disks.  Place in refrigerator for 30 minutes.  
</li>
<li>
 Roll out one disk and place in 8-9&quot; tart pan.  Place jam in tart.  
</li>
<li>
Roll the remaining disk and cut into 1/2&quot; strips.  Lay overlapping and underlapping in a weave pattern.  Cut off edges.  Place in 400F oven and bake for 20 minutes.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Carol Field
</p>
</body>
