<h1>Crustless Crab Quiche</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 lb. mushrooms, thinly sliced
</li>
<li>
2 tablespoons butter
</li>
<li>
4 large eggs
</li>
<li>
1 cup sour cream
</li>
<li>
1 cup cottage cheese, small curd
</li>
<li>
1/2 cup parmesan cheese
</li>
<li>
4 tablespoons flour
</li>
<li>
2 tablespoons minced onion
</li>
<li>
1/4 teaspoon salt
</li>
<li>
4 drops Tabasco sauce
</li>
<li>
2 cups Jack cheese, shredded
</li>
<li>
8 ounces crab, well drained
</li>
</ul>
<h2>Method</h2><ul>
<li>
Saute mushrooms in butter.
</li>
<li>
Blend together in blender all but jack cheese and crab.  Stir in cheese and crab.
</li>
<li>
Pour into 9&quot; pan plate and bake at 350F for about 45 minutes until puffed and golden.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Judy Reilly
</p>
</body>
