<h1>Crystallized Ginger Butter Squares</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 stick cold unsalted butter, cut into 8 pieces
</li>
<li>
1/3 cup sugar
</li>
<li>
1 extra large egg yolk
</li>
<li>
1 cup + 1 tbsp. AP flour
</li>
<li>
1/3 cup crystallized ginger, chopped
</li>
<li>
1 teaspoon orange zest, finely grated
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cream butter and sugar until smooth, 3-4 minutes.
</li>
<li>
Add the egg yolk and mix until blended.  Add the flour, ginger, zest and mix until combined about 2 minutes
</li>
<li>
Gather the dough together and place on a piece of  plastic wrap.  Shape and mold into a 4 x 4 1/2&quot; block dough.  Wrap tightly in plastic wrap.  Refrigerate until firm for about 2 hours.
</li>
<li>
Preheat oven to 350F.  Move a rack to the top third of the oven.  Line large baking sheets with parchment paper.
</li>
<li>
Using a sharp knife, cut the block of dough into four 1&quot; wide strips.  Cut each strip into 1/4&quot; wide slices.  Place the cookies 1/2 inch apart on the prepared baking sheets.
</li>
<li>
One sheet at a time, bake until the cookies are firm and edges are lightly golden, 10-12 minutes.  Cool baking sheets on wire racks.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;6 dozen&quot;SOURCE: Adapted from Martin Yan
</p>
</body>
