<h1>Cucumber Relish</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 tablespoons Thai coconut vinegar
</li>
<li>
4 tablespoons sugar
</li>
<li>
4 tablespoons water
</li>
<li>
1 coriander root, chopped finely
</li>
<li>
1 heat pickled garlic, chopped and its juice
</li>
<li>
pinch salt
</li>
<li>
1 small cucumber, quartered lengthways and sliced
</li>
<li>
4 shallots, finely sliced
</li>
<li>
2 tablespoons ginger, julienned
</li>
<li>
1 fresh red chile, julienned
</li>
<li>
1 tablespoon cilantro, leaves removed
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine vinegar, sugar, water, coriander root, pickled garlic and juice and salt.  Bring to the boil and stir until the sugar dissolves.  Remove from the heat.  Strain and cool.  Pour over remaining ingredients in serving bowl.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Classic Thai Cuisine&quot;SOURCE: Thompson
</p>
</body>
