<h1>Cucumber &amp; Yogurt Salad - Kheere ka Raita</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 medium cucumbers
</li>
<li>
2 medium ripe tomatoes, canned also works
</li>
<li>
3 jalapeno chile pepper
</li>
<li>
3 1/2 cups plain yogurt
</li>
<li>
2/3 cup sour cream
</li>
<li>
1 1/2 ground roasted cumin seeds
</li>
<li>
3 tablespoons mint, finely chopped
</li>
<li>
1 1/4 teaspoons Kosher salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Peel the cucumbers and cut in half.  Scrape out seeds.  Grate the cucs into a bowl.  
</li>
<li>
Slice tomato into thing shreds and add to cucs.  Seed the chile and cut into thin shreds and add to cucs.
</li>
<li>
Place the yogurt, sour cream, roasted ground cumin and mint in another bowl and mix.  
</li>
<li>
When ready to serve, stir in the salt and vegetables into the yogurt mixture.  Taste for salt.  Sprinkle with additional cumin, if desired.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 14
</p>
<p>
SOURCE: Adaptation from Sahni
</p>
</div></body>
