<h1>Cucumber Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
10 English cucumbers, peeled and sliced
</li>
<li>
salt
</li>
<li>
sugar
</li>
<li>
1/2 cup fresh dill (more or less)
</li>
<li>
1 tablespoon white pepper
</li>
<li>
white vinegar
</li>
<li>
honey to taste
</li>
<li>
3/4 cup canola oil or light olive oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Cut cucumbers thin.
</li>
<li>
2.  Sprinkle with salt and sugar to taste.  Let sit for 15 minutes.
</li>
<li>
3.  Add the rest of the ingredients to taste.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Chef Eric
</p>
</div></body>
