<h1>Cumin Beer Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 tablespoon cumin seed
</li>
<li>
2 teaspoons caraway seed
</li>
<li>
1 cup diced onions
</li>
<li>
1 12 ounce Samuel Adams beer, room temperature
</li>
<li>
2 cups warm water
</li>
<li>
2 1/4 teaspoons active dry yeast
</li>
<li>
3/4 teaspoon sugar
</li>
<li>
1/2 cup wheat germ
</li>
<li>
1/2 cup oats
</li>
<li>
1/2 cup mashed potatoes, sweet potato can be used
</li>
<li>
8 -9 cups AP flour
</li>
<li>
1 tablespoon + 1 1/2 t salt
</li>
<li>
kosher salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place cumin and caraway seed in a hot cast iron pan and cook briefly until lightly brown and fragrant.  Pour onto to dish and allow to cool.
</li>
<li>
Cook the onions in a smally amount of canola oil in a nonstick pan until lightly brown.
</li>
<li>
Stir in the seeds and set aside to cool.
</li>
<li>
In an electric mixer fitted with a paddle, combine beer, water, yeast and sugar.  Allow to stand for 10 minutes until bubbly.
</li>
<li>
Add onions, wheat germ, oats, potatoes and 4 cups flour and salt.  Mix until dough comes together.  Continue to mix until all incorporated, adding 1/2 cup flour at a time until slightly stiff.  Change to dough hook.
</li>
<li>
Knead with dough hook, on a low spead, adding flour 1/4 - 1/2 cup at a time until the dough &quot;cleans the bowl&quot;.  Altogether it will take about  about 8-10 minutes more until the dough is smooth and elastic (you can  pour out and knead by hand).  Gather into ball and place in oiled bowl.  Cover and allow to rise for 2 hours or until tripled in volume.
</li>
<li>
Make into 3 loaves.  Placed in greased loaf pans and cover for about 45 minutes, until doubled.  Meanwhile preheat the oven.  When the loaves have doubled, slit with razor blade and brush with water.  Sprinkle with kosher salt.  Place in the oven for about 20-25 minutes until golden and a nice &quot;thump&quot; occurs when tapped.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 30
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
