<head>
<title>Curry with Shrimp</title>
</head>
<body>
<h1>Curry with Shrimp</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup curry paste
</li>
<li>
1 1/2 cups chicken stock
</li>
<li>
1 tablespoon fish sauce
</li>
<li>
1 can coconut milk
</li>
<li>
4 kafeer lime leaves
</li>
<li>
1/2 lb. shitake mushrooms, cut in half
</li>
<li>
2 handfuls spinach leaves
</li>
<li>
1 lb. shrimp, shelled and deveined
</li>
</ul>
<h2>Method</h2><ul>
<li>
Saute the curry paste in a small amount of oil in a wok.
</li>
<li>
Add stock and bring to a simmer.  Add fish sauce.  Stir in coconut milk.
</li>
<li>
Stir in mushrooms and spinach.  
</li>
<li>
Add shrimp and cook for about 3-5 minutes until shrimp is cooked through.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Use green or red Thai curry....red is hotter.&quot;
</p>
<p>
SERVINGS: 4
</p>
</body>
