<head>
<title>Curried Chicken Filling</title>
</head>
<body>
<h1>Curried Chicken Filling</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups chicken, finely chopped, cooked
</li>
<li>
1/2 cup almonds, chopped, blanced
</li>
<li>
1 teaspoon chutney
</li>
<li>
2 tablespoons fresh coconut, grated
</li>
<li>
3/4 cup curry sauce
</li>
<li>
Curry Sauce:
</li>
<li>
1 tablespoon olive oil
</li>
<li>
1 tablespoon curry powder
</li>
<li>
2 tablespoons white wine
</li>
<li>
1/2 cup nonfat sour cream
</li>
<li>
1/4 cup egg substitute
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix all but the sauce ingredients together.  Put aside in the refrigerator.
</li>
<li>
Sauce:  Melt butter in skillet.  Add curry powder and blend well.  Add wine and sour cream/egg substittute  mixture and stir briskly until mixture thickens.  Remove from the fire and allow to cool.  
</li>
<li>
When the sauce is cool, mix it with the chicken, nuts, chutney and coconut and force the paste into the hollowed bread.  Allow to set for 1-2 hours before serving.  This can also be used in pita bread or on crackers.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Used to stuff long thin French loaves.  Slice lengthwise and stuff
</p>
<p>
  tightly with filling, allowing to set for approximately 1-2 hours
</p>
<p>
  before slicing.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: James Beard
</p>
</body>
