<h1>Curried Mushroom Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups boiling water
</li>
<li>
2 cups assorted dried mushrooms (about 2 ounces), chopped
</li>
<li>
2 tablespoons dry sherry
</li>
<li>
5 leeks, chopped
</li>
<li>
4 tablespoons flour
</li>
<li>
3 tablespoons curry powder
</li>
<li>
4 cups unsalted chicken stock
</li>
<li>
4 cups shitake mushrooms, chopped
</li>
<li>
4 cups crimini mushrooms, chopped
</li>
<li>
2 cups evaporated skim milk
</li>
<li>
1 tablespoon sherry
</li>
<li>
2 tablespoons parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Pour the boiling water over the dried mushrooms and allow to sit at least 30 minutes.  Drain the mushrooms through a strainer that has been lined with cheesecloth.  Reserve the liquid.
</li>
<li>
In a preheated stockpot, heat the sherry until hot and add the leeks and sweat until transparent.  Add the flour and curry powder and stir until the leeks are coated.  Add the chopped mushrooms and cook briefly.  Add the chopped reconstituted dry mushrooms.  
</li>
<li>
Add the strained mushroom soaking liquid and stock.  Cook for about 10-15 minutes until mushrooms are l cooked through.
</li>
<li>
At the end, add the evaporated skim milk.  Taste for seasoning, adding salt and pepper as needed.  Heat through.  Top off with a tablespoon of sherry and  serve garnishing with parsley.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A fabulous, light and full-flavored addition to your repertoire!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Adapted from Rosie Daley&#39;s &quot;In the Kitchen with Rosie&quot;&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 cup&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
