<h1>Custard Cream (Creme Anglaise)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
9 ounces superfine sugar
</li>
<li>
1 pinch salt
</li>
<li>
8 egg yolks
</li>
<li>
2 cups whole milk
</li>
<li>
1 vanilla bean (or zest of lemon or orange)
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Boil milk with chosen flavoring.   Cool to warm.
</li>
<li>
2.  Meanwhile, blend sugar, salt and egg yolks in a pan using a whisk over pan with simmering water and bring to a ribbon stage.
</li>
<li>
3.  Slowly add the warm milk, being careful not to curdle eggs.  
</li>
<li>
4.  Mix well, keeping the pan on the heat and stirring continuously until the first signs of boiling.  At this point the custard should cling to the spoon.
</li>
<li>
5.  Strain the mixture through  a fine sieve.  Keep it hot in a bain-marie if it is to accompany a hot dessert; or cool immediately in a waterbath, and keep in a cool place for a cold dessert.
</li>
<li>
CUSTARD CREAM WITH LIQUEUR:  When the custard is completely cold add 1 tablespoon of  liqueur like Curacao, Kirsch, Maraschino or rum.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : The yield on this dessert topping is about 10 - 2.4 oz. servings.
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Larousse Gastronomique
</p>
</div></body>
