<h1>Czarninia (pronounced Cha-r[rolled R]-nina)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 3-4 pound live duck, killed, reserve blood, cut in pieces
</li>
<li>
3 tablespoons vinegar (keeps blood from coagulating)
</li>
<li>
1 lb. mirepoix, small dice
</li>
<li>
1 BG:
</li>
<li>
thyme
</li>
<li>
parsley stems
</li>
<li>
bay leaf
</li>
<li>
peppercorns
</li>
<li>
12 medium pitted prunes
</li>
<li>
Add to stock after straining:
</li>
<li>
1 small onion, small dice, sauteed
</li>
<li>
2 carrots, small dice, sauteed
</li>
<li>
12 medium prunes, small dice
</li>
<li>
1/2 cup yellow raisins
</li>
<li>
2 raw pears, peeled, cored, small dice
</li>
<li>
sour cream equal to blood/vinegar mixture
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Ring the neck of the duck and decapitate by &quot;bending the beak over to the neck&quot; and cutting between the vertebrae.  Drain the blood and reserve with the vinegar.  Cover and refrigerate.   Defeather and clean the duck.
</li>
<li>
2.  Place the duck, the mirepoix, the BG and the first set of prunes in a pot and cover with water.  Cook for approximately 1 1/2 hours, skimming the surface of skum as it rises.
</li>
<li>
3.  Take the bones and meat from the stock.  Separate the meat from the bones and set aside and keep warm.  Discard the bones.  Strain the stock discarding what is left in the strainer.  
</li>
<li>
4.  Place the stock back on the stove over medium low heat.   Remove the blood and vinegar mixture from the refrigerator and set aside.
</li>
<li>
5.  Saute the onions and carrots in a small amount of butter until the vegetables are just cooked through.
</li>
<li>
6.  While the onions and carrots are cooking add the additional prunes (the first ones were strained out), the raisins and pears to the stock.  When the vegetables are just barely cooked through, add to the stock.
</li>
<li>
7.  Take the blood and vinegar mixture, add an equal amount of sour cream  and temper this mixture with the stock bringing the temperature up slowly before adding it to the stock, heating carefully.   Do not boil.
</li>
<li>
8.  Serve in bowls with duck meat on the side.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : To...Chef Terry:  This dish is a traditional and festive Polish dish often prepared during holiday seasons like Easter or Christmas.  According to Mom &amp; Dad Z. it is served in a bowl with the reserved duck meat and some boiled potatoes or homemade noodles (or both) on the side to be added to the soup as desired.  The perfect bread for this Polish dish, Dad says, is a deep, dark pumpernickel.  Enjoy, enjoy, enjoy...*Note:  The most enjoyable thing about this recipe was obtaining it over the phone as they discussed (??)  (while I tried to get it all down) the best ways according to their Polish recollection...I laughed my head off!  They finally agreed that I had it when I repeated what I thought I heard back to them!!!  Thanks for asking for it.  Its good we have it down.
</p>
<p>
Charlotte Zyskowski
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Joseph &amp; Irene Zyskowski (pronounced Zys-kof-ski)
</p>
</div></body>
