<h1>Dark Chocolate Mousse</h1>
<h2>Ingredients</h2>
<ul>
<li>
16 ounces semisweet chocolate chips
</li>
<li>
1 tablespoon unflavored gelatin
</li>
<li>
3 tablespoons coffee, strong
</li>
<li>
6 tablespoons Grand Marnier
</li>
<li>
1/2 cup nonfat plain yogurt
</li>
<li>
1/2 cup nonfat cottage cheese
</li>
<li>
4 egg whites, at room temperature
</li>
<li>
1/4 cup sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Melt the chocolate chips in the top of a double boiler set over simmering water.  Stir until smooth and completely melted.  Cool slightly.
</li>
<li>
In a small saucepan, soften the gelatin in 1/4 cup cold water  then dissolve over medium-high heat.  Add the coffee and Grand Marnier and slowly whisk until the gelatin mixture thickens slightly -- enough to glaze a spoon but not jell.  Transfer to a large mixing bowl.  Cool to room temperature.
</li>
<li>
In a food processor or blender mix together the yogurt and cottage cheese. Stir in this mixture and the melted chocolate to the gelatin mixture  until well blended.  Allow the mixture to thicken slightly at room temperature (10-20 minutes).
</li>
<li>
Beat the egg whites to soft peaks.  Beat in the sugar, 1 tablespoon at a time.  Gently fold the egg whites into the chocolate mixture and blend well.
</li>
<li>
Spoon into individual dessert glasses or a large serving bowl.  Chill for at least 2 hours before serving.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A deep, rich chocolate dessert....you&#39;ll never know you are missing
</p>
<p>
  the &quot;fattening&quot; things!!&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Julee Rosso
</p>
</body>
