<h1>Dark Greens, Crab &amp; Mushroom Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 heads dark greens: arugula, spinach etc., washed, quartered, dried
</li>
<li>
1/2 lb. white mushrooms, stemmed &amp; thinly sliced
</li>
<li>
2 tablespoons parsley, chopped
</li>
<li>
2 teaspoons basil, fresh, chopped
</li>
<li>
1 cup crab meat
</li>
<li>
1/2 cup lemon viniagrette
</li>
<li>
Lemon Viniagrette:
</li>
<li>
1 large lemon, juiced
</li>
<li>
1 large shallot
</li>
<li>
1/3 cup chicken stock, cold
</li>
<li>
2 tablespoons olive oil
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place lettuce, mushrooms, parsley and basil into bowl and toss with crab meat and viniagrette.
</li>
<li>
Viniagrette:  Whisk together and season with salt and pepper.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a delicious and elegant beginning to any dinner.&quot;
</p>
<p>
SERVINGS: 6
</p>
</div></body>
