<head>
<title>Deep Fried Bananas</title>
</head>
<body>
<h1>Deep Fried Bananas</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup rice flour
</li>
<li>
pinch salt
</li>
<li>
1/2 cup fresh coconut, grated
</li>
<li>
1/4 cup sugar
</li>
<li>
1 tablespoon sesame seeds
</li>
<li>
1/2 cup water
</li>
<li>
5 sugar bananas, small sweet or regular bananas
</li>
<li>
4 cups canola oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sift the flour with the salt.  Stir in the coconut, sugar and sesame seeds and whisk in water.  Allow to rest for at least 5 minutes.  The batter should coat the bananas easily. If too thick, add another 2 tablespoons of water.
</li>
<li>
Slice the bananas lengthways, dip into the batter and deep-fry, a few slices at a time in a wok half filled with the oil over a medium heat.  Remove, drain and serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Served in the markets all over Thailand!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Alford &amp; Duguid
</p>
</body>
