<h1>Demiglaze &amp; Demiglaze Small Sauces</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 gallon brown sauce
</li>
<li>
1 gallon brown stock
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Combine the sauce and stock in a saucepan and simmer until reduced by half.
</li>
<li>
2.  Strain through a chinois or a regular china cap lined with wet cheesecloth.  Cover to prevent a skin from forming.  Keep hot in a BM or cool in a cold-water bath for later use.
</li>
<li>
DEMIGLAZE SMALL SAUCES...
</li>
<li>
BORDELAISE:  Reduce by 3/4:  1C dry red wine, 2 oz. chopped shallots, 1/4 tsp crushed peppercorns, a pinch of thyme, and 1/2 bay leaf.  Add 1 quart Demiglaze, simmer 15-20 minutes and strain.  Swirl in 2 oz. raw butter, cut in pieces.  Garnish with diced or sliced beef marrow, poached in salted water.
</li>
<li>
MARCHAND DE VIN (Wine Merchant):  Reduce 6 oz red wine and 2 oz chopped shallots by three-fourths.  Add 1 qt Demiglaze, simmer, and strain.
</li>
<li>
ROBERT:  Cook 4 oz chopped onion in butter without browning.  Add 1C white wine and reduce by two thirds.  Add 1 qt Demiglaze and simmer 10 minutes.  Strain and add 2 tsp dry mustard and pinch of sugar dissolved in a little lj.  (Tangy)
</li>
<li>
CHASSEUR:  Saute 6 oz. sliced mushrooms and 2 oz. minced shallots in 2 oz butter.  Add 1C white wine and reduce by three fourths.  Add 1 qt. Demiglaze and 8 oz. diced tomato.  Simmer 5 minutes and add 2 tsp. chopped parsley. (Good buffet item w/beef)
</li>
<li>
DIABLE (Develed or Fire):  Reduce by two thirds:  8 oz white wine, 4 oz chopped shallots, 1/2 tsp crushed peppercorns.  Add 1 qt Demiglaze and simmer 20 minutes.  Season with cayenne to taste and strain.
</li>
<li>
MADEIRA:  Reduce 1 qt Demiglaze by about 1/2C.  Add 3-4 oz Madeira wine (or Marsala or brandy).  Chef Tom:  Blossom with wine drinking with meal.
</li>
<li>
PERIGUEUX:  Garnish Madeira Sauce with finely diced truffle.
</li>
<li>
PORT WINE:  Follow instructions for MAdeira Sauce, but use port wine instead of Madeira.
</li>
<li>
ITALIAN SAUCE:  Saute 1 lb finely chopped mushrooms and 1/2 oz minced shallots in 2 oz butter until all moisture is evaporated.  Add 1C white wine and reduce by half.  Add 1 oz. tomato paste and 1 qt. Demiglaze and simmer 10 minutes.  Add 2  tbsp chopped parsley.
</li>
<li>
MUSHROOM:  Saute 8 oz sliced mushrooms and 1 oz minced shallots in 2 oz. butter until browned.  Add 1 qt Demiglaze and simmer about 10 minutes.  Add 2 oz sherry and a few drops of lj.
</li>
<li>
BERCY:  Reduce by three-fourths:  1C dry white wine and 4 oz chopped shallots.  Add 1 qt Demiglaze and simmer 10 minutes.
</li>
<li>
PIQUANTE:  Reduce by two thirds:  4 oz mince shallots, 4 oz wine vinegar and 4 oz white wine.  Add 1 qt. Demiglaze and simmer until slightly reduced.  Add 2 oz capers, 2 oz sour pickles cut brunoise, 1 tbsp chopped parsley and 1/2 tsp tarragon.
</li>
<li>
LYONNAISE (tangy):  Saute 4 oz onions in 2 oz butter until slightly browned.  Add 1/2C white wine vinegar and reduce by half.  Add 1 qt Demiglaze and simmer 10 minutes.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 50
</p>
<p>
SOURCE: Gisslen Text
</p>
</body>
