<h1>Dessert Crepes with Orange Curd</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups flour
</li>
<li>
1 1/4 cups milk
</li>
<li>
3 large eggs
</li>
<li>
2 tablespoons butter, melted
</li>
<li>
1 tablespoon orange zest
</li>
<li>
1/4 teaspoon vanilla
</li>
<li>
1/4 cup canola oil
</li>
<li>
Orange Curd:
</li>
<li>
1 cup freshly squeezed orange juice
</li>
<li>
1 tablespoon orange juice concentrate
</li>
<li>
zest of one orange
</li>
<li>
5 large egg yolks
</li>
<li>
1/4 cup unsalted butter, diced
</li>
</ul>
<h2>Method</h2><ul>
<li>
powdered sugar
</li>
<li>
Whisk the flour, milk and eggs in a bowl.  Add the butter, zest and vanilla and mix well.  Place in the refrigerator for about 30 minutes.
</li>
<li>
Heat a small non-stick pan over high heat and spray  with non-stick spray.  Add about 2 tablespoons of batter and quickly lift pan spreading the batter around the pan.  Cook for 1-2 minutes.  Turn with a small metal spatula and cook another minute.  Remove from the pan and set aside on a plate.  Repeat until you have about 20 crepes prepared.
</li>
<li>
Orange Curd:  Place the juice, conceentrate, zest and sugar in the top of a double boiler and whisk well.  Add the butter and place over simmering water.  Place the egg yolks in a small mixing bowl and shisk.  Whisk in about 1/2 cup of the hot mixture to temper the eggs.  Whisk the warm mixture into the remain hot liquid in the double boiler.  Stir constantly, until the curd is very thick and coats the back of the spoon.  Remove from the heat and transfer to a medium bowl.  Put the bowl in the refrigerator to chill the curd for about 30 minutes.
</li>
<li>
To serve....place a crepe on a plate and spoon in 1-2 tablespoons of the curd in the middle.  Fold the crepe in half, then fold in half again forming a triangle.  Place on a plate and repeat with the remaining crepes.  Place 2 crepes on each plate and dust the tops with powdered sugar.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Caprial
</p>
</body>
