<h1>Dill Batter Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/2 cups all-purpose flour, more or less
</li>
<li>
2 tablespoons sugar
</li>
<li>
2 tablespoons minced onions
</li>
<li>
1/4 cup fresh dill leaves
</li>
<li>
1 1/4 teaspoons salt
</li>
<li>
1/4 teaspoon baking soda
</li>
<li>
1 package active dry yeast
</li>
<li>
1 cup cottage cheese
</li>
<li>
1/4 cup water
</li>
<li>
1 tablespoon butter
</li>
<li>
1 egg
</li>
<li>
butter, softened
</li>
<li>
coarse salt, if desired
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  In large mixer bowl, combine 1 cup flour, sugar, onion, dill, salt, soda and dry yeast.  
</li>
<li>
2.  In saucepan, heat cottage cheese, water and butter until mixture is warm.
</li>
<li>
3.  Add egg and warm liquid to flour mixture.  Blend at lowest speed until moistened; beat 3 minutes at medium speed.
</li>
<li>
4.  By hand, stir in remaining flour to form a stiff dough. 
</li>
<li>
5.  Cover; let rise in warm place until light and doubled in size, about 1 hour.
</li>
<li>
6.  Stir down dough.  Turn into well-greased 8-inch round (1 1/2 - 2 quart) casserole.  Cover; let rise in warm place until light, 30-45 minutes.  Preheat oven to 350.  
</li>
<li>
7.  Bake at 350 for 35-40 minutes until golden brown.  Brush with butter and sprinkle with coarse salt, if desired.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This recipe is adapted from a winning &quot;Dilly Casserole Bread&quot; from
</p>
<p>
  Pillsbury Bake-Off; circa 1968&quot;
</p>
<p>
NOTES:
</p>
<p>
NOTES : This is the easiest of yeast breads to make....and it makes your home smell heavenly.  This is wonderful with soups or anything of a charcuiterie nature; ie., great sausages.
</p>
<p>
SERVINGS: 1
</p>
</body>
