<h1>Dill Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 tablespoons or more fresh dill, chopped
</li>
<li>
1/2 teaspoon kosher salt, or to taste
</li>
<li>
2 tablespoons lemon juice
</li>
<li>
1 cup heavy cream
</li>
<li>
1 tablespoon chives, minced
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Press the herb &amp; salt together in a mortar, grinding with a pestle or a wooden spoon on a wooden bread board.
</li>
<li>
Place in bowl.  Add lemon juice.  Stir until the salt disolves.  Add the cream.  Allow the mixture to sit 10-15 minutes.  It will thicken slightly.  Taste to correct seasoning.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Stir in chives.  SOURCE: Apple Charlotte
</p>
</div></body>
