<h1>Dorothy&#39;s Christmas Cookies</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup butter, room temperature
</li>
<li>
1/2 cup sugar
</li>
<li>
2 cups flour
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 teaspoon almond extract
</li>
<li>
1 cup walnuts, finely chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix all ingredients together and chill for about one hour.  Roll in walnut size balls and roll in sugar.  Stamp each cookie with a Scandinavian cookie stamp.  Place in 350 F oven and bake for 8-10 minutes.  Watch carefully as they should not brown.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Sorry!!  I cannot remember Dorothy&#39;s last name.  But she is a legacy to me because this has been one of my favorite Christmas Cookie recipes ever since she gave it to me many years ago.  Thanks Dorothy...we all love these!
</p>
<p>
SERVINGS: 36
</p>
<p>
SOURCE: Dorothy
</p>
</body>
