<head>
<title>Dried Fruit &amp; Walnut Biscotti</title>
</head>
<body>
<h1>Dried Fruit &amp; Walnut Biscotti</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 ounces dried figs, or dried fruit of your choice
</li>
<li>
1/4 cup orange liqueur or sweet marsala
</li>
<li>
1 cup walnuts
</li>
<li>
3 1/2 cups AP flour
</li>
<li>
2 tablespoons baking powder
</li>
<li>
1/2 teaspoon salt
</li>
<li>
6 large eggs
</li>
<li>
1 cup plus 2 tablespoons sugar
</li>
<li>
1/3 cup canola oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Marinate figs in orange liqueur for several hours.
</li>
<li>
Toast the walnuts in a 350F oven for about 10 minutes (use your nose....when you begin to smell them, they are probably getting done).
</li>
<li>
Sift dry ingredients into a bowl.
</li>
<li>
In another bowl, whisk together the eggs, sugar and oil   Add to flour mixture and mix well with a spoon.  Add the figs and liquid with the walnuts and mix well.  The dough will be sticky.  Cover and place in the refrigerator for 1 hour.
</li>
<li>
Place parchment paper on two sheet pans.  Spread half the dough on each sheet.  With a spatula, spread each half into a 13 x 7&quot; loaf.
</li>
<li>
Bake in a 350F oven for about 15-20 minutes, until golden and just firm to the touch.  Remove from oven allow to cool on sheets for about 10 minutes.
</li>
<li>
Remove each loaf to a cutting board and cut on the diagonal into slices 1/2&quot; thick.  Place back on the baking sheets and cook an additional 7 minutes on each side or until toasted and golden brown.  Cool on wire racks.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;3 dozen&quot;SOURCE: Adapted from Mary Ann Esposito
</p>
</body>
