<h1>Dried Italian Seasoning Mix</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 tablespoons dried rosemary, crushed
</li>
<li>
3 tablespoons dried basil, crushed
</li>
<li>
3 tablespoons dried thyme, crushed
</li>
<li>
1 teaspoon garlic powder, crushed
</li>
<li>
1 teaspoon salt
</li>
<li>
1/2 teaspoon fresh ground pepper
</li>
<li>
Taste to balance taste.
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: Better Homes &amp; Gardens 10/06
</p>
</div></body>
