<h1>Dried Fruit Compote</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 cups water
</li>
<li>
1 pound  mixed dried fruit
</li>
<li>
1 cup pitted prunes
</li>
<li>
1/2 cup raisins
</li>
<li>
2 apples, peeled and sliced
</li>
<li>
1/4 cup dried cranberries
</li>
<li>
1 cup sugar
</li>
<li>
1 lemon, sliced
</li>
<li>
6 whole cloves
</li>
<li>
2 cinnamon sticks or cinnamon
</li>
<li>
1 orange, grated, then peeled and sectioned, removing pith
</li>
<li>
1/2 cup fruit flavored brandy
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix all ingredients, except lemon peel, in pan with water and cook about 20 minutes on simmer until fruit is plump.  Add brandy and lemon peel.  Cover and allow to stand 15 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Culinary Arts Institute Polish Cookbook
</p>
</div></body>
