<h1>Dr. Walford&#39;s Supreme Vegetable Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/3 cup dry chickpeas
</li>
<li>
1/3 cup dry lentils
</li>
<li>
1/3 cup brown rice
</li>
<li>
1/3 cup wild rice
</li>
<li>
1/3 cup oat bran
</li>
<li>
1 medium sweet potato
</li>
<li>
3 spears broccoli or 5 cups florets
</li>
<li>
1 carrot
</li>
<li>
3/4 cup raw mushrooms
</li>
<li>
1 large head romaine lettuce
</li>
<li>
1/2 cup parsley
</li>
<li>
1 large red pepper
</li>
<li>
2 medium zucchini
</li>
<li>
1 medium tomato
</li>
<li>
1/4 small head red cabbage
</li>
<li>
1 medium onion
</li>
<li>
16 ounces commercially prepared salsa
</li>
<li>
4 tablespoons balsamic vinegar
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1 large egg, hard boiled
</li>
<li>
3 ounces tomato paste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Soak garanzo beans overnight.  Discard soak water.
</li>
<li>
Combine garbanzos with lentils and add enough water to cover by at least 2&quot;.
</li>
<li>
Bring to boil, reduce heat and simmer for 30 minutes.  When cooked, drain any remaining water and cool.
</li>
<li>
The rices can be added to the beans or cooked separately.  To cook with beans add an additional 1 cup boiling water, the brown and wild rice to simmering beans.  Simmer an additional 45 minutes.  Add bran during the last 10 minutes.  
</li>
<li>
Hard boil one egg.
</li>
<li>
Meanwhile, steam the sweet potato for approximately 15 minutes or until soft.  Cool and slice into bite size bieces.
</li>
<li>
Steam the broccoli and carrot for 10 minutes, cool and slice into bite size pieces.  Slice muchrooms, tomato, red pepper, squash and onion into bite size pieces.  Shred the cabbage and finely slice the parsley.  Cut lettuce into bite sizes.  In a large salad bowl, combine all vegetables.  Chop the egg and add to the vegetables.  Drain excess liquid from the salsa in a strainer and blend together salsa, tomato paste, balsamic vinegar and olive oil.
</li>
<li>
Add to the bean, rice, vegetable mix and stir toouroughly.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Low-Fat , nutrient-dense salad from Anthony, my trainer.&quot;
</p>
<p>
SERVINGS: 4
</p>
</div></body>
