<h1>Dry Cooked Green Beans</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. Chinese long beans or green beans
</li>
<li>
(cut into 3&quot; lengths)
</li>
<li>
1/4 cup ground pork
</li>
<li>
1/4 cup pickled Sichuan mustard green, minced
</li>
<li>
2 tablespoons minced garlic
</li>
<li>
1 tablespoon dried shrimp, soaked and minced
</li>
<li>
2 teaspoons sugar
</li>
<li>
1 tablespoon chili paste
</li>
<li>
1 teaspoon Chinkiang vinegar
</li>
<li>
1 teaspoon salt
</li>
<li>
1 teaspoon ground Sichuan peppercorn
</li>
<li>
1/4 teaspoon ground white pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Oil blanch beans until dried (bean will shrivel and skin will blister).  Drain on paper towel and se aside.
</li>
<li>
2.  Pour out all but 1 tablespoon of oil, heat the pan on high, stir fry pork with Sichuan mustard green, garlic, and shrimp until pork is cooked.
</li>
<li>
3.  Add in sugar, chili paste, vinegar, salt, Sichuan peppercorn and white pepper...mix well.  
</li>
<li>
4.  Add in beans and correct seasoning.  Should be fragrant, spicy and Sichuan peppercorn flavor.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : Sichuan
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Rhoda Yee, CCA
</p>
</div></body>
