<h1>Dry Rub for Grilling</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/2 cup paprika
</li>
<li>
1/4 cup chili powder
</li>
<li>
1/4 cup ground cumin
</li>
<li>
1/4 cup dark brown sugar
</li>
<li>
1/4 cup kosher salt
</li>
<li>
2 tablespoons dried oregano
</li>
<li>
2 tablespoons granulated sugar
</li>
<li>
2 tablespoons freshly ground black pepper
</li>
<li>
2 tablespoons freshly ground white pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix together in a bowl and store in a glass jar.  This is enough for 4 slabs of ribs, 2 whole briskets or one large pork butt roast.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:
</p>
<p>
  &quot;2 cups&quot;SOURCE: Adapted from Cook&#39;s Illustrated
</p>
</div></body>
