<head>
<title>Duchesse Potatoes</title>
</head>
<body>
<h1>Duchesse Potatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
7 lbs. EP potatoes, whole, unpeeled
</li>
<li>
4 ounces butter, melted
</li>
<li>
salt
</li>
<li>
wp
</li>
<li>
nutmeg
</li>
<li>
10 egg yolks
</li>
<li>
egg wash, optional
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Bake potatoes (to keep as dry as possible, as they should be stiffer than mashed potatoes).  Be prepared to go through the following steps (can hold before baking) as soon as potatoes come out of oven.
</li>
<li>
2.  Cut potatoes in half; scoop out potato meal
</li>
<li>
3.  Pass potatoes through a food mill or ricer
</li>
<li>
4.  Season to taste with s, wp, little nutmeg (should not taste strongly of nutmeg)
</li>
<li>
5.  Add egg yolks and  butter and beat until smooth.
</li>
<li>
6.  Put the mixture in a pastry bag with a star tube and bag out into desired shapes on sheet pans or as platter borders (picture on pg. 436).  Cone-shaped spiral mounds are most popular for individual portion service.
</li>
<li>
7.  If desired, brush lightly with egg wash for greater browning.
</li>
<li>
8.  At service time, place potatoes in hot oven (400-425F) until lightly browned.   Do not underbake, they should rise slightly.   Platter borders may be browned under the salamander.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 25
</p>
<p>
SOURCE: Chef Klaus Loos (&amp; Gisslen, pg 435)
</p>
</body>
