<head>
<title>Duck Confit</title>
</head>
<body>
<h1>Duck Confit</h1>
<h2>Ingredients</h2>
<ul>
<li>
Duck legs with thighs and gizzards
</li>
<li>
Layer skin side down in hotel pan
</li>
<li>
Top this layer with rock salt,
</li>
<li>
dry thyme, crushed juniper
</li>
<li>
berries and bay leaves.
</li>
<li>
Cover with layer of legs, skin
</li>
<li>
side up and cover with same
</li>
<li>
seasoning mix. Allow to stand
</li>
<li>
overnight, covered in refrigerator.
</li>
<li>
Having gathered all the fat from the
</li>
<li>
butchered duck and rendered it,
</li>
<li>
strain and place in cool place over
</li>
<li>
night.
</li>
<li>
The next day, cover the duck with
</li>
<li>
fat and bake in 300F oven for about
</li>
<li>
3 hours. Never allow the fat to get
</li>
<li>
above 200 degrees as measured
</li>
<li>
by a thermometer.
</li>
</ul>
<h2>Method</h2><ul>
<li>
To serve:  This duck can be packed in its own fat and refrigerated for future use.  Otherwise, it is used as a seasoning meat; as in cousselet.  For the Chef&#39;s Tasting we served shredded duck confit with gizzards (with grissle removed) and fanned seared duck breast over the confit.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Thomas Oden
</p>
</body>
