<h1>Easiest French Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups flour
</li>
<li>
(or bread flour if you have it)
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
1 pkg. active dry yeast
</li>
<li>
1 cup warm water
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place 3 cups of flour in the Cuisinart.  Add salt and yeast.  Measure warm water and  pour water through feed tube with Cuisinart running and allow to run for no more than one minute.  Add a tablespoon or so If flour is looking too wet.  
</li>
<li>
The dough will come together.   Take out of the bowl and pour onto lightly floured board and knead slightly into a ball.  Place into an oiled bowl.   Let rise away from any drafts for about an hour to an hour and a half until doubled in size.  
</li>
<li>
Punch down and shape into one large French loaf or two baquettes and place on cookie sheet that has been lightly sprinkled with corn meal.  Allow to rise another 1/2 hour or 45 minutes.
</li>
<li>
Slash with razor along the loaf in three places.    Place in preheated 425 degree oven for 20-25 minutes until golden brown.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is the easiest, fast recipe for making bread in your Cuisinart.  You&#39;ll love it!
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Cuisinart
</p>
</body>
