<h1>Easy Vinaigrette</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 medium shallot, minced
</li>
<li>
vinegar (about 1/4 cup more or less), or freshly squeezed lemon or citrus juice
</li>
<li>
salt and pepper
</li>
<li>
good olive oil to taste
</li>
<li>
fresh herbs, if desired
</li>
<li>
dry mustard, if desired or
</li>
<li>
dijon mustard, if desired
</li>
<li>
sugar, if desired
</li>
<li>
garlic, minced, if desired
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
The &quot;if desired&quot; items are to be added if you would like.  The viniagrette will be wonderful with only acid, olive oil and salt and pepper.  But you can add several of the &quot;if desired&quot; items if you wish.  Always consider what you are serving it with and what sounds good to you.
</li>
<li>
If you are serving wine, make your viniagrette slightly &quot;rounder&quot;, meaning balancing with more oil so as not to conflict with the wine you are serving.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Every vinaigrette is as different as the vinegar (or acid) you select
</p>
<p>
  and your tastebuds.  Make it your own....but here are some
</p>
<p>
  guidelines.&quot;SOURCE: Char
</p>
</div></body>
