<head>
<title>Easy Chocolate Sauce</title>
</head>
<body>
<h1>Easy Chocolate Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 ounces semi sweet chocolate
</li>
<li>
1/2 cup heavy whipping cream
</li>
<li>
3/4 cup milk
</li>
<li>
2 tablespoons butter
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place heavy whipping cream&amp; milk  in sauce pan and heat carefully.  Cut up chocolate into medium chunks.  When the cream and milk has come to a simmer, remove from heat.  Add chocolate to the warm mixture.  Allow the chocolate to sit in the milk mixture for about 5 minutes, then stir gently until smooth.  Stir in the butter.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
