<h1>Edamame Salad in Phiyllo Cups</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 pound frozen edamame, boiled 5 min. &amp; cooled
</li>
<li>
1 cup craisins
</li>
<li>
1/2 cup blueberries
</li>
<li>
1 lemon, zest &amp; juice to taste
</li>
<li>
4 ounces crumbled feta cheese
</li>
<li>
1/2-1  cup fresh basil, chopped
</li>
<li>
s/p, to taste
</li>
<li>
1-2 tbsp. olive oil
</li>
<li>
1 stick butter
</li>
<li>
2 cloves garlic, minced
</li>
<li>
8 sheets phyllo dough
</li>
<li>
4 tablespoons parmesan , grated
</li>
<li>
2 tablespoons parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix salad ingredients together.	
</li>
<li>
Cups:	Melt butter with garlic until fragrant.  Lay out one phyllo sheet and brush with garlic butter.  Sprinle with parmesan and parsley.  Repeat 3 more time, until 4 sheets have been used and stacked.  Repeat the process with the remaining 4 sheets.  Cut each stack into 12 equal pieces.  Spray mini-muffin tins with non-stick and gently press each square into the cups.  Repeat to make 24 mini cuts. 
</li>
<li>
Bake at 350F for 10 minutes.
</li>
</ul>
<h2>Notes</h2><p>
Fill phyllo cups with edamine salad.SOURCE: Gordy Nelson
</p>
</body>
