<h1>Eggnog Ice Cream</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup milk
</li>
<li>
3/4 cup sugar
</li>
<li>
5 large egg yolks
</li>
<li>
2 1/4 cups whipping cream
</li>
<li>
2 1/2  tablespoons bourbon
</li>
<li>
1 tablespoon brandy
</li>
<li>
freshly grated nutmeg
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Have a bowl and strainer ready to strain your cooked &quot;custard&quot; mixture as soon as it has cooked.  
</li>
<li>
Heat milk and sugar in a stainless steel saucepan until sugar dissolves and mixture is heated.  
</li>
<li>
Meantime, gently beat egg yolks to break and mix together (not until frothy).  When the milk mixture is hot, gently pour it into the egg yolks while stirring (this is called &quot;tempering&quot; the egg yolks).  Then pour the mixture back into the pan and cook over medium heat, stirring constantly with a wooden spoon until the mixture coats the back of the wooden spoon and you can run your finger through it leaving a trail (this will only take a few minutes).
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Immediately, strain into your clean bowl.  Add whipping cream, bourbon, brandy and nutmeg.  Allow to cool completely in the refrigerator (overnight is great) before freezing according to manufacturer&#39;s directions in ice cream freezer.SOURCE: Adpated from Chez Panisse
</p>
</div></body>
