<head>
<title>Eggplant Parmesan</title>
</head>
<body>
<h1>Eggplant Parmesan</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 large eggplants, sliced 1/2&quot; thick
</li>
<li>
sea salt to cover and place to drain
</li>
<li>
1/2 cup olive oil, or as needed
</li>
<li>
salt and pepper
</li>
<li>
2 cups tomato sauce, or as needed
</li>
<li>
1 1/2 cups Parmesan cheese, or as needed
</li>
<li>
1 cup basil leaves
</li>
</ul>
<h2>Method</h2><ul>
<li>
After slicing and salting eggplant slices, drain for approximately 20-30 minutes.  Wipe off salt on paper toweling.
</li>
<li>
Place eggplant on sheetpan.  Brush with olive oil.  Salt lightly and pepper and place in 375F oven for about 1/2 hour until golden.
</li>
<li>
Place tomato sauce or light marinara in bakiing dish and place slices of eggplant on top.  Top with a sprinkling of grated, fresh  Parmesan and continue layering until all slices of eggplant are used up.  Top with a small amount of sauce and parm and fresh basil leaves.  Bake at 350F until heated through.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This dish....more Sicilian...is loved throughout Italy.  I learned
</p>
<p>
  this, my favorite, in Tuscany and couldn&#39;t leave you without it!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Fattoria Medicea, Pistoia
</p>
</body>
