<h1>Eight Precious Treasure Rice Pudding</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups sweet rice or Italian risotto rice, washed &amp; soaked in cold water
</li>
<li>
1 tablespoon vegetable shortening
</li>
<li>
6 blanched almonds, sliced in half
</li>
<li>
3 red marachino cherries, sliced in rounds
</li>
<li>
3 green marachino cherries, sliced in rounds
</li>
<li>
3 dates, pitted, sliced/half
</li>
<li>
3 small pieces of crystallized pineapple, sliced in half
</li>
<li>
1 piece crystallized lemon (citron), sliced/6 pieces
</li>
<li>
6 golden raisins, soaked until swell
</li>
<li>
2 tablespoons vegetable shortening
</li>
<li>
3 tablespoons granulated sugar
</li>
<li>
1/3 cup Chinese Sweet Red Bean Paste
</li>
<li>
3 tablespoons more of granulated sugar
</li>
<li>
3/4 cup water
</li>
<li>
2 teaspoons cornstarch
</li>
<li>
1/4 cup red marachino cherry liquid
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Cook the rice according to the directions in the basic recipe.
</li>
<li>
Basic Glutinous Rice:  Soak rice for at least 30 minutes before using.
</li>
<li>
                                 2 cups glutinous (sticky) rice
</li>
<li>
                                 4 cups cold water
</li>
<li>
Place rice in a saucepan and pour in enough water to cover.  Let soak 30 minutes or longer. 
</li>
<li>
 Pour off the soaking water and continue to wash, agitating the grains, in several changes of water until the last washing runs clear.  Pour away the water, using the lid to help it drain and pour the four cups of water into the rice.  Let it stand for 10 more minutes.  
</li>
<li>
Cover the pan and place it over high heat.  Bring to a boil and immediately reduce the heat to low.  Simmer the rice for 30 minutes or until all the water is absorbed.  
</li>
<li>
Do not lift the lid while the rice is cooking, but remove it at the end of the cooking time to check if the water is absorbed.  If it is not, cover again and let it simmer for a few minutes longer.  
</li>
<li>
The rice is now ready 
</li>
<li>
2.  While the rice is cooking, rub the inside of a bowl liberally and thoroughly with shortening.  Arrange the &quot;treasure&quot; ingredients in a pattern, pressing them so they will adhere to the bottom of the bowl; place the nuts in the center and circle them with the red cherry slices.  Either arrange the remaining fruit in rings around the center or space them evenly in groups.
</li>
<li>
3.  When the rice is cooked and the moisture evaporated, take the pan off the heat and stir in 2 tablespoons of shortening or margarine and 3 tablespoons of sugar.  Mix thoroughly.
</li>
<li>
4.  Carefully spoon half the rice into the bowl.  Try to avoid disturbing the fruit arrangement.  Gently compress it into an even and compact layer.
</li>
<li>
5.  Using the back of a tablespoon, make a shallow indentation in the center.  Place the Red Bean Paste in this and cover it with the remaining rice, pressing it down gently.
</li>
<li>
6.  Remove a tray from a steamer and place the bowl on it covering the pudding with a cloth.  Bring the steamer up to a boil and place the tray in it.  Steam the pudding for 1 hour.
</li>
<li>
7.  Toward the end of the steaming time, place the last 3 tablespoons of sugar in a small saucepan, together with the water.  Stir the cornstarch  and the cherry liquid together in a bowl.  Bring the sugar water to a boil, stirring until the sugar is dissolved.  Pour in the cornstarch mixture and stir until the sauce thickens.  Remove it from the heat.
</li>
<li>
8.  Remove the pudding from the steamer and gently slide a knife blade around the edge to loosen it.  Place a serving plate upside down over the top and invert the pudding, unmolding it onto the plate.
</li>
<li>
9.  Pour the sauce over the entire pudding and serve.
</li>
<li>
It is not traditional, but the author of this dessert suggests the addition of 2 or 3 slices of fresh ginger root, removing them before pouring the sauce over the pudding.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Advance Preparation and Storage Notes:  The pudding can be made ahead through step 6.  Do not unmold.  Reheat it by steaming it for 5-10 minutes.  Then make the sauce and finish the recipe.
</p>
<p>
NOTES:
</p>
<p>
NOTES : Chinese
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: The Cuisines of Asia/Brennan
</p>
</div></body>
