<h1>Emmerl&#39;s Essence Creole Seasoning</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Emeril&#39;s ESSENCE Creole Seasoning (also referred to as Bayou Blast):
</li>
<li>
2 1/2 tablespoons paprika
</li>
<li>
2 tablespoons salt
</li>
<li>
2 tablespoons garlic powder
</li>
<li>
1 tablespoon black pepper
</li>
<li>
1 tablespoon onion powder
</li>
<li>
1 tablespoon cayenne pepper
</li>
<li>
1 tablespoon dried oregano
</li>
<li>
1 tablespoon dried thyme
</li>
<li>
Combine all ingredients thoroughly.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield: 2/3 cup
</p>
<p>
Recipe from &quot;New New Orleans Cooking&quot;, by Emeril Lagasse and Jessie Tirsch, published by William and Morrow, 1993.
</p>
</div></body>
