<h1>Empanadillas</h1>
<h2>Ingredients</h2>
<ul>
<li>
Pastry:
</li>
<li>
3 3/4 cups flour
</li>
<li>
1 teaspoon salt
</li>
<li>
6 tablespoons butter, unsalted
</li>
<li>
12 tablespoons shortening
</li>
<li>
1/3 cup cold water, approximately
</li>
<li>
Filling:
</li>
<li>
1/4 cup pine nuts, toasted
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1 large clove garlic, minced
</li>
<li>
3/4 cup onion, minced
</li>
<li>
2 teaspoons fresh ginger, grated
</li>
<li>
1 lb. ground beef
</li>
<li>
2 medium tomato, small dice
</li>
<li>
1/2 teaspoon cinnamon
</li>
<li>
1/2 teaspoon cumin
</li>
<li>
1/2 teaspoon coriander
</li>
<li>
1/4 cup raisins
</li>
<li>
1 teaspoon chile flakes
</li>
<li>
1 cup tomato sauce
</li>
<li>
4 teaspoons sugar
</li>
<li>
salt and pepper
</li>
<li>
1 large egg, beaten
</li>
<li>
1 tablespoon milk, beaten in with milk
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place flour in food processor.  Add salt.   Cut in the shortening by pulsing.  Add the butter and shortening and pulse.   Add the water through feed tube and mix briefly until dough comes together.  Allow to rest for about 20 minutes covered with an inverted bowl.
</li>
<li>
Filling:  Heat the olive oil in a fry pan and add the garlic, ginger and onion, sauteing until soft.  Add the ground beef &amp; brown; drain fat.  Add the tomato, tomato sauce and seasonings.  Add sugar and salt and pepper to taste.  Lastly, add the nuts and raisins.
</li>
<li>
Cool to room temperature.
</li>
<li>
Preheat the oven to 350F.  Lightly oil a sheetpan.
</li>
<li>
Divide the dough into 2 equal pieces.  Roll out each one to thin (about 1/8&quot;).  Cut in 4&quot; circles.  Place a tablespoon of filling in the center of each round, fold and seal turning up the edges to make a rim.  Place on sheet pan and brush with beaten egg.
</li>
<li>
Bake about 20-30 mintues until golden.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
