<h1>Enchilada Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Active Time:  20 Minutes
</li>
<li>
Total Time:  1 Hour 50 Minutes
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:  Makes 4 cups
</p>
<p>
The Diner is the best place for breakfast in Yountville, CA. Owner Kaaren Gann serves this enchilada sauce with her huevos rancheros.
</p>
<p>
RECIPE INGREDIENTS
</p>
<p>
4 ounces whole dried pasilla chili peppers or 2 ounces pasillas combined with 2 ounces New Mexican or anchos*
</p>
<p>
4 cups water
</p>
<p>
1/2 cup rice wine vinegar
</p>
<p>
3 tablespoons corn oil
</p>
<p>
1 medium onion, finely chopped
</p>
<p>
2 tablespoons sesame seeds
</p>
<p>
4 medium cloves garlic, minced
</p>
<p>
1/4 teaspoon ground cloves
</p>
<p>
1/2 teaspoon ground cinnamon
</p>
<p>
One-14.5 ounce can tomatoes, drained and chopped
</p>
<p>
1 teaspoon unsweetened cocoa powder
</p>
<p>
1 corn tortilla, cut into shreds
</p>
<p>
1 teaspoon salt or to taste
</p>
<p>
Other necessary recipes:
</p>
<p>
Huevos Rancheros
</p>
<p>
DIRECTIONS
</p>
<p>
With scissors, cut off chili stems, slice them open lengthwise and discard the seeds. Cut the chili in half and set them in a bowl.
</p>
<p>
Bring the water and vinegar to a boil, pour over the chilies and steep them for 30 minutes until softened.
</p>
<p>
In a 4-quart heavy saucepan over high heat add the oil. Add the onion and saut&Atilde;&copy;, stirring frequently, for about 5 minutes or until golden brown. Add the sesame seeds and garlic and saut&Atilde;&copy; for a minute, stirring or until the sesame seeds begin to turn color. Stir in ground cloves and cinnamon, then immediately add the tomatoes, along with the chilies and the water and vinegar in which they were steeping. Bring the liquid to a simmer, cover and simmer over low heat for 30 minutes. Stir in the cocoa powder and corn tortilla and remove from the heat. Cool for 30 minutes.
</p>
<p>
In a blender, in batches, puree the sauce until smooth. Season with salt to taste.
</p>
<p>
* The flavor and amount of &quot;heat&quot; depends on the type of chili peppers you use and if you have sensitive skin, handle the chili peppers with surgical gloves. The Diner uses only pasilla chili peppers in their sauce, but if you like your sauce a bit less fiery, mix the pasillas with milder New Mexican or ancho peppers.
</p>
<p>
SOURCE: Kaaren Gann, The Diner, Yountville, CA
</p>
</div></body>
