<h1>English Pea &amp; Leek Puree</h1>
<h2>Ingredients</h2>
<ul>
<li>
Leeks, sweated
</li>
<li>
with butter and parsley
</li>
<li>
English Peas (frozen can be used), blanched/shocked
</li>
<li>
then pureed
</li>
<li>
Add Leek mixture to pea puree
</li>
<li>
Blanch parsley/shock and add to peas
</li>
<li>
for added greeness
</li>
<li>
Add lemon o/o to emulsify mixture slightly
</li>
<li>
Flavor to taste with roasted lemon
</li>
<li>
juice, s/p
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : With the halibut fish dish, serve @ room temp.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Franco Dunn, Jordan Winery
</p>
</body>
