<head>
<title>English Muffins</title>
</head>
<body>
<h1>English Muffins</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Ingredients
</li>
<li>
1/2 cup non-fat powdered milk
</li>
<li>
1 tablespoon sugar
</li>
<li>
1 teaspoon salt
</li>
<li>
1 tablespoon shortening
</li>
<li>
1 cup hot water
</li>
<li>
1 envelope dry yeast
</li>
<li>
1/8 teaspoon sugar
</li>
<li>
1/3 cup warm water
</li>
<li>
2 cups all-purpose flour, sifted
</li>
<li>
Non-stick vegetable spray
</li>
<li>
Special equipment: electric griddle, 3-inch metal rings, see Cook&#39;s Note*
</li>
<li>
Directions
</li>
<li>
In a bowl combine the powdered milk, 1 tablespoon of sugar, 1/2 teaspoon of salt, shortening, and hot water, stir until the sugar and salt are dissolved. Let cool. In a separate bowl combine the yeast and 1/8 teaspoon of sugar in 1/3 cup of warm water and rest until yeast has dissolved. Add this to the dry milk mixture. Add the sifted flour and beat thoroughly with wooden spoon. Cover the bowl and let it rest in a warm spot for 30 minutes.
</li>
<li>
Preheat the griddle to 300 degrees F.
</li>
<li>
Add the remaining 1/2 teaspoon of salt to mixture and beat thoroughly. Place metal rings onto the griddle and coat lightly with vegetable spray. Using #20 ice cream scoop, place 2 scoops into each ring and cover with a pot lid or cookie sheet and cook for 5 to 6 minutes. Remove the lid and flip rings using tongs. Cover with the lid and cook for another 5 to 6 minutes or until golden brown. Place on a cooling rack, remove rings and cool. Split with fork and serve.
</li>
</ul>
<h2>Notes</h2><p>
*Cook&#39;s Note: Small tuna cans with tops and bottoms removed work well for metal rings.SOURCE: Alton Brown
</p>
</body>
