<h1>Ensalada de Jicama</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 large jicama
</li>
<li>
1 tablespoon cilantro, finely chopped
</li>
<li>
1 teaspoon salt
</li>
<li>
3/4 cup freshly squeezed orange juice
</li>
<li>
1 large sweet orange
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Peel the jicama and cut into chunks.  Add everything but the sliced orange and allow to sit for about an hour in the frig to bring together flavors.  Add sliced oranges and serve.SOURCE: Adapted from Diana Kennedy
</p>
</body>
