<h1>Erin&#39;s Chocolate Chip Ginger Cookies</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 (6) cups butter
</li>
<li>
1 1/2 (9) cups light brown sugar, packed
</li>
<li>
1 (6) large eggs
</li>
<li>
2 (12) teaspoons vanilla
</li>
<li>
2 (12) cups all-purpose flour
</li>
<li>
1 (6) teaspoons baking soda
</li>
<li>
1 (6) teaspoons cinnamon
</li>
<li>
1 (6) teaspoons ground ginger
</li>
<li>
1/2 (3) teaspoons salt
</li>
<li>
1 (6) 12 ounce semisweet chocolate chip
</li>
<li>
1 (6) cups nuts
</li>
<li>
powdered sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
With an electric mixer, cream the butter, adding the brown sugar, egg and vanilla.  
</li>
<li>
Combine the flour, baking soda, ginger, salt and cinnamon.  Blend into the butter mixture.  Stir in the chocolate chips and nuts.  Chill until firm.  Can be refrigerated overnight.
</li>
<li>
Measure out ice cream scoop measure and roll between palms of hands and dredge in powdered sugar.  Place on parchment paper, leaving about an inch between cookies.
</li>
<li>
Bake in 375F oven for 10 minutes.  Remove from oven, cool 5 minutes on cookie sheets before removing to racks.  Store in airtight container.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;These were the greatest hit at our 2004 Garden Party....Erin was THE hero.  These are amazing!  (Multiplied by 6)&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;3 1/2 dozen&quot;SOURCE: Erin Hojnacki
</p>
</body>
