<h1>Escoffier Bearnaise Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 ounces reduction of white wine
</li>
<li>
1 cup white wine vinegar
</li>
<li>
2 ounces shallots, minced
</li>
<li>
2 ounces tarragon, chopped
</li>
<li>
1 ounce chervil, chopped
</li>
<li>
1/2 teaspoon m. pepper
</li>
<li>
1 tablespoon water
</li>
<li>
1 lb. butter
</li>
<li>
5 yolks
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Clarify the butter; keep the butter warm, but not hot.
</li>
<li>
2.  Combine the wine, white wine vinegar, shallots tarragon, chervil and pepper in a saucepan and reduce au sec.  Pour into stainless steel bowl.  Let the reduction cool slightly.
</li>
<li>
3.  Add the egg yolks to the bowl and beat well.
</li>
<li>
4.  Hold the bowl over a hot-water bath and continue to beat the yolks until they are thickened and creamy.
</li>
<li>
5.  Remove the bowl from the heat.  Using a ladle, clowly and gradually beat in the warm, clarified butter.  Add the butter drop by drop  at first.  If the sauce becomes too thick to beat before all the butter is added, beat in a little lemon juice or warm water.
</li>
<li>
6.  Strain the sauce through a wet cheesecloth.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 20
</p>
<p>
SOURCE: Escoffier
</p>
</body>
