<h1>Escoffier Hollandaise Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. clarified butter
</li>
<li>
1/4 teaspoon mignonette pepper (crushed very tiny)
</li>
<li>
pinch salt
</li>
<li>
2 tablespoons vinegar
</li>
<li>
4 tablespoons water
</li>
<li>
1 tablespoon water
</li>
<li>
5 yolks
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Put the salt, the mignonette pepper, the vinegar and water ina small saucepan and reduce by 3/4.
</li>
<li>
2.  Move the saucepan to a corner to a double boiler, and add a spoonful of cold water and the yolks.  Beat with a whisk until the yolks thicken and have the consistency of cream.  
</li>
<li>
3.  Then remove the pot to a tepid place and gradually pour the butter on the yolks while briskly stirring the sauce.
</li>
<li>
4.  When the butter is absorbed the sauce outght to be thick and firm.  It is brought to the correct consistency with a little water, which also lightens it slightly, but the addition of water is optional.  
</li>
<li>
5.  The sauce is completed by a drop of lemon juice, and it is rubbed through a fine sieve.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 20
</p>
<p>
SOURCE: Escoffier
</p>
</div></body>
