<h1>Espagnole or Brown Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Mirepoix:
</li>
<li>
1 lb. onions/md
</li>
<li>
8 ounces carrots/md
</li>
<li>
8 ounces celery/md
</li>
<li>
8 ounces butter
</li>
<li>
8 ounces flour (bread or mixture of brd/pastry
</li>
<li>
6 quarts brown stock
</li>
<li>
8 ounces tomato puree
</li>
<li>
Sachet:
</li>
<li>
1/2 bay leaf
</li>
<li>
1/4 teaspoon thyme
</li>
<li>
8 parsley stems
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Saute the mirepoix in the butter until well browned (caramelized).
</li>
<li>
2.  Add the flour and stir to make the roux.  Continue to cook until the roux is browned.
</li>
<li>
3.  Gradually stir in the brown stock and tomato puree, stirring constantly until the mixture comes to a boil.
</li>
<li>
4.  Reduce heat to simmer and skim the surface.  Add the sachet and let simmer for about 2 hours, until the sauce is reduced to 1 gallon.  Skim as often as necessary.
</li>
<li>
5.  Strain through a china cap lined with several layers of cheesecloth.  Press on the mirepoix gently to extract their juices.
</li>
<li>
6.  Cover or spread melted butter on surface to prevent skin formation.  Keep hot in a BM or cool in a cold water bath for later use.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 50
</p>
<p>
SOURCE: Gisslen Text
</p>
</div></body>
