<head>
<title>Fabulous Bran Muffins</title>
</head>
<body>
<h1>Fabulous Bran Muffins</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups raisins
</li>
<li>
1 1/2 cups dried cranberries
</li>
<li>
3 cups bran flakes
</li>
<li>
3 cups all bran cereal, or bran buds
</li>
<li>
2 cups wheat germ
</li>
<li>
1 cup oatmeal
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
6 cups boiling water
</li>
<li>
6 hot milk
</li>
<li>
1 1/2 cups sugar
</li>
<li>
1 cup vegetable oil
</li>
<li>
4 large eggs, beaten
</li>
<li>
3 teaspoons baking soda
</li>
<li>
3 teaspoons baking powder
</li>
<li>
4 1/2 cups flour, more if needed.
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine raisins, cranberries, bran flakes, cereal, wheat germ, oatmeal and sugar in large bowl.  Add water and milk.  Let stand until lukewarm.
</li>
<li>
Add oil and eggs.  Blend.  Add flour, baking powder and baking soda and mix (should be like thick cake batter).  Line muffin tins with liners and fill 3/4 full.  Bake at 375F for 20-25 minutes.  Do not overbake.  Should be light brown.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;These are anything but dry....just fabulous and pretty darn healthy,
</p>
<p>
  by the way!!&quot;
</p>
<p>
SERVINGS: 30
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
