<h1>Fabulous (&amp; Low Fat) Blue Cheese Dressing</h1>
<h2>Ingredients</h2>
<ul>
<li>
3/4 cuppart skim ricotta cheese
</li>
<li>
1/2 cup nonfat buttermilk
</li>
<li>
1/2 cup Maytag or Gorgonzola blue cheese
</li>
<li>
2 tablespoons cider vinegar
</li>
<li>
1 teaspoon Worcestershire sauce
</li>
<li>
1 teaspoon ketchup
</li>
<li>
4 teaspoons fresh chives, chopped
</li>
<li>
freshly ground pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Puree all ingredients except chives and pepper in food processor.  Transfer to bowl and fold in chives and pepper.  Refrigerate up to 2 days.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Wonderful with vegetable crudites or as a salad dressing.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Culinary Institute of America
</p>
</body>
