<head>
<title>Fabulous Vegetable Lasagna</title>
</head>
<body>
<h1>Fabulous Vegetable Lasagna</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 pounds mushrooms, seared and seasoned
</li>
<li>
2 large onions, sliced &amp; grilled
</li>
<li>
2 large eggplants, salted, drained, roasted
</li>
<li>
3 zucchini, sliced long &amp; grilled
</li>
<li>
2 bulbs fennel, sliced &amp; grilled
</li>
<li>
1 large package fresh basil, about 2 cups packed leaves
</li>
<li>
2 cups mozzarella cheese, grated
</li>
<li>
1 cup Parmesan cheese, grated
</li>
<li>
1 recipe Marinera Sauce
</li>
<li>
1 recipe Char&#39;s pasta
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook all vegetables as directed.
</li>
<li>
Layer freshly rolled pasta in 9x13&quot; pan, alternating ingredients with cheese &amp; basil on each layer.  End with a layer of pasta, sauce and cheeses.
</li>
<li>
Bake at 375F for 40-45 minutes until hot, bubbly and puffy.
</li>
</ul>
<h2>Notes</h2><p>
There is no need to cook the pasta first before layering it in the pan.SOURCE: Apple Charlotte
</p>
</body>
