<h1>Fabulous Carrot Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
Sift together into large mixing bowl
</li>
<li>
1 1/2 CUP AP FLOUR, 1 CUP SUGAR,
</li>
<li>
1 TSP. BAKING POWDER, 1 TSP.
</li>
<li>
BAKING SODA, 1 TSP. CINNAMON,
</li>
<li>
1/2 TSP. SALT.
</li>
<li>
Add 2/3 CUP SALAD OIL, 2 EGGS, 1
</li>
<li>
CUP FINELY SHREDDED CARROT,
</li>
<li>
1/2 CUP CRUSHED PINEAPPLE (W/
</li>
<li>
SYRUP) &amp; 1 TSP. VANILLA.
</li>
<li>
Mix until all ingredients are moistened,
</li>
<li>
beat two minutes with electric mixer.
</li>
<li>
Bake in greased &amp; lightly floured 9x9x2
</li>
<li>
pan in 350 oven about 35 minutes or
</li>
<li>
until done.
</li>
<li>
Top with CREAM CHEESE FROSTING.
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is another cake recipe I have had for years and I think it came from BH&amp;G...???
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Better Homes &amp; Gardens Cookbook ??? I think...
</p>
</body>
