<head>
<title>Falafel</title>
</head>
<body>
<h1>Falafel</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 3/4 cups dried chickpeas
</li>
<li>
3 cloves garlic
</li>
<li>
1 small onion, quartered
</li>
<li>
1 teaspoon grounnd coriander
</li>
<li>
1 tablespoon ground cumin
</li>
<li>
cayenne, to taste
</li>
<li>
1 cup fresh cilantro, chopped
</li>
<li>
2 1/2 teaspoons salt
</li>
<li>
1/2 teaspoon black pepper, or to taste
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
1 tablespoon fresh lemon juice
</li>
<li>
1 egg
</li>
<li>
vegetable oil for deep frying
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place the beans in a large bowl and cover with water by 3-4 inches.  Allow to soak for 24 hours.  Check periodically as they need to remain submerged.  You may need to add more water.  
</li>
<li>
Drain the beans.  Transfer to a food processor.  Add the remaining ingredients except the oil.  Pulse until finely minced (do not puree).  Add a little water if necessary.  Taste for correct seasoning.
</li>
<li>
Put 2-3&quot; oil in  a deep saucepan.  Heat the oil to 350F.  Take out heaping tablespoons and shape into patties.  Fry in oil until nicely browned.  Turn if necessary.  Total cooking time will be about 5 minutes.  Serve hot or at room temperature with Tahini Sauce.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Bean fritters....do not use canned chickpeas (garbanzos), as they are
</p>
<p>
  too soft.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Mark Bittman
</p>
</body>
