<h1>Farmer-Style Garbure Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 2 pound fully cooked smoked pork shoulder, frimmed of skin and surrounding fat.
</li>
<li>
1/2 lb. white kidney beans
</li>
<li>
1 1/2 quarts water
</li>
<li>
2 red potatoes, peeled and cut into 1&quot; pieces.
</li>
<li>
1 leeks, cut into 1&quot; pieces
</li>
<li>
1 stalk celery, cut into 1/2&quot; pieces
</li>
<li>
3 carrots, peeled and cut into 1/2&quot; pieces
</li>
<li>
3 parsnips, peeled and cut into 1/2 &quot; pieces
</li>
<li>
1 8 ounce savoy cabbage, cut into 2&quot; pieces
</li>
<li>
1/2 teaspoon salt, or to taste
</li>
<li>
4 thin country bread, slices
</li>
<li>
1 1/2 cups Gruyere cheese, grated
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place the pork in a large kettle and add beans and water.  Bring the mixture to a boil over high heat, cover, reduce the heat to low and boil gently for 1 hour.
</li>
<li>
Add potatoes, leek, celery, carrots, parsnips, cabbage and salt and bring the mixutre back to a boil.  Cover, reduce the heat to low and boil gently for 1 hour more.  By this time the meat will have separated into pieces.  You should have 4 quarts of soup (if not, add water to make 4 quarts).
</li>
<li>
To serve, preheat a broiler.  Place 2 quarts of the hot soup in a 2 1/2 quart casserole dish or enameled cast-iron pot (the pot should be nearly full).  Arrange the bread slices on top to cover the soup in one layer and push them gently into the liquid until they are moist.
</li>
<li>
Sprinkle the cheese on top and place the dish under the hot broiler, about 4 inches from the heat.  Broil for about 10 minutes, until the cheese on top is bubbly and brown.  Serve from this pot.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Hearty, wonderful soup from the south of France.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Jacque Pepin
</p>
</body>
