<head>
<title>Favorite American Mac &amp; Cheese</title>
</head>
<body>
<h1>Favorite American Mac &amp; Cheese</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. penne pasta, or pasta of choice, cooked
</li>
<li>
3 cups white sauce, up to 4 cups if needed.
</li>
<li>
2 1/2 cups cheddar cheese
</li>
<li>
1 cup bread crumbs
</li>
<li>
1/4 cup butter, melted
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix hot white sauce with cheese.  Mix in pasta.  Pour into buttered cassarole dish.
</li>
<li>
Mix bread crumbs with 1/4 cup butter.  Place on top of pasta and cheese mixture.  Bake at 375F for about 20-30 minutes until top is golden.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is what we love from the time we are kids.  Make the sauce, mix
</p>
<p>
  with the noodles and eat away....or pop it all in a cassarole dish,
</p>
<p>
  top with buttered breadcrumbs and bake.  Wow!&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
