<h1>Fennel &amp; Cucumber Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 lb. croutons
</li>
<li>
2 tablespoons balsamic vinegar
</li>
<li>
1/2 cup extra virgin olive oil
</li>
<li>
salt and pepper
</li>
<li>
4 cucumbers, peeled &amp; sliced
</li>
<li>
2 fennel bulb, trimmed and sliced
</li>
<li>
4 plum tomatoes, cored and sliced
</li>
<li>
4 stalks celery, sliced
</li>
<li>
2 red bell pepper, stemmed, seeded and slice
</li>
<li>
12 radishes, trimmed and sliced
</li>
<li>
1 cup black olives, pitted
</li>
<li>
8 cornichons, chopped
</li>
<li>
2 cups fresh basil leaves
</li>
</ul>
<h2>Method</h2><ul>
<li>
Whisk the ol, vinegar, s/p.  Toss the rest of the ingredients in with the bread and dressing and serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Mark Bittman
</p>
</body>
