<h1>Feta Shrimp</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 tablespoons olive oil
</li>
<li>
2 medium onions, finely chopped
</li>
<li>
7 cloves garlic, finely chopped
</li>
<li>
2 lbs. tomatoes, peeled, seeded, chopped
</li>
<li>
s/p -- to taste
</li>
<li>
1/2 cup brandy
</li>
<li>
3 lbs. medium shrimp
</li>
<li>
1/2 lb. feta cheese
</li>
<li>
1 1/2 cups Kalamata olive
</li>
<li>
1/2 bunch Italian parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 425F.  Heat o/o in large pan and add onion, cooking until softened.  Stir in garlic, tomatoes, salt, pepper, and brandy.  Cook until the sauce begins to thicken but the tomatoes have not completely broken down.  Remove from heat.
</li>
<li>
Place shrimp in a shallow baking dish that has been sprayed with nonstick cooking spray.  Cover with tomato mixture and sprinkle with olives and feta.  Bake for about 10-15 minutes until the shrimp are just cooked through and the cheese is melted.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Holly Garrison&#39;s &quot;Periyali&quot;
</p>
</body>
