<h1>Fettuccine Alfredo</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. fresh pasta, cut into fettuccine
</li>
<li>
2 sticks unsalted butter, cut into small cubes
</li>
<li>
1/2 cup fresh parmigiano reggiano
</li>
<li>
salt
</li>
<li>
freshly ground pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Bring a large pot of salted water to a boil.  Cook pasta about 1-2 minutes.  Drain, reserving some pasta water for sauce.  Place the pasta in a large warm bowl.  
</li>
<li>
Add butter and Parmmigiano and toss until melted.  Add a little pasta water to correct the consistency. Season and serve immediately on warm plates.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A simple and fabulous way to prepare pasta.&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
