<h1>Fig &amp; Blue Cheese-Stuffed Pork Tenderloin</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Ingredients
</li>
<li>
1  (1-pound) pork tenderloin, trimmed
</li>
<li>
1/2  cup  dried figs, coarsely chopped
</li>
<li>
1/2  cup  crumbled blue cheese
</li>
<li>
1/2  teaspoon  salt
</li>
<li>
1/2  teaspoon  freshly ground black pepper
</li>
<li>
Cooking spray
</li>
<li>
1  tablespoon  apple jelly, melted
</li>
<li>
Preparation
</li>
<li>
Preheat oven to 450&Acirc;&deg;.
</li>
<li>
Slice the pork in half lengthwise, cutting to, but not through, other side. Open the halves, laying pork flat. Place pork between 2 sheets of heavy-duty plastic wrap; pound to 1/2-inch thickness using a meat mallet or small heavy skillet. Sprinkle figs and blue cheese over pork, leaving a 1/2-inch margin around outside edges. Roll up the pork, jelly-roll fashion, starting with long side. Secure at 2-inch intervals with twine. Sprinkle pork with salt and pepper, and place on a foil-lined jelly-roll pan coated with cooking spray.
</li>
<li>
Bake at 450&Acirc;&deg; for 20 minutes. Brush jelly over the pork. Bake an additional 5 minutes or until a thermometer registers 160&Acirc;&deg; (slightly pink). Let stand for 10 minutes. Discard twine; cut pork into 12 (1-inch-thick) slices.
</li>
<li>
Nutritional Information
</li>
<li>
Calories:
</li>
<li>
274 (30% from fat)
</li>
<li>
Fat:
</li>
<li>
9.2g (sat 4.6g,mono 3g,poly 0.6g)
</li>
<li>
Protein:
</li>
<li>
28.4g
</li>
<li>
Carbohydrate:
</li>
<li>
19.7g
</li>
<li>
Fiber:
</li>
<li>
2.5g
</li>
<li>
Cholesterol:
</li>
<li>
80mg
</li>
<li>
Iron:
</li>
<li>
1.8mg
</li>
<li>
Sodium:
</li>
<li>
581mg
</li>
<li>
Calcium:
</li>
<li>
135mg
</li>
</ul>
<h2>Notes</h2><p>
Marge Perry, Cooking Light, JANUARY 2007SOURCE: Cooking Light
</p>
</body>
