<h1>Filet of Beef w/Hazelnut &amp; Roquefort</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 6-8 ounce Filets, seared and cooked on both sides
</li>
<li>
about 4 minutes.
</li>
<li>
( to medium rare)
</li>
<li>
Sauce:
</li>
<li>
1 large shallot, mince and sweat in olive oil
</li>
<li>
1/2 cup red wine, add to minced and cooked shallot, reduce to half of volume.
</li>
<li>
1/2 cup beef stock, Add to red wine reduction
</li>
<li>
Compound Butter:
</li>
<li>
1 stick unsalted butter
</li>
<li>
3 tablespoons Roquefort or gorgonzola cheese
</li>
<li>
1 shallot, minced
</li>
<li>
1/3 cup roasted hazelnuts, chopped
</li>
<li>
Sauteed Greens:
</li>
<li>
Mixture Greens (chard, endive....your choice), chopped in large pieces
</li>
<li>
olive oil
</li>
<li>
1 large shallot
</li>
</ul>
<h2>Method</h2><ul>
<li>
Compound Butter:  Mix together softened butter, roquefort cheese, shallots, s/p and shape into sausage in parchment paper.
</li>
<li>
While steaks are cooking; cook greens:  Place olive oil in pan; add chopped greens and season with w/ salt and pepper.  Cook until limp.
</li>
<li>
Remember....when filets are cooked, take from pan and place on plate covered with tin foil to rest.  Finish sauce and prepare warm plates for service.  Place Sauteed Greens in middle of plate.  Place filet on top of greens.  Top with combound butter and sprinkle with hazelnuts.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Delicious served with mashed cauliflower/potatoes, yellow snap beans and sauteed greens.
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
