<h1>Filipino Braised Noodles</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 ounces dried rice stick noodles
</li>
<li>
1/4 lb. boneless, skinless chicken
</li>
<li>
1/4 lb. medium raw shrimp
</li>
<li>
1/2 small carrot
</li>
<li>
1 stalk celery
</li>
<li>
1/2 medium onion
</li>
<li>
1/2 small red bell pepper
</li>
<li>
3 cloves garlic, thinly sliced
</li>
<li>
2 tablespoons cooking oil
</li>
<li>
1 cup julienned cabbage
</li>
<li>
1 cup chicken broth
</li>
<li>
2 tablespoons soy sauce
</li>
<li>
2 tablespoons oyster sauce
</li>
<li>
1/2 teaspoon black pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Getting Ready:
</li>
<li>
1.  In a large pot of boiling water, cook rick stick noodles for 1 minute.  Drain, rinse with cold water, and drain again.  Cut noodles into about 4&quot; lengths. 
</li>
<li>
2.  Thinly slice chicken.  Shell, devein, and butterfly shrimp.  Cut carrot and celery into thin diagonal slices.  Cut onion and bell pepper into julienne strips.
</li>
<li>
Cooking:
</li>
<li>
1.  Place a wok over high heat until hot.  Add oil, swirling to coat sides.  Add garlic and stir-fry until fragrant, about 10 seconds.  Add chicken and cook for 1 minute.  Add shrimp and cook until pink, about 1 minute.
</li>
<li>
2.  Add carrot, celery, onion, bell pepper and cabbage; cook for 1 minute.  Add noodles, broth, soysauce, oyster-flavored sauce, and pepper.  Simmer, uncovered, stirring frequently, until vegetables and noodles are tender and liquid is absorbed, 3-4 minutes.
</li>
<li>
Stir Fry
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Martin Yan
</p>
</body>
