<h1>Fire Dried Nuts</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/2 lb. walnuts, or pecans - perfect halves if possible
</li>
<li>
2 teaspoons corn oil
</li>
<li>
1/2 teaspoon kosher salt
</li>
<li>
2 tablespoons sugar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Put the nuts in a heatproof bowl.  Cover with boiling water, then soak for 30 minutes.  Drain, pat dry and spread evenly on a large sheet pan lined with paper towels.  Dry for 30 minutes in the middle of a preheated 300F oven.  Turn the tray and reduce the heat to 250F, checking at 10 minute intervals.  Remove the nuts from the oven when they are almost entirely dry.  Test nuts from several spots on the tray to be sure.  Put the nuts into a shallow bowl to cool, stirring occasionally.  
</li>
<li>
Heat a wok or heavy skillet over moderate heat until hot.  Add the oil and swirl to coat, then add the nuts.  Stir gently with a wooden spoon until they are evenly glossed with oil and feel warm to the touch.  Lower the heat immediately if the nuts begin to scorch.
</li>
<li>
Sprinkle the salt over the nuts, stir gently to mix then slowly sprinkle in the sugar, a tablespoon at a time, until you have a sweetness to suit you.  The taste should be lively and sweet, with a hint of salt.  Stir constantly while adding the sugar and break off any caramelized bits that cling to the spoon, stirring them back into the nuts when you are done.  The whole process will take about 3-4 minutes, and the sugar and salt will melt and adhere to the nuts.  Serve hot or cool.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;The Modern Art of Chinese Cooking&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Barbara Tropp
</p>
</div></body>
