<h1>Fish Sauce with Chiles (Nam Plaa Prik)</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup fish sauce
</li>
<li>
1 cup red or green chilies, sliced
</li>
<li>
1/2 bulb garlic, cloves finely chopped
</li>
<li>
3 tablespoons lime juice
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix in a jar.  Will keep for several days.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Used on the table like we use salt and pepper....very spicy!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Thai Home Cooking&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 1/2 cups&quot;SOURCE: Carmack &amp; Nabnian
</p>
</body>
