<h1>Fish Filets en Tapenade</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 lbs. fish fillets (full flavored, ie. sea bass,
</li>
<li>
bream, John Dory)
</li>
<li>
4 tablespoons olive oil
</li>
<li>
1 lemon for the juice
</li>
<li>
salt and pepper
</li>
<li>
Tapenade:
</li>
<li>
1/2 lb. large kalamata black olives, pitted
</li>
<li>
4 salt anchovy fillets, rinsed
</li>
<li>
3 tablespoons capers, drained
</li>
<li>
2 cloves garlic, peeled; smashed with coarse salt
</li>
<li>
1/4 cup olive oil
</li>
<li>
black pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Prepare the tapenade first:  Place the pitted olives, anchovies, capers and garlic in a food processor or blender.  Using the pulse button, gradually pour in the olive oil to form a coarse or finely chopped mixture, as you prefer.  Season to taste with salt and pepper.  Tapenade can be refirgerated, tightly covered, up to a week.
</li>
<li>
2.  Marinate the fish for an hour or two by laying the fish in a shallow dish and sprinkle with 2 tablespoons olive oil, lemon juice and salt and pepper.  Cover and refrigerate for 1-2 hours, turning once or twice.
</li>
<li>
3.  Put about 2 tablespoons of olive oil in a heavy frying pan.  Add the fish fillets and cover tightly.  Cook over very low heat until the fish just flakes easily, 5-8 minutes, depending on thickness.  Turn the fish once during cooking.  Do not allow it to brown.
</li>
<li>
Transfer the fillets to a serving dish and spread the tapenade on top.
</li>
<li>
4.  The fish can be served hot or at room temperature (kept for up to 2 hours at room temperature).
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
