<head>
<title>Fish in Paper Bag</title>
</head>
<body>
<h1>Fish in Paper Bag</h1>
<h2>Ingredients</h2>
<ul>
<li>
Small Fish: reuget or mullet or another
</li>
<li>
choice
</li>
<li>
Fennel, sliced
</li>
<li>
Torpedo red onion, sliced diagonal
</li>
<li>
Baby leeks, cut off ~ 1&quot; beyond white
</li>
<li>
Fennel tops
</li>
<li>
Lemon slices
</li>
<li>
Chardonnay
</li>
<li>
Stock, fish
</li>
</ul>
<h2>Method</h2><ul>
<li>
Use half sheet pans with half parchment on and half off ready to fold over food for
</li>
<li>
wrapping.
</li>
<li>
O/o on side on sheet pan, drizzled.
</li>
<li>
Cover bottoms on pan with fennel, top with torpedo onions, and lay baby leeks on top of
</li>
<li>
onions and fennel.
</li>
<li>
Italian parsley layered on top.  Lay fish on top of vegetables and top with fennel tops and
</li>
<li>
lemon slices.  Top with s/p and o/o sprinkle, wine and stock.  Enclose with other 1/2 paper.
</li>
<li>
Top with same size sheet pan and wrap entire package in foil.  Cook in (convection)
</li>
<li>
oven at 350 preheated; but lowered to 325 when placed in oven for about 1/2 hour.
</li>
<li>
It takes time for the heat to penetrate the metal.  Serve with the Thin Beurre Blanc
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Thomas Oden
</p>
</body>
