<h1>Fish Kabobs with Roasted Red Pepper Aioli</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 lbs. skinless firm-flesh fish fillets, halibut, salmon, orAlaskan cod
</li>
<li>
4 tablespoons olive oil
</li>
<li>
3 tablespoons fresh lemon juice
</li>
<li>
1 1/2 tablespoons paprika
</li>
<li>
1 1/2 teaspoons chili powder
</li>
<li>
1 teaspoon kosher salt
</li>
<li>
Aioli:
</li>
<li>
4 red bell pepper, blackened, steamed, gutted and peeled
</li>
<li>
8 cloves garlic
</li>
<li>
6 tablespoons fresh lemon juice
</li>
<li>
1 cup mayonnaise
</li>
<li>
1/2 teaspoon salt
</li>
<li>
Tabasco sauce, to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix the olive oil, lemon juice, paprika, chili powder and salt in a bowl.  Cut the fish into 1 1/2&quot; cubes.  Place the fish in the marinade and allow to marinate in the frig for 15-30 minutes.
</li>
<li>
Place the roasted red bell peppers, garlic and lemon juice in the bowl of a food processor and puree until smooth.  Combine the puree with mayo, salt and Tabasco sauce.
</li>
<li>
Thread the fish on skewers that have been soaked in water.  Grill over medium heat just until opaque and serve with aioli.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Adapted from Weber&#39;s
</p>
</body>
