<h1>Fish Stock</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons butter
</li>
<li>
1 onion, chopped
</li>
<li>
2 leeks, chopped
</li>
<li>
1 fennel bulb, chopped
</li>
<li>
3 stocks celery, chopped
</li>
<li>
2 carrot, chopped
</li>
<li>
1/2 lb. mushrooms, chopped
</li>
<li>
3 bay leaves
</li>
<li>
10 sprigs thyme
</li>
<li>
10 stems parsley
</li>
<li>
2 lemons, juiced
</li>
<li>
1 teaspoon fennel seeds, crashed
</li>
<li>
10 cups water
</li>
<li>
1 cup dry white wine
</li>
<li>
5 lbs. fish trimmings
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sweat vegetables in butter until translucent.
</li>
<li>
2.  Add the water, wine, fish trimmings, heat to a boil.  Reduce the heat and simmer 30 minutes.  Strain and cool.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
