<h1>Florentine Beef</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 thick New York, rib, or T-bone steak
</li>
<li>
olive oil
</li>
<li>
pink peppercorns
</li>
<li>
Fresh rosemary
</li>
<li>
lemon
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Get the pan very hot.  While the pan is heating, cover the meat in olive oil and salt and pepper.  Place meat in heavy heated pan and sear for about 4-6 minutes on each side (depending on the thickness); it should be rare in the middle.
</li>
<li>
Remove the steaks from the pan.  Tent with foil on plate while you make the sauce.
</li>
<li>
In the pan with the meat juices, sprinkle the pan liberally with pink peppercorns and lots of fresh rosemary....add lots of olive oil to about 1/4&quot; or more in pan.  Heat and hold warm.  Squeeze lemon juice on steaks.
</li>
<li>
Slice the meat on the diagonal and fan on plaate.  Pur sauce over the meat and serve with rosemary finger garnish.  Fabulous!!
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is one of my favorite items we enjoyed in Tuscany....served all
</p>
<p>
  over as one of their regional specialties.&quot;
</p>
<p>
SERVINGS: 2
</p>
<p>
SOURCE: Fattoria Medicia, Pistoia
</p>
</div></body>
