<h1>Fond Lie or Jus Lie</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 quart brown stock
</li>
<li>
1 ounce cornstarch or arrowroot
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Bring the stock to a boil in a saucepan.  Reduce heat to a simmer.
</li>
<li>
2.  Dissolve the starch in a small amount of cold stock or water.  Stir it into the simmering stock.
</li>
<li>
3.  Simmer until thickened and clear.
</li>
<li>
VARIATION:  For added flavor, the stock sometimes is reduced with browned mirepoix and tomato (as for Espagnole) before being thickened.  Browned bones may also be added.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 20
</p>
<p>
SOURCE: Gisslen Text
</p>
</body>
