<head>
<title>Fortune Cookies</title>
</head>
<body>
<h1>Fortune Cookies</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Fortune cookies can be tricky to make - it&#39;s important to make sure that the cookie batter is spread out evenly on the baking sheet. Instead of using the back of a wooden spoon to spread the batter, it&#39;s better to gently tilt the baking sheet back and forth as needed. Wearing cotton gloves makes it easier to handle and shape the hot cookies. This fortune cookie recipe makes about 10 cookies.
</li>
<li>
Prep Time: 15 minutes
</li>
<li>
Cook Time: 15 minutes
</li>
<li>
Ingredients:
</li>
<li>
2 large egg whites
</li>
<li>
1/2 teaspoon pure vanilla extract
</li>
<li>
1/2 teaspoon pure almond extract
</li>
<li>
3 tablespoons vegetable oil
</li>
<li>
8 tablespoons all-purpose flour
</li>
<li>
1 1/2 teaspoons cornstarch
</li>
<li>
1/4 teaspoon salt
</li>
<li>
8 tablespoons granulated sugar
</li>
<li>
3 teaspoons water
</li>
<li>
Preparation:
</li>
<li>
1. Write fortunes on pieces of paper that are 3 1/2 inches long and 1/2 inch wide. Preheat oven to 300 degrees Fahrenheit. Grease 2 9-X-13 inch baking sheets. 
</li>
<li>
2. In a medium bowl, lightly beat the egg white, vanilla extract, almond extract and vegetable oil until frothy, but not stiff.
</li>
<li>
3. Sift the flour, cornstarch, salt and sugar into a separate bowl. Stir the water into the flour mixture.
</li>
<li>
4. Add the flour into the egg white mixture and stir until you have a smooth batter. The batter should not be runny, but should drop easily off a wooden spoon.
</li>
<li>
Note: if you want to dye the fortune cookies, add the food coloring at this point, stirring it into the batter. For example, I used 1/2 teaspoon green food coloring to make green fortune cookies.
</li>
<li>
5. Place level tablespoons of batter onto the cookie sheet, spacing them at least 3 inches apart. Gently tilt the baking sheet back and forth and from side to side so that each tablespoon of batter forms into a circle 4 inches in diameter.
</li>
<li>
6. Bake until the outer 1/2-inch of each cookie turns golden brown and they are easy to remove from the baking sheet with a spatula (14 - 15 minutes).
</li>
<li>
7. Working quickly, remove the cookie with a spatula and flip it over in your hand. Place a fortune in the middle of a cookie. To form the fortune cookie shape, fold the cookie in half, then gently pull the edges downward over the rim of a glass, wooden spoon or the edge of a muffin tin. Place the finished cookie in the cup of the muffin tin so that it keeps its shape. Continue with the rest of the cookies.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Rhonda Parkinson; About.com
</p>
</body>
