<h1>Fourth of July Bar-B-Que Beans</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 large cans &quot;pork &amp; beans&quot;, or 1 pound dried beans, cooked
</li>
<li>
1/2 lb. bacon, cooked, save drippings
</li>
<li>
1 large onion, diced
</li>
<li>
2 stalks celery, thinly sliced
</li>
<li>
2 green bell pepper, diced
</li>
<li>
1/4 cup brown sugar
</li>
<li>
1 cup thick homemade barbeque sauce, or favorite purchased brand
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cook bacon until cooked through but still soft.  Remove all but about 1/4 cup bacon drippings.  Add onions, celery and bell pepper and cook until soft.  Pour into beans; add brown sugar and barbeque sauce.  Taste for correct balance of tart and sweet.  Bake for about 1 hour until slightly brown on top.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is an easy and wonderful old-fashioned favorite.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1/2 cup&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</div></body>
