<h1>Fourth of July Barbecue Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 tablespoons vegetable oil
</li>
<li>
1 medium onion, minced
</li>
<li>
1 8 oz. can tomato sauce
</li>
<li>
1 28 oz. can whole tomatoes with juice
</li>
<li>
3/4 cup white vinegar
</li>
<li>
1/4 cup dark brown sugar
</li>
<li>
2 tablespoons molasses
</li>
<li>
1 tablespoon paprika
</li>
<li>
1 tablespoon chili powder
</li>
<li>
2 teaspoons liquid smoke flavoring, optional
</li>
<li>
1 teaspoon salt
</li>
<li>
2 teaspoons ground black pepper
</li>
<li>
1/4 cup orange juice
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat oil in large heavy-bottomed saucepan over medium heat.  Add onion and saute, stirring frequently, until golden brown, about 7-10 minutes.  Add remaining ingredients.  Bring to boil, reduce heat to lowest possible setting, and simmer, uncovered until thickened, 2-21/2 hours.
</li>
<li>
Puree sauce in batches if necessary with hand blender or in food processor.  Transfer to airtight container.
</li>
<li>
Brush chicken parts with sauce about 2 minutes before they are done, turning and brushing again after 1 minute.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;&quot;How to Grill&quot;:  Cook&#39;s Illustrated Library&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;3 cups&quot;
</p>
</div></body>
