<h1>Frangelico Cheesecake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups graham cracker crumbs
</li>
<li>
1/4 cup sugar
</li>
<li>
6  tablespoons butter, melted
</li>
<li>
36 ounces cream cheese, room temp
</li>
<li>
1 2/3 cups sugar
</li>
<li>
5 large eggs, room temp
</li>
<li>
1 cup Frangelico
</li>
<li>
1 tablespoon vanilla
</li>
<li>
1 cup semisweet chocolate chips
</li>
<li>
1 cup hazelnuts, chopped
</li>
<li>
1 cup chilled whipping cream
</li>
<li>
2 tablespoons sugar
</li>
<li>
1 teaspoon instant coffee
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 325F.   Take eggs out of the frig and bring to room temperature.
</li>
<li>
 
</li>
<li>
Place hazelnuts in oven to toast, about 7-8 minutes, until smelling good!  Remove nuts from oven; pour into towel on board; roll up and move the mixture back and forth with hands over towel.  This remove most of the skin on the nuts so that it doesn&#39;t fall off and  transfer into the food you are making.  Pick out nuts as the skins come off and continue rolling until most of the skin is removed.
</li>
<li>
Butter a 9&quot; springform pan.  Combine crumbs and sugar.  Stir in butter and press into the bottom of the pan and about 1&quot; up the sides.  Bake about 7 minutes.  Cool on rack.  Leave oven on.  Place a pan of hot water on the bottom shelf of the oven.  Place the oven rack that the cheesecake will bake on, at the midway point of the oven.
</li>
<li>
Filling:  With an electric mixer, beat cream cheese until smooth.  Gradually add sugar and add eggs one at a time.  Blend in Frangelico and vanilla.  Sprinkle the half of the chocolate chips and half of the nuts onto the bottom of the crust.  Spoon in filling.  Top with remaining chocolate chips and hazelnuts.  Bake the cheesecake until golden brown about 1 hour and 20 minutes.  Cool completely.  Place in refrigerator.
</li>
<li>
Topping: Beat the cream, sugar and coffee powder until fluffy with peaks.  Top the cheesecake just before serving.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Tuesdays with Dorie, Blogspot
</p>
</div></body>
