<h1>French Chocolate Mint Truffles</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 ounces semisweet chocolate*
</li>
<li>
*Choose good chocolate: Barton&#39;s
</li>
<li>
Bittersweet, Tobler Tradition,
</li>
<li>
Lindt Excellence for bittersweet or
</li>
<li>
Bakers Semisweet, Baker&#39;s German&#39;s
</li>
<li>
Sweet or Maillard&#39;s Eagle Sweet
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Break or chop the chocolate into medium size pieces.  Place it in the top of a small double boiler over hot water on low heat.  Cover and let stand until partially melted.  Uncover and stir until completely melted.
</li>
<li>
Remove the top of the double boiler temporarily.  Add the butter a few pieces at a time and stir with a small wire shisk after each addition until smooth.
</li>
<li>
In a small bowl stir a bit of the chocolate into the yolks and then stir the yolks into the chocolate.
</li>
<li>
Replace over the hot water on low heat and stir gently with a rubber spatula for about 2 minutes.
</li>
<li>
Now remove the top of the double boiler.  Stir in the peppermint extract (or other liquior or flavoring), adding just a few drops at a time.  Taste it...make it as minty as you like, but add it slowly and taste it carefully.  Some mint extracts taste unpleasant if you use too much.  
</li>
<li>
Place the top of the double boiler in a bowl of ice and water.  Stir constantly with a small wooden spatula until the mixture is firm enough to hold a definite shape.
</li>
<li>
Place a piece of wax pper in front of you.  Use a slightly rounded teaspoonful of the mixture for each truffle.  Place them in mounds on the wax paper, forming 20 mounds.
</li>
<li>
If the mixture is firm enough, the truffles may be rolled into shape immediately.  But if it is too soft, let it stand uncovered at room temperature for about half an hour or until firm enough to handle.  
</li>
<li>
Spread out two more large pieces of wax paper.  Onto one, strain a generous amount of unsweetened cocoa.  Coat the palms of your hands well with the cocoa.
</li>
<li>
Pick up a mound of the chocolate mixture, roll it between your hands to form an uneven ball , then roll it around in the cocoa and place it on the other piece of wax paper.  Continue to shape all of the truffles, coating your hands with coco before shaping each truffle.
</li>
<li>
Let the truffles stand overnight at room temperature, uncovered or loosely covered so the outsides dry a bit.
</li>
<li>
The 2 ounces of additional chocolate must be ground to a fine powder in a food processor.  Spread the ground chocolate on wax paper and roll the truffles around in it to coat them again. 
</li>
<li>
These are best when they are very fresh, before they dry out too much and while they are still creamy soft in the centers.  They may be kept at room temperature for a day or two but they should be refrigerated or frozen for longer storage (bring back to room temperature before serving.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : The perfect chocolate bite ending to any meal!
</p>
<p>
SERVINGS: 20
</p>
<p>
SOURCE: Maida Heatter&#39;s Chocolate Desserts
</p>
</div></body>
