<h1>French Chocolate Souffle Cake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. bittersweet chocolate, coarsely chopped
</li>
<li>
2 sticks butter
</li>
<li>
8 large eggs, sepapated
</li>
<li>
pinch salt
</li>
<li>
3/4 cup superfine sugar, + 2 tablespoons for pan
</li>
<li>
2 tablespoons rum
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1/2 teaspoon cream of tartar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place oven rack on the middle shelf of oven.  Preheat to 350F.  Butter a 10&quot; spring form pan and coat the bottom and sides with superfine sugar (a couple of tablespoons).
</li>
<li>
Combine the chocolate and butter and heat uncovered in a microwave safe bowl for 4 minutes at medium power until chocolate is soft and shiny.  Remove from 
</li>
<li>
microwave and stir until completely combined.  Set aside.
</li>
<li>
Beat the egg yolks and salt until blended.  Gradually add 3/4 cup sugar and beat with mixer for 4-6 minutes until mixture is pale yellow.  Whisk in rum and vanilla.  Gradually whisk the egg yolk mixture into the chocolate mixture.
</li>
<li>
In a large CLEAN bowl, beat the egg whites and cream of tartar with electric mixer  at low speed until foamy.  Increase the mixer speed to medium high and continue beating until whites become opaque and form soft mounds in the bowl.
</li>
<li>
Stir one third of the beaten egg whites into the chocolate batter.  Using a rubber spatula, gently fold in remaining egg whites just until blended.
</li>
<li>
Spoon the batter into prepared pan.Bake for 25-35 minutes until cake appears puffy and firm.  The cake should be moist but not liquid in the center.  A skewer inserted into the cake should not come out clean.
</li>
<li>
Remove cake from oven and cool on wire rack for a few minutes.  It will fall, as it should.  Remove the sides of the pan and serve warm or at room temperature.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Simple French Desserts&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Jill O&#39;Connor
</p>
</div></body>
