<h1>French Potato Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 lbs. red potatos, boiled with skins on
</li>
<li>
white wine
</li>
<li>
1 red onion, sliced thin
</li>
<li>
2 bunches green onions
</li>
<li>
1 bunch Italian parsley
</li>
<li>
4 ounces bleu cheese, crumbled
</li>
<li>
1/4 cup champagne vinegar
</li>
<li>
1/2 cup olive oil
</li>
<li>
1 teaspoon dry mustard
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Make a viniagrette with the vinegar, olive oil, dry mustard and salt and pepper....this should be to taste.  Make in a large bowl.
</li>
<li>
After cooking potatoes; cut in half or quarters, depending on size and place in bowl with viniagrette.  Drizzle top of potatoes with a little white wine.
</li>
<li>
Add onions, parsley, bleu cheese and gentle toss, being careful not to break potatoes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
</div></body>
