<h1>French Crepes</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups AP flour*
</li>
<li>
1/2 teaspoon salt
</li>
<li>
4 large eggs
</li>
<li>
2 cups milk
</li>
<li>
6 tablespoons butter, melted and cooled
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix together ingredients in a food processor and allow to rest for at least 30-60 minutes.
</li>
<li>
Heat a crepe pan or small 8&quot; saute pan.  Place a little butter or pan spray in the pan.  With a 1/4 cup measuring cup or 1/4 cup ladle, place batter in hot pan and move all around the pan with a circular movement of the wrist while holding the pan&#39;s handle.  Allow to cook briefly, about 1 minute until slightly brown.  With a very thin, long spatula (offset spatula), place under the crepe and turn over gently.  Allow to cook about 30 seconds longer (until the crepe moves when you shake the pan), and then pour out onto a slightly warmed plate.  Continue with this process, piling the crepes upon one another, until all the batter is used up.
</li>
<li>
Within an hour, keeping the crepes at room temperature,  fill the crepes and sauce as desired.  
</li>
<li>
If you want to do this process ahead of serving, place a sheet of wax paper between each crepe and refrigerate until ready to use.
</li>
<li>
*Buckwheat Crepes - Replace the 1 1/2 cups flour with 1 cup all-purpose flour and 1/2 cup buckwheat flour.
</li>
<li>
*Desert Crepes - Add 1-2 tablespoons of sugar to the batter.  
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
</body>
