<h1>French Crepes</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups flour, sifted
</li>
<li>
1/2 teaspoon salt
</li>
<li>
3 large eggs
</li>
<li>
2 cups milk
</li>
<li>
2 1/2 tablespoons powdered sugar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Whisk together and allow to sit for one hour before making into crepes.
</li>
<li>
Suggestions:
</li>
<li>
Ham/Cheese-filling crepe with ham and cheese and folding over.
</li>
<li>
Caramelized Apple-caramelizing apples in pan, adding crepe batter and turning
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Potato Rosette-cooking potatoes in pan in circular fashion (overlapping), turning and adding crepe batter on top to brown and turn.SOURCE: de Buyer
</p>
</div></body>
