<head>
<title>French Breakfast Puffs</title>
</head>
<body>
<h1>French Breakfast Puffs</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/3 cup soft shortening
</li>
<li>
1/2 cup sugar
</li>
<li>
1 egg
</li>
<li>
1 1/2 cups flour
</li>
<li>
1 1/2 teaspoons baking powder
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1/4 teaspoon nutmeg
</li>
<li>
1/2 cup milk
</li>
<li>
1/3 cup butter, melted
</li>
<li>
1/2 cup sugar
</li>
<li>
1 teaspoon cinnamon
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat oven to 350F.  Pam-spray bottom of muffin cups.  Mix shortening, 1/2 cup sugar and egg thoroughly.  Blend four, baking powder, salt and nutmeg.  Stir in alternately with milk.  Fill muffin cups 2/3 full.  Bake 20-25 minutes.  Immediately roll in the melted butter, then in mixture of 1/2 cup sugar and cinnamon.  Serve hot.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : I started making these when I was a little girl when I use to make breakfast every weekend for my family.  I really got it from a Betty Crocker cookbook.  But its so old now and I know I&#39;ve made it more than Betty Crocker, that I can now take credit for making it up or at leasting &quot;adapting&quot; or should I say in this case, &quot;adopting&quot; it .
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
