<head>
<title>Fresh Pasta</title>
</head>
<body>
<h1>Fresh Pasta</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/2 cups flour
</li>
<li>
1 teaspoon salt
</li>
<li>
1 tablespoon olive oil
</li>
<li>
3 large eggs
</li>
<li>
3 large egg yolks
</li>
<li>
water or egg yolk, if needed
</li>
</ul>
<h2>Method</h2><ul>
<li>
Pour flour into food processor.  Add salt.  Pulse to mix.
</li>
<li>
Mix the eggs and yolks in a bowl.  Add the olive oil to the eggs.  Pour this mixture into the food processor and pulse to mix.  The dough should almost come together.  Feel the dough between your fingers and it should hold together.  If not, add a couple sprinkles of water or another egg yolk, depending on how much moisture it needs.  (Usually water will do.)  Remove the dough from the food processor and gather up into a flat disk.  Cover with a bowl on the bread board.
</li>
<li>
Allow dough to relax (you, too, with a glass of wine), covered (not you, the dough....finish this before you sit down with the wine), for about 20 minutes (or longer if you have two glasses of wine).
</li>
<li>
Pass through a pasta maker by cutting it first in fourths.  Then flour slightly and place through #1 going in opposite directions 2-3 times until smooth.  Then continue to pass through each number on the pasta machine (flouring slightly between each number) until desired thinness is reached.  Usually this is about at #6 or #7.  Use in disired shapes.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This makes enough for about 60 ravioli or one pan of lasagna...just
</p>
<p>
  to give you an idea of amounts.&quot;SOURCE: Fattoria Medicea
</p>
</body>
