<head>
<title>Fresh Mozzarella &amp; Herb Salad</title>
</head>
<body>
<h1>Fresh Mozzarella &amp; Herb Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
16 ounces fresh mozzarella
</li>
<li>
selection of fresh herbs: basil, mint,
</li>
<li>
parsley, chives
</li>
<li>
salt and pepper
</li>
<li>
olive oil
</li>
<li>
prosciutto, olives and cherry tomatoes if
</li>
<li>
desired
</li>
</ul>
<h2>Method</h2><ul>
<li>
Slice cheese.  Arrange on plate. Sprinkle with olive oil and salt and pepper.  Chop herbs coarsly and sprinkle on top.  Add other items betwix &amp; between if desired.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
