<head>
<title>Fresh Coconut Chutney</title>
</head>
<body>
<h1>Fresh Coconut Chutney</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 fresh green chiles, seeded, coarsely chopped
</li>
<li>
2 cups grated coconut
</li>
<li>
2 tablespoons water
</li>
<li>
4 teaspoons crushed garlic
</li>
<li>
3 tablespoons lemon juice, or lime
</li>
<li>
3/4 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;2 cups&quot;SOURCE: Adapted from Asia: The Beautiful Cookbook
</p>
</body>
