<h1>Fresh Unsweetened Coconut Cream &amp; Milk</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Take a fresh coconut (should be heavy and should slosh when shaken).  Place a Phillips screwdriver, place on two eyes (one at a time)of the coconut and hit
</li>
<li>
with a hammer, punching a hole.  Save if you wish, for drinking or pickling juice.
</li>
<li>
  Place the coconut in a 375F oven and bake for 20 minutes.  Remove and allow to cool to room temperature.
</li>
<li>
 Lay the coconut on a hard cement surface and strike with a hammer, cracking open the coconut.  Break into 4-5 pieces.  
</li>
<li>
 With a dish towel in hand, hold a piece of the coconut and remove the meat with a screwdriver.
</li>
<li>
  With a vegetable peeler, remove the outer thin, dark skin.
</li>
<li>
 Cut into 1-2 inch chunks and place in a heavy-duty food processor, using a steel blade.
</li>
<li>
  Grind for 30-60 seconds.  Scrape down sides and pulse and blend until coconut turns to pulp.
</li>
<li>
  Add 1 cup warm water and process for 30 seconds.  
</li>
<li>
Transfer to a large mixing bowl and &quot;milk&quot; the coconut by massaging and squeezing the meat at least &quot;eighty-nine&quot; times!  (Thai ritual)
</li>
<li>
Place a fine mesh strainer over another large mixing bowl and pour the coconut cream and meat into the strainer.  Press firmly to extract the liquid from the pulp.
</li>
<li>
Refrigerate for at least an hour and then skim off the thick cream into a plastic container and refrigerate (or freeze).
</li>
<li>
Put eh coconut pulp back into the first bowl and pour 3 cups of warm waater over.  Massage and squeeze another 89 times.  Again, strain, as before and refrigerate another hour.  Skim off the cream and combine with thick cream extracted from the first batch.  Pour the thin whey into a separate container and refrigerate until ready for use.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Cracking the Coconut&quot;SOURCE: Adapted from Su-Mei Yu
</p>
</div></body>
