<head>
<title>Fresh Fruit Grunt</title>
</head>
<body>
<h1>Fresh Fruit Grunt</h1>
<h2>Ingredients</h2>
<ul>
<li>
10 cups fresh fruit, apples or peaches, peeled, sliced; or berries
</li>
<li>
1 cup sugar
</li>
<li>
2 teaspoons cinnamon
</li>
<li>
3 tablespoons butter, cold for topping apples
</li>
<li>
Crust:
</li>
<li>
3 cups flour
</li>
<li>
6 tablespoons butter
</li>
<li>
2 teaspoons baking powder
</li>
<li>
1/4 teaspoon salt
</li>
<li>
4 tablespoons maple syrup, real stuff
</li>
<li>
3/4 cup whipping cream, more or less up to 1 1/4 cup
</li>
</ul>
<h2>Method</h2><ul>
<li>
1                     egg
</li>
<li>
  1         tablespoon  milk
</li>
<li>
For crust.....Place 3 cups flour  and 1/4 teaspoon salt with butter in a food processor.  Pulse to crumble.  
</li>
<li>
Add maple syrup and 3/4 cup cream.  Pulse to mix until dough holds together when pinched together with fingers.
</li>
<li>
Add more cream if necessary.
</li>
<li>
Take out of food processor and hold in refrigerator.
</li>
<li>
Peel and slice fruit if necessary or wash and drain berries.    Mix with sugar and cinnamon.  Place in oblong baking dish and dot with 3 tablespoons of butter.  Roll out dough (will be very soft) and place on top of apples.  Slit crust.    Mix egg and milk and brush on top of crust for a golden finish.
</li>
<li>
Place in 400F oven and cook for 10 minutes.  Turn oven down to 350 and continue cooking until top is golden, about 25 minutes longer.  Pierce to be sure apples are cooked through.  
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;An old fashioned and much loved dessert....also known as a cobbler.&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
