<head>
<title>Fried Chicken....Back to the Fifties!</title>
</head>
<body>
<h1>Fried Chicken....Back to the Fifties!</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 pieces cut-up chicken pieces, cut the thigh and leg apart and the breast in half across the bone.
</li>
<li>
1 cup buttermilk
</li>
<li>
salt and pepper
</li>
<li>
2 cups AP flour
</li>
<li>
3 cups vegetable shortening
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cover chicken with buttermilk and salt and pepper.  Allow to marinate in refrigerator for 2-12 hours.
</li>
<li>
Place flour in double paper bag and shake chicken pieces in the flour a few at a time.
</li>
<li>
Meanwhile have a large fry pan (ideally a cast iron pan) warming on the stove with the shortening in it.  The shortening, when melted, should be at about 1/2&quot; deep.  Take the shortening to a temperature of 350F before adding chicken.
</li>
<li>
When the melted shortening is hot enough, place the chicken pieces into the oil skin side down.  While cooking, the temperature of the oil should hold between 250-300F.  Cover the chicken with a lid.  Check in 5 minutes and rearrange the chicken pieces if some are cooking faster than others. Cover and continue to cook about another 5 minutes until the pieces are golden brown.  Turn the chicken pieces over and allow to continue to cook without a lid until the chicken is browned all over for about 12 minutes longer. 
</li>
<li>
Remove the chicken from the pan and place on wire rack to drain a few minutes over sheet pan.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;There&#39;s just nothing like delicious fried chicken.  Follow these tips
</p>
<p>
  and you will have a wonderful example of this crispy, tasty treat.&quot;
</p>
<p>
SERVINGS: 12
</p>
</body>
