<h1>Fried Calf&#39;s Brains</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 calf&#39;s brain, about 1pound
</li>
<li>
1/2 carrot, peeled
</li>
<li>
1/2 yellow onion, peeled
</li>
<li>
1/2 stalk celery
</li>
<li>
1 tablespoon vinegar
</li>
<li>
1 teaspoon salt
</li>
<li>
1 large egg, lightly beaten with 1 teasp. salt
</li>
<li>
1 cup fine, dry unflavorred bread crumbs, spread on a dish
</li>
<li>
vegetable oil, 1/2 &quot; deep in pan
</li>
<li>
lemon wedges
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Wash the brain thoroughly in cold water, then let soak in cold water for 10 minutes.  Drain, and carefully remove as much as possible of the surrounding membrane and the PROTRUDING blood vessels.
</li>
<li>
Put the vegetables, vinegar and 1 teaspoon salt in saucepan with 6 cups of water and bring to boil.
</li>
<li>
Drop in the brain (plunk) and when the water has returned to a boil cover the pan and adjust the heat so that the liquid bubbles very slowly but steadily.  Cook for 20 minutes.
</li>
<li>
Drain, and let the brain cool completely.  When cool, refrigerate for about 10 minutes, or until they are very firm. (You may prepare them ahead of time, and refrigerate until shortly before you are ready to fry.  Cover if refrigerating for several hours.)
</li>
<li>
Cut the brain into broad, large than bite size pieces, about 1/2 inch thick.
</li>
<li>
Dip the slices in egg, letting excess flow back into the bowl, then turn them in bread crumbs.
</li>
<li>
Heat the oil in a skillet over high heat.  When the oil is very hot, slip the coated lices into the pan.  Fry until goldn brown on one side, then do the other side.  When a nice crust ha formed on both sides, transfer to paper towels to drain. When all the slices are done, serve immediately, with lemon wedges on the side.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 4
</p>
<p>
SOURCE: Marcella Hazen
</p>
</div></body>
