<h1>Fritelle di Cavolfiore - Cauliflower Pancakes</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup olive oil
</li>
<li>
2 large heads cauliflower florets, cut into 1/2&quot; pieces
</li>
<li>
1 small can anchovies, finely chopped
</li>
<li>
18 large eggs, beaten
</li>
<li>
1 cup fresh bread crumbs
</li>
<li>
1/2 cup AP flour
</li>
<li>
1/2 cup Pecorino Romano, grated
</li>
<li>
Parmesan cheese, grated for garnish
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat about 1/4 cup of olive oil  in large saute pan.  Add cauliflower and anchovies and cook until cauliflower is soft, but holds shape.  This will take about 15-20 minutes.  Allow to cool. 
</li>
<li>
Place cauliflower in large bowl and add all ingredients except the Parmesan.  Lumps are okay.
</li>
<li>
Cover the bottom of a heated non-stick pan with oil.  Spoon the cauliflower batter, about 1 tablespoon at a time, into the pan.  Cook about 3 minutes on each side.  Drain on paper towels.  Place on platter in very low oven to hold until all the pancakes are cooked.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Mario Batali
</p>
</body>
