<h1>Frozen Fudge Bars</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
small paper cups
</li>
<li>
frozen treat sticks
</li>
<li>
1/2 cup nonfat sweetened condensed milk
</li>
<li>
1/2 cup sugar
</li>
<li>
1/4 cup unsweetened Dutch process cocoa powder
</li>
<li>
1 1/4 cups low-fat milk
</li>
<li>
1 teaspoon pure vanilla extract
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  In a heavy saucepan, whisk together sweetened condensed milk, sugar and cocoa until smooth.  Stir the mixture with a wooden spoon over medium-low heat until it comes to a simmer; continue stirring for 1 minute.  Very gradually, whisk in the low-fat milk, stirring to dissolve all the cocoa-sugar mixture.  Remove the pan from the heat and stir in vanilla.  Pour into individual frozen-treat molds or small paper cups.  Freeze for about 1 hour, or until beginning to set.  Insert frozen-treat sticks and freeze until completely firm.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : At 120 calories per little snack....you get your milk and chocolate.......!
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: The Eating Well Dessert Book
</p>
</div></body>
