<h1>Fruited Stuffing</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 cups dry bread cubes
</li>
<li>
1 whole onion, cut in small dice
</li>
<li>
2 celery stocks, small dice
</li>
<li>
1 leek, if I have it, small dice
</li>
<li>
1 clove garlic, smashed and minced
</li>
<li>
1 red apple or pear, skin on, small dice
</li>
<li>
1 green apple or pear, skin on, small dice
</li>
<li>
handful raisins (if on hand, so to speak)
</li>
<li>
handful chopped walnuts or pecans
</li>
<li>
fresh chopped sage, about 5 leaves or so
</li>
<li>
fresh thyme leaves removed from about 5 stems
</li>
<li>
1/4 cup parsley, chopped
</li>
<li>
cool chicken stock to moisten
</li>
<li>
brandy to moisten (optional)
</li>
<li>
salt and pepper, to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Cut the bread into 1/2&quot; cubes (like for croutons) and spread out on cookie sheet.  Place in 200F oven for about 1/2 hour to dry out, stirring occasionally.  This step can be omitted and your stuffing can be made with bread without drying out...it will still be delicious.
</li>
<li>
2.  Place the onion in a saute pan and sweat in a small amount of butter or chicken stock (over using fat) a few minutes with celery, leek and garlic. 
</li>
<li>
3. Place the bread cubes in a large bowl.  Add the sweated vegetables, apples or pears, raisins, nuts, sage, thyme, parsley. 
</li>
<li>
4.  Moisten with cool chicken stock (not hot as we don&#39;t want the mixture going into the
</li>
<li>
bird to be warm) and brandy if desired.  Keep in mind that the apples or pears will cook and help to moisten the dressing.
</li>
<li>
5.  Salt and pepper to taste and TASTE before stuffing the bird.  You will have more than a chicken can hold.  Place the remainder in a small buttered cassarole and bake with your chicken....you&#39;ll have lots of stuffing that way!
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : This is a wonderful all-purpose stuffing.  Change it by taking away the apples, raisins, nuts and adding sausage if you like (be sure to cook crumbled sausage with the onions first and cool mixture before stuffing bird)....Or you can just have the stuffing without the fruit as it is and it will still be delicious.  The point is, if you want to make stuffing, look at what ingredients you DO  have and go from there.  This is good for stuffing all poultry dishes....or how about stuffing onions or other vegetables and baking???   This is great with pork too....Use your creativity!
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
