<head>
<title>Fruited Sauteed Medallions of Pork</title>
</head>
<body>
<h1>Fruited Sauteed Medallions of Pork</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/4 lbs. pork loin, trimmed
</li>
<li>
2 golden delicious apples, large dice
</li>
<li>
2 red pears, large dice
</li>
<li>
2 cups white wine, Sauvignon Blanc
</li>
<li>
1/4 cup dried cherries
</li>
<li>
1/2 cup dried apricot
</li>
<li>
2 cups chicken stock, hot
</li>
<li>
2 cups pork jus
</li>
<li>
2 tablespoons brandy, apple flavored
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut the pork into 1 ounce medallions (one portion is 3 medallions)
</li>
<li>
Poach the apples and pears in the white wine until tender.  Cool in the liquid.
</li>
<li>
Reconstitute the dried fruits in the stock.  Strain and reserve the stock.
</li>
<li>
Reduce the brandy by 1/2.
</li>
<li>
To serve, dry saute the pork in a nonstick pan.  Remove from the pan and keep warm.  
</li>
<li>
Deglaze the pan with a small amount of the reserved chicken stock.  Add the fruits and heat well.  Add the pork jus and reduced brandy..
</li>
<li>
Return the pork to the saute pan to coat lightly with the sauce.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
</body>
