<h1>Fudgy Brownies</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 tablespoons unsalted butter
</li>
<li>
1 14 oz.  semisweet chocolate bar, about 2 1/2 cups
</li>
<li>
1/4 cup sugar
</li>
<li>
2 tablespoons instant coffee
</li>
<li>
2 tablespoons brewed strong espresso
</li>
<li>
2 large eggs, lightly beaten
</li>
<li>
2/3 cup + 1 tablespoon flour
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1/4 teaspoon baking soda
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.  Butter an 8&quot; square pan.  Melt half of the chocolate, butter, sugar and coffees in top of a double boiler and stir to combine.  Cool.  Stir in the eggs.
</li>
</ul>
<h2>Notes</h2><p>
Combine flour, salt and baking soda in small bowl.  Add to wet mixture and stir until just combined.  Do not overmix.  Fold in remaining chocolate pieces.  Pour batter into pan and bake until a toothpick inserted into the middle comes out with crumbs, about 25-30 minutes.  Cool completely before cutting.SOURCE: New York Times Adaptation from Cynthia Barcomi&#39;s Backbunch
</p>
</body>
