<h1>Gallo Family Dinner 6/23/98</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Local Halibut Filet &amp; Cheeks w/
</li>
<li>
Puree of Peas &amp; Roasted Lemon Beurre
</li>
<li>
Blanc
</li>
<li>
1995 Jordan Chardonnay
</li>
<li>
Filet of Beef with Hazelnut &amp; Roquefort
</li>
<li>
1991 Jordan Cabernet Sauvignon
</li>
<li>
Warm Chocolate Tartlets/Creme Anglais
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 1
</p>
<p>
SOURCE: Recipes in Jordan File
</p>
</div></body>
