<h1>Garam Masala</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 tablespoons cardamom seeds
</li>
<li>
3 3&quot; cinnamon sticks
</li>
<li>
1 tablespoon whole clove
</li>
<li>
1/4 cup black peppercorn
</li>
<li>
1/2 cup cumin seeds
</li>
<li>
1/2 cup coriander seeds
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine all the spices and roast them in a dry fry pan to fragrant.  Grind them in a spice grinder (or old coffee grinder used just for spices).  Store in an airtight container.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:
</p>
<p>
  &quot;1 1/2 cups&quot;SOURCE: Adaptation from Sahni
</p>
</div></body>
