<h1>Garlic Mashed Golden Potatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 large russet potatoes
</li>
<li>
1 large yam
</li>
<li>
2 large red potato
</li>
<li>
8 cloves garlic
</li>
<li>
1 1/2 cube butter
</li>
<li>
1 1/2 cups sour cream, cream, yogurt or buttermilk , or as needed
</li>
<li>
salt and pepper to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Peel and quarter all potatoes except the red potatoes, leaving peel on.    Take skins off of garlic.  Cook all potatoes  and whole garlic in salted water over medium heat until tender, approximately 20 -25 minutes.
</li>
<li>
Drain potatoes through a colander.  Place empty pan back on low heat and add in butter and sour cream or cream (or 1/2 of both).  Heat until butter is melted.  Add potatoes back into pot and smash with a potato masher or put through a ricer.   Season with salt and pepper.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Beautiful and oh so tasty....a slight variation on the regular mashed
</p>
<p>
  potato.  Because of the yam, they will be a beautiful yellow and the
</p>
<p>
  red potatoes with skin left on will add pretty red specks to your
</p>
<p>
  potatoes.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
