<head>
<title>Garlic Mashed Golden Potatoes</title>
</head>
<body>
<h1>Garlic Mashed Golden Potatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 russet potato
</li>
<li>
1 large red potato
</li>
<li>
1 large sweet potato
</li>
<li>
1 large head garlic, peeled and left whole
</li>
<li>
1 cube butter
</li>
<li>
1 cup sour cream, or buttermilk, cream, or milk
</li>
<li>
salt and pepper, to taste
</li>
<li>
1/4 cup chives, minced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place potatoes and garlic cloves in salted water.  Bring to a boil, simmer until potatoes are pierce-able.  Drain potatoes and garlic.  Place cooking pan on low burner.  Add butter, sour cream, cream or mixture of dairy of your choice, in pan and heat.  Place warm potatoes through ricer allowing to drop over warmed dairy.  Gently stir.  Do not over-stir, allowing the golden sweet potatoes to &quot;marble&quot; in gently.    Top with chives or mix in gently just before serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
