<head>
<title>Garlic &amp; Mint Roasted Red Potatoes</title>
</head>
<body>
<h1>Garlic &amp; Mint Roasted Red Potatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 lbs. red new potatoes
</li>
<li>
6 cloves garlic, finely minced
</li>
<li>
3/4 cup virgin olive oil
</li>
<li>
1 large bunch fresh mint
</li>
<li>
1 tablespoons kosher salt, or to taste
</li>
<li>
freshly ground pepper to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350 F.  Scrub the potatoes and prick each one several times with a fork.  Place in a shallow roasting pan and roast for 2 hours.  Cut each potato in half.  Toss the potatoes with the galic, oil, mint, salt and pepper to taste in a large bowl.  Let stand for 30 minutes before serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 16
</p>
<p>
SOURCE: Adapted from The Silver Palate
</p>
</body>
