<head>
<title>Genoise</title>
</head>
<body>
<h1>Genoise</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 large eggs
</li>
<li>
1/2 cup sugar
</li>
<li>
pinch of salt
</li>
<li>
1/2 cup flour, sifted
</li>
<li>
1/2 cup cornstarch, sifted
</li>
<li>
1/4 cup unsalted butter, melted and cooled
</li>
<li>
1 teaspoon vanilla
</li>
</ul>
<h2>Method</h2><ul>
<li>
Coat the bottom of a springform pan (8 or 9 inches) with a little melted butter and place parchment or wax paper cut to fit the bottom of the pan.  Butter and flour the parchment paper and sides of pan.  Shake the excess flour out.
</li>
<li>
Melt the butter in a little bowl until it is liquid but NOT HOT, set aside in a warm place.  Add vanilla to this mixture.
</li>
<li>
Put the whole eggs, sugar and salt in the bowl of an electric mixer, place over hot water  in a double boiler and heat until it is almost too hot to touch the outside of the bowl, mixing constantly.  WATCH OUT you don&#39;t scramble.  When the bowl is almost too hot to touch, move the mixture to the mixer and continue mixing until you are  able to make a ribbon design on the surface of the batter.
</li>
<li>
After sifting the flour and cornstarch, mix together in a small bowl.  Gently fold in 1/3 of the flour/cornstarch mixture by scattering it over the surface of the batter.  Put about a cup of batter in the melted butter and mix well.  Add another 1/3 of the flour and fold again; add the butter/batter mixture, the rest of the flour and fold again.  Pour the finished batter into the prepared cake pan.  Bake in a preheated 350 oven for about 35 minutes.  When the cake is slightly cool, run a knife around the edge to loosen it if necessary and tip it our of the pan to cool completely on a cooling rack.
</li>
<li>
When cool use as needed or store in refrigerator in clear wrap for up to a week.
</li>
<li>
If you want to make ladyfingers, pipe out the batter to the shape and size you want, on alightly buttered and floured cookie sheet or use parchment paper.
</li>
</ul>
<h2>Notes</h2><p>
**Notes:  This can be used in Tiramiso, Zuccotto, Fruit Shortcakes....a wonderful basic cake that can go a variety of ways.
</p>
<p>
Chocolate Genoise:  Replace 1/2 cup cornstarch with 1/4 cup Dutch process cocoa and 1/4 cup cornstarch.
</p>
<p>
Mexican Chocolate Genoise:  Do as above for Chocolate Genoise but add 1 teaspoon of cinnamon.
</p>
<p>
NOTES:
</p>
<p>
Serving Ideas : This can be used in Tiramiso, Zuccotto, Fruit ShortcakeNOTES : This is a wonderful basic cake that can go a variety of ways.  CHOCOLATE GENOISE:  Replace 1/2 cup cornstarch with 1/4 cup Dutch process cocoa and 1/4 cup cornstarch.
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
