<h1>German Apple Cake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Cinnamon Roll dough
</li>
<li>
6 apples, peeled and cored
</li>
<li>
1/8 cup butter
</li>
<li>
1/8 cup flour
</li>
<li>
cinnamon
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Slice apples into thin slices (peaches are good too) and arrange them in rows onto the cinnamon roll dough that has been rolled out into a rectangle.
</li>
<li>
Prepare the butter and flour and cinnamon by mixing together until it becomes coarse pea size &quot;crumbs&quot;.  Add more flour as needed.
</li>
<li>
Sprinkle the crumbs on the apple slices and let rise for a while.  Bake at about 325F for 30-40 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Internet Find&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;&quot;Alaska Sourdough&quot;&quot;SOURCE: Ruth Allman
</p>
</div></body>
