<h1>German Potato Pancakes (Potato Latkes)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
10 medium potatoes
</li>
<li>
2 medium onions
</li>
<li>
2 large eggs
</li>
<li>
1/4 cup unbleached flour, or breadcrumbs, or
</li>
<li>
matzah meal
</li>
<li>
salt and pepper, to taste
</li>
<li>
vegetable oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Peel potatoes and hold them in cold water.
</li>
<li>
Starting with the onions, alternately grate some of the onions on the large holes of the grater and some of the potatoes on the smallest holes.This will keep the potato mixture from blackening.  Press out as much liquid as possible and reserve the starchy sediment at the bottom of the bowl.  Return the sediment to the mixture.
</li>
<li>
Blend the potato mixture with the eggs, flour, salt and white pepper.
</li>
<li>
Heat 1 inch of oil in a frying pan.  Drop about 1 tablespoon of mixture for each pancake into the skillet and fry, turning once.  When goden and crisp on each side, drain on paper towels.  Serve with yogurt, sour cream, sugar or applesauce.
</li>
<li>
Note:  You can freeze potato pancakes.  After making them, place them on a sheet pan, freeze, and remove to a plastic bag.  When ready to serve, place in a 450F oven for several minutes.    Or you can make them early in the day, drain and leave them out on a cookie sheet, reheating before serving.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;The perfect partner for German Sauerbraten&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Joan Nathan
</p>
</div></body>
