<h1>German Green Bean Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 tablespoons red or white wine vinegar
</li>
<li>
3 tablespoons olive oil
</li>
<li>
1/2 cup chicken stock
</li>
<li>
2 teaspoons salt
</li>
<li>
black pepper
</li>
<li>
1 teaspoon fresh dill, finely chopped
</li>
<li>
1 teaspoon parsley, finely chopped
</li>
<li>
1 lb. fresh green beans
</li>
<li>
1 sprig fresh summer savory
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine the vinegar, oil, chicken stock, 1 teaspoon of the salt and a few grindings of pepper and beat them vigorously with a shisk.  Stir in the dill and parsley.  Taste for seasoning.  Set aside.
</li>
<li>
Wash and trim the beans into 2&quot; pieces.  Cook in boiling salted water for about 5 minutes.  Shock cold in ice water to stop cooking.
</li>
<li>
Strain the beans and pat dry.  Transfer to a large bowl and pour the dressing over them. Chill for at least 1 hour.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Bohnensalat&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Time-Life Cooking of Germany
</p>
</div></body>
