<h1>Gesundheitskuchen (Good Health Cake)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 large eggs, separated
</li>
<li>
1 cup sugar
</li>
<li>
1 1/2 sticks unsalted butter, melted and cooled
</li>
<li>
1 teaspoon vanilla
</li>
<li>
grated peel &amp; juice of 1 lemon
</li>
<li>
1 cup milk
</li>
<li>
2 1/2 cups unbleached flour
</li>
<li>
2 teaspoons baking powder
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1/3 cup poppy seeds
</li>
<li>
6 ounces chocolate chips
</li>
<li>
confectioner&#39;s sugar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat the oven to 350F.  Grease and lightly flour a bundt pan or two 9x5x4 loaf pans.
</li>
<li>
In the bowl of an electric mixer fitted with the whisk, beat the egg yolks well with the sugar.  Add the cooled butter (minus milky residue), the vanilla, lemon peel and juice and milk.
</li>
<li>
Gradually add the flour, baking powder and salt as you beat at low speed.  When the batter is smooth turn off the mixer.
</li>
<li>
In a separate bowl, beat the egg whites until stiff but not dry;  Fold them gently into the yolk mixture, sprinkling in the poppy seeds and chocolate chips.
</li>
<li>
Pour the batter into the greased pan or pans and bake on the middle rack of the oven for 45 minutes, or until a toothpick inserted into the center comes out clean.  Cool in the pan for 10 minutes, then turn the cake out and cool completely on a rack.  Sprinkle the top with confectioners&#39; sugar just before serving.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 10
</p>
<p>
SOURCE: Joan Nathan
</p>
</div></body>
