<h1>Ginger Shortbread</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 sticks unsalted butter
</li>
<li>
2/3 cup sugar
</li>
<li>
2 teaspoons ground ginger
</li>
<li>
1/2 teaspoon salt
</li>
<li>
2 cups all purpose flour
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 350F
</li>
<li>
Cream the butter in a large bowl with the sugar, ginger and salt until light and fluffy.  Stir in flour just until combined.  The dough will be stiff.
</li>
<li>
Press the dough into 2 10&quot; inch pie plates  and smooth the top.  With a fork, prick a pattern into the dough, dividing the shortbread into 8 wedges per pie plate.
</li>
<li>
Bake for 30 minutes until the shortbread is firm and lightly golden.  While still warm, cut into wedges.  Allow to cool.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Jody Adams
</p>
</div></body>
