<head>
<title>Gingered Apple Cream Sauce</title>
</head>
<body>
<h1>Gingered Apple Cream Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons butter
</li>
<li>
2 leeks, white part only, thinly sliced
</li>
<li>
1 Granny Smith apple, diced
</li>
<li>
2 green bell pepper, diced
</li>
<li>
2/3 cup sliced ginger root, unpeeled
</li>
<li>
2 cups apple juice
</li>
<li>
2 cups heavy cream
</li>
<li>
1/4 cup balsamic vinegar
</li>
<li>
s/p -- to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Fish of choice:  sturgion, halibut,
</li>
<li>
                        shrimp, salmon, cod, monkfish, trout, red
</li>
<li>
                        snapper.  Figure about 4-6 oz. per person
</li>
<li>
                        depending on what else is being served.
</li>
<li>
                        Garnish with leek and bell peppers if
</li>
<li>
                        desired.
</li>
<li>
Melt butter in saute pan.  Saute the leek, appe, pepper, and gingerroot over low heat until apple is soft and begins to fall apart, about 10 minutes.  Add apple juice.
</li>
<li>
Puree this mixture.  Press through fine strainer or cheesecloth into a saucepan.  Add cream, vinegar, salt and pepper.  Keep hot in double boiler until ready to serve.
</li>
<li>
Saute fish in butter.  Serve fish in puddle of sauce and garnish with leek and bell pepper, julienned.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;The first time I tasted this sauce was with a white firm fish...the
</p>
<p>
  perfect Northwest presentation.  It was delicious...the credit goes to
</p>
<p>
  my son, Andy who made it perfectly!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Cooking Across America&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Bernard Clayton...one of my favorite cookbook authors!
</p>
</body>
