<h1>Ginger Infused Ice Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup half and half
</li>
<li>
2 cups whipping cream
</li>
<li>
2/3 cup sugar
</li>
<li>
6 large egg yolks
</li>
<li>
1 2&quot; fresh ginger, peeled, sliced and smashed
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place creams and sugar in saucepot and heat.  Add ginger and allow to infuse for about 20-30 minutes with the heat off.  
</li>
<li>
Beat egg yolks in bowl.  Bring cream mixture back to simmer.  Temper the eggs with about half of the cream mixture by slowly pouring cream mixture into eggs while whisking.  Pour all back into saucepan and continue cooking over medium heat while stirring with a wooden spoon until cream and egg mixture coat the back of your spoon (your finger run across the back of the spoon should leave a trail).  Immediately strain into a metal bowl and cool in an ice bath.  Finish cooling in the refrigerator for at least 4-6 hour (overnight is best).  Freeze in ice cream maker.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
