<h1>Glazed Batonnet Carrots</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 1/2 lbs. carrots, peeled
</li>
<li>
3 ounces butter
</li>
<li>
2 ounces sugar
</li>
<li>
salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Cut carrots into batonnet.
</li>
<li>
2.  Place carrots into saucepan with boiling salted water to cover.  Simmer until tender.  
</li>
<li>
Shock cold and drain.  Can hold at this point.  Can fix individual servings from this point on.
</li>
<li>
3.  Heat the butter in a saute pan.  Add sugar and small amount of water. Add carrots and sprinkle with salt to taste.  Saute briefly until carrots are well glazed and liquid has evaporated; not further cooked.  Serve immediately.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 25
</p>
<p>
SOURCE: Chef Klaus Loos &amp; Gisslen pg. 411
</p>
</div></body>
