<head>
<title>Gnocci</title>
</head>
<body>
<h1>Gnocci</h1>
<h2>Ingredients</h2>
<ul>
<li>
7 white rose potatoes, put through ricer
</li>
<li>
salt
</li>
<li>
nutmeg
</li>
<li>
1 large egg
</li>
<li>
flour to correct texture
</li>
</ul>
<h2>Method</h2><ul>
<li>
Pouring out on floured board and working like bread dough.  Roll into 1/2&quot; snakes and cut into 1/2&quot; pieces and roll over fork.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;La Miniera....Montecatini Val de Cecina&quot;SOURCE: Chef Stefania
</p>
</body>
