<head>
<title>Gnudi</title>
</head>
<body>
<h1>Gnudi</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup ricotta cheese
</li>
<li>
1 cup spinach, thawed, chopped
</li>
<li>
2 whole eggs
</li>
<li>
2 egg yolks
</li>
<li>
5 tablespoons flour
</li>
<li>
1 cup parmesan cheese
</li>
<li>
s/p
</li>
<li>
1/4 teaspoon nutmeg
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix together.  Drop into boiling water in spoonfuls.  Allow to come to the top (about 4 minutes cooking time).  
</li>
<li>
To Serve:
</li>
<li>
  Top with marinara and Parmesan.
</li>
<li>
  
</li>
</ul>
<h2>Notes</h2><p>
  SOURCE: Adpated from Giada
</p>
</body>
