<h1>Goat Cheese Stuffed Mushrooms</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 tablespoon butter
</li>
<li>
1/2 small fennel bulb, thinly sliced and chopped
</li>
<li>
1 small leek, cut into 1&quot; pieces
</li>
<li>
1 teaspoon ground coriander
</li>
<li>
salt and pepper
</li>
<li>
6 ounces goat cheese
</li>
<li>
24 crimini mushrooms, bite size, stems removed
</li>
<li>
olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Brush mushrooms with olive oil and sprinkle with salt and pepper.  Place cap side up in preheated 400F oven and roast for about 7-8 minutes until tops are golden and juices begin to seep from the mushrooms.  Place on paper towels to drain.
</li>
<li>
Meanwhile, cook fennel and leek in butter in a saute pan until soft.  Add the coriander and season to taste with salt and pepper.  Transfer to a plate to cool. 
</li>
<li>
Reserve a bit for garnish. 
</li>
<li>
Heat the oven to broil.  Mix the goat cheese in with the cooked fennel and leek.  Fill each mushroom cap with mixture and place on a sheet pan with parchment paper (for easy cleaning).  Broil for about 1-1 1/2 minutes.  Garnish with a bit of the reserved leek fennel mixutre.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;2 each&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
