<h1>Goat Cheese Guacamole</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 ounces goat cheese
</li>
<li>
olive oil, to cover cheese
</li>
<li>
4 ripe avocados, halved, seeded and peeled
</li>
<li>
1 lemon, juice only
</li>
<li>
6 dashes Tabasco sauce
</li>
<li>
pepper
</li>
<li>
salt
</li>
<li>
2 tomatoes, chopped
</li>
<li>
toasted tortilla triangles
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Marinate goat cheese in olive oil for a few hours.   Add fresh herbs and spices such as basil, thyme, rosemary and peppercorns, as you choose.
</li>
<li>
Before serving, lift cheese out of oil.  Combine with avocados, lemon juice, Tabasco and pepper in a large bowl.  Mash with a a fork until mixture is slightly lumpy, not a smooth puree.  Season sparingly with salt, since goat cheese can be very salty.
</li>
<li>
Serve on tortilla triangles.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Fabulous appetizer or sandwich spread.&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
