<h1>Golabki...Stuffed Cabbage Rolls</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 whole, large head of cabbage
</li>
<li>
1 medium onion, chopped
</li>
<li>
2 tablespoons oil
</li>
<li>
2 lbs. ground beef
</li>
<li>
1 1/2 cups cooked rice
</li>
<li>
2 teaspoons salt
</li>
<li>
2 large eggs, beaten
</li>
<li>
1/2 teaspoon pepper
</li>
<li>
1 teaspoon thyme
</li>
<li>
1 large can tomatoes, chopped
</li>
<li>
1 tablespoon brown sugar
</li>
<li>
2 cups sauerkraut, rinsed and drained
</li>
<li>
sour cream
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Remove core from cabbage.  Place whole head in a large pan filled with boiling water.  Cover and cook 3 minutes or until softened enough to pull of individual leaves.    Retrieve about 30 leaves.  Cut thick center stem from each leaf.
</li>
<li>
Saute onion in oil.  Add meat, rice, salt,pepper and thyme.  Mix thoroughly.  Place aheaping tablespoon of meat mixture on each cabbage leaf.  Tuck side over filling while rolling leaf on each cabble leaf.  Secure with wooden toothpick.
</li>
<li>
Saute cabbage rolls in batches in a little oil until slightly browned.  Place cabbage rolls in a lightly oiled  Dutch oven.  Fill with layers of cabbage rolls and cover with sauerkraut.
</li>
<li>
Combine tomatoes with brown sugar and pour over all.  Bring to a bil; lower heat and simmer 1 1/2 hours.  Serve with sour cream.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;My husband&#39;s very favorite thing in life!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 each&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Zyskowski Polish Tradition
</p>
</div></body>
