<h1>Golden Squash Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 large butternut squash, cut in 4ths and roasted
</li>
<li>
1 acorn squash, cut in half and roasted
</li>
<li>
3 apples, quartered, golden delicious/gala, roasted
</li>
<li>
water to cover cooked squash in pot by 2&quot;
</li>
<li>
2 tablespoons butter
</li>
<li>
4 tablespoons olive oil
</li>
<li>
1 large leek, minced
</li>
<li>
1 shallot, minced
</li>
<li>
2 cloves garlic, minced
</li>
<li>
10 leaves fresh sage, minced
</li>
<li>
15 stems fresh thyme, leaves removed
</li>
<li>
cinnamon, to taste
</li>
<li>
freshly grated nutmeg, to taste
</li>
<li>
1/2 cup marsala wine
</li>
<li>
1 cup whipping cream (optional)
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Roast seeded squash and apples (do not peel apples) in 400F oven by placing on sheet pan with water on the bottom for about 1 hour or until soft.  Remove from oven and add more water to pan (to deglaze sweet squash caramelization).  Allow to cool.  Spoon squash contents into large sauce pan or soup pot.  Cut up apples into large bites and add to pot.  Cover with water by 2&quot; and bring to boil and then turn to simmer.
</li>
<li>
Meanwhile, place leeks, shallot, garlic, sage and thyme to saute pan in butter and olive oil and cook until vegetables are translucent and mixture is fragrant.  Add to squash mixture in pot.  Cook another 15-20 minutes or so.  
</li>
<li>
Puree with hand blender or carefully in blender.  Continue to heat through, tasting.  Add marsala wine and season to taste.  Add cream if desired and serve with garlic croutons.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a fabulous soup that can be seasoned in a variety of ways. 
</p>
<p>
  Take a more Thanksgiving approach and add cinnamon, nutmeg, a little
</p>
<p>
  honey.  Or, make a Curry Squash by adding curry (blossomed first),
</p>
<p>
  honey and taste.  A wonderful backdrop!&quot;
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Char
</p>
</div></body>
