<h1>Gongonzola Topped Grilled Ciabatta</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
ciabatta, sliced 1/2&quot; thick
</li>
<li>
olive oil
</li>
<li>
2 teaspoons gorgonzola cheese, per serving
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Lightly oil ciabatta.  Place oil side down on grill and grill until slightly golden.  Brush side not grilling with oil.  Turn ciabatta over to ungrilled side.  Top with 2 teaspoons of gorgonzola per slice.  Close lid and allow to melt slightly.
</li>
</ul>
<h2>Notes</h2><div id='notes'></div></body>
