<h1>Gongonzola Pear Pizza with Caramelized Onions &amp; Spiced Nuts</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 recipe pizza dough
</li>
<li>
2 tablespoons olive oil
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
2 onions, halved and sliced
</li>
<li>
2 cloves garlic, minced
</li>
<li>
2 tablespoons olive oil
</li>
<li>
6 ounces gorgonzola cheese, or blue cheese of your choice
</li>
<li>
3 pears, cored and sliced
</li>
<li>
1 1/2 cups spiced nuts, chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Make dough as directed. Allow to rise.
</li>
<li>
While dough is rising.  Place 2 tablespoons of olive oil into hot saute pan.  Add onions, salt and pepper.  Cook about 20-30 minutes until onions are slightly brown and caramelized.
</li>
<li>
Cool.
</li>
<li>
 Roll into two pizza size shapes and place in pizza pan or on sheet pan.
</li>
<li>
Mix garlic with olive oil.  Brush on pizzas.  Divide onions between pizzas and place on top of garlic/oil mixture.  Divide the gorgonzola in half and sprinkle all but about 2 tablespoons per pizza (saving for the top) over the onions.  Place the sliced pears in a circular pattern around the pizzas.    Divide the nuts into two portions and top the pears with the nuts.  Top with the last of the gongonzola. 
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Place on preheated pizza stone and 500F oven.  Cook 10-15 minutes.  SOURCE: Apple Charlotte
</p>
</div></body>
