<head>
<title>Gorgonzola, Fig and Pecan Cheese Terrine</title>
</head>
<body>
<h1>Gorgonzola, Fig and Pecan Cheese Terrine</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup dried Mission figs, quartered and sliced
</li>
<li>
1/2 cup more dried Mission figs, for garnish
</li>
<li>
1 cup dry red wine
</li>
<li>
1/2 teaspoon fresh thyme
</li>
<li>
1 lb. cream cheese, room temperature
</li>
<li>
1 1/2 sticks butter, room temperature
</li>
<li>
1 teaspoon salt
</li>
<li>
8 ounces crumbled gorgonzola cheese, room temperature
</li>
<li>
2 tablespoons brandy
</li>
<li>
1/2 cup toasted pecans, + 1/2 cup for garnish
</li>
<li>
2 tablespoons Italian parsley, chopped
</li>
<li>
greens for garnish
</li>
</ul>
<h2>Method</h2><ul>
<li>
Simmer the first 1/2 cup figs in the wine with thyme for 15 minutes.  Drain.  Set aside to cool.
</li>
<li>
Cream the cream cheese and butter with paddle attachment.  Add gorgonzola, brandy and salt and beat 1 more minute.  Do not overbeat.
</li>
<li>
Spray a loaf pan with cooking spray and line with plastic wrap.  Spoon half of the cheese mixture into pan getting into the corners.  Scatter the figs, pecans and parsley on top and cover with second half of cheese mixture.  Cover with plastic wrap and refrigerate for 6 hours.
</li>
</ul>
<h2>Notes</h2><p>
To remove from pan, turn upside down and pull 1 end of the plastic wrap down.  It will slip out onto the top piece of plastic wrap.  Slice.  Can be garnished with  additional figs, pecans and thyme.  Serve with crackers or crostini.SOURCE: Bindy Groh
</p>
</body>
