<head>
<title>Gramercy Tavern Gingerbread</title>
</head>
<body>
<h1>Gramercy Tavern Gingerbread</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup oatmeal or Guinness Stout
</li>
<li>
1 cup dark molasses, not blackstrap
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
2 cups AP flour
</li>
<li>
1 1/2 teaspoons baking powder
</li>
<li>
2 tablespoons ground ginger
</li>
<li>
1 teaspoon ground cinnamon
</li>
<li>
1/4 teaspoon ground cloves
</li>
<li>
1/4 teaspoon freshly grated nutmeg
</li>
<li>
pinch ground cardamom
</li>
<li>
3 large eggs
</li>
<li>
1 cup dark brown sugar
</li>
<li>
1 cup granulated sugar
</li>
<li>
3/4 cup vegetable oil
</li>
<li>
Confectioners sugar for dusting
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.  Generously butter 10&quot; bundt pan and dust with flour, knockiing out excess.
</li>
<li>
Bring stout and molasses to a boil in a large saucepan and remove from heat.  Whisk in baking soda, then cool to room temperature.
</li>
<li>
Sift together flour, baking powder, and spices in a large bowl.  Whisk together eggs and sugars.  Whisk in oil, then molasses mixture.  Add to flour mixture and whisk until just combined.  
</li>
<li>
Pour batter into bundt pan and rap pan sharply on counter to eliminate air bubbles.  Bake in middle of oven until a tester comes out with just a few moist crumbs adhering, about 50 minutes.  Cool cake in pan on a rack 5 minutes.  Turn out onto rack and cool completely.
</li>
<li>
Serve cake dusted with powdered sugar and with whipped cream.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Wonderfully moist and spicy.&quot;SOURCE: Claudia Fleming via epicurious.com
</p>
</body>
