<h1>Granola Crisp</h1>
<h2>Ingredients</h2>
<ul>
<li>
2/3 cup old-fashioned rolled oats
</li>
<li>
6 tablespoons walnuts, chopped
</li>
<li>
1/2 cup honey
</li>
<li>
2 egg white
</li>
<li>
1/2 teaspoon vanilla
</li>
<li>
1/2 teaspoon cinnamon
</li>
<li>
dash salt
</li>
<li>
4 cups nonfat plain yogurt
</li>
<li>
4 cups berries, mixed
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine oats and walnuts in medium bowl.  Mix together honey, egg white, vanilla, cinnamon and salt in small bowl until well blended.  Add honey mixture to oats; stir until well blended.  Line 11X17 inch baking sheet with foil; spray with nonstick cooking spray.  Spread oat mixture in even layer on prepared baking sheet.  Bake at 325F 15-17 minutes or until golden tossing mixture 3-4 times during baking.  Remove from oven.  Cool completely until crisp and crunchy.  Serve over yogurt and berries.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: The National Honey Board
</p>
</body>
