<head>
<title>Gratin Potatoes</title>
</head>
<body>
<h1>Gratin Potatoes</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Rub pan with garlic and butter.  Thinly slice large russet potatoes with mandoline or with chef&#39;s knife.  Layer in circular fashion around 9&quot; pan plate (or if doing in hotel pan, overlap in rows).  S/p each layer.  Cover with cream just to cover and push down with hands.  Place in 325 oven for 15 minutes.  Remove from oven and press down again.  Bake about 1 1/2 hours until tender and golden brown on top.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Thomas Oden
</p>
</body>
