<h1>Gratin of Apples, Walnuts and Granola</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 apples, Golden Delicious
</li>
<li>
2 cups low fat granola
</li>
<li>
1/2 cup walnut pieces
</li>
<li>
4 tablespoons sugar
</li>
<li>
1/2 cup orange juice
</li>
<li>
8 tablespoons sour cream, or yogurt or whipped cream (garnish)
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat the oven to 400F.
</li>
<li>
Cut the apples in quarters, core and cut into 1&quot; pieces.
</li>
<li>
Thoroughly mix the apple pieces with the granola, walnuts, sugar and orange juice in a bowl and press the mixture lightly into a large gratin dish.  Bake for 1 hour until the apples are soft and the dessert is nicely browned on top.
</li>
<li>
Serve lukewarm or a room temperature with the cream or yogurt on top.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A simple and healthy, &quot;weekday&quot; dessert!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Jacque Pepin
</p>
</div></body>
