<h1>Greek Egg &amp; Lemon Soup (Avgolemono)</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 quarts chicken stock
</li>
<li>
1 cup rice
</li>
<li>
2 lemons, juice of, strained
</li>
<li>
6 large egg yolks
</li>
<li>
white pepper &amp; salt to taste
</li>
<li>
cream if desired
</li>
</ul>
<h2>Method</h2><ul>
<li>
Bring the stock to a boil.   Add rice and cook for about 20 minutes.
</li>
<li>
Whisk the juice with the egg yolks until slightly thickened.  Temper egg mixture with some of the stock.  Add slowly back into the simmering stock, stirring with a wooden spoon while doing this.  Cook until slightly thickened.  Season to taste.  Add cream if desired.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
