<h1>Green Bean Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 lbs. green beans
</li>
<li>
2 medium red onions
</li>
<li>
1 medium shallot, minced
</li>
<li>
2 cloves garlic, smashed and minced
</li>
<li>
1/2 large bunch fresh dill, chopped small
</li>
<li>
1/2 large bunch fresh Italian parsley, minced
</li>
<li>
1/2 teaspoon mustard seeds
</li>
<li>
1/4 cup red wine vinegar
</li>
<li>
1/3 cup extra virgin olive oil, or to taste
</li>
<li>
sprinkle of red pepper flakes, if desired
</li>
<li>
salt and pepper, to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cook beans in boiling salted water until cooked through but not soft.  Shock cold in ice water to stop cooking.  Strain.
</li>
<li>
Mix the green beans with the sliced onions.  Mix together the rest of the ingredients in a separate bowl with a whisk.  Taste for correct balance of acid and oil to your liking.  Pour over beans.  Serve at room temperature.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
