<head>
<title>Greek-Style Grilled Leg of Lamb</title>
</head>
<body>
<h1>Greek-Style Grilled Leg of Lamb</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 large garlic cloves
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1 teaspoon grated lemon peel
</li>
<li>
1 tablespoon fresh lemon juice
</li>
<li>
2 tablespoons minced fresh thyme
</li>
<li>
1 teaspoon fresh black pepper, ground
</li>
<li>
1/2 teaspoon ground allspice
</li>
<li>
7 pounds bone-in leg of lamb*, leaving a thin layer of fat
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mash the garlic with the salt to make a paste.  Mix together the paste, oil, lemon zest and juice, thyme, pepper and allspice.  Place lamb in ceramic dish.  With a pairing knife, make 1 1/2&quot; slits (2&quot; deep) all over the leg of lamb.  Reserve enough seasoning mixture to rub all over the lamb and push the rest into these slits.  Marinate lamb in the refrigerator all day or over night.  
</li>
<li>
Prepare the charcoal grill for indirect heat cooking over medium-high cooking.*  When the grill is ready, oil grill rack.  Place lamb over the spot where there are no coals and place the lid on top.  Cook until lamb temperature reaches 125F-130F for medium rare, about 1 1/4-1 1/2 hours.  To maintain heat, add about 2 cups of coals every 15 minutes.  Allow lamb to rest on heated platter, covered, at least 15 minutes before carving.
</li>
<li>
*Open vents on bottom of grill.  Light a large chimney starter full of charcoal.  When coals are lit, dump them along one side of the grill bottom, leaving about half of the grill free from charcoal.  When the charcoal turns grayish white (after about 15 minutes), the coals will be at it&#39;s hottest and begin to cool off.  Because in this recipe you want to hold the coals at a medium-hot stage for the duration of the cooking period (can hold your hand over the coals 3-4 seconds).  Check periodically to be sure coals are hot and add more charcoal every 15 minutes or so throughout the cooking period.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Adapted from Gourmet
</p>
</body>
