<h1>Greek Sweet Almond Braided Bread</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 envelopes dry yeast
</li>
<li>
1/4 cup warm water
</li>
<li>
1/2 cup water
</li>
<li>
1 tablespoon ouzo
</li>
<li>
1/2 teaspoon cinnamon
</li>
<li>
1/2 teaspoon anise seeds
</li>
<li>
1/2 teaspoon grated orange peel
</li>
<li>
1/2 cup scalded milk
</li>
<li>
1/4 lb. butter
</li>
<li>
1 cup sugar
</li>
<li>
1/2 teaspoon salt
</li>
<li>
6 cups flour
</li>
<li>
2 egg yolks, slightly beaten
</li>
<li>
1/2 cup sliced almonds
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Dissolve yeast in 1/4 cup water in large bowl.  Heat together 1/2 cup water, ouzo,
</li>
<li>
cinnamon, anise, and orange peel in small sauce pan over medium heat to boiling.  Cool slightly and reserve.
</li>
<li>
Heat togehter in small saucepan milk, butter, sugar, salt over low heat, stirring occasionally, until sugar dissolves, about 5 minutes.  Cool slightly.
</li>
<li>
Stir spice mixture and milk mixture into yeast; stir in flour gradually until dough cleans side of bowl.  Knead on floured surface until smooth and elastic, about 10 minutes.  Place in greased bowl and let rise until double, about 2 hours.
</li>
<li>
Punch down dough and knead lightly.  Divide dough in 6 parts and brad each of 3 parts.  Let rise 2 hours.  
</li>
<li>
Heat oven to 350.  Brush loaves with egg yolks and sprinkle with almonds.  Bake until brown, about 45 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : Fabulous served with cheese as a part of a dessert buffet!
</p>
<p>
SERVINGS: 2
</p>
<p>
SOURCE: Bon Appetit, 4/78
</p>
</div></body>
