<h1>Greek Sparkling Lemonade</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup sugar
</li>
<li>
1 cup water
</li>
<li>
1 piece lemon rind
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1 cup lemon juice
</li>
<li>
cold sparkling
</li>
<li>
thin lemon slices
</li>
<li>
mint
</li>
</ul>
<h2>Method</h2><ul>
<li>
Dissolve sugar, water and lemon rind over medium heat.  Add lemon juice. Cool in refrigerator.  Before serving, add cold sparkling,  lemon slices &amp; mint.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
