<h1>Green Beans</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. green beans, trimmed of root end 
</li>
<li>
1 shallot, minced
</li>
<li>
1 clove garlic, minced
</li>
<li>
1 tablespoon extra virgin olive oil
</li>
<li>
1 tablespoon butter
</li>
<li>
salt and pepper to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place green beans in boiling salted water and bring back to boil.  Cook about 2 minutes.  
</li>
<li>
Strain.  Place in cold water ice bath to stop cooking.  Strain again and place in paper towel lined bowl until ready for use.  This can be done early in the day and left on counter until ready to continue.
</li>
<li>
In heated saute pan, place olive oil and butter and melt.  Add shallot and garlic and cook about 30 seconds.  Add green beans, s/p to taste and sear briefly until heated through.  
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
</body>
