<h1>Green Salad with Apples &amp; Maple Walnut Dressing</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 cups greens
</li>
<li>
1 cup crisp apple, julienne cut
</li>
<li>
2 tablespoons cider vinegar
</li>
<li>
2 tablespoons maple syrup, 2
</li>
<li>
2 teaspoons whole grain Dijon mustard
</li>
<li>
1 1/2 teaspoons walnut oil
</li>
<li>
1/8 teaspoon salt
</li>
<li>
1/8 teaspoon ground red pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine salad greens and apple.  Combine vinegar, maple syrup, Dijon, and drizzle in walnut oil gradually while whisking.  Add salt and ground red pepper to taste.  Mix with greens.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Cooking Light, August 2005&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 1/4 cups&quot;
</p>
</body>
