<head>
<title>Greek Roast Leg of Lamb</title>
</head>
<body>
<h1>Greek Roast Leg of Lamb</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 lbs. boned and butterflied leg of lamb
</li>
<li>
4 cloves garlic, smashed and minced
</li>
<li>
1/2 cup extra virgin olive oil
</li>
<li>
1/2 cup lemon juice
</li>
<li>
2 teaspoons fresh oregano, minced
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
3 sprigs rosemary, leaves removed, chopped
</li>
<li>
1 teaspoon black pepper
</li>
<li>
1/2 cup hot water
</li>
</ul>
<h2>Method</h2><ul>
<li>
In a small bowl, mix together garlic, olive oil, lemon juice, oregano, salt, rosemary, black pepper.  Lay the butterflied lamb open and brush 1/2 of the mixture all over the piece of lamb.  Roll the butterflied lamb and tie.  Continue to brush1/2 of this  mixture all over the lamb.  Place in a pan and refrigerate for several hours.  Save the leftover mixture.
</li>
<li>
Uncover the lamb and place on the counter for about 1/2 hour.  Preheat the oven to 325F.  Roast the lamb for about 40 minutes.  Drain off the fat that accumulated in the pan and pour in the hot water.    Baste with the remaining mixture.  Continue to roast to an internal temperature of 140 for rare, basting about every 15 minutes until done.  Remove the lamb from the oven and set aside lightly covered for about 15 minutes before carving.  Skim the fat from the pan juices and serve the juices with the lamb.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
