<h1>Green Mexican Rice</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups cooked rice
</li>
<li>
2 anaheim chile
</li>
<li>
1 jalapeno
</li>
<li>
1/4 cup cilantro, chopped
</li>
<li>
4 green onions, chopped
</li>
<li>
2 tablespoons butter
</li>
<li>
2 tablespoons mint, chopped
</li>
<li>
splash of lime is delicious
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
In the processor finely chop chilies.  In a large skillet, melt butter and saute the chiles briefly.  Stir in the cilantro and oniona nd toss for 15 seconds more.  Add the mint (or oregano) and then rice.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;The Feast of Santa Fe&quot;
</p>
<p>
SERVINGS: 4
</p>
</div></body>
