<h1>Grilled Pork Chops</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 Pork Chop
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Turn on oven and grill as soon as arriving to kitchen.
</li>
<li>
2.  Mark (pg 237, Gisslen, for marking procedure, keeping in mind that only marking, and finishing in oven)  Pork Chop in diamond shapes on both sides. 
</li>
<li>
3.  Place in oven to finish to medium done...maybe 10 minutes??  Temperature should read about 120-130 for further cooking on plate to 150.  Some slight pink should still be visable upon cutting open.
</li>
<li>
4. Select small sauce to finish.
</li>
<li>
              Small Sauce = 1 qt. Demiglaze (the reduction of 1 qt. brown sauce and 1 qt. brown stock, reduce one half)  with added reduction of choice.
</li>
<li>
5.  Good choice of small sauce was Marsala:  Not classical recipe but Chef Klaus recommends that a little shallot, wine reduction take place before adding demiglaze.
</li>
<li>
Kristen and Charlotte&#39;s Marsala Small Sauce:  1 Tbsp. shallots cooked briefly in butter; deglazed with Marsala wine; 1 C demiglaze added and reduced to correct consistency (not too runny, so as to remain under pork chop on plate); season with s/p to taste.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Klaus Loos Class
</p>
</div></body>
