<head>
<title>Grilled Ginger-Lime Rock Cod in Banana Leaves</title>
</head>
<body>
<h1>Grilled Ginger-Lime Rock Cod in Banana Leaves</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 12 x 12&quot; frozen banana leaves, thawed
</li>
<li>
6 large green onions, julienned
</li>
<li>
16 tablespoons fresh ginger, peeled, julienned
</li>
<li>
16 double-leaf kaffir lime leaves
</li>
<li>
2 bounces fresh cilantro
</li>
<li>
8 6 ounce rock cod fillets
</li>
<li>
4 teaspoons sesame oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Blanc 1 banana leaf piece at a time  in large pot of boiling water for 1 minutes.  Place on paper towel on work surface.Place 1 rounded tablespoon of green onions, 1 tablespoon ginger strips, 1 lime leaf, 4 cilantro sprigs in center of banana leaf, forming a bed for the fish.  Sprinkle fish with salt and pepper and place on bedding of vegetables.  Sprinkle with 1/2 teaspoon sesame oil. and top with same amount of green onions, ginger, lime leaf and cilantro.  Fold bottom of banana leaf over fish; fold in sides and roll up, enclosing fish.  Wrap packet in foil.  (this can be made ahead the same day and refrigerated at this point).
</li>
<li>
Heat grill to medium high.  Grill foil packets until fish is just opague in center, about 6 minutes per side.  Remove foil and serve fish in leaves.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Adapted from Bon Appetit 2005&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
