<h1>Grilled Peaches with Arugula, Goat Cheese and Prosciutto</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/2 cup balsamic vinegar, reduced over low heat to half original volume
</li>
<li>
1/4 tablespoon honey
</li>
<li>
6 peaches, pitted and cut into 6 wedges each
</li>
<li>
cooking spray
</li>
<li>
2 tablespoons olive oil
</li>
<li>
fresh black pepper
</li>
<li>
kosher salt
</li>
<li>
20 ounces arugula
</li>
<li>
4 ounces prosciutto, cut into 1/4&quot; strips
</li>
<li>
1/4 cup goat cheese, crumbled
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cool reduced vinegar.  Prepare grill and bring to high heat.  Spray grill rack with cooking spray.  Grill 30 seconds on each side, until grill marks appear, but peaches are firm.  Set aside.
</li>
<li>
Whisk oil, s/p in large salad bowl.  Add arugula and toss.  Divide arugula between 12 plates.  Top with peach wedges and prosciutto.  Drizzle with balsamic and sprinkle with cheese.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Cooking Light
</p>
</div></body>
