<head>
<title>Grilled Chicken with Spicy Chile Verde</title>
</head>
<body>
<h1>Grilled Chicken with Spicy Chile Verde</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 chicken breast half
</li>
<li>
2 teaspoons Spice Mixture (below)
</li>
<li>
2 tablespoons olive oil
</li>
<li>
Spicy Chile Verde:
</li>
<li>
20 tomatillos, paper covering removed
</li>
<li>
3 jalapeno chile peppers
</li>
<li>
3 cloves garlic
</li>
<li>
1 large white onion, halved
</li>
<li>
2 bacon slices, cooked and crumbled.
</li>
<li>
1 bunch cilantro, chopped
</li>
<li>
1/2 cup chicken broth, or water, as needed
</li>
<li>
salt and pepper, to taste
</li>
<li>
Spice Mixture:
</li>
<li>
4 tablespoons ancho chile powder
</li>
<li>
2 tablespoons paprika
</li>
<li>
2 teaspoons pepper, freshly ground
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 teaspoon ground cumin
</li>
<li>
2 teaspoons dried Mexican oregano
</li>
<li>
2 teaspoons dry mustard
</li>
<li>
2 teaspoons ground coriander
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix together ingredients for Spice Mixture and put aside (leftover spice can be used in a variety of ways).
</li>
<li>
Make Spicy Chile Verde: Peel paper-like covering off of tomatillos.  Place tomatillos, chiles and onion on grill and grill all sides until slightly blackened all around.  Meanwhile, cook the bacon until crisp.  Pour bacon fat out of pan and put pan aside without cleaning. Put tomatillos, chiles, garlic, onion, cooked bacon and cilantro into food processor  and mix with chicken stock or water (will need to be done in batches).  Place in bacon saute pan and cook about 20 minutes adding more chicken stock to thin if necessary.  Sauce should be slightly chunky.
</li>
<li>
When sauce is complete and holding warm, heat grill pan to very hot.  Cover the chicken breasts with olive oil (don&#39;t place oil in grill pan) and sprinkle with about 1- 2 teaspoons of the Spice Mixture on the skin side.  When the grill is quite hot place the skin side down on the grill pan and mark and grill for about 4-5 minutes.  Sprinkle the unseasoned side with more seasoning.  Turn and cook remaining side for about 2 minutes.  Turn the heat down to medium and continue cooking for another 6-7 minutes until chicken is cooked through but not dry.  Remove to warm plate and cover with aluminum foil to keep warm and allow the juices to return to the center of the breast.  Serve with sauce, rice and salad.  Fabulous!
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a bright and fabulous tasting &quot;south of the border&quot;  dish. 
</p>
<p>
  Serve  cilantro and tomato rice and  a beautiful lime viniagrette
</p>
<p>
  green salad.&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Apple Charlotte Cooking &amp; Catering Co.
</p>
</body>
