<head>
<title>Grilled Tandoori Lamb</title>
</head>
<body>
<h1>Grilled Tandoori Lamb</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 tablespoons cumin seeds
</li>
<li>
3 teaspoons fennel seeds
</li>
<li>
3 teaspoons cardamom seeds
</li>
<li>
3/4 teaspoon whole black peppercorn
</li>
<li>
2 teaspoons crushed red pepper flakes
</li>
</ul>
<h2>Method</h2><ul>
<li>
8        tablespoons  canola oil
</li>
<li>
  3        tablespoons  fresh ginger -- minced
</li>
<li>
  8             cloves  garlic -- smashed/dragged
</li>
<li>
  1            5 pound  boneless leg of lamb -- butterflied
</li>
<li>
In dry skillet, roast the first four ingredients.  Pour out of pan and cool for a few minutes.  Add the red pepper flakes.  Grind in a spice grinder.
</li>
<li>
Transfer the above mixture to a bowl and add the oil ginger and garlic.
</li>
<li>
Rub the mixture all over the leg of lamb and cover and refrigerate for 3 hours.
</li>
<li>
Heat the grill to medium high heat.  Grill lamb for 25 minutes or so to medium rare (about 125-130F internal temperature).  Remove from grill and allow to rest before slicing.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
</body>
