<h1>Grilled Tri-Tip Steak</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 -3 1/2 pounds tri-tip beef, 1 1/2&quot; thick
</li>
<li>
Rub:
</li>
<li>
1 1/2 tablespoons cracked black pepper
</li>
<li>
3 teaspoons garlic salt
</li>
<li>
1 1/2 teaspoons dry mustard
</li>
<li>
1 1/2 teaspoons paprika
</li>
<li>
1/2 teaspoon cayenne pepper
</li>
<li>
Sauce:
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1 cup red onion, finely diced
</li>
<li>
2 teaspoons minced garlic
</li>
<li>
1 cup chicken stock
</li>
<li>
1/2 cup ketchup
</li>
<li>
1/2 cup steak sauce
</li>
<li>
2 tablespoons parsley, finely chopped
</li>
<li>
2 tablespoons Worcestershire sauce
</li>
<li>
1/2 teaspoon freshly ground black pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sauce:  Warm the olive oil in a medium sauce pan.  Add onion, garlic and cook until soft.  Add chicken stock, ketchup, steak sauce, parsley,  W. Sauce, coffee and pepper.  Bring to a boil and then turn down to simmer.  Reduce mixture to about 1 cup.  Allow to cool and refrigerate until ready to serve.  Return to warm temperature before serving.
</li>
<li>
Rub:  Mix ingredients and press onto the tri-tip.  Cover the steak with siran wrap and refrigerate for 3-24 hours.
</li>
<li>
Prepare a package of wood chips:  Place a cup of wood chips in a bowl of water about 30 minutes before you start the grill.  Drain the chips and place in an aluminum foil envelope that you make by folding aluminum foil over the chips to completely encase.  Poke holes in the envelope.
</li>
<li>
Over hot coals or on a hot grill, sear the meat for about 5 minutes on each side.  Change to indirect heat by moving the coals or turning off burners directly under the meat portion on the grill.  Continue to cook with the lid on for about 20-25 minutes until internal temperature is at about 125-130.
</li>
</ul>
<h2>Notes</h2><p>
Remove from the grill and place on a warm platter.  Cover with aluminum foil and allow to rest for about 5 minutes.  Cut thin slices across the grain and serve with the sauce.SOURCE: Adapte from Weber&#39;s Art of the Grill
</p>
</body>
