<h1>Grilled Fish Catch &amp; Sweet Potatoes with Tropical Fruit Salsa</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/2 lbs. Selection of desired firm-fleshed fish
</li>
<li>
filet, skin removed, and pin bones removed
</li>
<li>
olive oil, salt, pepper to taste
</li>
<li>
2 large sweet potatoes, or yams, peeled and sliced 1/4&quot; thick
</li>
<li>
1 pineapple, peeled and sliced 1/4&quot; thick
</li>
<li>
1 mango, peeled and sliced
</li>
<li>
1 papaya, peeled, seeded and sliced
</li>
<li>
3 kiwi fruit, peeled and sliced thick
</li>
<li>
red onion, chopped
</li>
<li>
1 lime, juiced
</li>
<li>
cilantro
</li>
<li>
3 jalapeno chiles, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut fish fillets in  1-1 1/2&quot; serving pieces.  Set aside in refrigerator until ready to grill.
</li>
<li>
Place cut up sweet potatoes or yams in a large bowl with about 1/2 cup water in the bottom.  Cover with clear plastic wrap and cook in the microwave for about 5-6 minutes; until firm but pierceable.  Take out and allow to cool briefly.  Pour about 1/4 cup olive oil over all and season with salt and pepper.
</li>
<li>
Chop the fruit in large pieces and place in bowl.  Add red onion, lime juice to taste, cilantro and chiles. Salt to taste.   Set aside.
</li>
<li>
Meanwhile heat grill pan either on outside grill or on stovetop.  When begins to smoke, it is ready.  Place the potatoes on one side of the grill pan, leaving room on the other half for the fish.  Cook until golden on one side and turn over.   
</li>
<li>
Remove the fish from the refrigerator and douse with a little olive oil, salt and pepper.  Place on hot grill, service side down (the pretty side).  Allow to cook on one side about 2-3 minutes, depending on the thickness of the fish.  Turn the fish over and cook briefly....another 2-3 minutes until cooked through but not overdone.
</li>
<li>
Remove fish to platter and rest for about 2 minutes while you take the potatoes and place on plates.
</li>
<li>
Add the fish to the plates and  top with the salsa.    Mmmmmmmm.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is the catch of the day easily cooked in the grill pan and
</p>
<p>
  topped with spicy grilled tropical fruits.....perfect for those busy
</p>
<p>
  summer days.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
