<h1>Grilled Stuffed Mushrooms</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 large portobello mushrooms
</li>
<li>
olive oil
</li>
<li>
8 thin onion slices, the size of the mushroom
</li>
<li>
8 slices mozzarella cheese, or soy mozzarella
</li>
<li>
basil
</li>
<li>
8 large tomato, sliced size of the mushroom
</li>
<li>
salt and freshly ground pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut the stalks out of the mushrooms.  Brush the mushrooms with the olive oil and place on a sheet pan.  Season with salt and pepper and drizzle oil into the gills.
</li>
<li>
Top with onion, cheese a basil leaf and a tomato slice.  Season with salt and pepper.  Sprinkle with finely chopped basil and drizzle with olive oil. 
</li>
<li>
Cook on a hot outdoor grill for about 15 minutes. Do not turn.  The mushrooms will soften and shrink slightly and the cheese will melt.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
