<h1>Grilled Tri-Tip or Sirloin </h1>
<h2>Ingredients</h2>
<ul>
<li>
3 - 3 1/2 pound tri-tip roast, or sirloin steak
</li>
<li>
Dry Rub for Grilling
</li>
<li>
Barbecue sauce
</li>
</ul>
<h2>Method</h2><ul>
<li>
Prepare a package of wood chips:  Place a cup of wood chips in a bowl of water about 30 minutes before you start the grill.  Drain the chips and place in an aluminum foil enveloope that you make by folding aluminum foil over the chips to completely encase.  Poke holes in the envelope.
</li>
<li>
Place the rub all over the roast.  Allow to rest in the frig for at least 3 hours or out of the frig for an hour.
</li>
<li>
Over hot coals or on a hot grill, sear the meat for about 5 minutes on each side.  Change to indirect heat by moving the meat and placing it over the &quot;no-coal&quot; side.  (You should build your coals on one side of the Weber so that you can sear directly over the hot coals {direct heat} and then move the meat over to the &quot;no-coal side {indirect heat}.
</li>
<li>
Continue to cook with the lid on for about 20-25 minutes for tri-tip or about 7-10 minutes for sirloin.  until the internal temperature is at about 125F-130F.
</li>
<li>
Remove the meat to a warm platter and cover with aluminum foil.
</li>
<li>
Slice thin and serve on buns with barbeque sauce.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Bruce Adell
</p>
</body>
