<h1>Grilled Spiced Chicken with Tomato &amp; Cilantro Salsa</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 -6 ounce portions chicken breast half without skin
</li>
<li>
Marinade:
</li>
<li>
1 tablespoon toasted coriander, ground
</li>
<li>
1 tablespoon toasted cumin, ground
</li>
<li>
1 1/2 tablespoons paprika
</li>
<li>
1 teaspoon freshly ground pepper
</li>
<li>
1 tablespoon garlic, minced
</li>
<li>
salt
</li>
<li>
Salsa:
</li>
<li>
2 tablespoons boiling water
</li>
<li>
4 tablespoons lime juice
</li>
<li>
1 tablespoon extra virgin olive oil
</li>
<li>
2 large tomatoes, peeled, seeded &amp; diced
</li>
<li>
1 medium sweet onion, peeled and diced
</li>
<li>
1/4 cup cilantro, chopped
</li>
<li>
whole cilantro for garnish
</li>
<li>
1 teaspoon olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the grill.
</li>
<li>
Make the marinade by combining the toasted and ground coriander, cumin, 1 tablespoon of paprika, black pepper, garlic and 
</li>
<li>
pinch of salt.  Pulse in a food processor until the mixture is fine and homogenized.  Lay the chicken breasts in a flat dish.  Rub the mixture over al surfaces of the chicken breasts and refrigerate at least 30 minutes to allow the flavors to combine.
</li>
<li>
Make the paprika mixture:  In a small bowl, combine the remaining paprika with 2 tablespoons of boiling water, mixing well to  combine.  Cover and allow the flavor to develop for about 5 minutes.  Stir in 3 tablespoons of the lime juice and the olive oil.
</li>
<li>
Make the salsa:  In a medium boil, combine the tomatoes, onion and cilantro.  Add the paprika mixture and stir to combine well.  Season to taste with salt and additional freshly ground pepper.  Refrigerate covered with plastic wrap until serving.
</li>
<li>
Raise the grill to the highest setting.  Brush the grill grate to insure it is clean (a top of the stove grill pan can be used here).
</li>
<li>
Moisten the chicken breast with about a 1/4 tsp. of olive oil each on both sides or spray the grill with non-stick spray.  Place the chicken breasts on the grill for about 5 minutes, cooking until golden.  Turn the chicken over and cover the pan with a lid.  Cook until done about 4-5 minutes (depending on the heat you can generate under the grill pan and the thickness of the breasts).  Transfer to clean plate and sprinkle with remaining lime juice.  Slice chicken into 1&quot; pieces on the bias and finish at 350F for 5 minutes (this can also be accomplished on top of the stove on the grill)  
</li>
<li>
Serve with small mounds of salsa and garnish with cilantro.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Here you utilize another big-flavor item with a &quot;rub&quot; creating a
</p>
<p>
  full-flavor delicious dish.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;6 ounce portions&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Jimmy Schmidt, Rattlesnake Grill in Detroit.....fat decreased for a healthier choice!
</p>
</body>
