<h1>Grilled Flat Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 package active dry yeast
</li>
<li>
2 1/3 warm water
</li>
<li>
1 2/3 cups whole wheat flour
</li>
<li>
1 teaspoon salt
</li>
<li>
3 tablespoons olive oil
</li>
<li>
4 1/2 cups all purpose flour, approximately
</li>
<li>
3/4 cup extra virgin olive oil
</li>
<li>
2 tablespoons dried oregano, crumbled
</li>
<li>
3/4 cup Italian parsley, minced
</li>
<li>
kosher salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Activate the yeast in 1 2/3 cups of the warm water in a large bowl of an electric mixer.  Allow to stand for about 5 minutes.  Gently mix in on low  speed the whole wheat flour, the remaining 2/3 cup water, salt, and the olive oil.   Add 1 1/2 cups all purpose flour and beat on low speed until the ingredients are moistened.  Increase the speed to medium and beat for 2 minutes or until the dough pulls away from the side of the bowl.  
</li>
<li>
Change mixer to dough hook (or continue by hand and knead) and slowly add in 3 cups of the remaining all purpose flour.  Knead with dough hook or by hand for about 8-10 minutes until the dough is smooth, adding a little more flour, if necessary, to keep the dough from being sticky.
</li>
<li>
Place the dough in a greased bowl, turning to grease the top.  Cover the bowl with plastic wrap and allow to stand until doubled, about 1 1/2 - 2 hours.  
</li>
<li>
Turn the dough out onto a lightly flored surface and knead it briefly.  Cut the dough into 6 equal pieces.  Work with one piece of dough at a time, keeping the remaining pieces tightly covered.  
</li>
<li>
On a floured surface, roll each piece of dought into a ball and then roll the ball into a 10 inch circle with a rolling pin.  Brush one side with about 1 tablespoon of the extra virgin olive oil, then sprinkle with 1/2 teaspoon of the oregano, 1 tablespoon of the parsley and korsher salt to taste, lightly pressing the seasoning into dough.  Turn the dough over onto a piece of aluminum foil and repeat brushing with olive oil and seasoning on the other side.  
</li>
<li>
Place the dough round, foil side down, on a baking sheet.  Repeat the rolling and seasoning with the remaining dough pieces, stacking the rounds on top of one another separated by the foil.  If not grilling (or baking) immediately, cover and refrigerate for up to 3 hours.
</li>
<li>
Preheat a charcoal grill.  When the coals are covered with gray ash, spread them into an even layer.  Set the grid about 3-4 inces above the coals for medium-high heat.  Using the foil to assist, fllip one round of bread onto the grid and peel off the foil.  Grill for about 2-3 minutes per side, turning once with a spatula, until the bread is lightly flecked with brown on both sides.
</li>
<li>
To grill in the oven, preheat the oven to 450F.  Set the oven rack at the lowest position.  Flip 2 bread rounds onto the hot rack and bake for 5 minutes; turn and bake 3 minutes longer.  Repeat with the remaining rounds.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This fabulous bread can be cooked in the oven or over a charcoal
</p>
<p>
  fire.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;The Periyali Cookbook:  New Classic Greek Cooking&quot;
</p>
<p>
SERVINGS: 6
</p>
</body>
