<h1>Grilled Summer Fruit</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Selected summer or tropical fruit:
</li>
<li>
peaches, apricots, pineapple, mango,
</li>
<li>
bananas, etc., Sliced in large pieces.
</li>
<li>
Vegetable oil, brushed on lightly
</li>
<li>
Honey to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat grill or grill pan until quite hot.    Place fruit on grill and cook until caramelized and hot but not until mushy.  
</li>
<li>
Place in service dish or bowl and top with ice cream or sorbet and fresh mint.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is an easy and fast dessert for a gang....Yes you can do it
</p>
<p>
  ahead and serve it room temp (or reheat it quickly in the microwave)
</p>
<p>
  but the fun is pulling it hot off the grill and serving with ice cream
</p>
<p>
  or sorbet.&quot;
</p>
</div></body>
