<h1>Grilled Ramekin Eggs</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 large eggs
</li>
<li>
olive oil spray
</li>
<li>
salt and pepper
</li>
<li>
chives, minced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Spray ramekins with olive oil spray.  Bread an egg into each ramekin (two eggs can be done at once in each ramekin).  Sprinkle with salt and pepper.  Place ramekin on pan for stability and place in grill.  Close cover and grill for about 10-12 minutes.   Top with minced chives and serve in ramekins. 
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;These are very pretty and fun around the outside grill on a sunny
</p>
<p>
  Summer morning!&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
