<head>
<title>Grilled Indian Shrimp with Mango Chutney &amp; Pappadams</title>
</head>
<body>
<h1>Grilled Indian Shrimp with Mango Chutney &amp; Pappadams</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. large shrimp
</li>
<li>
salt
</li>
<li>
freshly ground black pepper
</li>
<li>
1/2 teaspoon ground turmeric
</li>
<li>
1/4 teaspoon cayenne
</li>
<li>
1 teaspoon store-bought garam masala
</li>
<li>
3 tablespoons melted butter or canola oil
</li>
<li>
Mango Chutney, or any fruit variation
</li>
<li>
lemon wedges
</li>
</ul>
<h2>Method</h2><ul>
<li>
Spread the shrimp out in a single layer on a sheet pan.  Sprinkle with salt and then with black pepper, turmeric, cayenne and garam masala.  Set aside for 15 minutes.
</li>
<li>
Preheat the grill.
</li>
<li>
Dribble the butter or oil over the shrimp and grill until they begin to turn pink.  Turn over and cook until starting to brown.  Brush with chutney and warm through. Serve hot with lemon wedges and Pappadams.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
