<h1>Grilled Scallop &amp; Asparagus Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Salad Dressing:
</li>
<li>
3 tablespoons balsamic vinegar
</li>
<li>
1 1/2 tablespoons soy sauce
</li>
<li>
1 shallot, minced
</li>
<li>
2 cloves garlic, smashed/dragged/minced
</li>
<li>
1 1/2 teaspoons fresh ginger, smashed/dragged/minced
</li>
<li>
3/4 teaspoon sesame oil
</li>
<li>
1/3 cup canola oil
</li>
<li>
Salad:
</li>
<li>
60 large scallops, remove connective muscle
</li>
<li>
canola oil
</li>
<li>
1 teaspoon sesame oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
2             pounds  asparagus, thin -- ends cut
</li>
<li>
                        salad greens
</li>
<li>
                        cilantro leaves, whole
</li>
<li>
Combine dressing ingredients.
</li>
<li>
Combine scallops with a little oil, sesame oil.  Leave aside for 20 minutes.
</li>
<li>
Brush asparagus with oil.  Grill asparagus and scallops until asparagus is brown and crisp tender and scallops are just firm.  Turn occasionally.  Transfer to plate when done.  Drizzle with salad dressing.
</li>
<li>
Mix greens and cilantro and add dressing.  Divide between serving plates; add asparagus and scallops.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
</div></body>
