<h1>Grilled Fresh Trout</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 medium trout
</li>
<li>
olive oil spray
</li>
<li>
salt and pepper, or seasonings of choice
</li>
<li>
3 large lemons, sliced thin
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Make tin foil &quot;boats&quot; and place a trout into each one.  Spray inside of fish with olive oil spray and season with salt and pepper.  Place sliced lemons inside the fish.  Place in preheated outside grill, cover down and grill for 12-15 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is great fun for the &quot;backyard campout&quot; kids.   They will love
</p>
<p>
  it!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
