<h1>Grilled Miso Chicken</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 tablespoons light soy sauce
</li>
<li>
1/2 cup mirin or sake
</li>
<li>
2 tablespoons light miso
</li>
<li>
2 tablespoons tahini
</li>
<li>
2 green onions, finely chopped
</li>
<li>
2 tablespoons cilantro, chopped
</li>
<li>
2 tablespoons fresh ginger, peeled, minced
</li>
<li>
2 teaspoons garlic, minced
</li>
<li>
8 halves boneless chicken breasts
</li>
<li>
1/4 cup cilantro, chopped
</li>
<li>
2 teaspoons toasted sesame seeds
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Marinade:  Combine soy sauce, mirin, miso, tahini, green onion, cilantro, ginger, and garlic in  mixing bowl.  You will have about 1 cup of marinade.  Coat chicken with mixture and marinate for 1 hour or overnight.  
</li>
<li>
Preheat outdoor grill.  Remove chicken from marinade and place marinade in small saucepan.  Bring to a boil, reduce heat and allow to simmer.
</li>
<li>
Blot excess marinade from chicken.  Grill chicken, basting with cooked marinade.  Cook about 3-4 minutes per side, depending on thickness.  
</li>
<li>
Garnish with cilantro and sesame seeds.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Cheryl Foberg, R.D.
</p>
</div></body>
