<h1>Grilled Salmon with Herby Vinaigrette</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 6 ounce portions salmon fillet, skinned, pin bones removed, cut into equal portions
</li>
<li>
3 tablespoons lemon vinaigrette
</li>
<li>
fresh herbs: choose from chives,
</li>
<li>
tarragon, chervil, dill, fennel ferns,
</li>
<li>
mint....depending on your choice of fish.
</li>
<li>
8 tablespoons lemon vinaigrette
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat a grill pan.  While the pan is heating, place the vinaigrette on both sides of the salmon.  Place the salmon on the hot grill at 10 o&#39;clock position....the pan should sizzle.  Cook in this position for about 2 minutes.  Move the piece carefully on the same side to the 2 o&#39;clock position and cook another 2 minutes.  The piece should be nicely marked on this side with a cross hatch.
</li>
<li>
Turn the salmon over and cook at the 10 o&#39;clock position for about 2 minutes.  Again move to the 2 o&#39;clock position and turn the fire down and cook until cooked through.  The salmon should remain pink inside.  The grill pan produces a crunchy outside with a succulent inside.  
</li>
<li>
While the salmon is finishing, add your selected herb(s) to the viniagrettte.  Whisk and taste to correct seasoning for your fish if necessary.  Place the cooked fish on the plate and top with about a tablespoon more per portion of vinaigrette and garnish with additional herb.
</li>
<li>
* You will need to add 70 calories per portion for low-fat vinaigrette when looking at the nutritional information.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Using your low-fat vinaigrette....adding a fresh herb or
</p>
<p>
  two....create a lovely, full-flavored dinner fit for company.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;6 ounces&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
