<head>
<title>Grilled Vegetable with Miso Glaze</title>
</head>
<body>
<h1>Grilled Vegetable with Miso Glaze</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup Japanese soup stock (dashi)
</li>
<li>
3 tablespoons sweet cooking rice wine (mirin)
</li>
<li>
2 tablespoons sugar
</li>
<li>
1 tablespoon soy sauce
</li>
<li>
2 tablespoons red miso
</li>
<li>
1 tablespoon cooking oil
</li>
<li>
1 tablespoon sesame oil
</li>
<li>
2 Asian eggplants, about 5&quot; long
</li>
<li>
2 zucchini, about 5&quot; long
</li>
<li>
1 medium onion
</li>
<li>
8 fresh shitake mushrooms
</li>
<li>
1 teaspoon white sesame seeds
</li>
</ul>
<h2>Method</h2><ul>
<li>
Getting Ready:
</li>
<li>
1.  In a small pan, heat dashi, mirin, sugar and soy sauce over medium heat just until sugar dissolves.  Remove from heat and whisk in miso until sauce is smoothly blended.
</li>
<li>
2.  Combine cooking oil and sesame oil in a small bowl.
</li>
<li>
3.  Cut eggplants and zucchini diagonally to make ovals about 1/4&quot; thick and 3 inches long.  Cut onion in half lengthwise, then cut crosswise into 1/4&quot; slices.  With a wooden pick, skewereach slice to keep rings together.  Discard mushroom stems.
</li>
<li>
4.  Place sesame seeds in a small frying pan over medium heat; cook, shaking pan frequently, until lightly browned, 3-4 minutes.  Immediately remove from pan to cool.
</li>
<li>
Cooking:
</li>
<li>
1.  Heat a Japanese iron griddle (teppan) or wide frying pan over medium heat.  Brush hot griddle with some of the oil. Place vegetables on griddle and brush with oi8l  Cook, turing once and brushing again with oil, until vegetables are tender, about 3 minutes on each side.
</li>
<li>
2.  Reduce heat to low.  Brush half of miso glaze on vegetables and cook for 30 seconds.  Turn vegetable, brush with remaining glaze, and cook 30 seconds longer.  Place on serving plate and sprinkle with sesame seeds.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Martin Yan
</p>
</body>
