<head>
<title>Grilled Chipolte Shrimp</title>
</head>
<body>
<h1>Grilled Chipolte Shrimp</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. medium shrimp, peeled and deveined
</li>
<li>
2 tablespoons canola oil, more or less
</li>
<li>
1/2 lime, juiced
</li>
<li>
1 dried chipolte chile, ground fine
</li>
<li>
1/4 teaspoon garlic powder
</li>
<li>
1/8 teaspoon cumin powder
</li>
<li>
salt to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
After cleaning shrimp, dry with paper towels.  Place shrimp in bowl and cover with oil and lime juice.    Mix together the rest of the ingredients.  Taste for balance; season more or less chile and salt to taste.  Sprinkle on shrimp.  Mix gently.  Allow to sit for a few minutes.  Meanwhile heat grill pan to hot.  Place shrimp on grill pan and leave until one side is cooked.  Turn over and cook another minute or two.  Will only take about 3-5 minutes (depending on heat).  Serve with salad or with Goat Cheese Avocado.....wonderful.  
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Spicy, smokey and fabulous served with Goat Cheese Avocado&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
