<h1>Grilled Naan</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/4 cups semolina flour
</li>
<li>
1 1/2 teaspoons baking powder
</li>
<li>
1/2 teaspoon salt
</li>
<li>
6 tablespoons nonfat yogurt
</li>
<li>
2 tablespoons oil
</li>
<li>
3 egg whites
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sift the flour, baking powder and 1/2 of the salt into the bowl of an electric mixer fitted with a dough hook.  Add 2 tablespoons of the yogurt, the oil and the egg white.  Mix at medium speed, adding a little warm water if necessary to make a soft pliable dough.  Continue to knead the dough at medium speed for 3 minutes, scraping down the sides of the mixer bowl as needed.
</li>
<li>
Spray a large bowl with nonstick spray; put the dough in the bowl.  Cover loosely with plastic wrap and set aside in a warm spot for about 2-3 hours.
</li>
<li>
Spray the grill rack with nonstick spray.  Deflate the naan dough, knead briefly and divide it into 12 equal pieces.  Pull each piece of dough into a 6&quot; long teardrop shape.  Grill the dough 5&quot; from the heat until browned and slightly puffy, about 2 minutes per side.  Serve warm.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Great Cooking Every Day&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Culinary Institute of America
</p>
</body>
