<head>
<title>Grilled Salmon</title>
</head>
<body>
<h1>Grilled Salmon</h1>
<h2>Ingredients</h2>
<ul>
<li>
7 cups water
</li>
<li>
1/2 cup salt
</li>
<li>
1/2 cup maple syrup
</li>
<li>
2 1/2 pounds salmon fillet, skined and cut into portion sizes
</li>
<li>
salt &amp; pepper to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
 Mix water, salt and maple syrup  to dissolve.  Place salmon fillet into the mixture and brine for at least 30 minutes up to 6 hours.  
</li>
<li>
Remove from brine and dry off with paper towels.  Heat grill to smoking hot (inside grill pan or outside grill).  Place salmon on grill pan and cook approximately 3 minutes per side (a little more if thick, a little less if thin).  Remove to hot platter or warmed plates.  
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Apple Charlotte
</p>
</body>
