<head>
<title>Gruyere Crepes with Fruit Topping</title>
</head>
<body>
<h1>Gruyere Crepes with Fruit Topping</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 recipe Buckwheat French Crepes
</li>
<li>
1 1/2 cups grated Gruyere cheese
</li>
<li>
2 tablespoons butter
</li>
<li>
fruit topping of your choice*
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 375F.
</li>
<li>
Select an oven-proof pan for the crepes.  An au-gratin pan works nicely for this.
</li>
<li>
In the pan, lay out the crepe, fill with a small handful of grated cheese in the center of the left bottom quadrant of crepe.  Fold over the top half the crepe toward yourself, and then the right quadrant toward your left.  You should end up with a pretty little folded triangle (or &quot;hankerchief&quot;.  Continue to do this all around the pan, overlapping slightly, and keeping them all in the same direction.  After going around the outside of the pan, fill in the middle.  
</li>
<li>
Place in the oven, uncovered,  for about 8-10 minutes until cheese is melted.  
</li>
<li>
Place two crepe bundles on a plate, overlapping slightly.  Serve with your choice of fruit topping.
</li>
</ul>
<h2>Notes</h2><p>
*These can be topped with:  poached pear slices; fruit compote; apples slices cooked with orange marmelade; poached plums; cranberry compote;  or any other fruit combination your mind conjures up!!SOURCE: Apple Charlotte
</p>
</body>
