<h1>Gruyere Cheese Fritters</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 large egg white
</li>
<li>
1 lb. Gruyeye cheese, grated
</li>
<li>
2 tablespoons parsley, chopped
</li>
<li>
1/4 teaspoon grated nutmeg
</li>
<li>
1/2 teaspoon paprika
</li>
<li>
1/4 cup flour
</li>
<li>
1 large egg
</li>
<li>
2 tablespoons milk
</li>
<li>
3/4 cup breadcrumbs
</li>
<li>
oil for deep frying
</li>
</ul>
<h2>Method</h2><ul>
<li>
Whisk egg white until foamy.  With hands, mix in cheese, parsley, nutmeg and paprika until well blended.  Chill 2-3 hours.
</li>
<li>
Mix together flour, egg and milk.  Shape cheese mixture into 1&quot; balls and dip in egg mixture, then in breadcrumbs.  Refrigerate overnight.
</li>
<li>
Heat oil to 350F.  Fry balls approximately 3-5 minutes.  Drain on paper towels; serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;2 each&quot;
</p>
<p>
SERVINGS: 20
</p>
<p>
SOURCE: Old Bridge Hotel, Huntingdon Cambridgeshire, England
</p>
</body>
