<h1>Guacamole</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 large avocados, peeled and mashed
</li>
<li>
2 limes, juiced
</li>
<li>
1/2 red onion, chopped fine
</li>
<li>
1 ripe tomato, seeded and chopped
</li>
<li>
salt, to taste
</li>
<li>
handful fresh cilantro, chopped
</li>
<li>
1/2 cup sour cream, optional
</li>
<li>
1 medium jalapeno (or to taste), minced
</li>
<li>
1 teaspoon tabasco sauce, or to taste
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
