<head>
<title>Guinness Beef Stew</title>
</head>
<body>
<h1>Guinness Beef Stew</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 lb. bacon, sliced into 1/2&quot; slices
</li>
<li>
4 lbs. beef chuck, cut into 2-3&quot; chunks
</li>
<li>
olive oil
</li>
<li>
flour
</li>
<li>
8 large yellow onions, sliced
</li>
<li>
3 large carrots, small dice
</li>
<li>
1/2 teaspoon ground ginger
</li>
<li>
4 cloves garlic, sliced
</li>
<li>
2 tablespoons molasses
</li>
<li>
8 ounces Guinness stout
</li>
<li>
3 cups beef stock
</li>
<li>
bouquet garni, parsley stems, bay leaves, fresh thyme
</li>
<li>
1 lemon rind strip
</li>
<li>
8 large carrots, cut into large chunks
</li>
<li>
2 tablespoons unsalted butter
</li>
<li>
salt/pepper -- to taste
</li>
<li>
1/2 teaspoon sugar
</li>
<li>
minced fresh parsley
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 325F.  Dust the beef with flour and saute in olive oil in a large skillet until brown on both sides.  May have to be completed in batches.  Reserve.
</li>
<li>
Saute the onions &amp; carrots  in the same pan until they start browning.  Add the garlic and cook briefly.  Transfer the meat and vegetables to braising pan alternating in layers.  Season with salt and pepper each layer.  
</li>
<li>
Mix the ginger, molasses and the stout and pour over the meat mixuture.  Reduce over high heat until reduced by half.  Add enough stock to cover meat and bring to a boil.  Add bouquet garni and lemon rind.  Cover with parchment paper, aluminum foil and lid.  Braise for about 1 1/2 - 2 hours unitl skewered easily.
</li>
<li>
Meanwhile, cook large chunks of carrots in boiling water until cooked through.  Shock in ice water to cool and set aside.
</li>
<li>
About 15 minutes before stew is done cooking, heat butter in non-stick saute pan.  Add carrots, s/p and sugar.  Toss to coat and allow to heat through, caramelizing slightly, if desired.
</li>
<li>
After stew is cooked through, spoon off any fat that has risen to the top.  Taste and correct seasoning.
</li>
<li>
Serve stew with large, cooked carrots and minced parsley.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: An Irish Tradition!
</p>
</body>
