<head>
<title>Guiso de Puerco </title>
</head>
<body>
<h1>Guiso de Puerco </h1>
<h2>Ingredients</h2>
<ul>
<li>
6 pounds country style spareribs, Cut into 20 portions
</li>
<li>
1 1/2 tablespoons salt
</li>
<li>
10 peppercorns
</li>
<li>
4 cloves garlic, peeled and broken
</li>
<li>
1 onion, sliced
</li>
<li>
cold water to cover
</li>
<li>
1/4 cup lard
</li>
<li>
2 medium onions, thinly sliced
</li>
<li>
6 cloves garlic, peeled and sliced
</li>
<li>
2 large cans tomatoes, diced
</li>
<li>
2 pineapples, sliced into 1 1/2 thick
</li>
<li>
2 large bananas
</li>
<li>
1/4 large bunch parsley 
</li>
<li>
1/2 teaspoon Mexican oregano
</li>
<li>
2 heaping tablespoons slivered almonds
</li>
<li>
1/4 cup raisins
</li>
<li>
3 tablespoons granulated sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
1 1/2   teaspoon salt
</li>
<li>
2	sticks cinnamon
</li>
<li>
6     whole cloves
</li>
<li>
6	 serrano chiles, whole
</li>
<li>
15	 green olives
</li>
<li>
2-2 1/2 cups reserved meat broth, approximately
</li>
<li>
salt to taste
</li>
<li>
Place meat together with salt, peppercorns, broken garlic and sliced onion in pot.  Cover with cold water and bring to a boil.  Simmer until meat is tender, about 40 minutes.  Put aside to cool.
</li>
<li>
Melt the lard in a large stewing pot.  Cook onion and garlic until soft.  Do not brown.
</li>
<li>
Puree the tomatoes in a food processor.  Add to onions and garlic and cook over high heat until reduced and thickened, about 15 minutes.
</li>
<li>
Peel the pineapple and slice.  Peel the bananas and cut into large hunks.  Add with the rest of the ingredients and cool over medium high heat for 15 minutes until slightly thickened and nicely seasoned.
</li>
<li>
Remove the meat from the broth with a large slotted spoon.  Add to the sauce and cook another 15 minutes over low heat.  Add salt to taste if necessary.  Add a little broth if the sauce is looking a bit dry.  Serve with tortillas or rice or both.  
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Adapted from Diana Kennedy
</p>
</body>
