<h1>Halibut Filet &amp; Cheeks</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Halibut Filet, cut into diamonds
</li>
<li>
Halibut Cheeks, cut in half
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Saute the filets in clarified butter, s/p to golden on each side.  Finish in oven about 5 minutes.
</li>
<li>
Flour, egg, flour cheeks and deep fry to completion about 3-4 minutes.
</li>
<li>
Serve with diamond and half cheek on plate with puree and lemon beurre blanc.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : For different textures, Franco sauteed the filet and deep fried the cheeks.  It is served with Puree of Peas &amp; Lemon Beurre Blanc.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Franco Dunn, Jordan Winery
</p>
</div></body>
