<head>
<title>Ham &amp; Scalloped Potatoes</title>
</head>
<body>
<h1>Ham &amp; Scalloped Potatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 red potatoes, cooked in skins
</li>
<li>
2 cups ham, cubed
</li>
<li>
1/2 bunch chives, chopped
</li>
<li>
1 pint whipping cream
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
After cooking red potatoes, remove skin and cut into large dice.  Mix with ham, chives and s/p and place in large au gratin dish.  Pour whipping cream over and place in 400F oven for 30-40 minutes until bubbly and brown and some of cream has been asorbed.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A fabulous and rich addition to any meal...wonderful as a brunch
</p>
<p>
  item.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
