<h1>Harissa</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons hot Hungarian paprika
</li>
<li>
2 teaspoons crushed red pepper flakes
</li>
<li>
1 teaspoon cumin, ground
</li>
<li>
1 teaspoon coriander, ground
</li>
<li>
1 teaspoon fennel seeds, ground
</li>
<li>
2 teaspoons salt
</li>
<li>
1 teaspoon freshly ground black pepper
</li>
<li>
2 tablespoons red wine vinegar
</li>
<li>
4 tablespoons olive oil
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Mix all the spices.  Drizzle in the vinegar to make a paste.  Add olive oil and stir well.  Can be stored in the frig for up to 2 weeks.SOURCE: Adapted from Bruce Adell
</p>
</body>
