<h1>Hazelnut Chocolate Fudge</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup sweetened condensed milk
</li>
<li>
1 pound bittersweet chocolate, coarsely chopped
</li>
<li>
1 tablespoon vanilla
</li>
<li>
2 cups hazelnuts, toasted and skinned
</li>
</ul>
<h2>Method</h2><ul>
<li>
In the top of a double boiler, combine milk chocolate and vanilla.  Melt over water, making sure the bottom of the pot (or metal bowl) does not touch the hot water below or that the mixture does not get too hot.   Stir until smooth.  Stir in hazelnuts and spread in buttered 9x9&quot; pan.  Allow to harden about 2 hours and cut into 1x1&quot; pieces.
</li>
</ul>
<h2>Notes</h2><p>
Store in airtight container at room temperature.SOURCE: Adapted from Emily Luchetti
</p>
</body>
