<head>
<title>Hazel&#39;s Piecrust</title>
</head>
<body>
<h1>Hazel&#39;s Piecrust</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups shortening
</li>
<li>
3 cups flour
</li>
<li>
1 teaspoon salt
</li>
<li>
1/2 cup flour
</li>
<li>
1/2 cup water
</li>
</ul>
<h2>Method</h2><ul>
<li>
Blend flour and shortening like peas.  Make a well in center.  Mix the 1/2 water and flour together and pour into the well.  Work into the rest of the mixture.
</li>
<li>
Chill.  Freezes well for future use.  
</li>
<li>
Roll between two pieces of wax paper.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;From a dear student of mine....she offers this great alternative
</p>
<p>
  method for making a pie crust!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;4 single crusts&quot;
</p>
</body>
