<h1>Herb-Marinated Goat Cheese</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 ounces goat cheese
</li>
<li>
4 cloves garlic, minced
</li>
<li>
3 tablespoons olive oil
</li>
<li>
2 fingers rosemary, minced
</li>
<li>
6 sprigs thyme
</li>
<li>
freshly ground pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut cheese into 12 1/2 ounce serving pieces.  Place in bowl large enough to hold in one layer.  Mix the garlic and olive oil.  Scatter the thyme over the cheese and cover with the olive oil and garlic.  Cover and allow to macerate at least 2 hours before serving.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a fabulous item to keep around for those summer drop in
</p>
<p>
  visits.&quot;
</p>
<p>
SERVINGS: 12
</p>
</body>
