<h1>Herb-Wrapped Filet of Beef</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 4 pounds beef filet, wrapped in fat, tied very loosely
</li>
<li>
1 bunch fresh rosemary
</li>
<li>
1 bunch fresh thyme
</li>
<li>
1 bunch fresh oregano
</li>
<li>
3 cloves garlic, cut into thin slices
</li>
<li>
Salt &amp; freshly ground black pepper,
</li>
<li>
to taste
</li>
<li>
2 teaspoons Italian parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 425 degrees.
</li>
<li>
Untie the string and carefully insert the rosemary, thyme, an oregano lengthwise under the fat all around the filet.  Retie the string, snugly this time.
</li>
<li>
With the tip of a sharp knife, cut slits through the fat into the meat just large enough for the garlic slivers.  Insert a sliver in each slit.  Sprinkle the meat generously with salt and pepper to taste.
</li>
<li>
Place the filet, fat side up, in a shallow roasting pan just large enough to hold it comfortably.
</li>
<li>
Bake 10 minutes.  Reduce the heat to 350 degrees and bake 20-25 minutes longer for rare (120 F on a meat thermometer) or 35 minutes longer for medium (130 F on meat thermometer).
</li>
<li>
Remove the roast from the oven and let stand 10 minutes before slicing.  Remove and discar the fat, string, and herbs and cut into thin slices.  Garnish with parsley.  Serve hot or at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Serve with Horseradish Sauce &amp; Roasted Garlic-Mint RedsNOTES : This is an elegant and wonderful dish for a group and really doesn&#39;t require a great deal of attention other than to watch the time for desired doneness.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Silver Palate Cookbook
</p>
</body>
