<h1>Herb Roasted Baby Back Ribs</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 lbs. baby back ribs
</li>
<li>
1 cup olive oil
</li>
<li>
6 cloves garlic, smashed and minced
</li>
<li>
fresh rosemary
</li>
<li>
fresh sage
</li>
<li>
fresh thyme
</li>
<li>
Italian parsley
</li>
<li>
(any herb combination you enjoy)
</li>
<li>
Sauce (optional):
</li>
<li>
shallot, minced
</li>
<li>
garlic, smashed and minced
</li>
<li>
red wine
</li>
<li>
demi glace or beef stock
</li>
<li>
butter
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  If the racks are longer than a receptacle that you may have for holding, cut them into halves or thirds.
</li>
<li>
2.  Cut the garlic and herbs into small pieces and mix altogether with the olive oil.
</li>
<li>
3.  Spread this mixture all over the  meat and place in a rectangular cake pan or lasagna pan and cover with siran wrap.  Marinate a minimum of 30 minutes and up to overnight.
</li>
<li>
4.  Uncover the ribs and wipe the large pieces of herbs/garlic from the piece of meat.
</li>
<li>
Reserve the marinade and herbs.
</li>
<li>
5.  Place the meat in a large saute hot saute pan to sear on both sides until brown and smelling heavenly; about 5 minutes or less on each side.  Return the reserved marinade and herbs to this pan.
</li>
<li>
6.  Cover the pan with aluminum foil and place in oven for 1/2 hour.
</li>
<li>
7.  Take pan out of the oven, uncover, and turn ribs over for another 30 minutes.
</li>
<li>
8.  The last 5 minutes uncover and allow to finish.  Be careful not to dry out here....may be just about done.
</li>
<li>
9.  Take the ribs out of the pan and place on a warm platter and cover with aluminum to keep warm.
</li>
<li>
10.  Meanwhile, degrease pan, reserving about 1 tablespoon of fat and saving the good particles at the bottom at the bottom of the pan.
</li>
<li>
11.  Add the shallot and garlic to the pan.  Sweat for a minute or two.
</li>
<li>
12.  Add the red wine, just covering the bottom of the pan up about 1 inch.  Allow to reduce until almost gone to about 1/4 inch.
</li>
<li>
13.  Add demi glace or beef stock to  taste desired....you would use much less demiglace than beef stock as it is more concentrated.
</li>
<li>
14.  Bring to correct consistency and strain.  Return the sauce to the pan.  Add about one tablespoon cold butter over moderate heat, whisking in to thicken slightly.
</li>
<li>
15.  Salt and pepper to taste.  Serve with ribs.....yum.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : This is a dish that only takes an hour to roast...marinate in the morning or night before, come home, throw in oven  with some roasted reds, add a vegetable or fresh salad and you have a fabulous dinner.......while you&#39;re at it, double the recipe and your family can enjoy it again the next night.  Believe me, there will be NO complaints, if it all lasts that long!
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
