<head>
<title>Hide &amp; Seek Muffins</title>
</head>
<body>
<h1>Hide &amp; Seek Muffins</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
RECIPE INGREDIENTS
</li>
<li>
2 eggs
</li>
<li>
1 cup milk
</li>
<li>
1/2 teaspoon vanilla
</li>
<li>
4 tablespoons melted butter
</li>
<li>
12 medium-sized strawberries
</li>
<li>
2 to 3 tablespoons sugar for the strawberries
</li>
<li>
Muffin Mix
</li>
<li>
1 1/2 cups flour
</li>
<li>
2 teaspoons baking powder
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1/4 cup sugar
</li>
<li>
DIRECTIONS
</li>
<li>
1) Preliminary: Grown-up assembles mix in medium-sized bowl and melts butter.
</li>
<li>
2) Preheat oven to 375 degrees F. Put muffin papers into the baking pan.
</li>
<li>
3) Break the eggs into the other bowl.
</li>
<li>
4) Add the milk, vanilla, and melted butter, and whisk about 20 times.
</li>
<li>
5) Pour the milk mixture into the flour mixture. Mix with the spoon &quot;until the flour is all gone.&quot;
</li>
<li>
6) Use a 1/4-cup measure with a handle to fill the muffin papers halfway.
</li>
<li>
7) Roll each strawberry in a little sugar, and put one in the center of each muffin, pushing it down with your finger.
</li>
<li>
8) Bake 15 to 20 minutes, or until a toothpick inserted all the way down comes out clean. Remove from the pan to cool. Cool at least 10 minutes before eating. (The strawberries can get very hot.)
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Pretend Soups
</p>
</body>
