<h1>Hollandaise II</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/2 lbs. butter (1#), clarified
</li>
<li>
12 egg yolks (5), beaten
</li>
<li>
2 ounces cold water (1)
</li>
<li>
3 ounces lemon juice (1 1/2)
</li>
<li>
salt
</li>
<li>
cayenne
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Clarify the butter and keep warm, but not hot.
</li>
<li>
2.  Place the egg yolks and cold water in a stainless steel bowl and beat well.  Beat in a few drops of lemon juice.
</li>
<li>
3.  Hold the bowl over a hot-water bath and continue to beat until they aare thickened and creamy.
</li>
<li>
4.  Remove the bowl from the heat.  Using a ladle, slowly and gradually beat in the warm butter.  Add the butter drop by drop at first.  If the sauce becomes too thick to beat before all the butter is added, beat in a little of the lemon juice.
</li>
<li>
5.  When all the butter has been added, beat in lemon juice to taste and adjust seasoning with salt and cayenne.  If necessary, thin the sauce with a few drops of warm water.
</li>
<li>
6.  Keep warm, not hot, for service.  Hold no longer than 1 1/2 hours.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 20
</p>
<p>
SOURCE: Gisslen Text
</p>
</body>
