<h1>Hollandaise Sauce I</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 1/2 lbs. butter (18-24 oz; 6-8 oz per egg), clarified
</li>
<li>
1/4 teaspoon peppercorns (1/8 tsp), crushed
</li>
<li>
1/4 teaspoon salt (1/8 tsp)
</li>
<li>
3 ounces white wine (1 1/2 oz)
</li>
<li>
2 ounces cold water (1 oz)
</li>
<li>
12 egg yolks (3), beaten
</li>
<li>
3 tablespoons lemon juice
</li>
<li>
salt
</li>
<li>
cayenne
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Clarify butter; should end up with 2# clarified butter.  Keep the butter warm, but not hot.
</li>
<li>
2.  Combine the peppercorns, salt and vinegar in saucepan &amp; reduce until nearly dry (au sec).  Remove from the heat and add cold water.
</li>
<li>
3.  To make it easier to beat with a wire whip, it is best now to transfer this diluted, cooled reduction to a stainless steel bowl.  Use a clean rubber spatula to make sure you transfer all the flavoring material to the bowl.
</li>
<li>
4.  Add the egg yolks to the bowl and beat well.
</li>
<li>
5.  Hold the bowl over a hotwater bath and continue to beat the yolks until they are thickened and creamy.
</li>
<li>
6.  Remove the bowl from the heat.  Using a ladle, slowly and gradually beat in the warm, clarified butter.  Add the butter drop by drop at first.  If the sauce becomes too thick to beat before all the butter is added, beat in a little of the lemon juice.
</li>
<li>
7.  When all the butter has been added, beat in lemon juice to taste and adjust seasoning with salt and cayenne.  If necessary thin the sauce with a few drops of warm water.
</li>
<li>
8.  Strain through cheesecloth and keep warm (not hot) for service.  Hold no longer than 1 1/2 hours.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 25
</p>
<p>
SOURCE: Gisslen Text with Chef Terry Whenmouth
</p>
</div></body>
