<head>
<title>Homemade Tortillas with Pork Filling</title>
</head>
<body>
<h1>Homemade Tortillas with Pork Filling</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 pork shoulder or butt
</li>
<li>
salsa verde, can be purchased,
</li>
<li>
(sometimes called chile verde)
</li>
<li>
quesa fresca (Mexican cheese) or jack
</li>
<li>
cheese
</li>
<li>
masa harina
</li>
<li>
salt to taste
</li>
<li>
tortilla press
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place small pork shoulder in crock pot in the morning and cover with salsa verde.
</li>
<li>
Place about 2 cups of masa harina in a bowl and sprinkle with a little salt.  Moisten with about 1/2 cup + of water until wet enough to hold together but not too wet.
</li>
<li>
Roll masa harina into large walnut size balls and press in tortilla press that has had both
</li>
<li>
sides covered with siran wrap.  Place freshly pressed tortilla on ungreased grill and brown slightly.  Make several if you can before people start grabbing them and eating them........
</li>
<li>
Break apart pork that has been cooking all day into shreds.  Place on hot tortilla with broken up cheese and salsa or hot sauce.  Pick up and enjoy, letting it drip and drool down your chin.  A great little lettuce salad with tomatoes and lemon juice and salt and pepper is fabulous.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Another happy to get started meal for the kids...and fun for everyone.
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
