<h1>Homemade Tofu Cheese</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Take fresh firm tofu and smear it with high quality miso and allow it to set three to five days in the refrigerator. The tofu absorbs the miso and &#39;sets up&#39; like a soft cheese. When you remove the tofu from the fridge, scrape the miso off the tofu with a dinner knife. The excess miso can be used in again in a spread or dip. Cut the tofu in &#39;cheese&#39; slices, or cube or use as a spread.SOURCE: Adapted from Ann Gentry
</p>
</body>
