<head>
<title>Honest-to-Goodness Real Onion Dip</title>
</head>
<body>
<h1>Honest-to-Goodness Real Onion Dip</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 large yellow onions
</li>
<li>
3 cloves garlic, smashed and minced
</li>
<li>
8 tablespoons unsalted butter
</li>
<li>
3 tablespoons olive oil
</li>
<li>
6 sprigs fresh thyme, leaves removed
</li>
<li>
3 sprinkles cayenne, or to taste
</li>
<li>
salt and pepper, to taste
</li>
<li>
8 ounces nonfat yogurt, made into cheese
</li>
<li>
1/4 cup nonfat sour cream
</li>
<li>
1/4 cup light mayonnaise
</li>
</ul>
<h2>Method</h2><ul>
<li>
After peeling and cutting onions in half, slice.  
</li>
<li>
Heat a large pan; add butter and oil.  Add onions and seasonings.  Cook until beginning to caramelize and then turn down and continue to cook until the onions are nicely browned.  Cool.
</li>
<li>
Beat the cream cheese, sour cream and mayo until well mixed and add onion mixture.  Taste to correct seasonings or texture.  Serve at room temperature.  Can be served with crostini or chips; or in small potatoes.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is the best!!  No messing around here with a packaged dip mix. 
</p>
<p>
  Add bacon for an extra touch.&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
