<head>
<title>Honey-Topped Cornbread</title>
</head>
<body>
<h1>Honey-Topped Cornbread</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups Yellow cornmeal
</li>
<li>
4 cups AP flour
</li>
<li>
1 1/3 cups sugar
</li>
<li>
4 tablespoons baking powder
</li>
<li>
4 teaspoons salt
</li>
<li>
4 cups milk
</li>
<li>
1 1/3 cups vegetable oil
</li>
<li>
4 eggs lightly beaten
</li>
<li>
4 jalapeno chiles, minced, if desired
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Combine dry ingredients.
</li>
<li>
2.  Combine liquid ingredients in a separate bowl.
</li>
<li>
3.  Add liquid ingredients to dry ingredients and stir until just blended.
</li>
<li>
4.  Pour into sprayed 2&quot; hotel pan and bake in 400F oven for 20-25 minutes until wooden pick inserted comes out clean.  JUST MINUTES BEFORE TAKING OUT OF OVEN,
</li>
<li>
POUR HONEY OVER TOP.  RETURN TO OVEN AND FINISH BAKING FOR A COUPLE MORE MINUTES.
</li>
<li>
For the Caribbean Version.........Add 2 red chiles and 2 green chiles, minced.  Add one can of drained corn kernels.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 40
</p>
<p>
SOURCE: Char &amp; Albers
</p>
</body>
