<head>
<title>Honey Lemon Cake</title>
</head>
<body>
<h1>Honey Lemon Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 large eggs, separated
</li>
<li>
1/2 cup granulated sugar
</li>
<li>
1 tablespoon finely chopped lemon zest
</li>
<li>
1 cup ground almonds
</li>
<li>
1/2 cup semolina flour
</li>
<li>
1 teaspoon baking powder
</li>
<li>
3 tablespoons lemon juice
</li>
<li>
1 cup water
</li>
<li>
1 cup honey
</li>
</ul>
<h2>Method</h2><ul>
<li>
Beat egg yolks, sugar and lemon zest until pale and thickened.  Add ground almonds and semolina; do not mix.  Sprinkle baking powder on top of semolina; pour 1 tablespoon of the lemon juice on top of the powder to make it froth.  Mix together just until combined.
</li>
<li>
In another bowl, beat egg whites until stiff.  Stir about 1/4 of the egg whites into the batter.  Add the rest of the egg whites and fold into the batter with circular motions from the bottom up, until mixed thoroughly but not deflated.  Do not beat!
</li>
<li>
Transfer to prepared cake pan. (lightly oiled and dusted with flour).Bake for 30 minutes or until browned and cake tester comes out clean.  Remove from oven; cool completely on a wire rack.
</li>
<li>
In a small saucepan, bring 1 cup water to a boil.  Stir in honey and remaining lemon until discolved.  Return to a boil, reduce heat to medium and cook for 5 minutes, stirring occasionally.  Pour hot syrup evenly over surface of cooled cake.
</li>
<li>
Let syrup absorb into the cake, cool once again.  Do not unmold.  Lift portions directly from the pan onto plates and serve either on its own or garnished with whipped cream.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Byron Ayanoglu
</p>
</body>
