<h1>Honey Ricotta Cheesecake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6-7 biscotti, ground
</li>
<li>
1/2 cup butter, melted
</li>
<li>
16 ounces ricotta cheese
</li>
<li>
2 8 oz. blocks cream cheese
</li>
<li>
1/3 cup clove honey
</li>
<li>
1 tablespoon orange zest
</li>
<li>
4 large eggs
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine biscotti crumbs and butter.  Press into spring form pan.  Place aluminum foil around pan.  Bake at 350F for 15 minutes.
</li>
<li>
Filling:  Process ricotta cheese in food processor until smooth.  Add cream cheese, 3/4 cup sugar, honey, zest.  Process briefly.  Add eggs one at a time processing and incorporating each time briefly.  Place in spring form pan with biscotti crust and bake in bain marie for 
</li>
<li>
1 hour and 5 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'></div></body>
