<head>
<title>Honey  Cornbread for a Crowd</title>
</head>
<body>
<h1>Honey  Cornbread for a Crowd</h1>
<h2>Ingredients</h2>
<ul>
<li>
9 cups flour
</li>
<li>
4 cups sugar
</li>
<li>
3 cups corn meal
</li>
<li>
6 tablespoons baking powder
</li>
<li>
3 teaspoons salt
</li>
<li>
7 1/2 cups milk
</li>
<li>
12 large eggs
</li>
<li>
2 cups oil
</li>
<li>
18 tablespoons butter
</li>
</ul>
<h2>Method</h2><ul>
<li>
honey to cover top when cooked
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This makes 3  oblong pans (9 1/2 x 11&quot;) of cornbread&quot;
</p>
<p>
SERVINGS: 48
</p>
</body>
