<head>
<title>Honeydew Kiwi Smoothy</title>
</head>
<body>
<h1>Honeydew Kiwi Smoothy</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Honeydew Kiwi Smoothie
</li>
<li>
2 cups cubed honeydew melon, frozen or well chilled
</li>
<li>
1 ripe kiwi
</li>
<li>
2 Tbsp. fresh lime juice
</li>
<li>
1 Tbsp. agave nectar (or honey)
</li>
<li>
2 mint sprigs, optional, for garnish
</li>
<li>
In blender, whirl melon, kiwi, lime juice and nectar until smoothly blended. If using frozen melon, divide smoothie between 2 tall, narrow glasses. If using chilled melon, pour smoothie into glasses filled with ice cubes. Garnish each glass with mint sprig, if desired, and serve immediately.
</li>
<li>
Makes 2 servings.
</li>
<li>
Per serving: 120 calories, 0 g. total fat (0g. saturated fat), 32 g. carbohydrate,
</li>
</ul>
<h2>Notes</h2><p>
2 g. protein, 3 g. dietary fiber, 35 mg. sodium.SOURCE: AICR
</p>
</body>
