<head>
<title>Horseradish Sauce</title>
</head>
<body>
<h1>Horseradish Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 tablespoons plus
</li>
<li>
2 teaspoons prepared horseradish, rinsed, drained and
</li>
<li>
and squeezed dry
</li>
<li>
3 tablespoons Best Foods mayo
</li>
<li>
1 tablespoon tarragon cider vinager
</li>
<li>
2 teaspoons whole-grain mustard
</li>
<li>
1 teaspoon Dijon-style mustard
</li>
<li>
1 1/4 teaspoons sugar
</li>
<li>
1/2 teaspoon salt
</li>
<li>
Dash cayenne pepper
</li>
<li>
1/4 Granny Smith apple,, with peel, grated
</li>
<li>
2 tablespoons red onion, finely chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Whisk all ingredients except for the apple an onion in a large bowl until well blended  Add the apple and onion and fold in gently.  Refrigerate several hours to allow flavors to blend.  Serve in a small bowl or crock.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Terrific with Herb-Wrapped Filet...or great in sandwiches.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Silver Palate
</p>
</body>
