<h1>Horseradish Pot Roast</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Flour
</li>
<li>
Salt &amp; Freshly ground pepper
</li>
<li>
4 lbs. chuck roast
</li>
<li>
2 tablespoons olive oil
</li>
<li>
8 ounces country style horse radish (not
</li>
<li>
premixed with mayo and found in the
</li>
<li>
refrigerated deli case at the grocery
</li>
<li>
store)
</li>
<li>
12 ounces beer
</li>
<li>
12 small red potatoes, halved
</li>
<li>
12 medium carrots, halved two ways
</li>
<li>
12 small onions, quartered
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Rub the roast with a mixture of flour, salt and pepper and place in hot olive oil in pan to brown both sides of the roast about 15 minutes.  Reduce heat and spread horseradish on both sides of meat.  Add wine and simmer on top of oven for about 3 hours.  Add vegetables to meat and cook for one more hour.
</li>
<li>
For sauce:   Pour off pan drippings into a bowl, leaving brown particles in pan.  Let fat rise to top of drippings and skim off, leaving drippings.  Deglaze pan by adding about one cup wine to pan, adding back drippings (minus fat) to pan.  Concentrate and reduce sauce by boiling for 3-4 minutes or to taste.  Season with salt and pepper if desired.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : Serve with a big green salad, potato rolls &amp; Lemon Cake!NOTES : I have been making this rendition of pot roast for years...Its is fabulous.  Be sure you get a high grade of  beef for even better flavor and texture.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
