<head>
<title>Horseradish Mashed Potatoes</title>
</head>
<body>
<h1>Horseradish Mashed Potatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
9 russet potatoes, peeled and cut in 2&quot; cubes
</li>
<li>
4 red potatoes, unpeeled and cut in 2&quot; cubes
</li>
<li>
water to cover
</li>
<li>
salt
</li>
<li>
2 cups low fat sour cream, more if desired, depending on consistency
</li>
<li>
1 cube unsalted butter
</li>
<li>
4 ounces horseradish, or more if needed
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook potatoes until cooked through.  Drain.  In same pan that you cooked the potatoes in, over low heat, place the sour cream and butter.  Heat until butter is melted and sour cream is warm.  Rice potatoes into pot on top of cream mixture.  Allow red potato peels to fall in whole or broken.  Check for consistency. Add more sour cream, cream or butter.  Add horseradish and salt and pepper.  Taste to correct seasonings.  Enjoy!!!!!!!!  Yummy.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
</body>
