<h1>Hot Bacon Dressing</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/2 pound bacon, cut into 1/4&quot; pieces
</li>
<li>
olive oil
</li>
<li>
1 shallot, minced
</li>
<li>
1 clove garlic, minced
</li>
<li>
2-3 tablespoons red wine vinegar
</li>
<li>
salt &amp; pepper to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
Cook bacon in large skillet until almost crisp.  Remove with slotted spoon.  Add 1-2 tablespoons of olive oil. Add shallot and garlic and cook briefly without browning.  Add vinegar (being careful not to get spattered), to taste.  Add s/p.  Taste to correct seasoning and pour over greens with bacon.  Mix and serve immediately.SOURCE: Adapted from Betty Gerard
</p>
</div></body>
