<head>
<title>Hot Pepper Sauce</title>
</head>
<body>
<h1>Hot Pepper Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
3/4 cup apple cider vinegar
</li>
<li>
3/4 cup white vinegar
</li>
<li>
2 tablespoons sugar
</li>
<li>
1/2 teaspoon red pepper flakes
</li>
<li>
1 teaspoon Tabasco sauce
</li>
<li>
s/p to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine all the ingredients in a saucepan and bring to a boil.  Simmer for 10 minutes.  Serve warm.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;For use on shredded pork sandwiches, use while cooking the pork and
</p>
<p>
  then as a sauce on the sandwiches.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 1/2 cups&quot;
</p>
</body>
