<h1>Hot Pepper Jelly</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup red chili peppers, minus seeds and membranes, minced
</li>
<li>
3/4 cup jalapeno peppers, minus seeds and membranes, minced
</li>
<li>
6 1/2 cups sugar
</li>
<li>
1 1/2 cups white vinegar
</li>
<li>
6 ounces liquid pectin
</li>
</ul>
<h2>Method</h2><ul>
<li>
In large pot, combine minced peppers, sugar and vinegar.  Bring to a boil.  Remove from heat; let stand 5 minutes.  Skim off any foam and stir to make sure sugar is dissolved.
</li>
<li>
Return pot to heat and bring to a full, rolling boil.  Stir in pectin and boil 1 minute, stirring constantly.
</li>
<li>
Ladle into hot, sterilized half-pint jars, leaving 1/8 ince headspace.  Wipe jar rims and seal with hot lids and bands.  Process 5 minutes in boiling water bath.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;1/2 pint&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Janice Thorson
</p>
</body>
