<head>
<title>Hot &amp; Sour Soup</title>
</head>
<body>
<h1>Hot &amp; Sour Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 dried Shiitake mushrooms
</li>
<li>
2 wood ear mushrooms
</li>
<li>
24 dried lily buds
</li>
<li>
1/4 lb. pork tenderloin, julienned
</li>
<li>
Pork Marinade:
</li>
<li>
1 teaspoon soy sauce
</li>
<li>
1 teaspoon cornstarch
</li>
<li>
9 cups chicken broth
</li>
<li>
1 tablespoon canola oil
</li>
<li>
1 cup julienned fresh bamboo shoots OR
</li>
<li>
jicama
</li>
<li>
1/2 cup Sichuan pickled mustard greens, julienned
</li>
<li>
1/2 cup white vinegar (to taste)
</li>
<li>
1/3 cup dark soy sauce
</li>
<li>
2 1/2 teaspoons white pepper
</li>
<li>
2 teaspoons Sichuan peppercorns
</li>
<li>
1 block tofu, julienned
</li>
<li>
Cornstarch slurry: 1 T cornstarch:
</li>
<li>
2 tablespoons water
</li>
<li>
1 tablespoon hot chile oil
</li>
<li>
1 1/2 teaspoons sesame seed oil
</li>
<li>
3 eggs, beaten
</li>
<li>
2 stalks green onion, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Using 2 cups of boiling water, soak mushrooms, wood ears and lily buds until soft.  RESERVE LIQUID.  Discard Shiitake mushroom stems and julienne both mushrooms.  Nip off the hard end of the lily buds and tie a knot.
</li>
<li>
2.  Marinate for about 10-15 minutes.
</li>
<li>
3.  Heat a soup pot.  Add oil and cook the marinated pork until browned, about 2 minutes.
</li>
<li>
4.  Add in mushrooms, lily buds, jicama and mustard greens and continue to stir fry for another 3 minutes.
</li>
<li>
5.  Add in stock, muchroom soaking liquid, vinegar, soy sauce, white pepper and Sichuan peppercorns and bring to a boil.  Taste here...should be overseasoned with hot and sour!
</li>
<li>
Adjust flavors adding more vinegar, Sichuan and white peppers and soy sauce as needed.
</li>
<li>
6. Add tofu and allow the tofu to heat through, about another 2 minutes.
</li>
<li>
7.  Add in slurry to thicken to a thin veloute consistency, bring back to a boil.
</li>
<li>
8.  Add hot chile oil and sesame seed oil.   Take off heat when it is at a boil.
</li>
<li>
9.  Add the beaten egg into the soup in a stteady stream while stirring the soup in a circular motion.
</li>
<li>
10.  Taste again and adjust seasoning if necessary...should be sour and spicy.
</li>
<li>
11.  Finish the soup with sesame  see oil and chopped green onions and serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Sichuan
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Rhoda Yee
</p>
</body>
