<head>
<title>Hot Spiced Wine</title>
</head>
<body>
<h1>Hot Spiced Wine</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 quart dry red wine, fruity
</li>
<li>
1 cup water
</li>
<li>
1 cup sugar
</li>
<li>
1 teaspoon whole cloves
</li>
<li>
1 stick cinnamon
</li>
<li>
1 lemon, sliced
</li>
<li>
1/2 orange, sliced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine all ingredients in large saucepan.  Bring to boil over high heat, then simmer 15 minutes.  Strain and serve hot.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Half Way House, Richmond, VA
</p>
</body>
