<head>
<title>Huckleberry Cheese Pie</title>
</head>
<body>
<h1>Huckleberry Cheese Pie</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup butter, melted
</li>
<li>
1 1/3 cups graham cracker crumbs
</li>
<li>
1 8 oz. blocks cream cheese, softened
</li>
<li>
2 large eggs
</li>
<li>
1/2 cup sugar
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1/2 cup sugar
</li>
<li>
2 tablespoons cornstarch
</li>
<li>
1/2 cup water, huckleberry juice or crushed huckleberries
</li>
<li>
2 cups huckleberries, fresh or partially thawed
</li>
</ul>
<h2>Method</h2><ul>
<li>
Pour filling mixture (after thoroughly mixed) into crumb-lined pan.  Bake at 325F for 25-30 minutes just until filling is set.  Cool.
</li>
<li>
Topping:  Mix sugar and cornstarch in saucepan.  Stir in water (or berry juice or crushed berries) and whole berries.  Bring to a boil over medium heat.  Cook, stirring until clean and thickened.  Remove from heat, cool to room temperature.  Spread over cooled cheese pie.  Refrigerate for several hours or overnight.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Lorie Hutson, Spokesman/Review
</p>
</body>
