<h1>Huevos Rancheros</h1>
<h2>Ingredients</h2>
<ul>
<li>
tortillas, enough for 2 each guest
</li>
<li>
eggs, 2 for each guest
</li>
<li>
jack cheese or queso fresco
</li>
<li>
green onions or sliced white onion, sliced
</li>
<li>
chopped cilantro
</li>
<li>
Tomato Jalapeno Sauce
</li>
</ul>
<h2>Method</h2><ul>
<li>
Steam heat (in Chinese steamer over steaming water, wrapped in terry towel; one minute over heat; heat off for 10-15 minutes) or lightly saute in olive oil tortillas.
</li>
<li>
Poach or fry eggs.
</li>
<li>
Place two tortillas on plate slightly overlapping.  Add two eggs on top.   Spoon the tomato-jalapeno sauce over all.  Sprinkle with onion, cheese, and cilantro.  Enjoy!!
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This recipe was shared with me about 30 years ago by a dear Mexican
</p>
<p>
  friend.&quot;SOURCE: Rick Bayless
</p>
</body>
