<head>
<title>Huevos Rancheros</title>
</head>
<body>
<h1>Huevos Rancheros</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Active Time:  10 Minutes
</li>
<li>
Total Time:  15 Minutes
</li>
<li>
RECIPE INGREDIENTS
</li>
<li>
4 corn tortillas
</li>
<li>
2 tablespoons corn oil
</li>
<li>
8 large eggs
</li>
<li>
1 to 1 1/2 cups Enchilada Sauce (see recipe)
</li>
<li>
1 cup grated Monterey Jack or sharp cheddar cheese
</li>
<li>
salsa to taste, optional
</li>
<li>
sour cream to taste, optional
</li>
<li>
Chopped cilantro for garnish, optional
</li>
<li>
Other necessary recipes:
</li>
<li>
Enchilada Sauce
</li>
<li>
DIRECTIONS
</li>
<li>
Preheat the oven to 400 degrees F. Wrap the tortillas in foil and set them in the oven.
</li>
<li>
Heat 2 large skillets, preferably nonstick, over medium heat. Add 1 tablespoon of corn oil to each skillet. When the oil is hot, fry the eggs for 2 minutes, then cover the skillet and cook for 30 seconds to 1 minute or until the tops are opaque. Remove the skillets from the heat.
</li>
<li>
Remove the tortillas from the oven, unwrap them and lay them flat in a baking pan. Spread 2 tablespoons of enchilada sauce over each tortilla. Then with a spatula, gently transfer 2 fried eggs to each tortilla and sprinkle the eggs with 1/4 cup of cheese. Broil or bake until the cheese begins to melt, about 30 seconds.
</li>
<li>
Transfer each tortilla to a warmed plate and spoon about a 1/4 cup of enchilada sauce around the edge of each tortilla. If you wish, top each portion with salsa, sour cream and cilantro. Serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
Recipe courtesy of Kaaren Gann, The Diner, Yountville, CASOURCE: Kaaren Gann, The Diner, Yountville, CA
</p>
</body>
