<h1>Hummus with Cumin</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup dried chickpeas, rinsed
</li>
<li>
1 small onion, clouted/2 cloves
</li>
<li>
1 teaspoon cumin seeds
</li>
<li>
1/2 teaspoon coriander seeds
</li>
<li>
1 tablespoon sesame seeds
</li>
<li>
1/4 cup fresh lemon juice
</li>
<li>
3 tablespoons tahini
</li>
<li>
1 clove garlic, minced
</li>
<li>
salt
</li>
<li>
cayenne pepper
</li>
<li>
2 teaspoons X-virgin o/o
</li>
<li>
1/2 cup chopped cilantro
</li>
<li>
1/2 teaspoon lemon zest
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Soak beans overnight.
</li>
<li>
2.  Drain, add water to cover beans  by 1 inch and add the onion.  Bring to a boil, reduce heat, cover partially and simmer until the chickpeas are very tender, about 1 1/2 hours.  Add water if necessary.
</li>
<li>
3.  In skillet, toast the cumin and coriander seeds over low heat until fragrant.  Transfer to mortar and crush coarsely.  Add the sesame seeds to skillet and cook until golden.  Add to the mortar and crush.
</li>
<li>
4.  Drain chickpeas, reserving 1/2 cup of cooking liquid.  Transfer the chickpeas to a food processor.  In a small bowl, whisk together the lj, tahini, garlic, 1 1/2 tsp. salt, a pinch of cayenne, the grd. spice mixture and 2 tbsp. reserved cooking liquid.  Process the chickpeas, adding the tahini mixture 1 tbsp. at a time, until pureed; for a coarser texture, pulse the chickpeas.  Add more of the reserved cooking liquid if necessary; the hummus should be soft and fluffy.
</li>
<li>
5.  Season with salt and cayenne and transfer to a bowl.  Just before serving, drizzle with the o/o and sprinkle with the cilantro and lemon zest.
</li>
<li>
Yield = 1/4C per serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Food &amp; Wine
</p>
</body>
