<h1>Hungarian Goulash</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 stick butter
</li>
<li>
1 cup canola oil
</li>
<li>
4 lbs. beef rump or chuck roast, cut into 2&quot; cubes
</li>
<li>
salt and pepper
</li>
<li>
4 large onions, chopped
</li>
<li>
1/2 cup paprika
</li>
<li>
1 cup flour
</li>
<li>
2 tablespoons tomato paste
</li>
<li>
3 quarts beef stock
</li>
<li>
8 carrots, cut into large chunks
</li>
<li>
16 medium red potatoes, cut in half
</li>
<li>
parsley for garnish
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 400F.  Heat the butter and oil in a large braising pan or dutch oven.  Season the beef and add to the hot fat.  Sear and begin the browning process. Sear all around.  Take the meat out.   Add the onions and cook about 3-4 minutes.  Add the paprika and cook another 2-4 minutes.
</li>
<li>
Mix in the tomato paste.  Add the meat back in and add enough stock to cover the meat.  Bring to a boil and add more salt and pepper.  Cover with a lid and place in the oven for 2 hours.
</li>
<li>
At about 1 1/2 hours, mix in the chopped carrots and potatoes.  Cook for 30 minutes longer until all is tender.  Sprinkle with chopped parlsley and serve.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
