<h1>Hush Puppies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 large egg
</li>
<li>
1 cup buttermilk
</li>
<li>
1 lb. white cornmeal
</li>
<li>
1 tablespoon coarse salt
</li>
<li>
1/4 teaspoon freshly ground pepper
</li>
<li>
1 tablespoon sugar
</li>
<li>
1/4 teaspoon baking soda
</li>
<li>
1 scallion thinly sliced
</li>
<li>
4 cups vegetable oil for frying
</li>
<li>
Seven-pepper jelly
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
In medium bowl, whisk together the egg and buttermilk.  Stir in the white cornmeal, salt, pepper, sugar, baking soda, and scallion.  Don&#39;t overmix.
</li>
<li>
In a heavy medium pot, heat the vegetable oil over medium high heat to 375F., regulating the temperature of the oil so that it never reaches the point of smoking.  Using two small spoons, scoop up enough batter to fill one spoon and use the other spoon to ease the dough off into the oil.  Fry the hiush puppies 3-4 minutes, turning once with a slotted spoon to brown evenly.  Drain on paper towels.  Serve hot with a seven-pepper jelly.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 16
</p>
<p>
SOURCE: Martha Stewart
</p>
</div></body>
