<h1>Idaho Potato Rosemary Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/4 cups starter
</li>
<li>
4-5 cups unbleached bread flour , more or less
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
1/4 teaspoon black pepper, coarsely ground
</li>
<li>
1 1/4 teaspoons yeast
</li>
<li>
1 cup mashed potatos
</li>
<li>
1 tablespoon olive oil
</li>
<li>
2 tablespoons fresh rosemary, coarsely chopped
</li>
<li>
1 cup water, room temperature
</li>
<li>
4 tablespoons roasted garlic, coarsely chopped
</li>
<li>
cornmeal
</li>
<li>
olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Remove starter from frig 1 hour before using.  
</li>
<li>
Mix together 3 cups flour, salt, black pepper and yeast in an electric mixing bowl.  Add starter, mashed potatoes, oil, rosemary and 3/4 cup of water.  Mix for 1 minute.  Add more water or more flour if necessary.
</li>
<li>
Change to dough hook and knead for about 6  minutes adding about 2 cups of flour as needed until dough is soft and satin-like.  Add the garlic and knead for another minute. Take out of mixing bowl and knead slightly on floured board until no longer sticky.  Place in lightly oiled bowl and cover with plastic wrap.  Allow the dough to double in size.
</li>
<li>
Divide the dough into 2 equal pieces for loaves and shape into a boule.  Place on cornmealed parchmeent paper.  Cover with plastic.
</li>
<li>
Proof at room temperature for 1-2 hours.   Brush with olive oil and  bake at 400F.   Rotate the pans after 20 minutes in the oven; rotate again after 10 minutes and then bake  another 10 minutes. for a total of about 35-45 minutes.  The loaves should register 195F as an internal temperature. and sound hollow.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 2
</p>
<p>
SOURCE: Adapted from Peter Reinhart
</p>
</body>
