<h1>Ina&#39;s Carrot Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups sugar
</li>
<li>
1 1/3 cups vegetable oil
</li>
<li>
3 large  eggs
</li>
<li>
1 teaspoon vanilla
</li>
<li>
2 1/2 cups flour
</li>
<li>
2 teaspoons cinnamon
</li>
<li>
2 teaspoons baking soda
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
1 cup walnut pieces
</li>
<li>
1 cup raisins
</li>
<li>
1 pound carrots, grated
</li>
<li>
1/2 cup pineapple, chopped
</li>
<li>
2 pounds cream cheese, softened
</li>
<li>
1/2 pounds butter, softened
</li>
<li>
1 pound powdered sugar, sifted
</li>
</ul>
<h2>Method</h2><ul>
<li>
Prepare 2  8&quot; pans by buttering, lining with parchment and sprinkling with flour.
</li>
<li>
In large electric mixing bowl, mix with paddle, the sugar and oil until well blended and light yellow.  Add the eggs, 1 at a time, mixing after each addition.  Add the vanilla.
</li>
<li>
Sift all the dry ingredients.  On low speed, add all the ingredients slowly.
</li>
<li>
Mix the walnuts and raisins with 1 tablespoon of flour.  This will keep the walnuts and raisins from falling to the bottom.  Fold in the walnuts and raisins.  Add the carrots and pineapple.
</li>
<li>
Pour into prepared pans.  Bake 55-60 minutes.
</li>
<li>
Frosting:  Beat the cream cheese and butter in an electric mixer bowl with the paddle until mixed well.  Slowly add the powdered sugar and beat until smooth.  
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Adapted from Ina Garten
</p>
</body>
