<head>
<title>Indian Meat Cubes`</title>
</head>
<body>
<h1>Indian Meat Cubes`</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 tablespoons canola oil
</li>
<li>
1 1/2 pieces fresh ginger, peeled, finely chopped
</li>
<li>
4 cloves garlic, finely chopped
</li>
<li>
1 lb. boned pork or lamb
</li>
<li>
2 teaspoons garam masala
</li>
<li>
1 teaspoon ground cumin
</li>
<li>
1/4 teaspoon ground turmeric
</li>
<li>
1/4 teaspoon cayenne pepper
</li>
<li>
1 fresh hot green chile, finely sliced (leaving seeds)
</li>
<li>
1/2 teaspoon salt, or to taste
</li>
<li>
freshly ground pepper
</li>
<li>
3/4 cup water
</li>
<li>
1 1/2 to 2 teaspoons lemon juice
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place the ginger and garlic in hot oil in saucepan.  When the garlic begins to brown, add the meat.  Stir briefly and sear meat.  Turn down heat.  Add the seasonings except the pepper.   Add 3/4 cup water and lower heat.  Cover with lid.  Cook gently for about 50 minutes.  Remove the cover and cook uncovered over high heat until all the liquid gas gone.   Stir in lots of ground black pepper and add lemon juice to taste.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Adapted from Madhur Jaffrey
</p>
</body>
