<head>
<title>Indian Rice Pilaf</title>
</head>
<body>
<h1>Indian Rice Pilaf</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups basmati rice
</li>
<li>
10 whole cardamom pods
</li>
<li>
salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Put the rice in a bowl and cover generously with water.  Leave to soak for 30 minutes.  Drain thoroughly.
</li>
<li>
In heavy pan, combine the rice, 6 1/3 cups water and the cardamom pods.  Bring to a boil.  Cover very tightly, and turn heat very low.  Cook for about 25 minutes.  Leave pot covered and undisturbed for 10 minutes or move.  Remove cardamom and salt to taste.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
