<h1>Individual Apple Tarts</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 sheet frozen puff pastry sheet, thawed slowly in the frig
</li>
<li>
4 Granny Smith apple, peeled, halved and cored with baller
</li>
<li>
1/4 teaspoon cinnamon
</li>
<li>
1/2 cup sugar
</li>
<li>
4 tablespoons butter
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 375F
</li>
<li>
On a floured surface, roll the pastry out a little thinner than 1/8&quot;.  Lay on a sheet pan and chill it, then cut out 4&quot; disks.  Cut decorative shapes from the scrap and bake them off to use later.
</li>
<li>
Slice peeled, halved and cored apples extremely thinly, preferable on a mandoline.
</li>
<li>
Mix the cinnamon and sugar together.
</li>
<li>
Lay pastry disks on a parchment lined sheet pan and place 1 cube of butter in the center on each puff pastry disk and spoonful of cinnamon sugar.  Start layering and stacking the apple slices in a concentric circle leaving very little edge showing to make a beehive shape (save the smaller slices for the top layers).  It should get smaller as you go up higher.
</li>
<li>
When finished, the stack of apple layers should be be about 3 inches high.  Place a cube of butter at the top and sprinkle the apple stack liberally with cinnamon sugar.  You can freeze them at this point.  Bake until golden brown and tender, about 30 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Beautiful and easy!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Sweet Dreams&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Gale Gand
</p>
</div></body>
