<h1>Indian Style Stir Fried Eggs  (Unday Ki Bhurji)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
16 large eggs, lightly beaten
</li>
<li>
1/4 teaspoon ground turmeric
</li>
<li>
1/4 teaspoon cayenne
</li>
<li>
olive oil spray
</li>
<li>
1 teaspoon whole cumin seeds
</li>
<li>
1/4 cup finely chopped onion
</li>
<li>
2 inch fresh ginger, peeled and minced
</li>
<li>
1 cup tomato, finely chopped
</li>
<li>
1 jalapeno, finely chopped
</li>
<li>
salt
</li>
<li>
1/2 teaspoon garam masala, purchased at your grocery store
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine eggs, turmeic and cayenne.  Set aside.
</li>
<li>
Spray a non-stick  hot fry pan with olive oil spray and add cumin seeds.  Let cook about 30 seconds. Add onions.  Fry the onions until light brown at the edges.
</li>
<li>
Put in the ginger and stir once and then add tomato and cook for a few seconds.  Stir in the green chile.  Turn the heat down slightly and add eggs, salt to taste and garam masala.  Stir the eggs gently until they form thick, soft curds or are done to your taste.  Remove from the heat and serve.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Mahar Jaffrey
</p>
</div></body>
