<head>
<title>Indian Eggplant Puree</title>
</head>
<body>
<h1>Indian Eggplant Puree</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 eggplant
</li>
<li>
1/2 cup minced onion
</li>
<li>
1 jalapeno
</li>
<li>
3 tablespoons nonfat yogurt
</li>
<li>
3/4 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 350F.  spray the cut sides of the eggplant with nonstick cooking spray.  Place on a baking sheet cut side up and roast in the oven until soft and browned, 30-40 minutes.  When cool enough to handle, remove the skin, place the eggplant in a bowl and mash the pulp thoroughly.  Add the onion, jalapeno, yogurt and salt.  Blend thoroughly.  Set aside until ready to serve with warm naan.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Great Cooking Every Day&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Culinary Institute of America
</p>
</body>
