<h1>Indonesian Spicy Peanut Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 cloves garlic, chopped
</li>
<li>
1 cup peanut butter
</li>
<li>
3 tablespoons sugar
</li>
<li>
1/4 cup water
</li>
<li>
several generous shakes of Tabasco
</li>
<li>
sauce
</li>
<li>
1 tablespoon fresh lemon juice
</li>
<li>
1 tablespoon soy sauce (or to taste)
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Puree everything in processor and adjust seasonings for taste.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : Use this sauce when grilling meat, chicken or in stir-frys.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Hot &amp; Spicy
</p>
</div></body>
