<head>
<title>In Preparation for Ice Cream Brownies....</title>
</head>
<body>
<h1>In Preparation for Ice Cream Brownies....</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 ounces semisweet chocolate
</li>
<li>
1/2 cup chocolate syrup
</li>
<li>
2 sticks butter, unsalted, room temp
</li>
<li>
1 teaspoon vanilla extract
</li>
<li>
1 teaspoon almond extract
</li>
<li>
4 large eggs, beaten
</li>
<li>
1 1/2 cups sugar
</li>
<li>
pinch of salt
</li>
<li>
1 cup flour
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.  Spray an oblong baking pan with pan spray and dust with flour.  Set aside.
</li>
<li>
Melt chocolate in a medium bowl  at 50% power in the microwave for about 2 minutes or until stirable.  Add the syrup and stir well.
</li>
<li>
Add the butter to the chocolate.  Beat until the mixture is smooth.  tir in the flavorings, eggs and mix thoroughly.
</li>
<li>
In another mixing bowl, sift together sugar, salt and flour.  Add to the chocolate mixture and blend.
</li>
<li>
Pour into the prepared pan, and bake just until cooked through, about 30-40 minutes.
</li>
<li>
Cool the brownies in the pan before cutting.  Serve topped with ice cream and hot fudge sauce.....killing any possible lurking germs.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
</body>
