<h1>Insalata de Rughetta, Pignoli e Parmi</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Dressing:
</li>
<li>
3 tablespoons vinegar (I use balsamic or red wine or
</li>
<li>
a combination of both)
</li>
<li>
1/4 teaspoon sugar
</li>
<li>
salt and freshly ground pepper
</li>
<li>
1 cup virgin olive oil
</li>
<li>
Greens:
</li>
<li>
2 bunches spinach, torn into sm. pieces
</li>
<li>
2 bunches arugula, torn into sm. pieces
</li>
<li>
1 head radicchio, separated
</li>
<li>
2 red peppers
</li>
<li>
1 cup nuts (pine nuts, walnuts, or almonds)
</li>
<li>
6 ounces cheese (mizithra and parmesan are good)
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Dressing:
</li>
<li>
Mix the ingredients except for olive oil.  Slowly whisk in the olive oil and taste for seasoning.  
</li>
<li>
Mix salad greens and nuts.  Pour the dressing over the salad and toss.  Add the cheese and lightly toss.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : This is a mixture that I love and vary the cheese as well.  Its very light and just full of flavor  because of the peppery arugula.
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
