<h1>Irish Coffee Cream Pie</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Crust:
</li>
<li>
1 cup graham cracker crumbs
</li>
<li>
1/4 cup butter, melted
</li>
<li>
Filling:
</li>
<li>
1 package unflavored gelatin
</li>
<li>
2 tablespoons cold water
</li>
<li>
2 tablespoons strong coffee or espresso
</li>
<li>
3 cups whipping cream
</li>
<li>
1/2 cup plus 1 tablespoon powdered sugar
</li>
<li>
6 tablespoons Irish whiskey
</li>
<li>
6 tablespoons Kahlua
</li>
<li>
1 cup whipping cream
</li>
<li>
chocolate, shaved, for garnish
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Crust:  Preheat oven to 375F.  Combine crumbs and butter in small bowl.  Press into 9&quot; pie plate.  Bake until set, about 8 minutes.  Cool completely.
</li>
<li>
Filling:  Dissolve gelatin in cold water and heat briefly to completely dissolve.  Cool.  Add coffee to gelatin mixture and stir.  Mix gelatin and coffee mixture with the remaining ingredients, except the 1 cup whipping cream and chocolate shavings, and beat on medium speed until mixture holds peaks.  Pour into cooled crust.  Whip the remaining 1 cup of whipping cream and &quot;frost&quot; the top of the pie.  Garnish with chocolate shavings before serving.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
