<head>
<title>Irish Boston Cream Pie</title>
</head>
<body>
<h1>Irish Boston Cream Pie</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 recipe genoise
</li>
<li>
1 recipe Mint Ginger Custard Cream
</li>
<li>
1 recipe Chocolate Sauce
</li>
</ul>
<h2>Method</h2><ul>
<li>
Split cake into 2-3 layers.  Pour custard cream between layers.  Do not overfill.  Refrigerate if mixture is not cold enough.
</li>
<li>
Place filled cake on rack over parchment covered sheet pan.  Pour chocolate sauce over cake to cover.  Refrigerate until service time, at least 2 hours.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
