<h1>Irish Potato Pie</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
5 large russet potatoes, peeled, quartered
</li>
<li>
4 medium red potatoes, unpeeled, quartered
</li>
<li>
1 large yam, peeled, in eighths
</li>
<li>
3 cups whipping cream, or milk if desired
</li>
<li>
12 tablespoons unsalted butter
</li>
<li>
1/2 cup chives, chopped
</li>
<li>
salt and pepper, to taste
</li>
<li>
1/2 head cabbage, thinly sliced
</li>
<li>
1 large onion, halved and thinly sliced
</li>
<li>
1 tablespoon butter
</li>
<li>
3 tablespoons olive oil
</li>
<li>
1 1/2 cups Emmental cheese, grated
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place the prepared potatoes in cold water and bring to a boil; lower heat and simmer until potatoes are cooked through.
</li>
<li>
Drain potatoes.  In the same pan you boiled the potatoes the potatoes in, place the butter and cream.  Warm.  Rice the potatoes into the cream mixture through a potato ricer.  Add the chives and season with salt and pepper.  (These are good as mashed potatoes....!)  Set aside.
</li>
<li>
Meanwhile, place the onions and cabbage into a large saute pan with the addtional 1 tablespoon butter and 3 tablespoons olive.  Lightly salt and pepper.  Sear until onions begin to soften and continue to cook, covered,  until slightly caramelized.
</li>
<li>
Place half the potatoes into a buttered 2 quart cassarole.  Place half the cabbage mixture on top; top this with the cheese and top this with the other half of the potatoes.  Dot with 2 tablespoons of butter.  Place in a 350F oven and bake for about 25-30 minutes until bubbly around the edges and beginning to brown slightly on top.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Doesn&#39;t get much better for comfort and ever so pretty!!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</div></body>
