<head>
<title>Italian Garlic &amp; Olive Oil Sauce</title>
</head>
<body>
<h1>Italian Garlic &amp; Olive Oil Sauce</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Garlic and Oil Sauce aglio e olio
</li>
<li>
(Serves 5-7)
</li>
<li>
Although fairly high in fat, this backbone of Southern Italian cuisine is meant to be used sparingly, merely to coat pasta or vegetables. Be sure to allow the garlic to become only golden brown, never to scorch. Burnt garlic gives bitterness to cooked dishes. Add finely minced vegetables or onions to create new flavors.
</li>
<li>
3/4 cup olive oil
</li>
<li>
5 garlic cloves, minced
</li>
<li>
1/3 cup fresh, chopped parsley
</li>
<li>
1/2 teaspoon dried oregano
</li>
<li>
1/2 teaspoon white pepper
</li>
<li>
Heat olive oil in a frying pan for 2 minutes. Add garlic, and cook over low heat, stirring, until garlic is golden (not brown, which will taste terrible), about 3 minutes. Stir in parsley, oregano, and pepper. Cook and stir for one minute.
</li>
<li>
Total calories per serving: 293	Fat: 32 grams
</li>
<li>
Carbohydrates: 1 gram	Protein: &lt;1 gram
</li>
<li>
Sodium: 3 milligrams	Fiber: &lt;1 grams
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: The Vegetarian Resource Group
</p>
</body>
