<head>
<title>Italian Mushroom Frittata</title>
</head>
<body>
<h1>Italian Mushroom Frittata</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cloves garlic
</li>
<li>
2 tablespoons butter
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1 cup crimini mushrooms, chopped
</li>
<li>
2 cups portabello mushrooms, chopped
</li>
<li>
8 eggs
</li>
<li>
salt and pepper, to taste
</li>
<li>
1/2 teaspoon dried basil
</li>
<li>
3/4 cup parmesan cheese, freshly grated
</li>
<li>
4 plum tomatoes
</li>
<li>
handful parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat saute or large omelet pan with butter and olive oil and saute garlic briefly, until slightly soft.  Be careful not to burn garlic or bitter taste will accompany your frittata.  Add all of mushrooms and saute until soft and slightly browned.  Scramble eggs in a separate bowl and add to mushrooms with basil, salt and pepper,  scrambling lightly but leaving slightly uncooked on top.  Remove pan from burner.  Top with parmesan cheese.  Cut the tomatoes in half vertically and slice vertically.  Scatter tomatoes over top of parmesan cheese.  Add a few grinds of fresh pepper, the parsley and place in 425 degree oven about 3-5 minutes, long enough to melt the cheese and set the top of the frittata.  Remove from the oven and serve hot.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Serve with a big green salad and foccacia bread.NOTES : Frittatas are the Italian version of  the French omelet or American scrambled eggs.  You can do all sorts of wonderful things to a frittata and it makes a wonderful breakfast or dinner meal.  Its fast, delicious and a great midweek dinner when time is short.  
</p>
<p>
CHEF&#39;S TRICK...Use fresh parmesan (not the boxed Kraft version, please) and grade yourself.  It will revolutionize the way you look at the use of parmesan cheese...great in salads, soups, breads and spices up a simple main dish like this.
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
