<head>
<title>Italian Chopped Salad</title>
</head>
<body>
<h1>Italian Chopped Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
red wine vinegar vinaigrette, :red wine vinegar, oil, s/p, garlic, shallot
</li>
<li>
2 heads finely chopped romaine
</li>
<li>
2 heads finely chopped radicchio
</li>
<li>
1 bunch finely chopped parsley
</li>
<li>
2 cans white beans, drained and rinsed
</li>
<li>
15 oil packed sun dried tomatoes, drained, plotted and chopped
</li>
<li>
1 cup chopped olives
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place a bit of your vinaigrette in the bottom of a large bowl and add chopped ingredients.  Mix gently adding more of prepared vinaigrette as needed.  Taste to correct seasoning.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
