<h1>Italian Cornmeal Cake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3/4 cup AP white flour
</li>
<li>
1/4 cup cornmeal
</li>
<li>
4 large eggs, at room temperature
</li>
<li>
3/4 cup sugar
</li>
<li>
1 teaspoon lemon zest, grated
</li>
<li>
1 teaspoon orange zest, grated
</li>
<li>
1 teaspoon vanilla extract
</li>
<li>
1/2 cup orange marmalade
</li>
<li>
1/4 cup confectioner&#39;s sugar, for coating
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 350F.  Lightly oil an 8&quot; springform pan or deep 8 inch round cake pan or coat it with nonstick cooking spray.  Dust it with flour, tapping out excess.
</li>
<li>
In a small bowl, stir together flour and cornmeal; set aside.  Separate egg yolks and whites into two mixing bowls.  Beat the yolks with an electric mixer on low speed until blended; gradually beat in 1/2 cup of the sugar and continue beating on high speed until the yolks are thick and pale, about 3 minutes.  Beat in lemon and orange zests and vanilla.
</li>
<li>
With clean beaters, beat the egg whites on low speed just until foamy; increase speed to high.  When the whites begin to form soft peaks, gradually add the remaining 1/4 cup sugar, beating until the whites are stiff and glossy.  With a large rubber spatula, gently fold the whites into the beaten yolks.  Then gently fold in the reserved dry ingredients just until combined.  Transfer the batter to the prepared pan, smoothing the top.
</li>
<li>
Bake for 25-30 minutes, or until the center is puffed and springs back when lightly pressed.  Loosen the edges and unmold the cake onto a wire rack; let cool completely.
</li>
<li>
With a long serrated knife, cut the cake horizontally into two layers.  Set the bottom layer on a serving plate and spread with orange marmalade.  Replace the top layer and dust with confectioners&#39; sugar.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a common and very lovely Italian dessert.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: The Eating Well Dessert Book
</p>
</div></body>
