<head>
<title>Italian Chocolate Cake</title>
</head>
<body>
<h1>Italian Chocolate Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups sliced blanced almonds
</li>
<li>
3/4 cup sugar
</li>
<li>
1/2 cup flour
</li>
<li>
6 tablespoons cornstarch
</li>
<li>
1/2 teaspoon freshly grated nutmeg
</li>
<li>
7 extra-large eggs, separated
</li>
<li>
5 tablespoons unsalted butter, melted and cooled
</li>
<li>
Glaze:
</li>
<li>
6 ounces bittersweet chocolate, finely chopped
</li>
<li>
2 tablespoons unsalted butter
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 375F.  Butter a 9&quot; round cake pan.
</li>
<li>
Grind almonds in food processor to a fine powder.  If necessary, add a little sugar to keep the nuts from turning to a paste.
</li>
<li>
Sift together the flour, cornstarch and nutmeg into a bowl.
</li>
<li>
In a large bowl, beat the egg yolks with an electric beater until blended.  Gradually add the almonds and (remaining) sugar and beat until light and fluffy.  Gradually add the flour mixture and then add the cooled butter, beating well after each addition.  
</li>
<li>
Beat the egg whites separately until they form stiff, glossy peaks.  Fold into the batter.
</li>
<li>
Pour into cake pan and bake for about 40 minutes until golden and firm to the touch.  Let cool in the pan for 15 minutes. then remove from pan  and  cool completely on a rack.
</li>
<li>
Glaze:  Melt the cocolate and butter over very low heat, stirring frequently until smooth.  Remove from heat.
</li>
<li>
Place the cake on a cake plate and pour the chocolate glaze on top and spread it over the top and sides with a spatula.  Serve at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Mario Batali
</p>
</body>
