<head>
<title>Italian Sausage and Beans</title>
</head>
<body>
<h1>Italian Sausage and Beans</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 Italian sausage per person
</li>
<li>
olive oil
</li>
<li>
garlic
</li>
<li>
fresh sage
</li>
<li>
1/2 cup tomato paste/water, equal amounts
</li>
<li>
cooked beans in cooking liquid (cooked
</li>
<li>
with garlic, onion)
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook sausage in o/o to color.  Add garlic minced, fresh sage, tomato paste/water mixture.  Cook a few minutes.  Add desired amount of cooked beans with cooking liquid.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;La Miniera....Montecatini Val de Cecina&quot;SOURCE: Chef Stefania
</p>
</body>
