<h1>Italian Style Tuna Confit with Garden Beans</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 lbs. tuna steak, 1 1/2&quot; thick
</li>
<li>
thyme
</li>
<li>
garlic cloves, crushed, unpeeled
</li>
<li>
fennel seeds
</li>
<li>
dried chile peppers
</li>
<li>
peppercorns
</li>
<li>
4 1/2 cups olive oil
</li>
<li>
1 1/2 lbs. fava beans, fresh
</li>
<li>
1 1/2 lbs. green beans
</li>
<li>
2 medium shallots
</li>
<li>
3 tablespoons red wine vinegar
</li>
<li>
pepper
</li>
<li>
Aioli*, *see Note
</li>
</ul>
<h2>Method</h2><ul>
<li>
Season the tuna generously with salt and place in a deep bowl with thyme, garlic, fennel, dried peppers and peppercorns.  Cover with olive and refrigerate for several hours.  
</li>
<li>
When ready to cook, transfer all to a heavy bottomed non-reactive pot and heat slowly.  When the oil is warm, lower heat and continue cooking for 12-15 minutes.  Turn the fish over half way through.  It will be slightly pink in the middle when finsihed (take a peek with a pairing knive, just bending the flesh back a bit).
</li>
<li>
Remove the fish from the heat, and cool.  Reserve the oil.  After it has cooled it can be replaced in the oil and remain in the refrigerator for up to 5 days.
</li>
<li>
Cook the shelled fava beans (or any fresh shell beans) in water to cover by 1&quot;.  Add thyme, salt and a little olive oil.  Cook until tender.  Let the beans cool in their cooking liquid.
</li>
<li>
Blanch the green beans in boiling water for 2-3 minutes.  Plunge in ice water to cool.
</li>
<li>
Make a vinaigrette with the vinegar, shallots, salt and pepper.  Whisk in 1/2 cup of the confit oil.  Taste to correct balance and seasoning.
</li>
<li>
Drain the fava beans and toss with green beans with vinaigrette.  Arrange on plates with broken pieces of tuna over the top.  Serve with aioli on the side.
</li>
<li>
*Aioli:  Mash 3 cloves of garlic in a mortar with a little salt.  Take out 1/3 of the paste and set aside.  To the remaining garlic add 1 teaspoon water, 1/4 teaspoon salt and egg yolk, whisking.  Add 1 cup olive oil in a slow steady stream.  If too thick, add a bit more water.  Taste and add more garlic and salt.  Refrigerate and use the same day.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Alice Waters
</p>
</body>
