<h1>Italian Fennel &amp; Tomato Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 bulbs fennel (anise), sliced, reserve fennel fronds
</li>
<li>
1 pint cherry tomatoes, cut in half
</li>
<li>
3/4 cup olives, kalamata or Italian
</li>
<li>
4 stalks celery, sliced on the diagonal
</li>
<li>
2 red bell peppers, juliened
</li>
<li>
2 cups fresh basil, chiffonade
</li>
<li>
1/2 cup parsley leaves
</li>
<li>
2 tablespoons white balsamic vinegar
</li>
<li>
6 tablespoons extra virgin olive oil
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
Asiago cheese, to garnish
</li>
<li>
reserved fennel fronds, large chop
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Whisk vinegar and olive oil together, seasoning with s/p.
</li>
<li>
Add cut up vegetables, mix and taste to correct seasoning.  Plate and garnish with Asiago cheese and fresh pepper.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
