<head>
<title>Italian Sausage with Peppers</title>
</head>
<body>
<h1>Italian Sausage with Peppers</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 red and green bell pepper
</li>
<li>
1/2 cup olive oil
</li>
<li>
2 large onions, sliced
</li>
<li>
6 cloves garlic, finely chopped
</li>
<li>
salt
</li>
<li>
1 tablespoon red wine vinegar
</li>
<li>
18 Italian sausages, mixture of sweet and hot
</li>
<li>
water
</li>
<li>
Italian parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat about half of the olive oil in a heavy skillet and add the onions and garlic.  Add the peppers and let them saute very slowly, covered about 20 minutes.
</li>
<li>
Remove the cover and continue cooking until completely cooked.  Add salt and vinegar.
</li>
<li>
Poach the sausages in water for 6-8 minutes.  Drain and add the rest of the olive oil to pan  Saute the sausages are slightly brown and cooked through.  Serve the sausages with the onions and peppers and sprinkle with chopped Italian parsley.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a wonderful preparation of Italian sausage....great on big
</p>
<p>
  hard rolls as a sandwich or served with pasta, or polenta, even baked
</p>
<p>
  potatoes.&quot;
</p>
</body>
