<h1>Italian Salad (Spinach, Watercress &amp; Walnuts w/Mizithra)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 bunches fresh spinach
</li>
<li>
2 bunches fresh watercress or arugula
</li>
<li>
2 red bell peppers
</li>
<li>
1 radicchio
</li>
<li>
toasted walnuts
</li>
<li>
1 hunk of mizithra cheese
</li>
<li>
Vinaigrette
</li>
<li>
1 shallot
</li>
<li>
1 garlic clove
</li>
<li>
apple cider vinegar
</li>
<li>
balsamic vinegar
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Char Z.
</p>
</div></body>
