<h1>Italian Style Butterflied and Stuffed Pork Tenderloin</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 pork tenderloin, butterflied &amp; pounded to a rectangle
</li>
<li>
2 cups Pecorino Romano, freshly grated
</li>
<li>
olive oil
</li>
<li>
1 shallot, minced
</li>
<li>
2 cloves garlic, minced
</li>
<li>
2 fingers rosemary, minced
</li>
<li>
4 leaves sage, minced
</li>
<li>
3/4 cup bread crumbs, finely ground
</li>
<li>
1/2 cup pine nuts
</li>
<li>
1/2 cup dried fruit, raisins, cranberries, your choice or both
</li>
<li>
salt and pepper
</li>
<li>
additional olive oil, salt &amp; pepper and
</li>
<li>
whole smashed garlic cloves
</li>
<li>
Sauce:
</li>
<li>
1 cup red wine or red port
</li>
<li>
1 cup chicken stock
</li>
<li>
1/4 to 1/2 cup marinara sauce, if desired
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat skillet and when hot, add some olive oil.  Saute the shallot, garlic rosemary and sage.    Cook briefly until soft.  Add to bread crumbs with pine nuts and dried fruit.
</li>
<li>
Sprinkle half of the the pecorino on the open pork tenderloin.  Add half of the remaining mixture.  Roll tightly and tie.  Finish with remaining tenderloin.  In a bowl, sprinkle  tenderloins with olive oil, salt and pepper and additional whole smashed garlic cloves, if dersired.
</li>
<li>
Heat skillet.  Add olive oil.  Sear the tenderloins all around taking about 10 minutes.  Place on sheet pan lined with parchment paper.  Place in 375F oven and finish cooking for about 20-25 minutes until meat thermometer inserted reads 150F.  Take meat out and place on heated platter.  Cover with aluminum foil to rest for about 10 minutes.
</li>
<li>
Meanwhile to make sauce:  Place wine in skillet that meat was seared in.  Reduce to half.  Add chicken stock and reduce again over medium heat by 1/4 to 1/2.  Strain sauce.
</li>
<li>
Place sauce back in pan.  Add marinara if desired.  Taste to correct seasoning.  
</li>
<li>
Slice meat on diagonal and serve on top of sauce with a splash on top.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
