<head>
<title>Italian Marinara </title>
</head>
<body>
<h1>Italian Marinara </h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons olive oil
</li>
<li>
1 large onion, chopped
</li>
<li>
3 cloves garlic
</li>
<li>
2 large cans tomatoes
</li>
<li>
(fresh is better...if good tomatoes
</li>
<li>
are available)
</li>
<li>
fresh basil
</li>
<li>
fresh parsley
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place olive oil in saute or fry pan.
</li>
<li>
Add onion and garlic.  Saute briefly.
</li>
<li>
Add tomatoes and saute and bring to boil.  Allow to simmer for 20 minutes.
</li>
<li>
Add whole stem or two of basil and parsley and simmer for about 10 more minutes.
</li>
<li>
Add salt and pepper to taste and touch of sugar if necessary.
</li>
<li>
Pass through food press and serve as desired....
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is the Italian way, quick &amp; easy and delicious.
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
