<h1>Italian Green Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Green Sauce II 
</li>
<li>
Salsa Verde
</li>
<li>
(Serves 4-6)
</li>
<li>
Bread is an essential part of every Italian regional cuisine. This uncooked sauce utilizes extra pieces of bread, and imbues them with the flavor of Sicily. Use as a salad dressing for cold pasta, rice, or tofu, or for grilled vegetables.
</li>
<li>
3 slices white bread
</li>
<li>
1/2 cup white wine vinegar
</li>
<li>
3 Tablespoons chopped fresh parsley
</li>
<li>
3 Tablespoons capers
</li>
<li>
4 garlic cloves, minced
</li>
<li>
2 Tablespoons olive oil
</li>
<li>
Tear bread and soak it in vinegar for 10 minutes. Squeeze bread dry and place in a blender or food processor. Blend with parsley, capers, and garlic until just smooth. Add olive oil and blend only until just combined.
</li>
<li>
Total calories per serving: 127	Fat: 8 grams
</li>
<li>
Carbohydrates: 16 grams	Protein: 4 gram
</li>
<li>
Sodium: 298 milligrams	Fiber: 2 grams
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: The Vegetarian Resource Group
</p>
</div></body>
