<h1>Italian-Style Pot Roast</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 pounds chuck roast
</li>
<li>
1-2 tablespoon flour
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
olive oil
</li>
<li>
2 medium onions, diced
</li>
<li>
2 carrots, minced
</li>
<li>
3 stalks celery, minced
</li>
<li>
5 cloves garlic, minced
</li>
<li>
3 fingers rosemary, leaves removed and chopped
</li>
<li>
3 stems thyme , leaves removed and chopped
</li>
<li>
1 cup red wine
</li>
<li>
1-2 cups stock, beef 
</li>
<li>
1 medium can tomatoes, drained
</li>
</ul>
<h2>Method</h2><ul>
<li>
Dust roast with flour and season with s/p.  Sear all around in hot olive oil in Dutch oven.   Remove roast from pan and hold.
</li>
<li>
Pour off fat from pan.  Add about a tablespoon of olive oil and add onions, carrots and celery.  Cook over medium heat scraping the bottom of the pan as the vegetables release their juices, gathering the delicious &quot;nummy-scrummies&quot;.  Add the garlic, rosemary and thyme and cook gently until fragrant.  Deglaze with the red wine.  Cook briefly, reducing slightly. Add the stock &amp; the tomatoes. 
</li>
<li>
Return the roast to the pan with the liquid.  Cover and cook 1 1/2-2 hours in 350F oven until fork tender.
</li>
<li>
Serve with golden mashed potatoes and vegetable of choice; or with polenta or pasta.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Apple Charlotte
</p>
</body>
