<head>
<title>Italian Lobster with Crunchy White Beans</title>
</head>
<body>
<h1>Italian Lobster with Crunchy White Beans</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 large lobsters
</li>
<li>
1 lb. white beans, cooked
</li>
<li>
2 cups flour
</li>
<li>
1/2 cup California chile powder
</li>
<li>
1/4 cup serrano chiles, sliced
</li>
<li>
1 cup fresh basil leaves
</li>
<li>
1/4 cup (or more) of sliced garlic
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut the lobsters in half.  Dust with flour seasoned with the chile powder and salt and pepper.  Place in hot extra virgin olive oil in two saute pans, cut side down and saute for about 5-7 minutes until shell begins to turn bright red.  Turn over; place in one pan and place in 450 oven for about 5 more minutes.  Take out after about 5 minutes and allow to rest while you are finishing the beans.
</li>
<li>
Meanwhile, take extra saute pan and add more olive oil...lots...to existing oil and juices in pan remaining from lobster saute.  Dust beans heavily with flour mixture and place into saute pan in hot oil and fry for several minutes until beans are crunchy.  Add serranos, basil and crisp.  Add garlic slices last and fry all together.    Place lobsters shell side down in large serving bowl with legs hanging over and pour beans over all.  Serve with a Chardonay.......wow!
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
</body>
