<head>
<title>Italian Braised Pork</title>
</head>
<body>
<h1>Italian Braised Pork</h1>
<h2>Ingredients</h2>
<ul>
<li>
olive oil
</li>
<li>
1 5 pound pork shoulder, cut into 2&quot; stripes (country ribs)
</li>
<li>
2 medium onions, diced
</li>
<li>
3 small carrots, minced
</li>
<li>
3 stalks celery, diced
</li>
<li>
5 cloves garlic, minced
</li>
<li>
3 fingers rosemary, minced
</li>
<li>
2 branches thyme leaves, minced
</li>
<li>
1 cup dry red wine
</li>
<li>
pinch ground cloves
</li>
<li>
pinch ground cinnamon
</li>
<li>
pinch ground allspice
</li>
<li>
fresh pepper
</li>
<li>
1 large can tomatoes, with juice
</li>
<li>
basil
</li>
<li>
1 cup black dry cured Italian olives, pitted
</li>
</ul>
<h2>Method</h2><ul>
<li>
SEAR pork all around in olive oil.  Take out of pan.
</li>
<li>
Pour fat from pan and add a bit more olive oil.  
</li>
<li>
SWEAT mirepoix.  Add garlic, rosemary, thyme and sweat until fragrant.
</li>
<li>
ADD LIQUID:  Add wine and reduce (unless you have done this ahead of time) to 50%.  Smell and enjoy......Add tomatoes.   
</li>
<li>
Add meat back into pot.  Cover with lid and place in 375-400F oven for about 1 hour and 15 minutes.  Add basil and olives.  Return to oven and cook another 15-20 minutes.  Serve with polenta and parmesan.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Perfect for a rainy day....smells wonderful as it cooks and is
</p>
<p>
  delicious over polenta.&quot;
</p>
<p>
SERVINGS: 10
</p>
</body>
