<h1>Italian Easter Pie</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Ingredients
</li>
<li>
3/4 cup powdered sugar, plus extra for garnish
</li>
<li>
3 large eggs
</li>
<li>
2 teaspoons pure vanilla extract
</li>
<li>
1 tablespoon orange zest
</li>
<li>
1 (15-ounce) container whole milk ricotta cheese
</li>
<li>
1/2 cup cooked short-grained rice
</li>
<li>
1/3 cup toasted pine nuts
</li>
<li>
6 sheets fresh phyllo sheets or frozen, thawed
</li>
<li>
3/4 stick (3 ounces) unsalted butter, melted
</li>
<li>
Directions
</li>
<li>
Blend 3/4 cup of powdered sugar, eggs, vanilla, orange zest and ricotta in a food processor until smooth. Stir in the rice and pine nuts. Set the ricotta mixture aside.
</li>
<li>
Preheat the oven to 375 degrees F.
</li>
<li>
Lightly butter a 9-inch glass pie dish. Lay 1 phyllo sheet over the bottom and up the sides of the dish, allowing the phyllo to hang over the sides. Brush the phyllo with the melted butter. Top with a second sheet of phyllo dough, laying it in the opposite direction as the first phyllo sheet. Continue layering the remaining sheets of phyllo sheets, alternating after each layer and buttering each sheet. Spoon the ricotta mixture into the dish. Fold the overhanging phyllo dough over the top of the filling to enclose it completely. Brush completely with melted butter.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Bake the pie until the phyllo is golden brown and the filling is set, about 35 minutes. Transfer the pan to a rack and cool completely. Sift powdered sugar over the pie and serve.SOURCE: Adapted from Giada
</p>
</div></body>
