<h1>Italian Christmas Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 Cake Rum Cake (recipe follows)
</li>
<li>
1 lb. rocotta cheese
</li>
<li>
1/4 cup sugar
</li>
<li>
2 tablespoons whipping cream
</li>
<li>
6 tablespoons dark rum
</li>
<li>
1/4 cup candied fruit, chopped
</li>
<li>
1/4 cup semisweet chocolate, chopped
</li>
<li>
1/2 cup almonds or walnuts, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Slice ends and crust off csake and cut horizontally into four lyers.  Beat the ricotta with sugar, cream and rum until smooth.  Fold in rest of ingredients and spread between layers.  Top with Basic Chocolate Sauce (recipe follows) and garnish with candied fruit.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is a delicious and beautiful Christmas Cake.  It rounds out a very fun and light-hearted meal when served with Christmas Tree Decorating Lasagna as my Mom did in Washington D.C. at a very impressive party she had.  (This was the party that I helped her bring in all the wine in big boxes and she got herself closed in the elevator door while she carried this enormous box of wine on her shoulder...I just simply dropped to the floor with laughter and wet my pants.  Not much help but I&#39;ll never, ever forget that sight, her all stylish in her little winter fur hat and coat with this big box heaved on top of her shoulder and wedged between the elevator door and the wall...I wasn&#39;t much help.)   Hey, this cake was worth it all.
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Betty Gerard
</p>
</body>
