<h1>Italian Roasted Vegetable Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Roasted Vegetable
</li>
<li>
Sauce Abruzzi
</li>
<li>
(Serves 8-10)
</li>
<li>
The wonderful farmlands of Abruzzi inspired this colorful sauce. Make several batches at once; serve one as a vegetable entr&Atilde;&copy;e, and pur&Atilde;&copy;e the others to be used either as a sauce or as a soup with pasta, cooked beans, or polenta (cornmeal prepared as a thick cereal).
</li>
<li>
4 sprigs parsley
</li>
<li>
1/2 cup chopped carrots
</li>
<li>
1 stalk celery, chopped 
</li>
<li>
1 peeled garlic clove
</li>
<li>
1/4 teaspoon dried oregano
</li>
<li>
2 Tablespoons olive oil
</li>
<li>
1 cup chopped onions
</li>
<li>
1/2 cup chopped bell peppers
</li>
<li>
11/2 cups peeled and diced boiling potatoes
</li>
<li>
3/4 cup diced zucchini
</li>
<li>
Preheat oven to 375 degrees. 
</li>
<li>
Place parsley, carrots, celery, garlic, and oregano in a food processor or blender and process until finely chopped. Grease a baking dish with olive oil. Layer remaining ingredients in the dish, sprinkling each layer with the parsley blend. Bake, covered, for 45 minutes or until vegetables are tender. Serve as a casserole, or pur&Atilde;&copy;e and serve as a sauce. After pur&Atilde;&copy;eing, the sauce can be frozen for up to 2 months.
</li>
<li>
Total calories per serving: 69	Fat: 4 grams
</li>
<li>
Carbohydrates: 9 grams	Protein: 1 gram
</li>
<li>
Sodium: 10 milligrams	Fiber: 2 grams
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: The Vegetarian Resource Group
</p>
</div></body>
