<head>
<title>Italian Braised Greens</title>
</head>
<body>
<h1>Italian Braised Greens</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 lbs. greens, chard, spinach, beet greens....whatever!
</li>
<li>
2 shallots, minced
</li>
<li>
olive oil
</li>
<li>
wine or chicken stock
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place olive oil  in skillet.  Add shallots and cook slightly.  Add chopped greens  (there will be a lot).  Add salt and pepper.  Sear over high heat for a couple of minutes and then add a little wine or chicken stock.  Cook until completely wilted.   Serve as a side to any meat dish or with pasta.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
