<head>
<title>Italian Stuffed Pastries from the Marches</title>
</head>
<body>
<h1>Italian Stuffed Pastries from the Marches</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
n the ranks of Italian filled sweet pastries the piconi marchigiani have a place of their own as dessert, breakfast food and treat for afternoon tea. In some versions the ricotta used for the filling is flavored with a little rum.
</li>
<li>
RECIPE INGREDIENTS
</li>
<li>
For Pastry:
</li>
<li>
4 1/3 cups all-purpose flour
</li>
<li>
5 egg yolks, beaten
</li>
<li>
1 cup butter; softened
</li>
<li>
1 1/4 cups sugar
</li>
<li>
Grated zest of lemon
</li>
<li>
For Filling:
</li>
<li>
3 egg yolks
</li>
<li>
1 1/4 cups sugar
</li>
<li>
Pinch of ground cinnamon
</li>
<li>
Grated zest of 1 lemon
</li>
<li>
1 cup rum
</li>
<li>
3 oz semisweet dark chocolate, grated
</li>
<li>
3 oz shelled almonds, ground
</li>
<li>
1 lb ricotta cheese
</li>
<li>
DIRECTIONS
</li>
<li>
FOR PASTRY: Heap the flour on a board and make a well in the center. Put in the egg yolks, butter, sugar and a little lemon zest. Knead quickly to obtain medium-soft dough. Roll into a ball, wrap in plastic and chill for 1 hour.
</li>
<li>
FOR FILLING: In a bowl, beat the egg yolks (reserving a little for brushing the pastries), sugar, cinnamon, lemon zest, rum, chocolate and almonds into the ricotta. The mixture should be thick.
</li>
<li>
Roll the dough out thinly. Cut into 3 in circles. Put 1 teaspoon of the filling in the center of each circle and fold the dough over into a half-moon shape, pressing with your fingers to seal the edges well. Preheat the oven to 300 degrees F.
</li>
<li>
Put the pastries onto a buttered baking sheet and brush them with the reserved beaten egg. Bake in the oven until a toothpick inserted into one of them comes out dry, about 20 minutes.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: The Italian Gourmet
</p>
</body>
