<h1>Italian Chicken Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
onion, small dice
</li>
<li>
shallot, minced
</li>
<li>
celery, small dice
</li>
<li>
carrot, small dice
</li>
<li>
rosemary, minced
</li>
<li>
sage, minced
</li>
<li>
thyme, minced
</li>
<li>
garlic, smashed/dragged/minced
</li>
<li>
stock, chix, beef, turkey or mixture of 2
</li>
<li>
tomatoes, canned is best except end of summer
</li>
<li>
salt and pepper, to taste
</li>
<li>
vegetables, zucchini, yellow squash, peppers, whatever
</li>
<li>
chicken chunks
</li>
<li>
pasta, penne, broken spagetti, whatever
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'></div></body>
