<head>
<title>Italian Viniagrette</title>
</head>
<body>
<h1>Italian Viniagrette</h1>
<h2>Ingredients</h2>
<ul>
<li>
shallot
</li>
<li>
garlic
</li>
<li>
red wine vinegar
</li>
<li>
balsamic vinegar
</li>
<li>
salt and pepper
</li>
<li>
extra virgin olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mince one shallot and add 1-2 cloves garlic, minced, and place into large salad bowl.   Pour about 2 splashes or glugs of red wine vinegar into the bowl.  Add one splash of balsamic vinegar.  Whisk in enough extra virgin olive oil to taste...consider whether you are drinking wine or not and make slightly &quot;rounder&quot; if you are enjoying wine with your salad.
</li>
</ul>
<h2>Notes</h2></body>
