<h1>Italian Style Broccoli</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 bunches broccoli, cut into spears
</li>
<li>
5 cloves  garlic, sliced thin
</li>
<li>
1 teaspoon red chile flakes, or to taste
</li>
<li>
(null) olive oil
</li>
<li>
salt, to taste
</li>
<li>
lemon juice, to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat saute pan.  Add oil to cover the bottom of the pan.  Add garlic and chile flakes and cook briefly until fragrant...lower heat if necessary, being careful not to burn.  Add washed broccoli spears, still wet, and stir to cover with oil and flavors.  Salt  to taste.  Cover and cook about 7-8 minutes until easily speared with a toothpick.
</li>
</ul>
<h2>Notes</h2></body>
