<head>
<title>Italian Meatballs </title>
</head>
<body>
<h1>Italian Meatballs </h1>
<h2>Ingredients</h2>
<ul>
<li>
2 slices French bread
</li>
<li>
1/2 cup milk
</li>
<li>
1 egg, slightly beaten
</li>
<li>
1 lb. beef chuck
</li>
<li>
1/2 lb. Italian sausage
</li>
<li>
1/4 cup parmesan cheese
</li>
<li>
2 tablespoons Italian parsley, chopped
</li>
<li>
2 tablespoons fresh basil, chopped
</li>
<li>
olive oil
</li>
<li>
1/2 onion, minced
</li>
<li>
3 whole garlic cloves, minced
</li>
<li>
grated lemon peel from two lemons
</li>
<li>
salt and pepper
</li>
<li>
hard rolls
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix bread with milk and let soak for 5 minutes.  Wring out milk and discard milk.
</li>
<li>
Saute minced onion and garlic in a little olive oil until transparent.
</li>
<li>
Mix all other ingredients, add the onion and garlic and shape into balls.  Place on lightly sprayed sheet and bake in oven for about 30 minutes at 350F until brown.
</li>
<li>
For Meatball Sandwiches:
</li>
<li>
Place sliced or halved meatballs on toasted buns.  Top with marinera, parmesan cheese, mozzerella if desired;  and serve with a big green salad.....mmmmmm.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This was always one of my kid&#39;s favorites.  If I didn&#39;t have time to make meatballs (which they would love to help me), I would make the same sandwich with sausage.....yum.
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
