<head>
<title>Italian Spinach with Raisins and Pinenuts</title>
</head>
<body>
<h1>Italian Spinach with Raisins and Pinenuts</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 large bunches spinach, cleaned &amp; chopped
</li>
<li>
3 tablespoons olive oil
</li>
<li>
1/2 cup pancetta, diced
</li>
<li>
1 onion, minced
</li>
<li>
1 shallot, minced
</li>
<li>
8 cloves garlic, sliced
</li>
<li>
1/2 small can anchovy fillets, minced
</li>
<li>
1/4 teaspoon red chile flakes
</li>
<li>
1 teaspoon kosher salt
</li>
<li>
1/8 teaspoon pepper, or to taste
</li>
<li>
1/4 teaspoon cinnamon
</li>
<li>
1 1/2 cups raisins
</li>
<li>
3/4 cup pinenuts
</li>
<li>
2-3 tablespoons Balsamic vinegar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut off most the stems of the spinach.  Wash the spinach and dry on paper towels.  Chop into thirds.
</li>
<li>
Place 3 tablespoons of olive oil in  a large saute pan.  Add the pancetta, onion and shallot.  Saute briefly until fragrant and softened.  Add the garlic, anchovies, chile flakes.  Stir and cook about 2 minutes.  Add all the spinach.  It will look like a lot but it will cook way down.  Salt  and pepper the spinach and add the cinnamon.  Cook until all the spinach is softened.  Add the raisins, pine nuts and Balsamic vinegar.  Cook another 5-10 minutes until almost all the liquid has evaporated.
</li>
<li>
Use as a filling in lasagna or as a side dish.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Apple Charlotte
</p>
</body>
