<h1>Italian-Style Sauteed Tuna</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 tablespoons extra virgin olive oil
</li>
<li>
3 lbs. tuna, 1&quot; thick, into 12 steaks
</li>
<li>
2 medium onions, minced
</li>
<li>
1 bunch parsley leaves, minced
</li>
<li>
3 large garlic cloves, minced
</li>
<li>
3/4 cup basil, fresh, minced
</li>
<li>
1 cup dry white wine
</li>
<li>
salt and pepper
</li>
<li>
1 large can chopped tomato, drained
</li>
<li>
1 1/2 cups oil-cured black ripe olive, chopped
</li>
<li>
fresh basil, for garnish
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat the olive oil in large saute pan.  Add the tuna steaks.  Sprinkle the onions and parsley over all.  Sear the fish briefly until the flesh whitens.  Turn the fish carefully and lower the heat.  Scatter the garlic, basil and a bit of the white wine around the fish.  Salt and pepper.  Cook the fish 2-3 minutes per side or until a little give occurs when touched.  Should be opaque in the center but not dry or flaky.  Place the tuna on a heated serving platter and cover with tin foil.
</li>
<li>
Turn the heat to high and add the remaining wine.  Boil to reduce about 1 minute deglazing the pan.  Add the tomatoes and olives and heat through.  Serve over the tuna and garnish with fresh basil.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fabulous and easy....&quot;
</p>
<p>
SERVINGS: 10
</p>
</body>
