<h1>Jamaican &quot;Jerk&quot; Chicken</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 whole chicken, in pieces
</li>
<li>
1/4 cup vegetable oil
</li>
<li>
6 tablespoons garlic, minced
</li>
<li>
6 tablespoons onion, minced
</li>
<li>
6 tablespoons dried minced onion
</li>
<li>
2 tablespoons allspice
</li>
<li>
1 tablespoon dried ground chipotle
</li>
<li>
2 tablespoons brown sugar
</li>
<li>
4 1/2 teaspoons fresh thyme, minced
</li>
<li>
4 1/2 teaspoons cinnamon
</li>
<li>
1 1/2 teaspoons nutmeg
</li>
<li>
2 lemons, zest
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix all seasoning ingredients in a bowl.  Place chicken in mixture and marinate for 4 hours or overnight. Bake in 375F oven for about 40 minutes and finish grilling on stovetop or outside grill just until done.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Serve with a salsa, red chile sauce or fruit salsa to cool.&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
