<h1>Jambalya Seasoning Mix</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 teaspoons sweet paprika
</li>
<li>
1 teaspoon hot paprika
</li>
<li>
1 tablespoon onion powder
</li>
<li>
1 tablespoon kosher salt
</li>
<li>
2 teaspoons garlic powder
</li>
<li>
1 teaspoon white pepper
</li>
<li>
1 teaspoon black pepper
</li>
<li>
1 teaspoon dry mustard
</li>
<li>
2 teaspoons dried thyme leaves
</li>
<li>
1/2 teaspoon ground cumin
</li>
<li>
1/2 teaspoon cayenne
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: Apple Charlotte
</p>
</div></body>
