<h1>Jambalaya</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups onions, chopped
</li>
<li>
1 cup yellow bell pepper, chopped
</li>
<li>
1 cup red bell pepper, chopped
</li>
<li>
1 cup green bell pepper, chopped
</li>
<li>
4 cloves garlic, chopped
</li>
<li>
1 cup celery, chopped
</li>
<li>
1 cup cubed Tasso ham
</li>
<li>
2 cups Andouille, sliced, diag.
</li>
<li>
3 bay leaves
</li>
<li>
6 cups chicken stock
</li>
<li>
2 cups peeled, chopped fresh tomatoes
</li>
<li>
or 1 16 oz. canned
</li>
<li>
1 lb. chicken thighs, legs (or winglets)
</li>
<li>
1 lb. shrimp
</li>
<li>
3 cups uncooked long grain white rice
</li>
</ul>
<h2>Method</h2><ul>
<li>
Brown andouille and tasso.  Add chicken, sprinkle with seasoning and brown slightly.  Add vegetables and 3 tablespoons of seasoning mix and sweat..slightly carmelize.  Add the meat back if taken out and add rice.  Cover with stock and tomatoes.  Cover the pan and finish in oven or on top of the stove for about 30 minutes.  Better the next day.  Add shrimp just before serving and toss chopped parsley on top.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
