<h1>Jambalaya for Fifty</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
15 large onions, chopped
</li>
<li>
8 yellow bell pepper, diced
</li>
<li>
10 red bell peppers, diced
</li>
<li>
5 green bell peppers, diced
</li>
<li>
7 heads garlic, minced
</li>
<li>
1 bunch celery, chopped
</li>
<li>
4 Lousiana Hot Sausage (from Super One), diced
</li>
<li>
6 Andouille Sausage, fresh, sliced 1&quot; thick
</li>
<li>
6 lbs. Garlic Beer Sausage, sliced 1&quot; thick
</li>
<li>
8 Chorizo Sausages, sliced 1&quot; thick
</li>
<li>
6 bay leaves
</li>
<li>
Jambalya Seasoning Mix (recipe included) x
</li>
<li>
3 quarts stock...mixture of chix and beef
</li>
<li>
6 large cans tomatoes, strained
</li>
<li>
7 lbs. chix winglets,legs or thighs
</li>
<li>
4 lbs. shrimp
</li>
<li>
2 28 ounce bags long grain rice
</li>
<li>
2 bunches Italian parsley, chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Brown Lousiana Hot sausage with the other sausage in some olive oil.  Add chicken and sprinkle with seasoning mix.  Brown slightly.  Add vegetables and add more seasoning.  Slightly caramelize.  Add the meat back in and add rice.  Add the rest of seasoning.  Cover with stock and tomatoes.  Cover the pan and fishin in oven or on top of the stove for about 30 minutes.  Add shrimp just before serving and toss chopped parsley on top.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;The best ever!!!&quot;
</p>
<p>
SERVINGS: 50
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
