<h1>Jambalaya Seasoning Mix</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 tablespoon sweet paprika
</li>
<li>
1 tablespoon onion powder
</li>
<li>
1 tablespoon salt
</li>
<li>
2 teaspoons garlic powder
</li>
<li>
1 teaspoon white pepper
</li>
<li>
1 teaspoon black pepper
</li>
<li>
1 teaspoon dry mustard
</li>
<li>
1 teaspoon dried thyme leaves
</li>
<li>
1/2 teaspoon ground cumin
</li>
<li>
1/2 teaspoon cayenne
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : Three tablespoons of this mixture is about right for a 8 serving amount of jambalaya.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Paul Pudhomme
</p>
</div></body>
