<head>
<title>Joanne&#39;s Homemade Toffee</title>
</head>
<body>
<h1>Joanne&#39;s Homemade Toffee</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups sugar
</li>
<li>
1 lb. butter
</li>
<li>
1 lb. margarine
</li>
<li>
4 tablespoons white corn syrup
</li>
<li>
3/4 cup water
</li>
<li>
5 8 ounce Hershey Bars
</li>
<li>
16 ounces almonds, ground in processor
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook the above ingredients over medium heat, stirring constantly, until sugar dissolves and candy thermometer reads 285 degrees.  Take off heat, stirring constantly until temperature reads 287 degrees+.   Pour immediately into 2 buttered cookie trays (10 x 15&quot; , not totally filled).  You may be tempted to lick this mixture at this very moment....BUT it is very hot  and your tongue will remain with the candy on the spoon...so forget it.  Cool this mixture.
</li>
<li>
Melt the Hershey bars in the microwave.  Spread half the chocolate on the toffee with a rubber....ah, er...spatula.  Sprinkle on ground almonds.   Wait until chocolate and candy is hard ( a couple of hours).  Take candy out of cookie tray and turn over on waxed paper.  Spread with remaining chocolate and wait until hard.  Break into pieces (no testing allowed as it will never get to anyone as a gift).   Wow...wow...wowy.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Rick Mathieu&#39;s mom has now literally spread this recipe far and wide...as here it is and she lives in California.  But my good friend, Casey, has shared this unbelievable candy with me at Christmas and it is delicious...in fact you better hope she doesn&#39;t give you any because YOU will gobble it right down...for another 3 pounds of Christmas bounty on YOU!  Casey assures me it is very easy...because that&#39;s all she likes to do in the kitchen...easy!
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Joanne Mathieu
</p>
</body>
