<h1>Joanne&#39;s Dill Pickles</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 lbs. 4&quot; cucumbers
</li>
<li>
6 tablespoons rock salt or non-iodized salt
</li>
<li>
3 cups cider vinegar
</li>
<li>
3 cups water
</li>
<li>
sprig fresh dill
</li>
<li>
20 whole black pepper corns
</li>
<li>
14 cloves garlic, cut in half
</li>
</ul>
<h2>Method</h2><ul>
<li>
Wash (DON&#39;T SOAK) cucumbers in water, removing all black bumps with vegetable scrubber.  Cut in half lengthwise if desired.
</li>
<li>
Combine salt, vinegar, water and heat to boiling.  
</li>
<li>
Pack cucumber into clean hot canning jars.  Add 2 sprigs of fresh dill, 3 pepper corns and four garlic halves to each jar.
</li>
<li>
Fill jars with vinegar solution and process 10 minutes in boiling water bath in large canning kettle with rack for holding jars.
</li>
<li>
**For extra &quot;zip&quot;, add part of dried chili pepper to each jar.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Actually, Rick Mathieu made these one night when I couldn&#39;t see what I was eating because we were having a black out as a result of &quot;Ice Storm &#39;96&quot;.  I guessed it...it was a delicious, just right crunch dill pickle that he had made himself.  He promised me the recipe flown in specially from his Mom.  Follow carefully...as you will love the texture and I think some special instructions make these perfect.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Joanne Mathieu
</p>
</body>
