<h1>Johnny&#39;s Great Garlic Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 loaf French bread, split in half lengthwise
</li>
<li>
1-2 cubes butter, softened
</li>
<li>
to taste cloves garlic, minced and smashed
</li>
<li>
(null) parsley, chopped
</li>
<li>
Worcestershire sauce, to taste
</li>
<li>
Kraft parmesan cheese, in green shakeable box
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix all ingredients together except parmesan  Spread on both halves of bread.  Sprinkle with lots of parmesan.  Place under broiler until just crunchy,
</li>
</ul>
<h2>Notes</h2></body>
