<h1>Joyce&#39;s All-Time Favorite &quot;Ranger&quot; Cookies</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup shortening
</li>
<li>
1 cup brown sugar
</li>
<li>
1 cup granulated sugar
</li>
<li>
2 eggnog
</li>
<li>
2 cups oatmeal
</li>
<li>
3 cups Rice Krispies&Acirc;&reg;
</li>
<li>
1 cup coconut
</li>
<li>
1 cup walnuts
</li>
<li>
1 teaspoon vanilla
</li>
<li>
2 cups flour
</li>
<li>
1 teaspoon soda water
</li>
<li>
1/2 teaspoon baking powder
</li>
<li>
1/2 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cream shortening and sugars.  Add eggs and vanilla and beat until creamy.  Soft flour, soda, baking powder, salt and add to creamed mixture.  Add all other ingredients.  Drop on greased cookie sheet and flatten slightly with a large rubber mallet.  Bake at 350 degrees for 10 minutes.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : You must go on vacation whenever you make these cookies.NOTES : Joyce tells me she got this recipe from Air Force friends from her childhood.  This woman and her family came to Joyce&#39;s home for dinner.  Joyce was just a young girl .  Joyce was totally amazed when the woman&#39;s children didn&#39;t recognize store bought bread wrapping because all they ever had in their home was homemade bread.  Joyce just couldn&#39;t believe it!!!  That memory always held fast with her as well as these delicious cookies that the woman brought with her.  They are Joyce&#39;s favorite &quot;gotta-have-em-on-vacation&quot; treats. &quot; We have been known to eat &#39;em for breakfast on occasion, &quot; she says!
</p>
<p>
SERVINGS: 60
</p>
<p>
SOURCE: Joyce Winters
</p>
</body>
