<h1>Joyce&#39;s Big Soft Ginger Cookies</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/4 cups flour
</li>
<li>
2 teaspoons ground ginger
</li>
<li>
1 teaspoon baking soda
</li>
<li>
3/4 teaspoon ground cinnamon
</li>
<li>
1/2 teaspoon ground cloves
</li>
<li>
1/4 teaspoon salt
</li>
<li>
3/4 cup butter, margarine or shortening
</li>
<li>
1 cup sugar
</li>
<li>
1 egg
</li>
<li>
1/4 cup molasses
</li>
<li>
2 tablespoons sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine flour, ginger, soda, cinnamon, cloves and salt.  Set aside.  Beat shortening with electric mixer to soften on low speed for 30 seconds.  Gradually add 1 cup sugar; beat until fluffy (I had a cat named Fluffy...I can&#39;t imagine beating until it looks like Fluffy).  Add egg and molasses; beat well.  Stir dry ingredients into beaten mixture.  Shape into 1 1/2 inch balls.  Roll in the 2 tablespoons of sugar and put on ungreased cookie sheet about  2 1/2 inces apart.  Bake at 350 degrees for about 10 minutes until light brown and still puffy (I had a frog named Puffy once...I can&#39;t imagine cooking until they all look like Puffy).  Let stand for 2 minutes before moving to wire rack.  Makes about 24 big cookies unless you are a dough eater.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Serve warm, folding over one hand with a big glass of milkNOTES : Just typing out the recipe of these cookies makes me hungry and feeling very Christmasy...warm, cinnamony and just wanting to drop everything and run into the kitchen and make these cookies so I can sit down in front of my Christmas tree and fireplace upon completion of these happy cookies with a huge glass of cold milk and my doggie.  Oh my...these are full of  nurture and happiness just like my good friend, Joyce.
</p>
<p>
SERVINGS: 24
</p>
<p>
SOURCE: Joyce Winters
</p>
</body>
