<h1>Joyce&#39;s Fabulous Apple Butter</h1>
<h2>Ingredients</h2>
<ul>
<li>
18 lbs. golden Delicious apple
</li>
<li>
5 1/2 cups water
</li>
<li>
3/4 cup lemon juice
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
5 teaspoons cinnamon
</li>
<li>
9 cups brown sugar
</li>
<li>
1 1/2 cups orange flavored liquor
</li>
</ul>
<h2>Method</h2><ul>
<li>
Throw all the apples into a large braising pan with water, lj.  Cover and place in the oven, cooking until soft.  
</li>
<li>
Put through food mill.  
</li>
<li>
Add sugar, spices and bake in 350F oven for 1 1/2- 2 hours until thick.  
</li>
<li>
Add liquor and put into jars and process in water bath for 10 minutes.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;18 pints&quot;
</p>
</body>
