<h1>June Scott&#39;s Sausage</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 lbs. ground beef
</li>
<li>
1 teaspoon garlic salt
</li>
<li>
1 teaspoon onion salt
</li>
<li>
1 teaspoon dry mustard
</li>
<li>
4 tablespoons Morton Tender Quick
</li>
<li>
handful of peppercorns if desired
</li>
<li>
1 tablespoon liquid smoke flavoring
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix salts and mustard.  Add to beef.  Sprinkle on liquid smoke.  Mix.
</li>
<li>
Form into 4 or 5 rolls; wrap in aluminum foil.  Refrigerate for 24 hours.  
</li>
<li>
Place in 9x13 pan adding 2 cups of water.  Bake at 350F for 1 to 1 1/2 hours.  Remove water, open foil end and pour off grease and water.
</li>
<li>
Cool.  Refrigerate or freeze.
</li>
<li>
This recipe is a little hard to mix after the tender quick is added.  I do it in two batches or use my bread dough attachments.  It is very easy to half the recipe.  ENJOY!!
</li>
</ul>
<h2>Notes</h2><div id='notes'></div></body>
