<head>
<title>Kapusniak....Sauerkraut Soup</title>
</head>
<body>
<h1>Kapusniak....Sauerkraut Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. ham hocks
</li>
<li>
1 quart water
</li>
<li>
1 medium onion, sliced
</li>
<li>
2 bay leaf
</li>
<li>
10 peppercorns
</li>
<li>
6 stems parsley
</li>
<li>
1 lb. sauerkraut
</li>
<li>
2 cups beef stock
</li>
<li>
1 lb. smoked kielbasa, sliced
</li>
<li>
3 tablespoons butter
</li>
<li>
3 tablespoons flour
</li>
<li>
salt and pepper to taste
</li>
<li>
boiled potatoes
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook ham hocks in water for 20 minutes.  Skim the skum while cooking.  Add onion, bay leaf, peppercorns and parsley stems and cook about 45 minutes longer, or until meat is tender.
</li>
<li>
Remove meat from broth.  Strain broth and return to pot.
</li>
<li>
Remove meat from bones; discard skin and bones.  Dice meat.
</li>
<li>
Rinse sauerkraut with cold water; drain.
</li>
<li>
Add diced meat, sauerkraut, beef stock and kielbasa.  Simmer 1 hour.
</li>
<li>
Mix butter and flour to a smooth paste; stir into simmering soup.  Cook until slightly thickened.  Mix in salt and pepper.
</li>
<li>
Serve with plain boiled potatoes.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;One of my husband&#39;s favorite memories!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Zyskowski Tradition
</p>
</body>
