<h1>Kedgeree [KEHJ-uh-ree]</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Curry Bechemel Sauce:
</li>
<li>
3 tablespoons butter
</li>
<li>
2 -3 teaspoons curry powder
</li>
<li>
3 tablespoons flour
</li>
<li>
1 1/2 cups milk, warmed
</li>
<li>
Poached Salmon:
</li>
<li>
1/2 cup wine
</li>
<li>
6 cups water
</li>
<li>
1 whole lemon, cut in quarters
</li>
<li>
1 whole orange, cut in quarters
</li>
<li>
1 whole lemon, cut in quarters
</li>
<li>
2 tablespoons pickling spice
</li>
<li>
2 1/2 lbs. salmon fillet, skinned and cut into 1&quot; wide fillets
</li>
<li>
Indian Rice Pilaf:
</li>
<li>
3 cups basmati rice
</li>
<li>
3 tablespoons onion, minced
</li>
<li>
4 tablespoons vegetable oil
</li>
<li>
6 whole cardamom pods
</li>
<li>
3 whole bay leaves
</li>
<li>
1 teaspoon cumin seed, roasted
</li>
<li>
1 teaspoon turmeric
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
6 cups water
</li>
<li>
5 large eggs, hard boiled
</li>
<li>
1/2 bunch cilantro, chopped fine
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Begin with rice:  Rinse rice several times until rinsed clear.  Cover with water by 2 inches and allow to soak for 30 minutes.  
</li>
<li>
Heat saucepan and add vegetable oil.  Brown onions slightly and then add cardamom pods, bay leaves and cumin seed.  Cook briefly.  Add drained rice, salt and water.  Bring to a boil, lower heat, cover and cook for 20-25 minutes.  Turn off heat and allow to sit for about 7-10 minutes or until ready to serve.  Fluff with a fork.
</li>
<li>
Meanwhile prepare poaching liquid for salmon by placing the wine, water, citrus, pickling spice in a large pan to hold salmon fillets.  Bring to a boil, lower to simmer and cook for 20 minutes.  Add salmon after rice is cooked (while rice is resting) and cook salmon for 5-7 minutes.  Remember to undercook!
</li>
<li>
While the poaching liquid is simmering in preparation for the poaching process, prepare the Bechemel.  Place the butter in a saucepan and melt.  Add the curry powder and cook for  about 2 minutes, taking the raw flavor out and bring up the flavor of the curry.  Add the flour and cook about 3 minutes.  Add the warmed milk and continue stirring until thickened.  Taste for seasoning and add salt to taste.
</li>
<li>
To serve:  Place rice on platter with poached salmon around.   Drizzle curry sauce on each salmon and garnish with hard-cooked eggs and cilantro.  Delicious!!
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A popular English dish, borrowed from the spicy Indian dish of rice,
</p>
<p>
  lintels and onions.  Apple Charlotte has updated it and snazed it up a
</p>
<p>
  bit!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
