<head>
<title>Kentucky Derby Pie</title>
</head>
<body>
<h1>Kentucky Derby Pie</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 ounces semi sweet chocolate morsels, melted
</li>
<li>
4 large eggs, lightly beaten
</li>
<li>
2 cups sugar
</li>
<li>
1 cup butter, melted
</li>
<li>
1 cup self-rising flour, sifted
</li>
<li>
2 teaspoons vanilla, 2
</li>
<li>
2 cups pecans, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Melt chocolate over bain marie in large bowl.  Cool slightly and add eggs, sugar and mix.  Add melted butter.  Mix in flour and vanilla.  Add pecans.  Pour into pie shells and bake at 350F for 50-60 minutes.
</li>
</ul>
<h2>Notes</h2></body>
