<h1>Kerchief Pasta with Caramelized Squash and Fresh Herbs</h1>
<h2>Ingredients</h2>
<ul>
<li>
9 tablespoons unsalted butter
</li>
<li>
1 2-3 # butternut squash, cut into 1&quot; chunks
</li>
<li>
2 tablespoons sugar
</li>
<li>
1/2 cup chicken stock
</li>
<li>
s/p
</li>
<li>
3 tablespoons shallots, finely minced
</li>
<li>
1/8 teaspoon freshly grated nutmeg
</li>
<li>
1 tablespoon fresh sage, minced
</li>
<li>
1 teaspoon lemon juice
</li>
<li>
2 tablespoons parsley, minced
</li>
<li>
1 pound fresh pasta sheets, cut into 2&quot; squares
</li>
<li>
parmesan cheese, grated
</li>
</ul>
<h2>Method</h2><ul>
<li>
In a fry pan or braiser, melt 3 tablespoons of butter.  Add squash and sear 6 minutes.  Stir and cook 4 minutes more.  Add sugar, stock, s/p.  Cover and cook 2-3 minutes.  Uncover and cook another 2-3 minutes.  Remove from heat.
</li>
<li>
In the same pan, heat 6 tablespoons of butter.  Cook shallots, nutmeg and sage for about 1 minute.  Remove from heat and add l/j, parsley, salt, pepper and squash.
</li>
<li>
Meanwhile, bring large pot of salted water to a boil.  Cook pasta 3 minutes.  Drain, reservng 1/2 cup water.  Add pasta and reserved water to squash and toss to combine.  Transfer pasta to warmed large, shallow bowl and sprinkle with cheese.  Serve. 
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 6
</p>
<p>
SOURCE: Adapted from Williams Sonoma
</p>
</body>
