<head>
<title>Korean Fruit Soup</title>
</head>
<body>
<h1>Korean Fruit Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups water
</li>
<li>
1/2 cup honey
</li>
<li>
1 ounce ginger, peeled/grated
</li>
<li>
2 tablespoons fresh lemon juice
</li>
<li>
3 cups grapefruit juice
</li>
<li>
2 tablespoons rice wine
</li>
<li>
1 apple, peeled and cut into 1/2&quot; dice
</li>
<li>
1 Asian pear, peeled and cut into 1/2&quot; dice
</li>
<li>
15 seedless grapes
</li>
<li>
1 peach, peeled and cut into 1/2&quot; dice
</li>
<li>
1 cup strawberries, halved
</li>
<li>
1 orange, peeled and sectioned
</li>
<li>
1 tablespoon pine nuts
</li>
<li>
1 teaspoon ground cinnamon
</li>
<li>
6 sprigs mint leaves, garnish
</li>
</ul>
<h2>Method</h2><ul>
<li>
Make soup base mixing water with honey, ginger, lemon juice, grapefruit juice and rice wine.  Stir until blended.  
</li>
<li>
In a large pretty bowl, mix the fruits, add the liquid and sitr lightly.  Wrap with plastic wrap and store in frig until ready to enjoy.
</li>
<li>
Before serving, sprinkle the pine nuts and cinnamon over the soup.  Serve in individual bowls and garnish with mint leaves.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Other fruits can be substituted where some are not seasonal.&quot;
</p>
<p>
SERVINGS: 6
</p>
</body>
