<h1>Korean  Crisp Vegetable Pancake</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup flour
</li>
<li>
1 cup rice flour
</li>
<li>
2 large eggs
</li>
<li>
1 tablespoon canola oil
</li>
<li>
1 1/2 cups water
</li>
<li>
1 teaspoon salt
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1 teaspoon sesame oil
</li>
<li>
5 scallions, green only, cut into 3&quot; lengths &amp; sliced lengthwise
</li>
<li>
20 chives, roughly chopped
</li>
<li>
2 medium carrots, grated
</li>
<li>
1 small yellow summer squash, grated
</li>
<li>
Dipping Sauce:
</li>
<li>
1/2 cup soy sauce
</li>
<li>
2 teaspoon each onion, green onion, red bell pepper,
</li>
<li>
carrot, cut rough
</li>
<li>
2 teaspoons each sugar, red pepper flakes, sesame oil
</li>
<li>
1 teaspoon toasted sesame seeds
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix everything together up to the scallions.  Let it rest while you prepare the vegetables.  Then place the vegetables into the pancake batter.
</li>
<li>
Heat a non-stick pan and coat the bottom with oil.  Spread about 1/4 of  the batter out evenly into a circle.  Cook until the bottom is brown, about 5 minutes.  Flip and cook the other side.  Repeat with the remaining batter.
</li>
<li>
As they cook, drain on paper towels.  Cut into small triangles and serve with Dipping Sauce.
</li>
<li>
Dipping Sauce:  Place all ingredients into a food processor and mix.  
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A wonderful starter or side dish.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Korean Cuisine&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Young Sook Choi
</p>
</body>
