<h1>Korean Cucumber Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 lbs. English cucumbers, sliced paper-thin
</li>
<li>
1 1/2 tablespoons kosher salt
</li>
<li>
1/2 tablespoon red pepper flakes, 1/2&quot; cubes
</li>
<li>
1/2 cup rice vinegar
</li>
<li>
1 tablespoon rice wine
</li>
<li>
2 tablespoons sugar
</li>
<li>
2 tablespoons freshly squeezed lemon juice
</li>
<li>
1 clove garlic, crushed and minced
</li>
<li>
2 green onions, white &amp; pale parts finely minced
</li>
<li>
2 halves walnuts, finely chopped
</li>
<li>
2 tablespoons sesame oil
</li>
<li>
1 tablespoon toasted sesame seeds
</li>
<li>
1/2 tablespoon freshly ground black pepper
</li>
<li>
2 tablespoons finely chopped parsley
</li>
<li>
1 tablespoon red pepper flakes, for garnish
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place cucumbers in bowl and sprinkle with salt.  Let sit for 15 minutes.  Wrap cucumbers in paper towel and squeeze out as much liquid as possible.  Set aside.
</li>
<li>
In the same bowl, combine the remaining ingredients, except the last red pepper flakes and reserving 1 tablespoon of the parsley for garnish.  Mix well.  Add the cucumbers and toss well.  Cover and refrigerate.  Garnish before serving with reserved parsley and 1 tablespoon of the red pepper flakes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Growing Up in a Korean Kitchen&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Hi Soo Shin Hepinstall
</p>
</div></body>
