<head>
<title>Korean Lettuce Wrap Ups</title>
</head>
<body>
<h1>Korean Lettuce Wrap Ups</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 package tofu, firm, liquid pressed out
</li>
<li>
1/2 lb. chicken, or ground beef (fat content goes up)
</li>
<li>
Seasoning Mixture:
</li>
<li>
2 green onions, minced
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1/2 teaspoon sesame oil
</li>
<li>
dash white pepper
</li>
<li>
1 tablespoon canola oil
</li>
<li>
2 tablespoons bean paste
</li>
<li>
1 tablespoon hot bean paste
</li>
<li>
1 tablespoon sugar
</li>
<li>
2 teaspoons sesame oil
</li>
<li>
1 tablespoon toasted sesame seeds
</li>
<li>
2 heads red or green leaf, or butter lettuce, washed and dried
</li>
<li>
2 cups cooked rice
</li>
<li>
1/2 cup vinegar soy sauce (recipe below)
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Cover tofu with plastic wrap;  place sheet pan on top and weigh down with a heavy book to press liquid out and drain for about 20 minutes.  Then crumble lightly.
</li>
<li>
2.  In the mean time, mix the ground beef with the seasoning mixture and stir fry with oil over a medium hot wok.  Cook until beef is brown.  Add the crumbled tofu and two kinds of bean past.  Mix well.
</li>
<li>
3.  Stir in sugar and sesame seed oil slowly.  Adjust seasoning with soy sauce and sugar if needed. 
</li>
<li>
4.   Place mixture in a bowl and sprinkle with sesame seeds.  Serve with lettuce leaves and cooked rice.
</li>
<li>
TO EAT:  Place a spoonful of rice ans some meat mixture on a lettuce leaf with some sauce, fold like a taco, and eat immediately.
</li>
<li>
Vinegar Soy Sauce:    4 tablespoons Kikkoman soy sauce
</li>
<li>
                                 2 tablespoons rice vinegar
</li>
<li>
                                 2 teaspoons lemon juice
</li>
<li>
                                 1 teaspoon toasted pine nuts, chopped
</li>
<li>
                                  Mix together everything except nuts.  Sprinkle with nuts
</li>
<li>
                                  just before serving. 
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;2 each&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Rhoda Yee, CCA
</p>
</body>
