<h1>Korean Honey Coated Cookies (Yakgwa)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups AP flour
</li>
<li>
2 tablespoons sesame oil
</li>
<li>
1 egg yolk
</li>
<li>
pinch salt
</li>
<li>
pinch freshly ground pepper
</li>
<li>
1 tablespoon freshly squeezed ginger juice
</li>
<li>
2 tablespoons rice wine
</li>
<li>
3 tablespoons honey
</li>
<li>
1 cup canola oil
</li>
<li>
1/2 tablespoon cinnamon
</li>
<li>
4 tablespoons pine nuts, coarsely chopped or toasted sesame seeds
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Sift the flour into a large bowl.  Make a well in the center.  Add sesame oil and egg yolk to well mix until a cornmeal-like consistency.  Add the salt and pepper and sift once more.
</li>
<li>
In another small bowl, combine ginger juice, rice wine, honey.  Mix and stir into the flour mixture, 1 spoonful at a time.  Knead lightly into a soft dough (but not too much maintaining the cookie&#39;s light and crunchy texture...like piecrust).
</li>
<li>
Form into balls the size of golf balls, making about 20 balls.  Use a cookie press to form an impression on the cookie.  On the underside, poke with a fork a few times  to help with even cooking.  
</li>
<li>
In a deep frying pan, heat the canola oil until very hot.  Drop the balls, 5-6 at a time, into the oil.  Fry for about 2 1/2 minutes, turning them once and fry for about 2 1/2 minutes more until golden brown and crispy.  Drain on paper towels.  Cool on a rack.  Transfer to a platter and sprinkle the cinnamon and pine nuts on top.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Translated to &quot;medicinal cookies&quot; because of the health  benefits of
</p>
<p>
  the ingredients.  The wooden molds in the Korean kitchens are called
</p>
<p>
  yakgwa tul but a cookie press will work.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Growing Up in a Korean Kitchen&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;20 cookies&quot;SOURCE: Hi Soo Shin Hepinstall
</p>
</div></body>
