<h1>Korean Sesame Spareribs</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 lbs. spareribs, cut in 2&quot; pieces
</li>
<li>
1 cup water
</li>
<li>
4 tablespoons chopped garlic
</li>
<li>
1/2 cup toasted sesame seeds
</li>
<li>
2/3 cup sugar
</li>
<li>
10 nickel-size pieces ginger
</li>
<li>
1 cup soy sauce
</li>
<li>
2 tablespoons dark sesame oil
</li>
<li>
1/2 cup water
</li>
<li>
salt and pepper
</li>
<li>
1 cup scallion, chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place a large skillet on the stove that will hold the ribs in one layer.  Turn the heat on high and add the ribs and 1 cup of water.  Boil, turning occasionally, until liquid has evaporated.  Reduce the heat to medium and brown the ribs in their own fat.  Turn occasionally for about 5 minutes.
</li>
<li>
Add garlic and half of the sesame seeds.  Cook for 30 seconds, stirring.  Add sugar, ginger, soy, half the sesame oil and another 1/2 cup water.  Turn the heat to medium high and cook, turning occasionally, until liquid is thick and dark for about 10 minutes.  If the ribs are not tender at this point, add another 1/2 cup water and continue cooking another 10 minutes.
</li>
<li>
Add s/p, remaining sesame seeds and sesame oil.  Stir in and top with scallions.  Serve
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Mark Bittman
</p>
</div></body>
