<h1>Korean Spinach Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. spinach leaves
</li>
<li>
1/2 teaspoon each salt, sesame oil
</li>
<li>
1/4 teaspoon garlic, minced
</li>
<li>
pinch sugar
</li>
<li>
toasted sesame seeds
</li>
</ul>
<h2>Method</h2><ul>
<li>
Blanch spinach in boiling water.  Rinse in cold water and squeeze out excess water.  Mix with salt, sesame oil, garlic, sugar and sesame seeds.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Korean Cuisine&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Adapted from Young Sook Choi
</p>
</body>
