<head>
<title>Kung Pao Chicken</title>
</head>
<body>
<h1>Kung Pao Chicken</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. skinless, boneless chicken, dark meat
</li>
<li>
Dark marinade:
</li>
<li>
1 tablespoon Kikkoman soy sauce
</li>
<li>
1/2 tablespoon rice wine
</li>
<li>
1/2 tablespoon cornstarch
</li>
<li>
1/2 tablespoon sugar
</li>
<li>
4 dried red chile peppers
</li>
<li>
1/2 cup raw peanuts
</li>
<li>
1 tablespoon minced ginger
</li>
<li>
1 tablespoon minced garlic
</li>
<li>
1/2 cup baby corn
</li>
<li>
1/2 cup red or green bell pepper, 1&quot; cube
</li>
<li>
2 tablespoons rice wine
</li>
<li>
1 tablespoon sugar
</li>
<li>
2 tablespoons vinegar
</li>
<li>
1 tablespoon soy sauce
</li>
<li>
1 teaspoon chile flakes
</li>
<li>
Cornstarch slurry: 1T cornstarch:
</li>
<li>
1/4 cup water
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Marinade the chicken with dark marinade.
</li>
<li>
2.  Heat the oil in the wok, fry the peanuts  over medium heat until golden and take off heat when golden (continues to cook...easy to burn).  
</li>
<li>
3.  Turn the heat to high and in the same oil add in the dried chiles.  When the chiles turn dark, but not burned, remove.  Add chicken, salt lightly, and cook until done.  Remove.
</li>
<li>
4.  Add in ginger and garlic, stir fry until garlic starts to turn golden brown. 
</li>
<li>
5.  Add the baby corn and peppers, stir fry until peppers are heated through.
</li>
<li>
6.  Add in the cooked chicken, fried peanuts and chiles, along with wine, sugar, vinegar, soy sauce and chile flakes.
</li>
<li>
7.  When the liquid comes to a boil, add in slurry.  Cook until the dish thickens, remove and serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Hunan
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Rhoda Yee, CCA
</p>
</body>
