<h1>Lamb Spirals w/Goat Cheese Ravioli</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 four oz. Lamb Paillardes (5x5x1/8&quot;)
</li>
<li>
1/4 cup garlic, roasted
</li>
<li>
1/4 cup pine nuts, roasted
</li>
<li>
4 tablespoons olive oil
</li>
<li>
8 pieces string
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
Ravioli:
</li>
<li>
pasta sheets for 64 raviolis, 2&quot;
</li>
<li>
(approximately 3 - 1 cup flour batches)
</li>
<li>
2 cups goat cheese
</li>
<li>
2 tablespoons fresh parsley, chopped
</li>
<li>
pepper to taste
</li>
<li>
1 cup veal glaze
</li>
<li>
2 tablespoons fresh savory, chopped
</li>
<li>
2 tablespoons pink peppercorns
</li>
<li>
Beurre Blanc
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Pound the lamb into paillardes, size indicated.
</li>
<li>
2. Place the lamb pieces flat on a cutting board.  Mix roasted garlic with roasted pine nuts and 4 tablespoons of olive oil in a blender until smooth.  Season with s/p and spread evenly on lamb.  Roll the lamb into spirals, making eight separate portions.  Tie with string to hold the spiral in shape.  Season and set aside.
</li>
<li>
3.  Mix the goat cheese with parsley and pepper.  Place the dabs of cheese mixture onto the rolled out sheets of pasta, wet around the filling and   cover with with top pasta sheet.  Cut into desired ravioli shapes.  
</li>
<li>
4.  Prepare the Beurre Blanc slightly before serving time, protecting it in a double bain marie in a warm place being careful to keep it from breaking.
</li>
<li>
5.  At serving time, grill the lamb spirals to medium rare.  Remove string and slice into 5 pieces per spiral.  Cook the ravioli briefly in boiling water until done.  Toss the ravioli with Beurre Blanc and place in center of serving plate.  Place 5 spirals around inner rim of each plate, sauce the meat with veal glaze and garnish the ravioli with savory and pink peppercorns.  Serve.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Bill Hufferd of DC3 Restaurant, Santa Monica, CA
</p>
</div></body>
