<h1>Lane Cake</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Lane Cake
</li>
<li>
Recipe adapted from The Gift of Southern Cooking by Edna Lewis and Scott Peacock
</li>
<li>
 
</li>
<li>
Photo: Marcus Nilsson
</li>
<li>
Lane cake is a traditional Southern holiday classic&acirc;&#128;&#148;white cake with lavish amounts of rich frosting made with pecans and fresh coconut.
</li>
<li>
This cake improves in flavor as it ages and mellows; make it up to 1 week before serving and keep it covered and uncut at room temperature. For better flavor, make homemade baking powder, which doesn&#39;t have the chemical aftertaste of store-bought baking powder: Triple-sift together 2 tablespoons cream of tartar and 1 tablespoon baking soda. Store in an airtight container for up to 1 month.
</li>
<li>
This recipe is from the Stirring Up Memories Christmas Menu.
</li>
<li>
Ingredients:Makes one 9-inch cake (12&acirc;&#128;&#147;16 servings)
</li>
<li>
Cake:
</li>
<li>
16 Tbsp. (2 sticks) unsalted butter , softened, plus more for pans
</li>
<li>
3 1/2 cups cake flour , plus more for pans
</li>
<li>
1 Tbsp. homemade baking powder
</li>
<li>
1/4 tsp. salt
</li>
<li>
1 cup milk , room temperature
</li>
<li>
1 tsp. vanilla extract
</li>
<li>
2 cups sugar
</li>
<li>
8 egg whites , room temperature
</li>
<li>
Filling:
</li>
<li>
8 Tbsp. (1 stick) unsalted butter
</li>
<li>
1 cup sugar
</li>
<li>
8 egg yolks
</li>
<li>
1 cup finely chopped pecans
</li>
<li>
1 cup finely chopped raisins
</li>
<li>
1 1/4 cups freshly grated coconut
</li>
<li>
1/4 cup bourbon or Tennessee whiskey
</li>
<li>
1 tsp. vanilla extract
</li>
<li>
To make cake: Preheat oven to 325&Acirc;&deg;. Line the bottoms of three 9-inch cake pans with parchment paper; grease and flour parchment paper and sides of pans.
</li>
<li>
In a medium bowl, sift together flour, baking powder, and salt. In a glass measuring cup, combine milk and vanilla. In the large bowl of an electric mixer, beat butter on medium speed until creamy. Gradually add sugar, beating until light and fluffy, occasionally scraping down sides of bowl. Reduce speed to low; add flour mixture in three parts, alternating with the milk-vanilla mixture. Mix until combined, occasionally scraping down sides of bowl.
</li>
<li>
Transfer batter to large bowl; wash and completely dry mixing bowl and beater attachments. In clean bowl of electric mixer, beat egg whites just until they form soft peaks. Stir one-third of the beaten whites into the batter to lighten; then, in two parts, gently fold in remaining egg whites.
</li>
<li>
Scrape batter into prepared pans; gently tap pans on counter to remove air pockets. Bake 20 to 25 minutes, or until cake springs back in center when lightly touched. Place pans on racks to cool 5 minutes; invert cake layers onto racks to cool completely (do not remove parchment paper).
</li>
<li>
To make filling: In a large nonreactive saucepan, melt butter over low heat; set aside to cool. Whisk in sugar and egg yolks until well blended. Place over medium heat and cook, stirring constantly with a heatproof spatula while also scraping bottom of pan, until mixture reaches 170&Acirc;&deg; to 180&Acirc;&deg; when measured with an instant-read thermometer and thickly coats back of spatula, about 10 minutes (make sure mixture does not simmer). Remove from heat and stir in pecans, raisins, coconut, bourbon, and vanilla. Refrigerate at least 2 hours, or until thickened and chilled.
</li>
<li>
To assemble the cake: Peel parchment off cake layers. Invert 1 layer onto a large cake plate. Top with about 1 cup filling, spreading filling to the edges of cake. Top with second cake layer and spread that layer with 1 cup filling. Repeat with final cake layer and remaining filling. Cool completely before serving.
</li>
<li>
Related Links
</li>
<li>
Stirring Up Memories  
</li>
<li>
Edna Lewis&#39;s Famous Coconut Lane Cake  
</li>
<li>
Coconuts  
</li>
<li>
Stirring Up Memories: 8 Chefs Remember Favorite Holiday Recipes  
</li>
<li>
Lemon Curd Cheesecake  
</li>
</ul>
<h2>Notes</h2><p>
From the December 2007 issue of O, The Oprah MagazineSOURCE: The Gift of Southern Cooking
</p>
</body>
