<h1>Lasagne di Fungi e Spinachi</h1>
<h2>Ingredients</h2>
<ul>
<li>
Fresh Pasta
</li>
<li>
Marinara sauce:
</li>
<li>
1 large onion, minced
</li>
<li>
4 cloves garlic, minced
</li>
<li>
1/2 cup extra virgin olive oil
</li>
<li>
3 large cans tomatoes, 2 drained, reserve juice; one not drained
</li>
<li>
1 large bunch basil, leaves removed
</li>
<li>
1 bunch Italian parsley, leaves removed
</li>
<li>
sprinkle chile pepper flakes, to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
2             pounds  mushrooms -- mixed, sliced
</li>
<li>
     1/2         pound  dried mushrooms -- mixed, soaked, chopped
</li>
<li>
     1/4           cup  extra virgin olive oil
</li>
<li>
  1        large bunch  basil -- leaves removed
</li>
<li>
  1              pound  baby spinach
</li>
<li>
                        Parmesan Reggiano
</li>
<li>
                        Italian Romano
</li>
<li>
Marinara Sauce:  Heat a large skillet and then add olive oil.  Add the onions and garlic and cook until translucent and fragrant.  Add tomatoes, squshing with your 
</li>
<li>
hands as you add them to the skillet.  Add the juice from one can and reserve the rest of the juice in case it is needed.  Cook for about 15 minutes.  Add liquid if needed.
</li>
<li>
Add one bunce of basil leaves and one punch of parsley leaves.  Sprinkle with a few dried chile flakes.  Stir and allow to simmer another 5 minutes or so.  
</li>
<li>
Run this through a food mill.
</li>
<li>
Meanwhile, cook all the mushrooms until caramelized over high heat.
</li>
<li>
To assemble the lasagna:  In a rectangular pan cover the bottom with the marinara sauce.  Run your pasta (a quarter at a time) through the pasta maker to the setting 6.  Measure for lasagna pan and place two rows, length wise into pan.  Add some sauce over noodles.  Add some mushrooms, basil, a little sauce  and Parmesan.  Repeat with noodles on next layer.  Add some sauce, a pile of uncooked spinach, a little sauce, and Romano. Repeat both layers once or twice ending with red sauce and both cheeses on top.  Place in 400F oven and cook for 30-35 minutes.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is fabulous with the fresh pasta and not nearly as heavy as most
</p>
<p>
  lasagnas.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
