<h1>Lavender Shortbread</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/2 cups butter, at room temperature
</li>
<li>
2/3 cup sugar
</li>
<li>
2 tablespoons lavender florets, fresh, chopped
</li>
<li>
1 tablespoon chopped fresh mint
</li>
<li>
2 1/3 cups flour
</li>
<li>
1/2 cup cornstarch
</li>
<li>
1/4 teaspoon salt
</li>
<li>
Garnish: Lavender powdered sugar.
</li>
<li>
Put a few lavender flowers in a sealed,
</li>
<li>
pint jar of powdered sugar for a day
</li>
<li>
before using sugar.
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 325F.  Cover two baking sheets with parchment or brown paper.  In a large bowl with an electric mixer, cream together the butter, sugar, lavender and mint; mix until light and fluffy, about 3 minutes.  Add flour, cornstarch and salt and beat until combined.  Divid dough in half.  Flatten into squares and wrap in plastic.  Chill until firm.
</li>
<li>
On a floured board, roll or pat out each square to a thickness of 3/8 inch.  Cut the dough into 1 1/2 inch squares or rounds.  Transfer to baking sheets, spacing cookies about 1&quot; apart.  Prick each cookie several times with the tines of a fork.  Bake 20-25 minutes until pale golden (do not brown).  Cool slightly, then transfer to a rack.  Sprinkle with lavender powdered sugar.  Store in tin cookie boxes or sealed containers.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is the perfect &quot;pretty&quot; shortbread to use with fresh lavender&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;4 dozen&quot;SOURCE: Janice Thorson
</p>
</div></body>
