<h1>Leche Frita (Fried Custard)</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 cups milk
</li>
<li>
1 strip lemon zest
</li>
<li>
1 vanilla bean, slit in half lengthwise
</li>
<li>
12 tablespoons unsalted butter
</li>
<li>
1 cup all purpose flour
</li>
<li>
pinch salt
</li>
<li>
1/2 cup granulated sugar + 2 tablespoons
</li>
<li>
6 egg yolks
</li>
<li>
5 cups fine dry breadcrumbs
</li>
<li>
vegetable oil for frying or clairified
</li>
<li>
butter
</li>
<li>
powdered sugar or
</li>
<li>
ground cinnamon
</li>
<li>
2 whole eggs
</li>
</ul>
<h2>Method</h2><ul>
<li>
Oil an 8x10&quot; baking pan and place it in the freezer to chill well.
</li>
<li>
Place the milk, lemon zest, vanilla bean, and sugar in a saucepan and bring to a boil slowly.  Take the pan off the heat, remove the lemon and vanilla bean and let the milk cool.
</li>
<li>
Melt the butter in another saucepan until foaming and add the flour; cook until the flour foams and turns pale golden, stirring all the time.  Slowly add the warm milk, still stirring.  Cook the sauce for 5 minutes on a low heat until it thickens.  Remove from the heat and beat the egg yolks into the sauce and cook briefly.    Pour the custard into the oiled pan and leave it to set in the refrigerator for at least 4 hours.  Cut the cold custard into squares or triangles.  Beat the last 2 eggs lightly and dip the pieces of custard first in the beaten egg, then in the breadcrumbs.  
</li>
<li>
Heat the oil in a deep saucepan and fry the custard slices in batches until golden brown.  Take the custard slices out of the oil and drain them briefly on paper towels.  Combine the sugar and cinnamon and sprinkle heavily with this mixture.  Serve lukewarm or cold.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Adapted from &quot;Culinaria Spain&quot;&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
