<h1>Lemon Bundt Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 sticks butter, softened
</li>
<li>
2 cups granulated sugar
</li>
<li>
3 large eggs
</li>
<li>
3 cups flour
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 cup buttermilk (or plain nonfat yogurt)
</li>
<li>
Zest from 3 lemons
</li>
<li>
juice from 3 lemons
</li>
<li>
1 tablespoon Grand Marnier
</li>
<li>
Lemon Icing:
</li>
<li>
2 cups powdered sugar
</li>
<li>
4 tablespoons butter, softened
</li>
<li>
Zest from 3 lemons
</li>
<li>
juice from 3 lemons
</li>
<li>
1 tablespoon Grand Marnier
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 325 degrees.  Grease a bundt or angel food pan.
</li>
<li>
Cream butter and sugar and beat in eggs one at a time.
</li>
<li>
Sift together dry ingredients and stir in alternately with buttermilk beginning and ending with dry ingredients.  Add lemon zest, juice and liquor.  
</li>
<li>
Pour batter into prepared pan and bake in the middle of the oven for 1 hour and 5 minutes or until a tester inserted in the center comes out clean.
</li>
<li>
Cool cake in pan on rack for 10 minutes.  Remove from pan and ice while hot.
</li>
<li>
Icing:  Cream butter and sugar thoroughly.  Mix in lemon juice, zest and liquor.  Consistency should be runny.  Spread on cake.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is one of my all time favorite cakes...It tastes wonderful when its hot, all light and lemony and it lightens a heavier winter meal.  It only tastes light...it is dense and delicious.  Serve it without icing and only with whipped cream, having refrigerated it.  Or serve it slightly warm with the icing and a small amount of whipped cream.  Its great for a coating of fresh berries or without icing but with homemade ice cream.  It is super...I&#39;ve changed it slightly from a recipe from one of the Silver Palate books.  Enjoy.COOK&#39;S TRICK...Buy a zester.  It is one of the greatest little tools you can own, not only for this recipe but for kazillions of other things you want to &quot;zest&quot; with a little lemon.  It looks pretty to zest things too!
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
