<h1>Lemon Chiffon Pancakes</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
RECIPE INGREDIENTS
</li>
<li>
3 eggs, separated
</li>
<li>
2 tablespoons vegetable oil
</li>
<li>
1/4 teaspoon salt
</li>
<li>
2 teaspoons baking powder
</li>
<li>
1 cup cottage cheese
</li>
<li>
1 tablespoon maple syrup
</li>
<li>
2 tablespoons lemon zest
</li>
<li>
2 tablespoons lemon juice
</li>
<li>
1/2 cup flour
</li>
<li>
DIRECTIONS
</li>
<li>
Beat egg whites in an electric mixer bowl until stiff peaks form. Set aside.
</li>
<li>
In a food processor, combine yolks and rest of ingredients. Process until smooth and fluffy. Pour into a bowl. Fold in egg whites. Pour pancakes onto a greased griddle and cook each side until golden brown. Serve immediately with maple syrup.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 4
</p>
<p>
SOURCE: Adair Country Inn, NH
</p>
</div></body>
