<head>
<title>Lemon Thyme Shortbread</title>
</head>
<body>
<h1>Lemon Thyme Shortbread</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Ingredients
</li>
<li>
butter, for greasing dish
</li>
<li>
flour, for dusting dish
</li>
<li>
1/2 cup unsalted room temperature butter
</li>
<li>
1 cup all-purpose flour
</li>
<li>
2 tablespoons chopped fresh  lemon thyme, or
</li>
<li>
1 tablespoon fresh finely chopped rosemary
</li>
<li>
1 lemon, zest of
</li>
<li>
1/2 teaspoon fine sea salt
</li>
<li>
1/2 cup powdered sugar
</li>
<li>
2 tablespoons fresh lemon juice
</li>
<li>
1/2 teaspoon pure vanilla extract
</li>
<li>
glaze
</li>
<li>
2 tablespoons fresh lemon juice
</li>
<li>
1/2 cup powdered sugar
</li>
<li>
Directions
</li>
<li>
1. Place oven rack in center of oven. Preheat to 325. Butter and flour an 8x8 glass baking dish.
</li>
<li>
2. FOR THE BARS:.
</li>
<li>
3. in a small bowl combine flour, thyme (or rosemary), lemon zest and salt. Set aside. Using a stand mixer with paddle attachment, beat together 1 stick of butter and powdered sugar on high speed until light and fluffy, about 30 seconds. Beat in the lemon juice and vanilla. Reduce speed to low and gradually add the flour mixture, mixing until just combined. Using damp fingers, press the dough into prepared pan. Baked for 30 minutes until golden. Cool 30 minutes.
</li>
<li>
4. FOR THE GLAZE:.
</li>
<li>
5. In small bowl, whisk lemon juice with powdered sugar until smooth. Spoon glaze over the cooled crust. Allow glaze to harden, at room temperature, for about an hour.
</li>
</ul>
<h2>Notes</h2><p>
6Using a metal spatula, or run a knife around the edge, remove the crust from the pan. Cut into 1/2 inch square bars and arrange on a serving platter or store airtight in a plastic container at room temperature.SOURCE: Adapted fro Giada
</p>
</body>
