<h1>Lemon Meringue Pie</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 9&quot; pie crusts
</li>
<li>
2 large pkg. lemon pudding and pie, (not instant)
</li>
<li>
4 tablespoons butter
</li>
<li>
1 tablespoon lemon juice
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Follow pie filling directions on package except make filling in a double boiler.  Cook the filling stirring constantly until very hot, almost boiling, looking almost clear and cook just slightly beyond.  At this point, add 4 tablespoons of butter and 1 tablespoon of lemon juice.  Let cool slightly, about 5 minutes.
</li>
<li>
While filling is cooling, make meringue.  Beat egg whites left from eggs used in filling mix and beat until stiff adding sugar to taste a little at a time.  Immediately fill shells with lemon filling and top with meringue being careful to pull meringue over to the crust, so as to attach it.  Place in 425 F oven and cook until golden brown, but watch carefully as it can burn easily.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : This seems to be better when made two pies at a time!NOTES : Well, here we are with Eileen&#39;s famous Lemon Meringue Pie.  This is her most frequently requested item to bring to any function.  Now, one wouldn&#39;t think that a pie from a mix would be anything special and we could certainly duplicate such an effort without much trouble.  But, not so.  
</p>
<p>
My lemon pies never taste like this and sometimes they have a way of &quot;bouncing&quot; to the table.  But Eileen&#39;s special technique of cooking it in a double-boiler gently cooks it to the perfect consistency.  Then her addition of a little butter and lemon make it the best....so, I have hornswaggled her once again for our pleasure.  Now, you too, can dazzle your friends and people you wish to impress with your culinary skills with this wonderful pie!
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Eileen Munson
</p>
</div></body>
