<h1>Lemon Ice Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/8 cups strained fresh lemon juice, about 5 large lemons
</li>
<li>
2 cups sugar
</li>
<li>
4 cups half and half
</li>
<li>
2 pinches kosher salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Scrub the lemons well and remove peelings from the lemons with a vegetable peeler.  Avoil the white pith.  Place two cups of sugar in the food processor.  Add the zest.
</li>
<li>
Juice the lemons after zesting.
</li>
<li>
Run the food processor until the peel is finely ground and the sugar is liquidy, 3-4 minutes.
</li>
<li>
Scrape the sugar lemon mixture into a large, non-aluminum bowl.  Add the half and half and the salt and stir to combine.  Set aside for 15-30 minutes, stirring occasionally.  It will thicken slightly.  At this point, the ice cream mixture can be sealed and refrigerated for a day or two before freezing.  If it separates, simply stir to recombine.
</li>
<li>
Freeze in an ice cream maker.  Store with a piece of plastic wrap pressed directly on the surface.  Allow to soften slightly before serving.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;2 quarts&quot;SOURCE: Adapted from Martin Yan
</p>
</body>
