<h1>Lemon Sour Cream Pound Cake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Lemon-Sour Cream Pound Cake
</li>
<li>
Created Art Smith
</li>
<li>
 
</li>
<li>
Sour cream is the secret ingredient in many a pound cake. This one is based on a lemon pound cake recipe from my family&#39;s recipe collection.
</li>
<li>
Ingredients:Makes 12 servings
</li>
<li>
Cake
</li>
<li>
3 cups all-purpose flour
</li>
<li>
1/2 teaspoon baking powder
</li>
<li>
1/4 teaspoon baking soda
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 cup (2 sticks) unsalted butter , at room temperature
</li>
<li>
3 cups sugar
</li>
<li>
6 large eggs , at room temperature*
</li>
<li>
1 teaspoon vanilla
</li>
<li>
Grated zest of 2 lemons
</li>
<li>
1 cup sour cream , at room temperature
</li>
<li>
Lemon Syrup
</li>
<li>
1 cup fresh lemon juice
</li>
<li>
2/3 cup sugar
</li>
<li>
1/4 cup water
</li>
<li>
Zest of 1 lemon
</li>
<li>
Position a rack in the center of the oven and preheat to 325&Acirc;&deg;F. Butter and flour a 10-inch fluted tube (Bundt) pan, and tap out the excess flour.
</li>
<li>
Sift the flour, baking powder, baking soda and salt together; set aside. Beat the butter and sugar in a large bowl with a hand-held electric mixer on high speed until light and fluffy, about 3 minutes. Beat in the eggs, one at a time, then the vanilla and zest. On low speed, add the flour in 3 additions, alternating with 2 additions of the sour cream, beginning and ending with the flour. Beat until smooth, scraping down the sides of the bowl often with a rubber spatula. Spread evenly in the pan.
</li>
<li>
Bake until a wooden skewer inserted in the center of the cake comes out clean, about 1 1/4 hours.
</li>
<li>
Bring the lemon juice, zest, water and sugar to a boil over high heat and cook until it is reduced to 1/2 cup, about 15 minutes. Allow syrup to cool before drizzling onto the cake.
</li>
<li>
Transfer the cake to a wire rack and cool for 10 minutes. Drizzle half the syrup over the cake. Invert onto the rack and brush with the remaining syrup. Cool completely.
</li>
<li>
Recommended technique: If a recipe calls for room temperature eggs, place the uncracked eggs in a bowl of hot water for 5 minutes so they can lose their chill.
</li>
<li>
Related Links
</li>
<li>
Coconut Cake with Fluffy Icing  
</li>
<li>
The Smith Family&#39;s 12-Layer Cake  
</li>
<li>
Ina Garten&#39;s Lemon Cake  
</li>
<li>
Lemon Curd Cheesecake  
</li>
<li>
Fig Cake  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: Art Smith
</p>
</div></body>
