<head>
<title>Lemon Curd</title>
</head>
<body>
<h1>Lemon Curd</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 large egg yolks
</li>
<li>
1/2 cup + 1 tbsp. sugar
</li>
<li>
1/2 cup lemon juice, freshly squeezed
</li>
<li>
3 tablespoons unsalted butter, softened
</li>
<li>
pinch salt
</li>
<li>
1 lemons finely grated zest
</li>
</ul>
<h2>Method</h2><ul>
<li>
Beat the yolks and sugar until well blended in a non-reactive saucepan.  Stir in the remaining ingredients except the lemon zest.
</li>
<li>
Cook over medium low heat, stirring constantly, until thickened.  It will thickly coat a wooden spoon but will remain liquid enough to pour when done.  As is cooks, the mixture will change from translucent to opaque and begin to take on a yellow color on the back of a wooden spoon.  Do not allow to boil.
</li>
<li>
After the curd has thickened, pour at once into another container passing through a strainer.   Press all except the course ending material through with the back of a spoon.  Discard the residue.  Stir in the lemon zest and cool.  Pour into an airtight container.  The curd will continue to thicken while chilling.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Perfect for filling cakes, mixing with whipped cream and filling
</p>
<p>
  pies.....delicious.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 cup&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
