<h1>Lemon Buttermilk Tart</h1>
<h2>Ingredients</h2>
<ul>
<li>
Crust:
</li>
<li>
1 1/2 cups graham cracker crumbs
</li>
<li>
1 tablespoon sugar
</li>
<li>
1/4 cup butter, melted
</li>
<li>
Poached Lemons:
</li>
<li>
1/2 cup sugar
</li>
<li>
1 cup water
</li>
<li>
2 large lemons, sliced paper-thin
</li>
<li>
Filling:
</li>
<li>
3/4 cup buttermilk
</li>
<li>
1/2 cup sugar
</li>
<li>
2 large eggs
</li>
<li>
5 tablespoons lemon juice, freshly squeezed
</li>
<li>
2 tablespoons flour
</li>
<li>
8 mint sprigs
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 350F.  Combine the ingredients for the crust and press into a 9&quot; pie or tart pan.  Place in hot oven and bake for 10-15 minutes.  Let crust cool on rack before filling it.
</li>
<li>
Poached lemons:  In a saucepan bring the sugar and water to a boil and poach tthe lemon slices for 2 minutes.  Remove from the liquid to dry on a rack for several hours.  Gently remove the pits.
</li>
<li>
Filling:  In a large stainless steel boil, whisk the buttermilk, sugar, eggs, lemon juice and peel to plend.  Stir in the flour and pour the filling into the crust and bake for 25-30 minutes until the filling sets.  Cool.
</li>
<li>
To serve, arrange the lemon slices, starting from the outside of the crust in a circular motion until you reach the center.  Serve the tart with a sprig of mint.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Here is a wonderful and bright ending to your meal.....no one will
</p>
<p>
  feel overloaded!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 slice&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Susan Spicer&#39;s (of famed Bayona)  recipe with low-fat and fabulous changes!
</p>
</body>
