<head>
<title>Lemon Rice</title>
</head>
<body>
<h1>Lemon Rice</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups rice, basmati or jasmine are favorites
</li>
<li>
chicken stock
</li>
<li>
1 lemon lemon rind
</li>
<li>
parsley, minced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Measure chicken stock to rice ratio according to your rice maker instructions.  Cook rice.  When rice is cooked, fluff with fork and season with salt and pepper.  Add lemon rind and chopped parsley and serve.  Delicous!
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;One of our favorite, simple ways to prepare rice.  The great thing
</p>
<p>
  about a rice cooker, it will hold the rice hot for a few hours!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
