<h1>Lemon Crumb Muffins</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
RECIPE INGREDIENTS
</li>
<li>
For the Streusel Topping:
</li>
<li>
3/4 cup all-purpose flour
</li>
<li>
3/4 cup sugar
</li>
<li>
4 tablespoons softened unsalted butter
</li>
<li>
For the Lemon Glaze:
</li>
<li>
6 tablespoons sugar
</li>
<li>
3 tablespoons fresh lemon juice
</li>
<li>
For the Muffins:
</li>
<li>
3 cups pastry flour
</li>
<li>
2 cups sugar
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
1/2 teaspoon salt
</li>
<li>
4 eggs
</li>
<li>
1 cup sour cream
</li>
<li>
1 cup melted unsalted butter
</li>
<li>
1 tablespoon fresh lemon juice
</li>
<li>
zest from 3 fresh lemons
</li>
<li>
DIRECTIONS
</li>
<li>
Preheat the oven to 350 degrees F. Place two muffin molds, each with 6-muffin capacity, or one muffin mold with 12-cup capacity on a baking sheet.
</li>
<li>
FOR THE STREUSEL TOPPING: In a medium bowl, sift together the flour and sugar. Add the butter, working with your fingertips, until the mixture resembles a medium crumb.
</li>
<li>
FOR THE LEMON GLAZE: In a small bowl, whisk together the sugar and lemon juice until smooth and set aside.
</li>
<li>
TO MAKE THE MUFFINS: In a large bowl, sift the flour, sugar, baking soda and salt together. In another large bowl, whisk the eggs, sour cream, butter, lemon juice and zest together. By hand, gently mix the dry ingredients into the egg mixture. Be careful not to overwork the batter. If there are lumps, they will disappear during the baking. The less you work the batter, the more tender the muffins will be.
</li>
<li>
Fill the muffin molds with the batter. Sprinkle with the streusel topping and bake in the center of the oven for 20 to 25 minutes, or until a wooden skewer inserted into the center or a muffin comes out clean. To prevent the muffins from getting soggy after baking, remove the cooked muffins from their mold and place them on a rack. With a skewer or toothpick, pierce 2/3 of the way into each warm muffin. Drizzle the lemon glaze over the muffins. Serve warm.
</li>
<li>
Recipe courtesy of Pine Tree Barn and Farms, Wooster, Ohio, Monique Theoret, Restaurant Manager
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Pine Tree Barn &amp; Farms, Wooster, Ohio
</p>
</body>
