<h1>Lemon Compound Butter</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
12 ounces butter, unsalted
</li>
<li>
1/2 bunch parsley, minced
</li>
<li>
1 small shallot, minced
</li>
<li>
2 tablespoons lemon juice
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix together all of the ingredients and roll in parchment paper.  Refrigerate or freeze until needed.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This &quot;sauce&quot; can be changed just by changing the herbs.  This is
</p>
<p>
  easily kept on hand, too.&quot;SOURCE: Apple Charlotte
</p>
</div></body>
