<h1>Lemon Butter Stars</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 2/3 cups AP flour
</li>
<li>
1/4 teaspoon salt
</li>
<li>
2 sticks unsalted butter, room temp
</li>
<li>
1 cup superfine sugar
</li>
<li>
2 teaspoons finely grated lemon zest
</li>
<li>
1 large egg yolk
</li>
<li>
1 tablespoon fresh lemon juice
</li>
<li>
2 large egg whites
</li>
<li>
1 1/2 tablespoons water
</li>
<li>
3 cups confectioner&#39;s sugar, sifted
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.  Line a baking sheet with parchment paper.		
</li>
<li>
In a separate bowl, mix together flour and salt.
</li>
<li>
In a large electric mixing bowl, beat butter, sugar and zest until light and fluffy.  Add egg yolk and lemon juice and beat until blended.  Reduce mixer to low and gradually add flour just until blended and mixture comes together.  	
</li>
<li>
Form dough into two disks and wrap in plastic wrap.  Refrigerate for 30 minutes.	
</li>
<li>
On floured surface, roll dough 1/4&quot; thick.  Using a 2 1/2&quot; star cookie cutter, cut as many stars as possible.   With an offset spatula, carefully  transfer cookies to baking sheets, leaving 3/4&quot; between cookies.  Repeat rolling all the dough until complete, using scraps. 
</li>
<li>
Royal Icing
</li>
</ul>
<h2>Notes</h2><p>
Mix the egg whites and water until frothy.  Gradually add the sifted confectioner&#39;s sugar until icing reaches the correct consistency for spreading.  Color the icing, as desired and decorate stars with icing and sprinkles.SOURCE: Adapted from Seattle Homes Magazine 12/08
</p>
</body>
