<h1>Lemon Cream Scones</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups flour
</li>
<li>
1/4 cup sugar
</li>
<li>
2 teaspoons baking powder
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1/2 cup heavy whipping cream
</li>
<li>
1 large egg
</li>
<li>
1 1/2 teaspoons vanilla
</li>
<li>
1 1/2 teaspoons lemon zest
</li>
<li>
1/3 cup butter
</li>
<li>
1/2 cup currents (1 whole box)
</li>
<li>
1 large egg
</li>
<li>
1 teaspoon water
</li>
</ul>
<h2>Method</h2><ul>
<li>
In food processor mix together flour, sugar,  baking powder and salt.  Cut butter into small chunks and sprinkle over top of this flour mixture in the food processor.  Pulse the  butter and flour mixture together until looks like meal.  Do not overmix.
</li>
<li>
Remove flour and butter mixture from food processor and place in large bowl.  Mix whipping cream, eggs vanilla and lemon zest together in separate bowl.  Add to flour mixture and lightly mix together (sometimes more cream needs to be added).  Try not to overmix.  At the very end of this mixing process before it is mixed together, add the currents.
</li>
<li>
With your hand flatten the dough into a 8&quot; wide disk.  Cut this disk into 8 pie shaped pieces and place on parchment lined sheet pan.    
</li>
<li>
Mix remaining egg and water for an egg wash and brush the tops of the scones.  Sprinkle with sugar and bake in 375F for about 15-17 minutes.  Cool on racks.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: The Village Baker&#39;s Wife Cookbook
</p>
</body>
