<h1>Lemon Cream Tart</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 9&quot; pie shell, baked and cooled
</li>
<li>
1 recipe lemon curd, chilled thoroughly
</li>
<li>
1 cup whipping cream, whipped
</li>
<li>
1/2 pkg powdered gelatin
</li>
<li>
lemon zest
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Pour powdered gelatin over 2 tablespoons boiling  water.  Allow to sit a minute and mix.  Cool slightly and add to whipping cream as it whips.
</li>
<li>
Mix chilled lemon curd with whipped cream and pile into pie crust.  Top with lemon zest and chill in frig for 1 hour if possible.  Description:
</li>
<li>
  &quot;A light and luscious ending to any meal.&quot;
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</div></body>
