<head>
<title>Lemon Crab Salad Tea Sandwiches</title>
</head>
<body>
<h1>Lemon Crab Salad Tea Sandwiches</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 pound lump crabmeat
</li>
<li>
about 1/2 cup mayonnaise
</li>
<li>
3 tablespoons lemon zest
</li>
<li>
1/4 cup lemon juice
</li>
<li>
6 scallions (green onions), sliced thinly
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
baby lettuce
</li>
<li>
1 loaf tea bread, coconut; nut or lemon
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place crabmeat in bowl with half of mayonnaise, lemon zest, lemon juice and scallions.  Season with s/p.
</li>
</ul>
<h2>Notes</h2><p>
Spread tea bread slices (we like to use Coconut Bread) with remaining mayonnaise.  Place some baby lettuce on one side, spread with crab salad and top with remaining slice of bread.  Cut into 2 trianges.SOURCE: Adpated from Martha Stewart
</p>
</body>
