<h1>Lemon/Rosemary Roasted Chicken</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 whole chicken (does not need to be a roasting
</li>
<li>
chicken)
</li>
<li>
fresh lemon juice
</li>
<li>
fresh rosemary
</li>
<li>
garlic cloves
</li>
<li>
salt
</li>
<li>
pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Wash the chicken and dry with paper towels.  Be careful to wash with soap and hot water and sanitize the areas of sink and counter where the chicken might have touched.
</li>
<li>
2.  Place the chicken on a small cake rack (if you have one...don&#39;t worry if you don&#39;t...you can do without it) in a large frying pan or roaster.
</li>
<li>
3.  Squeeze the juice from one or two lemons all over the bird, inside and out.  Place the squeezed lemon halves inside the cavity if you are not stuffing the bird.
</li>
<li>
4.  Smash about 4 garlic cloves and cut up and sprinkle on chicken.
</li>
<li>
5.  Take the rosemary leaves off the stem of about 2-3 stems and cut up small and sprinkle on bird.  Add a couple of rosemary stems with leaves inside the cavity....allowing some to stick out so it looks pretty and it makes you happy.
</li>
<li>
6.  Sprinkle the bird with some kosher or sea salt and freshly ground pepper.
</li>
<li>
7.  Place in the oven at about 375-400F and roast for about 1 1/2 hours or until the leg wiggles pretty easily.  If the bird is stuffed, it will take about 15-20 minutes longer.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : This is so simple, you can come home from work, throw it in the oven with or without stuffing, a couple of baked potatoes, make a salad....you are done.  Its always delicious.  If you make two at a time, you will have the left over carcass and additional chicken to make a stock  the next night.
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
