<h1> Lentil &amp; Wild Rice Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups lentils
</li>
<li>
2 cups wild and brown rice mixture
</li>
<li>
4 roasted red bell peppers, diced
</li>
<li>
2 carrots, diced
</li>
<li>
4 scallion, thinly sliced
</li>
<li>
1/2 cup fresh basil, left whole
</li>
<li>
4 tablespoons lemon juice
</li>
<li>
1/2 cup extra virgin olive oil
</li>
<li>
dried red chile pepper, to taste
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Wash lentils and place in saucepan with 6 cups of water.  Bring to a boil and simmer until tender, about 30 minutes.  Drain.
</li>
<li>
Cook the wild rice/brown rice mixture according to package directions.
</li>
<li>
Mix the three grains together.  Make the vinaigrette with the lemon juice, olive oil, and chile peppers.  Season with salt and pepper.  If serving with wine....error on the side of &quot;round&quot; or more oil in order not to conflict with the wine.  Mix in the remaining ingredients and and hold for service with salmon.  This salad is best at room temperature. 
</li>
<li>
Salmon:  Mix the herbs and olive oil, garlic and salt and pepper.  Put salmon in a bowl and gently  put all over salmon.  Heat grill pan to high over outdoor grill or on stove.  Spray the pan lightly with pan spray.  Place salmon on grill, only turning once.  Cook no longer than 10-12 minutes depending on thickness.  Serve with salad.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
