<h1>Lightly Grilled Potatoes</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 red potatoes, sliced thin, soaked in water
</li>
<li>
salt and pepper
</li>
<li>
olive oil spray
</li>
<li>
fresh thyme, or other fresh herb (or dried)
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cook potatoes in water in microwave for about 6 minutes until mostly cooked through.  Drain.
</li>
<li>
Place on paper towels to absorb more water, gently dabbing water off.
</li>
<li>
Spray with olive oil spray and place on very hot grill pan or in large saute pan. Season to taste with salt/pepper and thyme or other fresh or dried herb.   Continue to cook until lightly browned and somewhat some are somewhat crisp.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
