<h1>Lightly Braised Rabbit</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 whole rabbit, cut into pieces
</li>
<li>
Italian Seasoning Salt (recipe with Turkey
</li>
<li>
in Bread Crust)
</li>
<li>
3 rosemary brances
</li>
<li>
4 garlic cloves
</li>
<li>
1 tablespoon juniper berries
</li>
<li>
white wine as needed
</li>
</ul>
<h2>Method</h2><ul>
<li>
Season rabbit pieces with Italian seasoning and sear until nicely golden in olive oil.
</li>
<li>
Add rosemary branches to pan with garlic cloves and juniper berries.
</li>
<li>
Add a cup or so of white wine and cook on top of stove, covered.  Keep on a simmer and check every so often adding wine if begins to dry out.  Cook about 45-60 minutes until cooked through.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Simple as anything you&#39;ve ever made and wonderful!!&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Fattoria Madicia
</p>
</body>
