<h1>Little Fruit Pies</h1>
<h2>Ingredients</h2>
<ul>
<li>
One Crust Pie Pastry x 8 (?)
</li>
<li>
2 quarts blueberries
</li>
<li>
2 lbs. each peaches, apricots, plums, peeled,
</li>
<li>
pitted, and sliced
</li>
<li>
2 cups sugar
</li>
<li>
2 cups unsalted butter
</li>
<li>
cinnamon
</li>
<li>
nutmeg
</li>
<li>
mace
</li>
<li>
1 cup heavy cream
</li>
<li>
3 large egg yolks, lightly beaten
</li>
</ul>
<h2>Method</h2><ul>
<li>
Roll out pie pastry on a lightly floured board.  Using a sharp kniofe, cut out 30 six-inch circles of pie crust.  Place the crusts into 30 four-ince individual tins, allowing excess pastry to hang over the rim.
</li>
<li>
Fill each pie with 1/2 cup fruit.  Sprinkle each with 1 tbsp. sugar and dot with 1 tbsp. butter.  Season with a pinch of cinnamon, nutmeg, or mace, depending on the fruit.  Bring up the edges of the pie dough and fold over the fruit in a rustic fashion.  Right before baking, combine the heavy cream and egg yolks i a mixing bowl and brush the pastry with the mixture.  This causes the pastry to brown richly.
</li>
<li>
Place the individual pies spaced 1/2 inch apart o large baking sheets and bake for 35-40 minutes until crusts are golden brown.  Transfer the pies to a cooling rack until cooled to room temperature.  Serve in pie tins.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 30
</p>
<p>
SOURCE: Martha Stewart
</p>
</body>
