<h1>Little Boston Cream Pies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Custard Filling:
</li>
<li>
3 egg yolks
</li>
<li>
5 teaspoons cornstarch
</li>
<li>
3/4 cup sugar
</li>
<li>
1 1/2 cups milk
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 tablespoon unsalted butter, at room temperature
</li>
<li>
1 teaspoon vanilla extract
</li>
<li>
Cake:
</li>
<li>
5 ounces sliced or slivered blanched almonds
</li>
<li>
1/2 cup unbleached flour
</li>
<li>
1/2 teaspoon baking powder
</li>
<li>
12 tablespoons (1 1/2 sticks) unsalted butter, at room temperature
</li>
<li>
3/4 cup sugar
</li>
<li>
1 tablespoon amaretto liqueur
</li>
<li>
1/2 teaspoon vanilla extract
</li>
<li>
4 eggs
</li>
<li>
Glaze:
</li>
<li>
3 ounces good-quality milk chocolate
</li>
<li>
3 tablespoons half &amp; half
</li>
<li>
1 tablespoon Amaretto liqueur
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Custard:
</li>
<li>
Beat the egg yolks in a heavy medium size saucepan.  Add the cornstarch and sugar and mix well.  Then stir in the milk, salt and butter.
</li>
<li>
Cook the egg mixture over medium heat, stirring constantly, until it is bubbling and thick, 5-7 minutes.
</li>
<li>
Remove the pan from the heat and stir in the vanilla.  Transfer the mixture to a glass bowl, cover it with plastic wrap and refrigerate for 2-4 hours.
</li>
<li>
The Cake:
</li>
<li>
Preheat oven to 375 degrees.  Butter and flour an 8&quot; square cake pan.
</li>
<li>
Combine the almonds and 2 tablespoons of the flour in a food processor and process until fine.  Transfer the mixture to a bowl and stir in the remaining flour and the baking powder.
</li>
<li>
Cream the butter and sugar together in a mixing bowl until light.  Add the amaretto and vanilla.  Beat in the eggs one at a time.  Then slowly fold in the dry ingredients until the mixture is smooth.
</li>
<li>
Smooth the batter into the prepared cake pan, and bake until it is golden and a toothpick inserted in the center comes out clean, 20 minutes.  Cool the cake in th pan for 20 minutes  Then remove it from the pan and transfer it to a wire rack to cool.
</li>
<li>
The Glaze:
</li>
<li>
Combine the chocolate and half and half in a small saucepan and stir over ow heat until smooth.  Remoe the pan from the heat slowly sti r in the liqueur.  Allow the glaze to cool until slightly thickened, 10-15 minutes.
</li>
<li>
To assemble the pies, cut the cake into nine squares.  Halve each square horizontally and cover the bottom halves with custard.  Replace the tops, and drizzle each one with chocolate glaze.  Refrigerate but bring to room temperature before serving.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : These are the most elegant little cakes ...very easy and looking very complex!  These will dazzle your guests.
</p>
<p>
SERVINGS: 9
</p>
<p>
SOURCE: Silver Palate
</p>
</div></body>
