<h1>Lobster Amororicaine (Americaine)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 4 pound 1ive Maine lobsters
</li>
<li>
1/2 cup olive oil
</li>
<li>
8 ounces chopped onion/sd
</li>
<li>
7 ounces chopped carrot/sd
</li>
<li>
6 ounces chopped leeks/sd
</li>
<li>
5 ounces chopped celery/sd
</li>
<li>
3 ounces chopped shallots
</li>
<li>
3 ounces chopped garlic
</li>
<li>
2 tablespoons chopped parsley
</li>
<li>
3 tablespoons chopped tarragon
</li>
<li>
ks, bp, thyme, bay leaf (s,p,t,b)
</li>
<li>
2 ounces brandy
</li>
<li>
1 cup ww
</li>
<li>
2 cups concasser
</li>
<li>
1/2 cup tomato puree
</li>
<li>
reserved juice from lobster
</li>
<li>
2 ounces demi glace
</li>
<li>
4 ounces heavy cream
</li>
<li>
4 ounces white stock (chicken or veal..not fish)
</li>
<li>
butter
</li>
<li>
ks, bp, cayenne
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Kill lobster, reserving tomally and all blood and juices collected while cutting.
</li>
<li>
2.  Saute in oil mirepoix.
</li>
<li>
3.  Add shallots and garlic.
</li>
<li>
4.  Add the lobster (without blood and tomally) and sweat.
</li>
<li>
5.  Flambe with brandy
</li>
<li>
6.  Add ww and reduce 75-80%
</li>
<li>
7.  Add concasser and puree
</li>
<li>
8.  Add lobster juices
</li>
<li>
9.  Add demi-glace, cream and stock.
</li>
<li>
10.  Cover and simmer 5 minutes
</li>
<li>
11.  Remove meat and only meat and leave all else (taking out shells that meat is
</li>
<li>
encased in)
</li>
<li>
12.  Puree everything (inc. shells) with hand-held blender or food processor with old
</li>
<li>
blade.
</li>
<li>
13.  Strain through China Cap pushing through with wooden spoon.
</li>
<li>
14.  Add equal mixture of butter and tomally that has been mixed together.
</li>
<li>
15.  Strain again.
</li>
<li>
16.  Correct with seasonings:  ks, bp, and cayenne to taste.  Pour over reserved
</li>
<li>
lobster pieces.
</li>
<li>
17.  Finish with blossom of brandy
</li>
<li>
VERY IMPORTANT:  Do not boil as this sauce can break because of fish row!
</li>
<li>
LOBSTER SAUCE:   For a lovely sauce, take the same recipe and puree everything, including the lobster.
</li>
<li>
LOBSTER BISQUE:  Any bisque must have rice to make it a bisque.  To the above, add or interchange with shrimp or crab.  Figure approximately 1C rice to 1 1/2 C liquid depending on desired thickness.  Add the rice at mirepoix point, adding, then, all the other ingredients except the tamalle (saving until the end as with original dish).  Puree all, even the rice.  Cut meat into brunoise, add to bisque and garnish with rice.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : Serve with Rice Pilaf and baquette.NOTES : In 1980 when this dish was first cooked by French chefs and served at the White House, the menu was requested.  In the process of translating the French menu, it was thought that there must be a mistake with the name &quot;Amororicaine&quot; and was translated to &quot;Americaine&quot;.  The different names are frequently used interchangeably, but actually translate to mean the same dish.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Chef Heuve le Bravant
</p>
</div></body>
