<h1>Lobster Bisque</h1>
<h2>Ingredients</h2>
<ul>
<li>
shells from lobsters*
</li>
<li>
2 tablespoons unsalted butter
</li>
<li>
1 medium carrot, small dice
</li>
<li>
2 stalks celery, small dice
</li>
<li>
12 shallots, thinly sliced
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1 cup brandy
</li>
<li>
1 cup Madeira
</li>
<li>
5 cups water
</li>
<li>
1 cup clam juice
</li>
<li>
Beurre Manie:
</li>
<li>
1 tablespoon softened, unsalted butter
</li>
<li>
2 tablespoons flour
</li>
<li>
1 1/2 cups heavy cream
</li>
<li>
1/4 teaspoon fresh lemon juice
</li>
<li>
dash hot pepper sauce, if desired
</li>
<li>
lobster meat
</li>
</ul>
<h2>Method</h2><ul>
<li>
*If your lobster is already shelled and you have no access to lobster shells, use about 2 pounds of shrimp shelled, saving the shells for this use and using the shrimp for another use (you can combine the shrimp and lobster in the bisque).
</li>
<li>
Saute the shells in the butter with the diced carrot, celery, shallots and garlic until vegetables are softened.  Add the brandy and Madeira and reduce by one half.  
</li>
<li>
Add the above mixture after reducing (boiling down) the alcohol mixed with vegetables and shells to half of the orginal volume, to the water and clam juice.  Cook together for approximately 45 minutes to one hour over a low heat.  This will pull the flavor from the shells.  
</li>
<li>
Blend this mixture in a blender or with a hand blender until blended as much as possible.  Pour through a strainer into a clean pot.  Bring back to a boil, lower heat and whisk in beurre manie.  Stir to thicken.  Strain again (yes, again).  Return to pot and add cream and lemon juice, and hot pepper sauce if desired. Add lobster, slowly heat through (without boiling).   Taste to correct seasoning.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 6
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
