<h1>Long Cooked Beef</h1>
<h2>Ingredients</h2>
<ul>
<li>
7 lbs. beef, chuck roast or slightly marbled sirloin
</li>
<li>
salt and pepper
</li>
<li>
olive oil
</li>
<li>
3 large onions, rough chop
</li>
<li>
2 leeks, rough chop
</li>
<li>
2 carrots, peeled and chopped
</li>
<li>
4 plum tomatoes, rough chop
</li>
<li>
12 cloves garlic, smashed and dragged
</li>
<li>
12 sprigs thyme
</li>
<li>
14 parsley stems
</li>
<li>
3 bay leaves
</li>
<li>
2 cups red port or red wine, reduced to half (to about 1 cup)
</li>
<li>
6 cups hot beef stock, reduced a third (to about 4 cups)
</li>
<li>
1/2 cup balsamic vinegar, reduced to half (to about 1/4 cup)
</li>
<li>
3 tablespoons flour
</li>
<li>
3 tablespoons butter, room temperature
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut beef into 2&quot; pieces.  Salt and pepper well.
</li>
<li>
Heat large braising pan.  Add olive oil to cover bottom.  Add seasoned meat and sear on all sides.  Take out of pan.  
</li>
<li>
Add onions, leeks, carrots.  Cook about 7 minutes until translucent and pickiing up fond (nummy scrummies) on the bottom of the pan.  Add tomatoes and garlic and cook another minute or two until fragrant.  
</li>
<li>
Add reduced wine and stock.  Add meat back in.  Add thyme, parsley stems and bay leaves.  Cover pan and place in a 375-400F oven.  Cook for about 1 1/2 hours.  
</li>
<li>
Remove from oven.  Take meat out of the sauce and strain sauce into another bowl.  Leave the (overcooked) vegetables behind.  Wipe out the pan.  Add the sauce back to the pan.  
</li>
<li>
Make a beurre manie by kneading the flour and butter together.  Whisk this mixture into the sauce until just slightly thickened (you may not need the entire amount).  Taste for seasoning and correct if necessary.  Add meat back into the sauce.
</li>
<li>
Some ways to serve:  At the very end, add fresh figs cut in half.  A very festive holiday preparation.  Or add seared crimini mushrooms.  The addition of caramelized onions is delicious.  Use your imagination.  This is a wonderful basic way to prepare a long-cooked beef.  Take it from here.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
