<head>
<title>Low-Fat-Fab Chocolate Cheesecake</title>
</head>
<body>
<h1>Low-Fat-Fab Chocolate Cheesecake</h1>
<h2>Ingredients</h2>
<ul>
<li>
Crust:
</li>
<li>
4 ounces chocolate wafer cookies, (18 wafers)
</li>
<li>
1 cup cereal, Grape Nuts works best
</li>
<li>
2 tablespoons unsweetened cocoa powder, Dutch process
</li>
<li>
2 tablespoons sugar
</li>
<li>
3 tablespoons canola oil
</li>
<li>
Filling:
</li>
<li>
2 ounces semisweet chocolate, melted
</li>
<li>
2 tablespoons instant coffee
</li>
<li>
32 ounces cottage cheese, lowfat
</li>
<li>
8 ounces sour cream, light, room temperature
</li>
<li>
1 1/2 cups sugar
</li>
<li>
1 large egg
</li>
<li>
2 large egg white
</li>
<li>
1 cup sour cream, light
</li>
<li>
3/4 cup unsweetened cocoa powder, Dutch process
</li>
<li>
2 tablespoons cornstarch
</li>
<li>
1/8 teaspoon salt
</li>
<li>
1 teaspoon pure vanilla extract
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Preheat oven to 325F.  Lightly oil a 9&quot; springform pan.
</li>
<li>
2.  Place chocolate wafers, Grape-Nuts, cocoa and sugar in food processor and pulse until you have fine crumbs.  Add oil and 3 tablespoons water and process until the crumbs are moistened.  Press the crumb mixture into the bottom and about 1 1/2&quot; up the sides of the prepared pan.  Set aside.
</li>
<li>
3.  For the crust:  Melt chocolate .  Let cool slightly.  Dissolve instant coffee in 1 tablespoon of boiling water and set aside.
</li>
<li>
4.  Place cottage cheese in a strainer lined with a double thickness of cheesecloth.  Gather up the cheesecloth and squeeze out the moisture from the cottage cheese.  
</li>
<li>
5.  Put the pressed cottage-cheese solids in a food processor and blend until completely smooth, about 2 minutes.
</li>
<li>
6.  Add cream cheese, sugar, egg, egg whites, sour cream, cocoa, cornstarch, salt, vanilla, the melted chocolate and the dissolved coffee.  Process until smooth.  Pour into the crumb-lined pan.
</li>
<li>
7.  Bake for about 1 hour or until firm around the edge but still shiny and slightly soft in the center.  Run a knife around the pan to loosen the edges.  Let cool in the pan on a wire rack.  Cover and refirgerate until well chilled, at least 8 hours or for up to 2 days.  Remove the outer ring of the pan.  To facilitate cutting, dip a sharp knife in hot water and wipe dry before cutting each slice.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Only 280 calories per serving......much better than the kazillion calories in a regular piece of cheese cake!  (Don&#39;t quote me on those numbers).
</p>
<p>
SERVINGS: 16
</p>
<p>
SOURCE: &quot;The Eating Well Dessert Cookbook&quot;
</p>
</body>
