<head>
<title>Luxembourg Salad</title>
</head>
<body>
<h1>Luxembourg Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 slices thick-sliced bacon, cut into 1&quot; pieces
</li>
<li>
4 slices day-old bread, cut into 1&quot; squares
</li>
<li>
Luxembourg Dressing
</li>
<li>
9 cups torn salad greens
</li>
<li>
1 1/2 cups bleu cheese, crumbled
</li>
</ul>
<h2>Method</h2><ul>
<li>
Fry the bacon pieces until crisp.  Drain on paper towels and reserve the fat in the skillet.
</li>
<li>
Saute the bread slowly in the hot bacon fat until crisp and browned.
</li>
<li>
Make the salad dressing.
</li>
<li>
Combine the salad greens, bacon, croutons and blue cheese in a salad bowl.  Add the dressing, toss, and serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 6
</p>
<p>
SOURCE: Silver Palate
</p>
</body>
