<head>
<title>Macaroni &amp; Four Cheeses</title>
</head>
<body>
<h1>Macaroni &amp; Four Cheeses</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Macaroni and Four Cheeses
</li>
<li>
Ingredients
</li>
<li>
cooking spray
</li>
<li>
16 ounce(s) pasta, elbow macaroni, (1 box)
</li>
<li>
20 ounce(s) squash, winter, frozen pureed (2 packages)
</li>
<li>
2 cup(s) milk, lowfat (1%)
</li>
<li>
1 1/3 cup(s) cheese, cheddar, grated, extra-sharp (4 oz.)
</li>
<li>
2/3 cup(s) cheese, Monterey Jack, grated (2 oz.)
</li>
<li>
1/2 cup(s) cheese, ricotta, low-fat
</li>
<li>
1 teaspoon salt
</li>
<li>
1 teaspoon mustard, dry
</li>
<li>
1/8 teaspoon pepper, cayenne
</li>
<li>
2 tablespoon bread crumbs, fine, dry
</li>
<li>
2 tablespoon cheese, Parmesan, freshly grated
</li>
<li>
1 teaspoon oil, olive
</li>
<li>
Preparation
</li>
<li>
Preheat the oven to 375 degrees. Coat a 9 x 13 inch baking dish with cooking spray.
</li>
<li>
Cook the macaroni according the package directions. Drain and transfer to the prepared baking dish.
</li>
<li>
Meanwhile, place the frozen squash and milk in a large saucepan and cook over low heat, stirring occasionally and breaking up the squash with a spoon until it is defrosted. Turn the heat up to medium and cook until the mixture is almost simmering, stirring occasionally. Remove the pan from the heat and stir in the cheddar, jack cheese, ricotta, salt, mustard, and cayenne. Pour this mixture over the macaroni and stir to combine.
</li>
<li>
Combine the breadcrumbs, Parmesan, and oil in a small bowl. Sprinkle over the top of the macaroni and cheese. Bake until the cheeses are bubbling around the edges, about 20 minutes, then broil for 3 minutes so the top is crisp and nicely browned.
</li>
<li>
Serving size: 2 cups
</li>
</ul>
<h2>Notes</h2><p>
Nutrient Notes: Excellent source of: Vitamin A, Selenium, Thiamin, Folate, Calcium, Manganese, and Niacin; Good source of: Iron, Riboflavin, Fiber, and Phosphorus.
</p>
<p>
SOURCE: Healthylivingwithellie.com
</p>
</body>
