<h1>Macaroni and Cheese.....Italian Style</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. macaroni or penne pasta
</li>
<li>
3 cups Bechemel Sauce (up to 4 cups)
</li>
<li>
1 1/2 cups fontina cheese, shredded
</li>
<li>
1/2 cup Parmesan Reggiano, shredded
</li>
<li>
1/2 cup gorgonzola cheese
</li>
<li>
1 cup buttered and toasted bread crumbs
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cook pasta in boiling salted water until almost done.  Strain and do not rinse.  
</li>
<li>
Meanwhile cook bechmel sauce and add cheese to taste........use more or less of any combination as desired.
</li>
<li>
Mix the pasta with the bechemel to desired &quot;wettness&quot; and place in rectangular dish sprayed with vegetable spray.
</li>
<li>
Sprinkle bread crumbs on top and place in 375F oven and bake for about 30 minutes or until heated through and crumbs are a rich golden brown.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a basic &quot;mac &amp; cheese&quot; recipe using Italian cheeses.  You can
</p>
<p>
  use any combination of cheese you wish.&quot;
</p>
<p>
SERVINGS: 12
</p>
</div></body>
