<h1>Maddie&#39;s Cookies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup brown sugar, packed
</li>
<li>
1/2 cup granulated sugar
</li>
<li>
1 cup yogurt, skim milk
</li>
<li>
2 tablespoons butter, softened
</li>
<li>
1 whole egg
</li>
<li>
2 teaspoons vanilla
</li>
<li>
2 tablespoons soy milk
</li>
<li>
1 1/4 cups whole wheat flour
</li>
<li>
1/4 cup all-purpose flour
</li>
<li>
1/4 cup whey
</li>
<li>
1 teaspoon baking soda
</li>
<li>
1 teaspoon cinnamon
</li>
<li>
1/2 cup bran
</li>
<li>
3 cups oatmeal
</li>
<li>
1 cup raisins
</li>
<li>
6 ounces chocolate chips
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;These are pretty healthy chocolate chips cookies made with whole
</p>
<p>
  wheat flour, oatmeal, etc....3 grams of fiber &amp; 4 grams of protein!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;4 dozen&quot;
</p>
<p>
SERVINGS: 24
</p>
</div></body>
