<h1>Madras Glazed Tofu with Saffron Basmati Pilaf</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Curried Onions:
</li>
<li>
1 1/2 yellow onions, cut lengthwide into thin crescents
</li>
<li>
3 tablespoons canola oil
</li>
<li>
3 tablespoons mild curry powder
</li>
<li>
1/2 teaspoon saffron threads
</li>
<li>
1/3 cup fresh lemon juice
</li>
<li>
2 teaspoons salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
36            ounces  extra firm tofu
</li>
<li>
  3               cups  Tandoori Marinade
</li>
<li>
  2          teaspoons  canola oil
</li>
<li>
  6               cups  chopped vegetables -- cut into bite-sized pieces
</li>
<li>
                        Possibilities include:  asparagus, bell
</li>
<li>
                        peppers, carrots, zucchini, blanched
</li>
<li>
                        broccoli,
</li>
<li>
                        and cauliflower florets or blanced winter
</li>
<li>
                        squash and root vegetables.
</li>
<li>
                        Basmati Rice Pilaf
</li>
<li>
                        Peach Lime Chutney
</li>
<li>
                        Lime slices and resh cilantro leaves -- for garnish
</li>
<li>
Curried Onions:  Saute onions for about 5 minutes until softened.  Add the curry powder and saffron threads and cook another 2 minutes.  Add lemon juie and salt and remove from heat.  Reserve.
</li>
<li>
Tofu:  Cut the tofu into 6 cutlets about 1/2 inch thick (cut them horizontally).  Pour half the marinade into a dish large enough to hold the tofu and add the the tofu to the marinade in the dish, coating thoroughly.  Let set for a minimum of 30 minutes.  Refrigerate if letting set longer, up to 4 hours.  Heat a grill pan or a gas grill.  
</li>
<li>
Brush the grill with oil.  Grill the tofu 2-3 minutes per side.  (Can be broiled, as well).
</li>
<li>
Heat another saute pan and add canola oil.  Saute the vegetables and curried onions for 5 minutes or so until crisp-tender.
</li>
<li>
Serve by mounding some pilaf in the center of each plate.  Cut the tofu into diagonal slices and place on top of the rice.  Surround the rice with the vegetables.  Top the tofu with the marinade and some chutney.  Garnish with lime slices cilantro.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 10
</p>
<p>
SOURCE: Eric Tucker
</p>
</div></body>
