<head>
<title>Mandarin Chocolate Cake</title>
</head>
<body>
<h1>Mandarin Chocolate Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 ounces semisweet chocolate, chopped
</li>
<li>
1 1/2 sticks unsalted butter, cut into 8 pieces, rm. temp.
</li>
<li>
1 cup sugar
</li>
<li>
1 1/2 tablespoons orange peel, grated fine
</li>
<li>
4 large eggs
</li>
<li>
1 large egg yolk
</li>
<li>
3/4 cup cake flour
</li>
<li>
1/4 teaspoon ground ginger
</li>
<li>
1 cup almonds, toasted and chopped
</li>
<li>
3/4 cup crystallized ginger, minced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Glaze:
</li>
<li>
     1/2           cup  whipping cream
</li>
<li>
  3        tablespoons  Grand Marnier
</li>
<li>
  11            ounces  semisweet chocolate
</li>
<li>
Preheat oven to 350F.  Butter 10&quot; cake pan.  Line with parchment and butter paper.  Dust with flour.
</li>
<li>
Melt chocolate in top of double boiler over simmering water.
</li>
<li>
When melted, remove from top of double boiler and add butter, 1 tablespoon at at time, mixing until melted and smooth.
</li>
<li>
Mix in sugar and grated orange peel.  Mix in eggs 1 at a time.  Stir in egg yolk.  Add cake flour and ground ginger.  Then add copped toasted almonds and crystallized ginger and stir to combine.  Transfer to prepared pan.
</li>
<li>
Bake just until springy to touch ~ 1 hour and 5 minutes.  Cool cake in pan on rack for 15 minutes.  Turn out on rack, remove paper and cool.
</li>
<li>
Glaze:  Scald whipping cream with Grand Marnier in small saucepan.  Remove from heat.  Add semisweet chocolate and mix until smooth.  Cool glaze until thick enough to spread.
</li>
<li>
Place cake right side up on rack which is positioned on parchment paper on a sheet pan.  Spread glaze evenly over top and sides of cake.   Refrigerate until glaze is firm.   Transfer cake to serving platter.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Bon Appetit 1992
</p>
</body>
