<head>
<title>Mango Cheesecake</title>
</head>
<body>
<h1>Mango Cheesecake</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup water
</li>
<li>
1 cup sugar
</li>
<li>
1 lemon, juice of
</li>
<li>
handful basil, cut rough
</li>
<li>
2 cups ricotta cheese
</li>
<li>
2 cups cream cheese
</li>
<li>
1 cup sugar
</li>
<li>
2 cups mango puree
</li>
<li>
4 large eggs, lightly beaten
</li>
</ul>
<h2>Method</h2><ul>
<li>
Make simple syrup by blending 1/4 cup water and 1 cup sugar and juice of one lemon and simmer over low heat until sugar is dissolved.
</li>
<li>
Cool and add basil.  Blend in blender until chunky in blender.
</li>
<li>
Mix with an electric mixer the ricotta cream cheese and simple sugar/basil mixture.  Add the additional sugar and mango.  Add egg and mix.  
</li>
<li>
Pour into a chocolate cookie crust, graham cracker crust or biscotti crust.  Bake at 350F for 1 1/2 hour in a bain marie.
</li>
</ul>
<h2>Notes</h2></body>
