<head>
<title>Mango Ice Cream</title>
</head>
<body>
<h1>Mango Ice Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups whipping cream
</li>
<li>
1 1/2 cups sugar
</li>
<li>
6 large egg yolks, beaten
</li>
<li>
1 cup mango puree
</li>
</ul>
<h2>Method</h2><ul>
<li>
Bring whipping cream and sugar just to a boil.   Reduce heat to low.   Temper egg yolks by adding about 1/2 of the hot cream mixture to the egg yolks, whisking.  Return the  egg mixture to the cream and stir with a wooden spoon until thickened slightly (you will be able to leave a path on the back of a wooden spoon when you run your finger through it).  Strain and chill thoroughly.
</li>
<li>
Add the mango puree to the custard mixture and freeze in ice cream maker.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
