<h1>Manicotti</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Crepes:
</li>
<li>
3 large eggs, beaten
</li>
<li>
1 3/4 cups water, or to correct consistency
</li>
<li>
3/4 cup whole wheat flour
</li>
<li>
3/4 cup flour
</li>
<li>
salt to taste
</li>
<li>
non-stick spray, for pan
</li>
<li>
Filling:
</li>
<li>
16 ounces part-skim ricotta cheese
</li>
<li>
1 cup mozzarella cheese, grated
</li>
<li>
1 large egg
</li>
<li>
1 tablespoon Italian parsley, chopped fine
</li>
<li>
1/2 cup Bechemel Sauce
</li>
<li>
1/4 cup Parmesan cheese, finely grated
</li>
<li>
1/2 cup spinach, cooked and liquid squeezed out.
</li>
<li>
1 1/2 cups marinara sauce
</li>
<li>
Parmesan cheese, grated for serving
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix ingredients for the crepes in a food processor.  Allow to rest in the refrigerator for about 20-30 minutes (or longer if more convenient).
</li>
<li>
Spray an 8&quot; crepe pan with non-stick spray and place about 1/4 cup of the crepe batter into the hot pan.  Swirl the batter around to cover the pan.  Cook briefly until bubbles occur and turn over with a thin spatula and cook an additional 30-60 seconds.  Place on plate with wax paper or parchment paper between each one.
</li>
<li>
Mix together the ricotta, mozzarella, egg, parsley, Bechemel, spinach and a bit of the parmesan cheese.  Season with salt.
</li>
<li>
Use two oblong baking dishes.  Place about 1/4 cup of the marinera sauce in each pan and cover the bottom with a thin layer.  Place about a tablespoon of the filling into the crepe; roll to close and place in the baking dish, seam side down.  Do this with all the crepes, dividing the crepes between the two pans.  Allow plenty of room, not allowing them to touch.  Across each crepe, place 1 teaspoon of marinera.  Sprinkle with the rest of the left 1/4 cup parmesan.  Cover the baking dishes with aluminum foil and bake until the crepes become puffed...about 20-25 minutes.  Finish by taking off the foil and bake an addition couple of minutes to brown.  Serve with a sprinkle of fresh Parmesan cheese.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a delicious and light supper dish.  Serve with a fabulous
</p>
<p>
  green salad and great bread.....of course a wonderful Sangiovese would
</p>
<p>
  be perfect!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 each&quot;
</p>
<p>
NOTES:
</p>
<p>
NOTES : This dish is often made with the tubular pasta shells called manicotti shells.  This is also a delicious version,  made in Italy, made with crepes.
</p>
<p>
SERVINGS: 12
</p>
</div></body>
