<h1>Maple-Cheddar Twice Baked Sweet Potatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
10 sweet potatoes
</li>
<li>
(null) canola oil
</li>
<li>
3 large sweet onions, sliced 1/2&quot; thick
</li>
<li>
12 ounces butter
</li>
<li>
2 tablespoons pure maple syrup
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
1 cup cheddar cheese
</li>
<li>
1/4 cup cheddar cheese, for topping
</li>
</ul>
<h2>Method</h2><ul>
<li>
Bake potatoes in 375F oven until easy to pierce.
</li>
<li>
Remove from oven.  Slice in half, length-wise.  Remove potato gently reserving 1/2 the skins to refill (one-half for each guest).
</li>
<li>
Brush the onion slices with canola oil and grill until crisp around the edges and cooked through.  S/p to taste.  
</li>
<li>
Melt butter in large sauce pan.  Add the potato pulp, s/p, maple syrup and cheese.
</li>
<li>
Spoon into skin shells.  Top with a few onions rings and top with cheddar cheese.  Place on 
</li>
<li>
grill with lid down, or in a 400F oven, until cheese is melted on top.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
