<head>
<title>Maple Pumpkin Pie</title>
</head>
<body>
<h1>Maple Pumpkin Pie</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 9&quot; pie crust
</li>
<li>
2 eggs, beaten
</li>
<li>
1 16 oz pumpkin
</li>
<li>
1/2 cup sugar
</li>
<li>
1/4 cup maple syrup
</li>
<li>
1 teaspoon cinnamon
</li>
<li>
1/2 teaspoon ground ginger
</li>
<li>
1/4 teaspoon ground cloves
</li>
<li>
1 2/3 cups skim milk, evaporated skim
</li>
</ul>
<h2>Method</h2><ul>
<li>
Beat eggs slightly in large bowl.  Beat sugar, maple syrup, cinnamon, ginger and cloves into eggs until well combined.  Stir in evaporated skim milk.  Pour pumpkin filling into pie shell.  Bake in preheated 425 degree F. oven for 15 minutes.  Lower oven temperature to 350 degree F.  Cover crust with aluminum foil if browning too fast.  Bake another 55 minutes or until the custard is almost set but still soft in the center; do not overbake.  Cool pie on wire rack.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Serve with homemade whipped cream.NOTES : I found a rendition of this recipe many years ago in a Family Circle magazine and have been making it ever since.  It is the best!
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
