<h1>Maple Pecan Chocolate Tart</h1>
<h2>Ingredients</h2>
<ul>
<li>
Pecan Pastry
</li>
<li>
1/2 cup unsalted butter, chilled, cut 8 pcs.
</li>
<li>
5 tablespoons cold water
</li>
<li>
2 tablespoons sugar
</li>
<li>
2 tablespoons ground pecans
</li>
<li>
1 egg yolk
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 1/2 cups flour
</li>
<li>
Filling:
</li>
<li>
3 ounces unsweetened chocolate
</li>
<li>
3 tablespoons unsalted butter
</li>
<li>
2/3 cup sugar
</li>
<li>
3 tablespoons water
</li>
<li>
1 teaspoon instant coffee crystals
</li>
<li>
4 eggs, room temperature
</li>
<li>
1 cup light corn syrup
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1/2 teaspoon maple extract
</li>
<li>
pinch salt
</li>
<li>
2 cups pecans, coarsely chopped
</li>
<li>
16 large pecan halves
</li>
</ul>
<h2>Method</h2><ul>
<li>
Coarsely chop butter in processor using on/off turns.  Add water, sugar, ground pecans, egg yolk and salt.  Add flour and mix just until dough comes together (do not allow dough to form ball).  Gather into ball and flatten to disk.  Wrap and refrigerate at least 2 hours.
</li>
<li>
Roll dough out on lightly floured board to fit into 11&quot; tart pan allowing overhang.  Fold over excess to form double thickness on sides.  Press dough into pan extending crust 1/4&quot; above sides.  Flute edges.  Pierces bottom and sides using fork.  Refrigerate tart shell at least 30 minutes.
</li>
<li>
Position rack in center of oven and preheat to 400 F.  Line shell with foil and fill with dried beans and bake until shell is set, about 12 minutes.  Remove foil and beans.  Pierce shell again using fork.  Bake until lightly browned, about 12 minutes.  Cool crust completely.
</li>
<li>
Melt together chocolate, butter sugar water and coffee crystals in double boiler until smooth.  Cool to lukewarm.  Blend eggs, corn syrup, vanilla, maple extract and salt in large bowl.  Stir chopped pecans into chocolate mixture.  Pour into crust.  Arrange 10 pecan halves around outside edge of tart and 6 in center.
</li>
<li>
Bake at 375 F until filling is puffy and set about 25 minutes.  Serve warm with ice cream or whipped cream.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is another Thanksgiving Feast favorite...however, I do fudge and make it other times of the year.  Often I substitute walnuts for pecans and it is just as delicious.
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Family Circle, 1982
</p>
</body>
