<head>
<title>Maple Glazed Pears with Cardamom Cream</title>
</head>
<body>
<h1>Maple Glazed Pears with Cardamom Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups heavy cream
</li>
<li>
1 teaspoon freshly ground cardamom
</li>
<li>
sugar to taste, between 1-2 tablespoons
</li>
</ul>
<h2>Method</h2><ul>
<li>
1                cup  butter
</li>
<li>
  8                     pears -- halved and pitted
</li>
<li>
     1/2           cup  pure maple syrup
</li>
<li>
Whip cream adding sugar while whipping.  Add cardamom at the end.
</li>
<li>
Melt the butter in a large saute pan.  Add the pears, sauteing and turning gently for about 8 minutes (until pierceable); and slightly caramelized.
</li>
<li>
Allow to cool in pan.  Serve with whipped cream.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
