<head>
<title>Maria&#39;s Quantity Tomato Sauce</title>
</head>
<body>
<h1>Maria&#39;s Quantity Tomato Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
28 lbs. fresh picked tomatoes
</li>
<li>
1 large bag fresh basil
</li>
<li>
1 large head garlic, cloves unpeeled
</li>
<li>
2 onions, chunks
</li>
<li>
1 cup sugar, or to taste
</li>
<li>
salt, to taste
</li>
<li>
dried red chile pepper, to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Use a 20 quart pot; non-reactive.  Smash tomatoes with hands into pot and add large bag of basil leaves, garlic, onion, salt, red chile pepper, and sugar.  Cook and reduce in pot by about 4&quot; for 3-4 hours.  Can in mason jars.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is Liza&#39;s mom&#39;s special delicious tomato sauce that she
</p>
<p>
  cans.......mmmmmmmmmm.&quot;
</p>
</body>
