<h1>Marinated Flank Steak</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/2 tablespoons olive oil
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1 tablespoon oregano, chopped
</li>
<li>
pepper
</li>
<li>
1 flank steak, about 1 1/2 pounds
</li>
<li>
2 large onions, sliced thick
</li>
<li>
olive oil spray
</li>
<li>
tomatoes
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix olive oil, garlic, oregano, pepper and pour over flank steak.  Allow to marinate for at least 30-60 minutes.  Cook flank steak on hot grill for 11-13 minutes.  Slice on the diagonal.  IN the meantime, spray the onion slices with olive oil spray.  Grill until tender and slightly charred, about 12 minutes.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A simple and easy grilled Sunday dinner....or as a variation for
</p>
<p>
  &quot;steak &amp; eggs&quot; for Sunday Brunch!&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
