<head>
<title>Maria&#39;s Ollives</title>
</head>
<body>
<h1>Maria&#39;s Ollives</h1>
<h2>Ingredients</h2>
<ul>
<li>
10 lbs. green olives
</li>
<li>
water
</li>
<li>
1/2 box kosher salt
</li>
<li>
Pickling Brine:
</li>
<li>
2 quarts white vinegar
</li>
<li>
2 quarts water
</li>
<li>
1/4 cup oregano, dried
</li>
<li>
24 cloves garlic
</li>
<li>
12 dried red chile peppers
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place water in non-reactive 16-20 quart stock pot to about half fill. Add salt and stir to dissolve.  Add olives and stir.  Cover with a gallon freezer bag filled with water to weigh down olives.  Do this process each day, changing salt and water each day.  Everyday, stir 2-3 times.  Keep this process going for at least 10 days, going up to 14 days.
</li>
<li>
Strain olives for the last time.  Mix with oregano.  Pack olives into pint, wide-mouth, sterlized jars.  Top with lids that have been previously placed in boiling water.  Screw lid in place.  Process jars in boiling water with lid on canning pot for 20 minutes.  Allow to cool and pickle for at least a month.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is an adaptation of a recipe given to me by my daughter-in-law&#39;s
</p>
<p>
  Sicilian mother.  Slight changes were made to accomodate water-bath
</p>
<p>
  processing methods for longivity.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;12 pints&quot;
</p>
</body>
