<head>
<title>Marinated Zucchini &amp; Green Bean Salad</title>
</head>
<body>
<h1>Marinated Zucchini &amp; Green Bean Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. green beans, halved lenghtwise, again horizontally
</li>
<li>
2 lbs. zucchini, julienned
</li>
<li>
2 tablespoons fresh dill, finely chopped
</li>
<li>
1/2 cup scallions, finely chopped
</li>
<li>
2 cups white mushrooms, sliced
</li>
<li>
2/3 cup white wine vinegar
</li>
<li>
2/3 cup extra virgin olive oil
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Blanch vegetables, drain, and transfer to bowl.  Add dill, scallions and mushrooms.  Toss with vinegar and olive oil mixture.  Season to taste.
</li>
<li>
Refrigerate for at least 1 hour.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Saveur, March 1995&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
