<h1>Maria&#39;s Panque</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. butter, softened
</li>
<li>
2 1/2 cups sugar
</li>
<li>
6 large eggs
</li>
<li>
2 teaspoons vanilla
</li>
<li>
3 cups flour
</li>
<li>
1 teaspoon salt
</li>
<li>
1 teaspoon baking powder
</li>
<li>
2 teaspoons rum
</li>
<li>
5 sliced apples
</li>
<li>
1 tablespoon rum
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cream butter with sugar.  Add eggs one at a time.  Cream together.  Mix flour and dry ingredients together and add to creamed mixture.  Put 1/2 batter in pan.  Spread apples on top.  Sprinkle with 1 tablespoon of rum over apples.  Cover with remaining batter.  Place in buttered and floured large rectangular pan and bake at 325F for about 1 hour.  Serve sprinkled with powdered sugar.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This recipe is adapted from a friend, Senora Maria Mondragon,  whom I
</p>
<p>
  met while working at Jordan&#39;s Winery in Healdsberg, California.   She
</p>
<p>
  is wonderful and so is this cake!&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
