<h1>Marinated Mushrooms</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2/3 cup olive oil
</li>
<li>
1/2 cup water
</li>
<li>
2 lemons juice
</li>
<li>
1 bay leaf
</li>
<li>
2 cloves garlic, bruised
</li>
<li>
6 whole peppercorns
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 lb. small whole mushrooms
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine everything except the mushrooms in a stainless steel skillet and bring to a boil over moderate heat.  Reduce the heat, cover and simmer for about 15 minutes.  Drop the mushrooms into the brine and simmer another 5 minutes.  Allow the mushrooms to cool in the marinade and serve at room temperature.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:
</p>
<p>
  &quot;2 cups&quot;SOURCE: Adapted from Time-Life Italy
</p>
</div></body>
