<h1>Marinated Zucchini</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 zucchini, about 1 1/2 pounds
</li>
<li>
extra virgin olive oil
</li>
<li>
1 medium onion, sliced 1/8&quot; thick
</li>
<li>
5 cloves garlic
</li>
<li>
3 leaves fresh sage
</li>
<li>
salt
</li>
<li>
3/4 cup red or white vinegar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Wash and soak the zucchini for about 10 minutes to remove all the sand.    Dry and slice about 1/4&quot; thick, long ways.  
</li>
<li>
Place about 2 tablespoons of olive oil in a large fry pan and fry zucchini, a few at a time, over high heat until deep golden crisp areas begin to show.  Don&#39;t let them get too limp (use as little oil as possible).
</li>
<li>
Place them in a deep cassarole or platter.  Finish all the zucchini.
</li>
<li>
Add a little oil to the fry pan and brown the onion.  Add the garlic, sage and salt.  When the garlic turns golden, add the vinegar immediately and bring to a boil.  Boil for 2-3 minutes or until there is very little liquid left.  Pour over zucchini and carefully mix together.  Can be eaten warm or at room temperature....even up to a 
</li>
<li>
day later.  Do not serve cold.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A wonderful antipasti.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
