<head>
<title>Marinated Roasted Red Bells</title>
</head>
<body>
<h1>Marinated Roasted Red Bells</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 red bell peppers, roasted* and sliced into strips
</li>
<li>
24 slices bread, thinly sliced
</li>
<li>
olive oil for spreading on bread
</li>
<li>
Vinaigrette:
</li>
<li>
1/4 cup red wine vinegar
</li>
<li>
1 tablespoon balsamic vinegar
</li>
<li>
olive oil, to taste
</li>
<li>
red pepper flakes
</li>
<li>
parsley, chopped
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
* Roasted Bell Peppers:  Place raw, unpeeled, halved peppers on sheet pan covered with parchment paper.  Place under broiler for at least 5-10 minutes, until blackened.  Take out of oven and place in bowl and immediately cover with plastic wrap.  Allow to cool.  The peppers will sweat and then you can easily remove the burnt skin off.  Avoid using water and remove with hands only....leaving a bit of black specks to add to flavor.
</li>
<li>
To make vinaigrette:  Whisk the vinegars with the seasoning and enough olive oil to leave a slightly acid taste.  Mix a couple of tablespoons with the peppers.  Place
</li>
<li>
Meanwhile toast the crostini by brushing olive oil on bread slices and toast in 400F oven for about 10-12 minutes until desired crispness.
</li>
<li>
Place pepper slices on crostini just before serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
