<h1>Maria&#39;s Mexican Pickles</h1>
<h2>Ingredients</h2>
<ul>
<li>
3/4 white distilled vinegar:1 part H20
</li>
<li>
jalapenos, quartered to stem to open
</li>
<li>
carrots, sliced about 3/8&quot;
</li>
<li>
cauliflower flowerets
</li>
<li>
onions, quartered
</li>
<li>
lots of garlic cloves
</li>
<li>
bay leaves, lots
</li>
<li>
Mexican oregano, lots
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place vegetable oil in large braising pot and sweat onions and garlic.  Add the rest of vegetables and then add vinegar and water.  Cook until still slightly crunchy.  Place in large plastic cooler and put in refrigerator.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Maria Mondragon
</p>
</body>
