<h1>Martha Stewart&#39;s Chocolate Souffle</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
unsalted butter, for dish and parchment paper
</li>
<li>
1/4 cup +2 tablespoons sugar, + more for dish
</li>
<li>
4 ounces bittersweet chocolate
</li>
<li>
1 cup milk
</li>
<li>
3 large egg yolk
</li>
<li>
1/4 cup flour
</li>
<li>
5 large egg whites
</li>
<li>
pinch cream of tartar
</li>
<li>
powdered sugar, for dusting, optional
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat the oven to 400F with a rack in the lower third.  Butter a 1 quart souffle dish well, dust with sugar and tap out the excess.  Cut out a parchment-paper collar to extend 3&quot; above the rim of the dish.  Tie the callar around the dish with kitchen twine; using a pastry brush, butter the inside tof the paper.  Transfer the dish to the freezer to chill.
</li>
<li>
In the top of a double boiler, melt the chocolate.  Stir with a rubber spatula until smooth; keep warm.
</li>
<li>
In a medium saucepan, bring the milk just to a simmer; remove from the heat.
</li>
<li>
Meanwhile, in the bowl of an electric mixer fitted with the whisk attachment, beat yolks and 1/4 cup sugar until pale and fluffy, about 3 minutes.  Beat in the flour until well combined.  With mixer running, slowly add half the hot milk.
</li>
<li>
Add warm egg mixture back to saucepan with remaining hot milk.  Bring to a boil over mdeium-low heat, stirring constantly.  Simmer 2-3 minutes more; whisk in melted chocolate.  Transfer to a large bowl, and cover with plastic wrap, pressingit onto the surface.  Keep warm until ready to use.
</li>
<li>
In a large bowl, beat the egg whites and cream of tartar unsoft peaks form.  Gradually add the remaining sugar.  Beat until stiff and glossy.
</li>
<li>
Spoon a third of the whites into the chocolate base to lighten it, and whisk thoroughly until smooth.  Quickly fold in the remaining whites until combined.  Don&#39;t worry if some streaks remain.  Transfer the mimxture to the prepared dish.
</li>
<li>
Bake for 15 minutes at 400F then reduce heat to 375F and bak until the souffle is puffed and golden, about 15 minutes more.  Carefully remove the collar, and dust with powdered sugar or cocoa and serve immediately.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 6
</p>
</div></body>
