<h1>Mascarpone Mini Cupcakes with Strawberry Glaze</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mascarpone mini cupcakes with strawberry glaze
</li>
<li>
Giada De Laurentiis
</li>
<li>
Makes 48 mini muffins
</li>
<li>
Make these for your little girl&acirc;&#128;&#153;s next tea party; they are pretty and so easy to make.
</li>
<li>
INGREDIENTS
</li>
<li>
&acirc;&#128;&cent; 8 ounces mascarpone cheese, softened
</li>
<li>
&acirc;&#128;&cent; 2 egg whites
</li>
<li>
&acirc;&#128;&cent; 1/4 cup vegetable oil
</li>
<li>
&acirc;&#128;&cent; 1 box white cake mix
</li>
<li>
&acirc;&#128;&cent; 1/3 cup frozen strawberries, thawed and drained
</li>
<li>
&acirc;&#128;&cent; 2 1/2 cups confectioners&#39; sugar
</li>
<li>
DIRECTIONS
</li>
<li>
Preheat the oven to 350 F. Line 4 mini muffin tins (a total of 48 mini muffin molds) with paper liners.
</li>
<li>
In a large bowl combine the mascarpone cheese, egg whites and vegetable oil.
</li>
<li>
Using a hand mixer, beat the ingredients until combined and creamy. Add the cake mix and 1 cup of water and mix until smooth, about 3 minutes. Fill the muffin liners to just below the rim and bake until puffed and golden, about 18 to 20 minutes. Remove from the oven, let cool slightly in the tins, then transfer the cupcakes to a wire rack to cool completely.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Meanwhile, puree the strawberries in a blender or small food processor. Sift the confectioners&acirc;&#128;&#153; sugar and place in a medium bowl. Pour in the strawberry puree and whisk until smooth. Dip the tops of the cooled cupcakes into the strawberry glaze. Let the cupcakes sit for a few minutes for the glaze to firm up, then serve.SOURCE: Adapted from Giada
</p>
</div></body>
