<head>
<title>Mashed Potatoes/Cauliflower</title>
</head>
<body>
<h1>Mashed Potatoes/Cauliflower</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 russet potatoes, boiled, riced
</li>
<li>
1/2 cauliflower, pureed
</li>
<li>
Mix together and add cream as needed
</li>
<li>
Add butter and s/p to taste.
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : These are fabulous and a mystery remains with the customer...what is that flavor???  Its cauliflower!
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Franco Dunn, Jordan Winery
</p>
</body>
