<h1>Mashed Red Skin Potatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 pounds red potatoes, unpeeled
</li>
<li>
6 cloves garlic
</li>
<li>
1/4 pound butter
</li>
<li>
1 cup sour cream
</li>
<li>
2 teaspoons grainy mustard
</li>
<li>
salt &amp; pepper to taste
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Boil the potatoes until easily pierced.  Drain.  In the same pan that the potatoes were cooked in, melt the butter.  Add the sour cream, mustard, salt and pepper.  Add the warm potatoes.  Mash with masher until chunky.  Stir to finish and incorporate all ingredients.  Taste and correct seasoning.  SOURCE: Apple Charlotte
</p>
</body>
