<h1>Master Mix Brownies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup master mix
</li>
<li>
1 cup sugar
</li>
<li>
1/2 cup cocoa
</li>
<li>
2 large eggs
</li>
<li>
1 teaspoon vanilla
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 350F.  Grease an 8&quot; square pan.  Mix dry ingredients.  Add eggs and vanilla and mix.  Pour into pan and bake for 25 minutes (do not overcook).
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:
</p>
<p>
  &quot;12 servings&quot;SOURCE: WSU Cooperative Extension
</p>
</div></body>
