<head>
<title>Mayonnaise (Chef Eric, 2 Cup)</title>
</head>
<body>
<h1>Mayonnaise (Chef Eric, 2 Cup)</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 egg yolk
</li>
<li>
1/8 teaspoon white pepper
</li>
<li>
1 teaspoon dry mustard
</li>
<li>
1 teaspoon (or less) apple cider vinegar
</li>
<li>
2 cups neutral vegetable oil (canola oil is good)
</li>
<li>
lemon juice
</li>
</ul>
<h2>Method</h2><ul>
<li>
Whisk egg yolk; add pepper and mustard.  Add vinegar.  
</li>
<li>
Begin to add oil little at a time incorporating until emulsification begins to take place.  Add little bit of water if becomes to thick.  Continue to add all of oil, dribbling in a little at a time.  
</li>
<li>
Season with salt half way through the oil.  With completion of oil; taste for seasoning adding salt, lj if needed.
</li>
<li>
Check for consistency...if too thick, add tiny bit of water; if too thin, add more oil.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Eric Gallanter
</p>
</body>
