<head>
<title>Mayonnaise</title>
</head>
<body>
<h1>Mayonnaise</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 egg yolks (1 cup or 8 tbsp)
</li>
<li>
2 tablespoons vinegar (8 teaspoons)
</li>
<li>
2 teaspoons salt
</li>
<li>
2 teaspoons dry mustard
</li>
<li>
pinch cayenne
</li>
<li>
3 1/2 pints salad oil (8 Cups)
</li>
<li>
4 tablespoons vinegar (16 teaspoons)
</li>
<li>
3 tablespoons lj
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Place the egg yolks in bowl and beat with whire whip until well beaten.
</li>
<li>
2.  Add 2 tbsp. vinegar and beat well.
</li>
<li>
3.  Mix together the dry ing. and add to the bowl.  Beat until well mixed.
</li>
<li>
4.  Whisk in very slowly (almost drop by drop) the oil.  Once emulsion forms, you can add the oil slightly faster.
</li>
<li>
5.  When mayo becomes thick, thin out with a little of the vinegar.
</li>
<li>
6.  Gradually beat in the remaining oil alternately with the vinegar.
</li>
<li>
8. Adjust the tartness and the consistency by beating in a little lemon juice.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Gisslen
</p>
</body>
