<h1>Meat Filled Empanada</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Dough:
</li>
<li>
4 1/2 cups flour
</li>
<li>
1 tablespoon white wine
</li>
<li>
3 tablespoons olive oil
</li>
<li>
1 tablespoon clarified butter
</li>
<li>
salt
</li>
<li>
pinch sugar
</li>
<li>
Meat Filling:
</li>
<li>
4 tablespoons olive oil
</li>
<li>
1 lb. pork loin, cut into thin strips
</li>
<li>
2 large onions, finely chopped
</li>
<li>
2 cloves garlic, finely chopped
</li>
<li>
2 red bell peppers, finely chopped
</li>
<li>
4 1/2 ounces air-dried ham, (or proscuitto), chopped
</li>
<li>
2 tablespoons tomato paste
</li>
<li>
salt and pepper
</li>
<li>
1 teaspoon sweet paprika
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Dough:  Place the flour with the wine, olive oil, clarified butter, salt, sugar and about 3/4 cup of lukewarm water into a food processor.  Pulse to mix and then mix until all comes into a ball.  Finish kneading on board to a flexible state.
</li>
<li>
Rest the dough in the refrigerator and then divide it into two.
</li>
<li>
Roll out one half on a floured surface to fit into a large round  buttered pan, making sure the dough overlaps at the upper edge.  Add the filling.  Roll out the remaining dough and lay it on top of the filling.  Press together the edges of the dough.  Brush with egg yolk and bake in a preheated oven at 355F for about 30 minutes until golden brown.
</li>
<li>
Meat Filling:  Heat the olive oil in a large skillet.  Fry the strips of pork, then remove them from the skillet.  Sweat the onions and garlic in the oil until transparent.  Mix in the bell pepper and diced ham and fry briefly.  Return the meat to the skillet with the tomato paste and season with salt, pepper and paprika.  Spoon the filling into the doughl.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Like a filled pizza, this dish was perfect for the traveler,
</p>
<p>
  fisherman, or farmer....a Galician turnover.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Adapted from &quot;Culinaria Spain&quot;&quot;
</p>
<p>
SERVINGS: 8
</p>
</div></body>
