<h1>Mediterranean Spelt Loaf</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
10 cups organic spelt flour
</li>
<li>
2 teaspoons sea salt
</li>
<li>
4 1/2 teaspoons SAF Instant Yeast
</li>
<li>
1 tablespoon honey
</li>
<li>
5 cups tepid flour
</li>
<li>
2 tablespoons sesame seeds
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Measure flour and salt into a microwave-safe bowl.  Place in microwave for 1 minute to warm slightly.
</li>
<li>
Combine yeast with 1 cup of warm water; add honey in a small bowl  Allow to proof and become bubbly.
</li>
<li>
Place flour in heavy duty mixer bowl.  Make a well and add yeast mixture and remaining warm water.  The yeast mixture will become more active.
</li>
<li>
Mix on low speed with paddle attachment until mixture comes together.  Mix at a medium-low speed  for 2-3 minutes until mixture begins to release itself from the sides of the bowl.  (This is a batter bread and very wet, almost like muffin batter).  Pour into well greased bread pans (3).  Cover with damp cloths and allow to rise in warm spot until dough rises within 1/2&quot; of the rim of the pan.  Meanwhile preheat the oven to 400F.  The batter will take about 35 minutes to rise.  
</li>
<li>
Place into 400F oven and bake for about 40-45 minutes.  Check for doneness by releasing from pan and thumping on the bottom of the loaf....it should sound hollow like a drum.  If it does not, return to oven for another 5 minutes.  Cool on wire racks.  Eat within 4 days.  Can be frozen for up to 1 month.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Bread....From Sourdough to Rye&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;3 loaves&quot;SOURCE: Adapted from Linda Collister
</p>
</div></body>
