<h1>Mediterranean-Style Bean &amp; Tortellini Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 tablespoons olive oil
</li>
<li>
4 links fresh Italian sausages, 1&quot; slices
</li>
<li>
1 leek, minced
</li>
<li>
2 carrots, peeled and minced
</li>
<li>
2 celery, minced
</li>
<li>
3 cloves garlic, minced
</li>
<li>
4 fingers rosemary, minced
</li>
<li>
2 branches thyme, minced
</li>
<li>
3 quarts ~ chicken stock
</li>
<li>
1 lb.  beans: white, kidney or black or mixture, cooked
</li>
<li>
1 can tomatoes, drained and chopped
</li>
<li>
handful basil leaves, chiffonade
</li>
<li>
2 8 ounce boxes tortellini, cooked separately
</li>
<li>
salt and pepper, to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat soup pot and add olive oil.  Add leek, carrots, celery, garlic, rosemary and thyme.  Cook until fragrant.  Add chicken stock and simmer about 20 minutes to meld flavors.  Just before serving, add cooked white beans, tomatoes and tortellini and heat through.  Check for proper seasoning.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
