<h1>Mediterranian Scallops</h1>
<h2>Ingredients</h2>
<ul>
<li>
24 sea scallops, mussel removed
</li>
<li>
s/p
</li>
<li>
flour
</li>
<li>
butter
</li>
<li>
2 large shallots
</li>
<li>
3 cloves garlic
</li>
<li>
chopped parsley
</li>
<li>
white wine
</li>
<li>
2 tablespoons butter, cold
</li>
<li>
1/2 lemon, juiced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Salt and pepper scallops.  Dust lightly with flour.
</li>
<li>
Heat some butter in a saute pan and heat to moderately high heat.  Add the scallops.  Cook about 1 1/2-2 minutes per side, browning nicely.  Add the shallots, garlic, parsley, butter and cook briefly.  Add a little wine and deglaze pan while cooking the vegetables.  Splash with a little lemon.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
