<head>
<title>Mediterranian Sauce</title>
</head>
<body>
<h1>Mediterranian Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 large onions, sliced
</li>
<li>
olive oil
</li>
<li>
8 large tomatoes (or 16 romas), julienned
</li>
<li>
basil
</li>
<li>
salt
</li>
<li>
2 cups cubed mozzarella cheese
</li>
<li>
1 lb. cooked pasta (any shape)
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Cook onion in olive oil.  Add tomatoes and salt and cook about 15 minutes.  Add fresh basil, cubed moz and pasta and mix.  Serve.SOURCE: Fattoria Medicea
</p>
</body>
