<h1>Melon &amp; Prosciutto Canape (Banquet Style)</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 slice bread, cut 1/4&quot; lengthwise
</li>
<li>
50% butter/50% cream cheese spread
</li>
<li>
6 slices prosciutto
</li>
<li>
1 melon
</li>
<li>
mint
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Toast bread to dry.
</li>
<li>
2.  Spread slice with think coating of canape spread (50-50)
</li>
<li>
3.  Placed sliced prosciutto over bread, not worrying about over the side pieces.
</li>
<li>
4.  Even up sides of canapes along all four sides of the slice of bread.
</li>
<li>
5.  Cut into 20 canape pieces with very sharp knife.
</li>
<li>
6.  Top each canape with melon ball, and sliced mint.  Serve.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Eric
</p>
</body>
