<head>
<title>Melon &amp; Proscuitto Soup</title>
</head>
<body>
<h1>Melon &amp; Proscuitto Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 ripe cantaloupe
</li>
<li>
1 orange, juice of
</li>
<li>
1/4 lemon, juice of
</li>
<li>
1/2 teaspoon sea salt
</li>
<li>
1/2 teaspoon coarsely ground peppercorns
</li>
<li>
sugar to taste
</li>
<li>
4 slices thinly sliced proscuitto
</li>
<li>
mint for garnish
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Wash the melon well on the outside before peeling.
</li>
<li>
2.  Peel the melon and place it in a food processor or blender.
</li>
<li>
3.  Add orange and lemon juices, salt, pepper and sugar to taste and blend until smooth.
</li>
<li>
4.  Stir in one quarter of the proscuitto.
</li>
<li>
5.  Pour soup into pretty bowls and garnish with the remaining proscuitto, pepper and a sprig of mint.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Adapted from Antonio Carluccio
</p>
</body>
