<head>
<title>Menudo</title>
</head>
<body>
<h1>Menudo</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 calf&#39;s or pigs foot
</li>
<li>
2 lbs. honeycomb tripe
</li>
<li>
1 large white onion, chopped
</li>
<li>
3 cloves garlic, chopped
</li>
<li>
6 whole peppercorn
</li>
<li>
2 teaspoons salt
</li>
<li>
4 quarts water
</li>
<li>
2 large chile anchos
</li>
<li>
1 large New Mexico dried chile
</li>
<li>
1 large chile poblano, roasted and peeled
</li>
<li>
2 tablespoons tomato paste
</li>
<li>
2 cups tomatoes, chopped
</li>
<li>
1 1/2 lbs. hominy, drained, rinsed
</li>
<li>
salt, to taste
</li>
<li>
1 scant teaspoon Mexican oregano
</li>
</ul>
<h2>Method</h2><ul>
<li>
Have the pigs foot cut into 4 pieces.  Cut the tripe into small squares.  Put them into the pan with the rest of the ingredients.  Cover with water and bring to a boil.  Lower the flame and simmer uncovered for about 2 hours or until the tripe and foot are just tender but not too soft.
</li>
<li>
Meanwhile, toast  the chiles well.  Slit them open and remove the seeds and veins.  Grind them dry to a fine powder.  Add it to the saucepan as the meat is cooking.  Add tomato paste and tomatoes.
</li>
<li>
Remove the sees and veins from the chile poblano, cut it into strips, and add to the meat while it is cooking
</li>
<li>
Remove the pieces of calf or pigs foot and strip off the fleshy parts.  Chop them roughly and return them to the pan.
</li>
<li>
Add the hominy and continue cooking the menudo slowly, still uncovered for another 2 hours.  Add salt as necessary.  Sprinkle with oregano and serve.
</li>
<li>
Serve with small dishes of chopped chiles serranos, finely chopped onion and wedges of lime for each person to help himself.  A Mexican sauce or salsa is also served and tortillas.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A traditional and delicious Mexican soup.&quot;SOURCE: Adapted from the Senoras
</p>
</body>
