<h1>Mexican Rice Pudding</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 2&quot; cinnamon stick
</li>
<li>
4 2&quot; strips orange zest
</li>
<li>
salt
</li>
<li>
2 cups rice, medium grain
</li>
<li>
8 cups whole milk
</li>
<li>
1 1/2 cups sugar
</li>
<li>
1 cup dried fruit
</li>
</ul>
<h2>Method</h2><ul>
<li>
Measure 3 1/2 cups water into saucepan.  Add cinnamon stick, orange zest and 1/2 teaspoon salt.
</li>
<li>
Bring to boil, cover and simmer over low heat for 5 minutes.  Stir in the rice, cover and cook until tender, 20 minutes or so.  Remove the cinnamon and orange zest.
</li>
<li>
Add the milk and sugar to the pan.  Set over medium heat and simmer until the mixture just begins to thicken (no thicker than heavy cream), 15-20 minutes.
</li>
<li>
Stir in dried fruit.  The pudding will thicken as it cools.  Serve warm or cold.  If served cold (will be thicker), it can be served with whipped cream on top or stirred through.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Luscious!&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Rick Bayless
</p>
</body>
