<h1>Mexican Beans</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. pinto beans
</li>
<li>
1 tablespoon canola oil
</li>
<li>
1 large onion, halved
</li>
<li>
2 jalapena chiles
</li>
<li>
2 cloves garlic
</li>
<li>
1 bay leaf
</li>
<li>
salt, to taste
</li>
<li>
*1-2 ham hocks can be added if desired, remove meat and add to beans when cooking is completed
</li>
</ul>
<h2>Method</h2><ul>
<li>
Soak beans overnight.  Drain water.  Place beans in pot with water to cover by about 2 inches.  
</li>
<li>
Grill or sear onion, chiles and garlic cloves in oil until slightly blackened.
</li>
<li>
Add to beans.  Cook the beans until about 1/2 cooked (about 45 minuites or so).  Add salt.  Finish cooking until cooked through with some bite.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
