<h1>Mexican Hot Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 onions, chopped
</li>
<li>
4 cloves garlic, chopped
</li>
<li>
1 large can fire grilled tomatoes, chopped
</li>
<li>
3 jalapeno chile pepper, sliced
</li>
<li>
2 teaspoons ground chipolte or chipolte-flavored
</li>
<li>
Tabasco
</li>
<li>
2 teaspoons Mexican oregano
</li>
<li>
1 bunch cilantro
</li>
<li>
1/2-1 lime juice, fresh
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
  Place all ingredients  in food processor and add cilantro and lime to taste.  Puree to desired consistency.  Taste for salt and spiciness.  Add more chiles if desired.SOURCE: Apple Charlotte
</p>
</body>
