<h1>Mexican Killer Kahlua Chiffon Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup + 1 tablespoon unsweetened cocoa, Dutch processed
</li>
<li>
3/4 cup boiling water
</li>
<li>
1 3/4 cups sifted cake flour
</li>
<li>
1 3/4 cups superfine sugar
</li>
<li>
2 teaspoons baking powder
</li>
<li>
1/2 teaspoon salt
</li>
<li>
6 tablespoons walnut oil
</li>
<li>
2 tablespoons safflower oil
</li>
<li>
6 large eggs, separated
</li>
<li>
4 additional egg whites
</li>
<li>
2 teaspoons vanilla
</li>
<li>
1 1/4 teaspoons cream of tartar
</li>
<li>
Kahlua Icing:
</li>
<li>
2 cups powdered sugar, softed
</li>
<li>
1/4 cup kahlua
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 325F.
</li>
<li>
In a medium bowl combine the cocoa and boiling water and whisk until smooth.  Cool
</li>
<li>
In a large mixing bowl combine the flour, all but 2 tablespoons of the sugar, baking powder and salt and beat 1 minute to mix.  Make a well in center.  Add the oils, egg yolks, chocolate mixture and vanilla and beat 1 minute or until smooth.
</li>
<li>
In another large mixing bowl, beat the egg whites until frothy, add the cream of tartar, and beat until soft peaks form when the beater is raised.  Beat in the remaining 2 tablespoons of sugar and beat until stiff peaks form when the beater is raised slowly.  Fold 1 heaping cup of egg whites into the chocolate mixture with a large balloon wire whisk.  Gently fold in the remaining egg whites until just blended.
</li>
<li>
Pour into the tube pan (the batter will come to 1 3/4&quot; from the top), run a small metal spatula or knife through the batter to prevent air pockets and bake for 60 minutes or until a cake tester inserted in the center comes out clean and the cake springs back when lightly pressed in the center.  Invert the pan, placing the tube opening over the neck of a soda or wine bottle to suspend it well above the counter and cool the cake completely in the pan (about 1 1/2 hours).
</li>
<li>
Loosen the sides with a long metal spatula and remove the center core of the pan.  Dislodge the bottom and center corn with a metal spatula or tin sharp knife (A wire cake tester works well around the core.  To keep the sides attractive, press the spatula against the sides of the pan and avoid any up and down motion.)  Invert onto a greased wire rack and reinvert onto a serving plate.  Wrap airtight.
</li>
<li>
Icing:  Beat the kahlua into the powder sugar until smooth (more kahlua may be added for correct texture...should be runny enough to pour but not traslucent).
</li>
<li>
Pour over cake allowing to drip down sides.
</li>
<li>
Make Kahlua Cream Anglaise, serving cake on cream sauce.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This chocolate chiffon cake is a favorite (and very light)....Add the
</p>
<p>
  icing and a Kahlua Cream Sauce and you are in heaven!!  Cake is by
</p>
<p>
  Rose Levy Beranbaum....Apple Charlotte finishes it off.&quot;
</p>
<p>
SERVINGS: 14
</p>
</body>
