<head>
<title>Mexican Bean Dip</title>
</head>
<body>
<h1>Mexican Bean Dip</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup red chile, chopped
</li>
<li>
1/4 cup chopped onions
</li>
<li>
1 teaspoon red wine vinegar
</li>
<li>
3 large cloves garlic
</li>
<li>
1 teaspoon Tabasco sauce, or to taste
</li>
<li>
1/2 teaspoon chile powder
</li>
<li>
2 cups cold beans or refried beans
</li>
<li>
corn chips
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Place everything but the beans and chips into food processor and pulse until minced.  Add beans and mix until smooth.  Taste to correct seasoning.SOURCE: Apapted from &quot;The Tex Mex Cookbook&quot;
</p>
</body>
