<head>
<title>Mexican Tomato Salsa</title>
</head>
<body>
<h1>Mexican Tomato Salsa</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 tablespoon canola oil
</li>
<li>
1 medium red onion, coarsely chopped
</li>
<li>
5 cloves garlic, coarsely chopped
</li>
<li>
6 large tomatoes, or one large can tomatoes
</li>
<li>
2 serranos
</li>
<li>
3 jalapeno, sliced
</li>
<li>
1 tablespoon chipotle hot sauce
</li>
<li>
1 tablespoon Mexican oregano
</li>
<li>
1 bunch cilantro, chopped
</li>
<li>
salt 
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix together all ingredients in a food processor.  Blend.  Taste to correct seasoning.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
