<head>
<title>Mexican Flan</title>
</head>
<body>
<h1>Mexican Flan</h1>
<h2>Ingredients</h2>
<ul>
<li>
Custard:
</li>
<li>
2 1/4 cups evaporated milk, 1 1/2 12oz. cans
</li>
<li>
1 1/2 cups sugar
</li>
<li>
3/4 cup sugar
</li>
<li>
6 eggs
</li>
<li>
1/2 teaspoon vanila
</li>
<li>
Caramel:
</li>
<li>
1/4 cup sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Custard:  Place all custard ingredients into a double boiler&#39;s top pan.  Beat with a whisk for about 1 minutes or until the mixture is well-blended and begins to froth at its rim.
</li>
<li>
Put the pan over a water bath and heat through until warm throughout
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Rancho de Chimayo
</p>
</body>
