<h1>Mexican Chocolate Trifle Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 chocolate/cinnamon genoise
</li>
<li>
1 1/2 pint coffee ice cream
</li>
<li>
1/2-1 cup Kahlua, to your taste
</li>
<li>
1 cup whipping cream
</li>
<li>
2 tablespoons sugar
</li>
<li>
1 teaspoon instant espresso coffee
</li>
</ul>
<h2>Method</h2><ul>
<li>
Find a large trifle or glass bowl.  Put about 2 tablespoons of Kahlua in the bottom of the bowl.  Cut the cake into large 1&quot; chunks.  Place a layer of cake over the Kahlua.  Sprinkle with a bit of Kahlua.  Top with about a third of the coffee ice cream (more or less).  Place cake chunks over ice cream.  Sprinkle with Kahlua.  Top with another third of the ice cream.  Continue with more layers, sprinkling remaining Kahlua throughout and finishing with cake chunks.
</li>
<li>
Top all with the whipped cream that has had the coffee and sugar whipped in.  
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
