<h1>Mexican Cornmeal Crepes</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 large eggs
</li>
<li>
1 1/4 cups light beer
</li>
<li>
1 tablespoon butter, melted
</li>
<li>
1/2 cup all-purpose flour
</li>
<li>
1/2 cup cornmeal
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 or 2 jalapeno chile pepper, minced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine in a food processor or blender.
</li>
<li>
Adjust consistency of batter...should be like heavy cream.  Let batter rest for about 30 minutes.
</li>
<li>
Cook in small saute pan or crepe pan.  Fill as desired....
</li>
<li>
We like: Sauteed onions with Mexican oregano and Mexican cheese filling;   served with grilled chirizo and sauteed red bells and pablano chiles.  Top with a bit of sour cream...yum!
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Enjoy a light rendition of a Mexican Brunch...with these crepes.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
