<head>
<title>Meyer Lemon Sorbet</title>
</head>
<body>
<h1>Meyer Lemon Sorbet</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup water
</li>
<li>
2 tablespoons lemon zest
</li>
<li>
2 cups Meyer lemon juice
</li>
<li>
1 cup sugar
</li>
<li>
1/3 cup lemoncello, or vodka
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Wash and dry lemons and zest.  Juice lemons.  Place water, zest and sugar in pot and boil for one minute.  Strain the juice into the sugar mixture.  Refrigerate over night.  Add the lemoncello or vodka.  Freeze in ice cream maker.  SOURCE: Adapted from Chocolate Gourmand
</p>
</body>
