<h1>Meyer Lemon Marmalade</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 Meyer lemons, 1 1/2 pounds
</li>
<li>
4 cups water
</li>
<li>
4 cups sugar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Halve lemons crosswise and remove seeds.  Tie seeds in a cheesecloth bag.  Quarter each lemon half and thinly slice.  Combine with bag of seeds and water in a 5 quart nonreactive heavy pot and let mixture stand, covered, at room temperature 24 hours.
</li>
<li>
Bring lemon mixture to a boil over moderate heat.  Reduce heat and simmer, uncovered, until reduced to 4 cups, about 45 minutes.  Stir in sugar and boil over moderate heat, stirring occasionally and skimming off any foam, until a teaspoon of mixture dropped on a cold plate gels, about 15 minutes.  
</li>
<li>
Ladle hot marmalade into jars, filling to within 1/4&quot; of top.  Wipe rims with dampened cloth and seal jars with lids.  
</li>
<li>
Put jars in a water-bath canner or on a rack set in a deep pot.  Add enough hot water to cover jars by 1&quot; and bring to a boil.  Boil jars, covered, 5 minutes and transfer with tongs to a rack.  Cool jars completely.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Gourmet 1999&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;6 1/2 pints&quot;
</p>
</div></body>
