<h1>Mike&#39;s Jerk Spice</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 large onions, chopped
</li>
<li>
6 cups brown sugar
</li>
<li>
2 tablespoons ground coriander
</li>
<li>
4 tablespoons cumin
</li>
<li>
2 tablespoons garam masala
</li>
<li>
1 teaspoon cinnamon
</li>
<li>
4 tablespoons allspice
</li>
<li>
4 tablespoons asil
</li>
<li>
2 tablespoons chili powder
</li>
<li>
6 tablespoons cayenne
</li>
<li>
64 ounces canola oil
</li>
<li>
4 tablespoons salt
</li>
<li>
10 ounces fresh lime juice
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Combine all ingredients and mix well.SOURCE: Mike/Huckleberry&#39;s
</p>
</body>
