<h1>Mile High Lemon Meringue Pie</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Mile-High Lemon Meringue Pie
</li>
<li>
Lemon meringue pie may be an American classic, but it can be tricky to prepare. There&acirc;&#128;&#153;s the crust with all its issues, then the tart filling and the meringue itself, which is all too prone to weeping. And that topping is never, ever as tall and fluffy as we would like. We wanted to figure out how to make a perfect lemon meringue pie with a sky-high topping. Here&acirc;&#128;&#153;s what we discovered:
</li>
<li>
Test Kitchen Discoveries
</li>
<li>
Make the meringue with a hot sugar syrup (what the professionals call Italian-style meringue). This ensures that the meringue is cooked through and stable enough to be piled high on top of the filling. The addition of a little cream of tartar to the egg whites while mixing also helps to stabilize the meringue.
</li>
<li>
Flavor the filling with both lemon zest and lemon juice for the brightest citrus flavor. Remember to strain the filling to remove the zest, which would mar the otherwise silky smooth filling.
</li>
<li>
Use a rubber spatula to spread the meringue over the filled pie, making sure to stick the meringue to the edge of the piecrust to prevent the topping from shrinking. Once all the meringue is on the pie, use the spatula to make the spikes and peaks of meringue.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Cooks Country
</p>
</body>
