<h1>Minestrone Genovese</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 ounce dried porcini mushroom
</li>
<li>
1 bunch swiss chard, stems removed
</li>
<li>
1/4 lb. spinach, stems removed
</li>
<li>
salt
</li>
<li>
2 small zucchini
</li>
<li>
2 medium white potatoes, peeled and diced
</li>
<li>
2 small eggplants, Japanese is best
</li>
<li>
2 tablespoons olive oil
</li>
<li>
2 cups small pasta, cooked
</li>
<li>
2 cups cooked white beans
</li>
<li>
4 tablespoons pesto sauce
</li>
<li>
freshly ground pepper
</li>
<li>
parmesan cheese, freshly grated
</li>
<li>
Pesto Sauce:
</li>
<li>
2 cups basil, tightly packed
</li>
<li>
3 tablespoons pine nuts
</li>
<li>
3 cloves garlic, chopped
</li>
<li>
salt
</li>
<li>
1/2 cup olive oil
</li>
<li>
1/2 cup parmesan cheese
</li>
</ul>
<h2>Method</h2><ul>
<li>
Soak the porcini in 2 cups warm water until soft.  Strain through a coffee filter fitted into a strainer, reserving liquid.  Rinse the porcini, chop and set aside.
</li>
<li>
Bring porcini water and 6 cups of salted water to a boil in a soup pot.  Add porcini, chard, spinach, zucchini, potatoes, eggplant and oil.  Reduce heat to low and simmer, uncovered, for about 1 hour.
</li>
<li>
Add beans.  Cook about 5 minutes.  Stir in pesto and season with salt and pepper.  
</li>
<li>
Place pasta in hot bowls and cover with vegetables and broth.  Sprinkle with parmesan.
</li>
<li>
Pesto Sauce:  Place pinenuts, garlic and salt into the bowl of a food processor.  Blend to a baste.  Add basil and pour oil through feed tube, processing until smooth.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A light, delicious vegtable soup topped simply with pesto.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
