<h1>Minestrone</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 leek, minced
</li>
<li>
1 large carrot, minced
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1 shallot, minced
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1 long finger rosemary, minced
</li>
<li>
5 leaves sage, minced
</li>
<li>
5 branches thyme, minced
</li>
<li>
3-5 links smoked sausage, or fresh Italian sausage, sliced
</li>
<li>
1 large can tomatoes
</li>
<li>
1 16 ounce kidney beans, or other beans of your choice
</li>
<li>
Grilled vegetables: zucchini, eggplant,
</li>
<li>
bell peppers, onions, etc.
</li>
<li>
3-4 cups chicken stock
</li>
<li>
(null) salt &amp; pepper to taste
</li>
<li>
1 pound pasta, penne or tortellini
</li>
<li>
Parmesan cheese
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sweat leek and carrot in olive oil for 3-5 minutes until leek is softened.  Add shallot, garlic and fresh herbs.  Saute briefly until fragrant.  Add sausage and saute briefly until smelling good.  Add tomatoes, beans, grilled vegetables and chicken stock.  Season with s/p.  Simmer to develop flavors, about 20 minutes.
</li>
<li>
Meanwhile, cook pasta.  Strain and sprinkle with olive oil.  Mix to cover with olive oil. 
</li>
<li>
Place pasta in warm bowl at time of serving.  Add soup.  Top with grated parmesan.  Serve
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
