<h1>Minni di Sant&#39;Agata</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Cream Filling:
</li>
<li>
1 cup milk
</li>
<li>
4 large egg yolks
</li>
<li>
1/2 cup sugar
</li>
<li>
3/4 teaspoon vanilla
</li>
<li>
6 tablespoons flour
</li>
<li>
2 teaspoons butter
</li>
<li>
1/3 cup semisweet chocolate, cut into tiny pieces
</li>
<li>
1 tablespoon candied orange peel, finely minced
</li>
<li>
Dough:
</li>
<li>
2 1/2 cups flour
</li>
<li>
1/2 cup sugar
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1/2 cup butter
</li>
<li>
4 tablespoons ice water
</li>
<li>
For Finishing Cookies:
</li>
<li>
2 large egg whites
</li>
<li>
pinch salt
</li>
<li>
powdered sugar
</li>
<li>
maraschino cherries, cut in half
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Filling:
</li>
<li>
Heat the milk to scalding.  Set aside.  Combine the yolks, sugar and vanilla in an another sauce pan and whisk well until the mixture is light yellow and in the ribbon stge (this can be done in a mixer).  Add the flour and continue to whisk well.  Pour on the hot milk and stir well with the whisk.  Place the pan over medium heat and continue whisking until bubbles appear, indicating that the mixture is about to boil.  Turn down the heat and shisking all the time, cook for about 2 more minutes.  Besure you don&#39;t burn the bottom of the pan.  Remove the cream from the heat and whisk in the butter. Mix in the chocolate and orange peel.   Cover the surface with buttered parchment paper or siran wrap.  Let cool in frig.
</li>
<li>
Preheat oven to 350F and place rack in the middle of the oven.
</li>
<li>
Roll out the pastry into 2 sheet 22&quot; x 6&quot; x 1/8&quot; thick.  Paint one of the sheets all over with the beaten egg yolk and distribute the cream mixture in little mounds of about 1 1/2 tablespoons each, leaving 1 1/4 inces of space all around each one.  Carefully lay the other sheet of dough on top.  With a round, individual ravioli cutter about 2 1/2&quot; across, press down and make the cookies.  Seal the edges.
</li>
<li>
Put the minni on a cookie sheet, leaving about 1&quot; between each one.  In a small bowl, add a pinch of salt to the egg whites and beat them until they form soft peaks.  Carefully smear the beaten egg white, 1/4&quot; thick, all over the cookies with a small metal spatula.  Put 1/2 of a marachino chery in the center of each minni.  Bake cookies in the middle of the oven for 20 minutes, or until they are golden on top and bottom.  Serve them barely warm or cold but not refrigerated.  Dust liberally with powdered sugar before serving.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Saint Agatha&#39;s Nipples.......This is made for the saint who &quot;repelled
</p>
<p>
  amorous advances by a prefect of Catania, and was, because of her
</p>
<p>
  virtue, tortured by having her breasts cut off&quot;!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;24 cookies&quot;
</p>
<p>
SERVINGS: 24
</p>
</div></body>
