<head>
<title>Mint Raita &amp; Grilled Vegetables</title>
</head>
<body>
<h1>Mint Raita &amp; Grilled Vegetables</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups plain whole milk yogurt
</li>
<li>
1 1/2 cups mint
</li>
<li>
3 teaspoons garam masala
</li>
<li>
s/p -- to taste
</li>
<li>
4 red bells
</li>
<li>
6 large zucchini
</li>
<li>
3 red onions
</li>
<li>
1/2 lb. crimini mushrooms
</li>
</ul>
<h2>Method</h2><ul>
<li>
canola oil
</li>
<li>
  2        tablespoons  garam masala
</li>
<li>
                        s/p -- to taste
</li>
<li>
Mix the first four ingredients in a bowl and chill.
</li>
<li>
Cut the vegetables into wedges, leaving the mushrooms whole.  Toss the vegetables with the canola oil and garam masala and salt and pepper.  Place the vegetables on soaked skewers.
</li>
<li>
Spray the grill with non-stick spray and bring to medium hot.  Grill the vegetables until slightly charred, turning as needed.  Grill for about 8-10 minutes.
</li>
<li>
Serve with the Mint Raita.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
