<h1>Mint-Ginger Custard Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups half and half
</li>
<li>
2/3 cup sugar
</li>
<li>
handful fresh mint leaves
</li>
<li>
2 tablespoons sliced fresh ginger, broken
</li>
<li>
6 large egg yolks, beaten slightly
</li>
<li>
2 cups whipping cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook half and half, sugar, mint leaves, ginger over medium heat until sugar is disolved.  Turn off heat for 15 minutes and allow the mint and ginger to infuse.
</li>
<li>
Bring back the heat until bubbles begin to appear around the sides.
</li>
<li>
Temper the eggs by adding about half of the hot cream mixture to the eggs, beating the eggs with a whisk.  Add the egg mixture back into the cream mixture and stir the cream mixture over low heat until slightly thickened.  The mixture will coat the back of a spoon and leave a trail when you run your finger through the mixture on the spoon.  Strain this mixture when cooked and add the 2 cups of whipping cream.  Allow to cool before serving.
</li>
<li>
* After this mixture is thoroughly cold, it can be frozen in an ice cream machine and makes wonderful ice cream!
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
