<h1>Mint Chutney (Pudina Chutni)</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups mint leaves
</li>
<li>
6 small green onions
</li>
<li>
4 fresh green chiles
</li>
<li>
4 teaspoons sugar
</li>
<li>
1 teaspoon salt
</li>
<li>
5 teaspoons white vinegar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Wash &amp; dry the mint leaves; trim green onions using mostly gree tops.  Remove the seeds from the chiles and chop coarsly.
</li>
<li>
Combine the ingredients in a food processor (or mortar) and grind until smooth.  Set aside for several hours before using.  It will keep, covered, in the frig for up to a week.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;1 cup&quot;SOURCE: Adapted from Asia, The Beautiful Cookbook
</p>
</body>
