<head>
<title>Miso Soup with Wilted Greens and Roasted Tomatoes</title>
</head>
<body>
<h1>Miso Soup with Wilted Greens and Roasted Tomatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 unpeeled garlic cloves
</li>
<li>
2 pounds plum tomatoes
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1 1/2 cup onion, chopped
</li>
<li>
2 tablespoons finely chopped fresh ginger, peeled
</li>
<li>
8 cups chicken stock
</li>
<li>
1/4 cup sweet white miso
</li>
<li>
8 oz  firm tofu, drained, cut into 1/4&quot; dice
</li>
<li>
2 cups spinach, cut chiffonade
</li>
<li>
3 green onions, thinly sliced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat oven to 450F.  Spread a piece of parchment paper on a sheet pan.  Wrap garlic in a small bit of aluminum foil.  Cut tomatoes into 1/2&quot; slices and place on sheet pan in a single layer.  Add the wrapped garlic.  Roast all in the oven for about 35 minutes, turning the pan around half way through the baking.  The garlic should be tender and the tomatoes slightly charred.  
</li>
<li>
Unwrap garlic, cool, and remove skin.  Puree the garlic and tomatoes in a food processor.  Set aside.
</li>
<li>
Heat a saucepan and add olive oil.  Add onion and saute until starting to brown.  Add ginger and saute for 1 minute.  Add stock, pureed tomato and bring to a boil .  Whisk in miso until dissolved.  Add tofu and spinach and simmer 1 minute.  Garnish with green onion
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Cheryl Foberg, R.D.
</p>
</body>
