<h1>Miso Soup with Fried Thin Tofu`</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 abura-age (fried thin tofu) sheet
</li>
<li>
1 teaspoon sesame oil
</li>
<li>
1 cup soybean or mung-bean sprouts
</li>
<li>
1 1/2 cups dashi (fish stock)
</li>
<li>
2 tablespoons scallions, thinly sliced, green &amp; white
</li>
<li>
2 tablespoons akamiso (brown miso)
</li>
<li>
1 teaspoon Saikyo miso (sweet white miso)
</li>
<li>
Garnish:
</li>
<li>
Shichimi togarashi (seven spice powder)
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Rinse the fried thin tofu with boiling water to remove excess oil.  Cool the tofu under cold rrunning water, and squeeze it to remove excess water.  Cut the tofu sheet lengthwise and then into thin strips crosswise.
</li>
<li>
Immediately before serving time, heat the sesame oil in a medium pot and add the bean sprouts.  Cook for 30 seconds, stirring.  Add the dashi, and bring the mixture to a boil.  Add the fried thin tofu and scallion, and cook for 1-2 minutes.  Add the miso and stir until it dissolves.
</li>
<li>
Serve the soup immediately in individual bowls, sprinkled with seven-spice powder.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 4
</p>
<p>
SOURCE: Hiroko Shimbo
</p>
</div></body>
