<h1>Mixed Herb Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Soft fresh herbs: basil, tarragon,
</li>
<li>
Italian parsley, arugula, chives,
</li>
<li>
etc. As much as a few or many........
</li>
<li>
baby spinach
</li>
<li>
olive oil
</li>
<li>
shallot
</li>
<li>
champagne vinegar
</li>
<li>
salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Wash and spin herbs.  Layer in metal bowl between paper towels and refrigerate for at least 20 minutes and up to 4 hours if you wish.
</li>
<li>
Toss the herbs and spinach in bowl.  IN a small bowl, mix the olive oil shallot and a small amount of vinegar.  The flavor should jump out at you from the herb salad.
</li>
<li>
Serve the herbs with a light dressing of the viniagrette.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is one of my favorite summer salads&quot;SOURCE: Char Zyskowski
</p>
</div></body>
