<h1>Mocha-Nut Chiffon Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups sugar
</li>
<li>
1 1/3 cups cake flour
</li>
<li>
2 teaspoons baking powder
</li>
<li>
1/2 teaspoon salt
</li>
<li>
7 large eggs, 2 left whole, 5 separated, at room temp.
</li>
<li>
2/3 cup coffee, espresso strength
</li>
<li>
1/2 cup vegetable oil
</li>
<li>
1 tablespoon vanilla extract
</li>
<li>
1/2 cup walnuts, toasted, finely chopped
</li>
<li>
1 ounce unsweetened chocolate, grated
</li>
<li>
1/2 teaspoon cream of tartar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Adjust rack to lower-middle position and heat oven to 325F.  Whisk sugar, flour, baking powder, salt together in large bowl (at least 4 qt. size).  Whisk in two whole eggs, five egg yolks (reserve white), 3/4 cup coffee, oil, vanilla.  After mixed, add walnuts and baking chocolate.
</li>
<li>
Pour reserved egg whites into large bowl; beat at low speed with electric mixer until foamy, about 1 minute.  Add cream of tartar, gradually increase speed to medium-high, then beat whites until very thick and stiff, just short of dry, 9-10 minutes with handheld mixer and 5-7 minutes in standing mixer.  With large rubber spatula, fold whites into batter, smearing in any blobs of white that resist blending with flat side of spatula.
</li>
<li>
Pour batter into ungreased large tube pan (9-inch diameter, 16-cup capacity).  Rap pan against countertop five times to rupture any large air pockets.  If using two-piece pan, grasp on both sides with your hands while firmly pressing down on the tube with thumbs to keep batter from seeping underneath pan during this rapping process.  Wipe off any batter that may have dripped or splashed onto inside walls of pan with paper towel.
</li>
<li>
Bake cake until wire cake tester inserted in center comes out clean, 55-65 minutes.  Immediately turn cake upside down to cool.  If pan does not have prongs around rim for elevating cake, invert pan over bottle or funnel, inserted through tube.  Let cake hang until completely cool, about 2 hours.
</li>
<li>
To unmold, turn pan upright.  Run frosting spatula or thin knife around pan&#39;s circumference between cake and pan wall, always pressing against the pan.  Use cake tester to loosen cake from tube.  For one-piece pan, bag it on counter several times, then invert over serving plate.  For two-piece pan, grasp tube and lift cake out of pan.  If glazing the cake, use a fork or a paring knife to gently scrape all the crust off the cake.  Loosen cake from pan bottom with spatula or knife, then invert cake onto plate.  
</li>
<li>
Can be wrapped in plastic and stored at room temperature 2 days or refrigerated 4 days.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This cake first made its appearance in the early 50&#39;s having the
</p>
<p>
  beautiful lightness of an angel food cake but the density of a butter
</p>
<p>
  cake.  Very important to not underbeat the egg whites.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Cook&#39;s Illustrated&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: &quot;The Best Recipe&quot;
</p>
</body>
