<h1>Morning Glory Muffins</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. AP Flour
</li>
<li>
18 ounces granulated sugar
</li>
<li>
4 teaspoons baking soda
</li>
<li>
4 teaspoons cinnamon
</li>
<li>
14 ounces carrots, grated
</li>
<li>
6 ounces raisins
</li>
<li>
4 ounces pecan pieces
</li>
<li>
4 ounces coconut, shredded
</li>
<li>
6 ounces unpeeled apple, grated
</li>
<li>
6 eggs
</li>
<li>
12 ounces oil
</li>
<li>
4 teaspoons vanilla extract
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Sift dry ingredients together and set aside.
</li>
<li>
2.  Combine the carrots, raisins, pecans, coconut and apple.
</li>
<li>
3.  Combine eggs, oil and vanilla.
</li>
<li>
4.  Toss the carrot mixture into the dry ingredients.  Add the liquid ingredients, stirring just until combined.
</li>
<li>
5.  Bake in well-greased muffin tins at 350F degrees (300F-325F in convection oven), until done, approximately 25 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 18
</p>
</div></body>
