<h1>Moroccan Spiced Olives</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 teaspoon cumin seeds
</li>
<li>
1 teaspoon fennel seeds
</li>
<li>
1 teaspoon coriander seeds
</li>
<li>
1/4 teaspoon cardamom seeds, ground
</li>
<li>
1/8 teaspoon nutmeg, ground
</li>
<li>
1/8 teaspoon cinnamon
</li>
<li>
1 tablespoon olive oil
</li>
<li>
1 1/2 cups green olives, room temp
</li>
<li>
1 tablespoon lemon juice
</li>
<li>
1 tablespoon orange juice
</li>
<li>
3 cloves garlic, minced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat first 7 seasonings with olive oil until fragrant.  Remove from heat, add olives and toss.
</li>
<li>
Stir in remaining ingredients.  Refrigerate for 4 hours and up to 3 weeks.  Drain and serve at room temperature.
</li>
</ul>
<h2>Notes</h2></body>
