<h1>Moroccan Carrot Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 bay leaves
</li>
<li>
2 pounds carrots, thinly sliced
</li>
<li>
1 cup vinegar
</li>
<li>
1 cup olive oil, can be mixed with canola oil
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1 tablespoon onion, minced
</li>
<li>
1 tablespoon parsley, minced
</li>
<li>
1 tablespoon cilantro, minced
</li>
<li>
1 tablespoon cumin
</li>
<li>
1 1/2 teaspoons paprika
</li>
<li>
1 tablespoon tomato paste
</li>
<li>
salt and pepper, to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Bring a pot of salted water and bay leaves to a boil.  Add carrots, return to boil.  Remove from heat.  Drain and shock cold in ice water.  Strain and place in bowl.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Combine remaining ingredients in food processor and process.  Gently stir into carrots.  Season to taste with s/p.  Refrigerate for 1 hour before serving.  SOURCE: Cooks.com
</p>
</div></body>
