<head>
<title>Moroccan Mint Tea</title>
</head>
<body>
<h1>Moroccan Mint Tea</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 teaspoons Moroccan or green tea leaves
</li>
<li>
24 fresh mint leaves
</li>
<li>
4-5 tablespoons sugar
</li>
<li>
1 quart water
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Bring kettle of water to boil.  Add water to teapot that will hold 1 quart and swirl to warm.  Discard water and add tea, mint and sugar to teapot.  Pour boiling water into the teapot and swirl to stir to dissolve sugar.  Steep for 5 minutes.  Pour tea through strainer into small teacups.  Garnish with fresh mint leaves.SOURCE: Adpated from Emeril
</p>
</body>
