<h1>Moules Mariniere</h1>
<h2>Ingredients</h2>
<ul>
<li>
Mussels
</li>
<li>
Shallots
</li>
<li>
Garlic
</li>
<li>
Parsley Stems
</li>
<li>
White Wine
</li>
<li>
Lemon Juice
</li>
<li>
Parsley
</li>
<li>
Butter
</li>
<li>
Salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Scrub mussels well.
</li>
<li>
2.  Sweat shallots, garlic, parsley stems in small amount of butter, briefly.
</li>
<li>
3.  Add mussels &amp; wine.
</li>
<li>
4.  Steam mussels about 5 min in covered pot.
</li>
<li>
5.  Drain mussels through cheesecloth lined china cap into a broad saucepan.
</li>
<li>
6.  Bring sauce to a boil.
</li>
<li>
7.  Add parsley &amp; butter (monter au beurre) and swirl in pan until butter melted.
</li>
<li>
8.  Season w/salt.
</li>
<li>
9.  Place mussels in broad soup bowl/plates and pour sauce over.
</li>
<li>
MOULES MOUSSELINE:  Prepare mussels as above through steam process.  Finish with Sauce Hollandaise mixed with whipping cream (whipped very smooth):  1C H.S. to 1/2 W.C.  Top mussel half with this mixture and place under salamander and gratiner or brown a short amount of time.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Klaus Loos/Gisslen Text
</p>
</body>
