<head>
<title>Mrs. Sebastiani&#39;s Malfatti</title>
</head>
<body>
<h1>Mrs. Sebastiani&#39;s Malfatti</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 pkg frozen spinach, thawed and squeezed of liquid
</li>
<li>
6 oz  crusty bread
</li>
<li>
hot water
</li>
<li>
1 onion, finely chopped
</li>
<li>
2 cloves garlic, minced
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1/2-1 cup dry, coarse bread crumbs
</li>
<li>
1+ cup Parmesan cheese, freshly grated
</li>
<li>
1/2 cup parsley, chopped
</li>
<li>
1 teaspoon salt
</li>
<li>
1/4 teaspoon freshly ground black pepper
</li>
<li>
1 teaspoon dried basil
</li>
<li>
4 large eggs, lightly beaten
</li>
<li>
flour
</li>
<li>
3 cups hot marinera sauce
</li>
</ul>
<h2>Method</h2><ul>
<li>
After squeezing the spinach of as much water, in a bowl,  as possible, chop.  Reserve the water.
</li>
<li>
Soak the bread 5-10 minutes in spinach water, adding enough hot water to cover.  Squeeze dry .
</li>
<li>
Saute the onion and garlic in the olive oil, 3-5 minutes.  Mix the spinach, bread, onion, garlic in a food processor until chopped.  Scrape into a mixing bowl.
</li>
<li>
Add 1/2 cup of bread crumbs, 1 cup of the Parm, parsley, salt, pepper and basil.  Stir in the eggs.  With lightly floured hands, shape the mixture into sausage-like links, about 1&quot; x 3&quot; long.  If they begin to fall apart, add more bread crumbs.  Place on baking sheet.  
</li>
<li>
Bring a large pot of salted water to a boil.  Drop the links, one at a time, into the water.  Reduce the heat to simmer and cook until the malfatti come to the surface, 1-2 minutes.  Remove with a slotted spoon, drain on paper towels, and place into a greased baking dish so that the malfatti are all in one layer.
</li>
<li>
Spoon the marinera sauce over the links, sprinkle with lots of additional Parmesan cheese abnd broil to reheat.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apapted from New York Times Magazine 1/09
</p>
</body>
