<h1>Muffuletta</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 Italian or French round loaf or Foccacia
</li>
<li>
olive salad
</li>
<li>
Genoa salami
</li>
<li>
baked ham
</li>
<li>
mortadella
</li>
<li>
Swiss cheese
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut the loaf in half and scoop out handful of bread interior about the size of a half of a tennis ball on each side.
</li>
<li>
Fill these scooped out portions with Olive Salad.  Pile a few slices each of the salami, ham, mortadella, and cheese on one side.  Top with the other half and wrap the loaf in tin foil.
</li>
<li>
Place in hot oven for about 15 minutes; just long enough to heat through and melt the cheese.
</li>
<li>
These can be enjoyed with or without heating.  Typically they are eatten wartm.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;The New Orlean&#39;s French Quarter classic&quot;
</p>
</body>
