<h1>Mughal Garam</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 tablespoons cardamom seeds
</li>
<li>
2 3&quot; cinnamon stick
</li>
<li>
1 tablespoon whole cloves
</li>
<li>
1 tablespoon black peppercorns
</li>
<li>
1 1/2 teaspoons grated nutmet
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Crush cinnamon sticks with a rolling pin.  Combine all the spices in a spice grinder with a mortar &amp; pestle into a fine powder.  Store in a jar with a lid.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This captures, according to Julie Sahni, the essence of the original
</p>
<p>
  classic garam masala.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Classic Indian Cooking&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;3/4 cup&quot;SOURCE: Adapted from Julie Sahni
</p>
</div></body>
