<head>
<title>Multi-Peppered Seared Ahi</title>
</head>
<body>
<h1>Multi-Peppered Seared Ahi</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 6 ounce each tuna steaks
</li>
<li>
2 tablespoons ~ multi colored peppercorns, coarsely cracked
</li>
<li>
salt, to taste
</li>
<li>
1 tablespoon sesame oil
</li>
<li>
1/4 cup soy sauce
</li>
<li>
1/2 cup dry sherry
</li>
<li>
1/4 cup chives, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sprinkle both sides of the tuna with salt and cracked pepper.  Heat non-stick pan until smoking.  Add sesame oil.    Quickly add  tuna steaks.  Sear on each side, about 1-2 minutes for 1 inch steaks.  Transfer to hot platter and tent with foil.  Add soy sauce and dry sherry  to pan and reduce for about 1-2 minutes, deglazing as cooking.  Place tuna on heated plates.  Top with sauce and chives.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
