<h1>Mu Shu Vegetables</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 dried black mushrooms
</li>
<li>
12 dried cloud ears
</li>
<li>
4 ounces dried bean thread noodles
</li>
<li>
3 tablespoons cooking oil
</li>
<li>
4 eggs, lightly beaten
</li>
<li>
2 teaspoons garlic, minced
</li>
<li>
2 cups napa cabbage, thinly sliced
</li>
<li>
1/2 cup carrot, julienned
</li>
<li>
1 cup vegetable broth
</li>
<li>
2 cups bean sprouts
</li>
<li>
4 tablespoons oyster sauce, or vegetarian oyster sauce
</li>
<li>
4 teaspoons sugar
</li>
<li>
4 teaspoons sesame oil
</li>
<li>
cilantro
</li>
<li>
green onions, sliced lengthwise
</li>
<li>
Mandarin Pancakes
</li>
<li>
3 cups flour
</li>
<li>
1 1/4 cups boiling water
</li>
<li>
3 tablespoons sesame oil
</li>
<li>
spring roll wrappers
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Soak mushrooms in warm water to cover.  Cut off stems and discard.  Thinly slice.
</li>
<li>
Soak noodles in warm water for about 5 minutes.  Drain and cut into 4&quot; lengrhs.
</li>
<li>
Heat 8-9&quot; saute pan and add a small amount of oil.  Cook egg mixture 1/4th at a time.  Pour into pan and cook until set on top.  Turn over and cook a few seconds longer.    Remove from pan and complete with the egg mixture another 3 times.  When done, roll into cylinders and cut into 1/4&quot; widths.
</li>
<li>
Heat wok over high heat.  Add oil and coat sides.  Add garlic and cook until fragrant...a few seconds.  Add mushrooms, cloud ears, cabbage and carrot.  Cook for about 30 seconds, stirring constantly in a stir-fry method.  Add bean thread noodles and broth.  Cook for a couple of minutes.
</li>
<li>
Add bean sprouts, omelet strips, oyster sauce, sugar and sesame oil  Cook until heated through.
</li>
<li>
Place mu shu mixture on a platter and place wrappers and hoisin nearby..  To eat, spread hoisin on wrapper.  Place a small amount of vegetable mixture in the center of wrapper and top with cilantro and green onion.  Eat out of hand.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Wrap spring roll wrappers in a towel and steam for 5 minutes.SOURCE: Martin Yan
</p>
</div></body>
