<head>
<title>Mushrooms with Sherry</title>
</head>
<body>
<h1>Mushrooms with Sherry</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 tablespoons butter
</li>
<li>
1 tablespoon olive oil
</li>
<li>
1 shallot, minced
</li>
<li>
5 cloves garlic, minced
</li>
<li>
2 pounds crimini mushrooms
</li>
<li>
2 tablespoons lemon juice
</li>
<li>
1/4 cup Amontillado, Fino or Manzanilla sherry
</li>
<li>
1 cup beef or chicken stock
</li>
<li>
2 teaspoons hot chile flakes
</li>
<li>
s/p, to taste
</li>
<li>
parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat skillet and add butter and olive oil.  Add shallot, garlic and mushrooms and cook until liquid has evaporated and the mushrooms begin to sear.  Add lemon juice, sherry, stock and chile.  Bring to a boil, then simmer to reduce until liquid is syrupy and almost gone.
</li>
<li>
Season with s/p, garnish with parsley and serve with crusty bread.  
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Mark Bittman
</p>
</body>
