<head>
<title>Mushrooms &amp; Snails</title>
</head>
<body>
<h1>Mushrooms &amp; Snails</h1>
<h2>Ingredients</h2>
<ul>
<li>
48 medium snails, prepared
</li>
<li>
1 onion, studded with bay leaf &amp; 2 cloves
</li>
<li>
salt
</li>
<li>
5 black peppercorns
</li>
<li>
4 1/2 ounces smoked bacon, diced
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1 small onion, fine dice
</li>
<li>
4 cloves garlic
</li>
<li>
8 ounces mushrooms, chopped
</li>
<li>
1 cup white wine
</li>
<li>
1 cup stock
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 425F.  Clean snails rinsing under cold water.  Bring 4 cups of water to a boil, adding studded onion, salt and peppercorns.  Add snails and boil for 30 minutes.  Drain.
</li>
</ul>
<h2>Notes</h2><p>
Cook bacon in saute pan.  Add the onion and garlic and cook until transparent.  Add mushrooms and stew.  Add wine and stock and snails.  Transfer to cassarole and place in oven and cook 10 minutes.  Serve.SOURCE: Adapted from &quot;Culinaria Spain&quot;
</p>
</body>
