<head>
<title>Mussel Mariniere/Chef Heuve</title>
</head>
<body>
<h1>Mussel Mariniere/Chef Heuve</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 lb. butter
</li>
<li>
1 cup chopped shallots
</li>
<li>
1 cup p
</li>
<li>
5 lbs. mussels
</li>
<li>
2 cups ww
</li>
<li>
1/4 lj
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Melt butter in stockpot
</li>
<li>
2.  Add shallots and sweat
</li>
<li>
3.  Add parsley, simmer 2 minutes
</li>
<li>
4.  Add mussels
</li>
<li>
5.  Mouiller with ww and cook until mussels open
</li>
<li>
6.  Remove and place all in bowl; sprinkle with lemon juice and parsley.
</li>
<li>
MUSSEL GRIBICH (or POULETTE after the great French Chef Madame Poulette):  As above except strain the juice and place in saucepan and bring to boil.  Add laison of  
</li>
<li>
1 1/2 C cream and 5 egg yolks whipped together.  Strain and serve.
</li>
<li>
MUSSEL MERIDRONNALES:  As above except begin by sweating 1/2C garlic, add shallots  and sweat; add 1C concasser and  continue as above.  Add  1/3 C green olives and  1/3  Cup black olives and parsley at end.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Serve with baguette, salad, wine, dessert.NOTES : These dishes can also be done with crab or clams.
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Chef  Heuve le Bravant
</p>
</body>
