<h1>Mussels in Thai Coconut Broth</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. mussels, well scrubbed and debearded
</li>
<li>
1/2 cup dry white wine
</li>
<li>
1 tablespoon canola oil
</li>
<li>
2 heads baby bok choy, trimmed &amp; cut into 1&quot; pieces
</li>
<li>
1 red bell pepper, julienned
</li>
<li>
2 shallot, thinly sliced
</li>
<li>
2 teaspoons light brown sugar
</li>
<li>
1 teaspoon curry powder
</li>
<li>
1 large pinch cayenne pepper
</li>
<li>
1 can coconut milk, well shakened
</li>
<li>
1/4 cup cilantro
</li>
<li>
4 lime wedge
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place the mussels in a large saucepan, discarding any that fail to close to the touch.  Add the wine and bring to a boil over high heat,.  Cover and cook, shaking the pan occasionally, until the mussels open, about 5 minutes.  Using a slotted spoon, transfer the mussels to a bowl, discarding any that failed to open; cover and keep warm.  Pour the liquid in the pan through a fine-mesh sieve lined with cheesecloth and set aside.
</li>
<li>
Wipe out the pan, add the canola oil to it, and place over medium-high heat.  When the oil is hot, add the bok choy, bell pepper, and shallots and cook, stirring, until the vegetables are soft, about 5 minutes.  Stir in the brown sugar, curry powder and cayenne.  our n the coconut milk and the reserved mussel cooking liquid and bring to a boil over high heat.
</li>
<li>
Divide the mussels among warmed bowls and ladle the broth over the top, dividing evenly.  Sprinkle with the cilantro and serve immediately with the lime wedges on the side.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;The Pacific Northwest&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Williams-Sonoma
</p>
</body>
