<h1>Mussels in Chiles, Basil &amp; Coconut Cream</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3/4 cup white wine
</li>
<li>
1/2 cup water
</li>
<li>
1 1&quot; piece galingale, smashed
</li>
<li>
8 black peppercorns
</li>
<li>
1/2 carrot, chopped
</li>
<li>
1 shallot, chopped
</li>
<li>
1 clove garlic, minced
</li>
<li>
2 lbs. green-lipped mussels or blue mussels, scrubbed
</li>
<li>
2 cups bottled clam juice
</li>
<li>
1 1/2 cups unsweetened coconut milk
</li>
<li>
1 tablespoon fish sauce
</li>
<li>
2 serrano chiles, thinly sliced
</li>
<li>
1/2 teaspoon sugar
</li>
<li>
1/4 cup heavy cream
</li>
<li>
2 tablespoons sweet butter
</li>
<li>
1/2 cup Thai basil leaves, chopped
</li>
<li>
2 green onions, sliced diagonal
</li>
<li>
3 kaffir lime leaves, julienned
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Preheat oven to 250F.  Place the wine, water, galingale, peppercorns, carrot, shallot and garlic in a large, deep sauce pan with a tight-fitting lid.  Bring these ingredients to a simmer over medium heat.
</li>
<li>
2.  Add the mussels and cover, occasionally shaking the pan while cooking for about 7 minutes, or until shells just open.
</li>
<li>
3.  Remove promptly and place in a large casserole dish in warm oven.
</li>
<li>
4.  Strain the mussel cooking liquid into a sauce pan using a strainer lined with cheesecloth.  Turn heat to medium-high, uncover and reduce to 1/2 cup about 5 minutes.
</li>
<li>
5.  Reduce heat to medium-low anbd whisk in the clam juice, coconut milk, fish sauce, shiles, and sugar, cooking and stirring for 5 minutes.  Do not let this come to a boil.  Whisk in the heavy cream and butter and heat through, stirring constantly.
</li>
<li>
6.  Remove from heat and add the basil, green onions and kiffir lime leaves.  Remove the mussels from the warm oven and divide equally between four soup bowls.  Pour the hot sauce over the mussels and serve.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : Here is a great example of Vietnamese cooking with chiles reflecting, also, the French influence to Vietnamese cooking with the addition of cream.
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Chile Pepper Magazine, June 1997
</p>
</div></body>
