<h1>Mustard Reds</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 pounds small red potatoes, boiled until easily pierced
</li>
<li>
1 cube butter
</li>
<li>
2 tablespoons grainy mustard
</li>
<li>
salt &amp; pepper to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Drain potatoes after boiling until just done.  In the same pot, melt butter.  Add mustard and salt and pepper.  Mix to blend.  Add potatoes back to pot and cover gently (using a heat resistant rubber spatula) with seasoning mixture.  Allow potatoes to cook over low heat until slightly golden around edges.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
