<h1>Mustard Emulsified Vinaigrette</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 spoonfuls Dijon mustard
</li>
<li>
1 spoonful dried mustard
</li>
<li>
1/2 cup olive oil
</li>
<li>
water as needed
</li>
</ul>
<h2>Method</h2><ul>
<li>
Whisk together mustards and add olive oil, very slowly, emulsifiying ingredients.  Use water to thin as needed.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is an emulsified viniagrette without the use of an egg; mustard is also a good emulsifier.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Eric Gallanter
</p>
</body>
