<head>
<title>Naan</title>
</head>
<body>
<h1>Naan</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 cups flour
</li>
<li>
1 teaspoon salt
</li>
<li>
1 cup sugar
</li>
<li>
2 large eggs, lightly beaten
</li>
<li>
3 1/2 cups water, warm
</li>
<li>
1/2 cube butter, softened
</li>
<li>
4 teaspoons instant yeast
</li>
<li>
1/4 teaspoon turmeric
</li>
<li>
6 tablespoons milk powder
</li>
<li>
beaten egg or evaporated milk for brushing
</li>
<li>
4 teaspoons sesame seeds
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sift flour and salt into a big mixing bowl.
</li>
<li>
Add sugar, lightly beaten egg, water, butter, yeast, turmeric and milk powder and make a soft dough by mixing with paddle in mixer.  Add up to 2-3 cups of flour with a dough hook to make maluable.  Cover and leave to rise in a warm place for 3 hours.
</li>
<li>
Divide dough into 12 parts.  Roll each into a big circle 10-12&quot; in diameter and 1 1/2&quot; thick.
</li>
<li>
Place each one in a large round baking tray and allow to rise for one hour.  Brush with beaten egg or evaporated milk and sprinkle with sesame seeds.
</li>
<li>
Bake in a preheated oven at 350 for 10-15 minutes.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
</body>
