<h1>Nanaimo Bars</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup + 1 Tbsp. butter
</li>
<li>
1/4 cup granulated sugar
</li>
<li>
1 square unsweetened chocolate
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1 egg, beaten
</li>
<li>
2 cups fine graham cracker crumbs
</li>
<li>
1/2 cup chopped walnuts
</li>
<li>
1 cup flaked coconut
</li>
<li>
2 tablespoons instant vanilla pudding mix powder
</li>
<li>
3 tablespoons milk
</li>
<li>
2 cups confectioners sugar
</li>
<li>
4 squares semi-sweet chocolate
</li>
</ul>
<h2>Method</h2><ul>
<li>
Put 1/2 cup butter, granulated sugar, unsweetened chocolate and vanilla in top part of double boiler.  Cook over boiling water until well blended, stirring.  Add crumbs, nuts and coconut.  Press into buttered 9x9x2&quot; pan.  Cool.  Chill 15 minutes.
</li>
<li>
Cream 1/2 cup butter until fluffy.  Beat in pudding mix and milk.  Add confectioners sugar gradually and beat until smooth.  Spread over first layer and chill 15 minutes.
</li>
<li>
Melt 1 tablespoon and semisweet chocolate over low heat.  Spread over second layer.  Chill until firm.  Cut into 1&quot; squares.  Keep in refrigerator until ready to serve.  Can be frozen.
</li>
<li>
Makes 81 1&quot; squares.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Vicki Merrill
</p>
</body>
