<head>
<title>Napa Cabbage &amp; Cilantro Slaw</title>
</head>
<body>
<h1>Napa Cabbage &amp; Cilantro Slaw</h1>
<h2>Ingredients</h2>
<ul>
<li>
Slaw:
</li>
<li>
2 cups cabbage, Napa, shredded
</li>
<li>
2 cups bok choy, sliced thin
</li>
<li>
1 cup snow pea pod, fresh, julienned
</li>
<li>
1 red bell pepper, julienned
</li>
<li>
1 cup cilantro, leaves only
</li>
<li>
Dressing:
</li>
<li>
2 tablespoons honey
</li>
<li>
1/2 teaspoon sesame oil
</li>
<li>
1/2 teaspoon garlic, chopped
</li>
<li>
1/2 teaspoon pickled ginger, chopped
</li>
<li>
pinch red chili flakes
</li>
<li>
2 tablespoons rice vinegar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Toss together the cabbage, bok choy, snow peas, red pepper and cilantro.  Reserve until ready to serve.  For the dressing, mix together honey, sesame oil, garlic, ginger, chili flakes and rice vinegar.  Toss with slaw just before serving.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Perfect served with Coconut Curry Prawns&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Brian Hutchins, Luna
</p>
</body>
