<h1>Neiman Marcus Cookies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups butter
</li>
<li>
4 cups flour
</li>
<li>
2 teaspoons soda
</li>
<li>
2 cups sugar
</li>
<li>
2 cups brown sugar
</li>
<li>
5 cups blended oatmeal, spin in Cuisinart to fine powder
</li>
<li>
24 ounces chocolate chips
</li>
<li>
1 teaspoon salt
</li>
<li>
1 8 oz. Hershy Bar (grated)
</li>
<li>
4 eggs
</li>
<li>
2 teaspoons baking powder
</li>
<li>
2 teaspoons vanilla
</li>
<li>
3 cups chopped nuts
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cream butter and both sugars.  Add eggs, vanilla, mix together with flour, oatmeal, salt, baking powder and soda.   Add rest of ingredients... 
</li>
<li>
Roll into balls and place 2&quot; apart on sheet.  Bake 10 minutes @ 375 degrees.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 112
</p>
<p>
SOURCE: Famous Neiman Marcus
</p>
</div></body>
