<h1>New England Clam and Corn Chowder</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 tablespoon butter
</li>
<li>
1 tablespoon olive oil
</li>
<li>
1 medium onion, chopped small
</li>
<li>
5 stalks celery, chopped small
</li>
<li>
1 cup Canadian bacon, or ham, minced
</li>
<li>
3 bottles clam juice
</li>
<li>
1 cup half and half
</li>
<li>
2 1/2 cups evaporated skim milk
</li>
<li>
4 large potatoes, diced
</li>
<li>
2 16 oz. frozen or fresh corn
</li>
<li>
4 6 1/2 oz. cans clams, drained, reserve liquid
</li>
<li>
12 stems fresh thyme, leaves removed
</li>
<li>
1/2 bunch parsley, Italian style, minced
</li>
<li>
salt and pepper, to taste
</li>
<li>
1 cup whole milk
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sweat onion, celery, Canadian bacon and thyme in butter and o/o.  Add reserved and bottled clam juice, water, evaporated milk and potatoes.  Cook until potatoes are soft.  Add corn, clams, parsley.  Taste for seasoning and add salt and pepper.  Simmer for about 15 minutes.  Add whole milk and simmer to heat through.  Do not boil. 
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fabulous and low fat.....yum!&quot;
</p>
<p>
SERVINGS: 10
</p>
</body>
