<h1>New York Tofu Cheesecake</h1>
<h2>Ingredients</h2>
<ul>
<li>
Graham Cracker Crust:
</li>
<li>
1 1/4 cups low fat graham cracker crumbs, or one package
</li>
<li>
6 tablespoons soy margarine, softened
</li>
<li>
Cheesecake:
</li>
<li>
1 1/2 lbs. soft tofu
</li>
<li>
1 cup sugar, or Baking Splenda
</li>
<li>
8 ounces soy cream cheese
</li>
<li>
1 teaspoon vanilla extract
</li>
</ul>
<h2>Method</h2><ul>
<li>
Graham Cracker Crust:  Process the graham crackers in a food processor until finely ground.  Add the margarine and pulse until the consistensy of coarse crumbs.  Pat the mixture into a thick layer in the bottom of a 9&quot; springform pan.
</li>
<li>
Cheesecake:  Puree the tofu in a food processor until smooth.  Add the sugar, soy cream cheese and vanilla, processing until smooth.
</li>
<li>
Pour the tofu mixture in the prepared crust and bake for 50 minutes.  Turn off the oven and leave the cheesecake in an additional hour.  Remove and cool.  Refrigerate several hours or overnight.  Serve at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Patricia Greenberg
</p>
</body>
