<h1>Norma&#39;s Sunday Brunch</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 large eggs
</li>
<li>
2 lbs. cheddar cheese
</li>
<li>
1 teaspoon paprika
</li>
<li>
8 slices Canadian bacon
</li>
<li>
1 pint sour cream
</li>
<li>
2 tablespoons milk
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Arrange the Canadian bacon in a 9x12 baking dish.  Grate the cheddar cheese (good mixed with Jalapeno cheese).  Build a nest of cheese around the bacon.   Crack each egg and place it within the nest (do not break yolk).  Mix sour cream with milk for easier spreading consistency.  Place one or two spoonfuls of sour cream over the top of the egg.  Sprinkle paprika over the sour cream.  Place in a 350F oven for approximately 20 minutes.  Remove from oven when eggs are done, and plae on individual plates.  Serve with sliced fresh fruit, a bran muffin, candlelight and Mimosas (champagne and orange juice).
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;From the Huckleberry Dressing lady....yum!&quot;
</p>
<p>
SERVINGS: 6
</p>
</div></body>
