<h1>Norma&#39;s Huckleberry Dressing</h1>
<h2>Ingredients</h2>
<ul>
<li>
2/3 cup sugar
</li>
<li>
1 teaspoon dry mustard
</li>
<li>
1 teaspoon paprika
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 teaspoon celery seed
</li>
<li>
1/2 cup honey
</li>
<li>
5 tablespoons vinegar
</li>
<li>
1 tablespoon lemon juice
</li>
<li>
1 tablespoon grated onion
</li>
<li>
1 cup huckleberries, fresh or frozen
</li>
<li>
1 cup extra virgin olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix dry ingredients; add honey, lemon juice, vinegar and onion.  Mix well.  Slowly pour oil into mixture, beating constantly.  Do not refrigerate!
</li>
<li>
This will keep indefinitely.  Dressing is good over fruit salad, fresh vegetable and fruit salad.  Makes about 2 cups.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;From a dear student in my class.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 tablespoons&quot;
</p>
<p>
SERVINGS: 16
</p>
</body>
