<head>
<title>Nut &amp; Dried Fruit Biscotti in Dark Chocolate</title>
</head>
<body>
<h1>Nut &amp; Dried Fruit Biscotti in Dark Chocolate</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups AP flour
</li>
<li>
1 teaspoon baking powder
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 cup sugar
</li>
<li>
2 teaspoons grated orange peel
</li>
<li>
1/2 cup unsalted butter, room temp
</li>
<li>
2 large eggs, room temp
</li>
<li>
1 teaspoon vanilla
</li>
<li>
3/4 cup nuts, almonds, pistachios, hazelnuts
</li>
<li>
1/2 cup dried fruit, cherries, raisins, dried cranberries
</li>
<li>
6 ounces bittersweet chocolate, divided; 4 oz coarsely chopped; 2 oz in lg. chks
</li>
<li>
1 tablespoon walnut oil
</li>
<li>
3-4 ounces nuts, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.  Line a sheet pan with parchment paper.	
</li>
<li>
In a separate bowl, ix together flour, baking powder and salt.
</li>
<li>
Combine sugar &amp; orange zest in a processor until finely chopped.  Transfer to an electric mixing bowl.  Add butter and beat until light and fluffy.  Add eggs one at a time, beating after each.  Mix in vanilla and lower speed and gradually add flour mixture until just blended.  Fold in nuts and dried cherries.
</li>
<li>
Divide dough in half placing on baking sheet.  Shape each into log measuring 12&quot; x 2&quot;.  Leave at least 3&quot;  between logs on baking sheet.  Smooth with dampened fingers.  Bake logs about 35 minutes, turning pans midway through baking.  They should begin to crack on top.  Remove from oven and allow to cool on baking sheet about 10 minutes.  
</li>
<li>
Transfer logs to cutting board.  Remove parchment paper from baking sheet.  Using a serrated knife, cut each log on the diagonal into 1/2&quot; slices.  Replace the biscotti on the unlined baking sheet and place back in the oven.  Allow to bake an additional 15 minutes until lightly browned on each side.   Cool on a wire rack.
</li>
</ul>
<h2>Notes</h2><p>
While biscotti are cooling, melt 4 ounces of the chopped chocolate with walnut oil in a double boiler set over simmering water.  Remove from heat and stir in chocolate chunks, stirring just until the mixture is barely warm.  Remove any unmelted chunks.  Dunk one end of the biscotti into the chocolate mixture and then into chopped pistachio.  Place on lined sheet pan and allow to sit until completely set.SOURCE: Adapted from Seattle Homes Magazine 12/08
</p>
</body>
