<h1>Oat Bran Muffins</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 1/4 cups oat bran
</li>
<li>
1 1/4 tablespoons cinnamon
</li>
<li>
1 tablespoon baking powder
</li>
<li>
1/2 cup nonfat milk
</li>
<li>
3/4 cup apple juice concentrate
</li>
<li>
1 medium apple, cored &amp; grated
</li>
<li>
1/4 cup raisins
</li>
<li>
2 egg whites
</li>
<li>
Nonstick cooking spray
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix dry ingredients in a large bowl.
</li>
<li>
In a separate bowl, mix the milk, apple juice concentrate, apple and raisins; add to dry ingredients and mix.
</li>
<li>
Beat egg whites until foamy.  Fold into batter.
</li>
<li>
Spray muffin pans with cooking spray.
</li>
<li>
Bake at 350 degrees for 17 minutes.  When cool, store in a plastic bag to retain softness and moisture.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : Wonderful for breakfast or even a healthy snack.NOTES : These are fabulous muffins...with only 1 gram of fat!  They come from the Pritikin Program...a way of life that is pretty intense, but would be very good for you.  I wouldn&#39;t be able to  quite give up coffee, wine and some special goodies that this lifestyle suggest you do;  but I can adapt some of my eating habits when things taste this good!
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Pritikin
</p>
</div></body>
