<h1>Oatmeal Apple Cookies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 sticks butter, softened
</li>
<li>
3/4 cup brown sugar, firmly packed
</li>
<li>
1/2 cup sugar
</li>
<li>
2 large eggs
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1 1/2 cups flour
</li>
<li>
1 teaspoon baking soda
</li>
<li>
1 teaspoon salt
</li>
<li>
3 cups uncooked oatmeal
</li>
<li>
1 cup raisins
</li>
<li>
1 apple, chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat oven to 350F degrees.
</li>
<li>
Beat together margarine and sugars until creamy; add eggs and valilla and beat well.
</li>
<li>
Add flour, baking soda, cinnamon and salt mixture and mix.
</li>
<li>
Stir in oats, raisins and apples and mix.
</li>
<li>
Drop by rounded spoonfuls onto ungreased cookie sheet and bake 10-12 minutes.  Remove to wire rack.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 48
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
