<h1>Old-Fashioned Apple Tart</h1>
<h2>Ingredients</h2>
<ul>
<li>
Dough:
</li>
<li>
3 tablespoons unsalted butter, cold
</li>
<li>
3/4 cup all purpose flour
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1/2 teaspoon sugar
</li>
<li>
2 tablespoons ice-cold water
</li>
<li>
Filling:
</li>
<li>
2 large Golden Delicious apple
</li>
<li>
2 tablespoons apricot jam
</li>
<li>
1 tablespoon sugar
</li>
<li>
1/2 teaspoon cinnamon
</li>
<li>
1/2 tablespoon unsalted butter
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 400F.
</li>
<li>
Place the flour, salt and sugar in the food processor.  Add cut up butter and pulse gently.  Add water slowly and pulse gently being careful not to roll up in a ball.  Dump out on floured board.  Roll out into a 10&quot; round.  Place on cookie sheet and place in refrigerator.
</li>
<li>
Meanwhile, peel the apples, cut them in half and remove the cores.  Hollow the apples out a little with a measuring spoon and chop the trimmings.  (You should have about 3/4 cup).  Place 1/2 tablespoon of the jam in the hollow of each apple half and arrange the halves, cut side down, in the center of the circle of dough.  Sprinkle the chopped apple around the halves.
</li>
<li>
Bring the edge of the dough up over the apples to create a border, 1-2 inces hight, around the edge.  (This will hold the cooking juices inside.)
</li>
<li>
Sprinkle the top of the tart with sugar and cinnamon and dot with butter,.  Bake at 400F for 45 -60 minutes, until well browned.  Serve warm or at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Adapted from Jacque Pepin&#39;s recipe for Apple Tart
</p>
</body>
