<h1>Old-Fashioned Easy Mac &amp; Cheese</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. noodles, macaroni or your choice, cooked
</li>
<li>
1 lb. cheddar cheese, or cheese or your choice
</li>
<li>
salt and pepper, to taste
</li>
<li>
1 cup milk
</li>
<li>
4 tablespoons butter, cut into small pieces
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 375F.  Cook noodles as directed in salted boiling water until almost cooked through (al dente).
</li>
<li>
Drain the noodles and with a large spoon place 1/3 of the noodles into a GREASED cassarole dish.  Cover with 1/3 of the cheese.  Sprinkle with a little salt and pepper.   Place half of what is left of the noodles over that layer in the cassarole dish, covering with half of the cheese that is left and sprinkling this layer with a little salt and pepper.  Add the last of the noodles and cover with the rest of the cheese and a little salt and pepper.  Dot the mixture with 2-4 tablespoons of butter.  Pour the milk over all making sure the milk comes almost to the top of the noodles (a little more milk may be needed.
</li>
<li>
Place the cassarole on a cookie sheet with aluminum foil or parchment paper on the cookie sheet and place into  the preheated oven (you may need help here from your mom or dad).  Bake for 35-45 minutes until melted and a little crispy on top.  Take out of the oven and allow to rest for about 5-7 minutes and then serve.  Yum!!
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is easy for any child to put together and its not from a box!&quot;
</p>
<p>
SERVINGS: 6
</p>
</body>
