<h1>Old Fashioned Chicken Noodle Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 tablespoon olive oil
</li>
<li>
1 shallot, minced
</li>
<li>
1 clove garlic, minced
</li>
<li>
1 leek, cut in half, sliced thin
</li>
<li>
2 stalks celery, small dice
</li>
<li>
2 carrots, peeled, cut in small dice
</li>
<li>
6 sprigs fresh thyme, leaves removed
</li>
<li>
3 quarts chicken stock, homemade is best
</li>
<li>
3 whole chicken breast without skin, cooked in water in microwave until done
</li>
<li>
1 large can tomatoes, diced, drained and rinsed
</li>
<li>
salt and pepper, to taste
</li>
<li>
10 ounces wide noodles, precooked and held
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat olive oil in large soup pot.  Add shallots, garlic, leek, celery, carrots and thyme and cook to parfume and translucent.  Add  chicken stock, tomatoes salt and pepper.  Taste to correct seasonings.  Cook about 10 minutes, simmering to cook vegetables through.
</li>
<li>
Cut up chicken in big bites.  Add to stock.  
</li>
<li>
To serve:  Place cooked noodles in bowl.  Add soup and serve.  MMMMmmmmmmmmmmm.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is comfort food at it simplest!  WIth homemade chicken soup on
</p>
<p>
  hand; just add a few ingredients and voila!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
