<h1>Old Fashion Bean Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 cups dried beans, a mixture is great
</li>
<li>
1 large ham hocks
</li>
<li>
water or chicken stock to cover
</li>
<li>
5 stems fresh thyme
</li>
<li>
3 bay leaves
</li>
<li>
3 cloves garlic, minced
</li>
<li>
3 carrots, sliced
</li>
<li>
3 stocks celery, sliced thin
</li>
<li>
1 onion
</li>
<li>
salt and pepper to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cover the beans by at least 2&quot; and soak overnight.
</li>
<li>
Drain all beans and place in pot with ham bone, herbs and vegetables and cover with water by 2&quot;.
</li>
<li>
Cook beans until cooked about half way through; season with salt.  Finish cooking beans....about 1 - 1 1/2 hours
</li>
<li>
When the beans are no longer crunchy, remove ham bone and take off any meat that may be remaining and set aside.  Remove some of the beans and puree the rest.  Cut the meat into chunks and return to bean pot with the reserved whole beans.
</li>
<li>
 If more liquid is needed for soup, add more chicken stock or water.  Season to taste with salt and pepper and serve with a garnish of green onions,  chopped or fresh parsley.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Delicious and smells wonderful as it cooks and fills your house full
</p>
<p>
  of fabulous and enticing aromas.&quot;
</p>
<p>
SERVINGS: 12
</p>
</div></body>
