<head>
<title>Olivita Beef Filet</title>
</head>
<body>
<h1>Olivita Beef Filet</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 beef filet cut into 1/2&quot; steaks
</li>
<li>
flour
</li>
<li>
olive oil
</li>
<li>
Italian olives and olive oil, pulsed in food processor
</li>
<li>
1 1/2 cups Italian red wine
</li>
</ul>
<h2>Method</h2><ul>
<li>
Dust the filets with flour and season lightly with salt and pepper.  Sear both sides lightly in olive oil.  Top with olivita (the processed Italian olives) on one side, spreading over top and place back on burner.  Add red wine and continue to cook gently for a few minutes.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Simple and delicious........like all Tuscan food.&quot;SOURCE: Fattoria Madicia
</p>
</body>
