<h1>Olive Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups AP flour
</li>
<li>
1/2 teaspoon sea salt
</li>
<li>
2 teaspoons baking powder
</li>
<li>
1 large red bell pepper, roasted, coarsely chopped
</li>
<li>
1 cup Italian black olives, pitted, coarsely chopped
</li>
<li>
4 cups fresh basil leaves, minced
</li>
<li>
6 large eggs
</li>
<li>
1/4 cup olive oil
</li>
<li>
1 clove garlic, minced
</li>
<li>
freshly ground pepper
</li>
<li>
1/2 cup Parmesan cheese, grated
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 400F
</li>
<li>
Butter a loaf pan.  Line with parchment, lightly butter and dust with flour.
</li>
<li>
Sift the flour, salt and baking powder together onto a piece of parchment paper.
</li>
<li>
In a large bowl, shisk the eggs.  Add the oil and basil and whisk until combined.  Add the garlic.  Whisk in the flour mixture just until combined.  Grind black pepper to taste over the batter and shisk it in.  Then shisk in the cheese.  Fold in the olive and roasted pepper.
</li>
<li>
Pour the batter into the prepared loaf pan and tap the pan once, hard, on a work surface to release any air bubbles.  Bake the cake in the center of the oven until the top is golden and springs back when touched for about 45 minutes.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Susan Loomis
</p>
</body>
