<h1>Olive Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 16 oz can pitted black olive
</li>
<li>
1 10 oz jar green olives + 1 5 oz. jar, pitted
</li>
<li>
2 16 oz jars Italian Mixed Gardiniera pickled
</li>
<li>
vegetables, drained
</li>
<li>
1/2 jar sweet cherry peppers
</li>
<li>
4 stalks celery, chopped
</li>
<li>
1/2 bunch parsley, chopped
</li>
<li>
1/2 jar capers
</li>
<li>
8 cloves garlic
</li>
<li>
1 teaspoon dried Italian seasoning
</li>
<li>
2 tablespoons white wine vinegar
</li>
<li>
1/2 cup extra virgin olive oil
</li>
<li>
2 teaspoons chipolte Tabasco, or to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine all of the ingredients in a large mixing bowl.  Use immediately or spoon into a jar and refrigerate for later use.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is the salad that is used in Muffuletta......the New Orleans
</p>
<p>
  favorite and  classic sandwich.  However, it is great on cold pasta,
</p>
<p>
  on salads or as a pizza topping.  It keeps forever in the frig, too.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;5 cups&quot;
</p>
<p>
SERVINGS: 40
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
