<h1>Olson Farms Cheese Chard Squares</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup onions, chopped
</li>
<li>
1 tablespoon butter
</li>
<li>
1 pound Swiss chard, coarsely chopped
</li>
<li>
2 cups cheddar cheese, grated
</li>
<li>
2 cups Monterey Jack cheese, grated
</li>
<li>
4 large eggs, beaten
</li>
<li>
1 cup buttermilk
</li>
<li>
1/3 cup flour
</li>
<li>
s/p
</li>
<li>
tabasco sauce
</li>
</ul>
<h2>Method</h2><ul>
<li>
Saute onions in butter until soft.  Add chard, cooking until tender.  
</li>
<li>
Layer chard and cheeses in baking dish.  Whisk together the eggs, milk, flour,s/p, tabasco and pour over chard and cheese layers. 
</li>
</ul>
<h2>Notes</h2><p>
Bake @ 350F for 30-40 minutes.  Allow to sit for 10 minutes before cutting.SOURCE: Olson Farms, Colville, WA
</p>
</body>
