<h1>Onion Slices with Mint &amp; Cayenne</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/4 cups onion half rings, thinly sliced
</li>
<li>
3 plum tomatoes, cut into thin rounds
</li>
<li>
3/4 teaspoon salt
</li>
<li>
freshly ground pepper
</li>
<li>
couple generous dashes of cayenne
</li>
<li>
3 teaspoons white vinegar
</li>
<li>
mint leaves, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine all ingredients and mix gently.  Taste for balance of salt, sour and hot adding more of any for balance and taste.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Madhur Jaffrey
</p>
</body>
