<h1>Onion Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
5 large onion, halved and sliced
</li>
<li>
6 cloves garlic, minced
</li>
<li>
2 shallots, minced
</li>
<li>
3 tablespoons olive oil
</li>
<li>
1 handful fresh thyme, leaves removed
</li>
<li>
4 sprinkles sugar
</li>
<li>
sprinkle or two salt/pepper
</li>
<li>
2 tablespoons Dijon mustard
</li>
<li>
1 1/2 cups port wine, red
</li>
<li>
4 skant handfulls flour
</li>
<li>
4 quarts beef stock, heat until hot and hold
</li>
<li>
3/4 cup marsala wine
</li>
<li>
salt/pepper -- to taste
</li>
<li>
12 slices bread, artisan style, thickly sliced
</li>
<li>
Parmesan cheese, grated
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place olive oil in hot large sauce pot.  Add onions, garlic, shallots and begin to cook over medium heat.  Meanwhile, take leaves off of thyme stems and add to onions.  Sprinkle with sugar, salt and pepper.  Allow to cook about 40-50 minutes until nicely caramelized.  
</li>
<li>
Add port wine and reduce 1/3 to 1/2 (until half as much wine is left).  Whisk in flour and cook for about 5 minutes to remove &quot;flour&quot; taste.  Add hot beef stock and simmer for about 15-20 minutes or longer until ready for service.
</li>
<li>
Meanwhile place sheetpan in broiler oven and heat briefly (about 4-5 minutes). Take sheet pan out of the oven and place the sliced bread pieces on hot sheet pan and top each piece with a nice handful of Parmesan cheese.  Place under broiler until slightly golden brown.  (This can be done earlier and have ready to go at service time).
</li>
<li>
Right before serving pour marsala wine into soup.  Heat through for a couple of minutes.  Taste and correct seasoning.  
</li>
<li>
To serve place bread slice in soup bowl.  Top with soup.....Enjoy!!
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
