<h1>Onion Mustard Hamburger Buns</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
INGREDIENTS
</li>
<li>
1 (.25 ounce) package active dry yeast
</li>
<li>
1/4 cup warm water (105 degrees to 115 degrees)
</li>
<li>
2 cups warm milk (110 to 115 degrees F)
</li>
<li>
3 tablespoons dried minced onion
</li>
<li>
3 tablespoons prepared mustard
</li>
<li>
2 tablespoons vegetable oil
</li>
<li>
2 tablespoons sugar
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
6 cups all-purpose flour
</li>
<li>
 Add to Recipe Box
</li>
<li>
 Add to Shopping List
</li>
<li>
 Customize Recipe
</li>
<li>
 Add a Personal Note
</li>
<li>
DIRECTIONS
</li>
</ul>
<h2>Notes</h2><p>
In a mixing bowl, dissolve yeast in water. Add milk, onion, mustard, oil, sugar, salt and 4 cups flour; beat until smooth. Add enough remaining flour to form a soft dough. Turn out onto a floured surface; knead until smooth and elastic, about 6-8 minutes. Place in a greased bowl, turning once to grease top. Cover and let rise in a warm place until doubled, about 1 hour. Punch dough down; divide into 24 pieces Flatten each piece into a 3-in. circle. Place 1 in. apart on greased baking sheets. Cover and let rise until doubled, about 45 minutes. Bake at 350 degrees F for 20-25 minutes or until golden brown. Cool on wire racks.SOURCE: Taste of Home
</p>
</body>
