<h1>Orange Rolls</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 package yeast
</li>
<li>
1/2 cup warm water
</li>
<li>
1/4 cup milk, warmed
</li>
<li>
1/4 cup orange juice, room temp
</li>
<li>
1 large egg, room temp
</li>
<li>
3-3 1/2 cups flour
</li>
<li>
1/4 cup butter, room temp
</li>
<li>
1/4 cup sugar
</li>
<li>
2 teaspoons salt
</li>
<li>
zest of two oranges, divided in half
</li>
<li>
1/2 cup butter
</li>
<li>
1/4 cup orange juice concentrate
</li>
<li>
2 tablespoons sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place yeast in 1/2 cup warm water to dissolve and proof.  Wait 5 minutes until bubbly on top indicating the yeast is working.  While you are waiting, place all the dry ingredients,  butter and half of orange zest in the bowl of a heavy mixer. Mix briefly to combine the dry ingredients.  
</li>
<li>
 Warm the milk, briefly, in the microwave (not to hot...will kill the yeast).   Add the orange juice and egg and whisk with a fork to break up egg.  Add the bubbly yeast mixture to this mixture.  Place the dough hook on the mixer and turn on.  While the mixer is running, add the milk mixture all at once.  Mix on a moderate speed.  The dough hook will gather up all the flour around the edges within about 5 minutes.  Continue to knead another 6-7 minutes until the mixture feels slightly spongy to the touch.  Remove from the bowl and shape into a ball.  Place in a buttered bowl, moving the dough around the bowl in a ball to cover the entire ball with butter.  Cover with plastic wrap.  Place in a warm spot and allow to rise until doubled.  
</li>
<li>
Meanwhile, melt butter in small pan.  Add orange juice concentrate, 2 tablespoons sugar and second half of zest.  Put aside.
</li>
</ul>
<h2>Notes</h2><p>
Butter two 8&quot; cake pans or one rectangle baking pan with some of the butter/orange sauce.   When dough has risen, remove from bowl and divide into two pieces for 8&quot; pans, or leave in one piece for rectangle pan.  Press into selected pan(s).  With sharp knife, cut into bun-size pieces.  Cover with plastic wrap and place in a warm place to rise again.  When doubled (after about 45 minutes), brush with butter/orange sauce.  Place in a 350F oven for about 12-14 minutes until golden.SOURCE: Char Zyskowski
</p>
</body>
