<h1>Orange Raspberry Vinaigrette</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 tablespoons fresh orange juice
</li>
<li>
1 tablespoon raspberry vinegar
</li>
<li>
1/4 cup olive oil
</li>
<li>
salt &amp; freshly ground pepper
</li>
<li>
2 teaspoons snipped chives
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix the orange juice and vinegar together in small bowl.  Slowly add the oil, whisking constantly until smooth.  Season to taste with salt &amp; pepper and stir in chives.  Makes about 1/2 cup.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Wonderful over baby greens, fresh asparagus or even fruit.NOTES : Make your own raspberry vinegar by taking fresh raspberries, placing in bottle that has been first placed in boiling water.  Coverwith white vinegar.  Let sit for at least 2 weeks and strain into new sterle bottle.  Its so fresh and lovely!
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
