<h1>Orange Raisin Nut Cake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 whole orange, well washed
</li>
<li>
1/2 cup orange juice
</li>
<li>
1 large egg
</li>
<li>
1/2 cup butter
</li>
<li>
1 1/2 cups flour
</li>
<li>
1 teaspoon baking soda
</li>
<li>
1 teaspoon baking powder
</li>
<li>
3/4 cup honey or white sugar
</li>
<li>
1 teaspoon salt
</li>
<li>
1/2 cup raisins
</li>
<li>
1/2 cup nuts
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 400F.
</li>
<li>
Cut orange in pieces and remove pits.  In food processor, put in first 4 ingredients.  Blend for 3-4 minutes.  Sift dry ingredients into a bowl.  Mix in raisins &amp; nuts.  Blend again until mixed.  Spoon into greased 9&quot; cake pan.  Bake at 350F for 25-30 minutes.  ( If using honey, add with first 4 ingredients, if using sugar, add to dry mix).
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
</div></body>
