<h1>Orange &amp; Almond Cake Wedges</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 large seedless (best if navel) oranges
</li>
<li>
6 large eggs
</li>
<li>
1 1/2 ground almonds
</li>
<li>
pinch of salt
</li>
<li>
1 cup sugar
</li>
<li>
1 teaspoon baking powder
</li>
<li>
Garnish: Thin slices of peeled orange
</li>
<li>
sprinkled with confectioners&#39; sugar
</li>
<li>
and a touch of cinnamon. Serve with
</li>
<li>
whipped cream.
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Wash the oranges and boil them in water to cover, without peeling, until very soft, about 30 minutes.  Drain, cool, cut into quarters, and remove the seeds, if any.  Process the oranges to a fairly fine puree in a blender or food processor or by putting them through a meat grinder.  Don&#39;t make it too fine.  The little bits of skin, which will not be at all bitter after the long boiling, are pleasant to bit on.  Beat the eggs in a bowl until thick, then add the ground almonds, salt, sugar, baking powder and orange puree, and mix well.  Pour into a deep 9&quot; cake pan that has been buttered and floured and bake in a 400F oven for 1 hour or longer, until firm to the touch when pressed with the tip of your finger.  Remove the pan to a rack, allow the cake to cool, then turn it out of the pan onto a serving dish.  Serve garnished with orange slices or berries and whipped cream.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : This cake has a moist and dense consistency.  Don&#39;t worry, it does not rise very much and it will eventually bake firm.  You can cut very small wedges and get 12 out of this cake.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: James Beard
</p>
</div></body>
