<h1>Orange Date Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup butter, room temp
</li>
<li>
2 cups sugar
</li>
<li>
4 large eggs, room temp
</li>
<li>
1 teaspoon baking soda
</li>
<li>
1 1/3 cups buttermilk
</li>
<li>
4 cups AP flour, sifted
</li>
<li>
1 cup pecans, or nuts of choice, chopped
</li>
<li>
1 8 oz pkg dates, chopped
</li>
<li>
2 tablespoons orange rind, grated
</li>
<li>
1 tablespoon grated orange rind
</li>
<li>
1/2 cup Grand Marnier
</li>
<li>
1/2 cup orange juice
</li>
<li>
2 cups sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.  Prepare a 10&quot; bundt or tube pan by greasing and flouring lightly.
</li>
<li>
Cream butter.  Gradually add sugar beating until fluffy.  Add eggs one at a time, beating after each addition.  
</li>
<li>
Dissolve soda in buttermilk.  Add 3 1/2 cups flour to creamed mixture alternately with buttermilk mixture.  Begin and end with flour.  Beat well after each addition.  With remaining 1/2 cup flour, place in small bowl.  Add dates, pecans and rind and mix gently.  Add to batter.
</li>
<li>
Pour batter into prepared pan.  Bake for 1 hour and 25 minutes or until wooden skewer poked in the center comes out clean.  While cake is still warm,  poke the cake all over at 1&quot; intervals with wooden skewer and pour half of the Orange Glaze over cake in pan.  Cool 10 minutes and remove from pan.  Allow to cool briefly and pour remaining glaze over top of cake for shiny finish.
</li>
<li>
Serve with whipped cream or marscapone.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Adapted from Southern Heritage Cake Cookbook
</p>
</body>
