<head>
<title>Orange Cranberry Rolls</title>
</head>
<body>
<h1>Orange Cranberry Rolls</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 tablespoon instant yeast
</li>
<li>
2 cups warm water
</li>
<li>
7 tablespoons sugar
</li>
<li>
6 cups AP flour
</li>
<li>
2 teaspoons salt
</li>
<li>
1/4 cup instant nonfat dry milk
</li>
<li>
6 tablespoons unsalted butter, softened
</li>
<li>
1 cup dried or frozen cranberries
</li>
<li>
2 teaspoons orange extract
</li>
<li>
2 oranges zest
</li>
</ul>
<h2>Method</h2><ul>
<li>
In a large mixing bowl whisk together the yeast, sugar,1/2 of the flour, salt and nonfat dry milk (this can be done with the paddle of the mixer).  Add the butter and mix slightly.  While the mixer is running, add the water and the extract.  Mix with the paddle until mixed.  Change to the dough hook.  Start the mixer and slowly add the rest of the flour, 1/2 cup at a time.  Continue to knead with the dough hook about 6-8 minutes more.  
</li>
<li>
Place the dough in an oiled bowl and roll around to cover dough with oil.  Cover with plastic wrap and allow the dough to rise until double in size about 45-60 minutes.  
</li>
<li>
Transfer from bowl and knead slightly.  Divide the dough into 16 balls.  
</li>
<li>
Place a 12&quot; round Dutch oven over low heat for about 30 seconds.  Let the pot get just barely warm to the touch.  Do not let the bottom get hot.  Remove from the heat.  Coat the pot with cooking spray.
</li>
<li>
Arrange the balls of dough in the Dutch oven; they will touch.  Cover loosely with plastic wrap and let rise at room temperature until the rolls double in size and do not readily spring back when poked with finger, at least 1 hour.
</li>
<li>
Adjust an oven rack to the lowest position and heat the oven to 350F.
</li>
<li>
Cover the Dutch oven with its lid then bake the rolls for 30 minutes.  Remove the lid and continue to bake until the rolls are browned, about another 15 minutes.  Carefully remove the rolls from pot, cool and serve.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 16
</p>
<p>
SOURCE: Adapted from Gibbs Smith
</p>
</body>
