<head>
<title>Oregano Potatoes</title>
</head>
<body>
<h1>Oregano Potatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 white new potatoes, or any combination as desired, Yukons are good too.
</li>
<li>
12 red new potatoes
</li>
<li>
olive oil
</li>
<li>
salt and pepper
</li>
<li>
fresh oregano
</li>
</ul>
<h2>Method</h2><ul>
<li>
Boil new potatoes until almost done.  Put aside to cool.  
</li>
<li>
Cut potatoes in half or quarter (depending on the size).  Put oil in large saute pan.  Add in potatoes and season with salt and pepper and oregano.  Cook briefly until just beginning to brown.  Finish in 375F oven until golden and caramelized (can be completed on top of the stove).   Stir once while in oven.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
