<head>
<title>Ouzo Steamed Mussels</title>
</head>
<body>
<h1>Ouzo Steamed Mussels</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 lbs. mussels, or clams or mixture
</li>
<li>
1/4 cup olive oil
</li>
<li>
8 cloves garlic, sliced thin
</li>
<li>
2 shallots, minced
</li>
<li>
1 cup ouzo
</li>
<li>
flat leaf parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Clean mussels, debeard and soak in cold water for about an hour.  Drain.
</li>
<li>
Heat olive oil in large skillet or Dutch oven.  When it is hot add the garlic &amp; shallot.
</li>
<li>
Cook briefly.  Add the drained mussels and stir until coated.  Add ouzo.  Cover and cook about 5 minutes until mussels open.  Sprinkle with parsley.  Serve in bowls with crusty bread.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;As fabulous as &quot;moules a a marinere&quot;....only prepared with ouzo, the
</p>
<p>
  anise-flavored liquor.&quot;
</p>
<p>
SERVINGS: 10
</p>
</body>
