<h1>Oven Fried Chicken</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cut-up chicken
</li>
<li>
toasted bread crumbs or crushed
</li>
<li>
crackers or corn flakes
</li>
<li>
seasoning to taste: garlic powder,
</li>
<li>
salt, pepper, herbs if desired
</li>
<li>
milk
</li>
<li>
olive oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Take cup up chicken and swish through milk (that has been placed in a bowl).
</li>
<li>
Toss in bag of seasoned crumbs.
</li>
<li>
Place on  &quot;Pam-sprayed&quot;  baking dish.
</li>
<li>
Spray lightly with olive oil that has been placed in spray bottle.
</li>
<li>
Place in 350-375F degree oven and bake for about one hour to one hour and fifteen minutes.  
</li>
<li>
Serve with roasted or baked potatoes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : This is one of those great &quot;kids can get it started&quot; meals and they are really happy when it comes out soooooo delicious.  OR it is fast when you come home from work to throw into the oven.  Make twice as much as you need and have left overs for lunch (great cold) or in Chicken Tostadas the next night!
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
