<h1>Oven BBQ Brisket</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Oven-Barbecued Beef Brisket
</li>
<li>
We love the rich flavor and tender texture of barbecued brisket, but grilling season is cruelly short in many regions of the country. What&acirc;&#128;&#153;s a cook to do when the craving strikes for brisket in midwinter and the temperatures are too low to make a low fire sustainable? We wanted to figure out how to attain that smoky flavor and tender texture indoors. Here&acirc;&#128;&#153;s what we discovered:
</li>
<li>
Test Kitchen Discoveries
</li>
<li>
Liberally season the meat with a spicy rub (see All-Purpose BBQ Rub) and poke it with a fork so that the spices&acirc;&#128;&#153; flavors penetrate into the meat.
</li>
<li>
Wrap the brisket in bacon. As the bacon renders, it will bathe the brisket in smoky fat.
</li>
<li>
Bake the brisket slow and low sealed in aluminum foil. Containing the moisture released by the meat will help the meat cook faster and be more tender. In essence, the brisket is being braised in its own juices.
</li>
</ul>
<h2>Notes</h2><p>
Use the smoky-tasting juices rendered by the brisket as the base for an accompanying sauce.SOURCE: Cooks Country
</p>
</body>
