<h1>Paella</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. chirizo, 1/2&quot; slices
</li>
<li>
12 chicken thighs, or 4 chicken breasts cut into 1-1 1/2&quot; strips
</li>
<li>
2 tablespoons paprika
</li>
<li>
1 teaspoon cayenne pepper, or hot paprika
</li>
<li>
2 medium onions, chopped
</li>
<li>
3 red and yellow bell peppers, chopped
</li>
<li>
1 large cans tomatoes (about 3 cups), rinsed, drained and chopped
</li>
<li>
1 1/2 teaspoons saffron threads, dissolved in 1/2 cup stock
</li>
<li>
6 cups chicken or fish stock
</li>
<li>
3-4  cups rice, Arborio or short grain
</li>
<li>
1 lbs. shrimp, medium (30-40)
</li>
<li>
1 lb. mussels
</li>
<li>
1 lb. clams
</li>
<li>
1 lemon, juice of
</li>
<li>
parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
In large fry pan or paella pan brown chirizo and remove from pan when browned.  Pour off fat.  To the same pan add the chicken (add a bit more olive oil if needed), season with salt and pepper, paprika, and cayenne and brown.  Remove from pan and set aside.  Add the onions and garlic and bell peppers, deglazing pan  and cook until translucent.
</li>
<li>
To the pan, add the tomatoes, soaked saffron threads with liquid and deglaze the pan.  Add the stock and the (unrinsed) rice.  Add back in the chicken and sausage.  Cook uncovered for about 15 minutes. Check for doneness.     Finish for another 5-8 minutes.  Give the rice a taste...it should be to the bite.  While the rice is finishing, add the seafood and finish about 5 minutes.  Taste for correct seasoning.  Add a splash of fresh lemon and chopped parsley.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;The famous rice dish of Valencia.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Char&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
