<head>
<title>Pakoras</title>
</head>
<body>
<h1>Pakoras</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 medium red or white potatoes, peeled, cut into small dice
</li>
<li>
5 cauliflower florets, broken into very small florets
</li>
<li>
5 broccoli florets, broken into very small florets
</li>
<li>
1 small Japanese eggplant, small dice
</li>
<li>
1 medium onion, small dice
</li>
<li>
1 cup spinach leaves, chopped fine
</li>
<li>
1/2 cup frozen peas, thawed
</li>
<li>
oil for deep frying
</li>
<li>
Batter:
</li>
<li>
1 1/4 cups water
</li>
<li>
1 teaspoon garam masala
</li>
<li>
2 1/2 teaspoons chili powder
</li>
<li>
1/4 teaspoon dried green mango powder
</li>
<li>
1/4 teaspoon turmeric
</li>
<li>
2 teaspoons salt
</li>
<li>
1 teaspoon baking powder
</li>
<li>
1 cup chick pea flour
</li>
<li>
1/3 cup finely ground white flour
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix the batter ingredients and set aside for 20-30 minutes.
</li>
<li>
Place the diced potatoes in a saucepan with water to cover, bring to a boil and simmer until half cooked through.
</li>
<li>
Begin to heat the oil in a large pan or deep fryer.  Mix the vegetables evenly into the batter.  When a haze of smoke begins to appear over the hot oil, it is ready for deep frying.  Slide by tablespoons, the vegetable batter into the hot oil.  Cook until the pakoras are golden brown.  Take out with a slotted spoon and drain on paper towels.  Hold in a 200F oven while cooking the others.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A delicious first plate...serve with a fresh mint or coconut
</p>
<p>
  chutney.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;36 pieces&quot;SOURCE: Adapted from Asia: The Beautiful Cookbook
</p>
</body>
