<h1>Pancetta Chips with Goat Cheese &amp; Pear</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
16 slices pancetta, sliced very thin
</li>
<li>
16 teaspoons fresh goat cheese, room temperature
</li>
<li>
2 very ripe small pears, cut into 1/4&quot; slices
</li>
<li>
fresh thyme leaves
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat the grill to 450F with lid down.  Place grill pan in grill.  Allow to heat for 5 minutes.  Place pancetta slices on grill pan.  Sprinkle with black pepper.  Cook on one side for 3-5 minutes with lid down.  Turn pancetta and cook another 3 minutes until crisp.  Place on platter and top each with a teaspoon of goat cheese and one pear slice.  Sprinkle with thyme leaves.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Bon Appetit 2005&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Sarah Tenaglia
</p>
</div></body>
