<h1>Panna Cotta</h1>
<h2>Ingredients</h2>
<ul>
<li>
3/4 cup cream
</li>
<li>
1 cup plain yogurt
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1/2 pod vanilla beans
</li>
<li>
3/4 cup cream
</li>
<li>
1/3 cup sugar
</li>
<li>
1 teaspoon packaged gelatin
</li>
<li>
1 1/2 tablespoons water
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix the 1 1/2 tablespoons of water into the half package of gelatin in a small bowl.  Allow to sit about 10 minutes.
</li>
<li>
Mix together the first 3/4 cup cream, the yogurt, vanilla and vanilla beans.  
</li>
<li>
In a small saucepan, mix together the second 3/4 cup cream and the sugar, bringing to a simmer.  Take off the heat and add the gelatin mixture to dissolve.  
</li>
<li>
Stir the warm mixture into the cream/yogurt mixture, mixing thoroughly.  Pour into 4   
</li>
<li>
6-8oz ramekins or small bowls.  Place into refrigerator.  After it sets, cover with plastic wrap and refrigerate for at least 8 hours.  
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Adapted from Ina Garten
</p>
</body>
