<h1>Pan Sauce with Cream</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/2 cup wine
</li>
<li>
1/2 cup stock
</li>
<li>
3 tablespoons heavy cream
</li>
<li>
1 tablespoon butter, unsalted
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cook selected meat in pan in butter or olive oil.  Take the meat out when cooked and hold hot on warm plate, covered with aluminum foil.
</li>
<li>
Throw away any fat in the bottom of the pan.
</li>
<li>
Deglaze the pan with wine and reduce it to about 2-3 tablespoons.  Add the stock and reduce to about 4 tablespoons.  Add the cream and reduce it until the sauce is as thick as desired.
</li>
<li>
Swirl in the butter at the end and season to taste.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is wonderful with chicken, veal or pork.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1/2 cup&quot;
</p>
</div></body>
