<h1>Panzanella</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 plum tomatoes, cut in 1&quot; cubes
</li>
<li>
1 yellow bell pepper, cut in 1&quot; cubes
</li>
<li>
1 red bell peppers, cut in 1&quot; cubes
</li>
<li>
1 large English cucumber, cut in 1/2&quot; round halves
</li>
<li>
1 large bunch basil, left whole
</li>
<li>
olives, if desired
</li>
<li>
1 loaf great bread, cut into large cubes
</li>
<li>
olive oil
</li>
<li>
6 cloves garlic, lightly hit
</li>
<li>
Vinaigrette:
</li>
<li>
1 cup olive oil
</li>
<li>
1/4 cup red wine vinegar
</li>
<li>
2 tablespoons balsamic vinegar
</li>
<li>
1 large shallot, minced
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cut up vegetables except basil.  Mix together and refrigerate until ready.
</li>
<li>
Heat a good amount of olive oil in pan.  Add garlic to infuse.  Add bread cubes to toast until crisp.  Cool.
</li>
<li>
Make vinaigrette in the bottom of a large bowl.  Add vegetables and bread cubes.  Mix together.  Just before serving, add basil and olives, if using.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;I love this salad!!!!&quot;
</p>
<p>
SERVINGS: 12
</p>
</div></body>
