<head>
<title>Panzerotti....Tuscan Fried Bread Squares</title>
</head>
<body>
<h1>Panzerotti....Tuscan Fried Bread Squares</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups flour
</li>
<li>
1/2 tablespoon yeast
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 tablespoon olive oil
</li>
<li>
olive oil for frying
</li>
</ul>
<h2>Method</h2><ul>
<li>
Dissolve the yeast in 1 cup of warm water.
</li>
<li>
Make a well with the flour and place the salt, oil and 1/2 cup of the water/yeast mixture in the center of the well.  Using a fork, start mixing the ingredients, adding more water/yeast until all used up.  With floured hands, knead the dough until smooth and elastic.
</li>
<li>
Form a ball with the dough and place it in a large floured bowl, ocver with a kitchen towel and let rise in a warm place for 2 hours.
</li>
<li>
When the dough has risen to double its size, place it on a large floured board and using a rolling pin roll it into a 1/2&quot; thick sheet.  Cut the sheet into 3&quot; squares.
</li>
<li>
In a large skillet, heat 2 inches of olive oi.
</li>
<li>
Deep fry the squares until lightly golden on both sides.
</li>
<li>
Drain on paper towels for a few seconds.  Sprinkle with salt and serve hot.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fried panzerotti is the perfect accompaniment for cheese, Italian
</p>
<p>
  meats or boiled beans as an antipasta.&quot;
</p>
<p>
SERVINGS: 12
</p>
</body>
