<h1>Pappardelle with Mixed Wild Mushroom</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
14 ounces mushrooms, a mixture
</li>
<li>
3 tablespoons olive oil
</li>
<li>
1 clove garlic
</li>
<li>
2 small dry red chiles, finely chopped
</li>
<li>
salt and pepper
</li>
<li>
1/2 lemon juice
</li>
<li>
1 lb. pappardelle, made from Fresh Pasta
</li>
<li>
1/2 cup grated Parmesan cheese
</li>
<li>
1/2 cup Italian parsley
</li>
<li>
2 ounces unsalted butter
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Lightly wash and dry mushrooms  Sice the mushrooms thinly.  Put the olive oil in a very hot frying pan and add the mushrooms.  Let them fry fast, tossing once or twice, then add the garlic and chile with a pinch of salt.  Continue to fry fast for 4-5 minutes, tossing regularly.
</li>
<li>
Then turn the heat off and squeeze in the lemon juice.  Toss and season to taste.
</li>
<li>
Meanwhile cook the pasta in boiling salted water until al dente.  Add to the mushrooms, with the Parmesan, parsley and butter.  Toss gently, coating the pasta with the mushrooms and their flavor.  Serve with a little extra parsley and Parmesan.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 4
</p>
<p>
SOURCE: Jamie Oliver
</p>
</div></body>
