<h1>Paprika Glazed Baby Back Ribs</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 lbs. baby back ribs, cut into small pieces
</li>
<li>
9 cloves garlic, minced
</li>
<li>
2 cups dry red wine
</li>
<li>
3/4 cup water
</li>
<li>
3 tablespoons sweet paprika
</li>
<li>
5 tablespoons sherry vinegar
</li>
<li>
1 1/2 tablespoons firmly packed brown sugar
</li>
<li>
1 1/2 tablespoons salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Divide ribs between two large heavy sealable plastic bags.  In a bowl stir together remaining ingredients and pepper to taste and pour over ribs.  Seal bags, pressing out excess air.  Chill, turning bags occasionally, a few hours.
</li>
<li>
Preheat oven to 375F
</li>
<li>
Transfer ribs and marinade to a roasting pan large enough to hold ribs in one layer and roast turning occasionally, 1 hour.  May be made up to two days ahead, cooled and chilled.  Reheat ribs at 375F for about 12 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 16
</p>
<p>
SOURCE: Gourmet, January 96
</p>
</div></body>
