<h1>Parchment Baked New Potatoes</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
40 small new potatoes
</li>
<li>
24 cloves garlic
</li>
<li>
6 tablespoons butter
</li>
<li>
thyme
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
If potatoes are small enough, leave whole.  If not cut into 1&quot; bite size pieces.  
</li>
<li>
Divide potatoes, garlic, butter  between two double parchment sheets.   Sprinkle both with thyme leaves and salt and pepper.  Seal parchments and place on sheet pan.  Place in 425F oven and cook for 30-35 minutes until easily pierced.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
</div></body>
