<h1>Parmesan Dusted Grilled Asparagus &amp; Plum Tomatoes</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 pound asparagus, cut where easily breaks
</li>
<li>
olive oil
</li>
<li>
salt/pepper, to taste
</li>
<li>
12 plum tomatoes, cut in half lenghwise
</li>
<li>
olive oil 
</li>
<li>
salt/pepper
</li>
<li>
1 lemon&#39;s lemon zest
</li>
<li>
1/2 cup parmesan cheese, grated
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place asparagus on a sheet pan and drizzle olive oil over asparagus and season with salt and pepper.
</li>
<li>
Place tomatoes, cut side up, on sheet pan.  Drizzle with olive oil and season with salt and pepper.  
</li>
<li>
Place asparagus on medium hot gas grill over direct heat and grill turning after a couple of minutes until charred slightly all over.  Place tomatoes, cut side down, and grill briefly, just to warm through.  Tomatoes will stick easily; try not to over cook.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Remove all to warm platter.  Sprinkle lemon zest all over and top with parmesan.  SOURCE: Apple Charlotte
</p>
</div></body>
