<h1>Parmesan Potatoes</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
35 1 1/2&quot; potatoes, cut in halfs or quarters, Yukon Gold or Baby Reds
</li>
<li>
2 tablespoons butter
</li>
<li>
6 tablespoons olive oil
</li>
<li>
1 tablespoon Dijon mustard
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
1-1 1/2 cups finely grated parmesan cheese
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Boil potatoes in salted water until just pierceable with a skewer.  Drain in a colander.
</li>
<li>
Heat butter and olive oil in large pan (that can go into the oven) and add mustard, mixing.  Add potatoes, add s/p and mix until covered.  Taste for correct seasoning.  Take off stovetop, sprinkle parmesan cheese on top and place in 375F oven for about 20-30 minutes.  Serve right away.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 16
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
