<head>
<title>Parsley Salad</title>
</head>
<body>
<h1>Parsley Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups Italian parsley, roughly chopped
</li>
<li>
2 red onions, thinly sliced
</li>
<li>
1 pint cherry tomatoes, cut in half
</li>
<li>
2 tablespoons sherry vinegar
</li>
<li>
2 tablespoons olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix vegetables.  Whisk sherry vinegar and olive oil and season.  Taste for acid balance.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Alice Waters
</p>
</body>
