<h1>Pasta Forne</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. cooked pasta, La Molisana (little &quot;O&#39;s&quot;); nelini
</li>
<li>
marinara sauce
</li>
<li>
ground meat, usually hamburger
</li>
<li>
cubed mortadella
</li>
<li>
cubed salami
</li>
<li>
cubed pancetta
</li>
<li>
mozzarella cheese
</li>
<li>
parmesan cheese
</li>
<li>
fresh bread crumbs
</li>
<li>
If desired: Line baking plate with thinly
</li>
<li>
sliced eggplant, bottom sides and then top
</li>
<li>
when filled with mixture above.
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Or....just place all in pan and cook through about 45 minutes. 
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a baked pasta dish using La Molisana cooked pasta shaped like
</p>
<p>
  &quot;the wedding band&quot;.&quot;SOURCE: Maria
</p>
</div></body>
