<h1>Pasta Dough</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups flour
</li>
<li>
1 cup semolina flour
</li>
<li>
1 teaspoon salt
</li>
<li>
1 tablespoon olive oil
</li>
<li>
3 large eggs
</li>
<li>
3 large egg yolks
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Pour flours  on worktable, making well in the middle.
</li>
<li>
2.  To the well add a pinch of salt, a little oil and the eggs.
</li>
<li>
3.  Begin mixing in flour from outside the well, a little at a time, turning and mixing at the same time with fingers or plastic spoon, little by little until enough flour is incorporated to make a dough firm enough to knead.  Knead by folding over 1/3 by 1/3 and turning over and kneading for a few minutes, still incorporating more flour a little at a time until the right dough consistency, somewhat like bread dough.
</li>
<li>
4.  Wrap the dough in plastic wrap and allow the dough to rest for at least 20 minutes.
</li>
<li>
5.  Take out of plastic wrap and reknead slightly before putting through the machine.
</li>
<li>
7.  Flour pasta machine, and with two people,  begin running pasta through machine starting with #1 setting and notching up one number with each pass through machine.  End on #6 for fetticcini and on #7 for ravioli.
</li>
<li>
8.  Cut into desired fetticcini or lay out for stuffed ravioli or make other shapes.
</li>
<li>
9. When pasta shapes are complete, lightly dust with flour and cover until ready to
</li>
<li>
cook.
</li>
<li>
10.  Cook in boiling salted and oiled water for short amount of time (2 min. once pasta floats to the top), place in ice water bowl.  Before serving, rewarm in saute pan with olive oil or butter and serve with sauce.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
