<h1>Pasta Fazool</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. cannellini beans, or white beans, soaked overnight
</li>
<li>
2 tablespoons extra virgin olive oil
</li>
<li>
1 onion, chopped
</li>
<li>
2 stalks celery, chopped
</li>
<li>
2 carrots, chopped
</li>
<li>
3 cloves garlic, minced
</li>
<li>
2 large tomatoes, chopped
</li>
<li>
2 sprigs rosemary, chopped
</li>
<li>
1/2 lb. small pasta, fisilli, shells, zita
</li>
<li>
1 bunch parsley, minced
</li>
<li>
parmesan cheese, garnish
</li>
<li>
fresh basil, if desired
</li>
</ul>
<h2>Method</h2><ul>
<li>
Drain beans after soaking.
</li>
<li>
Saute onion, carrot, celery and garlic until soft.  Add the beans with the tomatoes, rosemary and about 6  cups of boiling water.  Bring to a boil and then simmer until tender, about 1 hour or so (older beans will take longer).  Add more water if needed.  When the beans are about 1/2 done, add salt.
</li>
<li>
When the beans are done, take out 1-2 cups and puree in a food processor.  Return the puree to the beans.  Add the pasta and another cup of boiling water to the batch.  Cook until pasta is tender, about 10 minutes or so.  Taste for seasoning and add salt/pepper, fresh basil leaves, parsley and garnish with parmesan.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A humble and most delicious Italian peasant dish.  The grains (pasta)
</p>
<p>
  and legumes (beans) makes a total protein.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from &quot;The Mediterranean Diet&quot;
</p>
</body>
