<h1>Paula Deans Grandma&#39;s Sour Cream Pound Cake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Grandmother Paul&#39;s Sour Cream Pound Cake
</li>
<li>
Created by Paula Deen
</li>
<li>
 
</li>
<li>
Food Network cook Paula Deen shares her recipe for Grandmother Paul&#39;s Sour Cream Pound Cake&acirc;&#128;&#148;a treat her grandma used to make!
</li>
<li>
Watch Paula and Oprah make this recipe! 
</li>
<li>
Ingredients: 
</li>
<li>
1/2 pound (2 sticks) butter
</li>
<li>
3 cups sugar
</li>
<li>
1 cup sour cream
</li>
<li>
3 cups all-purpose flour
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
6 eggs
</li>
<li>
1 teaspoon vanilla
</li>
<li>
Preheat oven to 325 degrees. Cream butter and sugar together; add sour cream. Sift flour and baking soda together. Add to creamed mixture, alternately with eggs, one at a time, beating after each. Add vanilla. Pour into a greased and floured tube pan and bake for 1 hour 20 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'></div></body>
