<h1>Peach Crumble</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
10 pounds peaches*
</li>
<li>
2 lemons grated 
</li>
<li>
1 cup sugar
</li>
<li>
3/4 cup AP flour
</li>
<li>
3 cups AP flour
</li>
<li>
1 cup granulated sugar
</li>
<li>
3/4 cup brown sugar
</li>
<li>
1 1/2 teaspoons kosher salt
</li>
<li>
1 1/2 teaspoons cinnamon
</li>
<li>
3 sticks cold butter
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat oven to 350F.
</li>
<li>
Boil water and place peaches in water for about 1 minute until skins loosen. Place in cold water.  Cut into 1/2&quot; wedges.  Add lemon juice and zest, sugar and flour and toss well. 
</li>
<li>
Mix crumble mixture in a mixer with paddle attachment until butter is the size of peas.   
</li>
<li>
Place fruit mixture into large baking pans (this will take two large pans) and drizzle with crumble.  Bake for 40-45 mintues.  Serve warm with ice cream or softly whipped cream.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 18
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
