<h1>Peach Shortcake</h1>
<h2>Ingredients</h2>
<ul>
<li>
To season peaches...grind a very
</li>
<li>
small amount of good quality mace with
</li>
<li>
sugar and add to peaches. Macerate
</li>
<li>
with additional fine sugar for at least
</li>
<li>
an hour before serving.
</li>
<li>
Serve with sweetened and rummed
</li>
<li>
marsacapone cheese and whipped cream
</li>
<li>
on top.
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Use shortcake recipe from Chez Panisse Dessert Cookbook
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Thomas Oden
</p>
</body>
