<h1>Peach Ice Cream</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/2 cups whipping cream
</li>
<li>
3/4 sugar
</li>
<li>
3 large egg yolks
</li>
<li>
1 lb. perfect peaches
</li>
<li>
1/2 teaspoon almond extract
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Dissolve 1/2 cup of the sugar and the cream together over medium heat.  Whip the egg yolks and temper with the warm cream mixture, adding the yolk mixture back into the pot.  Cook until the egg and cream mixture coat the back of a wooden spoon.  Strain and chill overnight.
</li>
<li>
Peel and pit the peaches and slice thinly into bowl.  Toss with the remaining 1/4 cup sugar.  Allow to macerate for 1 hour.  Crush peaches with a potato masher,
</li>
<li>
but don&#39;t puree them.  Avoid large pieces of peaches which will freeze.  You should end up with about 1 1/2 cup peaches and juice.  Mix with  custard and add almond extract.  Freeze in ice cream freezer.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
</div></body>
