<head>
<title>Peach Lime Chutney</title>
</head>
<body>
<h1>Peach Lime Chutney</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup water
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 lime, with peel, cut into fine dice
</li>
<li>
1 tablespoon sugar
</li>
<li>
1/4 cup rice vinegar
</li>
<li>
1/4 teaspoon red pepper flakes
</li>
<li>
1 teaspoon coriander seeds, toasted
</li>
<li>
2 teaspoons fresh ginger, minced
</li>
<li>
1 red bell pepper, finely chopped
</li>
<li>
2 firm fresh peaches*, peeled, pitted and cut 1/2&quot;dice
</li>
<li>
1/4 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
* Can use fresh apricots or dried peaches,
</li>
<li>
                        apricots or figs that have been
</li>
<li>
                        reconstituted
</li>
<li>
                        in warm apple juice.
</li>
<li>
In a saucepan, bring water and salt to a boil.  Add lime, reduce heat, simmer 10 minutes.
</li>
<li>
Drain the lime and set aside.
</li>
<li>
In a large saute pan cook the sugar and vinegar over high heat until the sugar melts and the mixture becomes syrupy.  Add the chile, coriander and ginger and then the red pepper, lime and peaches.  Stir and saute for 5 minutes.  Cool. 
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;1 1/2 cups&quot;SOURCE: Eric Tucker
</p>
</body>
