<h1>Peanut Butter Candy</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
5 cups puffed rice cereal
</li>
<li>
32 large marshmallow
</li>
<li>
1/3 cup peanut butter
</li>
<li>
1/4 cup butter
</li>
<li>
butter to grease bowl, hands and pan
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Grease a bowl with butter.
</li>
<li>
Put in puffed rice.
</li>
<li>
Place a large metal bowl over a sauce pan filled with 1/3 water.  Put marshmallows and peanut butter in bowl.  Add 1/4 cup butter.  Allow to melt and keep stirring until smooth.
</li>
<li>
Pour mixture over cereal until all the kernels are coated.  Grease a 9x13 pan with butter and then pour mixture into pan.  Pat with buttered hands until smooth.
</li>
<li>
Cool  Cut.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Cookbook for Children&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 dozen&quot;SOURCE: Adapted from Mary Alden
</p>
</div></body>
