<h1>Peanut Dipping Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 tablespoon vegetable oil
</li>
<li>
1 large clove garlic
</li>
<li>
1 or more bird&#39;s eye chilies
</li>
<li>
3 ounces roasted peanuts (1 tablespoon chopped, the
</li>
<li>
rest finely ground)
</li>
<li>
1 cup chicken stock
</li>
<li>
1/3 cup canned unsweetened coconut milk
</li>
<li>
1 tablespoon hoisin sauce
</li>
<li>
1 tablespoon fish sauce
</li>
<li>
1 tablespoon sugar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat the oil in small saucepan over medium heat.  Stir fry the garlic and chilies until fragrant, about 5 minutes.  Add the ground peanuts and stir until they give up some of their natural oil, about 5 minutes more.
</li>
<li>
Add  the chicken stock, coconut milk, hoisin sauce, fish sauce and sugar and bring just to a boil over medium heat.  Reduce the heat to low and cook until the oil from the peanuts starts surfacing, about 15 minutes.  Transfer sauce to a heatproof serving boil, garnish with chopped peanuts, and serve.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:
</p>
<p>
  &quot;2 cups&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Corinnne Trang
</p>
</div></body>
