<h1>Peanut Butter Coconut Ice Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 can (13.5 oz) light coconut milk
</li>
<li>
1/2 cup maple syrup
</li>
<li>
1/2 cup crunchy peanut butter
</li>
<li>
1 teaspoon vanilla extract
</li>
<li>
1 cup French vanilla soy creamer, divided
</li>
</ul>
<h2>Method</h2><ul>
<li>
Puree coconut milk, syrup, peanut butter and vanilla in blender until smooth.
</li>
<li>
Pour mixture into 2 ice cube trays and freeze solid for no more than 2 days.
</li>
</ul>
<h2>Notes</h2><p>
Place half of ice cream cubes and 1/2 cup soy creamer in blender and process until smooth and creamy.  Repeat with second tray of cubes and remaining 1/2 cup creamer.SOURCE: Vegetarian Times
</p>
</body>
