<h1>Peanut Cookies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
These cookies are from Veracruz, where peanuts are produced. They can be served for breakfast, a mid-morning snack or after dinner with coffee, hot chocolate or atole.
</li>
<li>
RECIPE INGREDIENTS
</li>
<li>
2 1/2 cups all-purpose flour
</li>
<li>
1 teaspoon baking powder
</li>
<li>
7 tablespoons lard
</li>
<li>
1 egg
</li>
<li>
3 1/2 oz peanuts, shelled, skinned, toasted, and ground to a paste in a food processor
</li>
<li>
2/3 cup sugar
</li>
<li>
DIRECTIONS
</li>
<li>
Preheat the oven to 300 degrees F .
</li>
<li>
Sift the flour with the baking powder onto a clean surface. Make a well in the center and add the lard and egg. Combine the ingredients with your fingers to make a smooth dough. Add the peanut paste and knead the dough lightly.
</li>
<li>
Roll the dough into balls about the size of a walnut and put them on a greased cookie sheet 3 inches apart. Flatten the balls slightly. Bake for 20 to 25 minutes, or until they turn a light golden brown.
</li>
<li>
Remove them from the oven and sprinkle generously with sugar while they are still warm.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: The Mexican Gourmet
</p>
</div></body>
