<h1>Peanut Butter Cookies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/4 cup shortening, softened
</li>
<li>
1/2 cup chunky peanut butter
</li>
<li>
1/4 cup butter, softened
</li>
<li>
1/2 cup sugar
</li>
<li>
1/2 cup brown sugar
</li>
<li>
1 large egg
</li>
<li>
1 1/4 cups flour
</li>
<li>
1/2 teaspoon baking powder
</li>
<li>
3/4 teaspoon soda
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1/2 cup peanuts, chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix shortening, butter, peanut butter, sugars and egg thoroughly.  Blend all dry ingredients and add to butter/sugar mixture.  Chill.  Roll into balls size of large walnuts.  Place 3&quot; apart on lightly greased baking sheet.  Flatten with fork dipped in flour...crisscross.  Bake 10-12 minutes.  Makes about 3 doz. 2 1/2&quot; cookies.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : This is another tall glass of milk duo cookie.NOTES : These cookies, like snickerdoodles and chocolate chip cookies just make happiness happen.  All the smells and comfort of a warm cozy kitchen materialize right in front of your eyes (and under your nose)...doesn&#39;t take much to make some of us blissful!
</p>
<p>
SERVINGS: 36
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
