<head>
<title>Pear &amp; Cranberry Crumble</title>
</head>
<body>
<h1>Pear &amp; Cranberry Crumble</h1>
<h2>Ingredients</h2>
<ul>
<li>
Crumble:
</li>
<li>
1 1/2 cups flour
</li>
<li>
1 1/2 cups old-fashioned rolled oats
</li>
<li>
1 1/2 cups dark brown sugar
</li>
<li>
1 1/2 cups butter, cold, cut into small pieces
</li>
<li>
Filling:
</li>
<li>
1/2 cup light brown sugar
</li>
<li>
1/2 cup granulated sugar
</li>
<li>
1 tablespoon cornstarch
</li>
<li>
1/2 teaspoon ground cinnamon
</li>
<li>
12 medium ripe pears, not mushy; Barlett or Anjou
</li>
<li>
6 cups cranberries
</li>
<li>
1 teaspoon vanilla
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 375F.  Butter a wide 3 - 3 1/2 quart gratin or cassarole dish.  Combine the flour, oats, brown sugar and butter in a mixing bowl and cut together until about the side of the oats. Cover with plastic wrap and chill until needed.  This can be made up to 2 days ahead and stored in the refrigerator.
</li>
<li>
In another bowl, stir together the sugars, cornstarch, cinnamon and vanilla.  Peel and core the pears and cut into sixths or eighths.  Add the pears and cranberries to the mixing bowl and toss gently to thoroughly coat the fruit.  Scatter the fruit mixture in the baking dish, then crumble the oat mixture over top, distributing it evenly.  
</li>
<li>
Bake the crumble for 35-45 minutes or for 45-55 minutes for a deeper dish, until the topping is crisp and golden and the filling can been seen bubbling up through the cracks.  Cool at least 15 minutes....serve with soft whipped cream or ice cream.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Very comfortable, easy and delicious on a cool fall or cold winter
</p>
<p>
  night....yum!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;In the Sweet Kitchen&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Regan Daley
</p>
</body>
