<h1>Pear Sauvignon Blanc Crepes</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Crepes:
</li>
<li>
1 cup flour
</li>
<li>
1 tablespoon sugar
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 cup milk
</li>
<li>
1/3 cup water
</li>
<li>
3 eggs
</li>
<li>
3 tablespoons butter, melted
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Crepes:
</li>
<li>
1.  Process the flour, sugar &amp; salt.  Add milk, water, eggs, and butter and mix.
</li>
<li>
2.  Allow batter to stand for at least one hour.
</li>
<li>
3.  Cook crepes until golden brown and stack between sheets of wax paper.
</li>
<li>
Pears:
</li>
<li>
1.  Place water, sugar, 5-spice powder and salt in saute pan and bring to a boil.
</li>
<li>
2.  Lower heat to a simmer and add sliced pears.  Cook approximately 5-7 minutes. 
</li>
<li>
3.  Add wine and reduce to taste.  Adjust seasonings depending on acidity of pears.  
</li>
<li>
4.  Fill crepes with pears, reserving some pears for garnish and fold the crepes into quarters. 
</li>
<li>
5.  Return crepes to pan with pear sauce and cover with warm sauce.   
</li>
<li>
6.  Sauce plate and top with two warm crepes.  Garnish with pears and chopped nuts.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
- Pears and Sauce for Two Servings:
</p>
<p>
- 1 cup water
</p>
<p>
- 1 teaspoon sugar (or to taste for the pears)
</p>
<p>
- 1/3 teaspoon 5-spice powder
</p>
<p>
- dash salt
</p>
<p>
- 2 ripe pears, sliced thin
</p>
<p>
- 4 tablespoons Sauvignon Blanc
</p>
<p>
- toasted chopped walnuts
</p>
<p>
NOTES:
</p>
<p>
NOTES : WENTE VINEYARDS SAUVIGNON BLANC 1996  This dessert/wine pairing carries the similarity of sauvignon blanc in both carrying contrasts with the warm dessert and cold wine along with the crunchiness of nuts against the silky smoothness of the crepes.
</p>
<p>
SERVINGS: 2
</p>
<p>
SOURCE: Charlotte Zyskowski
</p>
</div></body>
