<head>
<title>Pear Ginger Smoothie</title>
</head>
<body>
<h1>Pear Ginger Smoothie</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Carrot juice gives this drink its orange color and lots of vitamin A.
</li>
<li>
RECIPE INGREDIENTS
</li>
<li>
1 ripe Anjou or Bartlett pear, peeled, cored and chopped
</li>
<li>
1/4 cup fresh carrot juice
</li>
<li>
1/4 cup skim milk
</li>
<li>
1/2 teaspoon finely grated fresh ginger
</li>
<li>
1/2 cup crushed ice
</li>
<li>
DIRECTIONS
</li>
<li>
Combine all of the ingredients in a blender and puree until smooth.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Food &amp; Wine
</p>
</body>
