<h1>Pear &amp; Gorgonzola Tart</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 Bosc pears, unpeeled, sliced
</li>
<li>
2 tablespoons butter, melted in skillet
</li>
<li>
4 ounces cream cheese
</li>
<li>
4 ounces gorgonzola
</li>
<li>
1 tablespoon fresh thyme, chopped
</li>
<li>
1 baked tart shell
</li>
<li>
5 slices proscuitto, chiffonade
</li>
</ul>
<h2>Method</h2><ul>
<li>
Melt butter in large skillet and melt.  Add sliced pears and check after 5 minutes.
</li>
<li>
Whip cream cheese and gorgonzola until creamy.
</li>
<li>
Spread cream cheese and gorgonzola mixture over the bottom of the tart shell.  Top with pears.  Sprinkle with proscuitto chiffonade right before serving and top with minced thyme.
</li>
</ul>
<h2>Notes</h2></body>
