<h1>Pecan Bars</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/4 pounds butter
</li>
<li>
3/4 cup sugar
</li>
<li>
3 large eggs, room temp
</li>
<li>
3/4 teaspoon vanilla
</li>
<li>
4 1/2 cups flour
</li>
<li>
1/2 teaspoon baking powder
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 pound butter
</li>
<li>
3 1/4 cups brown sugar
</li>
<li>
1 cup honey
</li>
<li>
1 teaspoon lemon zest
</li>
<li>
1 teaspoon orange zest
</li>
<li>
1/4 cup heavy cream
</li>
<li>
2 pounds pecans, chopped
</li>
<li>
1 cup whipping cream
</li>
<li>
2 cups chocolate chips
</li>
</ul>
<h2>Method</h2><ul>
<li>
Crust:	Mix 1 1/4 pounds butter and 3/4 cup sugar until fluffy on low.  Add eggs one at a time.  Add vanilla.  Sift together the flour, baking powder and salt and add to above mixture.
</li>
<li>
Spread and pat  on sheet pan and cook at 350F for about 15 minutes until set.
</li>
<li>
Filling:  In saucepan, melt 1 pound butter.  Add brown sugar, honey, zests and boil about 3 minutes.  Add cream and pecans.  Pour onto crust and bake at 350F for 20 minutes.
</li>
<li>
Chocolate Dip:   Heat whipping cream to simmer.  Pour over chocolate chips in a bowl and stir until melted completely.
</li>
<li>
When the crust with filling cools, cut into bars and dip half into the hot chocolate.
</li>
</ul>
<h2>Notes</h2></body>
