<h1>Peking Roast Duck</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 4-5 pound duckling, cleaned
</li>
<li>
Marinade:
</li>
<li>
2 tablespoons soy sauce
</li>
<li>
2 tablespoons hoisin sauce
</li>
<li>
3 slices ginger, quarter size, lightly crushed
</li>
<li>
Glaze:
</li>
<li>
1 1/2 cups water
</li>
<li>
1/4 cup rice vinegar
</li>
<li>
1/4 cup honey
</li>
<li>
1/4 teaspoon red food coloring, optional
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
16                    Mandarin Pancakes
</li>
<li>
In a large pan, parboil duck in water to cover for 3 minutes; pour into a colander and let drain.  When duck has cooled, pat dry with paper towels.
</li>
<li>
Combine marinade ingredients in a bowl; rub inside duck cavity.  Cover duck and refrigerate for 4 hours.
</li>
<li>
Combine glaze ingredients in a wide frying pan.  Cook, stirring, over medium heat, until heated through.  Remove from heat.  Tie a string around duck&#39;s neck or under its wings.  Holding duck over the pan. ladle glaze over duck 6-8 times to coat all skin areas.  Hang duck in a cool place until skin is taut and dry, 4-6 hours (like uncovered in the refrigerator).
</li>
<li>
Preheat the oven to 400F.  Place duck, breast side up, on a rack in a roasting pan.  Roast, uncovered, for 40 minutes.  Turn duck over; roast for 20 minutes, brushing occasionally with pan drippings.  Turn duck breast side up again and brush with pan drippings.  Roast until skin is brown and crisp, about 10 minutes.
</li>
<li>
Prepare a wok for steaming.  Wrap Mandarin pancakes in a damp towel and place inside steamer.  Cover and steam for about 3 minutes.
</li>
<li>
Carv duck, including the crisp skin, into thin slices; arrange on a serving plate.  To eat, spread hoisin sauce on a Mandarin pancake, place 1 or 2 slices of duck on sauce, top with slivered green onions, rool up and eat out of hand.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is the item you see hanging all over the China Towns you have
</p>
<p>
  visited....this is fabulous.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;&quot;Martin Yan&#39;s Feast&quot;&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Martin Yan
</p>
</div></body>
