<h1>Penne alla Boscaiola ( Penne with Mushrooms of the Woods)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/4 cup olive oil
</li>
<li>
1 large onion, chopped
</li>
<li>
2 carrots, chopped
</li>
<li>
2 celery, chopped
</li>
<li>
1/2 cup pancetta, chopped
</li>
<li>
1 large can tomatoes, drained, rinsed
</li>
<li>
salt and pepper
</li>
<li>
2 ounces dried porcini mushroom, soaked, drained, reserving liquid
</li>
<li>
14 ounces mixed fresh mushrooms, sliced
</li>
<li>
1/4 cup tomato paste
</li>
<li>
1/4 cup mushroom soaking water, chicken stock or
</li>
<li>
water, or mixture of liquids
</li>
<li>
1 cup olives, chopped
</li>
<li>
1/2 cup parmesan cheese
</li>
<li>
1 lb. penne pasta, cooked until almost done
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Saute onion, carrots, celery in olive oil until perfume.  Add pancetta and cook slightly.  Add tomatoes, s/p and cook briefly.
</li>
<li>
Chop soaked porcini mushrooms.  Add to mixture.  Add tomato paste and selected liquid.  Add fresh mushrooms.
</li>
<li>
Cook until mushrooms are cooked through and sauce is infused with flavors.
</li>
<li>
Add olives.  
</li>
<li>
Add cooked pasta to sauce.  Serve with fresh parmesan.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;La Miniera....Montecatini Val de Cecina&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Chef Stefania
</p>
</div></body>
