<head>
<title>Peppered Beef Filet with Red Wine Reduction Sauce</title>
</head>
<body>
<h1>Peppered Beef Filet with Red Wine Reduction Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 24-32 ounce beef fillet, cut lenthwise into 2 pieces
</li>
<li>
olive oil
</li>
<li>
2 tablespoons pepper corns, black, white, red, crushed lightly
</li>
<li>
1 handful fresh herbs: rosemary, thyme, or desired mixture, chopped
</li>
<li>
kosher salt, to taste
</li>
<li>
3 cloves garlic, smashed and broken slightly
</li>
<li>
2 shallots, minced
</li>
<li>
1 cup beef stock (preferably homemade)
</li>
<li>
1 cup red wine
</li>
<li>
1 tablespoon cold butter
</li>
<li>
salt &amp; pepper to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  In saucepan, begin reducing beef stock and wine  to about half.
</li>
<li>
2.  Place olive oil all over filet.  
</li>
<li>
3.  Mix crushed pepper corns, herbs, salt and pack onto filet, all around.
</li>
<li>
4.  In very hot saute pan, put about 2 tablespoons of oil, place broken garlic and season oil briefly with garlic.  Add filet and  sear on all sides over high heat, turning often until all sides are browned.  Place in 375F-400F oven for about 4-5 minutes.  
</li>
<li>
5.  Remove from skillet and place on warm platter and tent with aluminum foil for about 3 minutes while you make your reduction sauce.   
</li>
<li>
6.  Add shallot to pan and saute briefly.  Add wine &amp; beef stock mixture to pan drippings with &quot;left-behind&quot; herbs.  Deglaze pan by scrapping up the &quot;fond&quot; or &quot;nummy scrummies&quot; on the bottom of the pan and continue to cook reducing slightly to develop flavors.  Pour through fine sieve.  Wipe out pan with a paper towel and return the sauce to the pan and swirl in a tablespoon of cold butter.  The sauce will become glossy and slightly thickened.  Check for correct seasoning adding salt and pepper if necessary.
</li>
<li>
Added Mushrooms:  Sear mushrooms with salt and pepper,  separately in another saute pan and hold until sauce is completed.  Add mushrooms at end before serving.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Apple Charlotte Cooking Co.&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
