<head>
<title>Pepper and Salt Shrimp</title>
</head>
<body>
<h1>Pepper and Salt Shrimp</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. Medium shrimp, unshelled
</li>
<li>
3/4 teaspoon salt
</li>
<li>
1 1/2 teaspoons Shao Hsing rice cooking wine
</li>
<li>
3 tablespoons cornstarch
</li>
<li>
2 cups vegetable oil
</li>
<li>
1 teaspoon garlic, finely minced
</li>
<li>
1/4 teaspoon red pepper flakes
</li>
<li>
1 scallion, finely minced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut through the shrimp shells two-thirds of the lenght down the back of the shrimp.  Remove the legs and devein the shrimp, leaving the shells and tails on.  Pull off the sharp spine that is about 1/2&quot; long between the soft tail fins.  Rinse the shrimp under cold water and set on several thicknesses of paper towels.  Pat the shrimp completely dry with more paper towels.  Because they are deep fried, they must be bone dry before cooking.
</li>
<li>
Place the shrimp in a medium bowl, sprinkle with 1/2 teaspoon salt and the rice wine and toss to combine.  Set aside for about 10 minutes.  Do not allow the shrimp to sit for more than 10 minutes or the texture of the shrimp will be mushy.  Sprinkle the shrimp with cornstarch and toss until well combined.
</li>
<li>
In a heavy 9&quot; wide, 4&quot; high pot, heat oil over medium-high heat to 375F.  Carefully add the shrimp and cook 45 seconds to 1 minute, or just until shrimp turn bright orange.  Carefully remove shrimp with a slotted metal spoon to a platter lined with several thicknesses of paper towels.  Remove oil from heat and se aside to cool.
</li>
<li>
Heat a wok or skillet over hight heat until hot but not smoking.  Carefully add 1 tablespoon of the reserved hot oil to the wok along with the garlic and ginger, and stir fry 20-30 seconds, or until mixture just begins to turn brown.  Add the shrimp, remaining 1/4 teaspoon salt and crushed red pepper flakes, stir fry 1 minute or until shrimp are just cooked through.  Stir in the scallion and serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fabulous.........shells on and edible, crunchy and delicious!&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Grace Young
</p>
</body>
