<h1>Peppery Greens with Peaches &amp; Apricots</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 bunches watercress, leaves removed
</li>
<li>
2 bunches arugula, stems removed
</li>
<li>
2 heads radicchio, broken
</li>
<li>
2 cups whole dry dates, chopped
</li>
<li>
seasonal fruits: melon, peaches, mango,
</li>
<li>
apricots
</li>
<li>
1 large red onion
</li>
<li>
3 tablespoons rice wine vinegar
</li>
<li>
2 tablespoons lime juice
</li>
<li>
3/4 cup extra virgin olive oil
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Vinaigrette: Whisk vinegar, lime juice, olive oil and salt and pepper.  Taste for seasoning.  Lightly toss some of the vinaigrette with greens.  Plate with fruit and surround salad with vinaigrette.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
