<h1>Perfect Pound Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 tablespoons milk
</li>
<li>
3 large eggs
</li>
<li>
1 1/2 teaspoons vanilla
</li>
<li>
1 1/2 cups sifted cake flour
</li>
<li>
3/4 cup sugar
</li>
<li>
3/4 teaspoon baking powder
</li>
<li>
1/4 teaspoon salt
</li>
<li>
13 tablespoons unsalted butter, softened
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.  Grease and flour an 8&quot;x2 1/2&quot; loaf pan (4 cups) or any 6 cup loaf or fluted tube pan.
</li>
<li>
In a large mixing bowl, combine dry ingredients and mix on low speed for 30 seconds to blend.  Add the butter and half the egg mixture.  Mix on low speed until the dry ingredients are moistened.  Increase to medium speed and beat for 1 minute to aerate and develoop the cake&#39;s structure.
</li>
<li>
Scrape down sides.  Gradually add the remaining egg mixture in 2 batches, beating for 20 seconds after each addition to incorporate the ingredients and strengthen the structure.  Scrape down sides.
</li>
<li>
Scrape the batter into the prepared pan and smooth surface with a spatula.  The batter will be almost 1/2&quot; from the top of a 4 cup loaf pan.  Bake 55-65 minutes (or 35-45 minutes in a fluted tube pan) or until wooden skewer inserted in center comes out clean.  Cover loosely with buttered foil after 30 minutes to prevent overbrowning.  The cake should start to shrink from the sides of the pan only after removal from the oven.
</li>
<li>
Let the cake cool in the pan on a rack for 10 minutes and invert it onto a greased wire rack.  
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;The Cake Bible&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Rose Levy Beranbaum
</p>
</body>
