<h1>Pesto Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups fresh basil leaves
</li>
<li>
3 cloves garlic
</li>
<li>
3 tablespoons pine nuts
</li>
<li>
salt
</li>
<li>
1/2 cup olive oil
</li>
<li>
1/2 cup parmesan cheese
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place basil in food processor and mince.  While food processor is running, drop the garlic cloves down the shoot until minced into the basil.  Scrape down the sides with a spatula.  Add the pine nuts and a sprinkle of salt.  With the lid on, turn on the food processor, and drizzle int he olive oil very slowly (most food processors have a tiny hole in the top of the food shoot area that allow the very slow entry of the oil for easy emulsification).  Add the parmesan.  Process briefly.  Taste to correct seasoning.
</li>
<li>
Creamy Light Pesto Sauce:  This is great with Italian style crab cakes or even as a dip.
</li>
</ul>
<h2>Notes</h2><p>
To the above add equal parts mayonnaise and sour cream to take it to the taste you desire.  Start with 2 tablespoons of each and continue to add until it is the consistency you enjoy.SOURCE: Apple Charlotte
</p>
</body>
