<head>
<title>Phyllo Cups</title>
</head>
<body>
<h1>Phyllo Cups</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 package phyllo dough
</li>
<li>
1/2 pound  butter
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 375F.  
</li>
<li>
Take phyllo sheets one at a time and stack, brushing with melted butter between each sheet.  Stack about 14 sheets high.  Cut into squares large enough to fit into buttered muffin tins, over-lapping slightly in muffin tin.   This is best done with a pizza cutter.  Make more stacks as needed to make the desired amount of cups. 
</li>
<li>
Place muffin tins on sheet pan covered with parchment.  Place in oven and bake until golden, about 10-12 minutes.  
</li>
</ul>
<h2>Notes</h2><p>
Remove from oven and allow to cool in tins until ready to fill with favorite dessert mixture.SOURCE: Apple Charlotte
</p>
</body>
