<h1>Pickling Juice</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup water
</li>
<li>
1/2 cup rice vinegar
</li>
<li>
1/2 cup + 2 tablespoons sugar
</li>
<li>
1 whole clove
</li>
<li>
1 teaspoon mustard seed
</li>
<li>
2 tablespoons kosher salt
</li>
<li>
1 teaspoon black peppercorns
</li>
<li>
1 teaspoon chopped fresh ginger
</li>
<li>
1/2 jalepeno, seeded and chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine all of the ingredients in a saucepan and simmer for 5 minutes, or until the salt and sugar dissolves.  Let cool, strain, and use as needed.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Uses are endless!!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 cups&quot;SOURCE: Charlie Trotter
</p>
</body>
