<head>
<title>Pickled Beet Salad</title>
</head>
<body>
<h1>Pickled Beet Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 lbs. firm beets
</li>
<li>
4 teaspoons salt
</li>
<li>
1 cup dry red wine
</li>
<li>
1 cup cider vinegar
</li>
<li>
2 onions, peeled and thinly sliced
</li>
<li>
8 whole cloves
</li>
<li>
1 teaspoon ground coriander seeds
</li>
<li>
12 whole black peppercorns
</li>
<li>
6 tablespoons olive oil
</li>
<li>
2 teaspoons freshly graded horseradish
</li>
</ul>
<h2>Method</h2><ul>
<li>
Clean beets thoroughly.  Place on sheet pan with about 1/4 cup water.  Sprinkle with 2 teaspoons salt.  Cover with aluminum foil and place in 375F oven for about 1 1/2 hours or until cooked through.
</li>
<li>
When they are cool enough to handle, peel.  Cut into 1/8&quot; slices and place in glass or ceramic bowl.
</li>
<li>
In a large saucepan,  bring the red wine, vinegar, onion, coveres, coriander, peppercorns and remaining 2 teaspoons of salt over boil over high heat.  Immediately pour the mixture over the beets.  It should cover them completely; if it doesn&#39;t, add more wine.
</li>
<li>
Cool to room temperature, cover the bowl tightly with aluminum foil or plastic wrap and refrigerate for at least 24 hours.
</li>
<li>
Just before serving, discard the whole cloves and peppercorns.  Beat the olive oil and horseradish together in a small bowl and add it to the beets, turning the slices about wiht a spoon to coat them thoroughly with the dressing.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Rote Rubensalat&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Time-Life Cooking of Germany
</p>
</body>
