<h1>Pico de Gallo</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tomatoes
</li>
<li>
1/2 red onion
</li>
<li>
1 bunch cilantro
</li>
<li>
3 jalapeno chile
</li>
<li>
1 lime juice
</li>
<li>
2 mango, or papaya, pineapple, or all if desired!
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is the light, bright sauce of Mexico.  Listed are the
</p>
<p>
  ingredients.  The end product depends on your whims and tastes!&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
