<h1>Pie Crust....also called Pate Brisee</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/4 cups all purpose flour
</li>
<li>
6 tablespoons sweet butter, cut into bits
</li>
<li>
2 tablespoons white shortening
</li>
<li>
1 teaspoon salt
</li>
<li>
1 tablespoon sugar
</li>
<li>
3 tablespoons ice water, approximately
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix dry ingredients in a food processor (or mix with a spoon in a bowl).  Add cold fats and pulse gently with processor or cut in with a knife and fork if doing by hand.
</li>
<li>
Add water to food processor and pulse gently until mixture holds together between finger and thumb.  It will look crumbly.  If doing by hand, mix gently with a fork.
</li>
<li>
Pour out onto to floured board and gently pull together (do not knead).  Pat into a disk and place in frig for at least 20-30 minutes before rolling out into crust.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : This pie dough is useful for tarts, pies or quiches.  It helps to have it in the refrigerator for awhile before forming the dough; but it is not necessary.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
