<head>
<title>Pierogi</title>
</head>
<body>
<h1>Pierogi</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups flour
</li>
<li>
1 large egg
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 cup milk, approximately
</li>
<li>
Filling:
</li>
<li>
1 1/2 cups ricotta cheese, squeezed of liquid
</li>
<li>
1 teaspoon lemon juice
</li>
<li>
1 teaspoon sugar
</li>
<li>
1 large egg
</li>
<li>
1 large egg yolk
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 cube unsalted butter
</li>
<li>
sour cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place dry ingredients for dough in food processor.  Mix.  Add milk and mix until comes together.  Allow dough to rest under bowl for at least 20-30 minutes.
</li>
<li>
Meanwhile mix together all items for filling.  
</li>
<li>
After dough has rested, use pasta machine to roll out dough, doing about a quarter of the dough at a time.  Roll to about a 4 thinness.  Cut out with 2&quot; cutter and fill half with filling.  Fold over and pinch edge (wetting with a bit of water) close.  Set aside on floured sheet pan and finish others.  (Can be frozen at this point on sheet pan). 
</li>
<li>
Bring a large pot of water to a rolling boil.  Salt water.  Add pierogis a few at a time and cook briefly until floats to top and boils about 1-2 minutes more.  (Total cooking time is about 4 -5 minutes).
</li>
<li>
Melt butter on hot sheet pan and place pierogis on sheet pan when finished boiling.  To finish cooking pierogis, place under broiler briefly until bubbly.  Serve with sour cream.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;These are traditionally served in Polish familes for holidays and
</p>
<p>
  family celebrations.&quot;
</p>
<p>
SERVINGS: 24
</p>
<p>
SOURCE: Zyskowski Tradition
</p>
</body>
