<head>
<title>Pignola</title>
</head>
<body>
<h1>Pignola</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup golden raisins
</li>
<li>
2 oranges, grated zest and juice
</li>
<li>
2 3/4 cups flour
</li>
<li>
1 teaspoon salt
</li>
<li>
1 1/4 sticks unsalted butter, diced
</li>
<li>
2 large eggs, beaten
</li>
<li>
2 tablespoons tepid water
</li>
<li>
1 package yeast
</li>
<li>
1 cup slivered almonds, toasted
</li>
</ul>
<h2>Method</h2><ul>
<li>
Soak raisins, zest and juice overnight.
</li>
<li>
Mix flour and salt in mixer bowl.  Add butter and mix until butter is broken and distributed  through flour.  Add yeast and mix.
</li>
<li>
Add eggs to orange juice mixture and add to flour mixture.  Mix on low speed until dough comes together.  Change to dough hook and knead with mixer for about 5 minutes adding more flour if necessary, 1 tablespoon at a time until pliable but not sticky.
</li>
<li>
Place in bowl and cover.  Allow to rise until double for about 3 hours or overnight in the rifrigerator.
</li>
<li>
Turn out the risen dough onto a floured work surface.  Gentle knead in the almonds until they are well distributed.
</li>
<li>
Shape the dough into a round and then pat into a disk about 1 1/2 inches thick and 8 inches in diameter.  Place on a prepared baking sheet.
</li>
<li>
Place baking sheet into a plastic bag and inflate.  Allow to rise until double in size about 1 hour (longer if dough has been in the refrigerator).
</li>
<li>
Meanwhile, preheat the oven to 375F.   When dough has risen place in oven for about 35 mionutes to bake unil golden brown and sounds hollow when tapped underneath.  Transfer to a wire rack and dust with powdered sugar.  Let cool.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A wonderful Italian breakfast bread.&quot;
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Linda Collister
</p>
</body>
