<head>
<title>Pink Grapefruit Salad with Toasted Coconut &amp; Fresh Mint</title>
</head>
<body>
<h1>Pink Grapefruit Salad with Toasted Coconut &amp; Fresh Mint</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 tablespoons dried coconut, shredded, sweetened or not
</li>
<li>
4 tablespoons fresh lime juice
</li>
<li>
4 tablespoons fish sauce
</li>
<li>
2 tablespoons sugar
</li>
<li>
4 cups pink grapefruit, bite size chunks (or pomelo)
</li>
<li>
1 cup fresh mint, coarsely chopped
</li>
<li>
4 tablespoons dried shrimp, coarsely chopped (or peanuts)
</li>
<li>
2 tablespoons shallot, coarsely chopped
</li>
<li>
4 teaspoons hot green chile, finely chopped
</li>
<li>
Bibb lettuce leaves
</li>
</ul>
<h2>Method</h2><ul>
<li>
Toast the coconut in small dry skillet over medium high heat for 3-4 minutes.  Toss and cook until a rich, soft brown.  Turn out onto a plate to cool.
</li>
<li>
Combinelime juice, fish sauce and sugar in medium bowl and stir well to dissolve sugar and form a smooth sauce.  Add the grapefruit, mint, coconut, dried shrimp, shallot and chile.  Toss gently.  Transfer to platter with lettuce leave and serve at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Quick &amp; Easy Thai&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Nancie McDermott
</p>
</body>
