<head>
<title>Pissaladiere</title>
</head>
<body>
<h1>Pissaladiere</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 lbs. onions, sliced
</li>
<li>
1/4 cup extra virgin olive oil
</li>
<li>
2 long sprigs rosemary, leaves removed
</li>
<li>
handful fresh thyme, leaves removed
</li>
<li>
anchovy paste
</li>
<li>
nicoise olives
</li>
<li>
anchovy fillets
</li>
<li>
Dough:
</li>
<li>
3 cups flour
</li>
<li>
2 1/4 teaspoons yeast
</li>
<li>
1 1/4 cups water
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
1 tablespoon olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook the onions and seasoning  over low heat for 45 minutes, covered.  Uncover and cook another 45 minutes until lightly caramelized and syrupy.
</li>
<li>
Meanwhile, make the dough.  Place half of the flour in a mixing bowl and mix with yeast.  Add water and mix at medium speed on a heavy duty mixer for about 5 minutes.  Add salt and olive oil.  Add flour, mixing in with dough hook, until dough is stiff but pliable, about 8 more minutes.  Allow to rise until double, about 2 hours.  Shape into pizza shape and allow to rest for about 30 minutes.  Place onion topping on top with olives and anchovies and bake for about 15-20 minutes until crust is brown.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;The street fare of Nice....also great as an appetizer.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
