<h1>Pita Bread</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/2 cups flour
</li>
<li>
1 1/2 cups whole wheat flour
</li>
<li>
3 tablespoons olive oil, 80-90F
</li>
<li>
2 teaspoons yeast, instant SAF
</li>
<li>
2 teaspoons kosher salt
</li>
<li>
1/2 teaspoon sugar
</li>
<li>
melted butter
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine everything except butter in food processor.
</li>
<li>
Process for about 30 seconds, adding more water, a tiny bit at a time, until mixture forms a ball and is sticky to the touch. 
</li>
<li>
Knead by hand to form a smooth round dough.  Place dough in oiled bowl and cover with plastic wrap.  Allow to rise for about 1-2 hours (this can rise more slowly in the frig for 6-8 hours).
</li>
<li>
Form the ball of dough into 6 or more pieces and roll each into a round ball.  Place balls on a slightly floured surface and cover with a towel.  Let rest for 20-30 minutes until slightly puffed.
</li>
<li>
Roll out each ball to about 1/4&quot; or less using flour as necessary to prevent sticking.  Place on a floured surface and keep covered.  When all the disks are rolled, preheat the oven to 500F.  While the oven is heating up, allow the disks to rest for 20 minutes.
</li>
<li>
Place disks, as many as will fit, on preheated pizza stone by sliding in with a peel or a large spatula. (You can bake 2 disks at a time on a cookie sheet).  Bake for 5-8 minutes until lightly browned.
</li>
<li>
As they finish baking, remove from oven, brush with melted butter if going to eat soon.  If not, cool and store in plastic bags.  Reheat in 300F oven before using.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:
</p>
<p>
  &quot;16 pitas&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Mark Bittman
</p>
</div></body>
