<head>
<title>Pizzoccheri (Buckwheat Noodles) with Fontina &amp; Swiss Chard</title>
</head>
<body>
<h1>Pizzoccheri (Buckwheat Noodles) with Fontina &amp; Swiss Chard</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 stick unsalted butter
</li>
<li>
8 cloves garlic, lightly crushed &amp; peeled
</li>
<li>
8 fresh sage leaves
</li>
<li>
salt
</li>
<li>
2 poundss pizzoccherri (buckwheat noodles or use
</li>
<li>
wheat)
</li>
<li>
1 lb. new potatoes, peeled &amp; cut into slices 1/4&quot;
</li>
<li>
2 cups Swiss chard stalks, cut 1&quot; long
</li>
<li>
2 cups Swiss chard leaves, torn into small pieces
</li>
<li>
8 ounces fontina cheese, cut into slivers
</li>
<li>
1 cup parmegiano-reggiano cheese, grated
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 400F
</li>
<li>
Melt the butter in a small saucepan over a medium-high heat. Add the garlic and the sage and cook until the garlic has lightly browned on all sides.
</li>
<li>
Bring 4 quarts of water to a boil in a large saucepan or pot.  Put in 1 tablespoon of salt, the pasta and the potatoes and cook for 8 minutes, adding, after five minutes the Swiss chard stalks.
</li>
<li>
Drop in the Swiss chard leaves and when the water returns to a boil, cook for about 1 minute.  By this time the pasta should be al dente.
</li>
<li>
Drain the pasta and the vegetables and transfer them to a mixing bowl.  Pour the butter through a strainer over them and add three quarters of the fontina and half the grated cheese.  Toss well and transfer to a butter baking dish.  Sprikle the remaining cheeses on top.
</li>
<li>
Bake on the upper rack of the oven for about 5 minutes.  Remove the baking dish and allow the pasta to rest for 2-3 minutes before serving.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This rustic pasta dish comes from the northern Italy.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Giuliano Hazan
</p>
</body>
