<h1>Pizza Dough</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 package active dry yeast
</li>
<li>
1/4 cup water
</li>
<li>
4 1/2 cups flour
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 1/2 cups water
</li>
<li>
6 tablespoons olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix 1/4 cup water with yeast and allow to bubble slightly.  Mound flour, salt on board.  Add yeast mixture and remaining water and oil to well and slowly mix together flour from sides with fork or spoon until ingredients begin to come together.  Begin to knead and knead aobut 7 minutes.  Roll into ball and cover to about 1 hour.  Shape into pizzas, place ion pans, pre-bake at hight heat (425-450F) before adding toppings.  Add desired toppings, dribble with a little oil and finish baking.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fattoria Medicia&quot;SOURCE: Fattoria Medicea
</p>
</body>
