<h1>Pizza Dough</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups bread flour
</li>
<li>
1 package active dry yeast
</li>
<li>
1 1/4 cups water, slightly warm
</li>
<li>
1 1/2 teaspoons sea salt
</li>
<li>
1 tablespoon olive oil
</li>
<li>
2 teaspoons sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place 1/2 flour, yeast, water and oil in mixer.  Mix for 5 minutes.  Add rest of flour and mix with dough hook until mass forms, mixing another 2 minutes.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;2 pizzas&quot;SOURCE: Apple Charlotte
</p>
</body>
