<head>
<title>Pizza Dough</title>
</head>
<body>
<h1>Pizza Dough</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups 00 pizza flour*, bread flour or AP flour, 1 cup whole wheat if desired
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
1 teaspoon sugar
</li>
<li>
2 1/4 teaspoons yeast
</li>
<li>
1 1/4 cups water
</li>
<li>
1 tablespoon olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place all dry ingredients into a food processor.  Mix olive oil and water in a measuring cup.  Process dry ingredients.  While the food processor is on, add liquid ingredients down the shoot.  Process for no more than one minute.
</li>
<li>
Pour onto floured board.  Knead slightly and roll into a ball.  Place into oiled bowl.  Cover with plastic wrap and allow to rise 1-1 1/2 hours.  
</li>
</ul>
<h2>Notes</h2><p>
Preheat oven to 500F for 20-30 minutes.  Shape dough into pizzas, top with favorite topping and bake for about 8-10 minutes.SOURCE: Apple Charlotte
</p>
</body>
