<h1>Plum &amp; Lavender Chutney</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/2 lbs. plums, red or purple, almost ripe
</li>
<li>
1 medium onion, minced
</li>
<li>
1 lemon, juiced and zested
</li>
<li>
2 tablespoons fresh ginger, minced
</li>
<li>
1 tablespoon yellow mustard seeds
</li>
<li>
1/4 teaspoon dried red pepper flakes
</li>
<li>
6 tablespoons red wine vinegar
</li>
<li>
1 cup dark brown sugar, packed
</li>
<li>
3/4 teaspoon salt
</li>
<li>
1 1/2 tablespoons fresh lavender buds or 2 teaspoons dried
</li>
</ul>
<h2>Method</h2><ul>
<li>
Remove pits from plums and cut into 1/2 inch wedges.  Place in a heavy bottomed saucepan and stir in the onion zest and lemon juice, ginger, mustard, red pepper flakes, vinegar, brown sugar and salt.  Bring the mixture to a boil.  Reduce the heat to low and simmer, stirring often, until it has a jamlike consistency, 35-45 minutes.  Stir in the lavender.  Taste and season with additional salt or red pepper flakes if desired.
</li>
<li>
Meanwhile sterlize 4 half-pint canning jars by submerging them in a large pot of boiling water (covering completely by water) and boiling them for 10 minutes.  Leave the jars in the hot water until the chutney is ready.  bring a small saucepan of water to a boil, drop in the bands and 4 new canning lids and remove the pan from the heat.
</li>
<li>
Using a jar lifter, grip 1 sterile jar in the hot water, lift, and drain it.  Set the jar on a clean towel.  Ladle in the chutney, filling it to 1/4 inch from the top.  Use a canning funnel if you have one.  Wipe off any spills from the rim of the jar with a damp paper towel.  Use tongs to lift a lid and band from the hot water.  Set the lid on the jar and then scrrew on the band snugly but not overly tight.  Fiff and seal the remaining jars in the same manner.  Process the jars by boiling them in a canning kettle for 10 minutes accoring to the instructions that come with lids or jars.  Let the jars cool right side up on a clean towel.  If the jars are properly sealed, the center of the lid will not yield when you press on it.  If any jars did not seal, keep them refrigerated.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is fabulous with Stilton cheese or  layered on a turkey
</p>
<p>
  sandwich....try it in place of cranberry sauce for Thanksgiving!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;&quot;The Herbfarm Cookbook&quot;&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 cup&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Jerry Traunfeld
</p>
</body>
