<h1>Plum Kuchen</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup all purpose flour
</li>
<li>
1 tablespoon baking powder
</li>
<li>
1/8 teaspoon salt
</li>
<li>
8 tablespoons unsalted butter, room temperature
</li>
<li>
3/4 cup sugar
</li>
<li>
2 large eggs
</li>
<li>
2 cups plums, sliced and unpeeled
</li>
<li>
1/4 cup pecans or walnuts, coarsely chopped
</li>
<li>
1 tablespoon sugar
</li>
<li>
1/4 teaspoon ground cinnamon
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 350F and grease a 9&quot; round pan.
</li>
<li>
Whisk together thoroughly flour, baking powder and salt.  In a large bowl, place butter and 3/4 cup sugar and beat until light and fluffy for 3-4 minutes.
</li>
<li>
Add the eggs one at a time and beat until just blended.  Stir in the flour mixture just until incorporated.  Scrape the batter into the pan and spread evenly.  Scatter on top the plums and nuts.  Combine the last 1 tablespoon of sugar and ground cinnamon and sprinkle over the fruit.  
</li>
<li>
Bake until the topping is golden brown and a toothpick inserted in the center of the cake (avoiding the fruit) comes out clean, 40-45 minutes.  Let cool to room temperature before serving.  Perfect with freshly whipped cream or a sprinkling of powdered sugar (or both!).
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a very lightly sweeten cake that can be made with any fruit
</p>
<p>
  in season.&quot;
</p>
</div></body>
