<h1>Poached Salmon Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 1/2 lbs. salmon fillet, skinned, pin bones removed
</li>
<li>
1 cup dry white wine
</li>
<li>
3 cups water (approximately...to cover fillet)
</li>
<li>
1 orange, quartered and juiced
</li>
<li>
1 lime, quartered and juiced
</li>
<li>
1 lemon, quartered and juiced
</li>
<li>
1/2 jar pickling spice
</li>
<li>
Salad:
</li>
<li>
mixture of greens
</li>
<li>
8 plum tomatoes, thinly sliced
</li>
<li>
8 small red new potatoes, cooked
</li>
<li>
1/2 cup slivered red or white onion
</li>
<li>
1/2 lb. zucchini, cut julienne, or green vegetable of choice
</li>
<li>
6 scallions, thinly sliced
</li>
<li>
The above vegetables items can be a
</li>
<li>
mixture of anything you would like or that
</li>
<li>
is seasonal.
</li>
<li>
Dressing:
</li>
<li>
3 tablespoons champagne vinegar
</li>
<li>
3 tablespoons dry white wine
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1 1/2 teaspoons Dijon mustard (to taste), or hot mustard
</li>
<li>
2 teaspoons garlic, minced
</li>
<li>
1 teaspoon shallot, minced
</li>
<li>
salt to taste
</li>
<li>
pepper to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix the wine, water, citrus juices with the peels and pickling spice in a large skillet, big enough to hold fish.  Bring this mixture to a boil and then turn to simmer and simmer for about 10 minutes.
</li>
<li>
Place the fish into the liquid and simmer slowly for about 7-9 minutes.  Take the fish out and place on plate and finish the salad.
</li>
<li>
Mix the ingredients together.  On 8 separate plates, place some greens.  Attractively arrange the other ingredients on the plate placing a fish portion in the center.  Dribble the dressing over the fish and salad.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a fabulous salad to enjoy on a hot summer day.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
