<h1>Poached Pears</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 cups sauvagnon blanc, red wine can be used if desired
</li>
<li>
6 cups water
</li>
<li>
1 1/2 cups sugar
</li>
<li>
2 cinnamon stick
</li>
<li>
4 anise stars
</li>
<li>
1 bay leaf
</li>
<li>
12 whole cloves
</li>
<li>
6 pears, not too ripe
</li>
</ul>
<h2>Method</h2><ul>
<li>
Bring all to a boil and then simmer for about 20 minutes while preparing pears.  
</li>
<li>
Peel pears, halve and take out core with melon baller.  Lower the pears into the poaching liquid and poach until easily pierced with a skewer.  Cool in some of the liquid.  The liquid can be used again.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;These are terrific to have available for a salad or used in a
</p>
<p>
  dessert.  The amount of sugar and cooking time needs to be adjusted depending on the    ripeness of the fruit.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Char
</p>
</body>
