<h1>Poached Pears</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
12 Bosc pears, ripe but not overripe
</li>
<li>
juice of 2 lemons
</li>
<li>
6 cups dry white wine
</li>
<li>
2 pieces lemon peel
</li>
<li>
juice of 6 oranges
</li>
<li>
4 whole cloves
</li>
<li>
1 1/2 cups granulated sugar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Peel the pears leaving the stem top.  Slice the bottom of the pear flat to stand the pear up.  Remove, carefully, with a paring knife the core and seeds from the bottom of the pear.
</li>
<li>
Place lemon juice, wine, peel, orange juice cloves and sugar in a large pan and bring to a boil to disolve the  sugar.  Add the fruit and simmer carefully for about  20-25 minutes until easily pierced with a wooden pick.  They should remain whole and beautiful.  Transfer the pears to a large platter or glass pan where they can cool.
</li>
<li>
Meanwhile, take the cloves and peel out of the liquid.  Reduce the liquid until a thick syrup is formed.  This takes about 1 1/2 - 2 hours.
</li>
<li>
Cool the syrup completely.
</li>
<li>
Serve the pears, standing upright, on a plate with syrup poured over.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
</div></body>
