<h1>Poached Salmon with Champagne Dill Vinaigrette</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 lbs. salmon fillet, skinned, pin bones removed
</li>
<li>
1 cup dry white wine
</li>
<li>
1 orange, quartered, juiced
</li>
<li>
1 lemon, quartered, juiced
</li>
<li>
1 lime, quartered, juiced
</li>
<li>
3 tablespoons pickling spice
</li>
<li>
Vinaigrette:
</li>
<li>
4 tablespoons Champagne wine vinegar
</li>
<li>
4 tablespoons dry white wine, Champagne
</li>
<li>
3 tablespoons extra virgin olive oil
</li>
<li>
1 1/2 teaspoons Dijon mustard
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1 small shallot, minced
</li>
<li>
salt and pepper, to taste
</li>
<li>
1/4 cup fresh dill, chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 10
</p>
</div></body>
