<h1>Polenta Lodigiana (Polenta Cheese Sandwiches)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 recipe Polenta
</li>
<li>
1/2 lb. Asiago Fesco, Parmesan Reggiano, Romano,
</li>
<li>
or Fontina cheese, choose one
</li>
<li>
flour for dredging
</li>
<li>
2 eggs, beaten
</li>
<li>
breadcrumbs, amount needed
</li>
<li>
olive oil for frying
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Make the polenta as directed and pour into a 1 1/4&quot; x9x12 inch pan to cool completely.  Cut the firm polenta in half horizontally.  Place the cheese on one half and cover with the other piece of polenta to make a sandwich.  Cut the polenta into squares about 3x3 inches or smaller if you wish.
</li>
<li>
Heat the oil to about 350 degrees in a small skillet.  Meanwhile, lightly dredge the polenta &quot;sandwiches&quot; in the flour, then in the beaten eggs, and then in the breadcrumbs.  Fry the polenta until it is hot and breadcrumbs have turned dark gold.  Move to a kitchen towel to drain.  Continue until you have fried them all.  Serve them very hot on heated plates.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : As a starter...with a plate of fruit.NOTES : This is a treat...cut the pieces small and you will get at least twice as much.  These are very rich so a little goes a long way...but oh so good!
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Carlo Middione, San Francisco
</p>
</div></body>
