<h1>Pomegranite Ginger Spritzer</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Pomegranate Ginger Spritzer
</li>
<li>
Side Items  Drink  Side Items Drink 
</li>
<li>
Submitted by DEGAIA
</li>
<li>
A tasty non-alcoholic way to get your antioxidants. This drink can be made with a sugar-free ginger ale to lower the calorie and carb counts.
</li>
<li>
Recipe Added to SparkPeople.com (what&#39;s this)
</li>
<li>
Ingredients
</li>
<li>
Pomegranate Juice, 16 oz bottle
</li>
<li>
Ginger Ale, 12 oz bottle
</li>
<li>
Juice of 2 limes
</li>
<li>
Directions
</li>
<li>
Combine all ingredients. 
</li>
<li>
Serve chilled in wine goblets.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Number of Servings: 4
</p>
<p>
Recipe submitted by SparkPeople user DEGAIA. 
</p>
<p>
Number of Servings: 4 SOURCE: Spark People
</p>
</div></body>
