<h1>Poolish Focaccia</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 cups poolish
</li>
<li>
2 2/3 cups bread flour
</li>
<li>
1 tablespoon sea salt
</li>
<li>
1 1/2 tablespoons yeast
</li>
<li>
1/2 cup olive oil
</li>
<li>
1/4 cup white wine, room temperature
</li>
<li>
1/2 cup warm water
</li>
<li>
topping......oil, herbs, salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Take the chill off the poolish before mixing.
</li>
<li>
Mix dry ingredients except salt with about half of the flour and poolish.  Add wine and water.  Mix with paddle until mixture is mixed and continue mixing for about 3 minutes. Change to the dough hook.   Slowly add the rest of the flour about 1/2 cup at a time until all is in.  Continue to knead about 5 minutes until you achieve a smooth sticky dough.  It will clear the sides of the bowl but stick to the bottom of the bowl.
</li>
<li>
Place in a bowl and rise for about 1 1/2 hours.  Take out and stretch into a sheet pan or pizza pan. Allow to rise.  
</li>
<li>
Before baking in a 450F oven...dimple with fingers.  Top with olive and salt and herb(s) of choice.  Bake about 25 minutes until dark on top.
</li>
<li>
For a soft &quot;sandwich&quot; crust, douse with olive oil upon retrieving from oven.  Cool on rack.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is one of Apple Charlotte&#39;s favorite ways with bread....and my
</p>
<p>
  customers&#39; too!&quot;
</p>
<p>
SERVINGS: 12
</p>
</div></body>
