<head>
<title>Pork with Country Gravy</title>
</head>
<body>
<h1>Pork with Country Gravy</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 lb. bacon
</li>
<li>
1 pork tenderloin, pork chops are great too!
</li>
<li>
1 tablespoon olive oil or butter
</li>
<li>
1 large shallot
</li>
<li>
1 clove garlic, smashed and minced
</li>
<li>
1 tablespoon fresh sage, minced
</li>
<li>
salt and pepper
</li>
<li>
4 tablespoons bacon fat (or fat from meat cooked, i.e.
</li>
<li>
chicken, beef, sausage)
</li>
<li>
4 tablespoons flour
</li>
<li>
2 cups milk, warmed
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook the bacon and render fat.  Put the bacon aside and pour off  all but 1 tablespoon of fat and reserve.  Place olive oil or butter in pan and add shallot, garlic and sage.  Add the pork tenderloin and sear.  Finish in 375F oven for about 12-15 minutes until internal temperature is at about 155.
</li>
<li>
Take out of oven.  Tent with aluminum foil on warm plate while you make the gravy.  
</li>
<li>
Place the rendered fat back into the pan (add enough butter to make 4 tablespoons total).  Add flour and make a roux.  Cook this roux at least 3-5 minutes until flour taste is cooked out....it will begin to smell a bit like cooked biscuits.  Take the roux off the fire and add the warmed milk.  Add a little at a time, not adding all at once to generate the correct consistency.  Cook until thickened.  Season with salt and pepper and return bacon bits to gravy.  Keep warm.
</li>
<li>
Go back to your tenderloin and slice.  Plate and serve with gravy. 
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;An old-fashioned take on a favorite standard!  Make this country
</p>
<p>
  gravy with any meat sauteed or cooked in this manner.  With red meat
</p>
<p>
  you would use stock or water.&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
