<head>
<title>Pork Loin Sandwiches with Alioli &amp; Arugula</title>
</head>
<body>
<h1>Pork Loin Sandwiches with Alioli &amp; Arugula</h1>
<h2>Ingredients</h2>
<ul>
<li>
Brine:
</li>
<li>
3 cups water
</li>
<li>
2 1/2 cups honey
</li>
<li>
1 yellow onion, chopped
</li>
<li>
1 whole garlic head, helved crosswise
</li>
<li>
1 bunch rosemary, 1&quot; lengths
</li>
<li>
2 tablespoons salt
</li>
<li>
2 tablespoons mustard seeds
</li>
<li>
2 tablespoons black peppercorns
</li>
<li>
2 tablespoons crushed red pepper
</li>
<li>
1 bay leaf
</li>
<li>
pinch freshly ground nutmeg
</li>
<li>
6 cups ice
</li>
</ul>
<h2>Method</h2><ul>
<li>
1         center-cut  boneless pork oin -- about 4 pounds
</li>
<li>
  3        tablespoons  spicy rub
</li>
<li>
  3               or 4  baguettes
</li>
<li>
  3             cloves  garlic -- halved
</li>
<li>
                        Alioli
</li>
<li>
                        salt
</li>
<li>
  2               cups  arugula -- loosely packed leaves
</li>
<li>
Brine:  Combine all ingredients exept ice in  a large saucpan over medium-high heat and heat to dissolve the honey and infuse the spices.  Place the ice in a large glass bowl.  Pour the brine mixture over the ice.  When the ice has melted, add pork.  Cover &amp; cure in the frig for 2 days.
</li>
<li>
Preheat the grill to 425 F.
</li>
<li>
Mix the oil and the spicy rub in a small bowl.  Remove the pork from the brine and discard the brine.  Pat the meat dry and rub it all over with 1/4 cup of the oil mixture.
</li>
<li>
Sear the meat on a hot grill pan over high heat about 2 minutes for each side.  Close the lid and roast in the grill until the internal temperature is 135F, about 30 minutes. Remove from grill and cover briefly with aluminum foil.  Slice into thin medallions.
</li>
</ul>
<h2>Notes</h2><p>
Cut baguettes into sandwich lengths and then slice them in half lengthwise, leaving a hinge.  Rub the inside of the bread with cut side of garlic.  Spread the alioli over the bread.  Layer the pork medallions on the bread and drizzle with the remaining 1/4 cup oil mixture, sprinkle with salt and top with arugula leaves.SOURCE: Oliver Said
</p>
</body>
