<h1>Pork Picadillo</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 tablespoons canola oil
</li>
<li>
4 lbs. ground pork
</li>
<li>
2 large onions, finely chopped
</li>
<li>
5 cloves garlic, finely`
</li>
<li>
6 medium tomatoes, peeled and chopped
</li>
<li>
4 apples, granny smith is best
</li>
<li>
4 hot green chiles, jalapenos are good
</li>
<li>
1 1/2 cups raisins, soaked in hot water
</li>
<li>
1 cup pimiento olives, halved
</li>
<li>
1 1/2 teaspoons oregano
</li>
<li>
1 teaspoon thyme
</li>
<li>
2 tablespoons butter
</li>
<li>
1 1/2 cups slivered almonds
</li>
</ul>
<h2>Method</h2><ul>
<li>
Lightly brown pork in oil in heavy pan.  Add the onion and garlic and cook until translucent.  Add the rest of the ingredients except the butter and almonds.  Simmer, uncovered for about 20 minutes.
</li>
<li>
In another pan, saute the almonds in the butter until golden brown.  Mound the meat on a platter and scatter with the almonds.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a dish that can be made with pork or ground beef and is used
</p>
<p>
  in a variety of ways:  stuffing peppers, filling for tacos, tamales
</p>
<p>
  and empanadas.  A great all round recipe to have.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from a recipe by Elizabeth Ortiz
</p>
</body>
