<head>
<title>Pork Tenderloin with Wasabi-Ginger Glaze</title>
</head>
<body>
<h1>Pork Tenderloin with Wasabi-Ginger Glaze</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup low sodium soy sauce
</li>
<li>
2 pork tenderloins
</li>
<li>
1/4 cup Dundee Ginger Marmalade
</li>
<li>
4 teaspoons wasabi paste
</li>
<li>
cooking spray
</li>
<li>
1/4 cup fresh cilantro, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Spoon 1 tablespoon of soy sauce over each tenderloin and allow to marinade about 15 minutes.  
</li>
<li>
Whisk the remaining 2 tablespoons of soy sauce, ginger marmalade and 4 teaspoons wasabi in a small bowl.  Heat outside grill to a temperature of 400-450F.  Coat grill with cooking spray.  Place pork tenderloins on grill and sear all around, leaving grill marks...about 5-8 minutes.  Turn off heat directly under the tenderloins, close the lid and allow to roast another 10-15 minutes or until cooking thermometer registers 145F.  Place tenderloins on warm platter and cover with aluminum foil.  Allow to rest about 3 minutes.  Slice and spoon with sauce, sprinkle with cilantro and serve.    
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Cooking Light
</p>
</body>
