<h1>Pork Barbeque Sandwiches</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 10-pound pork shoulders, with bone
</li>
<li>
hickory chips &amp; charcoal for grilling,
</li>
<li>
50:50 ratio
</li>
<li>
4 cups white wine vinegar
</li>
<li>
1 1/3 cups ketchup
</li>
<li>
2/3 cup sugar
</li>
<li>
1/2 cup honey
</li>
<li>
1 teaspoon cayenne
</li>
<li>
1 teaspoon coarse salt
</li>
<li>
1 teaspoon freshly ground pepper
</li>
<li>
30 hamburger buns, split
</li>
<li>
Red Green Slaw
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 500F.
</li>
<li>
Wrap the pork shoulders in aluminum foil and place in a large heavy roasting pan.  Roast the pork shoulders for 20 minutes at 500 then reduce the heat to 250 and cook for an additional 5 hours, turining them every hour.
</li>
<li>
Using a covered grill, start the fire one hour before the pork shoulders are finished roasting, using the mixture of hickory chips and charcoal.  When the pork shoulders are roasted, remove the foil and transfer them to the grill.  Cover the grill and smoke the pork for 20-40 minutes.  
</li>
<li>
Allow the meat to cool so it can be handled, then transfer it to a large bowl.  Remove the meat from the bone and using your fingers, finely shred the meat.  
</li>
<li>
In a medium saucepan, mix together vinegar, ketchup, sugar, honey, cayenne pepper, salt, and pepper.  Simmer the sauce ingredients for 10 minutes over low heat.  Reserve 1 cup of sauce and pour the remaining sauce over the meat and toss until the meat is evenly coated.  Keep the meat warm in double boiler until ready to serve.
</li>
<li>
To serve, spoon a portion of meat onto the bottom of a soft bun, mound the Red Green Slaw on top of it, and pour a little of the remaining sauce over all, then top with the second half of the bun.
</li>
<li>
The meat can be made a day or two in advance and kept in an airtight container in the refrigerator.  To serve, reheat it in the top of a double boiler over simmering, not boiling, water.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 30
</p>
<p>
SOURCE: Martha Stewart
</p>
</body>
