<h1>Pork Loin</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 pork loin, as opposed to a pork tenderloin
</li>
<li>
olive oil
</li>
<li>
garlic
</li>
<li>
herbs
</li>
</ul>
<h2>Method</h2><ul>
<li>
Oven preheated to 450F.  Prepare pork loin by pouring olive oil, s/p, herbs all over.  Allow to sit a room temperature for 1/2 hour.
</li>
<li>
Place in 450F oven for 10 minutes.  Turn oven down to 300F.  Allow to finish cooking for 45 minutes to 1 1/2 hours depending on size.  Check internal temperature at 45 minutes.  Should read 150 when done.  Allow to rest covered on warm platter for at least 10 minutes before carving.  Remember....the meat is still cooking.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a method for roasting a larger piece of meat; i.e., pork
</p>
<p>
  loin, prime rib, leg of lamb, etc.&quot;
</p>
</body>
