<h1>Pork Tenderloin</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 Pork Tenderloin
</li>
<li>
olive oil
</li>
<li>
fresh herbs
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
All in One Pan:  Above with zucchini,
</li>
<li>
                        yellow zucchini, apple, s/p, honey before
</li>
<li>
                        placing in oven.
</li>
<li>
Cover tenderloin with o/o, herbs and s/p.  Let sit at room temp for about 1/2 hr.
</li>
<li>
Heat saute pan until hot and  sear tenderloin all around.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Pop in 400 F oven and cook to instant read thermometer reads 150F.  Tent tenderloin with aluminum foil and allow  to rest for about 10 minutes before carving.SOURCE: Char
</p>
</div></body>
