<h1>Pork Barbeque Menu</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Pork Barbecue Sandwiches (pork mixture can be made one day in advance)
</li>
<li>
Roquefort Potato Salad (made in advance to dressing; add basil and roquefort at end)
</li>
<li>
Hush Puppies (made right before service)
</li>
<li>
Red Green Slaw (made morning of event)
</li>
<li>
Little Fruit Pies (made morning of event)
</li>
<li>
Homemade Vanilla Ice Cream
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 16
</p>
</div></body>
