<h1>Potato-Apple Bread</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. floury potatoes, cooked, recipe below
</li>
<li>
1 teaspoon sea salt
</li>
<li>
1/2 teaspoon baking powder
</li>
<li>
3 tablespoons unsalted butter, diced
</li>
<li>
3 tablespoons unbleached flour, approximate (3-5 tablespoons)
</li>
<li>
2 medium apples, tart, peeled, cored and thinly sliced
</li>
<li>
pat of butter
</li>
<li>
griddle or heavy frying pan
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
The potatoes can either be baked or boiled in their skins until tender.  When cool enough to handle, peel off the skins, then put the hot flesh through a potato ricer or mash it...do not put into a food processor or you will have wallpaper paste.  
</li>
<li>
Stir in the salt, baking powder, and diced butter, then work in enough flour to make a firm dough...the exact amount will depend on the type of potato you use and how it was cooked.
</li>
<li>
Divide the dough into two equal pieces.  On a well-floured work surface, roll out each piece to a round about 7 inces in diameter.  Cover one round with the apple slices and add the pat of butter, then cover with the other round of dough.  Crimp or pinch the edges together to seal.
</li>
<li>
Heat the greased griddle or pan over medium heat.  Add the potato bread.  Turn the heat to low and cook gently until golden brown on the underside...about 5 minutes.  Using a large spatula, lift the bread onto a flat plate, then quickly invert it back onto the griddle so the bread can cook on the other side.  Cook for a further 4-5 minutes until browned.  Cut into wedges and eat immediately.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Originally from County Armagh, Ireland...wonderful served with hot
</p>
<p>
  ham.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Country Breads of the World&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Tom Jaine
</p>
</div></body>
