<h1>Potato Strips</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 large Yukon Gold potatoes
</li>
<li>
olive oil
</li>
<li>
salt and pepper
</li>
<li>
paprika
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Peel and cut potatoes into 6-8 strips, depending on the size, each.  Boil until just easy to pierce.  Drain.  Place in bowl and splash olive oil over all; season with s/p.
</li>
<li>
Grill on grill pan on stove top or on outside grill.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
</div></body>
