<head>
<title>Potato Gruyere Soup</title>
</head>
<body>
<h1>Potato Gruyere Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
leek
</li>
<li>
celery
</li>
<li>
potatoes
</li>
<li>
garlic
</li>
<li>
milk
</li>
<li>
butter
</li>
<li>
gruyere cheese
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Cut the leek in half and slice.
</li>
<li>
2.  Cut the celery in a small dice; smash and mince garlic.
</li>
<li>
3.  Sweat in butter in sauce pan for a few minutes.
</li>
<li>
4.  Place potatoes cut in about 2&quot; chunks in pan and cover with milk.
</li>
<li>
5.  Simmer until potatoes &amp; celery are cooked through.
</li>
<li>
6.  Mash or puree potato mixture with milk.
</li>
<li>
7.  Add milk to thin as desired for soup consistency.
</li>
<li>
8.  Add gruyere cheese to taste.
</li>
<li>
9.  Salt &amp; pepper to taste.
</li>
<li>
10.  Serve with thinly sliced scallions and garlic croutons if desired.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is a vegetarian version of potato soup and equally as delicious.  This time I have given you the componants of the soup and want you to use your tastebuds to make it perfect!  It will be....
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
