<head>
<title>Potato Herb Rolls</title>
</head>
<body>
<h1>Potato Herb Rolls</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 large russet potatoes, boiled, well mashed
</li>
<li>
2 cups warm water, or cooled potato water
</li>
<li>
1 cup sugar
</li>
<li>
3 tablespoons Saf-instant dry yeast*
</li>
<li>
1 cup whole wheat flour
</li>
<li>
9 cups ap flour
</li>
<li>
2 teaspoons fresh thyme leaves, chopped,  (or other herb(s) of choice
</li>
<li>
6 large eggs, room temperature
</li>
<li>
1 cube unsalted butter, melted &amp; cooled
</li>
<li>
3 teaspoons salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cool mashed potatoes to warm.
</li>
<li>
Place mashed potatoes, water, sugar and yeast in large mixing bowl and mix briefly with the paddle attachment to electric mixer.  Add 1 cup of whole wheat flour and 1 cup of ap flour and mix until smooth (don&#39;t worry about lumps from potato).  Add an additional 1 cup flour and mix again.  Cover with plastic wrap and allow to rise until doubled about 1 hour.  Remove the eggs from the refrigerator and bring to room temperature.  
</li>
<li>
Add the thyme to the above mixture and add the eggs, one at a time, mixing after each addition.  Mix in the butter &amp; salt.  Add 5 cups of ap flour, mixing in with paddle attachment.  Change the paddle attachment to kneading hook for the mixer and add the last 2 cups of ap flour,  1/2 cup at a time, allowing the flour to completely integrate as you add the last of the flour.  (It may be necessary to add even more flour to the dough....add 1/4-1/2 cup at a time up to 1 cup more if necessary).  The final dough will be quite soft.  
</li>
<li>
Flour your work surface.  Pour the dough on the floured work surface and knead briefly to the right consistency.  Roll the dough out to 3/4&quot; thick.  Cut the dough into 2&quot; squares (smaller for hors d&#39;oeuvre rolls) and place them on a buttered sheet pan, leaving room to expand between rolls.  Cover with a cloth, and allow to rise until about doubled, about
</li>
<li>
1 1/2 - 2 hours.
</li>
<li>
Preheat oven to 350F.  Bake rolls about 12 minutes.  Can be served warm or at room temperature.
</li>
<li>
*Saf-Instant yeast is NOT a rapid rise yeast.  It is called &quot;instant&quot; because it can be mixed in with the flour mixture without &quot;proofing&quot; it first in a little warm water.   It can be found in some super markets, bakery specialty stores and even some kitchen shops.  If you can&#39;t find this yeast, use a regular yeast and &quot;proof&quot; it before adding to the liquid portion by placing it in 1/2 cup of warm water (replacing some of the water in the recipe) and waiting for it to bubble, in about 10 minutes.  Add in with the liquid portion of the recipe.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Apple Charlotte
</p>
</body>
