<h1>Potato Saffron Omelet</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 large onions, chopped fine
</li>
<li>
5 tablespoons olive oil
</li>
<li>
3 russet potatoes (about 1 1/2 pounds)
</li>
<li>
1/4 teaspoon saffron threads
</li>
<li>
1/4 cup chicken broth
</li>
<li>
6 large eggs
</li>
<li>
1/2 cup thinly sliced scallion greens
</li>
</ul>
<h2>Method</h2><ul>
<li>
In a 12&quot; non-stick skillet cook onions in 2 tablespoons of oil over moderate heat, stirring occasionally, until golden, about 20 minutes.  Transfer onions to a bowl and cool.
</li>
<li>
While onions are cooking, peel potatoes and cut into 1/2 inch cubes.  In a saucepan of boiling salted water cook potatoes until almost tender about 8 minutes, and drain well in a colander.  Cool potatoes and add to onions.  Onion and potato mixture may be made 1 day ahead and chilled, cover.
</li>
<li>
Crumble saffron threads into a small bowl.  In a small saucepan heat broth until hot and pour over saffron.  Let mixture stand until softened, about 5 minutes.  
</li>
<li>
In a large bowl whisk together eggs, scallion greens, saffron mixture and salt and pepper to taste and stir in onion and potato mixture.  In skillet heat remaining 3 tablespoons oil over moderately hight heat until hot but not smoking and add egg mixture, spreading potatoes evenly.  Reduce heat to moderate and cook omelet, stirring occasionally, until eggs just begin to set about 1 minute.  Shift skillet so that one fourth of omelet is directly over center of burner and cook 1 minute.  Shift skillet 3 more times, cooking remaining fourths in same manner.  Center skillet and cook omelet over low heat until almost set, about 4 minutes more.
</li>
<li>
Slide omelet, bottom side down, onto a baking sheet and invert omelet bAck into skillet.  Cook other side of omelet until golden, about 4 minutes.  Slide omelet onto a platter and cool to room termperature.  Omelet may be made one day ahead and chilled, covered.  Bring omelet to room temperature before serving.
</li>
<li>
Cut into wedges.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : While making this omelet, the key is in the movement of the skillet, which must be positioned and repositioned over the heat to evenly color the side, top, and bottom of the omelet.  A non-stick skillet is essential.
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Gourmet
</p>
</body>
