<h1>Potatoes Au Gratin</h1>
<h2>Ingredients</h2>
<ul>
<li>
10 russet potato, sliced 1/8&quot; thick with a mandoline
</li>
<li>
salt and pepper
</li>
<li>
1 pint whipping cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
Slice potatoes with a mandoline and place in cold water.  Remove potatoes a little at a time when ready to assemble and dry with a towel.  Start placing in baking dish large enough to hold all.  Salt and pepper each layer, lightly (remember, all that salt and pepper will really add up and be too seasoned if you are not careful).
</li>
<li>
With each additional layer, push down with your hands on the potatoes to mat down.  When you have all potatoes in the pan, cover with whipped cream.  Place on sheet pan with parchment paper in oven at 375F for approximate 45-60 minutes until golden on top.  Allow to sit for at least 10-15 minutes before cutting to allow the cream to be asorbed.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Unbelievable!&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
