<h1>Potato Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
5 lbs. red potatoes, boiled; skins on
</li>
<li>
10 eggs, hard boiled; chopped
</li>
<li>
15 green onions, sliced
</li>
<li>
7 stalks celery, chopped
</li>
<li>
1 16 oz jar sweet pickles, chopped
</li>
<li>
20 olives, pimento stuffed, chopped
</li>
<li>
salt and pepper, to taste
</li>
<li>
parsley, chopped
</li>
<li>
2 cups Best Foods mayonnaise
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Leave the skins on the potatoes for color and cut into bite size chunks.  Add the rest of the ingredients and gently mix together avoiding mashing everything together.  Add the mayonaise and gently fold together.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : Of course its Picnic Fare, Summer Fare or Gather Fare.NOTES : I use to add all kinds of things to jazz up potato salad.  But no one makes potato salad like my Aunt Eileen.  When I asked her to give me her secret, she said, &quot;Keep it simple.&quot;  In other words just salt and pepper and Best Foods mayo...away with all the other special effects like garlic, mixing up mayos, adding mustard or other &quot;odd-ball&quot; herbs and spices.  I&#39;ll tell you, it works.  This was my best ever...and I kept it simple!
</p>
<p>
SERVINGS: 20
</p>
<p>
SOURCE: Eileen Munson Adaptation
</p>
</div></body>
