<h1>Potato Masala</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 tablespoons oil
</li>
<li>
2 teaspoons black mustard seeds
</li>
<li>
20 curry leaves
</li>
<li>
1/2 teaspoon ground turmeric
</li>
<li>
1 inch piece of ginger, grated
</li>
<li>
4 green chiles, minced
</li>
<li>
4 onions, chopped
</li>
<li>
2 lbs. red potatoes, cut into 1&quot; cubes
</li>
<li>
2 tablespoons tamarind paste: 5 oz. tamarind block,
</li>
<li>
broken into small pieces and soaked in hot
</li>
<li>
water for
</li>
<li>
3 hours or until the tamarind is soft.
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat oil in heavy fry pan and add mustard seeds.  Cover and when they pop add curry leaves, turmeric, ginger, chiles and onions and cook, uncovered until onions are soft.
</li>
<li>
Add potatoes and 1-2 cups of water.  Bring to a boil and cover until potatoes are tender and almost broken.  Simmer without lid until liquid evaporates.  Add tamarind and season with salt to taste.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from &quot;The Food of India&quot;
</p>
</div></body>
