<h1>Potato Soup with Fried Almonds</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup olive oil
</li>
<li>
1/2 cup almonds, whole, blanched
</li>
<li>
7 large garlic cloves
</li>
<li>
1/3 cup serrano ham, finely diced
</li>
<li>
1 1/2 lbs. Yukon Golds, cut into rough 1 1/2 inch chunks
</li>
<li>
4 cups chicken stock
</li>
<li>
1 pinch saffron, pulverized in a mortar
</li>
<li>
salt and pepper
</li>
<li>
2 teaspoons sherry vinegar
</li>
<li>
2 tablespoons Italian parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook almonds and garlic in olive oil until golden, about 5 minutes.  Spoon out of pan and reserve.
</li>
<li>
Add ham and cook for 1 minute.  Add potatoes and cook another minute.  Add chicken stock, bring to boil.  Reduce heat and simmer.
</li>
<li>
In a food processor grind the almonds and garlic.  Add all but 2 tablespoons to the soup. Steep the crushed saffron in a few tablespoons of the soup broth for about 2 minutes and add to the soup.   Season with s/p and cook until half the potatoes have disintegrated...about 35 minutes.  Skim the soup regularly.
</li>
<li>
With the back of the spoon, crush some of the potatoes to thicken the soup.  Add vinegar and the reserved garlic mixture to the soup.  Add the parsley and cook another minute.  Season to taste.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;The New Spanish Table&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Adapted from Anya Von Bremzen
</p>
</body>
