<h1>Potsticker Dipping Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 tablespoons Kikkoman soy sauce
</li>
<li>
1 tablespoon chili paste with garlic
</li>
<li>
1 tablespoon white wine vinegar
</li>
<li>
1 tablespoon Chinkiang vinegar
</li>
<li>
1 tablespoon sugar
</li>
<li>
1 tablespoon minced garlic
</li>
<li>
1 tablespoon minced green onion
</li>
<li>
1 tablespoon minced cilantro
</li>
<li>
1 teaspoon sesame seed oil
</li>
<li>
1 teaspoon chili oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix and let flavors develop for 1/2 hour.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Rhoda Yee, CCA
</p>
</div></body>
