<h1>Potstickers</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 lb. ground pork
</li>
<li>
2 pinches baking soda
</li>
<li>
2 1/2 cups finely minced Napa cabbage
</li>
<li>
2 tablespoons minced ginger
</li>
<li>
2 tablespoons minced green onion
</li>
<li>
2 tablespoons minced cilantro
</li>
<li>
2 tablespoons Superior soy sauce
</li>
<li>
1 teaspoon sugar
</li>
<li>
3/4 teaspoon sesame seed oil
</li>
<li>
3/4 teaspoon salt
</li>
<li>
1 package round potsticker wrappers
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Combine filling.
</li>
<li>
2.  Place a small amount of filling in the center of the wonton wrapper; moisten all around the edges of the wonton wrapper with water and fold in half over filling, sealing shut.
</li>
<li>
3.  Heat the wok until hot (or a non-stick skillet can be used).  Heat 1 tablespoon of oil per batch.  When the oil is hot, place dumplings in the pan in a circular motion, about 8 at a time.  The dumpling should sizzle when placed into the hot oil.  Fill 3/4 way up the side of dumplings with water.  Cover and bring water to a boil on high heat.  Listen to the pan.  When the water has evaporated, the pan will start to sizzle, about 8 minutes.  Take off the lid.  Test for doneness by checking if the sealed part of the dumpling is cooked.  If not completely cooked, add more water and continue to steam.  When dumplings are cooked, open the lid and continue to brown the bottom of the dumplings until it is golden brown.
</li>
<li>
Alternative method:  The dumplings can be boiled in a large pot with water until done, then cooked on the griddle or non-stick pan to brown them on the bottom.  This method is good for mass production. The dumplings can also be frozen individually uncooked, then cook them as above without defrosting first.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Rhoda Yee, CCA
</p>
</body>
