<head>
<title>Potted Plums with Phyllo Dough</title>
</head>
<body>
<h1>Potted Plums with Phyllo Dough</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 lbs. red plums
</li>
<li>
8 tablespoons unsalted butter
</li>
<li>
9 tablespoons pistachio nuts, shelled and skinned
</li>
<li>
1 cup apricot preserves
</li>
<li>
3 tablespoons water
</li>
<li>
8 tablespoons sugar
</li>
<li>
12 sheets phyllo dough
</li>
<li>
whipped cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 350F.  Pit plums and cut each into four wedges   
</li>
<li>
Heat 1/2 of the butter in a saucepan.  When it is hot, saute the plums with the pistachios, preserves and water, covered, over high heat for 5 minutes until the plums are soft.  Remove the lid and cook 2-3 minutes longer to elinate any moisture remaining in the pan.  The mixture should be thick, not watery.  Add more sugar to the plums if needed for taste.
</li>
<li>
Melt the remaining butter.  Unwrap the phyllo sheets, lay them out and brush the top surface of the phyllo with butter and sprinkle with the remaining sugar between all the remaining sheets.  (Work one sheet at a time to prevent drying out).
</li>
<li>
Place 1/2-2/3 cups of the plum mixture in each of four small 1-cup ramekins.  Fold each sheet of phyllo in half, butter side out, and gather it gently into a loose tissue-like ball, taking care not to squeeze it.  Place one ball of the phyllo on top of each ramekin and arrange the ramekins on a tray.  Bake at 350F for 25-30 minutes.
</li>
<li>
Serve lukewarm with whipped sour cream or sweet cream.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;EASY! and pretty.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Jacque Pepin
</p>
</body>
