<h1>Prawn &amp; Potato Balls</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. potatoes, diced
</li>
<li>
2 tablespoons butter
</li>
<li>
2 egg yolk, beaten
</li>
<li>
1/3 cup Cheddar cheese, grated
</li>
<li>
6 green onions, finely chopped
</li>
<li>
2 tablespoons fresh cilantro, minced
</li>
<li>
1 lb. shrimp, peeled, roughly chopped
</li>
<li>
3/4 teaspoon hot pepper sauce
</li>
<li>
salt and pepper
</li>
<li>
flour, for coating
</li>
<li>
1 large egg, beaten
</li>
<li>
1/2 cup dry bread crumbs
</li>
<li>
vegetable oil, for deep frying
</li>
<li>
Lime Mayonnaise
</li>
<li>
3/4 cup mayonnaise
</li>
<li>
1 tablespoon lime juice
</li>
</ul>
<h2>Method</h2><ul>
<li>
Simmer potatoes in pan with water until cooked through, about 15 minutes.  Drain and mash with butter, egg yolks and cheese.  Cool.  Stir in cilantro, onions, hot pepper sauce and seasoning.  Form into 30 small balls and arrange on a non-stick baking sheet.  Chill for 30 minutes.  Mix together mayo and lime juice and set aside.  
</li>
<li>
Roll shrimp balls in flour then in beaten egge, then in bread crumbs.  Place oil in pan to a depth of about 3 inches and heat to 375F until a cube of bread fries  in 40 seconds to a golden brown.  Deep fry balls in hot oil in batches for 5 minutes until golden.  Drain on paper towels and keep warm while cooking remaining balls, then serve with lime mayo.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;30 &quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
