<h1>Preserved Meyer Lemons</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 1/2 to 3 pounds Meyer lemons, 10-12
</li>
<li>
2/3 cup kosher salt
</li>
<li>
1/4 cup olive oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
A 6 cup jar with tight fitting lid is needed to make this.
</li>
<li>
Blanch 6 lemons in boiling water for 5 minutes.
</li>
<li>
When cool enough to handle, cut lemons into 8 wedges each and discard seeds.  Toss with salt in a bowl and pack into jar.
</li>
<li>
Squeeze enough juice from remaining lemons to measure 1 cup.  Add enough juice to cover lemons and cover jar with lid.  Let stand at room temperature, shaking gently once a day for 5 days.  Add oil and chill.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:
</p>
<p>
  &quot;48 pieces&quot;
</p>
</div></body>
