<h1>Preserved Lemons</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 thin skinned lemons
</li>
<li>
1/2 cup kosher salt, about
</li>
<li>
2 cups fresh lemon juice
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
Wash lemons (organic is best).  Quarter, leaving attached at stem end.  Pack salt into lemons.  Fit lemons into a 1 quart jar, adding lemon juice.  Cover.  Macerate in a cool, dark place for 1 week, then refrigerate.  They will keep, refrigerated, for at least 6 months.SOURCE: Adapted from Saveur, 1998.
</p>
</div></body>
