<h1>Pulled Pork</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 lbs. pork shoulder
</li>
<li>
1 large onion, chopped
</li>
<li>
1 1/2 cups barbecue sauce
</li>
<li>
soft buns, coleslaw, onions
</li>
</ul>
<h2>Method</h2><ul>
<li>
Season pork with s/p and add to slow cooker.  Add chopped onion.  Cook all day on low heat.
</li>
<li>
Cool meat and pull apart with two forks.  Refrigerate.  2-3 hours before serving, return to slow cooker and cover with barbeque sauce.  Heat on high.  Serve on buns with slaw and onions.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
