<h1>Pumpkin Date Stack Cake with Mascarpone Frosting</h1>
<h2>Ingredients</h2>
<ul>
<li>
Cake:
</li>
<li>
2 1/8 cups cake flour, 1/8 cup=2 tablespoons
</li>
<li>
1 teaspoon baking soda
</li>
<li>
2 teaspoons baking powder
</li>
<li>
1 teaspoon cinnamon
</li>
<li>
1/2 teaspoon nutmeg
</li>
<li>
1/4 teaspoon kosher salt
</li>
<li>
12 tablespoons butter, room temperature
</li>
<li>
1 1/2 cups sugar
</li>
<li>
2 1/2 tablespoons molasses
</li>
<li>
3 large eggs
</li>
<li>
1 cup pumpkin puree, canned
</li>
<li>
1/2 cup buttermilk
</li>
<li>
1 tablespoon vanilla
</li>
<li>
1 cup dates, pitted, chopped (preferable fresh Medjool)
</li>
<li>
Frosting:
</li>
<li>
4 ounces cream cheese, room temperature
</li>
<li>
4 tablespoons butter, room tempeature
</li>
<li>
2 cups powdered sugar, sifted
</li>
<li>
1 teaspoon vanilla
</li>
<li>
8 1/2 ounces Mascarpone cheese
</li>
<li>
additional powdered sugar for finishing
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.  Butter three 8&quot; cake pans (or one 8 or 9&quot; springform pan), lining with parchment paper and flouring lightly.
</li>
<li>
Sift 2 cups of flour with the baking soda, baking powder, cinnamon, nutmeg and cloves.  Add the kosher salt and reserve.
</li>
<li>
In a mixer, cream the butter with the sugar until light and fluffy.  Add the molasses and mix to blend.  Add the eggs one at a time, beating well after each addition.  Scrape down the bowl several times.
</li>
<li>
In a mixing bowl, combine the pumpk9n puree, buttermilka nd vanilla and whisk to blend.  Alternately add the reserved sifted dry ingredients and the buttermilk mixture.  Mix to blend.
</li>
<li>
Toss the date with the remaining 2 tablespoons of flour, coating them well and breaking up any sticky clumps.  Add to the batter and mix just to blend.  Divide the batter evenly between the prepared pans.  Bake the layers for about 35 minutes until they test donw.  When a toothpick is inserted into the middle of each cake, it will come out clean.  Remove from the oven and cool completely.
</li>
<li>
Frosting:  Combine the cream cheese and butter in a mixeer with a paddle.  Beat until just smooth and creamy.  Gradually beat in the confectioner&#39;s sugar.  Add the vanilla.  Scrape down the bowl and add the Mascarpone cheese.  Mix jut to blend smooth.  Do not overbeat.
</li>
<li>
To assemble the cake, stack the three cakes (split the springform pan layer into 3 layers) with 1/2 frosting between the first two layers, leaving the top without frosting.  Sprinkle the top with powdered sugar.  Store in a cool (not cold) place until ready to serve.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Spokesman Review&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Karen Barker
</p>
</body>
