<h1>Pumpkin Bread Topped with Apples and Sausage</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 loaf pumpkin bread (or any nut bread of your
</li>
<li>
choice)
</li>
<li>
1 cube unsalted butter, softened
</li>
<li>
8 ounces cream cheese, softened
</li>
<li>
3 large crisp apples, unpeeled &amp; sliced thin
</li>
<li>
3 large sausages, of your choice, precooked, sliced 1/4&quot; pieces
</li>
<li>
1 bunch Italian parsley
</li>
</ul>
<h2>Method</h2><ul>
<li>
Slice bread from the bottom, up, 1/4&quot; for each slice making 3-4 slices depending on the height of the loaf.  You should have long horizontal slices.
</li>
<li>
Mix the butter and cheese together until spreadable.  Spread a 1/8&quot; smear of this mixture on each slice of bread.  
</li>
<li>
Top the cream cheese/butter spread with thinly sliced apples.  Place the remaining spread in pastry bag and dot each slice down the middle with a dab of spread every one inch or so (this will help the sausage adhere).
</li>
<li>
Now, go down and add one sausage slice to the dabs.  Cut through the horizontal slices evenly between the sausages to create a singular serving.  
</li>
<li>
Finish each serving with a pastry bag floret and a leaf of Italian parsley.  Viola!!
</li>
<li>
Note:  Additional fruit, cranberries, chutney or a touch of brandy can be added to the cream cheese/butter mixture if desired.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a wonderful hors d&#39;euvre that is simple and great for a large
</p>
<p>
  crowd.&quot;
</p>
<p>
SERVINGS: 24
</p>
<p>
SOURCE: David Monn
</p>
</body>
