<head>
<title>Pumpkin Bread</title>
</head>
<body>
<h1>Pumpkin Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup packed brown sugar
</li>
<li>
3/4 cup vegetable oil
</li>
<li>
3 large eggs
</li>
<li>
1 1/2 cups pumpkin puree, canned
</li>
<li>
3 1/2 cups flour
</li>
<li>
2 teaspoons baking powder
</li>
<li>
1 teaspoon baking soda
</li>
<li>
1 teaspoon cinnamon
</li>
<li>
1 teaspoon grated nutmeg
</li>
<li>
1/2 teaspoon ground cloves
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 cup unsweetened apple juice
</li>
<li>
1/2 cup walnuts, chopped and toasted
</li>
<li>
1/2 cup raisins
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 375F.  Grease loaf pan.
</li>
<li>
Beat brown sugar and oil until light and fluffy.  Add eggs, one at a time, beating well after each addition.  Add pumpkin puree and mix until combined.
</li>
<li>
In another bowl combine dry ingredients.  Stir or whisk gently to mix.  Alternately add dry ingredients and juice to pumpkin mixture, beginning and ending with dry ingredients.  Stir in walnuts and raisins.
</li>
<li>
Pour batter into loaf pan ( or into 18 greased muffin cups).  Bake until top is golden and springy to touch, about 50-60 minutes (muffins for 20-25 minutes) or until toothpick comes out clean from poking it.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: David Monn
</p>
</body>
