<h1>Pumpkin Pie Filling</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 pie crusts, baked 10 minutes without filling
</li>
<li>
4 large eggs
</li>
<li>
1 1/2 cups brown sugar
</li>
<li>
1 teaspoon salt
</li>
<li>
2 teaspoons ground cinnamon
</li>
<li>
1 teaspoon ground ginger
</li>
<li>
1/2 teaspoon ground cloves
</li>
<li>
1  29 oz can prepared pumpkin
</li>
<li>
2 1/2 cups half &amp; half
</li>
<li>
1/2 cup whipping cream
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Bake pie crusts in pie tins at 425F for 8 minutes.  Allow to cool.  
</li>
<li>
Filling:
</li>
<li>
In large bowl, place 4 large eggs.  Whisk briefly.  Add sugar, salt, spices.  Mix until smooth.  Add pumpkin.  Mix until smooth.  Add creams.  Whisk until smooth.
</li>
<li>
Pour into cooled crusts.  Place in 425F oven for 10 minutes.  Lower temperature to 350F without removing pies.  Allow to bake an additional 35-45 minutes until knife inserted comes out clean.
</li>
<li>
Serve at room temperature or cooled in refrigerator with whipped cream, if desired.
</li>
<li>
Whipped Cream:
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Place 1 cup of whipping cream in a bowl of a mixer.  Add 1 tablespoon of sugar and 1/2 teaspoon of vanilla.  Whip to slightly stiff consistency. SOURCE: Apple Charlotte
</p>
</div></body>
