<head>
<title>Quesadillas</title>
</head>
<body>
<h1>Quesadillas</h1>
<h2>Ingredients</h2>
<ul>
<li>
large flour tortillas
</li>
<li>
cheese of your choice
</li>
<li>
jalapenos, sliced
</li>
<li>
green onions, whole
</li>
<li>
cilantro leaves, whole
</li>
<li>
canola oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Brush tortillas with canola oil.  Place on grill.  Top with cheese, jalapenos, whole green onions (hanging out the sides), cilantro.  Top with another tortilla and brush top with canola oil.  Brown on both sides.  Cut to serve...yippee.  
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;From my dear friend, Suzie Traynam....a fabulous cook!&quot;
</p>
</body>
