<head>
<title>Quick Spicy Lemon-Bay Shrimp</title>
</head>
<body>
<h1>Quick Spicy Lemon-Bay Shrimp</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Boil 6 cups of water with 8 crumbled bay leaves, 5 crushed garlic cloves, 1/4 lemon and 1 1/2 teaspoons of salt.  Cover &amp; simmer for 10 minutes.  Remove veins from shrimp with toothpick, leaving shells on.  Cook shrimp in liquid for 3-4 minutes.  Drain and serve for self peeling or peel befor serving with lemon wedges.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Food &amp; Wine
</p>
</body>
