<head>
<title>Quick Whole Grain Buttermilk Bread</title>
</head>
<body>
<h1>Quick Whole Grain Buttermilk Bread</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Quick Whole-Grain Buttermilk Bread
</li>
<li>
Canola oil spray
</li>
<li>
1 cup whole-wheat flour, sifted
</li>
<li>
1/2 cup all-purpose flour, sifted
</li>
<li>
1/2 cup cornmeal
</li>
<li>
2 tsp. baking powder
</li>
<li>
1/2 tsp. baking soda
</li>
<li>
1/2 tsp. salt
</li>
<li>
1 Tbsp. finely minced fresh oregano, basil or thyme leaves
</li>
<li>
1 1/4 cups fat-free buttermilk
</li>
<li>
1 egg, slightly beaten
</li>
<li>
2 Tbsp. honey
</li>
<li>
2 Tbsp. canola oil
</li>
<li>
1 Tbsp. sesame seeds
</li>
<li>
Preheat oven to 350 degrees. Lightly spray the interior of an 8-x-4-inch loaf pan with oil spray.
</li>
<li>
In bowl, combine all dry ingredients and fresh herbs, but save the sesame seeds for later.
</li>
<li>
In separate bowl, combine buttermilk, egg, honey and oil. Stir into flour mixture until just blended. Spoon batter into baking pan. Sprinkle sesame seeds over top.
</li>
<li>
Bake 45 to 50 minutes or until a toothpick inserted into the center comes out clean. Remove from oven and cool slightly on rack. Turn out bread and cool completely on wire rack. Serve immediately or store wrapped in plastic wrap or foil.
</li>
<li>
Makes one loaf of about 12 slices.
</li>
</ul>
<h2>Notes</h2><p>
Per slice: 129 calories, 3 g. total fat (&lt;1 g. saturated fat), 21 g. carbohydrate, 4 g. protein, 2 g. dietary fiber, 250 mg. sodiumSOURCE: American Institute for Cancer Research
</p>
</body>
