<h1>Quindins de Yaya (Coconut Cupcake Dessert)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups fresh coconut, finely grated
</li>
<li>
2 tablespoons butter, softened
</li>
<li>
1 1/2 cups light brown sugar
</li>
<li>
8 large egg yolk
</li>
<li>
1 large egg white
</li>
<li>
1 cup all purposed flour, sifted
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
In a large bowl beat together the coconut, butter, and brown sugar mixing thoroughly.  Beat in the egg yolks one by one.  Beat the egg white until stiff peaks form and fold into the mixture.  Gradually beat in the flour.  Butter a 24-cup cupcake pan, pour in the cake mixture and stand in a baking tin filled with water to come above halfway up the pan.  Bake in a preheaated oven at 350F for about 45 minutes or until a cake tester comes out clean.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a Brazilian dessert often served after their national dish,
</p>
<p>
  Feijoada.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;24 cupcakes&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Ordiz
</p>
</div></body>
