<head>
<title>Rack of Lamb</title>
</head>
<body>
<h1>Rack of Lamb</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 racks of lamb
</li>
<li>
rosemary, thyme, Italian parsley, chopped coarsely
</li>
<li>
8 cloves garlic
</li>
<li>
salt and pepper
</li>
<li>
olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place all ingredients over lamb in large bowl.  Allow to sit for about 1/2 hour.  
</li>
<li>
Sear in hot fry pan on all sides, about 4-6 minutes totally.
</li>
<li>
Place in roasting pan.  Roast in 425F oven for approximately 15-20 minutes  (or longer, depending on the size of the racks), until thermometer registers 130.  Pull out, place on hot platter and cover with aluminum foil.  Rest for 10 minutes.
</li>
<li>
Reduction Sauce:  While racks are cooking, saute a couple of minced shallots; deglaze searing pan with about 2 cups of red wine (cab, merlot, or shiraz).  Reduce to half.   Add about 2 cups of beef or lamb stock.  Reduce again 1/3-1/2.  Strain.  Place back in clean searing pan.  Add 2 tablespoons of cold butter whisking in.  Season if needed.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 9
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
