<head>
<title>Ranch-Style Dressing</title>
</head>
<body>
<h1>Ranch-Style Dressing</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup buttermilk
</li>
<li>
1/2 cup sour cream
</li>
<li>
1/4 cup mayonnaise
</li>
<li>
1/4 cup cider vinegar
</li>
<li>
2 cloves garlic, mashed and minced
</li>
<li>
3 tablespoons green onions, minced
</li>
<li>
2 tablespoons fresh parsley*, minced
</li>
<li>
1/2 teaspoon pepper
</li>
<li>
1/4 teaspoon salt
</li>
<li>
*Extra fresh herbs if desired, like..., thyme, rosemary, chives, etc.
</li>
</ul>
<h2>Method</h2><ul>
<li>
Shake all ingredients in a 1 quart jar with lid.  Refrigerate.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;No...you won&#39;t be using the packaged version.  Make it from scratch! 
</p>
<p>
  Great on baked potatoes, too.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
