<head>
<title>Raspberry or Fruit Coulis</title>
</head>
<body>
<h1>Raspberry or Fruit Coulis</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 pints raspberries
</li>
<li>
1/2 cup sugar
</li>
<li>
1 tablespoon brandy, rum or framboise
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place fruit in blender or food processor.  Blend until small pieces.  Add sugar, slowly, tasting until desired sweetness is meant.  Add liquor if desired.  Ready for service.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Change the fruit and cut up and make in the same fashion, tasting to
</p>
<p>
  completion.&quot;
</p>
<p>
SERVINGS: 16
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
