<h1>Raspberry-Coconut Bars</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups flour
</li>
<li>
1 teaspoon baking powder
</li>
<li>
1/4 teaspoon baking soda
</li>
<li>
1/4 teaspoon salt
</li>
<li>
12 tablespoons unsalted butter
</li>
<li>
1/4 cup granulated sugar
</li>
<li>
1/2 cup packed light brown sugar
</li>
<li>
2 large egg yolks
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1 cup coconut, chopped
</li>
<li>
2/3 cup raspberry jam
</li>
<li>
2 tablespoons fresh lemon juice
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 325F.  Make sure the rack is in the center of the oven.
</li>
<li>
Butter an oblong baking dish.
</li>
<li>
In a medium bowl, stir together the flour, baking powder, baking soda and salt.  In a large mixing bowl beat the butter until creamy, about 1 minute.  Gradually add the sugars and continue to beat until light and fluffy, 1-2 minutes.  Beat in the egg yolks and vanilla.  With a spoon, stir in the dry ingredients.  Reserve 3 tablespoons of the coconut and stir in the remainder.
</li>
<li>
In a small bowl, stir together the jam and the lemon juice.
</li>
<li>
Press about half of the dough evenly in the bottom of the pan.  Spread with the flavored jam (apricot jam is good too).  Crumble the rest of the dough evenly over the top.  Because the dough is sticky this is a little hard but use floured hands and be presistent.  Sprinkle with the reserved 3 tablespoons of coconut..  Bake 50-60 minutes, until golden brown and firm.  Cool in the pan on a rack.  Cut lengthwise down the center and then crosswise into 10 even widths to make 20 bars.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Easy for new cooks....with yummy raspberry preserves.&quot;
</p>
<p>
SERVINGS: 20
</p>
<p>
SOURCE: Jim Fobel
</p>
</body>
