<head>
<title>Ratatouille</title>
</head>
<body>
<h1>Ratatouille</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. zucchini (1 zucchini), 1/2 &quot; slices
</li>
<li>
1 lb. eggplant (1/2-1 eggplant), peeled, lg dice
</li>
<li>
1 lb. onions (1 small onion), sliced
</li>
<li>
4 bell peppers (1 small pepper), cored, 1&quot; dice
</li>
<li>
4 cloves garlic (1 clove), chopped
</li>
<li>
2 lbs. tomatoes (~4 plum or 2 lg tomatoes), peeled, seeded,ld
</li>
<li>
6 ounces olive oil (1-2 oz oo)
</li>
<li>
1/2 cup parsley, (~1-2 tbsp parsley), chopped
</li>
<li>
1 bay leaf
</li>
<li>
fresh thyme
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Saute zucchini in small amount of oil until half cooked, remove from pan.
</li>
<li>
2.  Do the same with eggplant and remove from pan.
</li>
<li>
3.  Saute onions and peppers until half cooked; add the garlic and saute another minute.
</li>
<li>
4.  Combine all vegetables &amp; seasonings and cover and cook in slow oven (325 F) about 30 minutes until vegetables are tender and flavors are well blended.  If the vegetables are too juicy, cook uncovered on range top for a few minutes to reduce.  BE CAREFUL NOT TO SCORCH THE VEGETABLES O THE BOTTOM.
</li>
<li>
5.  Adjust seasonings, taste and serve hot or cold.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 20
</p>
<p>
SOURCE: Gisslen Text
</p>
</body>
