<h1>Ratatouille au Provencal</h1>
<h2>Ingredients</h2>
<ul>
<li>
2/3 cup olive oil, approximate total for recipe, used a little at a time
</li>
<li>
3 large onions, halved &amp; sliced
</li>
<li>
9 large cloves garlic, smashed and drag, chop
</li>
<li>
3 small zucchini, cut into 1&quot; chunks
</li>
<li>
2 small eggplant, cut into 1&quot; chunks
</li>
<li>
4 large tomatoes, peeled, seeded and quartered
</li>
<li>
3 bell peppers, cut in strips
</li>
<li>
bouquet garni, without pepper corns
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat a large Dutch oven and add about 2 tablespoons of olive oil.  Add onions and cook for about 20-30 minutes, covered.  Remove the lid and cook until caramelized.  Add the garlic and zucchini  and season with a little salt.
</li>
<li>
In a frying pan, add about a quarter of a cup of olive  and add the eggplant and a little salt.  Cook until the eggplant is softened.  Add to the pot with the onions.
</li>
<li>
Add a little oil to the frying pan and add tomatoes and a little salt and cook unitl there is no more liquid.  Add to the big pot.  Add the peppers and the bouquet garni and season with pepper.  Cook, covered for about 1- 1 1/2 hours.  Stir periodically, scrapping any that may stick to the bottom of the pan.  Taste for seasoning before serving.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fabulous....especially made at harvest.&quot;
</p>
<p>
SERVINGS: 6
</p>
</body>
