<h1>Ravioli</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Spinach Filling:
</li>
<li>
Reduction of...
</li>
<li>
Butter, garlic, shallots, seasonings,
</li>
<li>
wine reduction, end w/cream,
</li>
<li>
mix in blanched spinach, parmesan.
</li>
<li>
Cheese Filling:
</li>
<li>
Ricotta, parmesan, egg yolk,
</li>
<li>
chopped parsley, nutmeg, s/wp
</li>
<li>
Duxelles Filling:
</li>
<li>
Finely chopped mushrooms (squeeze
</li>
<li>
out moisture in towel). Saute with
</li>
<li>
minced shallot &amp; garlic until dry;
</li>
<li>
season w/ s/p &amp; nutmeg, moisten
</li>
<li>
w/ cream if desired.
</li>
<li>
Sun Dried Tomato Filling:
</li>
<li>
Sun dried tomatoes, garlic, shallots,
</li>
<li>
mushrooms,saute and
</li>
<li>
reduce with ww, add parmesan
</li>
<li>
&amp; toasted, chopped pinenuts
</li>
<li>
at end to taste.
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.   Place sheet of pasta on worktable.  With melon scooper place small balls of filling on sheet leaving enough room to cut around once another sheet is placed over the top.
</li>
<li>
2.  Place circle of egg white wash around each filling scoop.
</li>
<li>
3.  With one person holding pasta sheet to be placed on top, the other person carefully
</li>
<li>
presses the top sheet over fillings, pressing lightly around fillings to seal.
</li>
<li>
4.  Cut out raviolis  and hold under plastic wrap until ready to cook.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Klaus Loos
</p>
</div></body>
