<h1>Ravioli with Prosciutto, Sun Dried Tomatoes, Basil and Mozzarella</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 handfuls Parmesan cheese, finely grated
</li>
<li>
2 large handful fresh basil, roughly cut
</li>
<li>
24 sun-dried tomatos, roughly chopped
</li>
<li>
4 7 oz portions mozzarella, buffalo style
</li>
<li>
salt and pepper
</li>
<li>
20 slices prosciutto, fat trimmed
</li>
<li>
2 lbs. pasta recipe
</li>
<li>
olive oil
</li>
<li>
extra basil and shaved Parmesan
</li>
</ul>
<h2>Method</h2><ul>
<li>
Put the Parmesan, basil, sun-dried tomatoes and mozzarella in a bowl and stir together.  Season to taste.
</li>
<li>
Cut the slices of prosciutto in half.  Place 1 heaping teaspoon of the filling at one end of a piece of prosciutto, then fold in the sides and rolls up so that the filling is enclosed.  Repeat with the rest of the filling and prosciutto, ending with about 20 small balls.
</li>
<li>
Fill the ravioli and cook in gently boiling salted water for about 3-4 minutes, until tender.  Drain carefully
</li>
<li>
Serve sprinkled with olive oil, black pepper and freshly shaved Parmesan and basil leaves.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Jamie Oliver
</p>
</body>
