<h1>Ravioli alla Rossini (Filling)</h1>
<h2>Ingredients</h2>
<ul>
<li>
Pasta Dough
</li>
<li>
Ravioli Filling:
</li>
<li>
1 tablespoon olive oil
</li>
<li>
1 teaspoon unsalted butter
</li>
<li>
1 medium onion, small dice
</li>
<li>
2 cloves garlic, smashed and minced
</li>
<li>
1 lb. veal, cubed
</li>
<li>
1 large sprig rosemary, leaves removed
</li>
<li>
salt and pepper, to taste
</li>
<li>
2 tablespoons egg substitute
</li>
<li>
1 tablespoon evaporated skim milk
</li>
<li>
3 tablespoons parmesan cheese, grated
</li>
<li>
3 tablespoons ricotta cheese, part skim milk
</li>
<li>
1/4 teaspoon cinnamon
</li>
<li>
1 lb. spinach, boiled, dried thoroughly, chopped
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;1/2 cup&quot;
</p>
<p>
SERVINGS: 16
</p>
</body>
