<head>
<title>Ravioli Stuffing</title>
</head>
<body>
<h1>Ravioli Stuffing</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. ricotta cheese
</li>
<li>
1 large egg
</li>
<li>
1 bunch spinach, cooked, chopped, moisture out
</li>
<li>
1/2 cup parmesan cheese, grated
</li>
<li>
fresh nutmeg, grated
</li>
<li>
salt/pepper to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix tuogether.  Taste for proper seasoning and use as desired for stuffed pasta.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Enough for one batch of pasta.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Fattoria Madicea
</p>
</body>
