<h1>Red Cabbage with Apples</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 large cabbage, approximate 2 1/2 #
</li>
<li>
2/3 cup red wine vinegar
</li>
<li>
2 tablespoons sugar
</li>
<li>
2 teaspoons salt
</li>
<li>
2 tablespoons lard or bacon fat
</li>
<li>
2 medium apples, peeled, cored and cut into 1/8&quot; wedges
</li>
<li>
1/2 cup onion, finely chopped
</li>
<li>
1 whole onion, peeled and pierced with 2 whole cloves
</li>
<li>
1 small bay leaf
</li>
<li>
1 cup boiling water
</li>
<li>
3 tablespoons dry red wine
</li>
<li>
3 tablespoons red currant jelly
</li>
</ul>
<h2>Method</h2><ul>
<li>
Wash cabbage, removing outer leaves and cut into quarters.  Remove core and slice into 1/8&quot; strips.
</li>
<li>
Place cabbage into large mixing bowl.  Sprinkle with vinegar, sugar and salt and toss to coat.
</li>
<li>
In a large 4-5 qt. cassarole, melt the lard or bacon fat and add the apples, chopped onions and cook, stirring frequently for 5 minutes or until the apples are lightly browned.  Add cabbage the whole onion with cloves, bay leaf, stir.  Pour in boiling water.  
</li>
<li>
Bring to boil over high heat, stirring occasionally and reduce the heat to it lowest possible point.  Cover and simmer for about 1 1/2 hours, until tender.  If it becomes dry, add a bit of water.
</li>
<li>
When the cabbage is done, there should be almost no liquid left.  Just before serving, remove onion and bay leaf and stir in the wine and currant jelly.  Taste for seasoning and serve.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Rotkohl mit Apfeln&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Time-Life Cooking of Germany
</p>
</body>
