<h1>Red Chile Brunch Enchiladas</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 medium dried ancho chiles, stemmed and seeded
</li>
<li>
8 medium guajillo chiles, stemmed and seeded
</li>
<li>
6 cloves garlic
</li>
<li>
salt to taste
</li>
<li>
1 large onion, chopped
</li>
<li>
8 red potatoes, small dice
</li>
<li>
vegetable oil, or traditionally, lard
</li>
<li>
16 corn tortillas
</li>
<li>
8 large eggs
</li>
<li>
1 head curly endive, or other green lettuce of choice
</li>
<li>
cider vinegar, to taste
</li>
<li>
Mexican cheese
</li>
</ul>
<h2>Method</h2><ul>
<li>
Tear the chiles to flat pieces.  Heat a cast iron skillet to hot and toast the chiles a few at a time, skin side down (this can be done on an outside grill) until aromatic. They may crackle a bit.  Usually about 10-12 seconds per side.
</li>
<li>
Place in a bowl and cover with about 6 cups of hot tap water.  Soak 20-30 minutes.
</li>
<li>
Using tongs, transfer the chiles to a food processor and add about 3 cups of the soaking liquid.  Add the garlic.  Puree.  Push through a medium strainer into a bowl.  The consistency should be sort of thick almost like canned tomato sauce.  Season hight with salt.  (this will taste a little rugged at this point).
</li>
<li>
Cook the potatoes in a salted water to cover until just tender.  Drain.
</li>
<li>
Heat some vegetable oil in a skillet and cook the onion about 5 minutes.  Add the potatoes and cook until brown and caramelized.  Heat the oven or grill to 325-350.
</li>
<li>
While the potatoes are cooking, prepare the tortillas.  Place the sauce and tortillas near the stove.  Dip the tortillas on both sides into the sauce.  Then lay the tortilla into the hot oil.  Let it cook for about 15 seconds, and then turn over, searing the other side for about 15 seconds.  Lay in a baking sheet with the rest of the seared tortillas in groups of two.  
</li>
<li>
Divide the potatoes among the tortillas and place in the oven or on the grill (with cover down) to warm for 5-10 minutes.  Fry the eggs in a separate skillet in oil.
</li>
<li>
While the eggs are cooking, toss the greens with the vinegar and a nice sprinkling of salt.  Put an enchilada-potato stack on each plate, top with a fried egg, the lettuce mixture and a sprinkling of the Mexican cheese.    Yum.....
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This was first prepared for me by a lovely Mexican American woman,
</p>
<p>
  Diana, when I was a young woman living in Los Angeles.  I had never
</p>
<p>
  heard of such a thing....but loved it!&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
