<h1>Red Plum Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 lbs. red plums, cut in 1/2&quot; slices
</li>
<li>
2 cups water
</li>
<li>
1 cup sugar
</li>
<li>
2 teaspoons cinnamon
</li>
<li>
5 whole cloves
</li>
<li>
4 whole star anise
</li>
<li>
2 bay leaves
</li>
<li>
1/2 lemon, juice, or to taste
</li>
<li>
merlot or sparkling wine
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place all in large stainless saucepan and bring to boil.  Simmer approximately 15-20 minutes until plums are soft.  
</li>
<li>
Remove cloves, star anise and bay leaves.  Take out a few slices of plums to save for garnish.  Blend remainder with hand blender or blender. If serving hot, add merlot and return to heat.  If serving cold, refrigerate until cold and add sparkling as follows.
</li>
<li>
To serve cold....Pour 1/4 cup champaign in balloon glass and top with cold plum soup.  Top with 2-3 sliced plums (reserved) and a dollap of sour cream.  Sprinkle with light sprinkle of cinnamon on top of sour cream and garnish with mint if desired.   Enjoy!
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
