<h1>Red Wine Beef Stew</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. Beef chuck, boneless, trimmed of fat, 1&quot; cubes
</li>
<li>
Oil for browning
</li>
<li>
1 Onion, fine dice
</li>
<li>
3 cloves Garlic, chopped
</li>
<li>
2 ounces Tomato puree
</li>
<li>
2 cups Brown stock, about 1/2 liquid in stew
</li>
<li>
2 cups Red wine, about 1/2 liquid in stew
</li>
<li>
Sachet: bay leaf, thyme, celery leaf
</li>
<li>
Brown roux
</li>
<li>
8-10 Pearl onions
</li>
<li>
8-10 Button mushrooms
</li>
<li>
8-10 Carrots (onions, mush., carrots all
</li>
<li>
similar size)
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Brown  beef  well over high heat;  remove meat from pan.
</li>
<li>
2.  Add onions and garlic to pan continue to cook until onion is lightly browned.
</li>
<li>
3.  Deglaze pan with wine with wire whisk, add stock; return beef to pan; cover and simmer about 1/2 hour.
</li>
<li>
4. Make brown roux and incorporate into stew.  Simmer, covered until almost done, about 1 1/2 hours or more until meat is tender.
</li>
<li>
5.  Cook  carrots and onions in boiling water until cooked  almost al dente.  Shock cold.
</li>
<li>
6.  Right before serving, saute and season carrots, onions and mushrooms in butter for added color and flavor and add to stew meat and sauce.  Place in bowl and garnish with  parsley.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Klaus Loos (Gisslen, pg. 260)
</p>
</body>
