<head>
<title>Red Wine Sauce</title>
</head>
<body>
<h1>Red Wine Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 servings selected meat to sear/saute.
</li>
<li>
olive oil, for sauteing
</li>
<li>
1 cup red wine
</li>
<li>
1 cup beef stock
</li>
<li>
6 tablespoons butter, unsalted, cold, cubed
</li>
<li>
salt/pepper and any desired seasoning
</li>
</ul>
<h2>Method</h2><ul>
<li>
Saute meat to desired doneness.  Remove from pan and hold warm on heated plate, covered with aluminum foil.
</li>
<li>
Discard any burnt fat from bottom of pan.
</li>
<li>
Pour in the red wine, deglaze and reduce by half.
</li>
<li>
Add beef stock and reduce until about 1/2 cup is remaining in pan.  Whisk in the cold butter and bring the sauce to a simmer for a few seconds.
</li>
<li>
The consistency of the sauce can be adjusted by adding more stock or more butter.  Adjust the seasoning.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is perfect as a quick sauce for pan-seared steaks, lamb chops or
</p>
<p>
  pork chops.&quot;
</p>
<p>
SERVINGS: 4
</p>
</body>
