<h1>Refrigerated Key Lime Pie</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
om the episode: Pucker-Up Pies
</li>
<li>
Be sure to use instant pudding that requires no stovetop cooking for this recipe. We use regular supermarket (Persian) limes-tasters thought bottled lime juice lacked depth of flavor. We much prefer our easy homemade crust to store- bought versions.
</li>
<li>
Serves 8 to 10.  
</li>
<li>
INGREDIENTS
</li>
<li>
Crust
</li>
<li>
8	whole graham crackers , broken into smaller pieces
</li>
<li>
2	tablespoons sugar
</li>
<li>
5	tablespoons unsalted butter , melted
</li>
<li>
Filling
</li>
<li>
1/4	cup sugar
</li>
<li>
1	tablespoon grated lime zest
</li>
<li>
8	ounces cream cheese , softened
</li>
<li>
1	 (14-ounce) can sweetened condensed milk
</li>
<li>
1/3	cup instant vanilla pudding mix
</li>
<li>
1 1/4	teaspoons unflavored gelatin
</li>
<li>
1	cup fresh lime juice from 6 to 8 limes
</li>
<li>
1	teaspoon vanilla extract
</li>
<li>
INSTRUCTIONS
</li>
<li>
1. For the crust: Adjust oven rack to middle position and heat oven to 350 degrees. Pulse crackers and sugar in food processor until finely ground. Add melted butter in steady stream while pulsing until crumbs resemble damp sand. Using bottom of dry measuring cup, press crumbs firmly into bottom and sides of 9-inch pie plate. Bake until fragrant and browned around edges, 12 to 14 minutes. Cool completely.
</li>
<li>
2. For the filling: Process sugar and zest in food processor until sugar turns bright green, about 30 seconds. Add cream cheese and process until combined, about 30 seconds. Add condensed milk and pudding mix and process until smooth, about 30 seconds. Scrape down sides of bowl. Stir gelatin and 2 tablespoons lime juice in small bowl. Heat in microwave for 15 seconds; stir until dissolved. With machine running, pour gelatin mixture, remaining lime juice, and vanilla through feed tube and mix until thoroughly combined, about 30 seconds.
</li>
<li>
3. Pour filling into cooled crust, cover with plastic, and refrigerate at least 3 hours or up to 2 days. To serve, let pie sit at room temperature for 10 minutes before slicing.
</li>
<li>
Print
</li>
<li>
Email
</li>
<li>
Recipes
</li>
<li>
Mile-High Lemon Meringue Pie
</li>
<li>
Equipment Reviews
</li>
<li>
Inexpensive Stand Mixers
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Cooks Country
</p>
</body>
