<head>
<title>Reuben Sandwich</title>
</head>
<body>
<h1>Reuben Sandwich</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons butter, softened
</li>
<li>
8 slices rye bread
</li>
<li>
8 slices Swiss cheese
</li>
<li>
3/4 lbs. corned beef brisket, thinly sliced
</li>
<li>
1/2 lb. sauerkraut
</li>
<li>
1/4 cup Russian Dressing
</li>
</ul>
<h2>Method</h2><ul>
<li>
Butter one side of four slices of bread and place the slices buttered-side down on a sheet pan. Top each with a slice of Swiss chees and 1/8th of the corned beef.  
</li>
<li>
Place 1/4th of the sauerkraut on top of the chees and top with 1 tablespoon of Russian dressing.  Add another layer of corned beef to each one.  Finish with remainng bread slices buttered on one side, with buttered side out.
</li>
<li>
Preheat a grill pan to medium heat over the grill or inside stove.  Cook the sandwiches on one side unbtil the bread is golden brown. Flip the sandwich carefully and finish cooking on second side.  Serve with Creamy Coleslaw.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Adapted from Culinary Institute of America
</p>
</body>
