<h1>Ribollita.....Tuscan Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/2 cup olive oil
</li>
<li>
1/2 cup pancetta, diced
</li>
<li>
1 onion, diced
</li>
<li>
1 leek, diced
</li>
<li>
2 stocks celery, diced
</li>
<li>
1/4 cup parsley, finely chopped
</li>
<li>
2 cloves garlic, minced
</li>
<li>
2 carrots, diced
</li>
<li>
1/2 head savoy or green cabbage, chopped
</li>
<li>
vegetable stock: onion, carrots, celery,
</li>
<li>
leek, fennel bulb, mushrooms, basil, small
</li>
<li>
amount of wine, water to cover; cook 45
</li>
<li>
minutes, strain when cooked.
</li>
<li>
1 1/2 cups zucchini, chopped
</li>
<li>
1 1/2 cups potato, chopped
</li>
<li>
1 1/2 cups white beans, pureed in own cooking water
</li>
<li>
1 cup tomatoes (either pureed fresh, canned, OR
</li>
<li>
1/2 cup tomato paste mixed with 1/2 cup
</li>
<li>
water)
</li>
<li>
1 loaf (approximately) day-old or older bread or
</li>
<li>
toasted to dry, sliced about 1/2&quot; thick
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place olive oil in large sauce pan and add pancetta to perfume.  Add onion, celery, parsley, garlic and sweat to perfume.  Add salt/pepper to taste.  
</li>
<li>
When above is translucent and smells wonderful (to perfume), add carrots, cabbage and some vegetable stock to cover.   Cook  a few minutes to begin cooking.  Stir and add vegetable stock just to cover vegetables
</li>
<li>
After 1 1/2 hour cooking, add zucchini, potatoes, pureed beans with liquid cooked in and tomatoes....adding more or less tomatoes to color of &quot;orange-pink&quot; and correct consistency (not too watery).  Cook another 40 minutes.
</li>
<li>
Place sliced dried bread in large bowl and layer with cooked soup alternating layers until top of bowl is reached.  Allow to cool to room temperature and serve.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is one of the favorites of Tuscan soups.  It is served at room
</p>
<p>
  temperature or even cold!&quot;
</p>
<p>
SERVINGS: 8
</p>
</div></body>
