<h1>Ribollita</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 medium onion, small dice
</li>
<li>
1 carrot, small dice
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1 lg can tomatoes
</li>
<li>
3 tablespoons tomato paste
</li>
<li>
1 can cannolini beans
</li>
<li>
1 pkg frozen spinach, thawed and chopped
</li>
<li>
chicken stock
</li>
<li>
large croutons, made with garlic
</li>
<li>
herb de provence
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: Adapted from Giada
</p>
</div></body>
