<h1>Rice in Lotus Leaves</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 dried black mushrooms
</li>
<li>
1/2 cup dried shrimp
</li>
<li>
4 large dried lotus leaves
</li>
<li>
2 tablespoons canola oil
</li>
<li>
4 large shallots
</li>
<li>
2 2 oz. each Chinese sausage, cut diagonally 1/8 &quot; slices
</li>
<li>
1 cup ham, diced
</li>
<li>
1/2 cup celery, diced
</li>
<li>
2 teaspoons cilantro
</li>
<li>
1/4 cup soy sauce
</li>
<li>
2 tablespoons sesame oil
</li>
<li>
6 cups cold cooked brown rice
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Soak mushrooms and dried shrimp in warm water until softened for about 20 minutes.
</li>
<li>
Submerge lotus leaves in simmeringwater until softened for about 15 mintues.  Drain.
</li>
<li>
In a hot wok add oil and stir fry shallots, sausage and dried shrimp for about 1 minute.
</li>
<li>
Add mushromms, ham, celery and cilantro and stirfry for another minute.  Add soy sauce and sesame oil.  Stir in rice.  
</li>
<li>
Place rice mixture in center of leaves; fold edges of leaves over so rice is completely covered.
</li>
<li>
Steam in wok in steamer on plate over high heat for about 30 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Martin Yan
</p>
</div></body>
