<head>
<title>Rice Pilaf</title>
</head>
<body>
<h1>Rice Pilaf</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons oil
</li>
<li>
1/2 onion, diced
</li>
<li>
2 cups rice
</li>
<li>
4 cups chicken
</li>
<li>
butter to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Heat oil in sauce pan.
</li>
<li>
2.  Etuve  onion (to sweat without browning)
</li>
<li>
3.  According to Chef Klaus:  Wash rice to remove starch
</li>
<li>
     According to Chef Terry/Gisslen:  Don&#39;t wash rice.
</li>
<li>
4.  Add rice and sweat a few minutes
</li>
<li>
5.  Cover with hot chicken stock, bring to boil.
</li>
<li>
6.  Cover with parchment to increase tightness of pan lid.
</li>
<li>
7.  Bake in oven at 350F for 18-20 minutes or on top of the stove for 18 minutes.
</li>
<li>
8.  Allow the rice to rest for 2-3 minutes.
</li>
<li>
9.  Season and toss lightly with tinned fork:  s/p/butter
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Chef Terry Whenmouth/Chef Klaus Loos
</p>
</body>
