<head>
<title>Rich Rolled Sugar Cookies</title>
</head>
<body>
<h1>Rich Rolled Sugar Cookies</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 pound unsalted butter, softened
</li>
<li>
2/3 cup  sugar
</li>
<li>
1 large egg
</li>
<li>
1/4 teaspoon baking powder
</li>
<li>
1/8 teaspoon salt
</li>
<li>
1 1/2 teaspoons vanilla
</li>
<li>
2 1/3  cups AP flour
</li>
</ul>
<h2>Method</h2><ul>
<li>
Beat butter and sugar with mixer until fluffy and well blended.
</li>
<li>
Add the egg, baking powder, salt and vanilla and beat until well combined.
</li>
<li>
Stir in the flour.
</li>
<li>
Divide the dough in half and roll each out between two sheets of wax paper or parchment paper to 1/4&quot; thick.  Place each rolled piece of dough on a baking sheet and place in the refrigerator for about 20-30 minutes.  
</li>
<li>
Preheat the oven to 350F.  Place parchment paper on 2 baking sheets.  Working with one rolled out portion at a time (keeping the other refrigerated).  Cut out the cookies with shapes desired.  With a spatula, transfer to baking sheet covered with parchment.  Space about 1&quot; apart.  Roll out scrapes and keep cutting until all dough is used.  If you are not frosting, sprinkle with sugar.
</li>
</ul>
<h2>Notes</h2><p>
Bake 1 sheet at a time, until cookies are lightly golden on top, 6-9 minutes.  Rotate sheet half way through baking.  Remove the sheet to a rack and let stand until cookies firm slightly.  Transfer cookies to rack and cool.  SOURCE: Joy of Cooking
</p>
</body>
