<h1>Ricotta Cheese (Homemade)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups milk
</li>
<li>
2 cups cream
</li>
<li>
2 teaspoons sugar
</li>
<li>
1 teaspoon salt
</li>
<li>
8 lemons, juice &amp; rind
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Boil milk, cream, sugar and salt.  Ad juice and rind from lemons.  
</li>
<li>
Strain through cheesecloth or wet cotton towels and squeeze tightly, allowing to drain for 5-6 minutes.  Spread in pan to cool.
</li>
</ul>
<h2>Notes</h2><div id='notes'></div></body>
