<head>
<title>Ricotta Rice</title>
</head>
<body>
<h1>Ricotta Rice</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 cups cooked brown rice
</li>
<li>
1/2 cup green onion, finely chopped
</li>
<li>
3 cups ricotta cheese
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1 pint sour cream
</li>
<li>
1/4 tablespoon milk
</li>
<li>
hot pepper sauce
</li>
<li>
salt
</li>
<li>
2/3 cup Parmesan cheese
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Combine rice with the onions.  Add cheese, garlic, sour cream, milk, hot pepper sauce, and salt.  Place into buttered oblong baking dish.  Sprinkle with Parm and bake in 350F oven for 25 minutes.SOURCE: Adapted from Marian Burros
</p>
</body>
