<h1>Roasted Squash with Leek &amp; Barley Pilaf</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/4 cups pearl barley
</li>
<li>
1 bay leaf
</li>
<li>
1 butternut squash, or similar winter squash
</li>
<li>
1/4 cup olive oil, divided
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
1 tablespoon thyme leaves, fresh, divided
</li>
<li>
1-2 pinches hot pepper flakes, to taste
</li>
<li>
2 tablespoons butter, divided
</li>
<li>
3 ribs celery, sliced
</li>
<li>
4 leeks, thickly sliced
</li>
<li>
8 oz. crimini mushrooms, sliced
</li>
<li>
2 carrots, coarsly shredded
</li>
<li>
1/2-3/4 cups vegetable stock
</li>
<li>
handful fresh parsley, rough chop
</li>
<li>
3 tablespoons pumpkin seeds, lightly toasted
</li>
<li>
8 oz  Fontina cheese
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Rinse barley.  Place in large saucepan with bay leaf and cover with water.  Bring to boil and lower heat, simmering, partially covered for 30-40 minutes until tender.  Drain and set aside.
</li>
<li>
Preheat oven to 400F.  Cut squash into 4-8 wedges.  Do not peel; scoop out seeds.  Rub with half the oila nd put on baking sheet.  Season with s/p and scatter over half the thyme and hot pepper flakes.  Roast, uncovered in preheated oven for about 40 minutes until tender and browned.
</li>
<li>
Meanwhile heat remaining oil and half the butter in a skillet.  Cook celery for 5 minutes; add leeks and the remaining thyme.  Cook until softened.  Add mushrooms and cook over medium heat until browned.  Toss in carrots and cook another 1-2 minutes.
</li>
<li>
Add barley and stir, adding sufficient stock to make grains moist and reheat thoroughly.  Check seasoning and stir in parsley, pumpkin seeds and remaining butter.
</li>
<li>
Serve by topping squash with sliced cheese and garnish with thyme springs.  Sprinkle with pepper and let cheese melt under hot broiler until it bubbles.  Serve immediately with barley pilaf.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 4
</p>
<p>
SOURCE: Adapted from Cooking with Pumpkins &amp; Squash/Brian Glover
</p>
</div></body>
