<h1>Roasted Tomato Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 pounds Roma tomato , cut in half OR
</li>
<li>
3 large cans of Roasted Tomatoes**
</li>
<li>
1/2-1 large onion, sliced
</li>
<li>
8 cloves garlic
</li>
<li>
2 tablespoons olive oil
</li>
<li>
salt to taste
</li>
<li>
water to thin
</li>
<li>
*1 large bunch each basil &amp; parsley leaves, for Italian use
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Place tomatoes and onions under broiler and broil until blackened.  Remove skin from garlic cloves.  Place the tomatoes, onions and garlic with olive oil in food processor and process until smooth.  Add water if need to thin.SOURCE: Apple Charlotte
</p>
</body>
