<h1>Roasted Artichoke Dip</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 9 ounce boxes frozen artichokes, do not thaw
</li>
<li>
2 teaspoons olive oil
</li>
<li>
1 medium onion, minced
</li>
<li>
2 cloves garlic, smashed/dragged
</li>
<li>
1 cup reduced-fat mayonnaise
</li>
<li>
1/2 cup light cream cheese, at room temperature (important)
</li>
<li>
1/2 cup Parmesan cheese
</li>
<li>
1 tablespoon lemon juice, from fresh lemon
</li>
<li>
1 tablespoon fresh thyme leaves, minced
</li>
<li>
pinch cayenne
</li>
<li>
Topping:
</li>
<li>
1 cup fresh bread crumbs
</li>
<li>
vegetable oil spray
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat the oven to 450F.  Toss the artichokes with 1 teaspoon of the oil, a little salt and a little pepper,  and place on sheet pan lined with parchment paper.  Roast in the oven until artichokes are browned at the edges, about 20-25 minutes.
</li>
<li>
Cool artichokes and chop coarsly.  Reduce oven temperature to 400F.
</li>
<li>
Combine onion, garlic, remaining 1 teaspoon oil and a little salt.  Place in a non-stick saute pan.  Cover and cook over med. low heat until softened.  Stir occasionally.
</li>
<li>
Pour onion mixture into a bowl.  Add the mayonnaise, cream cheese, Parm, lemon juice, thyme and cayenne to onion mixture and stir to combine, smearing any lumps of cream cheese until smooth.  Gently fold in the  chopped artichokes and season with salt and pepper to taste..  Pour into an ungreased au gratin or 8&quot; square pan.
</li>
<li>
Topping:  Toss the bread crumbs and Parm together in a medium bowl.  Sprinkle over top of the dip and spray the bread crumbs lightly with vegetable oil spray.
</li>
<li>
Bake until browned, 20-25 minutes.  Serve hot.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Adapted from Cooking Light&quot;
</p>
<p>
SERVINGS: 10
</p>
</body>
