<h1>Roasted Corn Soup with Chipolte Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 lbs. frozen corn kernels
</li>
<li>
2 tablespoons butter
</li>
<li>
1 leek, sliced
</li>
<li>
1 stocks celery, small dice
</li>
<li>
1 tablespoon celery seed
</li>
<li>
4 cups chicken stock, or veg. stock
</li>
<li>
2 cups half and half
</li>
<li>
1 1/2 tablespoons chipotle chile canned in adobo, for soup
</li>
<li>
1/2 lime, juice of
</li>
<li>
1 tablespoon cumin
</li>
<li>
salt and pepper
</li>
<li>
2 tablespoons chipotle chile canned in adobo, for sour cream
</li>
<li>
1 cup sour cream
</li>
<li>
sprinkle ancho chile powder, or chile powder of choice
</li>
</ul>
<h2>Method</h2><ul>
<li>
Roast corn on sheet pan until slightly caramelized.
</li>
<li>
Melt butter in stock pot and add leek, celery and celery seed and  sweat until soft.
</li>
<li>
Add chicken stock, corn and cook until warm and flavors begin to come together, about 20 minutes.
</li>
<li>
Blend with with hand blender or in small batches in blender and return to pot.
</li>
<li>
Add cream to correct texture (if more than 2 cups of  cream is required, addtional milk or chicken stock may be added).  Season with lime, cumin and with salt and pepper to taste.  
</li>
<li>
Place chipotle chile in blender or food processor to blend.  Put through strainer.  Mix 1 1/2 tablespoons with soup and about 2 tablespoons  with sour cream.  Pour into squirt bottle or dollop on top of soup.  Sprinkle with chile powder.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
