<head>
<title>Roasted Eggplant</title>
</head>
<body>
<h1>Roasted Eggplant</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 small eggplants
</li>
<li>
2 tablespoons white wine vinegar
</li>
<li>
lemon juice, to taste
</li>
<li>
2 tablespoons olive oil
</li>
<li>
2 tablespoons shredded red onion
</li>
<li>
2 cloves garlic, smashed, minced
</li>
<li>
1/2 teaspoon sugar
</li>
<li>
pepper, to taste
</li>
<li>
parsley
</li>
</ul>
<h2>Method</h2><ul>
<li>
Poke eggplants with fork and place on grill over medium hot coals.  Grill until charred all over and very soft and just beginning to collapse.  When cool, cut off stems and peel of charred skin.  Place in collander in a bowl and allow to drain for several hours in the refrigerator.  
</li>
<li>
Chop eggplant finely and place in a bowl.  Whisk the rest of the ingredients in a bowl and stir into eggplant.  Cover and chill.  Serve at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Great on crostini or as a side dish.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Holly Garrison&#39;s &quot;Periyali&quot;
</p>
</body>
