<h1>Roasted Cherry Tomatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 pints cherry tomatoes
</li>
<li>
2 shallots, minced
</li>
<li>
1/4 cup Italian parsley, chopped
</li>
<li>
2 large cloves garlic, minced
</li>
<li>
salt to taste
</li>
<li>
fresh ground pepper to taste
</li>
<li>
2 teaspoons fresh thyme, chopped
</li>
<li>
1/4 cup olive oil
</li>
<li>
1 cup soft bread crumbs
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Spread tomatoes in bottom of rectangular baking dish.  Mix together, shallots, parsley, garlic salt, pepper, thyme.  Top with bread crumbs and drizzle with oil.  Place in 375F oven for 8-10 minutes until lightly browned on top and tomatoes a slightly puffy.SOURCE: Apple Charlotte
</p>
</body>
