<h1>Roast Beef Stew</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
5 lbs. beef, 1&quot; pieces
</li>
<li>
rw
</li>
<li>
1 lb. mirepoix/sd
</li>
<li>
BG with garlic cloves
</li>
<li>
3 cups concasser
</li>
<li>
brown roux
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Sear beef in duck fat (if available) or butter.  Let meat stick until crusty and then turn.
</li>
<li>
2.  Remove beef place in stock pot  and deglaze with rw; add to stock pot.
</li>
<li>
3.  Add mirepoix and caramelize.
</li>
<li>
4.  Add BG with garlic.
</li>
<li>
5.  Add vegetables and BG to pot with beef.
</li>
<li>
6.  Add concasser.
</li>
<li>
7.  Place in hot oven 400-425F and roast for about 1 1/2 hours.
</li>
<li>
8.  Remove meat from stock and place stock on stovetop.  Add roux to dirsired constancy.
</li>
<li>
9.  Season with ks and bp.
</li>
<li>
10.  Top off with a little cream,  brandy and monte de beurre.
</li>
<li>
11.  Pour over beef in chafing dish, top with Duxelle of Mushrooms.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 20
</p>
<p>
SOURCE: Chef Tom Hart
</p>
</div></body>
