<h1>Roasted Tomato Salsa</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/2 lbs. Roma tomatoes
</li>
<li>
5 chiles, jalapeno or serrano or mixture
</li>
<li>
1/2 whole white onion
</li>
<li>
4 cloves garlic, unpeeled
</li>
<li>
1/2 cup water, if needed
</li>
<li>
1 1/2 teaspoons olive oil
</li>
<li>
salt to taste
</li>
<li>
1/2 bunch fresh cilantro
</li>
<li>
1/2 tablespoon oregano, Mexican if possible
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Roast the tomatoes, chiles, onion and garlic.  Peel the garlic and put in a blender or food processor with the tomatoes and onion.  Process until smooth adding up to 1/2 cup water if needed.
</li>
<li>
In a frying pan over medium-high heat, warm the oil until it is smoking.  Pour the tomato mixture into the pan all at once--be careful, as it will splatter-- and fry stirring for 1-2 minutes.  Reduce the heat to medium-low and continue cooking until the sauce is quite thick for 15-20 minutes.  Season with salt, add cilantro and keep warm or serve at room temperature.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This sauce is fabulous with our chile rellenos, enchiladas or any
</p>
<p>
  &quot;South of the Border&quot; item.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 cups&quot;SOURCE: Traditional
</p>
</div></body>
