<head>
<title>Roasted Red Peppers Stuffed with Feta Cheese</title>
</head>
<body>
<h1>Roasted Red Peppers Stuffed with Feta Cheese</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 large red peppers
</li>
<li>
1 lb. feta cheese
</li>
<li>
8 tablespoons olive oil
</li>
<li>
3 tablespoons fresh thyme
</li>
<li>
2 tablespoons parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Roast the pepper whole and peel.
</li>
<li>
Spread the cheese slices out on a plate in a single layer and pour the oil over them.  Sprinkle half the thyme over the top and turn the slices over.  Sprinkle the remaining thyme over the second side.  Set aside for 30 minutes.
</li>
<li>
Slide the cheese slices inside the peppers in a single layer, arranging each on a baking tray as you go.  You may need to cut the slices to fit nside the peppers.  Dribble some of the oil used for marinating the cheese over the top.
</li>
<li>
Just before serving, preheat the broiler, setting the shelf 5-7 inches below the heat source.  Broil for 3=4 mnutes or until the cheese has melted a bit and the pepper are lightly browned in spots.  Sprinkle the parsley over the top and garnish with fresh thyme sprigs.  Serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Madhur Jaffrey
</p>
</body>
