<head>
<title>Roasted Corn Soup w/Roasted Red Pepper Coulis</title>
</head>
<body>
<h1>Roasted Corn Soup w/Roasted Red Pepper Coulis</h1>
<h2>Ingredients</h2>
<ul>
<li>
16 ounces frozen corn kernels or ~ 15 ears
</li>
<li>
fresh corn kernels
</li>
<li>
1/2 tablespoon butter
</li>
<li>
1 leek, sliced
</li>
<li>
2 1/2 cups skim milk
</li>
<li>
2 1/2 cups chicken stock (or vegetable stock)
</li>
<li>
2 teaspoons Worcestershire Sauce
</li>
<li>
Bouquet Garni: bay leaf, parsley stems
</li>
<li>
thyme, peppercorns tied in sack
</li>
<li>
1/2 cup evaporated skim milk
</li>
<li>
2 tablespoons heavy cream
</li>
<li>
salt &amp; white pepper to taste
</li>
<li>
2 red bell peppers, roastedm skinned, seeded
</li>
<li>
chives
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Roast corn on sheet pan until slightly carmelized.
</li>
<li>
2.  Melt butter in stock pot and add leek and sweat until soft.  
</li>
<li>
3.  Add milk, chicken stock, corn Worchestershire sauce and BGarni and cook until warm and flavors begin to come together.   Remove BGarni.
</li>
<li>
4.  Blend with hand blender or in small batches in blender and return to pot.
</li>
<li>
5.  Taste and add evaporated skim milk and cream....season to taste with salt and white pepper.
</li>
<li>
6.  Take roasted red pepper and place in blender with a small amount of chicken stock (like about 2-3 teaspoons).  Whirl until smooth.
</li>
<li>
7.  Place soup in heated bowls and top with a squiggle of coulis and chopped chives.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Char
</p>
</body>
