<h1>Roasted  Corn on the Cob with Cotija Cheese and Lime Juice</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 ears fresh corn
</li>
<li>
1 cup cotija cheese, finely grated
</li>
<li>
2 tablespoons ancho chile powder
</li>
<li>
2 limes, cut in half
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Husk the ears down to one layer of husk on each corn cob.  Be sure to remove the silk.  Dip each corn cob  into water.  Place on grill over indirect heat and grill (roast) for 20-25 minutes.
</li>
<li>
Strip off the husks.  Place the corn in an aluminum pan that is safe for the grill or on a sheet pan.  Sprinkle with chees and chile powder.  Return to the grill, ocvered.  Remove from the oven and squeeze the limes over the corn.  Serve.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Bobby Flay
</p>
</div></body>
