<h1>Roasted Rib Roast</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 rib roast, best with bone cut off and tied back on
</li>
<li>
garlic, minced
</li>
<li>
kosher salt
</li>
<li>
coarsely ground black pepper
</li>
<li>
fresh rosemary and thyme
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix the garlic, salt, black pepper and herbs.  Rub all over the roast.  Allow the roast to sit at room temperature for about 2 hours, loosely covered.  Preheat the oven to 450F.  Lay the roast, bone side down (if you have the bone)ub a large roasting pan and roast for 15 minutes.  Turn the oven down to 350F, without opening the oven, and cook for 45 minutes.  Check the internal temp of the roast and if it is not at 115F, keep checking it every 15 minutes until it reaches this temperature. (You can go to 120F if you want it a little more done....but be careful not to overcook).
</li>
<li>
Remove the roast from the oven and cover it loosely with foil.  Allow to rest for at least 15 minutes and up to 30 minutes.  In the meantime you can make your reduction sauce and complete other dishes to be served with meal.  At 15 minutes the internal temp will raise to about 125F and after 30 minutes it will raise to about 130F.  Carve and serve.
</li>
</ul>
<h2>Notes</h2></body>
