<h1>Roast Drunken Duck</h1>
<h2>Ingredients</h2>
<ul>
<li>
Marinade
</li>
<li>
4 teaspoons Kikkoman soy sauce
</li>
<li>
4 teaspoons dark soy sauce
</li>
<li>
1 cup dry sherry
</li>
<li>
1 teaspoon salt
</li>
<li>
1 teaspoon Chinese 5-Spice powder
</li>
</ul>
<h2>Method</h2><ul>
<li>
2          4-5 pound  duckling
</li>
<li>
  16             dried  black mushrooms
</li>
<li>
                        Stuffing:
</li>
<li>
  4        tablespoons  cooking oil
</li>
<li>
  8             slices  ginger -- julienned
</li>
<li>
  7             cloves  garlic -- minced
</li>
<li>
  4             medium  onions -- thinly sliced
</li>
<li>
     1/2           cup  jicama -- julienned
</li>
<li>
  4        tablespoons  Sichuan pickled vegetable
</li>
<li>
     1/2           cup  white wine
</li>
<li>
  2          teaspoons  Chinese five-spice powder
</li>
<li>
  4        tablespoons  dark soy sauce
</li>
<li>
  2        tablespoons  hoisin sauce
</li>
<li>
                        Glaze:
</li>
<li>
  4        tablespoons  dark soy sauce
</li>
<li>
  2        tablespoons  hoisin sauce
</li>
<li>
Rub marinade ingredients with marinade and refrigerate for 2 hours.
</li>
<li>
Stuffing:  In hot wok add oil, ginger and garlic and cook until fragrant.  Add onions and stir fry for 1 minute.  Add mushrooms, jicama and pickled vegetable and stir-fry for 2 minutes.  Add wine, five spice, soy sauce and hoisin sauce and cook for 1 minutes.
</li>
<li>
Preheat oven to 400F.  Place stuffing inside duck.  Place duck on a rack in a roasting pan.  Bake for about 1 to 1 1/2 hours.
</li>
<li>
Increase oven temperature to 475F.  Brush glaze mixture over duck and bak until skin is richly glazed another 5-7 minutes.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Martin Yan
</p>
</body>
