<h1>Roasted Vegetables</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 large carrots, cut into large chunks
</li>
<li>
4 large red onions, cut into eighths
</li>
<li>
4 medium parsnip, cut into large chunks
</li>
<li>
3 large turnips, cut into large chunks
</li>
<li>
3 large rutabaga, cut into large chunks
</li>
<li>
3 large sweet potatoes, cut into large chunks
</li>
<li>
12 large cloves garlic, peeled, whole
</li>
<li>
olive oil
</li>
<li>
2 tablespoons balsamic vinegar
</li>
<li>
3 fingers rosemary, leaves removed, chopped
</li>
<li>
salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cut the &quot;large chunks&quot; into uniform size large chunks for accurate cooking.  Mix all the ingredients together.  Place in large pan that will hold the ingredients in one layer.  Roast in hot, preheated oven, turning 2-3 times for about 45-60 minutes.  The vegetables should be pierceable and caramelized.
</li>
<li>
To make a Roasted Vegetable Soup:  Saute some onion, leek, garlic, thyme and rosemary in a little olive oil in a soup pot.  Add the roasted vegetables, cut into bite size pieces.  Add chicken, beef or vegetable stock.  Simmer briefly.  Season to taste.  Top with parmesan or pesto sauce.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a combination that is wonderful during the winter months...we
</p>
<p>
  miss our summer vegetables...but this reminds us how comforting and
</p>
<p>
  delicious it is to have hearty root vegetables.&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
