<h1>Roasted Reds</h1>
<h2>Ingredients</h2>
<ul>
<li>
Small red potatoes
</li>
<li>
olive oil
</li>
<li>
salt and pepper
</li>
<li>
fresh herb and/or garlic, optional
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Scrub and dry small red potatoes or if you cannot find the small ones; quarter large red potatoes (or white or Yukon Golds or a mixture).
</li>
<li>
2.  Heat a saute pan and add olive oil.
</li>
<li>
3.  Brown the potatoes slightly in the olive oil for about 10-15 minutes.  Add salt and pepper to taste and minced herb of your choice. 
</li>
<li>
4.  Place them in the oven at about 375F for approximately 40-45 minutes.  Turn them a couple of times during the roasting process.
</li>
<li>
5.  When done (taste for doneness); take from oven, taste for salt and pepper.   Serve.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is an easy and delicious way to have roasted potatoes.  The only trick is to be sure to serve them when they are done and they do not hold very well.  So plan accordingly.  They take about 45-55 minutes.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
