<h1>Roast Leg of Lamb with Orange &amp; Mint</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 red onions, thinly sliced
</li>
<li>
2 oranges, scrubbed and thinly sliced
</li>
<li>
1 about 5 # leg of lamb, bone removed and saved for stock
</li>
<li>
olive oil
</li>
<li>
2 tablespoons fresh mint
</li>
<li>
kosher salt
</li>
<li>
black pepper
</li>
<li>
1/2 cup kalamata olives
</li>
<li>
1/2 cup fresh orange juice
</li>
<li>
1/2 cup lamb stock
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Make a lamb stock by taking the bone, roast it until deep brown.  Place bone in large sauce pan and add mirepoix, bouquet garni, carrot, onion, and 2 stocks of celery.  Cover with water and allow to simmer for at least 4 hours.
</li>
<li>
Heat oven to 425F.  Place rack on second level from bottom.
</li>
<li>
In a roasting pan, layer the onion rings to fit under the lamb.  Top with half of the orange slices.  Coat lamb with oil, chopped mint, salt and pepper.  
</li>
<li>
Heat a large skillet and sear the lamb all around.  Top the onion and orange slices with the lamb and place in the oven for about 35 minutes.  The read on the thermometer should be about 135-140F.
</li>
<li>
Remove the lamb from the oven and place on a warmed platter.  Cover with aluminum foil.
</li>
<li>
To the roasting pan on medium high heat, add the orange juice and stock, deglazing the pan.  Reduce slightly.  Remove the onions and oranges with a slotted spoon and skim off any fat.  Taste for correct seasoning.  Add the olives and heat through a minute.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Serve with rice.SOURCE: Adapted from Barbara Kafka
</p>
</div></body>
