<h1>Roast Pork Calypso Style</h1>
<h2>Ingredients</h2>
<ul>
<li>
Roast Pork:
</li>
<li>
3 shallots, chopped
</li>
<li>
2 bay leaf, crumbled
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
3/4 teaspoon allspice, ground
</li>
<li>
3/4 teaspoon ginger, ground
</li>
<li>
2 3/4 lbs. pork tenderloin
</li>
<li>
Sauce:
</li>
<li>
1 1/2 cups orange juice, fresh
</li>
<li>
1/4 cup shallots, minced
</li>
<li>
3 tablespoons brown sugar
</li>
<li>
2 tablespoons fresh ginger, minced
</li>
<li>
2 bay leaf
</li>
<li>
3/8 teaspoon allspice, ground
</li>
<li>
ground sage
</li>
<li>
spinach leaves, fresh
</li>
<li>
2 avocados, peeled, pitted, sliced crosswise
</li>
<li>
parsley, fresh, minced
</li>
<li>
Black Bean, Heart of Palm and Corn Salad:
</li>
<li>
1 16 oz. can black beans, rinsed, drained
</li>
<li>
1 10 oz. package frozen corn, thawed, drained
</li>
<li>
1 7 1/2 oz. can hearts of palm, drained, cut into 1/4&quot; rounds
</li>
<li>
2 large tomatoes, seeded, diced
</li>
<li>
1/2 red onion, minced
</li>
<li>
1/2 cup cilantro, fresh, chopped
</li>
<li>
1/4 cup olive oil
</li>
<li>
3 tablespoons lime juice, fresh
</li>
<li>
1 teaspoon ground coriander
</li>
</ul>
<h2>Method</h2><ul>
<li>
Roast Pork:  Preheat oven to 450F.  Combine shallots, bay leaves, salt, allspice and ginger in small bowl.  Add generous amount of pepper.  Rub mixture into pork.  Set on rack in roasting pan.  Roast until thermometer inserted into centers registers 145-150F, about 20-25 minutes.  Cool slightly.  (This can be prepared 1 day ahead.  Bring pork to room temperature before serving.)
</li>
<li>
Sauce:  Combine first 6 ingredients in heavy small saucepan.  Season with pepper.  Simmer until slightly syrupy, about 10 minutes.  (Can be prepared 1 day ahead.  Cover and refrigerate.)
</li>
<li>
Salad:  Mix all ingredients in medium bown.  Season salad to taste with salt and pepper. (Can be prepared 1 day ahead.  Cover and refrigerate.)
</li>
<li>
Line platter with spinach.  Mound black bean salad in center.  Slice Pork.  Alternate pork and avocado slices around salad.  Discard bay leaves from sauce and drizzle sauce over pork and avocado.  Sprinkle with parsley.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;An easy, delicious, cool &quot;do-ahead&quot; dinner that they will love!&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Bon Appetit, 1992
</p>
</body>
