<head>
<title>Roasted Brussel Sprouts</title>
</head>
<body>
<h1>Roasted Brussel Sprouts</h1>
<h2>Ingredients</h2>
<ul>
<li>
2-3 pounds brussel sprouts, cut in half
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1 large shallot
</li>
<li>
2 cloves garlic, smashed slightly
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
1 tablespoons balsamic vinegar
</li>
<li>
Parmesan cheese
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 375F.
</li>
<li>
Heat saute pan on top of stove.  Add shallot and smashed garlic to infuse.  Saute about 1 minute.  Add brussel sprouts, mix to flavor and add salt and pepper to taste.
</li>
<li>
Place in oven for 5-8 minutes until pierceable.  Top with a bit of parmesan cheese and serve.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
