<h1>Roasted Potatoes with Rosemary, Shallots &amp; Peppers</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 lbs. red potatoes
</li>
<li>
12 shallots
</li>
<li>
2 yellow bell peppers
</li>
<li>
1 tablespoon olive oil
</li>
<li>
2 tablespoons chicken stock
</li>
<li>
2 rosemary sprigs, other herbs can be used as chosen to go with different main courses.
</li>
<li>
salt and pepper, to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 400F.  Par-boil the potatoes without peeling in boiling salted water for 5 minutes.  Drain and when cool 
</li>
<li>
peel them cut in half.
</li>
<li>
Peel the shallots and keep whole in their natural  segments.  Cut each pepper into strips.
</li>
<li>
Place the tablespoon of olive oil in pan.  Arrange the ingredients in pan and sprinkle with rosemary, salt &amp; pepper.
</li>
<li>
Roast uncovered for about 30-40 minutes, turning the vegetables occasionally,  until all vegetables are tender.    Serve hot or at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Colorful and richly flavored....a great match for grilled or roasted
</p>
<p>
  meats.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1/2 cup&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
