<head>
<title>Roasted Cinnamon Ice Cream</title>
</head>
<body>
<h1>Roasted Cinnamon Ice Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 teaspoons cinnamon, ground
</li>
<li>
2 cups half and half
</li>
<li>
1 large cinnamon stick, broken into 3-4 pieces
</li>
<li>
3/4 cup sugar
</li>
<li>
6 large egg yolks
</li>
<li>
2 cups heavy cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
In a small, non-stick skillet over low heat toast the ground cinnamon until fragrant, about 3 minutes.  Shake the pan continuously over the fire to keep it from burning.  Remove, place on plat to cool and set aside.  Prepare a bowl with a strainer to have ready when the ice cream mixture is cooked.
</li>
<li>
In a 2 quart saucepan, heat the half and half with the broken pieces of cinnamon stick and sugar.  Heat until small bubbles appear around the edge.  Remove from heat and allow the cinnamon to infuse.  Meanwhile, separate the eggs, leaving just the yolks (save the whites for another use...they freeze nicely).  Beat  with a whisk until slightly thickened  in a bowl large enough to accomodate the existing warm cream mixture.  Whisk in the hot cream mixture, a little at a time (this is &quot;tempering&quot; the eggs so they will not curdle).  
</li>
<li>
Rinse out the pan but don&#39;t dry it....this keeps the mixture from sticking to the pan when you add it back into the pan.  After adding the custard mixture back into the pan, cook over medium heat, stirring constantly, until mixture thickens enough to coat the back of a wooden spoon and leaves a trail when you pass your finger through it.  Strain into your bowl awaiting.  Stir in the whipping cream (heavy cream).  Cool bowl within a larger bowl filled with ice and water.  Place plastic wrap on top of the mixture and place in the refrigerator for 6-8 hours or overnight before freezing in an ice cream maker (according to manufacturer&#39;s directions).
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Unbelievable with Apple Pie.....&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 quart&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
