<h1>Roquefort Potato Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 lbs. small red potatoes, scrubbed
</li>
<li>
1/2 cup dry white vermouth
</li>
<li>
3/4 cup olive oil
</li>
<li>
2/3 cup apple cider vinegar
</li>
<li>
3 teaspoons tabasco sauce
</li>
<li>
3 tablespoons sugar
</li>
<li>
3 tablespoons grainy mustard
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1 teaspoon cumin
</li>
<li>
1 tablespoon celery seed
</li>
<li>
6 scallions, chopped
</li>
<li>
1 orange bell pepper, seeded and diced
</li>
<li>
6 large leaves fresh basil
</li>
<li>
6 ounces Roquefort cheese, crumbled
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place the potatoes in a large pot and cover with cold water.  Bring to a boil over high heat and immediately reduce to a simmer, cooking the potatoes until tender when pricked with a fork, about 20 minutes.  Don&#39;t overcook.
</li>
<li>
Drain the potatoes well, cool slightly, and cut in half.  While they are still warm, toss the potatoes in a large bowl with the vermouth.
</li>
<li>
In a medium bowl, whisk together the safflower oil, vinegar, Tabasco, sugar, mustard, garlic, cumin and celery seed.  Gently stir in the scallions and orange pepper.  Pour the dressing over the potatoes.  Season with salt and pepper to taste.
</li>
<li>
Make a chiffonade of the basil by placing the leaves directly one on top of another in the same direction.  Starting along one edge, roll the leaves lengthwise.  Using a very sharp knife, cut the rolled basil into thin pieces.  Sprinkle the basil over the potatoes and add crumbled Roquefort cheese and toss.
</li>
<li>
This potato salad can be made a day in advance and kept covered in the refrigerator.  But it is best served right away.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 16
</p>
<p>
SOURCE: Adapted from Martha Stewart
</p>
</body>
