<head>
<title>Roquefort Cheese Canapes</title>
</head>
<body>
<h1>Roquefort Cheese Canapes</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 lb. Roquefort or Blue Cheese at room
</li>
<li>
temperature
</li>
<li>
5 tablespoons unsalted butter at room temperature
</li>
<li>
drop of tabasco sauce
</li>
<li>
dash of paprika
</li>
<li>
dash of worcestershire sauce
</li>
<li>
brandy to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine and serve on toasted breads.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Pol Martin
</p>
</body>
