<h1>Rosemary &amp; Peppered Plum Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 pounds plums, cut in 1/2&quot; wedges
</li>
<li>
1 large shallot, minced
</li>
<li>
2 fingers rosemary, minced
</li>
<li>
2 1/2 cups fruity red wine
</li>
<li>
3/4 cup brown sugar
</li>
<li>
5 whole cloves
</li>
<li>
2 star anise
</li>
<li>
1 stick cinnamon
</li>
<li>
1/4 cup red wine vinegar
</li>
<li>
3 tablespoons balsamic vinegar
</li>
<li>
1 juiced lemon
</li>
<li>
1/2 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
Place all ingredients in a large saucepan.  Cook until completely broken down into a runny sauce.  This is a sauce that is best served with a savory dish; i.e., Gruyere Crepes, Mushroom Strudel, etc. SOURCE: Apple Charlotte
</p>
</div></body>
