<h1>Rosemary &amp; Shallot Nuts</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 cups mixed nuts, almonds, walnuts, pecans
</li>
<li>
1 tablespoon olive oil
</li>
<li>
3 small shallots, thinly sliced
</li>
<li>
4 cloves garlic, thinly sliced
</li>
<li>
2 tablespoons unsalted butter
</li>
<li>
1/4 cup fresh rosemary, coarsely chopped
</li>
<li>
1/4 teaspoon cayenne pepper
</li>
<li>
2 tablespoons dark brown sugar
</li>
<li>
1 tablespoon kosher salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Toast nuts in 350F oven until golden and fragrant....about 8-12 minutes.
</li>
<li>
2.  Heat olive oil in small skillet over medium heat and add shallots and garlic, frying until golden....3-5 minutes.  Transfer to paper towel and set aside.
</li>
<li>
3.  Melt the butter and pour over nuts.  Add rosemary, cayenne, brown sugar and salt and stir well to combine.  Toss with shallots and garlic.  Serve warm or at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is one of our favorite seasoned nuts served during cocktail hour with Apple Charlotte Cooking &amp; Catering Co.
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Adopted from a  Martha Stewart recipe
</p>
</body>
