<h1>Royal Chicken Cooked in Yogurt</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup yogurt, skim milk
</li>
<li>
1 teaspoon salt
</li>
<li>
freshly ground pepper
</li>
<li>
1 teaspoon ground cumin
</li>
<li>
1 teaspoon ground coriander
</li>
<li>
1/4 teaspoon cayenne pepper, or to taste
</li>
<li>
1/4 cup cilantro, finely chopped
</li>
<li>
6 chicken breast half without skin
</li>
<li>
2 tablespoons vegetable oil
</li>
<li>
8 cardamom pods
</li>
<li>
6 whole cloves
</li>
<li>
2 inch cinnamon stick
</li>
<li>
3 bay leaf
</li>
<li>
2 1/2 tablespoons blanched almond, slivered
</li>
<li>
2 1/2 tablespoons raisins, golden
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Put yogurt into a bowl.  Beat it lightly until it is smooth and creamy.  Add 1/2 teaspoon of the salt, some black pepper, the ground cummin, ground coriander, cayenne and cilantro.  Mix and set aside.
</li>
<li>
Using the remaining 1/2 teaspoon salt, season the chicken pieces on both sides and sprinkle on some freshly ground black pepper.
</li>
<li>
Put the oil in a wide, preferable nonstick pan and set over medium-high heat.  When the oil is hot, put in the cardamom pods, cloves, cinnamon and bay leaves.  Stir once and put in some of the chicken pieces in a single layer.  Brown on both sides and remove to a large bowl.  Brown all the chicken pieces this way and transfer them to the bowl.  Put the almonds and raisins into the same hot oil.  Stir quickly.  The almonds should turn golden and the raisins should plump up.
</li>
<li>
Now put the chicken and its accumulated juices back into the pan.  Add the seasoned yogurt.  Stir to mix and bring to a simmer.  Cover, turn the heat to low and simmer gently for 20 minutes, stirring once or twice during this time.  Remove the cover, turn the heat up a bit and reduce the sauce until it is thick and just clings to the chicken pieces.  Turn the chicken pieces over gently as you do this.
</li>
<li>
*The large whole spices.....cardamom pods, whole cloves cinnamon stick and bay leaves are not to be eaten.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a wonderful Indian dish that will taste delicious and has a
</p>
<p>
  great &quot;mouth-feel&quot;.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 serving&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Adapted from Madhur Jaffrey
</p>
</div></body>
