<head>
<title>Royal Roast Leg of Lamb with Saffron Raisin Sauce (Shahi Raan)</title>
</head>
<body>
<h1>Royal Roast Leg of Lamb with Saffron Raisin Sauce (Shahi Raan)</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 7 1/2 - 9 pound leg of lamb, boned and butterflied, tied &amp; reformed to roast
</li>
<li>
Marinade
</li>
<li>
1 tablespoon garlic, chopped
</li>
<li>
2 tablespoons ginger root, chopped
</li>
<li>
1 teaspoon black cumin seeds, roasted
</li>
<li>
1 teaspoon red pepper, or to taste
</li>
<li>
1 1/2 teaspoons Mughal garam masala
</li>
<li>
4 teaspoons Kosher salt
</li>
<li>
3/4 cup golden raisins
</li>
<li>
1/2 cup raw pistachios, or walnuts
</li>
<li>
4 tablespoons lemon juice
</li>
<li>
1/4 cup brown sugar
</li>
<li>
3/4 cup plain yogurt
</li>
<li>
1/4 cup sour cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
2          teaspoons  saffron threads
</li>
<li>
  2        tablespoons  flour -- dissolved in 3 tablespoons water
</li>
<li>
Prick the top of the lamb with a skewer and place in a Dutch oven.
</li>
<li>
Put all the ingredients of the marinade in a food processor, running the processor until the mixture is of a thick paste consistency (add a little water if necessary).
</li>
<li>
Pour over the lamb and coat thoroughly.  Allow to marinate in the frig for 3 days.. ( If you start late in this process, leave the lamb butterflied and you can marinate for half the time.  Roll back into a roast after marinating.) Take out of the refrigerator about 1 hour before cooking, allowing it to come to room temperature.  Preheat the oven to 350F.
</li>
<li>
Over a small bowl, crush the saffron threads, making as fine a powder as possible.  Add 2 tablespoons of hot water and soak the saffron for 15 minutes.  Sprinkle this mixture over the lamb.
</li>
<li>
Place the Dutch oven with the lamb in it on a burner over medium heat and bring to a boil.  Pour 1 cup of boiling water down the sides of the pan.  Cover the pan with a piece of aluminum foil and top that with a lid.  
</li>
<li>
Roast the lamb in the 350F oven for 1 1/2 hours.  Lower the heat to 225F and continue roasting for an additional 45 minutes.  Turn off the oven and leave the lamb in the oven with the door shut for an additional 45 minutes.  The dish is now done.  It will stay hot in the oven for up to 45 minutes longer.
</li>
<li>
Take the lamb out of the oven and move to a cutting board.  Remove the trussing string.  Heat the contents of the pan to a simmer, skimming off the fat.  Add the water mixture and cook stirring, until thickened (about 2 minutes).  Taste for salt.
</li>
<li>
Slice the meat and place on a warm platter.  Spoon sauce over the meat.  Serve with rice and vegetable.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Classic Indian Cooking&quot;SOURCE: Adapted from Julie Sahni
</p>
</body>
