<h1>Saffron Basmati Brown Rice Pilaf</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/2 yellow onons, finely chopped
</li>
<li>
3 cloves garlic, minced
</li>
<li>
3 teaspoons olive oil
</li>
<li>
2 1/4 teaspoons ground cumin
</li>
<li>
1 1/2 teaspoons fennel seed
</li>
<li>
1/2 teaspoon ground pepper
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
3 cups brown basmati rice
</li>
<li>
3/4 teaspoon saffron, steeped in 1/2 cup warm water
</li>
<li>
5 1/4 cups water or light vegetable stock
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
In large heavy saucepan, saute onion and garlic in oil over medium heat until softened.  Add cumin, fennel see, pepper and salt.  Saute for 1 minute.  Add rice and stir for about 2 minutes until fragrant.  Add the saffron and water, bring to a boil and cover.  Reduce heat to meium-low and simmer for 20-25 minutes, or until the liquid is absorbed.  Remove from heat and let sit for 10 minutes before serving.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 10
</p>
<p>
SOURCE: Eric Tucker
</p>
</div></body>
