<h1>Saffron Couscous</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/2 onions, minced
</li>
<li>
3 cloves garlic, minced
</li>
<li>
3 teaspoons olive oil
</li>
<li>
2 1/4  tablespoons cumin
</li>
<li>
1 1/2 teaspoons fennel
</li>
<li>
1/2 teaspoon pepper
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
3 cups instant couscous
</li>
<li>
3/4 teaspoon saffron, steeped in 1/2 cup warm water
</li>
<li>
light chicken or vegetable stock
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
Heatt large sauce pan.  Add olive oil.  Add onions and sweat for about 5 minutes.  Add garlic and cook about 1 minute until fragrant.  Add seasonings and mix together.  Add couscous and toast a couple of minutes.  Add steeped saffron and vegetable stock.  Cover.  In 10-15 minutes, remove cover and fluff lightly with fork.  Taste to correct seasoning and serve.SOURCE: Apple Charlotte
</p>
</div></body>
