<head>
<title>Saigon Baguette or Banh Mi</title>
</head>
<body>
<h1>Saigon Baguette or Banh Mi</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 packages dry yeast
</li>
<li>
2 tablespoons sugar
</li>
<li>
3 cups AP flour
</li>
<li>
3 cups rice flour
</li>
<li>
2 teaspoons salt
</li>
<li>
2 cups lukewarm water
</li>
<li>
1/4 cup butter, melted
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place flours, sugar, salt in large mixer bowl.  Blend to mix. Turn on the mixer  and add the water and melted butter all at once.  Mix for about 45 seconds until it comes into a ball and has had a few seconds to develop.
</li>
<li>
Place the dough on a floured surface and cover with plastic wrap.  Allow to rise until doubled for about 1 hour or so.    
</li>
<li>
Punch down the dough and knead for 2 minutes.  Separate into 4 portions and shape into 4 8&quot; long baquettes (shorter and wider than a French baquette).  Although sticky, try not to overwork it.  Just gently shape.  Place on an upside down sheet pan with a piece of parchment paper on it.  Cover with a cotton towel, loosely.  Allow to rise again for about 45 minutes.  Preheat the oven to 400F with baking stone already in place.
</li>
</ul>
<h2>Notes</h2><p>
With a razor blade, make 3 diagonal slits along the top of each baquette.  Bake for 20-25 minutes until it sounds hollow when tapped on the bottom.  SOURCE: Adapted from Corinne Trang
</p>
</body>
