<h1>Salad of Cos, Carrots &amp; Cucumbers</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 hearts of romaine (cos), cut into large chunks
</li>
<li>
2 large carrots, peeled and shredded
</li>
<li>
2 cucumbers, peeled, seeded &amp; diced
</li>
<li>
1 recipe vinaigrette
</li>
<li>
2 cups croutons
</li>
<li>
1 large shallot
</li>
<li>
1 clove garlic
</li>
<li>
1/4 cup red wine vinager
</li>
<li>
3/4 cup olive oil
</li>
<li>
1/4 teaspoon dry mustard, or 1/2 teaspoon of Dijon mustard
</li>
<li>
salt &amp; pepper to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cut up clean greens (making sure they are dry).  Place in a large bowl.  Add carrots and cucumbers. 
</li>
<li>
Make vinaigrette by placing all ingredients in a large jar and shaking until thoroughly mixed.
</li>
<li>
Right before serving.....  
</li>
<li>
Pour the vinaigrette on the vegetables, 1/2 at a time, to make sure you do not over saturate.  Toss gently with two large spoons.  Taste a green to make sure it has enough dressing.  Add more if desired and/or the croutons and mix gently.  Do not over mix or the greens will begin to break down and wilt.  Serve immediately.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
