<head>
<title>Salame di Cioccolata</title>
</head>
<body>
<h1>Salame di Cioccolata</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 jelly roll cake (can be found in any
</li>
<li>
general cookbook)
</li>
<li>
espresso coffee made
</li>
<li>
milk
</li>
<li>
Nutella
</li>
</ul>
<h2>Method</h2><ul>
<li>
Take cake out of pan.  Spread with coffee to soak; sprinkle milk over that.  Cover with Nutella and roll gently with a towel.
</li>
<li>
Place in refrigerator to cool until service
</li>
<li>
.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;La Miniera....Montecatini Val de Cecina&quot;SOURCE: Chef Stefania
</p>
</body>
