<h1>Salad with the Works</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 head romaine lettuce
</li>
<li>
1 head red leaf lettuce
</li>
<li>
1 head curly leaf lettuce
</li>
<li>
1 head iceberg lettuce
</li>
<li>
vegetables of choice....seasonal is best, even berries added are delicious
</li>
<li>
1/2 lb. bacon, cooked and broken
</li>
<li>
1/2 lb. Gorgonzola cheese
</li>
<li>
6 eggs, hard boiled, chopped
</li>
<li>
Vinaigrette:
</li>
<li>
1 large shallot
</li>
<li>
2 cloves garlic
</li>
<li>
1/2 virgin olive oil
</li>
<li>
1/4 red wine vinegar
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;There is nothing quite like a salad that carries all the wonderful
</p>
<p>
  flavors of the season.  This is a winner.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
