<h1>Salad....Chili Dinner</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Wash &amp; spin following greens:
</li>
<li>
24 heads green leaf lettuce
</li>
<li>
12 heads red leaf lettuce
</li>
<li>
3 heads romaine lettuce
</li>
<li>
12 heads iceberg lettuce
</li>
<li>
3 bunches parsley
</li>
<li>
25 Roma tomato, quartered or sixths
</li>
<li>
15 red onions
</li>
<li>
Any other vegetables desired or
</li>
<li>
20 oranges, sectioned
</li>
<li>
Vinaigrette:
</li>
<li>
Lemon juice/some orange juice
</li>
<li>
olive oil and corn oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 125
</p>
<p>
SOURCE: Char
</p>
</div></body>
