<h1>Salmon w/ Roasted Lemon Beurre Blanc</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 1&quot; salmon fillet
</li>
<li>
olive oil
</li>
<li>
salt and pepper
</li>
<li>
Lemon Beurre Blanc:
</li>
<li>
1 small lemons, poked and roasted in microwave
</li>
<li>
1/4 cup white wine vinegar
</li>
<li>
1/3 cup white wine (fume or sauvignon blanc)
</li>
<li>
2 medium shallots, minced
</li>
<li>
1 tablespoon heavy cream
</li>
<li>
1 cup cold butter, cut into small cubes and
</li>
<li>
held on ice with paper barrier
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Make the beurre blanc first; allow your timing so that it holds no longer than
</li>
<li>
15 minutes over hot water bath.
</li>
<li>
2. Place fork-poked lemons in microwave oven for approximately 45-60 seconds.
</li>
<li>
3.  Squeeze lemon juice from both lemons into stainless steel pot that you plan to make
</li>
<li>
beurre blanc in.  Add vinegar, wine, shallots and s/p  and reduce the entire mixture  to
</li>
<li>
about 1/4 cup.
</li>
<li>
4.  Add about 1 tablespoon of cream to stabilize mixture (classically, this is not done; however, it&#39;s a trick that everyone uses  as the beurre blanc is an emulsification,  very fragile and can &quot;break&quot; easily).
</li>
<li>
5.  Take cut up butter, leaving it on the paper on the ice while you work, and whisk it into the reduction one small piece at a time.  The pot should remain on very low heat.  Continue to do this until all the butter is mixed in.**
</li>
<li>
6.  Taste the mixture and adjust seasoning as preferred by your taste with s/p.
</li>
<li>
Sometimes it needs nothing at this point.
</li>
<li>
7.  Strain into a small stainless steel bowl or stainless pot and hold over a pan of hot water over very low heat.
</li>
<li>
**  If the sauce &quot;breaks&quot; (you would see the butter separate from the rest of the ingredients and float to the top); you can repair it by starting over with your reduction mixture, even in smaller quantities, and slowly add back in the broken sauce and continue with the process.  You may want to add more  cold butter to overcome the additional stronger taste from the added new reduction.  A word of encouragement:  this probably won&#39;t happen with the bit of cream added at the beginning.
</li>
<li>
To saute the fillets:
</li>
<li>
1.  Place a small amount of olive oil and butter into saute pan.  Place the fillets in the pan.  Add s/p  and saute until about 1/3 of the fish has turned opaque as you view it from the side.  
</li>
<li>
2.  Turn the fish over and continue to cook until just a thin line of pink remains through the middle of the salmon.  The entire process takes about 7-10 minutes depending on the thickness of the fish.
</li>
<li>
3.  Place a small amount of the beurre blanc on a warm plate and top with one each of the fish fillets.  Place a bit more of  the sauce on top and top that with a small amount of lemon zest.  Add a touch of green:  Italian parsley stem, green vegetable, ie., braised fennel or leek, etc.  Use your imagination and make it pretty!!
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : The whole idea of this recipe is the two techniques of sauteing, used with the fish fillets and the making of the classic French Beurre Blanc.  Be reassured that you can use any fish fillet or even sauted shrimp or a combination for this dish....as usual, use your imagination and make it wonderful.  This can be a first course, served alone with a garnish, or a main course served with baby red potatoes, a vegetable and beautifully presented.  Beurre blanc is a wonderful sauce for vegetables as well.  Adding the lemon makes it perfect for fish.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
