<head>
<title>Salmon Consomme</title>
</head>
<body>
<h1>Salmon Consomme</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups fish stock
</li>
<li>
1 cup water
</li>
<li>
1 lb. salmon trimmings, head, tail, bones
</li>
<li>
2 egg whites, slightly beaten
</li>
<li>
1 cup sparkling white wine
</li>
<li>
1 3 oz. salmon fillet
</li>
<li>
1/4 cup minced fresh tomato
</li>
<li>
4 spears asparagus, blanched &amp; cut into 3&quot; julienne
</li>
<li>
2 tablespoons chopped fresh dill
</li>
<li>
salt to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Strain stock into saucepan and add the water and salmon trimmings.  Heat to a boil.  Lower the heat and simmer, uncovered, 30 minutes.  Strain; cool.  Refrigerate for at least 2 hours.
</li>
<li>
2.  Skim any fat off the chilled stock.  In a saucepan, start heating the stock over very low heat.  Stir in the egg whites and wine.
</li>
<li>
3.  Now bring the stock to a boil.  Once the egg whites have puffed and formed a raft on the surface, lower the heat and simmer over very low heat for 15 minutes.  Do not stir the stock during this time.
</li>
<li>
4.  Tilt the saucepan and ladle the consomme through a fine strainer lined with a coffee filter.
</li>
<li>
5.  Add the remaining ingredients and heat through.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Yields 8   3/4 cup  servings.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Silver Palate
</p>
</body>
