<h1>Salted Almonds</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 teaspoon coarse salt
</li>
<li>
2 tablespoons egg white, lightly beaten
</li>
<li>
2 cups whole almonds, in their skins
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat the oven to 350F.  Place the almonds on a baking sheet and roast for about 20  minutes, until nutty and golden.
</li>
<li>
Combine the egg white and salt, include the almonds and shake well to coat.
</li>
<li>
Tip out on to the baking sheet, give a shake to take apart the nuts, then put them back to the oven for 5 minutes, until they have dried.  Leave until cold, then store in an airtight container until ready to serve.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Berta&#39;s Tapa Recipes&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
