<head>
<title>Salted Preserved Olives</title>
</head>
<body>
<h1>Salted Preserved Olives</h1>
<h2>Ingredients</h2>
<ul>
<li>
A very slow method, yielding very strong
</li>
<li>
tasty fruit that can be processed later by
</li>
<li>
inserting in vinegared brind, used for
</li>
<li>
cooking as is, and may even be eaten
</li>
<li>
directly without further processing.
</li>
<li>
1. Layer the ripe olives in coarse salt.
</li>
<li>
One layer of salt, then a layer of olives,
</li>
<li>
ending with a layer of salt.
</li>
<li>
2. Takes at least 10 weeks and maybe
</li>
<li>
longer.
</li>
<li>
3. When olives are &quot;debittered&quot; to your
</li>
<li>
taste, they may be:
</li>
<li>
- bottled dry after removing all or most
</li>
<li>
of the salt.
</li>
<li>
- bottled with usual mixture of brine and
</li>
<li>
vinegar (50/50)
</li>
<li>
- bottled in brine and vinegar with garlic
</li>
<li>
and oregano. Dried tomatoes make
</li>
<li>
a wonderful addition.
</li>
<li>
- more elaborately you may also add feta
</li>
<li>
cheese chunks to the dried tomatoes,
</li>
<li>
garlic, oregano, brine and vinegar
</li>
<li>
concoction. You need a strong will to
</li>
<li>
keep this
</li>
<li>
this for long because it is so tasty.
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Taken off internet 10/04 at
</p>
<p>
  www.cs.sun.ac.za/~rdodds/Olives/indeks.html&quot;
</p>
</body>
