<head>
<title>Samsa ....A Tapenade</title>
</head>
<body>
<h1>Samsa ....A Tapenade</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
SAMSA
</li>
<li>
The contemporary version of this spread, tapenade, is a classic hors d&acirc;&#128;&#153;oeuvre in Provence, served on slices of bread.
</li>
<li>
It is also a versatile sauce that can be tossed with mushrooms and oil in a frying pan, spread on a roasted chicken, blended into a salad dressing or spread onto a turkey sandwich.
</li>
<li>
It is a good idea to desalt the olives, even though it takes time and effort. It is worthwhile, as the flavour is significantly improved and the paste is less bitter and salty.
</li>
<li>
INGREDIENTS 
</li>
<li>
1 kg (2 pounds) black olives, choose the shrivelled Greekstyle olives, in their own oil 
</li>
<li>
1 garlic clove, minced 
</li>
<li>
Half a lemon 
</li>
<li>
4 tablespoons olive oil 
</li>
<li>
4 anchovy filets (the anchovies should be cured in salt) 
</li>
<li>
1 tablespoon cumin seeds 
</li>
<li>
1 tablespoon aniseed
</li>
<li>
First de-seed your olives - you can get a handy gadget to do this quicker. Now de-salt them by transferring them into a basin of water and rinse, changing the water six or seven times, using a fine sieve to retain the olive flesh. Leave them to soak while you continue with the recipe.
</li>
<li>
To prepare the anchovies, pour three tablespoons of olive oil into a very small frying pan, add the anchovy fillets and stir with a fork, lightly mashing the fillets to dissolve them into the oil. Let them bubble lightly for just a moment. Remove from the heat and add the pureed garlic. Return to the heat and stir while letting it cook for 30 seconds. Remove from the heat. Pour the olives, well strained, into a blender, with a tablespoon of the anchovy puree, the remaining olive oil, and the cumin and aniseed.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: The Business Post
</p>
</body>
