<h1>San Antoinio Chocolate-Cajeta Flan Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 box chocolate cake mix
</li>
<li>
1 10.9 oz. jar Cajeta, (Mexican caramel)
</li>
<li>
1 14 oz.can sweetened condensed milk
</li>
<li>
1 14 oz. can evaporated milk
</li>
<li>
1/2 14 oz. can  whole milk, use 14 oz. can to measure
</li>
<li>
1 8 oz. cream cheese, room temp
</li>
<li>
1 teaspoon vanilla
</li>
<li>
8 large  eggs
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.  Place a large baking pan in the oven filled with enough water to come up the sides by 2&quot; on a large Bundt pan.
</li>
<li>
Spray the Bundt pan with non-stick spray and dust lightly with flour.  Prepare the cake batter according to the package directions.  Pour the goat&#39;s milk cajeta into the Bundt pan, coating as much of the inside of the pan as possible.  Pour the cake batter into the pan.
</li>
<li>
Place the milks, cream cheesem vanilla and eggs into a food processor or blender and blend well.
</li>
<li>
Pour the milk mixture very slowly around the top of the cake.  Cover the pan with foil and set in the water filled pan in the oven.
</li>
</ul>
<h2>Notes</h2><p>
Bake for 2 hour.  Remove the cake from the oven and allow to cool for 1 hour.  Place a large cake plate on top of the pan and invert.  The flan will come out on top.  Refrigerate before serving.  SOURCE: Adapted from &quot;The Tex-Mex Cookbook&quot;
</p>
</body>
