<h1>San Francisco Style Poached Eggs</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Active Time:  25 Minutes
</li>
<li>
Total Time:  25 Minutes
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:  Serves 4
</p>
<p>
In this rendition of Eggs Benedict, poached eggs top fresh asparagus and a pancetta waffle. However, tradition isn&#39;t totally abandoned. Lemon hollandaise smothers it all. Look for Meyer lemons to enhance the sauce further.
</p>
<p>
RECIPE INGREDIENTS
</p>
<p>
For the Waffles:
</p>
<p>
4 slices pancetta or bacon, cut into 1-inch pieces
</p>
<p>
1 cup cake flour
</p>
<p>
1 teaspoon baking powder
</p>
<p>
1/2 teaspoon salt
</p>
<p>
1 cup heavy cream
</p>
<p>
2 eggs at room temperature
</p>
<p>
For the Sauce:
</p>
<p>
3 egg yolks at room temperature
</p>
<p>
Salt and ground white pepper to taste
</p>
<p>
1-1/2 cups (3 sticks) unsalted butter
</p>
<p>
2 teaspoons grated lemon zest, preferably Meyer lemon
</p>
<p>
2 tablespoons fresh lemon juice, preferably Meyer lemon
</p>
<p>
1 tablespoon snipped fresh chives
</p>
<p>
For the Asparagus:
</p>
<p>
12 asparagus stalks, trimmed
</p>
<p>
For the Eggs:
</p>
<p>
1 tablespoon Chardonnay or white wine vinegar
</p>
<p>
8 eggs
</p>
<p>
DIRECTIONS
</p>
<p>
FOR THE WAFFLES:
</p>
<p>
In a small skillet, cook the pancetta or bacon over medium high heat until lightly browned. Using a slotted spoon, transfer to paper towels to drain. Preheat a waffle iron. In a blender or food processor, combine the flour, baking powder, and salt. Pulse quickly to blend. Add the pancetta or bacon, cream, and eggs and process for 6 seconds. Scrape the sides of the container. Pulse for 3 seconds to fully mix.
</p>
<p>
Pour 1/2 cup of the batter onto the hot waffle iron and cook for about 5 minutes, or until golden brown. Keep warm in a low oven. Repeat to cook the remaining batter. (To make ahead, let the waffles cool, then wrap in plastic wrap, place in a freezer bag, and freeze. To thaw, place in the toaster or 350 degree F oven and cook until heated through.)
</p>
<p>
FOR THE SAUCE:
</p>
<p>
In a blender or food processor, combine the egg yolks, salt, and pepper and process for 10 seconds. In a small saucepan, melt the butter until it foams. With the machine running, pour the melted butter in a thin stream into the blender or processor. Add the zest and lemon juice and pulse to incorporate. Pour the sauce into a bowl and place over a pan filled with 2 inches of hot water to keep the sauce warm. Stir in the chives just before serving. (You can also keep the hollandaise warm in a Thermos.)
</p>
<p>
FOR THE ASPARAGUS:
</p>
<p>
Cook the asparagus in a skillet of salted boiling water for 3 minutes, or until easily pierced with a knife. Drain and reserve.
</p>
<p>
FOR THE EGGS:
</p>
<p>
Bring a large skillet of water to a boil. Add the vinegar and reduce heat to a simmer. Break the eggs, one at a time, into a saucer and slide them into the water. With a spoon, gently bring the egg white over the center of each yolk to keep the whites intact. Cook for 4 minutes for soft-centered yolks. With a slotted spoon, transfter the eggs to a clean dish towel. (To make the eggs ahead of time: Cook the eggs for 3 minutes. Place them in a bowl of ice water to stop the cooking. Before serving, cook the poached eggs in simmering water for 1 minute to reheat.)
</p>
<p>
TO SERVE:
</p>
<p>
Place a hot waffle on each of 4 warm plates and top with 3 asparagus stalks, 1 poached egg, and some hollandaise.
</p>
<p>
SOURCE: San Francisco Flavors
</p>
</div></body>
