<h1>Santa Fe Enchiladas &amp; Red Chile Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup red chile, dried flakes or powder
</li>
<li>
1/4 cup chipotle chile, powder
</li>
<li>
6 cups boiling chicken stock, or water
</li>
<li>
2 1/2 tablespoons Mexican oregano, crushed
</li>
<li>
8 cloves garlic, minced
</li>
<li>
3 teaspoons cumin powder
</li>
<li>
2 tablespoons flour
</li>
<li>
4 tablespoons canola oil
</li>
<li>
2 teaspoons salt, or to taste
</li>
<li>
splashes Chipotle Tabasco Sauce, to taste
</li>
<li>
1 juice of one lime
</li>
</ul>
<h2>Method</h2><ul>
<li>
Enchiladas:
</li>
<li>
  12        white corn  tortillas
</li>
<li>
  1                     chicken -- cooked and shredded
</li>
<li>
  1              large  onion -- diced
</li>
<li>
  3               cups  jack &amp; longhorn cheddar cheese
</li>
<li>
Soak red chile and chipotle chile in stock or water for 1/2 hour.
</li>
<li>
Run through blender or use hand emulsion blender.
</li>
<li>
Cook garlic, oregano, cumin powder in 2 tablespoons of oil until fragrant.  Add to blended chile and blend in.
</li>
<li>
Add 2 tablespoons of oil to another saucepan.  Heat and add flour.  Whisk until slightly brown and no longer smells like raw flour. Meanwhile be heating chile sauce until comes to a boil and turn off.  Add this hot sauce to the flour mixture and whisk smooth.  The sauce should be slightly thick.  
</li>
<li>
For enchiladas:  Heat tortillas in a bit of oil in a skillet until soft and pliable.  Allow to drain on papertowels. Dip tortillas in sauce.   Fill enchiladas with chicken, raw onions and jack, cheddar cheeses.  Add a bit more sauce, roll up in pan.  Continue with all tortillas and finish by topping with more sauce and grated cheese.  Heat in 350F oven until bubbly, about 30-45 minutes.
</li>
<li>
You won&#39;t need all this sauce for this one serving.  Freeze the extra for another use.
</li>
</ul>
<h2>Notes</h2></body>
