<h1>Satay Peanut Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 stalks lemongrass, sliced
</li>
<li>
2 walnut size shallots, chopped
</li>
<li>
4 cloves garlic, chopped
</li>
<li>
1 teaspoon ground cumin
</li>
<li>
1 teaspoon ground coriander
</li>
<li>
1 teaspoon minced ginger
</li>
<li>
1/2 cup water
</li>
<li>
1 1/2 cups peanut butter, chunky with no additives
</li>
<li>
6 tablespoons canola oil
</li>
<li>
2 cups water
</li>
<li>
1/2 cup brown sugar
</li>
<li>
6 tablespoons chile garlic sauce
</li>
<li>
1/4 cup soy sauce
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place sliced lemongrass, shallot, garlic, cumin, coriaqnder, ginger and water in blender and process until smooth.  
</li>
<li>
Place a wok over medium heat until hot.  Add oil.  Add spice paste and cook, stirring until fragrant, 6-8 minutes. 
</li>
<li>
Mix half of the water with the peanut butter and mix until smooth.  Add this mixture with the brown sugar, chile garlic sauce and soy sauce to the mixture in the wok.  Bring to a boil.  Reduce heat and simmer until thickened, about 5 minutes.  
</li>
<li>
Serve with the satay for dipping.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Martin Yan
</p>
</div></body>
