<head>
<title>Sauce for Lamb</title>
</head>
<body>
<h1>Sauce for Lamb</h1>
<h2>Ingredients</h2>
<ul>
<li>
Reduced lamb stock
</li>
<li>
Reduced veal stock
</li>
<li>
In separate pan:
</li>
<li>
Minced shallots
</li>
<li>
Cracked black pepper corns
</li>
<li>
In butter...sweat.
</li>
<li>
Add red and white or just red wine and
</li>
<li>
reduce a sec.
</li>
<li>
Add stock reduction to above and
</li>
<li>
reduce further.
</li>
<li>
Strain and adjust seasoning.
</li>
<li>
To enrich stock, saute good meat trimmings
</li>
<li>
from racks with s/p and garlic. Add to
</li>
<li>
stock and deglazed pan drippings.
</li>
<li>
Will add brightness to stock. Skim fat.
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Thomas Oden
</p>
</body>
