<h1>Sauce of Asparagus &amp; Fresh Tomatoes</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. asparagus, sliced thin with large tips
</li>
<li>
1 pint cherry tomatoes
</li>
<li>
1 1/2 cups olive oil
</li>
<li>
2 tablespoons onion, minced
</li>
<li>
1 tablespoon garlic, minced
</li>
<li>
Parmesan cheese, shredded
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Saute onion, garlic until opague in olive oil.  Add sliced asparagus without tips and cook slightly.  Cut tomatoes in quarters.  Add tips and tomatoes and cook briefly.  Serve over pasta
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A light and bright addition to your summer menu items.&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Fattoria Medicea, Pistoia
</p>
</div></body>
