<h1>Sauerbraten</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 teaspoons salt
</li>
<li>
3 tablespoons brown sugar
</li>
<li>
1 cup chili sauce
</li>
<li>
1 1/2 cups white vinegar
</li>
<li>
1 5 Pound brisket of beef, shoulder roast of beef,
</li>
<li>
or chuck roast
</li>
<li>
1 cup chopped celery
</li>
<li>
2 onions, sliced
</li>
<li>
4 carrots, sliced
</li>
<li>
2 cups water
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix salt, brown sugar, chili sauce and vinegar together.  Pour over meat and let stand overnight in the refrigerator.
</li>
<li>
Preheat oven to 325F.  Place the meat in an ovenproof casserole, pouring marinade over meat.  Cover with celery, onions, carrots and water.
</li>
<li>
Cover and bake for about 2 hours, basting often with marinade.  Remove cover for 1 more hour.  
</li>
<li>
This dish is best prepared in advance so that fat can be easily skimmed from the surface.  When ready to serve, slice and reheat in the strained pan marinade.
</li>
<li>
Note:  You can also put all of the ingredients in a covered casserole and bake in a 200F oven overnight, for about 9 hours. 
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is basicly a Jewish and German pot roast taken from Joan
</p>
<p>
  Nathan&#39;s &quot;Jewish Holiday Kitchen&quot;.&quot;
</p>
<p>
SERVINGS: 8
</p>
</div></body>
