<h1>Sausage Cheese Grits</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 cups water
</li>
<li>
1 1/2 cups quick cooking grits
</li>
<li>
2 3/4 cups jack cheese
</li>
<li>
2 tablespoons unsalted butter
</li>
<li>
3 jalapeno chiles, minced
</li>
<li>
4 green onions, chopped fine
</li>
<li>
3/4 lbs. pork sausage
</li>
<li>
1 tablespoon vegetable oil
</li>
<li>
1 onion, chopped fine
</li>
<li>
1 large red pepper, chopped fine
</li>
<li>
10 large eggs
</li>
<li>
2 teaspoons Worcestershire sauce
</li>
<li>
salt to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Use quick cooking or regular grits.  With quick cooking, just bring the water to a boil, stir in the grits, slowly and simmer covered for about 7 minutes, stirring occasionally.  
</li>
<li>
Stir in 1 1/2 cups of the cheese, butter, jalapenos, green onions, and salt and pepper to taste, stirring until the cheese is melted and spread the mixture in a pan sprayed with pan spray.  
</li>
<li>
Brown the sausage, breaking up the lumps and drain on paper towels.  Pour off fat and add oil to pan.  Cook onion and red pepper until soft.
</li>
<li>
Mix the eggs with the Worcestershire sauce and salt.  Add the sausage and vegetables.  Spread this mixture over the grits.  Sprinkle with the remaining cheese and bake at 350F for about 30 minutes or until the eggs are cooked through.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a great &quot;gang&quot; dish.&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
