<h1>Sauteed  Sea Bass with Ginger-Sesame Glaze</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 medium carrot, peeled and cut crosswise
</li>
<li>
into thin slices
</li>
<li>
1/2 medium onion, peeled and cut crosswise
</li>
<li>
into thin slices
</li>
<li>
3 ounces fresh ginger, peeled, cut crosswise
</li>
<li>
into thin slices
</li>
<li>
1 tablespoon olive oil
</li>
<li>
1 BG sachet
</li>
<li>
1 tablespoon fennel seeds
</li>
<li>
1/2 cup muscat (or sweet Gewurztraminer)
</li>
<li>
1 1/2 cups chicken stock
</li>
<li>
1/2 cup veal stock
</li>
<li>
3 tablespoons canola oil
</li>
<li>
6 sea bass steaks (or tuna)
</li>
<li>
2 tablespoons dark sesame oil
</li>
<li>
2 tablespoons unsalted butter
</li>
<li>
sesame seeds
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  After slicing vegetables, reserve 10 slices of ginger.
</li>
<li>
2.  Heat o/o in med. saucepan.  Add carrot, onion, unreserved ginger, sachet and fennel seeds and sweat veg.  Stir in the wine and cook for 5 minutes, or until pan is almost dry.  Add stocks and simmer for about 10 minutes or reduce to ~ 1 cup.  Strain through a fine sieve  and reserve.
</li>
<li>
3.  Heat veg. oil in large saute pan over high heat.  Liberally season the fish with salt and pepper and place in the pan.  Sear for 3 minutes or until light crust forms.  Continues cooking after turning for desired doneness (depending on the kind of fish used).  
</li>
<li>
4.  Bring reduced sauce to a boil over high heat.  Stir in sesame oil and slowly whisk in butter.  Lastly, stir in reserved ginger and sesame seeds.
</li>
<li>
Serve with:  Rice Pilaf style white rice mixed with wild rice and Garlic Spinach (1 1/2 pounds fresh spinach, 1/4 cup butter, 2 tablespoons minced shallots, 1 tablespoon roasted garlic puree {6 whole roasted garlics:1 tablespoon o/o}, salt/pepper....
</li>
<li>
spinach steamed for 1 minute and mixed with sauteed shallots, puree and held for
</li>
<li>
last minute saute at service time.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 6
</p>
<p>
SOURCE: Charles Palmer
</p>
</body>
