<head>
<title>Sauteed Salmon with Pinot Noir and Thyme</title>
</head>
<body>
<h1>Sauteed Salmon with Pinot Noir and Thyme</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 5 oz. salmon fillets
</li>
<li>
3/4 teaspoon kosher salt
</li>
<li>
3/4 teaspoon pepper, freshly ground
</li>
<li>
1 tablespoon olive oil
</li>
<li>
1 cup Pinot Noir
</li>
<li>
4 sprigs thyme
</li>
<li>
1 tablespoon unsalted butter
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sprinkle salmon with 1/2 tsp. each  salt and pepper.
</li>
<li>
Warm the olive oil in a large frying pan.  Add the salmon and cook until slightly browned for about 3-4 minutes.  Furn the fish and cook for another 2-3 minutes.  The salmon will be slightly rare at the center.  If you prefer it fully cooked, continue cooking tor another minute or two.  Transffer the fish to a warmed platter and cove to keep warm.
</li>
<li>
Add the wine and the thyme springs tot he pan and bring to a boil over high heat.  Cook until reduced by half, about 5 minutes.  Remove the thyme sprigs and stir in the remaining salt and pepper and the butter.
</li>
<li>
Pour the wine sauce over the slamon.  Garnish wth additional thyme sprigs and serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;The Pacific Northwest&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Williams-Sonoma
</p>
</body>
