<h1>Sauteed Chicken with Herb de Provence Cream Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 whole chicken breasts, cut in half, boneless, skin on
</li>
<li>
flour, lightly coat
</li>
<li>
herb de provence
</li>
<li>
butter
</li>
<li>
olive oil
</li>
<li>
1/4 to 1/2 cup white wine
</li>
<li>
1/2 to 1 cup chicken stock
</li>
<li>
1/4 cup whipping cream
</li>
<li>
1 tablespoon butter
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Light coat chicken with flour, shaking to remove excess flour.
</li>
<li>
Heat pan.  Melt a bit of butter and olive oil in non-stick fry pan.  Sprinkle with s/p and h de provence.  Sear one side until golden, turn and season.  Sear until golden.  Add about 1 cup of chicken broth and cover for about 7-8 minutes until cooked through.  
</li>
<li>
Remove chicken to hot plate and tent with foil.  Meanwhile scrape up &quot;nummy scrummies&quot; and add a splash of white wine.  Reduce to 1/2 of wine.  Add about a cup of chicken stock.   Reduce to half.  Add whipping cream, reduce.    Whisk in 1 tablespoon of cold butter.  Taste for correct seasoning.  Serve sauce with chicken.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
