<h1>Scallop-Crab Cakes with Hot &amp; Sour Mango Slices and Cilantro Juice</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup pickling juice (recipe in Apple Charlotte
</li>
<li>
file)
</li>
<li>
1 cup thinly sliced mango
</li>
<li>
4 sea scallops
</li>
<li>
1/4 cup heavy cream
</li>
<li>
1 large egg white
</li>
<li>
1 cup crabmeat
</li>
<li>
1 cup bread crumbs
</li>
<li>
1/2 cup small diced red bell peppers
</li>
<li>
1/2 cup diced yellow bell peppers
</li>
<li>
2 jalapenos, minced, for Mexican version only
</li>
<li>
3 tablespoons chopped fresh cilantro
</li>
<li>
1/2 cup chopped scallions
</li>
<li>
2 tablespoons minced shallots
</li>
<li>
1/2 teaspoon Togarashi (recipe in App. Char file) OR
</li>
<li>
Mexican fresh roasted cumin, for Mexican version
</li>
<li>
salt and pepper
</li>
<li>
2 tablespoons canola oil
</li>
<li>
cilantro juice
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cilantro Juice:
</li>
<li>
                        2 cups packed fresh cilantro leaves,
</li>
<li>
                        blanced
</li>
<li>
                        3 tablespoons water
</li>
<li>
                        2 tablespoons canola oil
</li>
<li>
                        2 tablespoons olive oil
</li>
<li>
                        salt and pepper
</li>
<li>
                        Squeeze any excess water from the cilantro
</li>
<li>
                        and puree with the water and oils
</li>
<li>
                        for 3-4 minutes, or until smooth.  Strain
</li>
<li>
                        through a fine-mesh sieve and season
</li>
<li>
                        to taste with salt and pepper. 
</li>
<li>
                        Refrigerate until ready to use, or for up
</li>
<li>
                        to 8 hours.
</li>
<li>
                        hours.
</li>
<li>
To prepare the hot and sour mango slices:  Pour the Pickling Jice over the mango slices, cover and refrigerate for at least 1 hour.
</li>
<li>
To prepare the scallop-crab cakes:  Puree the scallops, heavy cream, and egg white until smooth.  Fold in the crabmeat, 1/2 cup of the bread crumbs, the red, yellow and if Mexican, green jalapenos, cilantro, scallions, shallots and Togarashi OR cumin, and season with salt &amp; pepper.  Cover with plastic wrap and refrigerate for 1 hour.
</li>
<li>
Form the scallop mixture into eight 1&quot; thick patties and dredge each cake in the remaining bread crumbs.  Place the canola oil in a large, hot, nonstick saute pan over medium heat, add the scallop-crab cakes and cook for 2-3 minutes on ech side, or until golden brown and crispy.
</li>
<li>
Drain the mango from the Pickling Jice and arrange some of the slices in the center of each plate.  Place 2 warm scallop-crab cakes over the mango slices and spoon the Cilantro Juice around the plate.
</li>
<li>
Italian Version:  Skip the Hot &amp; Sour Mango.  Replace the jalapenos with 1/2 teaspoon of chile flakes.  Replace the cilantro with Italian parsley.  Replace the Togarashi with dried Italian seasoning.  Top with Creamy Light Pesto Sauce.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 4
</p>
<p>
SOURCE: Charlie Trotter
</p>
</div></body>
