<head>
<title>Scaloppine Toscane</title>
</head>
<body>
<h1>Scaloppine Toscane</h1>
<h2>Ingredients</h2>
<ul>
<li>
Sliced veal
</li>
<li>
olive oil
</li>
<li>
garlic, minced
</li>
<li>
tomato, chopped
</li>
<li>
salt and pepper to taste
</li>
<li>
parsley, chopped
</li>
<li>
olives
</li>
</ul>
<h2>Method</h2><ul>
<li>
To olive oil in pan add garlic and sweat (the garlic, not you).  Add tomato.  Add the veal and lightly brown.  Top with salt and pepper, parsley and olives.  
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Our sweet little chef, Stefania, was happy to share her heart and
</p>
<p>
  mother&#39;s recipes with us.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;La Miniera....Montecatini Val de Cecina&quot;SOURCE: Chef Stefania
</p>
</body>
