<h1>Scampi</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 lbs. shrimp, medium for hors d&#39;oeuvre, lg for entre
</li>
<li>
1/2 cup olive oil
</li>
<li>
2 teaspoons garlic, finely chopped
</li>
<li>
2 tablespoons parsley, finely chopped
</li>
<li>
1/8 teaspoon red pepper flakes, crushed
</li>
<li>
1/2 teaspoon dried oregano, crushed
</li>
<li>
2 tablespoons fresh bread crumbs, finely crumbled
</li>
<li>
salt and pepper, to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat broiler to high.
</li>
<li>
Peel the shrimp leaving the last tail segment intact.  Rinse and drain well.
</li>
<li>
Add remaining ingredients to the shrimp and toss to coat evenly and sell.
</li>
<li>
Line a baking dish with foil or parchment paper and arrange the shrimp over it.
</li>
<li>
Place the shrimp under the broiler about three to four inches from the source of heat.  Broil 5-6 minutes.  It is not necessary to turn the shrimp as they cook.  Baste the shrimp and serve with Curried Sweet Pepper Strips and rice.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is an easy and delicious way to prepare scampi.  This is enough
</p>
<p>
  for an entree serving but it is wonderful as an opener as well.&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Pierre Franey
</p>
</div></body>
