<head>
<title>Seafood Pasta</title>
</head>
<body>
<h1>Seafood Pasta</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. spaghetti
</li>
<li>
1 lb. clams, fresh
</li>
<li>
1 lb. mussels, fresh
</li>
<li>
1 lb. medium shrimp, shelled and deveined
</li>
<li>
1/4 cup olive oil
</li>
<li>
2 large shallot, minced
</li>
<li>
3 cloves garlic, minced
</li>
<li>
red chile flakes
</li>
<li>
1/3 bottle white wine, approximately
</li>
<li>
2 small lemons
</li>
<li>
1/2 bunch Italian parsley, chopped
</li>
<li>
Parmesan cheese
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place spagetti in boiling salted water and cook about 10-11 minutes to al dente.
</li>
<li>
Devein and shell the shrimp.  Rinse the clams and debeard the mussels.
</li>
<li>
Drain and place on paper towels to absorb moisture.
</li>
<li>
Heat olive oil in large saute pan.  Add shallot and garlic and sweat.  Add shrimp and cook about 1 minute.  Add clams and mussels and stir, adding a splash of wine and red chile flakes.   Cover with lid and cook until the clams and mussels open and the shrimp is pink about 4-5 minutes.
</li>
<li>
While the fish is cooking, drain the spagetti in a colander and drizzle with olive oil, fluffing at the same time.  As soon as the clams and mussels are open, place spagetti in the shell fish and mix together.  Season with leimon juice.  Serve on heated plates and garnish with chopped parsley, Parm and lemon wedges.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A simply dish seen in many restaurants along the Mediterranian in
</p>
<p>
  Italy.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
