<h1>Seafood Fettuccini</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 large shallots, minced
</li>
<li>
1 bulb fresh fennel, chopped
</li>
<li>
1 cup chardonnay
</li>
<li>
1 cup chicken stock
</li>
<li>
2 lbs. rock shrimp
</li>
<li>
garlic, smashed and minced
</li>
<li>
1 large shallot, minced
</li>
<li>
1 head radicchio, sliced
</li>
<li>
whipping cream, to correct consistency
</li>
<li>
fresh parsley, chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Make a stock from fennel, shallots...sweated and then add Chardonnay and chicken stock.  Reduce.  This will be used as the base for the sauce.
</li>
<li>
Oil Rock Shrimp and season with s/p.  Place in hot saute pan and gently cook almost through.  Take shrimp out of pan.  Pour juices into above sauce base.  
</li>
<li>
To pan add shallots and garlic.  Saute briefly.  Add above stock.  Reduce slightly and add cream.  Season with s/p if necessary.  Add radicchio cut into fine strips at this point and cook briefly (not too much, will turn dark).  Add back shrimp and fresh fettuccini.  Place on warm large bowl or rimmed plate and scatter chopped parsley.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
