<h1>Seafood Kabobs</h1>
<h2>Ingredients</h2>
<ul>
<li>
16 large shrimp
</li>
<li>
16 large scallops
</li>
<li>
1 lb. halibut, cut 1&quot; thick
</li>
<li>
1 lb. salmon, cut 1&quot; thick
</li>
<li>
Marinade:
</li>
<li>
4 teaspoons olive oil
</li>
<li>
1/2 cup fresh lemon juice
</li>
<li>
5 teaspoons lemon zest
</li>
<li>
4 tablespoons white wine
</li>
<li>
3 cloves garlic
</li>
<li>
1 teaspoon black pepper
</li>
<li>
2 tablespoons basil, minced
</li>
<li>
2 tablespoons chives, minced
</li>
<li>
2 tablespoons rosemary, minced
</li>
</ul>
<h2>Method</h2><ul>
<li>
wooden skewer -- soaked and drained
</li>
<li>
Mix ingredients for marinade.   Reserve 1/4 cup before adding cut up pieces of fish.  Allow to marinade about 1/2 hour.  Place fish pieces on skewers.  Place on grill for about 3-4 minutes per side or until shrimp is pink and fish is opaque.  Serve on top of greens dressed with reserved marinade and Wild Rice &amp; Grains Pilaf on the side.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
