<h1>Seared Mushrooms</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
olive oil
</li>
<li>
shallots, minced
</li>
<li>
salt and pepper
</li>
<li>
crimini mushrooms, or a mixture of mushrooms if desired
</li>
<li>
fresh thyme, minced
</li>
<li>
garlic, minced
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Saute shallots briefly.  Add mushrooms, salt, pepper and thyme.  Cook over high heat until mushrooms begin to turn gold and caramelize.  At the end add garlic and cook briefly.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
If using with wine reduction sauce, add to sauce right before serving, heating through.SOURCE: Madeleine Kamman
</p>
</div></body>
