<h1>Seared Beef with Red Wine Reduction Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 New York Strips or other favorite steak
</li>
<li>
cut
</li>
<li>
olive oil
</li>
<li>
herbs
</li>
<li>
2 cloves garlic, minced
</li>
<li>
salt and pepper
</li>
<li>
1 large shallot, minced
</li>
<li>
1 cup stock, beef or veal
</li>
<li>
1 cup red wine
</li>
<li>
1 tablespoon butter, cold
</li>
</ul>
<h2>Method</h2><ul>
<li>
Take steaks and place in bowl.  Pour olive oil over and add desired fresh herbs and minced garlic.  Season with salt and pepper.
</li>
<li>
Place 1 cup stock and 1 cup wine in sauce pan.  Reduce to at least half.
</li>
<li>
Heat pan to hot.  Add steaks and cook on each side until desired doneness.  Take out of pan and place, tented, on warm plate.  Hold while you make sauce.  
</li>
<li>
Add the minced shallot to meat pan with 1 tablespoon olive oil, leaving fond and &quot;goodies&quot; (unless you have some burnt ones) in the pan.  Saute the shallots slightly.  Add the wine/stock mixture and deglaze the pan.  Cook until flavors meld and reduced more if desired.  Strain into bowl.  Place back into pan and monte au beurre.  Do not boil from here.
</li>
<li>
Go back to  steak and slice.  Place a small amount of sauce on warm  plate, top with meat and drizzle with sauce.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is one way to make a delicious wine reduction sauce.  If you
</p>
<p>
  want to do the same for chicken, choose a white wine and herbs and
</p>
<p>
  complete in the same manner.&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
