<h1>Seared Scallops with Tropical Black Bean Salsa</h1>
<h2>Ingredients</h2>
<ul>
<li>
32 sea scallops
</li>
<li>
3 tablespoons olive oil
</li>
<li>
salt and pepper
</li>
<li>
Salsa:
</li>
<li>
1 cup black beans
</li>
<li>
1 mango, cubed
</li>
<li>
1 papaya, cubed
</li>
<li>
3 plum tomatoes, cubed
</li>
<li>
1 teaspoon garlic, minced
</li>
<li>
1/2 large red onion, minced
</li>
<li>
1 bunch cilantro, chopped
</li>
<li>
1 red jalapeno chile pepper, minced
</li>
<li>
1 lime, juice of
</li>
<li>
salt and pepper to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place scallops in bowl and pour olive oil over.  Season with salt and pepper and mix gently with hands to cover all.
</li>
<li>
Make the salsa, tasting for correct seasoning and put aside.
</li>
<li>
Heat well-seasoned cast iron pan to very hot (until smoking).  Place scallops all around pan in even circles.  As soon as you meet up with the first one you put down and the pan is full, begin turning the scallops over.  They should be lightly seared and slightly golden.  When you finish the round (if the pan was hot enough to begin with).  The first one should alread be cooked through.  Do not overcook.
</li>
<li>
Take the remaining scallops out of pan.  Place three scallops on a plate (appetizer size) and add salsa to side.  Serve with rice and fresh tortilla chips.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a colorful and festive appetizer or main dish for a
</p>
<p>
  light-hearted and fun evening with friends.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
