<head>
<title>Seared Salmon Salad with Cilantro Dressing</title>
</head>
<body>
<h1>Seared Salmon Salad with Cilantro Dressing</h1>
<h2>Ingredients</h2>
<ul>
<li>
Marinade:
</li>
<li>
3 tablespoons soy sauce
</li>
<li>
3 tablespoons mirin
</li>
<li>
1 tablespoon fresh ginger, minced
</li>
<li>
1 1/2 teaspoons dark sesame oil
</li>
<li>
1 1/2 lbs. salmon fillets, with skin
</li>
<li>
1/3 lb. thin rice stick noodles, softened in hot water 20 minutes and drained
</li>
<li>
3 1/2 cups grated carrots
</li>
<li>
3 1/2 cups leaf lettuce, shredded
</li>
<li>
2 cups bean sprouts
</li>
<li>
Cilantro Dressing:
</li>
<li>
10 tablespoons soy sauce
</li>
<li>
1/2 cup Japanese rice vinegar
</li>
<li>
1 1/2 tablespoons dark sesame oil
</li>
<li>
1 1/2 tablespoons sugar
</li>
<li>
1 1/2 tablespoons rice wine or sake
</li>
<li>
9 tablespoons chicken broth
</li>
<li>
8 tablespoons fresh cilantro, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine marinade ingredients and add salmon fillets.  Gently turn with your hands to coat.  Cover with plastic wrap and refrigerate at least 30 minutes, turning several times.
</li>
<li>
In a large stockpot, heat 2 quarts of water until boiling.  Add softened rice stick noodles and swirl.  Cook 10 seconds, or until just tender.  Drain in a colander and rinse under cold running water.  Clip noodles, if desired, into 3-inch pieces, and spread on a deep serving platter.  Arrange carrots, lettuce, and bean sprouts in concentric circles over noodles, leaving a space in middle for grilled salmon.
</li>
<li>
To prepare dressing, combine all ingredients except cilantro in a small bowl, whisking to dissolve sugar.  Transfer to a serving dish, and stir in cilantro.
</li>
<li>
Prepare a hot fire for grilling, or heat a heavy skillet.  Brush a little oil on grill or skillet.  Place salmon fillets about 3 inches from heat source and grill, covered, 4-5 minutes on each side, brushing with remaining marinade.  If using a skillet, sear salmon, covered, over medium-high heat, 4-5 minutes on each side.  Remove and cut fillets in half along grain of fish; using your fingers, break into small pieces.
</li>
<li>
Arrange salmon in middle of salad.  Serve with dressing on the side.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;&quot;Health&quot;&quot;
</p>
<p>
SERVINGS: 6
</p>
</body>
