<h1>Shanghai Pork Noodles</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 dried Shiitake mushrooms, soaked in hot water for an hour
</li>
<li>
2 tablespoons dried shrimp
</li>
<li>
10 ounces rice vermicelli
</li>
<li>
2 1/2 ounces pork loin
</li>
<li>
1 small leek, trimmed
</li>
<li>
2 tablespoons peanut or canola oil
</li>
<li>
1 stalk celery, finely chopped
</li>
<li>
2 ounces bamboo shoots or jicama, cut into matchsticks
</li>
<li>
1/2 cup chicken stock
</li>
<li>
2 tablespoons soy sauce
</li>
<li>
1 teaspoon salt
</li>
<li>
1 teaspoon sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Drain mushrooms, cut off and discard stems and thinly slice caps.  Soak dried shrimp in warm water for 30 minutes, then drain.  Pour boiling water over noodles and let soak for 6-7 minutes, until tender.  Drain and set aside until needed.  Cut pork and leek into matchstick strips.
</li>
<li>
Heat oil in a hot wok and stir-fry pork for 1 minute.  Add shrimp, celery, bamboo shoots and leek and stir-fry for 1 minute.  Add noodles and toss through.  Add stock, soy sauce, salt and sugar and cook until liquid has been absorbed by the noodles.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Easy, Cantonese stir-fry.  Wonderful!!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Noodle&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Durack
</p>
</body>
