<h1>Shepherd&#39;s Pie</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. lamb, cooked and cut into small chunks
</li>
<li>
4 medium russet potatos, peeled and quartered
</li>
<li>
5 cloves garlic, skinned and left whole
</li>
<li>
1/2 cup chives, chopped
</li>
<li>
1/4 cup beef stock
</li>
<li>
1/4 cup half and half, or milk
</li>
<li>
3 tablespoons butter
</li>
<li>
salt and pepper to taste
</li>
<li>
3 tablespoons olive oil
</li>
<li>
1 medium onion, chpped
</li>
<li>
2 medium carrots, peeled and chopped
</li>
<li>
2 stalks celery, chopped
</li>
<li>
1 tablespoon flour
</li>
<li>
3/4 cup beef stock
</li>
<li>
2 tablespoons fresh thyme, chopped
</li>
<li>
2 tablespoons fresh rosemary, chopped
</li>
<li>
pinch freshly ground nutmeg
</li>
<li>
salt and pepper, to taste
</li>
<li>
2 tablespoons butter, cut into small pieces
</li>
</ul>
<h2>Method</h2><ul>
<li>
Use leftover cooked lamb or cook lamb by searing and roasting or sauteing if chops.
</li>
<li>
Cut lamb into 1/2&quot; chunks and set aside.
</li>
<li>
Place cut-up potatoes and garlic in water and cook until tender for about 15-20 minutes.  Drain, and  place through food mill or ricer into a bowl and add chives,  butter, 1/4 cup beef stock and cream.  Season with salt and pepper.
</li>
<li>
Meanwhile place olive oil in saute pan and add onion, carrot, celery, cooking until softened.  Increase heat slightly and add cooked lamb.  Brown evenly.  
</li>
<li>
Add the flour, cooking and stirring for another 3-5 minutes.  Add the 3/4 cup beef stock, herbs, nutmeg and salt and pepper to taste (remembering that you have salt and pepper in the mashed potato mixture, as well).  Lower heat, stirring occasionally, until thickened.  Let cool slightly.
</li>
<li>
Lightly spray a pie plate (9-10&quot;) with non-stick spray and place the meat and vegetable mixture.  Spread the mashed potato mixture over the vegetables.  Top the potatoes with a scattering of 2-3 tablespoons of butter. Bake at 400F until heated through for about 30-35 minutes.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is great English pub food made with lamb....mmmm....pass a
</p>
<p>
  brew!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;4 &quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
