<head>
<title>Sherrie&#39;s Holiday Bread</title>
</head>
<body>
<h1>Sherrie&#39;s Holiday Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup butter
</li>
<li>
1 1/2 cups sugar
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1/2 teaspoon lemon extract, These four items creamed
</li>
<li>
4 large eggs, added one at a time
</li>
<li>
3 cups flour
</li>
<li>
1 teaspoon salt
</li>
<li>
3/4 teaspoon cream of tartar
</li>
<li>
1/2 teaspoon soda
</li>
<li>
1 cup jam, or yams, or cranberry sauce
</li>
<li>
1/2 cup sour cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
350F for 50 minutes until done in 2 buttered loaf pans.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Given to me by a fabulous cook, Sherrie Conklin....what a treat!&quot;SOURCE: Sherry Conklin
</p>
</body>
