<head>
<title>Shortbread Crust</title>
</head>
<body>
<h1>Shortbread Crust</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/4 cups AP flour
</li>
<li>
1/3 cup sugar
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1/2 cup unsalted butter, slightly softened
</li>
<li>
1 large egg yolk
</li>
</ul>
<h2>Method</h2><ul>
<li>
In food processor, place flour, sugar, and salt.  Blend briefly.  Add butter in chunks.  Pulse until coarse crumb texture.  Add egg yolk and process until mixture just begins to come together.  If dry, sprinkle with a few drops of water.  
</li>
<li>
Press into greased and floured tart pan, pressing up the sides.  Place in refrigerator for 30 minutes.  Prick the bottom of the tart shell with a fork.  Meanwhile, preheat oven to 400F.
</li>
<li>
Bake the shell for 18-22 minutes until golden.
</li>
<li>
If you are filling the crust with an uncooked mixture, remove the crust from the oven at 18 minutes and brush with a mixture of a whisked large egg yolk and a pinch of salt.  Bake for an additional 2-3 minutes.
</li>
<li>
Place on a rack to cool for 30 minutes before adding filling.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Adapted from Joy of Cooking
</p>
</body>
