<h1>Shredded Wheat Bread</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 Shredded Wheat Biscuits
</li>
<li>
2 cups boiling water
</li>
<li>
2 1/4 teaspoons yeast
</li>
<li>
1/2 cup sugar
</li>
<li>
3 tablespoons vegetable oil
</li>
<li>
1 large egg
</li>
<li>
4 cups flour
</li>
<li>
1 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Pour boiling water over biscuits in large mixing bowl.  When cool to warm, add yeast and stir to dissolve.  Add sugar, egg and oil.  Mix well.  Add flour and salt.  Mix.  Let rise in warm place.  When double, knead, let rise again and knead again.  Put in two greased bread pans.  Let rise and bake in 350F oven for 30-40 minutes.SOURCE: Diane Quincy
</p>
</body>
