<h1>Shrimp Sauteed in Tropical Fruit Salsa</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 tablespoons butter, clarified
</li>
<li>
6 tablespoons canola oil
</li>
<li>
72 large shrimp, 16-20 count
</li>
<li>
3 pineapples, skinned, cored and cut in chunks
</li>
<li>
6 kiwi fruit, skinned and sliced
</li>
<li>
3 mangos, skinned, pitted and diced
</li>
<li>
6 papaya, skinned, seeded and diced
</li>
<li>
3 red bell pepper, minced
</li>
<li>
2 jalapeno, seeded, deribbed and minced
</li>
<li>
2 cups dry white wine
</li>
<li>
36 chives
</li>
</ul>
<h2>Method</h2><ul>
<li>
Saute the shrimp in the mixture of butter and oil over medium high heat until they turn opaque.  Add the fruits and peppers and saute for another 1-2 minutes stirring gently.  Add the wine and stir up the cooked bits from the bottom of the pan and cook another minute.  Season with salt and pepper.  Arrange and garnish with chives on top.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A wonderful way to begin a special summer meal...or as a complete
</p>
<p>
  meal with rice and salad.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;&quot;Great Chefs of the Caribbean&quot;&quot;
</p>
<p>
SERVINGS: 20
</p>
<p>
SOURCE: Michael Madsen
</p>
</body>
