<h1>Shrimp with Garlic</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 tablespoons olive oil
</li>
<li>
8 cloves garlic, finely minced
</li>
<li>
2 teaspoons red pepper flakes
</li>
<li>
2 teaspoons sweet paprika
</li>
<li>
2 lbs. medium shrimp, peeled and deveined
</li>
<li>
3 tablespoons fresh lemon juice
</li>
<li>
3 tablespoons dry sherry
</li>
<li>
salt and pepper
</li>
<li>
1/2 bunch Italian parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat olive oil in saute pan.  Add garlic, red pepper flakes and paprika and saute until fragrant.  
</li>
<li>
Raise the heat to high, add shrimp, lemon juice and sherry.  Stir and saute until shrimp are opaque,about 3 minutes.
</li>
<li>
Season with salt and pepper, sprinkle with parsley and serve.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is from the Basque country.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Adapted from Williams/Sonoma &quot;Savoring Spain &amp; Portugal&quot;&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
