<h1>Shrimp Ceviche</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/4 cups fresh lime juice
</li>
<li>
2 lbs. small shrimp, unpeeled
</li>
<li>
1 medium white onion, chopped small dice
</li>
<li>
2/3 cup fresh cilantro, chopped
</li>
<li>
1 cup ketchup
</li>
<li>
3 tablespoons Mexican bottled hot sauce
</li>
<li>
4 tablespoons olive oil, extra virgin
</li>
<li>
2 cups cucumber or jicama, or 1 cup each
</li>
<li>
2 small ripe avocado, peeled, pitted, cubed
</li>
<li>
salt
</li>
<li>
lime slices, for garnish
</li>
<li>
tortilla chips
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Bring a 2 quarts of water to a boil and add 1/4 cup of the lime juice.  Pour in the shrimp, cover and let the water return to the boil.  Immediately remove from the heat, set the lid askew and pour off all the liquid.  Replace the cover and let the shrimp steam off the heat for 10 minutes.  Spread the shrimp in a large stainless boil to cool completely.
</li>
<li>
Peel and devein the shrimp if you wish; devein if necessary.  Toss the shrimp with the remaining 1 cup of lime juice.  Cover and refrigerate for about an hour.
</li>
<li>
In a small strainer, rinse the onion under cold woater and shake off the excess liquid.  Add to the shrimp bowl along with the cilantro, ketchup, hot sauce, olive oil, cucumber and jicama and avacado.  Tast and season with salt....about 1/2-1 teaspoon.  Cover and refrigerate if not serving immediately.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A fresh &amp; fabulous appetizer.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Rick Bayless
</p>
</div></body>
