<h1>Shrimp Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. medium shrimp.....shells only, save the shrimp for the main dish.
</li>
<li>
1 tablespoon butter, unsalted
</li>
<li>
2 shallots, minced
</li>
<li>
1 small clove garlic, minced
</li>
<li>
1 1/2 teaspoons paprika
</li>
<li>
1 tablespoon brandy
</li>
<li>
1 quart heavy cream
</li>
<li>
1 tablespoon dry sherry
</li>
<li>
salt and pepper, to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Saute the shells in the hot butter until red.
</li>
<li>
Add shallots, garlic and saute until clear and smells wonderful.
</li>
<li>
Add the paprika and caramelize slightly.
</li>
<li>
Deglaze with the brandy.
</li>
<li>
Add the heavy cream and reduce to nappe (can see a path when finger is brought through the back of a spoon).
</li>
<li>
Strain the sauce.  Finish with the sherry and taste for seasoning.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a delicious sauce that can be used on fish or with shell
</p>
<p>
  fish.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 1/2 pints&quot;
</p>
</div></body>
