<h1>Shrimp Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
Cooked bay shrimp, squeeze out juice
</li>
<li>
Select combinations of herbs &amp;
</li>
<li>
seasonings from following: shallots,
</li>
<li>
onions, chives, garlic(mashed with salt),
</li>
<li>
tarragon, dill, curry, ginger
</li>
<li>
Mayonnaise to bind
</li>
<li>
Tiny amount (1/2 tsp.) breadcrumbs
</li>
<li>
if desired for consistency
</li>
<li>
Lemon juice, if desired
</li>
<li>
Good Combination: Shrimp, lemon, garlic
</li>
<li>
(mashed with salt), shallots, lots of dill
</li>
<li>
bound with dill flavored mayonaise .
</li>
</ul>
<h2>Method</h2><ul>
<li>
Blend together to taste...remembering will be served with Vinaigratte Dressing placed under artichoke.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Klaus Loos
</p>
</body>
