<head>
<title>Shrimp &amp; Dijon Cream Cheese Canape</title>
</head>
<body>
<h1>Shrimp &amp; Dijon Cream Cheese Canape</h1>
<h2>Ingredients</h2>
<ul>
<li>
50% butter/50% cream cheese
</li>
<li>
spread, flavored mildly with Dijon
</li>
<li>
Individual toasted triangles of bread,
</li>
<li>
brushed with a little butter and oil
</li>
<li>
before toasting.
</li>
<li>
Shrimp, poached in court bouillon in shell
</li>
<li>
Fresh dill
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Chill shrimp after cooking.  Peel and devein.
</li>
<li>
2.  Pipe a rosette of Dijon spread on toast triangle and put shrimp on, butterflied, with a sprig of dill.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
