<head>
<title>Shrimp with Garlic &amp; Chiles</title>
</head>
<body>
<h1>Shrimp with Garlic &amp; Chiles</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 pound medium shrimp, peeled, deveined
</li>
<li>
1/4 teaspoon ground turmeric
</li>
<li>
1/4 teaspoon cayenne pepper
</li>
<li>
1/4 cup vegetable oil
</li>
<li>
1/2 teaspoon black or yellow mustard seeds
</li>
<li>
5 cloves garlic, minced
</li>
<li>
1 fresh hot green chili, seeds intact, minced
</li>
<li>
1/2 teaspoon salt
</li>
<li>
2 teaspoons fresh cilantro, finely chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sprinkle turmeric and cayenne over shrimp and rub in.
</li>
</ul>
<h2>Notes</h2><p>
Place the oil in a wok over high heat.  When the oil is hot add mustard seeds until they pop.  Put in the garlic and stir until golden.  Add the green chili.  Stir a coup of times.  Put in the shrimp and cook until pink, 2-3 minutes.  Sprinkle with salt and then cilantro and serve.SOURCE: Adapted from Madhur Jaffrey
</p>
</body>
