<h1>Sichuan Noodle-Shop Noodles</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 dried shitake mushrooms, soaked in hot water for 1 hour
</li>
<li>
1 lb. Hokkien noodles
</li>
<li>
2 tablespoons peanut oil, or canola oil
</li>
<li>
12 fresh straw mushrooms
</li>
<li>
6 tablespoons bamboo shoots, slivered (or jicama)
</li>
<li>
1 teaspoon hot chile oil
</li>
<li>
2 tablespoons dried shrimp, soaked in hot water 10 minutes
</li>
<li>
2 tablespoons light soy sauce
</li>
<li>
1 tablespoon shaohsing rice wine, or dry sherry
</li>
<li>
1 teaspoon Sichuan peppercorns, ground
</li>
<li>
2 green onions, green part only, thinly sliced
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Drain shitake mushrooms, remove stems and cut caps in half.  Pour boiling water over noodles in a large bowl and let stand for 1 minute.  Drain.
</li>
<li>
Heat oil in a hot wok and cook shiitake and straw mushrooms, bamboo shoots and noodles and chile oil for 2-3 minutes.  Add drained shrimp, soy sauce, rice wine and peppercorns and cook for 1 minute.  Serve on a large platter or in Chinese bowls, scattered with green onions.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Noodle&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Terry Durack
</p>
</div></body>
