<h1>Sicilian Fig Cookies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Dough:
</li>
<li>
4 cups unbleached flour
</li>
<li>
1 1/2 tablespoons baking powder
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1/2 cup sugar
</li>
<li>
1 cup vegetable shortening
</li>
<li>
1 large egg
</li>
<li>
1/2 cup milk
</li>
<li>
1 tablespoon vanilla
</li>
<li>
Filling:
</li>
<li>
2 cups dried figs
</li>
<li>
2 cups dates
</li>
<li>
1 1/2 cups raisins
</li>
<li>
1/2 cup honey
</li>
<li>
1 teaspoon ground cinnamon
</li>
<li>
1/2 cup orange marmalade
</li>
<li>
1 1/4 cups walnuts, coarsely chopped
</li>
<li>
1 egg white, beaten with 1 tablespoon water for wash
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Sift the flour, baking powder and salt together into a large bowl.  Add the sugar and mix well.  Cut in the shortening with a fork and work the mixture until it looks like coarse cornmeal.
</li>
<li>
In another bowl, beat the egg, milk, and vanilla together.  Add to the flour and work the ingredients with your hands until a rough dough forms.  Turn the dough out onto a floured surface and knead for 5 minutes, or until smooth.  The dough will be soft.  Cut the dough into 4 pieces, wrap each piece in plastic wrap, and chill for 45 minutes.
</li>
<li>
Meanwhile, preheat the oven to 375F.  Lightly grease two cookie sheets.  Grind the figs, diates and raisins in a food processor until coarse.  Place the mixture in a bowl and add the reamining filling ingredients and mix well.  The mixture will be thick.  Set aside.
</li>
<li>
On a floured surface, roll out one piece of dought at a time into a 12&quot; square.  Cut the dough into 4x3&quot; retangles.  Spoon 2 tablespoons of the filling mixture down the center of each rectangle.  Carefully fold the long edges of each rectangle over to meet in the center, then pinch the seam to close securely.  Turn the cookies seam side down and seal the short ends by  folding the dough under.  Shape the cookies into crescents and place on the cookie sheets.
</li>
<li>
Make 2-3 diagonal slits in the top of each crescent with scissors.  Brush with the egg wash.  Bake for 25 minutes or until golden brown.  Cool on racks.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 80
</p>
<p>
SOURCE: Mary Ann Esposito
</p>
</div></body>
