<head>
<title>Simple...Roasted Pork Loin</title>
</head>
<body>
<h1>Simple...Roasted Pork Loin</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 3 pound pork loin
</li>
<li>
3 tablespoons Dijon mustard
</li>
<li>
salt and pepper
</li>
<li>
15 leaves fresh sage, or herb of choice
</li>
<li>
olive oil
</li>
<li>
2 cups applesauce, unsweetened
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cover roast with mustard, s/p and fresh sage.  Place olive oil in large roasting pan and sear loin all around.  Place in 375F preheated oven and roast for about 45 minutes.  Take roast out and cover with apple sauce.  Place back in oven and roast another 15-20 minutes until meat thermometer registers 155F.  Allow to rest, covered, for at least 10 minutes before carving.  
</li>
<li>
Meanwhile, pour off fat from pan.  Deglaze with stock or white wine.  Reduce wine at least 30%.  Stir in a tablespoon of cold butter, season with salt and pepper to taste and serve this light sauce with meat.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
