<h1>Simple Quesadilla</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 wheat flour tortilla
</li>
<li>
jack cheese
</li>
<li>
1 jalapeno chile pepper, sliced
</li>
<li>
1 tablespoon cilantro, chopped
</li>
<li>
2 green onions, sliced lengthwise in half
</li>
<li>
canola oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Lay one flour tortilla on board.  Sprinkle with cheese, chile and cilantro.  Lay green onions across, hanging over the edges.  Cover with second tortilla, sandwich style.  Brush with canola oil.  Lay on hot griddle oil side down.  Brush the other tortilla (side up on griddle) with canola oil.  Heat all over medium hi heat until cheese is melted and tortilla is golden.  This can be done on an outside grill if desired.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 1
</p>
<p>
SOURCE: Adapted from 
</p>
</div></body>
