<head>
<title>Simple Naan</title>
</head>
<body>
<h1>Simple Naan</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/2 teaspoons instant yeast
</li>
<li>
1 teaspoon sugar
</li>
<li>
1/2 cup warm water
</li>
<li>
3 cups flour
</li>
<li>
1 teaspoon salt
</li>
<li>
1/4 cup vegetable oil
</li>
<li>
1 large egg, beaten
</li>
<li>
5 tablespoons milk powder
</li>
<li>
5 tablespoons yogurt
</li>
<li>
2 tablespoons melted butter
</li>
<li>
2 tabsp warm milk
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix the yeast, sugar, warm water and proof for 5 minutes.
</li>
<li>
Add the flour, salt, oil, egg and milk powder, yogurt and mix in large mixer with dough hook.
</li>
<li>
Dough should be pliable.  Add more flour if needed.  Cover and allow to rise for 2 hours.
</li>
<li>
Dust hands with flour and shape into 6 large balls.
</li>
<li>
Make into tear shape.
</li>
<li>
Brush top side with melted butter and the bottom side with milk and place in frying pan.  
</li>
<li>
Bake in oven @ 450F on stone for 1-2 minutes on each side.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 6
</p>
</body>
