<h1>Simple French Loaf</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 cups all purpose unbleached flour*, or 3 cups bread flour &amp; 3 cups AP flour
</li>
<li>
1 tablespoon active dry yeast
</li>
<li>
1 tablespoon sea salt
</li>
<li>
2 1/2 cups water, slightly warm
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place 3 cups of flour in heavy duty mixer  mixing bowl.  Add yeast and turn on mixer  with paddle mixer to mix.  Add water while mixer is mixing.  Mix for about 5 minutes to begin to develop gluten.  Add salt.  Mix about 30 seconds.  Add another 1/2 cup of flour and mix in.   Change to dough hook.  Add the rest of flour* 1/2 cup at a time, mixing thoroughly, until dough comes together and the internal temperature is at approximately 78-80F.  
</li>
<li>
Take out of bowl (if it is slightly wet, this is okay) and place into lightly sprayed bowl to raise.  Cover with plastic wrap and allow the dough to double in size in bowl (about 2 hours).
</li>
<li>
Punch down dough and turn over.  Cover again and allow to rise until double, about 1 hour.  
</li>
<li>
Take out of bowl and shape as desired.  Place on corn meal sprinkled sheet pan.  Cover with towel and allow to rise about 45 minutes.
</li>
<li>
Meanwhile heat oven to 450F.  When loaves are doubled in size, slash; spray with water and place in oven (or on stone).  Spray the oven and then spray the oven twice again within the first 3-5 minutes.  Continue to bake the loaves for about 20 minutes.  Check the loaves for being done by thumping them...they should sound hollow.  The internal temperature for this loaf is at about 210F.  The will  be dark for a crunchy crust.
</li>
<li>
*  If you wish, you can replace some of AP flour with whole wheat flour and/or rye flour and or semolina flour.  It is fun to experiment with all kinds of good things:  oatmeal, soy flour, bean flour, etc.  Just add ingredients and subtract AP flour until you reach the right texture.
</li>
<li>
**Also you can save a piece of dough (about 20% of the dough) and use it in part of the next dough; adding it in the beginning 5 minutes of &quot;wet&quot; mixture.  This increases the flavor of your dough.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;2 loaves&quot;SOURCE: Apple Charlotte
</p>
</body>
