<h1>Simple Bread Pudding or Strata</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 cups good white &quot;farm-style&quot; bread
</li>
<li>
1 quart cream or milk, or mixture
</li>
<li>
7 large eggs
</li>
<li>
4 egg yolks
</li>
<li>
3/4 cup sugar (more or less to your taste)
</li>
<li>
vanilla
</li>
<li>
Add any of the following: raisins, dried
</li>
<li>
fruit, nuts, cinnamon, liquor, fresh
</li>
<li>
apples or pears.....even chocolate chips
</li>
<li>
if you wish!
</li>
</ul>
<h2>Method</h2><ul>
<li>
Note:  To make a Strata or &quot;savory&quot; bread
</li>
<li>
                        pudding for breakfast...
</li>
<li>
                        Leave out sugar and vanilla and add cooked
</li>
<li>
                        sausage, onions, cheese, artichoke hearts,
</li>
<li>
                        olives salt and pepper and any fresh herbs
</li>
<li>
                        that would appeal to you.
</li>
<li>
Place milk, eggs and sugar in bowl and mix with fork or whisk.  Add bread that has been cut into 1/2&quot; cubes.  Best if can soak in frig for a few hours or overnight (even if you only have an hour or two to do this, it helps).  
</li>
<li>
Preheat oven to 350F.  Place water in pan that will hold rectangular pan that pudding mixture will be place in.  Spray the pan for the bread pudding with non-stick spray.  Add bread pudding mixture.  Place entire pudding pan in water bath in other pan and bake for about 45-55 minutes until skewer or knife comes out of the mixture clean.
</li>
<li>
Enjoy warm or cold with a sprinkling of powdered sugar, brandy sauce or whipped cream.
</li>
<li>
Orange OR  Brandy Sauce:  Place about 1 1/2 cups sifted powdered sugar in a bowl and add about 1/4 cup of orange juice or brandy to make into consistency of icing.  Spread on entire bread pudding (after cooked) or on individual pieces and place under the broiler for a minute or two until bubbly.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a simple recipe that really defines what a &quot;custard&quot; is
</p>
<p>
  about.  You will find the ratio of 1 quart of milk or cream: 9 eggs a
</p>
<p>
  good thing to remember.&quot;
</p>
<p>
SERVINGS: 12
</p>
</body>
