<h1>Slow Roasted Tomatoes</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
20 plum tomato, cut in half
</li>
<li>
fresh thyme, leaves removed
</li>
<li>
olive oil
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place tomatoes, cut side up,  on a rack on a sheet pan lined with parchment paper.  Sprinkle olive oil, thyme, salt and pepper all over.  Place in 250F oven for about 2-3 hours until looking slightly dried out.  
</li>
<li>
Outside grill method:  Place wet hickory chips (or wood chips of choice) in an envelope made of aluminum foil.  Poke with holes and place over coals or over fire on propane grill.  Allow the wood chips to begin smoking and turn down propane fuel or close top  vents on Weber to 3/4 way closed.  Using a thermometer with a long probe in the Weber, wait until temperture is down to 300F before placing the tomatoes under the lid.  The temperature will slowly cool down.  Add coals every hour or so to maintain a temperature of 250F.  If using a propane grill, start the tomatoes at 250F and hold the temperature there until tomatoes are done.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a great items to have around to use in all kinds of inventive
</p>
<p>
  ways:  on pizzas, with seared green beans, an outstanding sauce can be
</p>
<p>
  made from these.  Simply used on bruscetta is fabulous!&quot;
</p>
<p>
SERVINGS: 8
</p>
</div></body>
