<head>
<title>Slow Cooked Boston Baked Beans</title>
</head>
<body>
<h1>Slow Cooked Boston Baked Beans</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. navy beans, soaked overnight
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
2 bay leaves
</li>
<li>
4 ounces salt pork
</li>
<li>
1 medium onion
</li>
<li>
1/4 cup +2 tablespoons mild molasses
</li>
<li>
1/4 cup dark brown sugar
</li>
<li>
2 cups boiling water
</li>
<li>
2 tablespoons Dijon mustard
</li>
<li>
2 teaspoons cider vinegar
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Set slow cooker to high to preheat.  Drain beans and transfer to large Dutch oven.  Add 8 cups water, baking soda and bay leaves.  Bring to boil over medium high heat, skimming off any foam that comes to the top.  Boil 15 minutes.  Drain beans and transfer to slow cooker insert, discarding bay leaves.
</li>
<li>
Meanwhile, while beans cook, score fatty side of salt pork and cut into 2 pieces.  Place scored side down in medium nonstick skillet over medium heat and cook until fat is rendered.  Turn salt pork over, add onion and cook until lightly browned, about 5 minutes.  Transfer to slow cooker.  Stir in 1/4 cupmolasses, brown sugar and boil water into slow cooker.
</li>
<li>
Cover beans with piece of sluminum foil and then cover slow cooker with lid.  Set slow cooker to low and cook until beans are tender and creamy, 10-12 hours.
</li>
<li>
(or on high for 5-6 hours).
</li>
<li>
Turn off slow cooker and remove lid and aluminum foil.  Stir in remaining molasses, mustard and vinegar and season with salt and pepper.  Cover slow cooker with lid and and let beans sit until sauce has slightly thickened for 15-20 minutes.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Adapted from &quot;Cook&#39;s Country&quot;&quot;
</p>
<p>
SERVINGS: 6
</p>
</body>
