<h1>Slow-Cooked Barbequed Ribs</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 full slabs pork spareribs, about 6 pounds
</li>
<li>
3/4 cup Dry Rub
</li>
<li>
2 cups hickory wood chips
</li>
<li>
heavy duty aluminum foil
</li>
<li>
2 cups barbecue sauce
</li>
</ul>
<h2>Method</h2><ul>
<li>
Rub both side of ribs with dry run and stand at room temp for 1 hour.
</li>
<li>
Soak the wood in cold water to cover for 1 hour and drain.  Place wood chips in an aluminum foil envelop and poke with holes.
</li>
<li>
Light about 40 charcoal briquettes in chimney.  Transfer hot coals from chimney to one side of kettle grill, piling in a mound two or three briquettes high.  Keep bottom vents completely open.  When coals are covered with light gray ash, lay wood chunks or packet with chips on top of charcoal.  
</li>
<li>
Put cooking grate in place, open grill lid vents completely; and place lid on grill, turning lid so that vents are opposite wood chips to draw spoke through grill.  Let grate hit for 5 minutes, clean with wire brush, and position ribbs over cool part of grill.  At this point the temperature will be about 350F and will drop to 250F after 2 hours.
</li>
<li>
Barbeque, turning ribs every 30 minutes, until meat starts to pull away from ribs and has rosy glow on exterior, 2-3 hours.  Remove ribs from grill and completely wrap each slab in foil.  Put foil-wrapped slabs in brown paper bag, and crimp top of bag to seal tightly.  Allow to rest at room temperature for 1 hour.
</li>
<li>
Unwrap ribs and brush with warmed barbeque sauce.
</li>
<li>
The only difference with a gas grill is to maintain the grill temperature at a constant 275F.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Cook&#39;s Illustrated
</p>
</body>
