<h1>Smith Family&#39;s 12-Layer Cake</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
The Smith Family&#39;s 12-Layer Cake
</li>
<li>
Created by Art Smith
</li>
<li>
 
</li>
<li>
This recipe, handed down from Art&#39;s great-great-grandmother, has taken center stage at many Smith family celebrations. Make it part of your next special occasion!
</li>
<li>
Ingredients:Makes 16&acirc;&#128;&#147;20 servings
</li>
<li>
4 1/2 cups all-purpose flour , sifted
</li>
<li>
1 1/2 teaspoons baking powder
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 1/2 cups (3 sticks) unsalted butter , at room temperature
</li>
<li>
2 1/2 cups sugar
</li>
<li>
6 large eggs , at room temperature
</li>
<li>
3 cups milk
</li>
<li>
1 1/2 teaspoons vanilla extract
</li>
<li>
3 cups sugar
</li>
<li>
1/2 cup unsweetened cocoa powder , preferably Dutch process
</li>
<li>
1 cup (2 sticks) unsalted butter , cut up
</li>
<li>
1 can (12 ounces) evaporated milk
</li>
<li>
1 tablespoon vanilla extract
</li>
<li>
Pecan halves, for garnish
</li>
<li>
Position racks in the center and bottom third of the oven and preheat to 375&Acirc;&deg;. Lightly butter four 8 1/2- to 9-inch cake pans (you will bake the cakes in three batches) and line the bottoms with rounds of parchment paper. Flour the pans and tap out the excess.
</li>
<li>
To make the layers, sift together the sifted flour, baking powder and salt. Sift the mixture one more time, and set aside.
</li>
<li>
Beat the butter and sugar in the bowl of a heavy-duty electric mixer fitted with the paddle blade on high speed until light in color and texture, about 3 minutes. Beat in the eggs, one at a time. Scrape down the bowl and be sure the mixture is well-blended. On low speed, add the flour in 3 additions, alternating with 2 additions of the milk, beginning and ending with the flour, and beat until smooth, scraping down the sides of the bowl often with a rubber spatula. Beat in the vanilla. Using a scant cup for each layer, spread the batter evenly in the pans. It will make a thin layer.
</li>
<li>
Staggering the pans on the racks so they are at least 2 inches from each other and the sides of the oven and not directly over each other, bake the layers until they feel firm when pressed in the centers and are beginning to pull away from the sides of the pans, about 12 minutes. Cool in the pans for 5 minutes. Invert the layers onto cake racks, remove the parchment paper, and cool completely. Wash and prepare the pans. Repeat the procedure until all 12 layers have been baked and cooled.
</li>
<li>
To make the icing, bring the sugar, cocoa, butter and evaporated milk to a full boil in a large saucepan. Reduce the heat to medium-low and cook until the icing has thickened slightly (it will resemble chocolate syrup but will thicken as it cools), about 3 minutes. Stir in the vanilla. Let the icing cool until thick enough to spread, but still pourable.
</li>
<li>
Place a layer of cake on a wire rack set over a jelly-roll pan. Spread with a few tablespoons of the icing, letting the excess run down the sides. Stack the remaining cakes, icing each layer. Pour the remaining icing over the top of the cake. If you wish, smooth the icing on the edges to cover the sides. Place pecan halves around the top perimeter of the cake. Let stand until the glaze sets. (The cake is best served the day it is made. To store, cover loosely with plastic wrap and refrigerate for up to 1 day.)
</li>
<li>
Recommended technique: If you buy inexpensive aluminum foil cake pans at the grocery store (they can be saved for another time as well), you will be able to knock out layers in no time. And no washing between baking!
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Art Smith
</p>
</body>
