<h1>Smoked Salmon &amp; Mascarpone Rolls</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2/3 cup mascarpone cheese
</li>
<li>
2 tablespoons capers, rinsed
</li>
<li>
2 tablespoons chives, minced
</li>
<li>
1 teaspoon fresh lemon juice
</li>
<li>
salt and pepper
</li>
<li>
3/4 lbs. smoked salmon, cut into 24 thin slices, 2-3&quot; on the short side
</li>
<li>
48 small arugula leaf
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix the cheese with 1 tablespoon each of the capers and the chives and the lemon juice.
</li>
<li>
Lay the salmon slices on a cutting board with short side facing you.  
</li>
<li>
Put a spoonful of the mascarpone mixture on the narrow end of one slice.  Lay 2 arugula leaves, fanned slightly apart, across the mascarpone, so that the tips of the leaves will project several inches fromone end of the roll and roll up the salmon.  Stand the roll upright with leaves pointing outward. Cover and refrigerate all the rolls until ready to serve.
</li>
<li>
Remove from the refrigerator, sprinkle with 1 tablespoon each of the remaining 1 tablespoon each capers and chives and serve.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:
</p>
<p>
  &quot;24 rolls&quot;SOURCE: Jody Adams
</p>
</div></body>
