<h1>Smoked Salmon and Dill Brie</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 round Brie
</li>
<li>
Smoked Salmon
</li>
<li>
Fresh dill, rough chop
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Score Brie into 3 layers and cut through with dental floss (leave rind on)  Cover each of 2 rounds with salmon that has been cut thin.   Cover both rounds of salmon with dill.  Then cover entire round with dill and wrap with plastic wrap.  Refrigerate overnight.  Cut thin with knife that has been dipped in hot water.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Char
</p>
</div></body>
