<head>
<title>Smoked Salmon Canapes</title>
</head>
<body>
<h1>Smoked Salmon Canapes</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 ounces skinless boneless smoked salmon fillet, well chilled
</li>
<li>
3 tablespoons red onion, finely chopped
</li>
<li>
1 1/2 tablespoons fresh dill, chopped
</li>
<li>
1 1/2 tablespoons Italian parsley, chopped
</li>
<li>
1 teaspoon fresh tarragon, chopped
</li>
<li>
1 teaspoon fresh ginger, minced
</li>
<li>
1/2 jalapeno pepper, seeded and chopped
</li>
<li>
1 1/2 teaspoons olive oil
</li>
<li>
1 1/2 teaspoons capers, well drained &amp; chopped
</li>
<li>
2/3 teaspoon Dijon mustard
</li>
<li>
salt and pepper, to taste
</li>
<li>
18 thin baguette slices, toasted
</li>
<li>
3 tablespoons fresh chives
</li>
</ul>
<h2>Method</h2><ul>
<li>
Chop the salmon into very small cubes.
</li>
<li>
In a medium bowl, combine onions, dill, parsley, tarragon, ginger and jalapeno peppers.  Mix well.  Stir in oil, capers and mustard.  Add the salmon and toss to combine.  Season with salt and pepper.
</li>
<li>
Neatly mound equal portions of the salmon tartar on each toast piece and garnish with chives.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Culinary Institute of America
</p>
</body>
