<h1>Snails in Green Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 tablespoons olive oil
</li>
<li>
2 tablespoons onion, finely chopped
</li>
<li>
4 cloves garlic, minced
</li>
<li>
4 teaspoons flour
</li>
<li>
1/4 cup dry white wine
</li>
<li>
1/2 cup + 2 tblsp clam juice
</li>
<li>
2 tablespoons milk
</li>
<li>
1/2 cup parsley, minced
</li>
<li>
salt
</li>
<li>
freshly ground black pepper
</li>
<li>
24 large canned snails, drained with their shells
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat the oil in a saucepan.  Saute onion until translucent.  Add garlic.  Stir in flour and cook a couple of minutes.  Gradually add the wine, clam juice, and milk and stir in the parsley, salt and pepper.    Cook, stirring, until thickened and smooth.  This can be made ahead.  
</li>
<li>
Add the snails and cook for 5 minutes.  In a shallow baking dish large enough to hold the snails, pour coarse salt almost to the top.  Push the snails into their shells and spoon in some sauce.  Arrange the snails on the bed of salt and bake at 475F for about 5 minutes.  (The salt helps the shells to stay steady).
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Penelope Casas
</p>
</div></body>
