<h1>Snickerdoodles</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup shortening, softened
</li>
<li>
1/2 cup butter, softened
</li>
<li>
1 1/2 cup sugar
</li>
<li>
2 eggs
</li>
<li>
2 3/4 cups flour
</li>
<li>
2 teaspoons cream of tarter
</li>
<li>
1 teaspoon soda
</li>
<li>
1/4 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat oven to 400 degrees.  Mix shortening, butter, sugar and eggs thoroughly.  Measure flour and blend all dry ingredients together.  Stir into shortening/butter mixture.  Roll into balls the size of small walnuts.  Roll in mixture of 2 tbsp. sugar and 2 tsp. cinnamon.  Place 2&quot; apart on ungreased baking sheet.  Bake 8-10 minutes.  Makes about 5 dozen 2&quot; cookies.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Serve hot from the oven with a tall glass of whole milk!NOTES : There is really nothing quite like the smell and then the savoring and gobbling down of these nurturing little &quot;home is where the heart is&quot; cookies.  Absolutely makes you remember kidhood all over again.....mmmmm.
</p>
<p>
SERVINGS: 60
</p>
<p>
SOURCE: Char Zyskowski and Betty Crocker
</p>
</body>
