<h1>Soft Oreos</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 box chocolate cake mix
</li>
<li>
2 large eggs
</li>
<li>
3/4 cup melted butter
</li>
<li>
1/3-1/2 cup flour
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Beat cake mix, eggs and butter with electric mixer.
</li>
<li>
Stir in the flour making dough very thick.  Refrigerate at least 1 hour or overnight. 
</li>
<li>
Roll in small balls.  Place on greased cookie sheet, flatten with sugared glass.
</li>
<li>
Bake 6 minutes @ 350F.
</li>
<li>
Cool.  Put together with cream cheese frosting.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;From her granddaughter, Trish&quot;SOURCE: From student, Liz Schultz
</p>
</div></body>
