<head>
<title>Sole Paupiette</title>
</head>
<body>
<h1>Sole Paupiette</h1>
<h2>Ingredients</h2>
<ul>
<li>
Reduction:
</li>
<li>
Butter
</li>
<li>
Shallots
</li>
<li>
Parsley stems
</li>
<li>
Mushroom stems
</li>
<li>
Lemon juice
</li>
<li>
White wine
</li>
<li>
Fumet: White MP; fish bones, BG, H2O
</li>
<li>
Sole fillet
</li>
<li>
Filling:
</li>
<li>
Spinach....
</li>
<li>
Reduction of butter, shallots, garlic,
</li>
<li>
wine, seasonings. blanched spinach
</li>
<li>
Garnish:
</li>
<li>
Sauteed mushrooms
</li>
<li>
Tomato concasse
</li>
<li>
Chopped parsley
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Fillet sole, mise en place.
</li>
<li>
2.  Reduce first liquid, mise en place.
</li>
<li>
3.  Add fumet to reduction,  place rolled paupiettes carefully into saute pan making sure covered 1/2-3/4 with liquid; bring to boil and simmer for 5-6 minutes cooking 75% done.
</li>
<li>
4.  Plate  paupiettes, keeping warm by covering with siran wrap.
</li>
<li>
5.  Strain cuisson, reduce, monte a beurre and season.  Return paupiette to sauce to complete quickly.  Place sauce on floor of plate, top with paupiette.
</li>
<li>
Garnish with lightly sauteed mushrooms,  tomato concasse and chopped parsley.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Klaus Loos
</p>
</body>
