<head>
<title>Sookhi Chutney</title>
</head>
<body>
<h1>Sookhi Chutney</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons coriander seeds
</li>
<li>
1 tablespoon cumin seeds
</li>
<li>
4 tablespoons almonds, blanched, slivered
</li>
<li>
2 tablespoons kosher salt
</li>
<li>
1/4 teaspoon cayenne pepper, or to taste
</li>
<li>
1/4 teaspoon freshly ground black pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Put the coriander seeds, cumin seeds, and almonds into a small, heavy skillet over medium-low heat.  Dry roast, stirring gently until the seeds and nuts are slightly dark and smells nutty.  Empty the spices onto a plate and cool.  Place in a spice grinder (or coffee grinder used just for spices) and grind finely.
</li>
<li>
Place in bowl and add salt, cayenne and black pepper.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a dry chutney that is used as a dip.  Serve with fresh
</p>
<p>
  vegetables:  cauliflower, green beans, cucumber, carrots, radishes. 
</p>
<p>
  Serve along side a bowl of water or even gin (!) to dip the vegetables
</p>
<p>
  in so the spice mixture to stick.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 cup&quot;
</p>
</body>
