<h1>Sopa de Ajo</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup olive oil
</li>
<li>
2 large head of garlic, cloves peeled, chopped into rough 1/8&quot; pieces
</li>
<li>
10 cups chicken stock, homemade
</li>
<li>
8 slices good bread, crusts removed
</li>
<li>
2 ripe avocado, peeled, pitted and cut into 1/2&quot; dice
</li>
<li>
6 ounces Mexican queso fresco, cut into 1/2&quot; cubes
</li>
<li>
2 large ripe tomatoes, cut into small dice
</li>
<li>
8 green onions, lightly brushed with o/o, grilled, chopped
</li>
<li>
2 large eggs, lightly beaten
</li>
<li>
8 canned chiptles en adobo, seeded and thinly sliced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat the o/o in a small heavy pot over medium low.  Add the garlic and cook, stirring frequently, until very soft and golden, 15-20 minutes, simmering the whole time.  The garlic should be soft, almost gooey, not browned and crisp at the end.
</li>
<li>
Set a strainer over a small bowl and pour in the oil and garlic.  Transfer the garlic into a medium size soup pot and stir in the stock.  Partially cover and simmer over medium heat 30 minutes.  (Set the garlic oil aside; you&#39;ll need more for this recipe but save the rest for viniagrettes and other cooking...store in the frig).
</li>
<li>
Turn on the oven to 325F.  While the soup is simmering, cut the bread into 1/2 inch cubes and toast on a baking sheet in the oven until thoroughly dry but not brown, about 20 minutes.  Drizzle with about 6 tablespoons of the garlic oil, toss to thoroughly coat and return to the oven for 5 minutes more, until the croutons are nicely golden.
</li>
<li>
When the soup is ready, taste and season with salt.  Divide the avocado, fresh cheese and optional tomato and green onions among warm soup bowls.  A coupel of minutes before serving, remove the soup from the heat, let stand 30 seconds to cool a bit, stir in the eggs with a spoon (they give the stock body and creaminess), then ladle into the bowls.  Top each portion with croutons and a few strips of chipotle and carrry directly to the table.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Rick Bayless
</p>
</body>
