<head>
<title>Soppressata &amp; Bean Salad with Pecorino</title>
</head>
<body>
<h1>Soppressata &amp; Bean Salad with Pecorino</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/4 lbs. green beans
</li>
<li>
1 lemon
</li>
<li>
2 tablespoons ExV olive oil
</li>
<li>
salt and pepper
</li>
<li>
2 bounches arugula (4 ounces each), stems discarded
</li>
<li>
4 ounces soppressata, thinly sliced
</li>
<li>
2 ounces pecorino Romano cheese
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut beans across in half.  Bring one inch of water to boil in a skillet over high heat.  Salt the water and add beans, cooking about 3-4 minutes.  Drain and plunge into ice water to stop cooking.  Drain again.
</li>
<li>
Grate the lemon reserving the zest.  Squeeze the lemon for the juice, retreiving about 2 tablespoons.  Combine the zest and lemon juice in large bowl and whisk in olive oil, salt and pepper.  
</li>
<li>
Add the beans, arugula and soppressata to dressing and toss lightly to coat.  Spoon salad on platter and shave thinstrips of pecorino with potato peeler, topping salad. 
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Adapted from Good Housekeeping 2005&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
