<h1>Sour Cream Chocolate Chip Cookies</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups flour
</li>
<li>
1 teaspoon baking soda
</li>
<li>
1 teaspoon salt
</li>
<li>
3/4 cup unsalted butter, softened (1 1/2 sticks)
</li>
<li>
1 cup granulated sugar
</li>
<li>
1/2 cup dark brown sugar, packed
</li>
<li>
1 tablespoon vanilla
</li>
<li>
2 large eggs
</li>
<li>
1/2 cup sour cream
</li>
<li>
1 cup raisins
</li>
<li>
1 cup walnuts, coarsely chopped, toasted
</li>
<li>
12 ounces bittersweet chocolate, chopped into 1/4&quot;
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Line two baking sheets with parchment paper.
</li>
<li>
Sift the flour, baking soda and salt into a medium bowl and set aside.
</li>
<li>
Beat the butter, sugars and vanilla at medium speed until creamy for about 2 minutes.  Beat in the eggs one at a time, beating well after each addition and scraping down the sides of the bowl as necessary.  Add the sour cream, mixing until blended.  At low speed, add the dry ingredients, mixing just until combined.  Using a wooden spoon, stir in the raisins, nuts and chopped chocolate.
</li>
<li>
Drop the dough by rounded tablespoonfuls onto the prepared baking sheets, spacing 2&quot; apart.  Bake for 12-15 minutes, until golden brown.  Switch positions of the pans half way through baking so that the cookies brown evenly.  Transfer the cookies to wire racks and cool.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;&quot;The Good Cookie&quot;&quot;
</p>
<p>
SERVINGS: 58
</p>
<p>
SOURCE: Tish Boyle
</p>
</div></body>
