<h1>Sour Cream Rye</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Sponge:
</li>
<li>
2 cups tepid water
</li>
<li>
1 1/2 tablespoons active dry yeast
</li>
<li>
1 cup nonfat dry milk powder
</li>
<li>
1 cup sour cream
</li>
<li>
3 cups rye flour
</li>
<li>
1/2 cup pumpernickel flour
</li>
<li>
1/4 cup dark molasses
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Dough:
</li>
<li>
  4        tablespoons  unsalted butter -- melted
</li>
<li>
  4          teaspoons  salt
</li>
<li>
  2        tablespoons  vital wheat gluten
</li>
<li>
  3        tablespoons  caraway seeds
</li>
<li>
  4               cups  bread flour
</li>
<li>
Sponge:  Pour the water into a heavy mixer bowl.  Sprinkle the yeast over thw water.  Stir with a whisk or whisk attachment until dissolved.  Add the milk powder, sour cream, rye and pumpernickel flours and molasses.  Beat until smooth and thick.  Cover loosely with plastic wrap and let stand at room temperature until double in bulk, about 1 hour.
</li>
<li>
Dough:  Add the melted butter, salt, gluten, caraway seeds, and 2 cup of the bread flour to the sponge.  Beat for 2 minutes on medium speed with paddle attachment.  Add the remaining bread flour, 1/2 cup at a time, mixing on low speed until a sticky dough that just clears the sides of the bowl forms.
</li>
<li>
Mix with the dough hook for about 2 minutes until moist and tacky adding flour 1 tablespoon at a time to prevent sticking.  Place in lightly greased container and cover with plastic wrap.  Let rise at room temperature until double, 1 1/2 - 2 hours.
</li>
<li>
Line two baking sheets with parchment paper.  Divide dough into 4 equal portions.  Knead lightly into rounds.  Dust light with rye flour and place, smooth side up, on the baking sheets.  Let rise, uncovered, until soft and springly, about 1 hour.
</li>
<li>
Preheat the oven before baking to 350F and place rack in the middle of the oven....about 20 minutes before ready to bake.
</li>
<li>
Using a razor blade, make 4 parallel slashes no more than 1/4 inch deep in the top of each loaf.  Or make 2 slashes to form an X.  Bake 50-55 minutes, or until golden brown and crusty.  Remove from the sheets to cool on a rack.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 4
</p>
<p>
SOURCE: Beth Hensperger
</p>
</div></body>
