<h1>Sourdough Starter</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 potatoes, with skins on
</li>
<li>
enough water to completely cover
</li>
<li>
1 tablespoon sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook the potatoes in the water until completely overdone.  Mash this all together (with the skins) and strain through a spaghetti strainer, where the skins will lift out of the strainer.  You will end up with a thick potato soup texture.
</li>
<li>
Slightly cool.  Add about 2 cups of a good flour (like King Arthur) and stir well.  Don&#39;t worry about the lumps as they will dissolve.  Add one tablespoon of sugar.
</li>
<li>
The starter is completed.  Stir it daily and add a little more flour and a pinch of sugar each day as you will notice it starting to bubble (keep in a warm place).
</li>
<li>
When you see an inch or more of bubbles on the top it is ready to use.  Save 1 cup or more of the starter.  To this add warm water and flour like you did the first time.  Your starter is alive and active.  It can be used for may years this way.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Ruth Allman explains that the prospectors in the early days had no
</p>
<p>
  yeast so they made their own, called &quot;wild yeast&quot;.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;&quot;Alaska Sourdough&quot;&quot;
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Ruth Allman
</p>
</body>
