<head>
<title>Sour Fennel-Flavored Eggplant</title>
</head>
<body>
<h1>Sour Fennel-Flavored Eggplant</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 1 pound eggplants
</li>
<li>
salt
</li>
<li>
1/2 cup olive oil
</li>
<li>
4 teaspoons panchphoran
</li>
<li>
Equal portions: fennel seeds, mustard
</li>
<li>
seeds, fenugreek seeds, cumin seeds,
</li>
<li>
nigella (kalonji), if found. All roasted
</li>
<li>
and ground.
</li>
<li>
3 teaspoons ground amchoor
</li>
<li>
1 to 1 1/2 teaspoons cayenne
</li>
<li>
1/2 cup + 1 tablespoon yogurt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Quarter eqqpland and cut into 1/2&quot; pieces.  Place 10 cups of water in a bowl and add 2 tablespoons of salt, stirring to disolve.  Place the eggplant into the water/salt mixture.  Place a plate on top, submerging, to hold the eggplant under the water.  Soak for 40 minutes.  Drain and pat dry as possible.
</li>
<li>
Place oil in  large fry pan and set over high heat.  When hot, put in the panchphoran and then just a second later the eggplant pieces.  Turn the heat down to medium-high.  Stir and fry until lighrly browned, about 4 minutes.  Put in 1 1/2 teaspoons of salt, amchoor and cayenne.  Stir to mix and add about 3/4- 1 cup of water, cover and turn heat to low.  Cook gently for 10 minutes until vegetables are tender. 
</li>
<li>
Uncover and add yogurt, turning heat up to medium high.  Stir and fry gently for 1-2 minutes until yogurt is absorbed.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Pakistani dish&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Madhur Jaffrey
</p>
</body>
