<h1>Soused Shrimp with Italian Herbs (Gamberetto Ubriaco con Erba Italiana)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 1/2 lbs. medium shrimp, peeled and deveined
</li>
<li>
olive oil
</li>
<li>
1/4 cup onion, minced
</li>
<li>
4 cloves garlic, minced
</li>
<li>
pink peppercorns
</li>
<li>
2 cups peeled and diced tomatoes
</li>
<li>
1/2 cup dry white wine
</li>
<li>
1/2 cup fresh basil leaves, finely chopped
</li>
<li>
2 tablespoons fresh oregano, finely chopped
</li>
<li>
squeeze of fresh lemon
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place olive oil inn hot pan.  Add shrimp and cook briefly, about 2-3 minutes until almost cooked through.  Remove from pan.
</li>
<li>
Heat about 3-4 tablespoons of olive oil in large saute pan.  Add garlic and pink peppercorns to almost cover the bottom of the pan.  Cook briefly and then add tomatoes.  Cook a minute and add wine, salt, pepper.  Add basil and oregano.
</li>
<li>
Cook for about 10 minutes, reducing liquid portion slightly.  Pour out mixture and hold.  Add shrimp when ready to serve.
</li>
<li>
Also delicious served over pasta.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;One of my favorite warm antipasti.....enjoy sopping up the fabulous
</p>
<p>
  sauce with a wonderful Italian bread or foccacia.&quot;
</p>
<p>
SERVINGS: 9
</p>
<p>
SOURCE: Fattoria Medicea, Pistoia
</p>
</div></body>
