<h1>Soused Shrimp</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. frozen shrimp, deveined, peeled
</li>
<li>
1/2 bottle white wine
</li>
<li>
bouquet garni: parsley stems
</li>
<li>
bay leaves
</li>
<li>
thyme
</li>
<li>
pepper corns
</li>
<li>
1 lemon, quartered
</li>
<li>
1 orange, quartered
</li>
<li>
1 lime, quartered
</li>
<li>
pickling spice
</li>
<li>
1/4 cup chopped fresh basil
</li>
<li>
1/4 cup chopped fresh dill
</li>
<li>
1 tablespoon chopped fresh rosemary
</li>
<li>
1 tablespoon chopped fresh thyme
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1 1/2 tablespoons Dijon mustard
</li>
<li>
5 tablespoons fresh lemon juice
</li>
<li>
1 cup olive oil
</li>
<li>
1 sweet red peppers, cut small pieces
</li>
<li>
1 sweet yellow pepper, cut small pieces
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Pour the wine, bouquet garni, citrus, pickling spices and about 2-3 cups water into a pan for pouching.  Bring to a boil and simmer for about 20 minutes.
</li>
<li>
2.  Add frozen shrimp to pouching liquid and cook until done, about 5 minutes or less.
</li>
<li>
Refrigerate to chill.
</li>
<li>
3.  Mix all the herbs and garlic.  Add mustard and lemon juice and slowly whisk in olive oil. Add peppers. Add salt and pepper to taste.
</li>
<li>
4.  Add the herb/olive oil mixture to shrimp, mix gently.  Add hot red pepper flakes if desired.  
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
