<head>
<title>Soused Shrimp</title>
</head>
<body>
<h1>Soused Shrimp</h1>
<h2>Ingredients</h2>
<ul>
<li>
5 lbs. large cooked shrimp (12-15 per pound)
</li>
<li>
shelled and deveined
</li>
<li>
3 medium red Italian onions, thinly sliced
</li>
<li>
3 lemons, sliced paper thin
</li>
<li>
3 teaspoons fresh rosemary, finely chopped
</li>
<li>
(or 1 1/2 teaspoons dried, finely
</li>
<li>
crushed)
</li>
<li>
2 cloves garlic, finely chopped
</li>
<li>
3 tablespoons capers (or to taste)
</li>
<li>
olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Arrange layers of shriimp, onion, and lemon in a good-sized bowl, sprinkling each layer with rosemary.  Add the garlic and pour in olive oil to cover the shrimp.  Cover the bowl and let the shrimp marinate in the refrigerator for several days.  Serve from the bowl, or arrange in another bowl, lined with greens and sprinkle with capers, fresh parsley, chopped and rosemary if desired.  Serve with French baquette slices or crustini.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Great make ahead appetizer.
</p>
<p>
SERVINGS: 20
</p>
<p>
SOURCE: James Beard
</p>
</body>
