<head>
<title>Southern Comfort Barbecue Sauce</title>
</head>
<body>
<h1>Southern Comfort Barbecue Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 lb. canadian bacon, lean
</li>
<li>
olive oil spray
</li>
<li>
1/2 cup red bell pepper, chopped
</li>
<li>
1/2 cup green bell pepper, chopped
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1/2 cup red onion, minced
</li>
<li>
3 tablespoons Southern Comfort
</li>
<li>
1/2 cup brown sugar
</li>
<li>
14 ounces ketchup
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook bacon until almost done.  Add bell peppers, onion and saute until soft.  Add Southern Comfort and reduce slightly.  Add remaining ingredients and simmer for about 30 minutes on low.  
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fabulous over any grilled item!&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
