<head>
<title>Southern Yeasted Cornbread</title>
</head>
<body>
<h1>Southern Yeasted Cornbread</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 package instant yeast
</li>
<li>
1 cups warm water
</li>
<li>
4 1/3 cups bread flour &amp; AP Flour
</li>
<li>
2 teaspoons salt
</li>
<li>
1 2/3 cups cornmeal
</li>
<li>
4 tablespoons melted butter
</li>
<li>
1/3 cup honey
</li>
<li>
2 large eggs
</li>
<li>
1 can whole kernel corn, drained
</li>
<li>
2 tablespoons cornmeal
</li>
<li>
1 egg for egg wash
</li>
</ul>
<h2>Method</h2><ul>
<li>
In a mixer mixing bowl, mix 1/2 flour, salt, cornmeal and water.  Mix with paddle mixer for 2 minutes.  Add cooled melted butter, honey, eggs, one at a time, and corn, and mix another minute.  Add enough flour to stiffen dough slightly.  Change to kneading hook.  Add flour a little at a time while kneading.  Knead the dough for 6-8 minutes until dough cleans the sides of the bowl.  The flour amount may vary depending on how much moisture is in the dough.
</li>
<li>
Remove dough to board and knead by hand briefly.  Roll into a ball and place in oiled bowl.
</li>
<li>
Cover with plastic wrap and allow to rise until doubled, about 2 hours.
</li>
<li>
Once doubled, divide dough into two loaf sizes.  Form the dough into boulles (large balls).  Place the loaves on a sheet pan sprinkled with corn meal.  Allow the loaves to rise until doubled again.
</li>
</ul>
<h2>Notes</h2><p>
Preheat the oven to 375F.  Whisk the remaining egg with a little water and brush the egg wash on the loaf and sprinkle with cornmeal.  Bake the bread about 30 minutes or until the bread is golden brown.  Cool on racks.SOURCE: Adapted from Foodreference.com
</p>
</body>
