<h1>Spanish Saffron Tortilla</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup olive oil, (divided between two pans)
</li>
<li>
2 medium onions, diced small
</li>
<li>
4 medium red potatoes, peeled and diced
</li>
<li>
salt and freshly ground pepper
</li>
<li>
12 large eggs
</li>
<li>
2 pinches saffron threads, dissolved in hot water
</li>
<li>
parsley, chopped fine
</li>
</ul>
<h2>Method</h2><ul>
<li>
Olive oil into pans.  Divide the onions and potatoes between the two pans and cook until potatoes are done. 
</li>
<li>
Beat the eggs in a bowl and divide between the pans, lifting slightly to allow egg mixture to return to bottom of pan as it begins to cook.  Cook until almost done.  Invert on plate and slide back into pan to finish.  When  done slip out of pan and  onto to a plate to serve.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is the classic recipe for Spanish omelet, also called a tortilla
</p>
<p>
  in the &quot;tapa world&quot;.  It can be served warm or at room temperature. 
</p>
<p>
  This recipe makes two 8&quot; tortillas, best cooked in well seasoned
</p>
<p>
  cast-iron fry pans.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Char&quot;
</p>
<p>
SERVINGS: 16
</p>
</body>
