<h1>Spanish Apple Tart</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 puff pastry
</li>
<li>
5 large apples
</li>
<li>
3 large eggs
</li>
<li>
3 tablespoons apricot jam
</li>
<li>
2 tablespoons half and half
</li>
<li>
2 tablespoons sugar
</li>
<li>
2 tablespoons ground almonds
</li>
<li>
2 tablespoons ground pistachios
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 375F.  Roll out puff pastry and lay into pan.  Trim sides.  Prick crust with a fork.  Spread apricot jam into crust and top with apples.
</li>
<li>
Bake for about 20 minutes, protecting edges with aluminum foil if necessary.
</li>
<li>
Meanwhile beat eggs.  Add cream, sugar, almonds, pistachios.  Remove tart from oven and pour egg mixture over.  Bake another 15 minutes.
</li>
<li>
Cool completely and remove from pan.  Can be dusted with powdered sugar.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 6
</p>
</div></body>
