<head>
<title>Spanish Port Scented Flan</title>
</head>
<body>
<h1>Spanish Port Scented Flan</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups milk
</li>
<li>
2 cups heavy cream
</li>
<li>
2 cinnamon stick
</li>
<li>
2 zests of the oranges, in long strips
</li>
<li>
2 cups sugar
</li>
<li>
4 tablespoons water
</li>
<li>
6 large eggs
</li>
<li>
4 large egg yolks
</li>
<li>
4 tablespoons tawny port
</li>
<li>
1 teaspoon vanilla
</li>
</ul>
<h2>Method</h2><ul>
<li>
Pour the milk and cream into a saucepan and add the cinnamon stick and orge zest strips.  Heat over medium high heat until bubble appear around the sides.  Remove from heat and infuse with flavorings for about 1 hour.
</li>
<li>
Have ready 12   1/2-cup ramekins or custard cups.  In a small heavy saucepan over hight heat, combine 1/2 cup of the sugar and the water.  Heat, stirring until the sugar dissolves and mixture comes to a boil.  Continue to boil, without stirring, until the mixture is golden brown, 6-8 minutes.  Be careful not to let it get too dark.  Remove from the heat and pour the hot syrup into the ramekins, dividing it evenly and quickly swirling the cups to coat with the caramel.  Place the molds in a large baking pan.  Set aside.
</li>
<li>
Preheat the oven to 325F.
</li>
<li>
Strain the milk-cream mixture through a finemesh sieve, discarding the orange zest and cinnamon.  Return the liquid to the pan and place over medium high heat.  Heat until small bubbles appear along the edges of the pan.  Remove from the heat.
</li>
<li>
IN a bowl, using an electric mixer set on high speed, beat together the whole egts and egg yolks until frothy.  Gradually add the remaining 1/2 cup sugar, beating until the mixture is pale ayellow and thick, about 10 minutes.  Add the hot milk-cream mixture, a little at a time, beating constantly.  Stir in the port and vanilla.
</li>
<li>
Pour the mixture through a fine mesh sieve placed over a pitcher.  Then pour the strained mixture into the caramel-lined molds, dividing evenly.  Pour hot water into the baking pan to reach halfway up the sides of the molds.  Cover the pan with aluminum foil.
</li>
<li>
Bake until a knife inserted into the center of a custard emerges clean, about 30 minutes.  Remove the custards from the water bath, let cool, and rrefrigerate until chilled.
</li>
<li>
At serving time, run a knife around the inside edge of each mold and unmold into shallow dessert bowls, allowing any caramel in the molds to drizzle over the custards.    Serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;The popular dessert of Spain!&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Goldstein
</p>
</body>
