<h1>Spanish Marinated Stuffed Red Peppers</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 large red bell pepper
</li>
<li>
1 cup vegetable stock
</li>
<li>
2 tablespoons butter
</li>
<li>
1/2 cup short grain rice
</li>
<li>
salt
</li>
<li>
1 tablespoon extra virgin olive oil
</li>
<li>
1 shallots, minced
</li>
<li>
1/2 large onion, minced
</li>
<li>
2 cloves garlic, smashed, minced
</li>
<li>
2 tablespoons Italian parsley, minced
</li>
<li>
6 stems fresh thyme, leaves removed
</li>
<li>
freshly ground pepper
</li>
<li>
1 teaspoon lemon juice
</li>
<li>
1 tablespoon slivered almonds, chopped
</li>
<li>
Marinade:
</li>
<li>
red wine vinegar
</li>
<li>
salt and pepper
</li>
<li>
1/4 teaspoon Dijon mustard
</li>
<li>
extra virgin olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut pepper in half and remove inside.  Roast peppers until blackened under the broiler.  Place in a large bowl and allow to sweat until cool, covered with plastic wrap.
</li>
<li>
Remove from bowl and peel.
</li>
<li>
Make the rice by bringing  the vegetable stock to a boil and meanwhile melting butter in a deep casserole (about 1 1/2 quart size).  Stir in the rice until covered with butter.  Pour the hot stock over the rice, season with a little salt and cover.  Bake at 400F for 15 minutes.  Remove fromt he oven and let sit for 10 minutes, still covered.
</li>
<li>
Saute the shallot, onion, garlic in the 1 tablespoon of olive oil until softened.  Cover and cook until the onion is cooked through, but not browned.  
</li>
<li>
Turn the heat off and mix in the rice, parsley, thyme, salt pepper, a tablespoon or two of olive oil, lemon juice, and almonds.
</li>
<li>
Pat the peppers dry as possible.  Divide the mixture evenly between the pepper halves and roll up.  Cut each one of these rolls in half again.  Arrange on a platter and cover with marinade.
</li>
<li>
Marinade:  Place a bit (about 1/4 cup) of red wine vinegar in a large bowl.  Add s/p and whisk.  Add mustard.  Add olive oil until the taste is right for you.  
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A beautiful tapa addition!&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
