<h1>Spanish-Style Spinach with Chickpeas</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3/4 cup dried chickpeas
</li>
<li>
1/4 cup olive oil
</li>
<li>
5 cloves garlic, finely chopped
</li>
<li>
2 lbs. fresh spinach, cut into chiffonade (ribbons)
</li>
<li>
2 teaspoons cumin
</li>
<li>
1 teaspoon coriander
</li>
<li>
1/4 teaspoon crushed red pepper
</li>
<li>
1 1/4 teaspoons salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Soak chickpeas overnight in cold water to cover by about 3&quot; (or do a quick soak by bringing to boil and covering for 1 hour; drain and proceed).
</li>
<li>
Bring the chickpeas and about 2 1/2 cups of water to a boil.  Cover and lower the heat and simmer about 2 1/2 hours or until the chickpeas are tender.
</li>
<li>
Put the oil in a hot sauce pan.  Put in the garlic and stir.  Add the spinach and stir until the spinach has wilted.  Add the chickpeas with their liquid, the cumin, coriander, paprika, cayenne, salt and 1 cup of the water.  Mix well.  Cook on medium heat, uncovered for 20-30 minutes.  Stir occasionally.  There should be a bit of jucie left at the bottom of the pan.  Serve hot or at room temperature with fried pieces of bread.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Known as Espinacas con Garbanzos and most commonly served in tapas
</p>
<p>
  bars.&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Madhur Jaffrey
</p>
</div></body>
