<h1>Spelt Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup spelt, soaked overnight
</li>
<li>
1 lb. red beans, soaked overnight
</li>
<li>
olive oil
</li>
<li>
2 tablespoons garlic, minced
</li>
<li>
2 medium carrots, chopped
</li>
<li>
2 stalks celery, chopped
</li>
<li>
1 small onion, chopped
</li>
<li>
2 tablespoons pink peppercorns
</li>
<li>
8 fresh sage, leaves removed
</li>
<li>
1 rosemary sprig, 2-3 inches long
</li>
<li>
2 tablespoons tomato paste
</li>
<li>
salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Cook spelt after soaking until al dente.  
</li>
<li>
Saute garlic, carrots, celery, onion in olive oil until translucent.  Add peppercorns, sage and rosemary sprig until fragrant.
</li>
<li>
Add tomato paste and soaked and drained red beans.  Add water to cover by about 2 inches.  
</li>
<li>
Cook until beans are about half cooked and then add salt.
</li>
<li>
When beans are cooked completely, whisk with hand blender, food processer or blender.  Place back on stove and add water if necessary to thin and salt to taste.  Add spelt and heat through.  
</li>
<li>
To serve, place in warm bowls and drizzle with olive oil.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a soup you would see on almost every menu in Tuscany....it is
</p>
<p>
  delicious.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Fattoria Medicia, Pistoia
</p>
</div></body>
