<h1>Spelt Flour Focaccia</h1>
<h2>Ingredients</h2>
<ul>
<li>
Starter:
</li>
<li>
1/2 teaspoon active dry yeast
</li>
<li>
1/4 cup warm water, 105-115F
</li>
<li>
1 1/2 cups water, room temperature
</li>
<li>
3 1/4 cups white spelt flour
</li>
<li>
Dough:
</li>
<li>
2 1/2 teaspoons active dry yeast, (1 package)
</li>
<li>
1/2 cup warm water, 105-115F
</li>
<li>
3/4 cup +2 tablespoons spelt flour starter, above, at least 12 hours old
</li>
<li>
2 1/2 cups water, room temperature
</li>
<li>
6 3/4 cups +2 tablespoons white spelt flour
</li>
<li>
1 tablespoon sea salt
</li>
<li>
For the pans &amp; topping:
</li>
<li>
6 tablespoons extra-virgin olive oil
</li>
<li>
1 large full-flavored ripe tomato, peeled and
</li>
<li>
diced
</li>
<li>
3/4 teaspoon coarse sea salt
</li>
<li>
few oregano sprigs, or 3/4 teaspoon dried oregano
</li>
</ul>
<h2>Method</h2><ul>
<li>
Prepare the spelt flour starter by sprinkling the yeast over the warm water in a large mixing bowl.  Whisk it in and let stand until creamy, about 10 minutes.  With paddle attachment of a heavy-duty mixer (or by hand) mix in the room-temperature water and then the flour mixing for about 1-2 minutes.
</li>
<li>
Rising:  Transfer the starter to a lightly oiled bowl and cover with plastic wrap.  Let rise at a cool room trmperature for 6-24 hours.  The starter will triple in volume and then collapse upon itself.  It will still be set and sticky when ready to use.  Cover and set aside at room termperature for at least 12 hours.  Refrigerate after 24 hours.  
</li>
<li>
When you are ready to make the dough, sprinkle the yeast over the warm water in a large mixing bowl; whisk it in and let stand until creamy, about 10 minutes.  Chop up the starter or squeeze it through your fingers and add it with the 2 1/2 cups room-temp. water to the yeast mixture; mix with the paddle of the mixer until blended.  Add the flour and salt to the yeast mixture and continue to mix with the paddle attachment until a dough is formed, 3-4 minutes.  The dough will pull away from the sides of the mixer bowl but not the bottom.  
</li>
<li>
Change to the dough hook and knead at medium speed for 2-3 minutes or until the dough is elastic, sticky and soft but not wet.  You will see many bubbles under the skin.
</li>
<li>
First rise:  Place the dough in a lightly oiled container, cover it tightly with plastic wrap and let rise until doubled, about 1 hour.
</li>
<li>
Shaping and second rise:  Prepare two rectangle or round baking pans bys pouring 2 1/2 tablespoons of the olive oil into each and tilting to cover bottom and sides well.  Turn the sticky, elastic dough out onto a lightly floured work surface, divide it in half and sprinkle the tops wvery lightly with just enough four to counteract the stickiness.  Place each piece in a prepared baking pan and stretch the dough outward to cover as much of the bottom as possible.  It will reside, so cover it with a towel and leave it to relax for 10 minutes.  Stretch the dough more, cover, and let riseuntil well puffed, about 45 minutes to 1 hour.
</li>
<li>
Topping.  Dimple the tops vigorously with your index fingers and brush with oil, using the remaining 1 tablespoon of oil.  Sprinkle the dought with the tomato, coarse salt and a little oregano and finish by drizzling a little more oil to collect in pools on top of the dough.
</li>
<li>
Baking:  Preheat the oven to 425F (at least 30 minutes before baking).  Place the foccacias in the oven (on a preheated stone if you have one).  Spritz the oven with water and bake the foccacias for 20-25 minutes until golden.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;The starter must be made at least 12 hours before you make the
</p>
<p>
  dough...but even better after 3 days.  Freeze any extra starter you
</p>
<p>
  don&#39;t need.  The final dough will be sticky.&quot;
</p>
<p>
SERVINGS: 16
</p>
<p>
SOURCE: Carol Field
</p>
</body>
