<head>
<title>Spicy Rosemary Nuts</title>
</head>
<body>
<h1>Spicy Rosemary Nuts</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups mixed raw nuts
</li>
<li>
3 tablespoons olive oil
</li>
<li>
3 small shallots, thinly sliced
</li>
<li>
3 cloves garlic, thinly sliced
</li>
<li>
3 tablespoons unsalted butter
</li>
<li>
1/4 cup fresh rosemary, coarsely chopped
</li>
<li>
1 teaspoon cayenne pepper
</li>
<li>
3 tablespoons dark brown sugar
</li>
<li>
1 tablespoon kosher salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Toast nuts in over at 350F for 10-12 minutes.  Watch carefully to keep from burning.
</li>
<li>
Heat olive oil in large saute pan.  Add shallots and garlic and cook until golden.  Add butter and rosemary.  Cook until fragrant.  Add nuts, mix.  Add remaining ingredients and tasteto correct seasoning.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
