<h1>Spicy Potato Stuffed Filo Cups</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 tablespoons canola oil
</li>
<li>
5 tablespoons coriander seeds
</li>
<li>
1 whole onion, minced
</li>
<li>
1 1/2 inch ginger root
</li>
<li>
2 cloves garlic, minced
</li>
<li>
7 medium russet potatoes, boiled and cut into 1/2&quot; cubes
</li>
<li>
3/4 cup green peas
</li>
<li>
1 teaspoon red chile flakes
</li>
<li>
2 teaspoons garam masala
</li>
<li>
3 teaspoons pomegranate seeds, ground
</li>
<li>
2 1/2 teaspoons kosher salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
1            package  filo dough
</li>
<li>
                        chopped cilantro
</li>
<li>
Heat oil in large fry pan.  Add coriander seeds and cook until slightly brown.  Add onion and cook until slightly brown and add garlic and ginger root and cook a minute longer.  
</li>
<li>
Add more oil.  Add potatoes and fry slightly until brown around the edges.  Add peas and heat through.  Add chile flakes and garam masala, salt.  Taste and correct seasoning.
</li>
<li>
Take filo dough sheet and cut into pieces large enough to fold into muffin tins (medium or tiny ones).  Brush with melted butter.  Fill with potato mixture and place in 375F oven for about 10-12 minutes until filo is golden.  Serve immediately with chopped cilantro on top.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a wonderful Indian-style hors d&#39;oeuvre.&quot;
</p>
<p>
SERVINGS: 12
</p>
</body>
