<h1>Spicy Grilled Beef Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1 - pound beef sirloin steak, 3/4&quot; thick
</li>
<li>
1 teaspoon fresh ground black pepper
</li>
<li>
1/2 cup beef broth
</li>
<li>
3 tablespoons fresh lime juice
</li>
<li>
2 tablespoons fish sauce
</li>
<li>
1 teaspoon sugar
</li>
<li>
1 teaspoon Roasted Rice Powder*
</li>
<li>
1/3 cup sliced shallots, thinly sliced, separated into rings
</li>
<li>
4 scallions, trimmed, sliced lengthwise in half, 1/2&quot;
</li>
<li>
2 serrano pepper, minced
</li>
<li>
1/2 cup mint leaves
</li>
<li>
Accompaniments:
</li>
<li>
10 leaves butter or bibb lettuce
</li>
<li>
1 European cucumber, 1/4&quot; slices
</li>
<li>
3 scallions, trimmed, sliced lenghwise in half
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat a grill or broiler.  Rub the meat with the black pepper.  Grill or broil until rare, 2-3 minutes per side.  Very thinly slice the meat across the grain.
</li>
<li>
In a medium saucepan, mix the broth, lime juice, fish sauce and sugar together and bring to a boil over high heat.  Toss in the rice powder and meat and quickly stir to coat the meat. 
</li>
<li>
Immediately remove from the heat and transfer the meat and dressing to a large bowl (be quick so as not to overcook the beef).  Add the shallots, scallions, chiles and mint and toss gently.  Let stand while you arrange your choice of accompaniments on a platter.
</li>
<li>
Mound the salad on a plate and pour the extra dressing over.  Serve with the platter of salad greens and cucumber and scallions and lots of jasmine rice.
</li>
<li>
*Roasted Rice Powder:  Heat a heavy skillet over medium high heat.  Add 1/4 cup jasmine rice and dry-roast, stirring frequently, until it is golden brown.  Transfer to a coffee grinder or spice grinder and grind to a powder.  Let cool.  Store in a well-sealed glass jar.  Use as a condiment with soft foods, vegetables and salads.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 6
</p>
<p>
SOURCE: Trang
</p>
</div></body>
