<h1>Spicy Noodle Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
16 ounces dried bean thread noodles
</li>
<li>
Dressing:
</li>
<li>
4 tablespoons soy sauce
</li>
<li>
4 tablespoons rice vinegar
</li>
<li>
2 tablespoons oyster-flavored sauce
</li>
<li>
4 teaspoons chili garlic sauce
</li>
<li>
4 teaspoons sesame oil
</li>
<li>
2 teaspoons sugar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
2          teaspoons  sesame oil
</li>
<li>
  4                     green onions -- julienned
</li>
<li>
  2                     carrots -- julienned
</li>
<li>
  1                     English cucumber -- julienned
</li>
<li>
Soak bean thread noodles in warm water to cover until softened, for about 5 minutes; drain.  Cut into 4&quot; lenghs.
</li>
<li>
Combine dressing ingredients in a small bowl.
</li>
<li>
In a large pot of boiling water, cook noodles for 1 minute; drain, rinse with cold water, and drain again.  Pat dry with paper towels.
</li>
<li>
Place noodles in a salad bowl and toss with sesame oil.  Add dressing, onions, carrot and cucumber; toss to coat.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Martin Yan
</p>
</div></body>
