<h1>Spicy Roasted Squash Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 recipe roasted butternut squash, cut into chunks
</li>
<li>
1 Granny Smith apple, unpeeled, diced
</li>
<li>
1 cup mirepoix, onion, carrot, celery to = 1 cup (1/2, 1/4, 1/4 cup respectively)
</li>
<li>
2 tablespoons olive oil
</li>
<li>
10 -12 cups chicken stock, or just to cover squash
</li>
<li>
2 cups whipping cream, if desired
</li>
</ul>
<h2>Method</h2><ul>
<li>
Saute mirepoix in olive oil until soft.  Add spicy squash.  Cover with stock by 2-3 inches.  Bring to boil and simmer for about 20-30 minutes.  Puree with hand blender.  Add whipping cream if desired and correct seasoning.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
