<head>
<title>Spicy Sour Shrimp</title>
</head>
<body>
<h1>Spicy Sour Shrimp</h1>
<h2>Ingredients</h2>
<ul>
<li>
36 large shrimp, shelled and deveined
</li>
<li>
sea salt
</li>
<li>
freshly ground pepper
</li>
<li>
4 broccoli florets, cut at stems
</li>
<li>
6 tablespoons clarified butter
</li>
<li>
1 cup Spicy Sour Sauce
</li>
<li>
12 ounces enoki mushrooms
</li>
<li>
30 chives, cut into 1 1/2&quot; lengths
</li>
</ul>
<h2>Method</h2><ul>
<li>
Spicy Sour Sauce:
</li>
<li>
  1                cup  fresh lemon juice
</li>
<li>
  2          teaspoons  chile garlic sauce -- passed through a sieve
</li>
<li>
          scant tablespoon  light soy sauce
</li>
<li>
          scant tablespoon  soy sauce
</li>
<li>
After shelling and deveining, rinse in cold water and drain.  Sprinkle with a little sea salt and pepper.
</li>
<li>
Bring a pot of water to a boil, adding salt.  Add broccoli and boil for 1 1/2 minutes.  Shock to cool in ice water, drain.
</li>
<li>
Heat a large saute pan over high heat.  Add butter and saute the shrimp.  When shrimp just begin to turn pink, add Spicy Sour Sauce, broccoli, mushrooms and chives and stir-fry briefly.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Nobuyuki Matsuhisa
</p>
</body>
