<h1>Spicy Roast Chicken in Banana Leaves</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 4 lb chickens
</li>
<li>
6 tablespoons lemon juice
</li>
<li>
2 tablespoons oil
</li>
<li>
4 large onions, roughly chopped
</li>
<li>
10 cloves garlic, crushed
</li>
<li>
3 inch ginger, roughly chopped
</li>
<li>
6 tablespoons ground almonds
</li>
<li>
1 teaspoon hot chile pepper
</li>
<li>
2 teaspoons ground turmeric
</li>
<li>
4 teaspoons garam masala
</li>
<li>
6 cilantro roots, chcopped
</li>
<li>
8 tablespoons chopped cilantro
</li>
<li>
8 banana leaves
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Wash and dry the chickens with paper towels.  Prick all over with a skewer for penetration of the marinade.  Rub lemon juice and salt all over the chicken and inside the cavity.
</li>
<li>
Cook the onion in hot oil until the onions start to brown.  Add garlic and ginger and cook for 2 minutes.  Add almonds, chile powder, turmeric and garam masala and cook another minute.  Cool completely.
</li>
<li>
Grind the above mixture in a food processor along with the cilantro roots and leaves until smooth.  Rub all over the chicken and inside the cavaty and refrigerate for 6 hours.
</li>
<li>
Preheat the oven to 400F.  Soften the banana leaves by dropping them into a saucepan of very hot water.    They will become pliant....wipe dry.  Tie the legs of the chicken together.
</li>
<li>
Wrap the chicken in the banana leaves, making sure it is covered all over.  Tie with cotton string, like a package.  (this can be done with aluminum foil if banana leaves are unavailable.  Roast for 1 1/2 hours.  Unwrap the chicken, baste with juices and return to oven for 10 minutes. or until brown.  Check for doneness...internal temperature should be at 160-170 F.  Allow to rest for 10 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from &quot;The Food of India&quot;
</p>
</div></body>
