<h1>Spicy Asian Chicken Wings</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
16 chicken wings
</li>
<li>
1/4 cup soy sauce
</li>
<li>
3 tablespoons honey
</li>
<li>
1/2 cup hoisin sauce
</li>
<li>
grated orange peel
</li>
<li>
4 cloves garlic
</li>
<li>
1 tablespoon Dijon mustard
</li>
<li>
1/8 teaspoon cayeene pepper
</li>
<li>
salt and pepper
</li>
<li>
1/8 teaspoon Chinese 5-spice powder
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Remove wing tips and save for stock for later use.
</li>
<li>
Cut apart wings at joint.
</li>
<li>
Mix the remaining ingredients in a large bowl.  Add the wings and toss to coat well.  Cover the bowl with plastic wrap and marinate the wings for several hours or overnight in the refrigerator.  
</li>
<li>
Heat the oven to 375F (or the grill to hot).  Arrange the wings on a flat rack in a large roasting pan (or on the grill over indirect heat).  Bake for 15 minutes (or grill with lid on for 10-15 minutes).  Turn the wings over and brush with the remaining marinade.  Increase the temperature to 450F (or throw on more coals) and continue to bake (or grill with lid on) for 10 minutes more until brown and crisp.  Serve at hot or at room temperature.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Gillian Duffy
</p>
</div></body>
