<h1>Spicy Stir Fried Clams (Vietnamese)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
36 clams
</li>
<li>
1 tablespoon vegetable oil
</li>
<li>
2 cloves garlic, minced
</li>
<li>
3 ounces fresh ginger, peeled, julienned
</li>
<li>
1 teaspoon Vietnamese chili-garlic sauce
</li>
<li>
2 teaspoons fish sauce
</li>
<li>
2 scallions, 2&quot; pieces
</li>
<li>
1 bunch cilantro, stems removed
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place the clams in a bowl and fill with water to cover.  Place in the refrigerator and allow to soak for 30 minutes.  Drain and repeat once more.
</li>
<li>
Heat the oil in a wok over high heat.  Add the garlic and ginger and then stir-fry until fragrant, about 3 minutes.  Add the clams, chili sauce, fish sauce and stir-fry until well mixed.  Scatter the scallions and cilantro on top, tover and cook until the cames open for 5-7 minutes.  Serve hot.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 4
</p>
<p>
SOURCE: Trang
</p>
</div></body>
