<h1>Spicy Mango Slices</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups water
</li>
<li>
1 cup rice vinegar
</li>
<li>
1 1/4 cups sugar
</li>
<li>
1/4 cup kosher salt
</li>
<li>
2 whole cloves
</li>
<li>
2 teaspoons mustard seed
</li>
<li>
2 teaspoons black peppercorns
</li>
<li>
2 teaspoons fresh ginger, chopped
</li>
<li>
1 jalapeno, seeded and chopped
</li>
<li>
4 cups sliced mango
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine all the ingredients for the pickling juice in a saucepan and simmer for 5 minutes, until the salt and sugar dissolves.  Let cool.  Strain.
</li>
</ul>
<h2>Notes</h2><p>
Pour the juice over the sliced mangos and refrigerate for at least 1 hour.  SOURCE: Charlie Trotter
</p>
</body>
