<head>
<title>Spicy Potato-Stuffed Cabbage Rolls - Aloo Bhare Bandh Gobhi</title>
</head>
<body>
<h1>Spicy Potato-Stuffed Cabbage Rolls - Aloo Bhare Bandh Gobhi</h1>
<h2>Ingredients</h2>
<ul>
<li>
Spicy Potato Filling:
</li>
<li>
6 tablespoons canola oil
</li>
<li>
6 teaspoons coriander seeds
</li>
<li>
1 whole onion, minced
</li>
<li>
1 1/2 inch ginger root, peeled, minced
</li>
<li>
14 medium russet potatoes, boiled until soft, cut into 1/2&quot; cubes
</li>
<li>
1 1/4 cups green peas
</li>
<li>
6 jalapeno chile pepper, minced, or 1 teaspoon red chile flakes
</li>
<li>
3 1/2 teaspoons garam masala*
</li>
<li>
4 teaspoons pomegranate seeds, ground ( lemon, about 2 tablespoons)
</li>
<li>
5 teaspoons Kosher salt
</li>
<li>
2 medium cabbages
</li>
</ul>
<h2>Method</h2><ul>
<li>
Ginger Lemon Sauce:
</li>
<li>
                        cabbage -- left after leaves taken off, shredded
</li>
<li>
  6        tablespoons  canola oil
</li>
<li>
  2              large  onions -- sliced thin
</li>
<li>
  3             cloves  garlic -- minced
</li>
<li>
  2               cups  tomatoes -- canned, with juice
</li>
<li>
  2        tablespoons  ginger root -- freshly grated
</li>
<li>
  2              whole  lemons -- peeled, seeded and thinly sliced
</li>
<li>
  2 1/2           cups  water -- or vegetable stock
</li>
<li>
  2        tablespoons  Kosher salt
</li>
<li>
     1/2      teaspoon  black pepper
</li>
<li>
  1              bunch  cilantro -- chopped
</li>
<li>
  7                     green chiles -- sliced
</li>
<li>
  1           teaspoon  paprika
</li>
<li>
Cook potatoes and cube after cooled.  Meanwhile, heat the canola oil over medium-high heat until hot and add coriander seeds and fry until dark brown (about 15 seconds).  Add onions, gingerroot and continue frying until the onions are brown.  Add potatoes and peas and fry until the potatoes begin to dry out and look fried.  Be gentle, using a heat resistant spatula..  Turn off heat.
</li>
<li>
Add the chile, garam masala, pomegranate seeds.  Taste for correct seasoning.  Allow to cool for easier handling.
</li>
<li>
Run a knife around the core of the cabbages.  Place the cabbages in cold salted water, covering by 1&quot;, and bring to a boil.  Cook for about 7 minutes.  Drain the cabbage in a colander until easy to handle.  Remove the leaves carefully, taking about 14-16 leaves off each cabbage.  Lay on paper towels.  Shred the remainder of the cabbage (should equal about 3 1/2-4 cups shredded, approximate).
</li>
<li>
Sauce:  Heat the canola oil in a saucepan and add onions.  Cook until wilted and begin to turn color.  Add garlic.  Cook about 2 minutes.  Add shredded cabbage, 
</li>
<li>
tomatoes, ginger root, lemons and water and bring to a boil.  Reduce heat and simmer, uncovered for 5 minutes.  Remove from heat and set aside.
</li>
<li>
Stuff each cabbage leaf by placing one large cabbage leaf on a workboard.  Place about 3 tablespoons (depending on size of cabbage leaf), and roll gently like a jelly roll, folding in sides as you go along.  Secure with a toothpick.
</li>
<li>
Place half of the sauce mixture on the bottom of a large cassarole and place the cabbage rolls over that.  Cover with the rest of the sauce.  Cover with a piece of aluminum foil.  Place in a preheated 375F oven.  Bake for 50 minutes.  Remove cover and continue baking another 10 minutes.  Serve with chopped cilantro and green chiles.  Sprinkle with paparika.
</li>
<li>
*garam masala - spice mixture.  Recipe included in this packet.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 14
</p>
<p>
SOURCE: Adaptation from Sahni
</p>
</body>
