<h1>Spicy Roasted Squash</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
butternut squash, cut into 1&quot; wedges.
</li>
<li>
2 teaspoons coriander seeds
</li>
<li>
2 teaspoons dried oregano
</li>
<li>
1/2 teaspoon fennel seeds
</li>
<li>
2 small red chilies
</li>
<li>
1 teaspoon salt
</li>
<li>
1 teaspoon freshly ground pepper
</li>
<li>
1 clove garlic
</li>
<li>
1 tablespoon olive oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
Crush all the dried herbs and seeds with a mortar and pestle making a fine powder adding the salt and pepper.  Add the garlic clove.  Add the olive oil. Toss this mixture all over the squash wedges until well coated.  Roast the squash skin side down in 400F oven for about 30 minutes or until tender.SOURCE: Adapted from Jamie Oliver
</p>
</div></body>
