<head>
<title>Spicy Twice Baked Sweet Potatoes</title>
</head>
<body>
<h1>Spicy Twice Baked Sweet Potatoes</h1>
<h2>Ingredients</h2>
<ul>
<li>
10 sweet potatoes
</li>
<li>
1 cube butter
</li>
<li>
2 red chiles, minced
</li>
<li>
2 teaspoons ground cumin
</li>
<li>
1 cup fresh cilantro, chopped
</li>
<li>
1 tablespoon brown sugar
</li>
<li>
salt and pepper
</li>
<li>
1 1/2 cups queso fresco, crumbled
</li>
<li>
chile powder
</li>
</ul>
<h2>Method</h2><ul>
<li>
Bake potatoes in 375F oven until soft.  
</li>
<li>
Remove from oven.  Slice in half and take out potato pulp trying not to tear potato peels.  Reserve 1/2 peeling for each guest.
</li>
<li>
Melt the butter in a large sauce pan.  Add the pulp, chliles, cumin, cilantro, brown sugar, salt and pepper.  Taste for correct seasoning.  Add queso fresco.
</li>
<li>
Return mixture to 10 halves and return to oven or place under the lid of the grill while meat is resting just to melt the cheese.
</li>
<li>
Sprinkle with chile powder before serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
