<h1>Spicy Cashews...Tale Caju</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 cups raw cashews
</li>
<li>
1/2 teaspoon salt
</li>
<li>
freshly ground pepper
</li>
<li>
3/4 teaspoon cayenne pepper
</li>
<li>
1 1/2 teaspoons ground roasted cumin seeds, roast until fragrant in cast iron pan and grind in spice grinder.
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat 1 inch of oil in a deep sauce pot,  fry pan, or wok.  When hot gently pour in the cashews and cook until reddish gold.  Drain in sieve place over bowl large enough to hold the hot oil, pouring the nuts and oil through the sieve.  Place nuts on sheet pan lined with paper towels, spreading out the nuts.  Sprinkle with the seasonings and mix well.  Pour the nuts on a second sheet pan lined with paper towels to further remove some of the oil.  Can be served warm or cool.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
</body>
