<h1>Spice Crusted Thick Rib Pork Chops</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 tablespoon red pepper flakes
</li>
<li>
2 tablespoons boiling water
</li>
<li>
4 cups apple cider
</li>
<li>
2 cups cool water
</li>
<li>
1/4 cup kosher salt
</li>
<li>
1/4 cup packed dark brown sugar
</li>
<li>
4 cloves garlic, minced
</li>
<li>
2 tablespoons mild chili powder
</li>
<li>
2 tablespoons mustard powder
</li>
<li>
1 tablespoon garlic salt
</li>
<li>
1 teaspoon black pepper, finely ground
</li>
<li>
1 teaspoon cayenne pepper
</li>
<li>
1/2 cup X-virgin o/o
</li>
<li>
juice 1 lemon
</li>
<li>
3 tablespoons Italian parsley, coarsely chopped
</li>
<li>
1 tablespoon honey
</li>
<li>
1 shallot, finely chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1	small clove	garlic	minced	
</li>
<li>
1/4	cup			canola oil
</li>
<li>
1 	stick		butter	melted	
</li>
<li>
1	bunch		thyme leaves, tied in a bundle
</li>
<li>
kosher salt or fleur de sel
</li>
<li>
finely ground black pepper
</li>
<li>
Brine:
</li>
<li>
Rehydrate the red pepper flacks in the boiling water for 1-2 minutes.  Add coder, cool water, salt, brown sugar and garlic.  Stir until dissolved.
</li>
<li>
Place the chops in a large zip lock bag and pour the brine over.  Squeeze out extra air, seal and refrigerate at least 12 hours.
</li>
<li>
Heat the grill to medium high.
</li>
<li>
Make the Seasoning Blend by mixing all the seasoning ingredients in a small bowl.
</li>
<li>
Dressing:  Pour all ingredients for dressing in jar with tight fitting lid and shake well to mix.
</li>
<li>
Remove chops from brine and light pat dry with paper towels.  Sprinkle with seasoning blend.
</li>
<li>
With a brush, lightly coat the seasoned  chops with canola oil.
</li>
<li>
Place chops on medium high grate until marked with the lid open (about 3 minutes).  Turn to a clean part of the grill and cook another 3 minutes.  Brush the chops with the  melted butter with the thyme bundle.  Move to cooler spot on the grill and close the lid.  Open the grill as needed and move chops as needed to be sure they are cooking.  Cook for 9 minutes for medium.  Place about 1/2 of the dressing in a puddle on a cutting board.Remove from heat to cutting board on top of dressing,  brushing with butter using thyme bundle.  Cover for 3-5 minutes with aluminum foil to rest a minute. 
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Cut meat from bone and slice into 1/4&quot; slices, drizzling with dressing, making sure all slices are coated.  Sprinkle with kosher salt (or better yet....fleur de sel) and pepper.SOURCE: Adapted from adam Perry Lang&#39;s
</p>
</div></body>
