<h1>Spice Glazed Nuts</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cuips light brown sugar
</li>
<li>
3/4 cup cream sherry
</li>
<li>
3 tablespoons light corn syrup
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1/4 teaspoon nutmeg
</li>
<li>
1/2 teaspoon cinnamon
</li>
<li>
4 cups whole nuts, toasted
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine all ingredients except nuts in a large sauce pan.
</li>
<li>
Cook without stirring to 240 F on a candy thermometer
</li>
<li>
Reove from heat.  Add nuts and stir for 2 minutes, until mixture cools slightly.
</li>
<li>
Spread coated nuts in a single layer on waxed paper and allow to cool.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Gold Shield&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;4 cups&quot;
</p>
</div></body>
