<h1>Spicy Squash Ravioli Filling</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 recipe spicy squash, baked, removed from skin and smoothed in a food processor
</li>
<li>
1 cup ricotta cheese
</li>
<li>
1 cup parmesan cheese
</li>
<li>
1 handful fresh basil
</li>
<li>
salt, to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix together and fill pasta as desired.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Fab....&quot;
</p>
<p>
SERVINGS: 12
</p>
</div></body>
