<h1>Spicy Steamed Spareribs &amp; Rice</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 lbs. pork spareribs
</li>
<li>
2 tablespoons salt
</li>
<li>
1 1/2 cups chicken stock
</li>
<li>
4 tablespoons dark soy sauce
</li>
<li>
2 teaspoons fresh ginger, minced and smashed
</li>
<li>
4 teaspoons dark sesame oil
</li>
<li>
4 tablespoons garlic, minced and smashed
</li>
<li>
4 medium red chiles
</li>
<li>
4 teaspoons brown sugar
</li>
<li>
8 tablespoons honey
</li>
<li>
2 tablespoons tomato paste
</li>
<li>
4 tablespoons dry sherry
</li>
<li>
3 cups long grain white rice
</li>
<li>
4 tablespoons fresh cilantro, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Rinse ribs unter cold water and dry.  Rub the ribs with salt and leave for 30 minutes.  Rinse thoroughly and pat dry.  Fill the stemer base with water and bring to a boil.  Add the ribs and cook for 10 minutes.  Drain, discarding the water in the steamer.
</li>
<li>
Transfer the ribs to a heatproof bowl which fits the steamer top.  Mix the stock, soy sauce, ginger, sesame oil, garlic, chiles, sugar, honey, tomato paste and sherry and pour over the ribs.
</li>
<li>
Place the ribs over the prepared steamer base, cover with a tight-fitting lid and cook for 1 hour or until cooked through.
</li>
<li>
Meanwhile, halfway through the rib cooking time, add the rice to the steamer base water and cook for 15 minutes.  Reduce the heat slightly and cook for a further 15 minutes until tender and fluffy.  Stir in the cilantro and spoon onto a warmed serving plate.  Top with the ribs and keep warm.  Place the marinade juiices in a small saucepan and bring to a boil.  Reduce by half and pour over ribs.  Serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
