<h1>Spicy Coconut Custard </h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cinnamon sticks
</li>
<li>
2 teaspoons whole cloves
</li>
<li>
1 teaspoon ground nutmeg
</li>
<li>
1 cup milk
</li>
<li>
1 cup cream
</li>
<li>
1/2 cup dark brown sugar
</li>
<li>
1 cup coconut milk
</li>
<li>
3 large eggs, lightly beaten
</li>
<li>
2 large egg yolks, lightly beaten
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 350F.
</li>
<li>
Place the cinnamon sticks, clove, nutmeg, milk and cream in a medium pan.
</li>
<li>
Bring to simmer, reduce heat to low and allow spices to infuse.
</li>
<li>
Add the sugar and coconut milk, stirring until sugar has dissolved.
</li>
<li>
Place eggs and yolks in small bowl and whisk.  Pour the spiced mixture over eggs whisking while pouring in the mixture.  Strain into a pitcher.  Pour into 6 small ramekins.  Place ramekins into a baking dish.  Pour hot water into the baking dish to come halfway up the sides of the ramekins.
</li>
<li>
Bake for 30 minutes.  When cooked through a knife inserted into the center should come out clean and the mixture should be slightly wobbly.  Remove the ramekins from the baking dish.  Serve hot or chilled.
</li>
</ul>
<h2>Notes</h2></body>
