<h1>Spicy Chicken with Basil</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 cloves garlic, minced
</li>
<li>
8 shallots, minced
</li>
<li>
24 mixed green and red jalapeno peppers, sliced
</li>
<li>
2 teaspoons green peppercorns
</li>
<li>
2 tablespoons oil
</li>
<li>
2 lbs. chicken, ground or minced
</li>
<li>
1/2 cup fish sauce
</li>
<li>
4 tablespoons sugar
</li>
<li>
2 cups Thai basil leaves
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place the garlic, shallots, peppers and peppercorns in a mortar and mash with a pestile until a paste is formed.
</li>
<li>
Heat a large saute pan to medium-high heat and add the oil.  Add the garlic paste and stir for 1 minute, then add the ground chicken, fish sauce and sugar.  Continue to cook until the sauce is reduced.  Toss in the basil leaves.
</li>
<li>
For lunch....serve over rice with a fried egg.
</li>
<li>
For dinner, serve separately with rice and with an accompaniment such as hot and sour shrimp soup.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Gai Pad Bai GA-Prow  - From Bangkok, Thailand&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Thailand, The Beautiful Cookbook
</p>
</body>
