<head>
<title>Spicy Thai Mango Salad</title>
</head>
<body>
<h1>Spicy Thai Mango Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 red chiles, slivered
</li>
<li>
2 firm mangos, peeled &amp; julienned
</li>
<li>
1/2 red onion, thinly julienned
</li>
<li>
Garnish:
</li>
<li>
1 shallot, sliced into rings and fried
</li>
<li>
3 cloves garlic, sliced and fried
</li>
<li>
(reserve oil)
</li>
<li>
Dressing:
</li>
<li>
1 lemon, juiced (about 2 tablespoons)
</li>
<li>
1 tablespoon fish sauce
</li>
<li>
1 teaspoon sugar
</li>
<li>
1 tablespoon fried garlic &amp; shallot oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  In a large bowl, combine mangos, red onion, &amp; chiles and mix well.
</li>
<li>
2.  Prepare garnish and reserve oil for dressing.
</li>
<li>
3.  For dressing whisk together lemon juice, fish sauce and sugar and slowly drizzle in oil as you whisk to create an emulsion.
</li>
<li>
4.  To serve:  carefully toss salad together with dressing without breaking up the mango strips.  Let set for 10 minutes refrigerated before serving.  Garnish with fried shallots and fried garlic.
</li>
<li>
This can be made with a variety or mixture of tropical fruit; ie.,  pineapple, papaya.  Add chiffonade of mint if desired.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Rhoda Yee, CCA
</p>
</body>
