<h1>Spinach Salad with Warm Bacon Dressing</h1>
<h2>Ingredients</h2>
<ul>
<li>
Baby spinach
</li>
<li>
Shitake mushrooms, fried, lightly salted
</li>
<li>
Boiled egg, chopped
</li>
<li>
Warm Bacon Dressing:
</li>
<li>
1 lb. bacon, minced
</li>
<li>
flour
</li>
<li>
honey
</li>
<li>
Dijon mustard
</li>
<li>
vinager, if needed
</li>
<li>
~ 1 cup or so of vegetable oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Render bacon until crisp; pour off all bacon fat except 1-2 tablespoons.  Add flour and water making a thin veloute; cook 45 minutes.  
</li>
<li>
2.  Flavor this base with honey and Dijon; season s/p.  
</li>
<li>
3.  Strain into blender and add vegetable oil to make dressing.
</li>
<li>
4.  Put spinach on plate, top with dressing, top with mushrooms and add chopped egg at 7 o&#39;clock.    This salad is also delicious garnished with bacon, red onions.....
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Eric
</p>
</body>
