<h1>Spinach and Lentil Salad with Toasted Walnuts </h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Toasted walnuts give this spinach salad some extra crunch! Top this dish with a homemade red wine vinaigrette for a tasty, tangy kick.
</li>
<li>
START TO FINISH: 30 minutes MAKES: 4 servings
</li>
<li>
1 cup water
</li>
<li>
1/2 cup brown or French lentils, rinsed and drained
</li>
<li>
1/2 cup chopped red bell pepper
</li>
<li>
1/3 cup chopped green onions
</li>
<li>
1/4 cup chopped flat-leaf parsley
</li>
<li>
1/4 cup chopped walnuts, toasted
</li>
<li>
6 cups torn spinach or mixed salad greens
</li>
<li>
12 ounces cooked chicken breast, sliced
</li>
<li>
1/4 cup red wine vinaigrette
</li>
<li>
1. In a small saucepan combine the water and lentils. Bring to a boil; reduce heat. Cover and simmer for 20 to 25 minutes or until lentils are tender and most of the liquid is absorbed. Drain lentils and place in a medium bowl. Stir in bell pepper, green onions, parsley, and walnuts.
</li>
<li>
2. Divide spinach among 4 serving plates. Top with lentil mixture and chicken. Drizzle with red wine vinaigrette.
</li>
<li>
Nutrition Facts per serving: 341 cal., 14 g total fat (2 g sat. fat), 72 mg chol., 166 mg sodium, 19 g carbo., 10 g fiber, 36 g pro.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Adapted from Sonoma Diet
</p>
</body>
