<h1>Spinach &amp; Turkey Pita Sandwiches</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. ground turkey
</li>
<li>
1 teaspoon olive oil
</li>
<li>
1 package frozen spinach, thawed, chopped
</li>
<li>
1 bunch green onions, chopped
</li>
<li>
1 cup olives, chopped
</li>
<li>
1 teaspoon freshly ground pepper
</li>
<li>
1 teaspoon lemon zest
</li>
<li>
1 large tomato, diced
</li>
<li>
1 cup plain low-fat yogurt
</li>
<li>
1/2 cup fat-free mayonnaise
</li>
<li>
6 pita breads, whole wheat fat free, warmed
</li>
<li>
1 cup feta cheese, crumbled
</li>
<li>
lettuce
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
In large skillet, brown ground turkey, stirring until cooked through.  If any fat remains, drain.  Meanwhile, place spinach in strainer; press with back of spoon to remove as much moisture as possible and roll in paper towel to further remove moisture.  Add spinach, green onions, olves and  1/2 teaspoon pepper to cooked turkey.  Cook about 2 minutes.  Stir in tomato.  
</li>
<li>
In small bowl, combine yogurt, mayo and remaining pepper.  Split open pita breads.  Line inside with lettuce.  Stir cheese into turkey mixture and divide among pita pockets.  Serve withyogurt sauce.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 6
</p>
<p>
SOURCE: Erin Hojnacki
</p>
</div></body>
