<head>
<title>Spinach with Pinenuts</title>
</head>
<body>
<h1>Spinach with Pinenuts</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons olive oil
</li>
<li>
4 bunches fresh spinach, washed 3 x
</li>
<li>
1/2 cup pine nuts, toasted
</li>
<li>
splash Balsamic vinegar
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Warm olive oil in saute pan.
</li>
<li>
2.  Add spinach and saute until soft, add splash of Balsamic, s/p to taste
</li>
<li>
3.  Add pinenuts
</li>
<li>
4.  Place on platter under sliced tenderloin.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Serve under Beef Tenderloin
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
