<h1>Spinach Roman Style with Raisins and Pine Nuts</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Handful or two of fresh pinenuts
</li>
<li>
Handful of raisins
</li>
<li>
Enough olive oil to coat a large saute
</li>
<li>
2 bunches spinach
</li>
<li>
Salt &amp; pepper
</li>
<li>
Splash of balsamic
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Toast the pine nuts in a dry saute pan or in the oven, until they are golden brown and aromatic.
</li>
<li>
Put raisins in a bowl, just cover with boiling water, let stand 10 minutes or so until plump, and drain.  Heat a large saute pan, pour in olive oil, heat the oil and add the cleaned and dried spinach.  When the spinach has collapsed and wilted, add the raisins and the toasted pine nuts.  Toss and warm through, and season with salt and pepper and a splash of balsamic  vinegar.  Serve.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Chez Panisse Vegetables
</p>
</div></body>
