<h1>Spinach &amp; Raisin Pie</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 onions, chopped
</li>
<li>
2 cloves garlic, minced
</li>
<li>
2 tablespoons olive oil
</li>
<li>
2 teaspoons salt
</li>
<li>
1 1/2 teaspoons ground pepper
</li>
<li>
3 10 oz. packages frozen chopped spinach, defrosted
</li>
<li>
6 extra large eggs, beaten
</li>
<li>
2 teaspoons nutmeg, freshly grated
</li>
<li>
1/2 cup Parmesan cheese, freshly grated
</li>
<li>
3 tablespoons dry bread crumbs
</li>
<li>
1/2 lb. fresh feta, 1/2&quot; cubes
</li>
<li>
1/2 cup pine nuts
</li>
<li>
1/2 cup raisins
</li>
<li>
1/4 lb. salted butter, melted.
</li>
<li>
6 sheets phillo dough, defrosted
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven 375F.  
</li>
<li>
In a saute pan , saute the onions and garlic with the olive oil until translucent and slightly browned, 10-15 minutes.  Add salt and pepper and allow to cool.
</li>
<li>
Squeeze out and discard as much of the liquid from the spinach as possible.  Put the spinach into a bowl and then gently mix in the onions, eggs, nutmeg, Parm, bread crumbs, feta, pine nuts and raisins.
</li>
<li>
Butter a 9&quot; pie plate and line with the 6 stacked sheets of phillo dough, brushing each with melted butter and letting the edges hang over the pan.  Pour the spinach mixture into the middle of the phyllo and neatly fold the edges up and over the top to seal in the filling.  Brush the top well with melted butter.  Bake for 1 hour, until the top is golden brown and the filling is set.  Remove from the oven and allow to cool completely.  Serve at room temperature.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from the Barefoot Contessa
</p>
</div></body>
