<h1>Split Pea &amp; Barley Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups split peas, dried
</li>
<li>
1 medium onion
</li>
<li>
2 large carrots, peeled and diced
</li>
<li>
2 ribs celery, diced
</li>
<li>
3 large cloves garlic, minced
</li>
<li>
12 cups chicken stock
</li>
<li>
4 cups chicken stock
</li>
<li>
1 cup barley, uncooked
</li>
<li>
6 sprigs fresh thyme
</li>
<li>
salt and pepper
</li>
<li>
* diced ham or pancetta, if desired, add at the beginning
</li>
</ul>
<h2>Method</h2><ul>
<li>
In a large soup kettle combine the split peas, onion, carrot, celery, garlic and 12 cups of the stock. Add the thyme here.   Bring the ingredients to a boil.  Reduce the heat to low and simmer the mixture in the uncovered pan for 1 hour, stirring occasionally.  Add water if necessary.
</li>
<li>
Meanwhile, in a small covered saucepan over low heat, cook the barley in 4 cups of the chicken stock for 40-60 minutes or until the barley is tender.
</li>
<li>
When the split pea mixture is done, puree it with a hand blender or in a food processor or blender.  Return the split pea mixture to the pan and stir in the barley and taste for salt and pepper.  Heat the soup briefly, stirring often, before serving.  
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Adapted from Jane Brody&quot;
</p>
<p>
SERVINGS: 18
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
