<h1>Split Pea, Ham, and Barley Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup ham, diced, or ham bone
</li>
<li>
2 tablespoons olive oil
</li>
<li>
1 medium onion, diced
</li>
<li>
2 ribs celery, diced
</li>
<li>
3 large garlic clove, minced
</li>
<li>
6 sprigs fresh thyme, leaves removed
</li>
<li>
2 sprigs fresh rosemary, leaves removed, chopped small
</li>
<li>
2 large carrots, peeled, diced
</li>
<li>
3 cups dried split peas
</li>
<li>
13 cups chicken stock, more or less
</li>
<li>
1 cup barley
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat a large dutch oven and add olive oil.  Add ham or ham bone and cook slightly.  Add onion, celery, garlic, herbs and carrot and cook until fragrant.  Add split peas and 10 cups  of the stock.  Bring to a boil.  Reduce heat to a simmer and cook, uncovered, for about an hour.  If the liquid goes too low, add additional stock.
</li>
<li>
Meanwhile, in a saucepan over low heat, cook the barley in 2 cups of the stock for 40-60 minutes or until tender.  When the vegetable mixture is done, puree.  Add barley, salt and pepper to taste.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
</div></body>
