<h1>Squash Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 butternut squash
</li>
<li>
1 acorn squash, or any winter yellow squash
</li>
<li>
3 red pears, or apples, unpeeled, cut in half
</li>
<li>
2 quarts chicken stock or water, or combination
</li>
<li>
1 leek
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1 shallot
</li>
<li>
handful fresh sage, minced
</li>
<li>
handful fresh thyme
</li>
<li>
salt/pepper -- to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut squash in half, remove seeds.  Lay on sheetpan with pears.  Pour about 1/2 cup water in pan and cover with aluminum foil.  Bake until soft at about 375-400F.
</li>
</ul>
<h2>Notes</h2><p>
Saute all vegetables and herbs in a little butter and/or olive oil until soft.  Remove from stove.  Add soften squash, having taken out of peel and pears without core.  Add stock.  Bring to a boil, lower heat and simmer for about 15-20 minutes.  Liquify.  Season with salt, pepper and correct sweetness/acid balance.  Add a bit of cream at the end if desired.  Serve with garlic croutons.SOURCE: Apple Charlotte
</p>
</body>
