<head>
<title>&quot;Stars&quot; Chocolate Cake</title>
</head>
<body>
<h1>&quot;Stars&quot; Chocolate Cake</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1/2 cups cake flour
</li>
<li>
2 teaspoons baking soda
</li>
<li>
1/4 teaspoon salt
</li>
<li>
1 1/2 cups cocoa powder
</li>
<li>
1 cup water
</li>
<li>
10 tablespoons unsalted butter, softened
</li>
<li>
1 1/3 cups granulated sugar
</li>
<li>
1 1/3 cups dark brown sugar
</li>
<li>
3 large eggs
</li>
<li>
1 tablespoon vanilla extract
</li>
<li>
1 1/4 cups buttermilk
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 325F.  Line the bottom of a 9&quot; springform pan with parchment paper.
</li>
<li>
Sift together cake flour, baking soda and salt.  Set aside.
</li>
<li>
In a bowl, whisk together the cocoa powder and the water to make a thick paste.  Set aside.
</li>
<li>
In a bowl of an electric mixer using the paddle attachment on medium speed, cream the butter with the granulated and brown sugars until well combined, about 3 minutes.  Add the eggs, one at a time, beating well after each addition.  Add the reserved cocoa paste.  Beat until smooth.
</li>
<li>
In a small bowl, add the vanilla to the buttermilk.  On low speed, alterntely add the serserved dry ingredients and the buttermilk to the butter mixture.
</li>
<li>
Spread the batter in the prepared cake pan.  Bake until a skewer inserted in the middle has a wet crumb, about 1 hour and 20 minutes.  Let cool to room temperature in the pan.
</li>
<li>
Unmold the cake on a cake rackand invert it so it is right side up.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;The perfect cake for your chocolate caramel bread pudding&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: &quot;Four Star Desserts&quot;
</p>
</body>
