<h1>Steamed Egg Custard</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 medium dried black mushrooms
</li>
<li>
1 ounce bean threads, glass noodles
</li>
<li>
2 tablespoons Chinese chives, or fresh green peas
</li>
<li>
1/2 cup smoked ham, or honey cured, slivered
</li>
<li>
Custard Mixture:
</li>
<li>
4 large eggs, room temperature
</li>
<li>
2 1/4 cups chicken stock, room temperature
</li>
<li>
2 teaspoons chicken fat, liquid state (optional)
</li>
<li>
1 tablespoon Chinese rice wine
</li>
<li>
1 tablespoon thin soy sauce
</li>
<li>
1 teaspoon kosher salt
</li>
<li>
Garnish:
</li>
<li>
1 teaspoon thin soy sauce
</li>
<li>
green onions, sliced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Soak the dried mushrooms in hot water to cover until soft and spongy for about 20 minutes.  Snip off the stems and rinse the caps to dislodge sand.  Cut into slivers 1/8&quot;.
</li>
<li>
Soak the bean threads in hot water until rubber-band firm, not mushy.  Drain, rinse and drain again.  Cut into 2&quot; lengths, then gently simmer the drained noodles and slivered mushrooms in 1 cup of the chicken stock until the noodles are silky soft and transparent, about 2 minutes.  Remove the pot from the heat and let the noodles and mushrooms cool in the stock.
</li>
<li>
Beat the eggs lightly, until thoroughly mixed but not frothy.  Skim off and discard any froth.  Combine the remaining 1 1/4 cup stock, chicken fat, wine and soy, stirring lightly to blend, then add to the eggs in a thin stream, stirring lightly to combine.  Bit by bit, add the stock used to poach the noodles, stirring gently, then gradually add the salt.
</li>
<li>
Take care not to beat the mixture or you will create bubbles that will undermine the final texture of the custard.  Once blended, strain the egg mixture thrugh a fine sieve to trap all the googly egg bits.
</li>
<li>
Scatter the mushrooms, noodles, peas or garlic chives and pork in the bottom of a deep, heatproof 1 1/2 quart bowl.  Pour the egg mixture to within 1/2&quot; of the lip.  Cover the bowl with aluminum foil to prevent condensation during steaming.  Proceed to steam the custard.
</li>
<li>
Bring the water in a steaming vessel to a gushing boil over high heat.  Reduce the heat to medium to maintain a gentle steam.  Add the covered bowl to the steamer.  Cover the steamer and steam the custard undisturbed for 25-30 minutes.  It is done when a knife inserted about an inch down into the center of the custard comes out clean.  The texture will be very tender, not firm.
</li>
<li>
Remove the bowl carefully and life the foil straight up to avoid adding any water that may have accumulated to the custard.  Garnish with a sprinkling of soy followed by the green onion rings.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;The Modern Art of Chinese Cooking&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Barbara Tropp
</p>
</body>
