<h1>Steamed Chocolate Pudding</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 tablespoons butter, softened
</li>
<li>
1 1/3 cups sugar + 3 tablespoons
</li>
<li>
2 1/2 cups blanced almonds, coarsely chopped
</li>
<li>
1/2 lb. semisweet chocolate, cut into small chunks
</li>
<li>
3 tablespoons strong coffee
</li>
<li>
1/2 lb. unsalted butter, softened
</li>
<li>
10 large egg yolks
</li>
<li>
10 large egg whites
</li>
<li>
2 cups heavy cream, chilled
</li>
<li>
3 tablespoons powdered sugar
</li>
<li>
1/8 teaspoon vanilla
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
With a pastry brush and 2 tablespoons of softened butter, coat the bottom and sides of a 2 quart steamed pudding mold, that is a mold with a snugly fitting cover.  Pour in 3 tablespoons of sugar and tip the mold over and knock out the excess sugar.  Set aside.
</li>
<li>
Preheat the oven to 350F.  Spread the almonds out evenly in a shallow roasting pan.  Toast them in the middle of the oven for about 10 minutes, stirring them occasionally until they are light brown.  Be careful not to let them burn.  Set them aside.
</li>
<li>
Melt the chocolate with the coffee, stirring constantly, in a bowl over a double boiler over simmering water.  Cool to lukewarm.
</li>
<li>
In a large mixing bowl, beat the 1/2 pound of butter and 1 1/3 cups of sugar together until the mixture is light and fluffy.  Beat in the egg yolks, one at a time, then little by little add the melted chocolate and coffee and continue to beat until the batter is smooth.  Stir in the almonds.
</li>
<li>
In a separate bowl, beat the egg whites until they form soft peaks on the beater when it is lifted out of the bowl.  Stir about one quarter of the whites into the chocolate mixture to lighten it, then ppour it over the remaining egg whites and gently but thoroughly fold them together.  Spoon the pudding into the prepared mold, smooth the top with a spatula and cover the mold tightly.
</li>
<li>
Place the mold in a large pot and add enough water to come two thirds of the way up the side of the mold.  Bring the water to a boil over high heat, reduce the heat to its lowest point, cover the pot and simmer undisturbed for 1 hour.  Then remove the mold from the water and wipe it dry.  Remove the cover and unmold the pudding in the following fashion:  Run a long, sharp knife around the inside edges of the mold, then place a heated serving plate over the mold.  Grasping mold and plate together turn them over.  Rap the plate on a table and the pudding should slide out easily.
</li>
<li>
Whip the chilled cream until slightly thickened.  Sprinkle in the powdered sugar and vanilla and continue to beat until stiff.  Serve the pudding while it is still hot, accompanied by the whipped cream.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Schokoladenpudding&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Time-Life Cooking of Germany
</p>
</div></body>
