<h1>Steamed Fish with Fresh Ginger &amp; Scallions</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 whole fish, scaled and gutted (whole stripped
</li>
<li>
bass works well) OR filets of non-
</li>
<li>
fatty fish work nicely*
</li>
<li>
1 tablespoon thinly sliced or slivered ginger
</li>
<li>
1 tablespoon thinly sliced green onions
</li>
<li>
5 sprigs cilantro
</li>
<li>
3 tablespoons Superior or Kikkoman soy sauce
</li>
<li>
2 tablespoons salad oil, heated just before pouring over
</li>
<li>
fish
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Make 2-3 diagonal scores on the fish on either side of the fish.
</li>
<li>
2.  Place the ginger slices or slivers in slits of th fish.
</li>
<li>
3.  When the water in the steamer comes to a boil, place fish in a shallow dish and
</li>
<li>
steam on high heat for about 15 minutes or until the eye ball turns white (10-12 minutes with a filet).  Drain off excss liquid.
</li>
<li>
4.  Scatter green onion and cilantro on top, drizzle soy sauce over the fish and pour on hot oil.  Serve immediately.
</li>
<li>
*Black and striped bass, rock cod and snapper good choices.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : Cantonese
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Rhoda Yee, CCA
</p>
</div></body>
