<h1>Stir-Fried Seafood (Do Bien Xao)</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons vegetable oil
</li>
<li>
3 ounces fresh ginger, peeled and julienned
</li>
<li>
3 scallions, root ends and tough green tops removed, cut into 1 1/2&quot; pieces and halved lengthwise
</li>
<li>
1 carrot, peeled and thinly sliced diagonally
</li>
<li>
4 ounces snowpeas
</li>
<li>
8 medium shrimp, shelled, butterflied, deveined
</li>
<li>
8 large sea scallops, shelled
</li>
<li>
12 squid tubes, halved lengthwise and scored
</li>
<li>
1/2 cup chicken stock
</li>
<li>
1 tablespoon fish sauce
</li>
<li>
coarse sea salt
</li>
<li>
freshly ground black pepper
</li>
<li>
4 sprigs cilantro, stems removed
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat the oil in a wok over high heat.  Stir-fry the ginger and scallions until fragrant, about 3 minutes.  Add the carrots and stir-fry for 3 minutes.  Add the snow peas, shrimp, scallops, squid, chicken stock and fih sauce and season with salt and pepper.  
</li>
<li>
Stir-fry until the seafood turns opaque and is cooked through, about 6 minutes total.  Transfer to a serving platte, garnish wit cilantro, and serve with rice or thin and crispy egg noodles.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;&quot;Authentic Vietnamese Cookiing:  Food from a Family Table&quot;&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Corinne Trang
</p>
</body>
