<h1>Strawberry &amp; Orange Sorbet</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup sugar
</li>
<li>
1/2 cup water
</li>
<li>
2 10 oz frozen sweetened strawberries, thawed
</li>
<li>
2 cups orange juice
</li>
<li>
2 cups Asti, or sparkling wine
</li>
<li>
1 pint fresh strawberries
</li>
</ul>
<h2>Method</h2><ul>
<li>
Dissolve sugar and water over low heat.  Bring to a boil.  Place in a large bowl.
</li>
<li>
Puree strawberries in processor.  Add to sugar water.  Mix in orange juice and Asti.  Refrigerate until well chilled.  
</li>
<li>
Process in ice cream maker.
</li>
<li>
Place in covered container and freeze.  This can be made ahead up to 4 days.  Serve with fresh strawberries.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
</body>
