<h1>Strawberry Crepes</h1>
<h2>Ingredients</h2>
<ul>
<li>
Mix the following together in a blender
</li>
<li>
and let sit for 1/2 hour.
</li>
<li>
1/2 cup AP flour
</li>
<li>
1/2 cup milk
</li>
<li>
1/4 cup lukewarm water
</li>
<li>
2 large eggs
</li>
<li>
2 tablespoons unsalted butter, melted
</li>
<li>
1 1/2 tablespoons sugar
</li>
<li>
pinch of salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place a small amount in crepe pan and cook until top is set.
</li>
<li>
Turn over with spatula or fingers.
</li>
<li>
Fill with fresh, sweetened strawberries and whipped cream.......fabulous for a hot summer evening.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
