<h1>Strawberries in Red Wine</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups fruity red wine (Merlot, Valpolicella or
</li>
<li>
Zinfandel)
</li>
<li>
1 teaspoon fresh lemon juice
</li>
<li>
1/4 cup sugar, or to taste
</li>
<li>
2 pints strawberries, ripe, rinsed and hulled
</li>
<li>
1 1/2 cups heavy cream, whipped
</li>
<li>
8 sprigs fresh mint
</li>
</ul>
<h2>Method</h2><ul>
<li>
Note:  Start this no longer than 2 hours before you are to serve as marinating the strawberries too long, softens the fruit.
</li>
<li>
Combine the wine, lemon juice and sugar to taste in a deep bowl.  Add the strawberries, cutting larger ones in half.  Let stand 1 hour at room temperature.  Then refrigerate 30 - 60 minutes before serving.
</li>
<li>
To serve, spoon the berries with some of their juices into small bowls.  Pass the whipped cream separately or serve a small amount to the side of the berries.  Garnish with mint.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a wonderful, light summer dessert that is just naturally
</p>
<p>
  delicious and naturally fun!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;&quot;The Splendid Table&quot;&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Lynne Kasper
</p>
</body>
