<h1>Strawberry Swirl Ice Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 16 ounce frozen strawberries
</li>
<li>
6 ounces silken tofu
</li>
<li>
1/2 cup plain soy creamer
</li>
<li>
1/2 cup agave nectar
</li>
<li>
1 tablespoon vanilla extract
</li>
<li>
1 tablespoon lemon zest
</li>
<li>
1/4 cup all fruit strawberry jam
</li>
</ul>
<h2>Method</h2><ul>
<li>
Puree strawberries and tofu until smooth.  Add creamer, agave, vanilla and zest and puree.
</li>
<li>
Freeze in ice cream maker.  When ice cream is almost done, swirl in strawberry jam while machine paddles are still going.  Serve or transfer to tub to freeze.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Vegetarian Times
</p>
</body>
