<head>
<title>Strawberry &amp; Raspberry Cream Tart</title>
</head>
<body>
<h1>Strawberry &amp; Raspberry Cream Tart</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Tart Shell
</li>
<li>
Filling:
</li>
<li>
1 (8 oz) pkgs. cream cheese (soft)
</li>
<li>
1/3 c. sour cream 
</li>
<li>
2 tbsp. sugar
</li>
<li>
1 1/2 qt. fresh strawberries, washed, hulled &amp; dried
</li>
<li>
1/2 pint raspberries
</li>
<li>
Glaze:
</li>
<li>
Apricot jam, melted in saucepan &amp; strained
</li>
</ul>
<h2>Notes</h2><p>
 Beat filling ingredients until fluffy. Spread over bottom of cooled shell. Arrange strawberries, tip up, over cheese. Fill in spots here and there with raspberries.  Cool glaze.  Drizzle or brush over berries. Chill at least an hour. 6 to 8 servings.SOURCE: Apple Charlotte
</p>
</body>
