<h1>Strawberry Sorbet</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 pints strawberries, hulled and quartered
</li>
<li>
2 cups simple syrup (recipe follows)
</li>
<li>
2 1/2 tablespoons freshly squeezed lemon juice
</li>
<li>
pinch salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Puree the strawberries in a food processor.  
</li>
<li>
2.  Strain the puree through a medium-holed sieve to eliminate any seeds.  There should be about six cups of puree.
</li>
<li>
3.  Place the puree in a large bowl and add the other ingredients.
</li>
<li>
4.  Freeze according to ice cream machine manufacturer&#39;s instructions.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Yield on this sorbet is 2 quarts or 16 - 1/2 cup servings.
</p>
<p>
SERVINGS: 16
</p>
<p>
SOURCE: Pastry Chef Emily Luchetti/Stars Desserts
</p>
</body>
