<head>
<title>Streusel Cinnamon Coffee Cake</title>
</head>
<body>
<h1>Streusel Cinnamon Coffee Cake</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
An ideal companion for your morning beverage, this cake takes its name from the German word that describes its casually &quot;strewn&quot; topping. Baking powder, used instead of yeast, makes it possible to prepare the coffee cake shortly before serving.
</li>
<li>
RECIPE INGREDIENTS
</li>
<li>
For the Streusel:
</li>
<li>
1/2 cup firmly packed light or dark brown sugar
</li>
<li>
1/2 cup all-purpose flour
</li>
<li>
1/2 cup finely chopped walnuts
</li>
<li>
1/4 cup unsalted butter, chilled
</li>
<li>
For the Cake:
</li>
<li>
2 1/4 cups all-purpose flour
</li>
<li>
1 1/2 teaspoons ground cinnamon
</li>
<li>
1/2 teaspoon ground nutmeg
</li>
<li>
1 teaspoon baking powder
</li>
<li>
1 teaspoon baking soda
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1/2 cup unsalted butter, at room temperature
</li>
<li>
3/4 cup firmly packed dark brown sugar
</li>
<li>
1/2 cup granulated sugar
</li>
<li>
3 eggs
</li>
<li>
1 1/4 cups buttermilk mixed with 1 teaspoon vanilla extract
</li>
<li>
2 firm but ripe pears, such as Bosc, Anjou or Comice, peeled, cored, coarsely chopped
</li>
<li>
DIRECTIONS
</li>
<li>
Preheat an oven to 350 degrees F. Butter and flour a 9-by-13-inch baking pan. Set aside.
</li>
<li>
FOR THE STREUSEL:
</li>
<li>
In a small bowl, combine the brown sugar, flour, walnuts and butter. Using 2 knives, your fingertips or a pastry blender, work the ingredients together until the mixture resembles large bread crumbs. Cover and refrigerate until ready to use.
</li>
<li>
FOR THE CAKE:
</li>
<li>
In a large bowl, sift together the flour, cinnamon, nutmeg, baking powder, baking soda and salt. In a large bowl, using an electric mixer set on high speed, beat the butter until light and fluffy. Gradually add the brown and granulated sugars, continuing to beat until very light, about 3 minutes. Add the eggs, one at a time, beating well after each addition.
</li>
<li>
Reduce the mixer to low speed and gradually beat in the flour mixture alternately with the buttermilk, beating until just mixed.
</li>
<li>
Pour the batter into the prepared pan. Scatter the chopped pears and the streusel mixture evenly over the top, then press them gently into the top of the batter.
</li>
<li>
Bake until the top of the cake is firm, the streusel is crisp and bubbling and a wooden skewer inserted into the center comes out clean, 40-45 minutes.
</li>
<li>
TO SERVE:
</li>
<li>
Transfer to a wire rack and let cool slightly in the pan. Cut into squares and serve warm.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Adapted from Weldon Owen
</p>
</body>
