<h1>Stuffed Squash Blossoms</h1>
<h2>Ingredients</h2>
<ul>
<li>
Squash Blossoms
</li>
<li>
Mozzarella cheese
</li>
<li>
chopped fresh herbs mixture
</li>
<li>
eggs, beaten
</li>
<li>
fine corn flour or masa harina
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
Open the blossoms and check for bugs.  Inside each blossom place a piece of mozzarella cheese about the size of your thumb and a pinch of chopped herbs (basil, parsley, marjoram, whatever).  Close the petals snug around the stuffing, twisting the ends together.  Quickly dip each blossom, one by one, first in beaten egg, and then into fine corn flour or masa harina.  Fry the blossoms in hot olive oil, without crowding, in a cast iron pan, turninng them over as they brown.  Drain on towels and serve hot sprinkled with a little salt.SOURCE: Alice Waters
</p>
</body>
