<h1>Stuffed Leg of Lamb</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 3-4 pound leg of lamb, butterflied
</li>
<li>
1/4 cup olive oil
</li>
<li>
1 tablespoon fresh lemon juice
</li>
<li>
1 finger rosemary, minced
</li>
<li>
1 large branch thyme, minced
</li>
<li>
salt and pepper
</li>
<li>
1 cup dried apricots, chopped
</li>
<li>
1/2 cup water
</li>
<li>
1 cup almonds, sliced
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1 shallot, minced
</li>
<li>
1/2 bunch parsley, finely chopped
</li>
<li>
6 ounces goat cheese
</li>
<li>
salt &amp; pepper to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix olive oil, lemon juice, rosemary, thyme, salt and pepper.  Lay butterflied lamb in large non-reactive dish or pan and cover with mixture.  Allow to marinate for 1-2 hours.
</li>
<li>
Mix dried apricots with water and allow to soak for 15-20 minutes.  Drain.  
</li>
<li>
Mix apricots, almonds, garlic, shallot, parsley and goat cheese.  Season with salt and pepper to taste.
</li>
<li>
Remove lamb from marinade.  Lay out lamb on plastic wrap.  Place another piece of wrap on top of lamb.  Pound lamb slightly with kitchen mallet  to even out.  Remove top wrap.  Evenly spread apricot mixture over lamb leaving a 1&quot; margin around edges.  Roll the lamb and tie to hold cylinder in place.  
</li>
<li>
Heat a saute pan to very hot.  Add some olive oil.  Sear the lamb all around.  
</li>
<li>
Place in 375F oven and roast for 1-1 1/4 hour.  Meat thermometer should read 140F when tested at end of cooking.
</li>
<li>
Remove roast from oven and place on warm serving platter.  Cover with aluminum foil for about 10 minutes.  
</li>
<li>
Remove string and slice for serving.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
 SOURCE: Apple Charlotte
</p>
</div></body>
