<h1>Summer Garden Omelet</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 egg whites
</li>
<li>
6 egg yolks
</li>
<li>
1/2 teaspoon salt
</li>
<li>
2 yellow squash, quartered, sliced
</li>
<li>
2 zucchini, quartered, sliced
</li>
<li>
1 sweet onion, minced
</li>
<li>
1 large clove garlic, minced
</li>
<li>
olive oil spray
</li>
<li>
2 medium tomatoes, large dice
</li>
<li>
2 handfuls basil leaves, left whole
</li>
<li>
1/2 cup nonfat sour cream
</li>
<li>
salt and pepper, to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Separate the eggs.  Hold aside.  Meanwhile saute the onions, garlic, squash in large non-stick saute pan or well-seasoned cast iron pan sprayed with olive oil spray.    While the vegetables are cooking; beat egg whites until soft peak stage.  Whisk the egg yolks separately.  Add the 1/2 teaspoon salt to the egg yolks.  Fold the yolks and whites together.  Add the tomatoes and basil to vegetables; season,  and cook 1-2 minutes longer.
</li>
<li>
After cooking the vegetables, remove vegetables to bowl and hold.  Wipe out the saute pan that you cooked the vegetables in.  Reheat that pan and another large saute pan.  Turn the oven on to broil.  When the saute pans are  hot, spray with olive oil spray.  Divide the mixed eggs between the two pans. Turn down heat to medium and cover with a lid and cook about 3 minutes each omelet.  Remove lids and place under broiler for about a minute to just finish cooking the top (does not have to turn golden or brown).  Remove pans from oven (turn off broiler) and add vegetables to one half of the omelet.  Gently fold over omelet and slide out onto platter.  Garnish with extra basil.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Light and delicious...this can be a lovely summer dinner.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
