<h1>Summer Vegetable Omelet</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 shallot, minced
</li>
<li>
2 small patty pan squash, or yellow squash, cut in half and sliced thin
</li>
<li>
1/4 lb. fresh spinach, more or less, chopped
</li>
<li>
4 stems Swiss chard, stems removed and chopped and leaves chiffonade
</li>
<li>
1/2 cup fresh basil leaves, stems removed
</li>
<li>
1/2 cup chopped parsley
</li>
<li>
1 cup cherry tomatoes, cut in half
</li>
<li>
1/4 cup low-fat sour cream
</li>
<li>
12 large eggs
</li>
<li>
salt and pepper
</li>
<li>
extra virgin olive oil
</li>
<li>
1 cup cherry tomatoes, or other tomatoes as selected
</li>
<li>
basil for garnish
</li>
<li>
Parmesan cheese
</li>
<li>
2 tablespoons low fat sour cream
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Mix 12 eggs in large bowl with sour cream.  Salt and pepper to taste.  Heat  large omelet (sometimes called saute) pan and add olive oil, ~ 1-2 tablespoons. Make sure is hot before add ing shallots, squash and Swiss chard stems.  Cook only a couple of minutes until softened slightly.  Season slightly with salt and pepper.  Add spinach and Swiss chard leaves.
</li>
<li>
Cook slightly and add egg mixture, stirring and lifting egg mixture gently to allow much of the top to move to the bottom and cook.  Keep the mixture moving slightly for about 2 minutes; then place lid on and turn heat to low for another 2-3 minutes to allow all to cook.  The mixture should be slightly moist when done.  When at this point, add cherry tomatoes to one half side of omelet.  Add basil leaves and top with a handful of Parmesan Reggiano.  Flip the other half over to fold in half and slide out of pan onto platter.
</li>
<li>
Top with more tomatoes, parmesan and basil.  Serve with fresh from the garden potatoes and salad.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Just selecting the most wonderful ingredients from your garden (or 
</p>
<p>
  your neighbor&#39;s or the Farmer&#39;s Market, you will have all the
</p>
<p>
  imaginative ingredients at hand for a wonderful summer omelet.&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
