<head>
<title>Summer Grilled Vegetables with Penne Pasta</title>
</head>
<body>
<h1>Summer Grilled Vegetables with Penne Pasta</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. pasta, whole wheat pasta
</li>
<li>
1 tablespoon olive oil
</li>
<li>
cooking spray, olive oil
</li>
<li>
1 bunch asparagus, bottoms removed
</li>
<li>
1 yellow bell pepper
</li>
<li>
1 red bell pepper
</li>
<li>
1 medium eggplant, sliced thick
</li>
<li>
1 red onion
</li>
<li>
2 zucchini, sliced lengthwise
</li>
<li>
2 yellow summer squash, sliced
</li>
<li>
1/4 cup white wine vinegar
</li>
<li>
1 bunch basil, left whole
</li>
<li>
1 bunch parsley, chopped
</li>
<li>
1 1/2 cups cherry tomatoes, halved
</li>
<li>
6 ounces feta cheese
</li>
<li>
salt and pepper
</li>
<li>
chile flakes, optional
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook pasta; drain and mix with olive oil.
</li>
<li>
Spray asparagus, bell peppers, eggplant, onion, zucchini, summer squash with olive oil spray, season with salt and pepper, and grill.  When cooked through and slightly caramelized, place in bowl with pasta  and toss with vinegar, basil, parsley, cherry tomatoes.   Correct seasoning with salt and add chile flakes if desired.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;1 cup&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
