<h1>Supreme Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 gallon chicken veloute
</li>
<li>
1 quart heavy cream
</li>
<li>
4 ounces butter
</li>
<li>
ks
</li>
<li>
wp
</li>
<li>
lj
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Place the veloute in a saucepan and simmer over moderate heat until reduced by about one-fourth.  Stir occasionally.
</li>
<li>
2.  Pour the cream into a stainless steel bowl and temper it by slowly sitrring in a little of the hot sauce.  Stir this mixture slowly back into the sauce in the pan and return the sauce just to a simmer.
</li>
<li>
3.  Swirl in the raw butter, cut into pieces.
</li>
<li>
4.  Season with ks, wp, and a few drops of lj.
</li>
<li>
5.  Strain through wet cheesecloth.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 50
</p>
<p>
SOURCE: Gisslen Text
</p>
</div></body>
