<head>
<title>Susan&#39;s Best Fetticini</title>
</head>
<body>
<h1>Susan&#39;s Best Fetticini</h1>
<h2>Ingredients</h2>
<ul>
<li>
Applewood Smoked Bacon, chopped
</li>
<li>
Shrimp &amp; Scallops, cooked in CB,
</li>
<li>
strained.
</li>
<li>
O/o add red chile dried and garlic
</li>
<li>
Chopped tomatoes
</li>
<li>
Arugula and/or basil
</li>
<li>
capers
</li>
<li>
artichoke hearts, canned
</li>
<li>
cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
Saute bacon; take out of pan and add o/o and chile and garlic.  Take pan off heat and reserve.   Add o/o to a new pan and  chopped tomatoes and cook.  Add artichoke, capers and greens at end.  Place garlic pan back on heat.  Add cream and heat through.  Mix fetticine with red sauce and fish,  reserving some red sauce for top.  Place cream on bottom of plate.  Top with fetticini, small amount of red sauce, small amount of parm if desired and garnish with fresh basil....FAB.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : One of Susan&#39;s favorite dishes.
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Susan Cook/CCA
</p>
</body>
