<h1>Sushi Rice</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 cups Japanese style short grain rice, washed repeatedly until water is clear
</li>
<li>
1 2&quot; square kombu (kelp)
</li>
<li>
2 tablespoons sake (rice wine)
</li>
<li>
Vinegar Dressing:
</li>
<li>
6 tablespoons rice vinegar
</li>
<li>
1 tablespoon rice vinegar
</li>
<li>
2 tablespoons sugar
</li>
<li>
2 2/3 teaspoons salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
After washing rice, allow to sit in colander for an hour before cooking.
</li>
<li>
Cook the rice with the kombu and sake in a rice cooker.
</li>
<li>
When you start to cook the rice, begin to make the dressing.  Combine 6 tablespoons of the rice vinegar, the sugar and salt in a bowl and stir.    This advance planning will give the sugar and salt time to dissolve before the rice is cooked.
</li>
<li>
When the rice is cooked, allow it to remain in the rice pot another 5 minutes, covered.   Rub the inside of a large bowl and spatula with the remaining vinegar.  Transfer the cooked rice all at once and quickly pour the vinegar dressing evenly over the rice in the bowl.  Cut the rice vertically with the spatula and lift the rice and turn it over.  Don&#39;t mash the rice.  This should be completed rapidly, in less than 2 minutes.
</li>
<li>
At the end of the tossing, lay the rice on a parchment-lined pan and fan with a hand fan.  This will help it cool and gelatinize the surface of the rice, making it look pretty.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Do not refrigerate.  Cover with a damp towel until ready to use later in the day.SOURCE: Adapted from Hiroko Shimbo
</p>
</div></body>
