<h1>Suzie&#39;s Phyllo Pizza</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 sheets phyllo dough
</li>
<li>
1/2 lb. butter
</li>
<li>
1 tablespoon parmesan cheese between ea. sheet
</li>
<li>
1 onion, thinly sliced
</li>
<li>
8 (or so) roma tomato, 1/4&quot; sliced
</li>
<li>
thyme, oregano, basil, whatever
</li>
<li>
6 ounces mozzarella cheese, shredded
</li>
</ul>
<h2>Method</h2><ul>
<li>
Spread each sheet LIGHTLY with melted butter and top each sheet with 1 tbsp. grated
</li>
<li>
parm.
</li>
<li>
Top with light topping of melted butter, parm.,  shredded mozzarella, tomato, herbs and s/p.
</li>
<li>
Bake @ ~ 375-400 degrees until edges are golden and crisp.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Suzie Traynham...adapted from Bon Appetit
</p>
</body>
