<h1>Sweet Sour Pork/Tofu for Twenty</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. pork butt
</li>
<li>
3 packages tofu, pressed, 1/2&quot; cubes
</li>
<li>
Marinade:
</li>
<li>
3 tablespoons rice wine
</li>
<li>
3 tablespoons Kikkoman soy sauce
</li>
<li>
Sauce:
</li>
<li>
1/2 cup sugar
</li>
<li>
1/2 cup soy sauce
</li>
<li>
1/2 cup rice vinegar
</li>
<li>
1/2 cup water
</li>
<li>
6 tablespoons garlic, minced
</li>
<li>
4 tablespoons rice wine
</li>
<li>
4 tablespoons lemon juice
</li>
<li>
2 tablespoons sesame seed oil
</li>
<li>
2 teaspoons salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
3                     red bell pepper -- cut into large dice
</li>
<li>
  3                     green bell pepper -- cut into large dice
</li>
<li>
  2              fresh  pineapples -- cored and cut into large dice
</li>
<li>
                        Cornstarch Slurry:
</li>
<li>
  3        tablespoons  water
</li>
<li>
  3        tablespoons  cornstarch
</li>
<li>
                        
</li>
<li>
Marinade pork pieces and tofu pieces for about 5-10 minutes.  Dredge in cornstarch and velvetize (deep fry) in 3&quot; canola oil in wok.  Cook until crisp and allow to drain on paper toweling.
</li>
<li>
Make sauce and set aside.  Do the rest in two woks or 1/2 half at a time.
</li>
<li>
Stir fry bell peppers for about 2 -3 minutes in hot wok and add pineapple, cooking until warm.  Add Sauce and slurry.  Allow to thicken.  Add meat and tofu and heat through.  Serve with rice.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 20
</p>
</body>
