<h1>Sweet Pepper Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 bell pepper, multi-colored, roasted, skinned diced into 1&quot; pieces
</li>
<li>
1 tablespoon olive oil
</li>
<li>
3/4 cup Italian parsley, chopped
</li>
<li>
1/2 teaspoon cumin
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1 preserved lemon, minced, or lemon juice and zest to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Add peppers to pan with olive oil and seasonings.  Cook until juices evaporate.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Saveur, 1998.
</p>
</body>
