<h1>Sweet Potato &amp; Bean Salad</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 large sweet potatoes, cut into chunks
</li>
<li>
olive oil and salt/pepper
</li>
<li>
1 lb. green beans
</li>
<li>
1 large shallot
</li>
<li>
3 cloves garlic
</li>
<li>
1 tablespoon balsamic vinegar
</li>
<li>
2 tablespoons champagne vinegar
</li>
<li>
8 tablespoons olive oil
</li>
<li>
salt and pepper, to taste
</li>
<li>
fresh thyme, chopped
</li>
<li>
parsley, chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Place cut up potatoes in large bowl and toss with a little olive oil and salt and pepper.  Roast potatoes in 375F oven for about 45 minutes or until easily pierced.
</li>
<li>
Mix shallot, garlic, vinegars with olive oil drizzled in while whisking.  Add s/p and herbs to taste.  Set aside.
</li>
<li>
Blanch green beans and shock cold in ice water.  Drain.
</li>
<li>
Mix the vinaigrette gently with warm potatoes and beans serve immediately or at room temperature.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 10
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
