<head>
<title>Sweet &amp; Sour Pork  (or Tofu)</title>
</head>
<body>
<h1>Sweet &amp; Sour Pork  (or Tofu)</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. pork butt (or 1 pkg. firm tofu) cut in
</li>
<li>
1/2&quot; cubes
</li>
<li>
Meat or Tofu Marinade:
</li>
<li>
1 tablespoon rice wine
</li>
<li>
1 tablespoon Kikkoman soy sauce
</li>
<li>
Sauce:
</li>
<li>
1/4 cup sugar
</li>
<li>
1/4 cup Kikkoman soy sauce
</li>
<li>
1/4 cup rice vinegar
</li>
<li>
1/4 cup water
</li>
<li>
2 tablespoons minced garlic
</li>
<li>
2 tablespoons rice wine
</li>
<li>
2 tablespoons lemon juice
</li>
<li>
1 tablespoon sesame seed oil
</li>
<li>
1 teaspoon salt
</li>
<li>
Cornstarch slurry: 1T:2T water
</li>
<li>
1 red bell pepper, in 1&quot; squares
</li>
<li>
1 cup pineapple chunks in juice
</li>
<li>
1 teaspoon toasted sesame seeds
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Marinade pork or tofu (both can be used), then dust with cornstarch and deep fry until golden brown.  Make sure each piece is separated.  Drain and set aside on paper towels.
</li>
<li>
2.  In a clean wok combine and het the sauce mixture, thicken with slurry.  Add red bells and then the  pork (tofu)  and pineapple into the sauce to coat and heat through. 
</li>
<li>
3.   Serve immediately, garnishing with the sesame seeds.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 6
</p>
<p>
SOURCE: Rhoda Yee, CCA
</p>
</body>
