<head>
<title>Sweet Potato Cheesecake</title>
</head>
<body>
<h1>Sweet Potato Cheesecake</h1>
<h2>Ingredients</h2>
<ul>
<li>
Crust:
</li>
<li>
14 ounces gingersnap cookies, finely ground
</li>
<li>
6 tablespoons butter, melted
</li>
<li>
Cake:
</li>
<li>
14 ounces yams, canned in light syrum, mashed to 3/4 cup
</li>
<li>
24 ounces cream cheese, room temperature
</li>
<li>
8 tablespoons butter, room temperature
</li>
<li>
1 cup sugar
</li>
<li>
3 tablespoons apple cider
</li>
<li>
3/4 teaspoon ginger
</li>
<li>
3/4 teaspoon cinnamon
</li>
<li>
3/4 teaspoon nutmeg
</li>
<li>
2 tablespoons cream
</li>
<li>
4 large eggs, room temperature
</li>
<li>
Topping:
</li>
<li>
1 1/2 cups sour cream
</li>
<li>
2 tablespoons sugar
</li>
<li>
1 1/2 tablespoons apple cider
</li>
</ul>
<h2>Method</h2><ul>
<li>
To make the crust, preheat oven to 350F.  Butter a 10 1/2&quot; springform pan.
</li>
<li>
In a mixing bowl, combine the gingersnap crumbs and melted butter.  Stir to mix.  Place the crumbs into the bottom and 1&quot; up the sides of the prepared pan, tamping down to form an even crust.  Bake at 350F degrees about 8 minutes until the edges of the crust just start to pick up some color.  Cool and reserve.
</li>
<li>
To make the cake, preheat oven to 350F.  In a mixer with a paddle, combine the cream cheese, butter and sugar and mix until very smooth and well-combined.  Pause to scrape down the bowl once or twice.
</li>
<li>
Add the reserved sweet potato puree and mix to blend.  Add apple cider, ginger, cinnamon, nutmeg and cream and mix well.  Add the eggs, two at a time, scraping down the bowl between additions and mix just until incormporated and the batter is smooth.
</li>
<li>
Pour batter into the reserved prepared crust.  Bake at 350F for 20 minutes.  Turn oven to 325F and bak an additional 20 minutes.  Turn oven to 300F and bake an additional 20 minutes.  Turn oven to 225F and bake until the cake is just set around the edges, yet slightly jiggly in the center.
</li>
<li>
While the cake is baking, prepare the topping by shisking together the sour cream, sugar and apple cider.  When the cake is done baking, remove it from the oven to cool for 5 minutes and turn the oven to 350F.  Spread the sour cream topping over the baked cheesecake using a small offset spatula to ensure an even layer.  Bake at 350 degrees for 5 minutes until the topping is just set.  Remove from the oven.  Gently run a paring knife around the top outer edge of the pan and allow the cake to cool completely.
</li>
<li>
Once the cake is cool, refrigerate it for several hours or up to two days before serving.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Spokesman Review, made by Tanya at the Bank!&quot;
</p>
<p>
SERVINGS: 16
</p>
<p>
SOURCE: Karen Barker
</p>
</body>
