<head>
<title>Sweet &amp; Spicy Orange Salad</title>
</head>
<body>
<h1>Sweet &amp; Spicy Orange Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
10 large navel oranges
</li>
<li>
3 tablespoons extra virgin olive oil
</li>
<li>
1/2 teaspoon salt
</li>
<li>
1 teaspoon cinnamon
</li>
<li>
1 teaspoon ground coriander
</li>
<li>
1 teaspoon ground cumin
</li>
<li>
1 1/2 teaspoons minced garlic
</li>
<li>
1 tablespoon fresh cilantro, chopped
</li>
<li>
1 tablespoon fresh Italian parsley, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Scrub oranges.  Rinse thoroughly and dry.
</li>
<li>
Grate the peel from two of the oranges with a grater on the fine grate.  Set aside.  Remove the peel and pith from all oranges.  Slice oranges into 1/2&quot; rounds.  Place in mixing bowl.  
</li>
<li>
Combine remaining ingredients.  Pour this dressing over the oranges and toss gently. 
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Cheryl Foberg, R.D.
</p>
</body>
