<h1>Sweet Tart Dough....also called Pate Sucree</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup + 1 tablespoon powdered sugar
</li>
<li>
1 3/4 cups all purpose flour
</li>
<li>
pinch of salt
</li>
<li>
9 tablespoons unsalted butter, softened
</li>
<li>
1 large egg
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Sift together the flour, sugar and salt into a bowl.
</li>
<li>
Place the butter in a food processor and process until smooth, about 15 seconds.  Scatter the flour mixture over the butter, add the egg and process just until the dough forms a mass; do not overmix.  Turn the dough out onto the counter and divide it in two.  Shape each half into a disc, wrap in plastic wrap and refrigerate for a least 2 hours or up to 24 hours.  Half of the dough may be well wrapped and frozen for up to 1 month.
</li>
<li>
Let the dough stand at room temperature for 30 minutes to soften.  Lightly butter two 9&quot; fluted tart pans with removable bottoms.
</li>
<li>
Dust a work surface lightly with flour.  Dust one of the discs lightly with flour and using a floured rolling pin, roll it out into a rough 12&quot; circle.  Lift the dough often, making sure that wthe work surface and dough are lightly floured at all times.  Roll the dough up onto the rolling pin and gently unroll it over one of the prepared tart pans.  Press the dough into the pan and roll the pin over the top of the pan to remove the excess dough.  Repeat with the remaining dough and tart pan.  Prick the bottom of the tart shells all over with a fork.  Chill the tart shells for 20 minutes.
</li>
<li>
Preheat the oven to 325F.  Lightly butter two pieces of aluminum foil large enough to generously line each tart pan.  Line the tart shells with the foil, buttered side down and fill with dried beans, rice or pie weights.
</li>
<li>
Bake the tart shells for 15 minutes.  Remove the foil and beans and continue baking for 8-10 minutes longer, until evenly golden brown.  Cool completely on a wire rack.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Simply Sensational Desserts&quot;SOURCE: Francois Payard
</p>
</div></body>
