<h1>Sweet Potato Pie</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
pie dough for one crust pie
</li>
<li>
2 cups cooked sieved sweet potatoes, 3-4 medium size; about 1 1/4 #
</li>
<li>
4 large eggs
</li>
<li>
1 cup packed dark brown sugar
</li>
<li>
juice of one orange
</li>
<li>
juice of 1/2 lemon
</li>
<li>
1 cup heavy cream
</li>
<li>
1/4 cup unsalted butter, melted
</li>
<li>
1/2 teaspoon ground cinnamon
</li>
<li>
1/2 teaspoon ground allspice
</li>
<li>
1/4 teaspoon fresh-grated nutmeg
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat the oven to 400F.  Line a pie plate with pie dough and chill briefly.  Line pie dough with buttered foil and fill with beans or rice.  Bake for about 8 minutes until the sides are set.  Remove the foil and prick any air holes.  Continue to bake for an additional 8-10 minutes until just beginning to color.  Allow to cool slightly while you make the filling.  Leave oven on.
</li>
<li>
With an electric mixer at medium speed, combine sweet potatoes, eggs, sugar, citrus juices, cream, butter and spices until very smooth.  Pour the mixture into the warm, partially baked pie shell.  Place in oven.
</li>
<li>
Bake for 15 minutes.  Lower the heat to 350F and continue to bake until pie is set but center is still slightly wobbly, 20-30 minutes longer.  Do not overbake.
</li>
<li>
Cool on wire rack and serve at room termperature with flavored whipped cream.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Cookery of the Old South&quot;
</p>
<p>
Copyright:
</p>
<p>
  &quot;1938&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Kay Burdette
</p>
</div></body>
