<h1>Sweet &amp; Crunchy Red Bell Pepper Cubes</h1>
<h2>Ingredients</h2>
<ul>
<li>
3/4 lbs. red bell peppers, firm and unblemished
</li>
<li>
1 teaspoon kosher salt
</li>
<li>
2 teaspoons thin soy sauce
</li>
<li>
2 teaspoons rice vinegar
</li>
<li>
1 tablespoon sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Wash and carefully dry the peppers.  Cut each pepper lengthwise into fourths, removing cores, seeds and ribs.  Cut into 3/4 inch cubes.
</li>
<li>
Put the cubes into a stainless bowl.  Sprinkle with salt and toss well to mix.  Cover and let stand at room temperature 6 hours or overnight.  Stir occasionally.
</li>
<li>
Conbine the soy, vinegar and sugar, stirring well to dissolve the sugar.  Drain the peppers thoroughly (do not rinse or press them), then place in a dry bowl.  Scrape the seasoning on top, toss well to mix, then let the peppers stand 1-3 hours at room temperature.  At least once an hour, stir the peppers.
</li>
<li>
Refrigerate 2 full days, sitrring occasionally.  The peppers will then be at peak flavor and ready to eat.  
</li>
<li>
Serve the peppers chilled, heaped prettily in a bowl of contrasting color, or in small dip dishes alongside each plate.  Just before serving, top with some of the seasoning liquids to give them a nice sheen.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;The Modern Art of Chinese Cooking&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Barbara Tropp
</p>
</body>
