<h1>Sweet Ricotta Filling</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup whipping cream
</li>
<li>
1 tablespoon sugar
</li>
<li>
1 cup pistachios, toasted and chopped
</li>
<li>
2 ounces bittersweet chocolate, chopped
</li>
<li>
1 ounce raisins
</li>
<li>
2 tablespoons sugar
</li>
<li>
1 recipe Homemade Ricotta Cheese
</li>
</ul>
<h2>Method</h2><ul>
<li>
Whip whipping cream and 1 T sugar to soft peaks.  
</li>
<li>
Mix together pistachios, chocolate, raisings and sugar.  Mix into ricotta cheese.
</li>
<li>
Fold whipping cream into ricotta mixture.  
</li>
<li>
Ready for use for cake or cannoli filling.
</li>
</ul>
<h2>Notes</h2></body>
