<h1>Tahini</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup tahini, with a little of its oil
</li>
<li>
1 cup yogurt, or water
</li>
<li>
juice of 2 lemons
</li>
<li>
salt and pepper, to taste
</li>
<li>
1 teaspoon minced garlic
</li>
<li>
1 teaspoon cumin
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine ingredients....taste for correct seasoning.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a sauce served with Falafel, thinned for a salad
</p>
<p>
  dressing...layered with tomatoes or cucumbers.&quot;
</p>
<p>
SERVINGS: 2
</p>
<p>
SOURCE: Adapted from Mark Bittman
</p>
</div></body>
