<h1>Tamarind Juice</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Comlressed Block of Tamarind
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Break off a chunk of tamarind.  Pour hot water over and allow to sit for 15-20 minutes until soft.
</li>
<li>
When cool, massage the tamarind to release the pulp.  Allow to sit another 15 minutes for juice to thicken.  Place in glass jar and refrigerate until needed.  As you use the juice, replace the amount you have removed with water.  It will start out thick and become thinner.  About the time it is as thin as buttermilk, it is time to make a new batch.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Cracking the Coconut&quot;SOURCE: Adapted from Su-Mei Yu
</p>
</div></body>
