<h1>Tandoori Marinade</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 tablespoons paprika
</li>
<li>
1 teaspoon fennel seeds, toasted and ground
</li>
<li>
1 1/4 teaspoons cardamom seeds, toasted and ground
</li>
<li>
1 tablespoon coriander seeds, toasted and ground
</li>
<li>
2 teaspoons cumin seeds, toasted and ground
</li>
<li>
1/4 teaspoon cayenne
</li>
<li>
1/2 teaspoon ground pepper
</li>
<li>
1 teaspoon salt
</li>
<li>
1/2 yellow onion, finely chopped
</li>
<li>
1/4 cup canola oil
</li>
<li>
2 cloves garlic
</li>
<li>
5 ounces silken tofu
</li>
<li>
1 1/2 cups soy milk
</li>
<li>
1 teaspoon lime zest, minced
</li>
<li>
1/4 cup lime juice
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine all the dry seeds in a skillet and heat over medium heat.  Toast and move around until fragrant.  Grind all the seed together to a powder.  Blend with the rest of the ingredients.    Store airtight in the refrigerator  up to 2 weeks.  
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:
</p>
<p>
  &quot;3 cups&quot;SOURCE: Eric Tucker
</p>
</div></body>
