<h1>Tangerine Glazed Ham</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Ingredients
</li>
<li>
1 (8 to 10-pound) smoked ham, bone-in, skin on
</li>
<li>
Kosher salt and freshly ground black pepper
</li>
<li>
1 bunch fresh sage leaves
</li>
<li>
1/4 cup extra-virgin olive oil
</li>
<li>
1 cup (2 sticks) unsalted butter, cut in chunks
</li>
<li>
2 tangerines, sliced thin, seeds removed
</li>
<li>
2 cups tangerine juice
</li>
<li>
2 cups light brown sugar, packed
</li>
<li>
1 cup water
</li>
<li>
1/4 teaspoon whole cloves
</li>
<li>
2 cinnamon sticks
</li>
<li>
11/2 pounds carrots, peeled
</li>
<li>
Directions
</li>
<li>
Preheat the oven to 300 degrees F.
</li>
<li>
Put the ham in a large roasting pan, fat-side up. Using a sharp knife, score the ham with cuts across the skin, about 2-inches apart and 1/2-inch deep. Cut diagonally down the slashes to form a diamond pattern; season the meat generously with salt and pepper. Chop about 8 of the sage leaves and put it in a bowl; mix with the oil to make a paste. Rub the sage-oil all over the ham, being sure to get the flavor into all the slits. Bake the ham for 2 hours. Now there is plenty of time to bang-out the tangerine glaze.
</li>
<li>
For the glaze: Place a saucepan over medium heat. Add the chunks of butter, tangerines, tangerine juice, brown sugar, water, and spices. Slowly cook the liquid down to a syrupy glaze; this should take about 30 to 40 minutes.
</li>
<li>
After the ham has being going for a couple of hours, pour the tangerine glaze all over it, with the pieces of fruit and all. Scatter the remaining sage leaves on top and stick the ham back in the oven and continue to cook for 11/2 hours, basting with the juices every 30 minutes.
</li>
<li>
Scatter the carrots around the ham and coat in the tangerine glaze. Stick the ham once again back in the oven and cook for a final 30 minutes, until the carrots are tender, the ham is dark and crispy, and the whole thing is glistening with a sugary glaze.
</li>
</ul>
<h2>Notes</h2><p>
Set the ham on a cutting board to rest before carving. Serve the carrots and tangerine glaze on the side.SOURCE: Adapted from Tyler Florence
</p>
</body>
