<head>
<title>Tapenade</title>
</head>
<body>
<h1>Tapenade</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 lb. black olives, Italian or Kalamata
</li>
<li>
4 anchovy fillets, rinsed
</li>
<li>
3 tablespoons capers, drained
</li>
<li>
2 cloves garlic
</li>
<li>
1/4 cup olive oil
</li>
<li>
black pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place everything in a food processor except the olive oil.  Pulse and pour in the olive oil to form a coarse or finely chopped mixture, as you prefer.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
