<h1>Tartar Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 cups mayonnaise
</li>
<li>
4 green onions, minced
</li>
<li>
3/4 large dill pickles, minced
</li>
<li>
2 tablespoons capers, drained, minced
</li>
<li>
3 small sweet pickles, minced
</li>
<li>
1 tablespoon hot red pepper sauce, like Tabasco
</li>
<li>
salt to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;There&#39;s is nothing like making your own tartar sauce.....yum!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;2 tablespoons&quot;
</p>
<p>
SERVINGS: 16
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</div></body>
