<h1>Tenderloin of Pork with Honey &amp; Mustard</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 small tenderloins of pork, whole
</li>
<li>
1 cup chicken stock
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1 small shallot, minced
</li>
<li>
1 tablespoon fresh thyme leaves
</li>
<li>
1 tablespoon tomato paste
</li>
<li>
2 tablespoons Dijon mustard
</li>
<li>
2 teaspoons black peppercorns, crushed
</li>
<li>
1 tablespoon honey
</li>
<li>
2 tablespoons red wine vinegar
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Sear the tenderloins in a non-stick saute pan all around until lightly brown.  Remove.
</li>
<li>
2.  Add a small amount of stock to deglaze and let the stock reduce until almost dry.
</li>
<li>
3.  Sweat garlic &amp; shallots.
</li>
<li>
4.  Add thyme, tomato paste, mustard and pepper to mixture in pan.  Saute until tomato takes on a rusty color.
</li>
<li>
5.  Add the honey and vinegar and simmer just until mixture is blended and thick enough to use as a glaze.
</li>
<li>
6.  Return pork tenderloins to pan and roll to evenly coat with mixture.
</li>
<li>
7.  Place on rack in another pan and roast at 350F until internal temperature is at about 135F about 10-15 minutes.
</li>
<li>
8.  Add about 1/2 cup stock to pan that the glaze was made in and simmer.  When tenderloins are done....add juices from meat roasting pan to sauce in pan.  Season to taste with s/p.  
</li>
<li>
Serve the pork with the sauce.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Pork tenderloins are a fabulous low-fat meat choice and quick-cooking.  Add some sauted green beans, rice and salad and you have a wonderful meal.
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Char (adapted from CIA &quot;Techniques of Healthy Cooking&quot;)
</p>
</body>
