<head>
<title>Teriyaki Salmon</title>
</head>
<body>
<h1>Teriyaki Salmon</h1>
<h2>Ingredients</h2>
<ul>
<li>
Salad Dressing:
</li>
<li>
1 1/2 teaspoons wasabi powder
</li>
<li>
1 tablespoon mirin
</li>
<li>
1 tablespoon rice wine vinegar
</li>
<li>
1 teaspoon sugar
</li>
<li>
1/2 cup canola oil
</li>
<li>
salt and pepper
</li>
<li>
Teriyaki Sauce:
</li>
<li>
1 cup Kikkoman soy sauce
</li>
<li>
3/4 cup fresh orange juice, and zest; about 2 oranges
</li>
<li>
3 tablespoons brown sugar
</li>
<li>
4 cloves whole garlic, peeled
</li>
<li>
1 tablespoon fresh ginger, finely chopped
</li>
<li>
1 tablespoon white sesame seeds
</li>
<li>
4 6 ounce salmon fillet
</li>
</ul>
<h2>Method</h2><ul>
<li>
2              large  English cucumbers -- julienned
</li>
<li>
Mix wasabi powder and mirin to make a paste in a large bowl.  Whisk in vinegar and sugar.  Whisk in oil and season to taste with salt and pepper.
</li>
<li>
Combine soy sauce, orange juice and zest, brown sugar, garlic and ginger in saucepan.  Bring to a boil, then lower heat to reduce to about 1/2 the volume until syrupy, taking about 15 minutes.  Remove from the heat and stir in the sesame seeds.  Cool.  Marinate the salmon for 1 hour in the cooled teriyaki.
</li>
<li>
Heat an outdoor grill or indoor grill pan.  Be sure to spray the grill with pan spray.  Cook the salmon on each side about 4 minutes per side.  Brush the fish with the remaining teriyaki as it cooks.  The fish will be about medium rare, depending on its thickness.
</li>
<li>
While the salmon is cooking, toss the cucumbers with the salad dressing and place on plates.  Top each portion of salad with the salmon.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Adapted from Ming Tsai
</p>
</body>
