<h1>Thai Stuffed Calamari with Green Curry Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/4 lbs. ground pork
</li>
<li>
1/2 cup water chestnuts (or jicama), coarsely chopped
</li>
<li>
1/3 cup cilantro, coarsely chopped
</li>
<li>
2 teaspoons minced garlic
</li>
<li>
1 1/2 teaspoons ground black pepper
</li>
<li>
1/2 teaspoon sugar
</li>
<li>
2 tablespoons fish sauce
</li>
<li>
24 whole squid, cleaned, cavities only
</li>
<li>
Green Curry Sauce:
</li>
<li>
1 can coconut milk
</li>
<li>
1 1/2 tablespoons green curry paste
</li>
<li>
1 tablespoon coconut or palm sugar OR brown sugar
</li>
<li>
1 1/2 tablespoons fish sauce
</li>
<li>
15 leaves Thai basil (best) or mint
</li>
<li>
2 fresh green serrano chili peppers, thinly sliced
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  In a large mixing bowl, combine pork, water chestnuts or jicama, cilantro, garlic, black pepper, sugar and fish sauce.  Refrigerate for 1/2 hour.  Stuff the raw squid tubs with the pork mixture so that they are puffed and cylindrical.  Keep refrigerated until ready to simmer.
</li>
<li>
2.  To make curry sauce:  In a large sauce pan, heat the top cream part of the coconut milk with green curry paste.  Cook until fragrant, and a thin coat of oil appears on the surface.  Stir in the remaining coconut milk, sugar and fish sauce.  Simmer to heat through, do not bring to boil, the coconut milk will separate.
</li>
<li>
3.  Seam until cooked through and the squid feels firm.  About 10 minutes.  Cool  enough to handle and slice into 1/2 inch rounds, add back into sauce.  Finish with basil and chiles and simmer for another few minutes.  Serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 24
</p>
<p>
SOURCE: Rhoda Yee, CCA
</p>
</body>
