<head>
<title>Thai Red Curry with Roasted Pork &amp; Green Banana</title>
</head>
<body>
<h1>Thai Red Curry with Roasted Pork &amp; Green Banana</h1>
<h2>Ingredients</h2>
<ul>
<li>
Marinade:
</li>
<li>
3 cloves garlic, lightly crushed
</li>
<li>
1 tablespoon minced fresh ginger
</li>
<li>
1/4 cup pineapple juice
</li>
<li>
1/4 cup soy sauce
</li>
<li>
Curry:
</li>
<li>
1 lb. pork tenderloin or pork shoulder
</li>
<li>
1 teaspoon baking soda
</li>
<li>
2 cups water
</li>
<li>
4 green bananas, peeled and sliced into 1/4&quot; diagonal slices
</li>
<li>
3 cups fresh unsweetened coconut milk
</li>
<li>
1 cup +3 tablespoons fresh unsweetened coconut
</li>
<li>
cream
</li>
<li>
1/2 cup Thai Red Chile Paste
</li>
<li>
1 yellow onion, cut into eighths
</li>
<li>
2 tablespoons fish sauce, (namm pla)
</li>
<li>
1 teaspoon sea salt
</li>
<li>
1 tablespoon sugar
</li>
<li>
4 kaffer lime leaves, torn and bruised, or strips of lime zest, lightly brused
</li>
<li>
3 serrano chiles, or more if desired, lightly crushed
</li>
<li>
1 cup Thai basil leaves
</li>
</ul>
<h2>Method</h2><ul>
<li>
Marinade:  Combine ingredients and cover pork.  Marinade for at least 1 hour or in the frig for no longer than 3 hours.
</li>
<li>
Preheat oven to 350F, pour off marinade and roast pork for 25-30 minuites until at 160F on meat thermometer.  Remove from oven, cool and cut into 1&quot; cubes.
</li>
<li>
In another bowl, combine the baking soda with water and pour over green bananas.  Let sit for 30 minutes.
</li>
<li>
Rinse the bananas several times in cool water, drain and dry thoroughly with paper towels.  Set aside.
</li>
<li>
Heat the coconut milk in a large saucepan over high heat until boiling.  Lower the heat.  Skim off the cream and transfer to a skillet.  Allow the coconut milk to simmer over low heat.
</li>
<li>
Add 1 cup fresh coconut cream and chile paste to the skimmed cream in the skillet, blending well, and bring to a boil over high heat.  Lower the heat to medium until the oil comes to the surface with tiny bubbles, about 7-10 minutes.   Add the pork and banana slices and bring the mixture to a boil.  Add onion and bring to a boil again.
</li>
<li>
Transfer the above mixture to the simmering coconut milk and turn the heat to medium high.  Add the fish sauce, sea salt and sugar and bring to a boil.  Stir occasionally.  Add the lime leaves or zest, crushed fresh serrano chiles and half of the basil.  Return to a boil, then lower heat to a simmer and cook for about 10 minutes until the broth thickens and the bananas are pierceable.  Transfer to serving bowl.  Garnish with the remaining 3 tablespoons of coconut cream and basil.
</li>
<li>
Serve with Chile Fish Sauce and Jasmine Rice.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Cracking the Coconut&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Su-Mei Yu
</p>
</body>
