<h1>Thai Shrimp Soup  (Tom Yam Goong)</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 lbs. medium shrimp, shelled, deveined, reserve shells
</li>
<li>
6 cups chicken stock, or water
</li>
<li>
12 cloves garlic, minced
</li>
<li>
10 kaffir lime leaves
</li>
<li>
6 slices fresh or dried galangal
</li>
<li>
1/3 cup fish sauce
</li>
<li>
4 stalks lemon grass, lower 1/3 portion, cut into 1&quot; lengths
</li>
<li>
6 shallots, sliced
</li>
<li>
1 cup mushrooms, sliced
</li>
<li>
10 Thai chile peppers, or serranos
</li>
<li>
1/2 cup lime juice
</li>
<li>
2 tablespoons cilantro, chopped
</li>
<li>
4 tomatoes, cut into wedges
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place shrimp shells in large pot with water.  Heat to boiling, strain the broth and discard the shells.
</li>
<li>
Add the garlic, lime leaves, galangal, fish sauce, lemon grass and shallots to the stock .  Then add the mushrooms and chili peppers.  Cook gently for 2 minutes.
</li>
<li>
Add the shrimp to the soup and reheat to boiling. Add the tomatoes.   When the shrimp are cooked, place the lime  in a serving bowl.  Pour the soup into the bowl, stir and garnish with cilantro leaves.  Serve.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Bangkod, Thailand&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Thai Home Cooking
</p>
</body>
