<h1>Thai Pork with Peanut Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 2 pound boneless pork loin, trimmed of fat and cut into 4 pieces
</li>
<li>
2 large red bell peppers, julienned
</li>
<li>
1/3 cup teriyaki sauce
</li>
<li>
2 tablespoons rice vinegar
</li>
<li>
1 teaspoon red pepper flakes
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1/4 cup creamy peanut butter
</li>
</ul>
<h2>Method</h2><ul>
<li>
Serve:
</li>
<li>
     1/2           cup  green onion -- chopped
</li>
<li>
     1/4           cup  dry roasted peanuts
</li>
<li>
  2                     limes -- cut into 12 wedges
</li>
<li>
                        jasmine rice, cooked
</li>
<li>
Coat a 3-4 1/2 slow cooker with nonstick spray (size of slow cooker is important....double with cooker is larger).  Place everything to the garlic in the cooker.  Cook on low for 8-9 hours.
</li>
<li>
Remove pork and coarsely chop.  Add peanut butter to the liquid in the coor and stir to dissolve and blend with liquid.  Return the pork to the sauce and toss to coat the meat evenly.
</li>
<li>
Serve in shallow bowls over hot rice with onions and peanuts.  Serve with lime wedges.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;&quot;Not Your Mother&#39;s Slow Cooker Cookbook&quot;&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Julie Hensperger and Julie Daufmann
</p>
</body>
