<head>
<title>Thai-Style Barbecued Baby Ribs</title>
</head>
<body>
<h1>Thai-Style Barbecued Baby Ribs</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/4 cup Asian fish sauce
</li>
<li>
2 tablespoons canola oil
</li>
<li>
2 tablespoons Kikkoman soy sauce
</li>
<li>
2 tablespoons fresh lime juice
</li>
<li>
2 tablespoons garlic, minced
</li>
<li>
2 stalks lemongrass, outer leaves removed and center thinly sliced
</li>
<li>
1/4 cup fresh cilantro
</li>
<li>
1 tablespoon fresh ginger, minced
</li>
<li>
2 tablespoons sugar
</li>
<li>
2 teaspoons Asian sesame oil
</li>
<li>
3 1 1/2 pounds slab ribs, cut 1&quot; thick, or baby back ribs
</li>
<li>
Thai Dipping Sauce:
</li>
<li>
2 tablespoons fresh lime juice
</li>
<li>
2 tablespoons rice wine vinegar
</li>
<li>
1 tablespoon soy sauce
</li>
<li>
1 tablespoon Thai hot chili sauce
</li>
<li>
1 tablespoon sugar
</li>
<li>
1 tablespoon garlic, minced
</li>
<li>
1/2 teaspoon Asian sesame oil
</li>
<li>
2 tablespoons chopped fresh cilantro
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix all marinade ingredients together and blend well.  Put the ribs into a zipperlock bag or shallow dish and pour the marinade over the meat.  Cover and refrigerate overnight, if possible.
</li>
<li>
About 30 minutes before cooking, remove the ribs from the refrigerator.  Preheat the oven to 300F.  Place a roasting pan half full of water in the bottom third of the oven.
</li>
<li>
Remove the ribs from the marinade and reserve the marinade.  Shake off the excess marinade and place the ribs on a rack in a shallow roasting pan.  Put the pan in the top third of the oven and roast for 45 minutes to 1 hour, basting the ribs from time to time with the reserved marinade.  The ribs are done when they begin to pull away from the bone and the bone tips  are exposed.  The internal temperature tof the thickest part should be 155F-165F.
</li>
<li>
Meanwhile, make the Thai Dipping Sauce:  Combine the ingredients in a bowl and stir until the sugar is dissolved.
</li>
<li>
Allow the ribs to rest for 5-10 minutes after removing from oven and cut into individual ribs.  Enjoy with sauce!
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a fabulous hors d&#39;oeuvre or main dish, making 35-40 ribs for
</p>
<p>
  about 8) for hors d&#39;oeuvres.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Bruce Adell
</p>
</body>
