<head>
<title>Thai Coconut Curry Prawns served with Jasmine Rice, Slaw and Thai Curry Sauce</title>
</head>
<body>
<h1>Thai Coconut Curry Prawns served with Jasmine Rice, Slaw and Thai Curry Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup flour
</li>
<li>
2 large eggs, beaten
</li>
<li>
1 cup sweetened coconut flakes
</li>
<li>
2 tablespoons curry powder, Indian style
</li>
<li>
1/2 cup panko, crumbs
</li>
<li>
12 extra large shrimp, (prawns)
</li>
</ul>
<h2>Method</h2><ul>
<li>
Beat eggs in medium bowl and set aside.  Place flour in another bowl and set aside.  Combine the coconut, curry powder and panko in a third bowl and set aside.
</li>
<li>
Pat the prawns dry to avoid lumps and dredge in flour, shaking off excess.  Next, coat with beaten egg.  Finally, press the prawns into the coconut mixture, coating thoroughly.  Fry over medium hight heat in 1 cup of canola oil, careful not to crowd the prawns one batch at a time.  Turn after 1-2 minutes when the prawns turn golden.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Make jasmine rice, Napa Cabbage &amp; Cilantro Slaw and Thai Curry Sauce
</p>
<p>
  before starting this part of the dish.&quot;
</p>
<p>
SERVINGS: 2
</p>
<p>
SOURCE: Brian Hutchins, Luna
</p>
</body>
