<head>
<title>Thai Stir-Fried Clams with Green Curry Sauce</title>
</head>
<body>
<h1>Thai Stir-Fried Clams with Green Curry Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 lbs. clams, or shrimp
</li>
<li>
1 tablespoon vegetable oil
</li>
<li>
6 cloves garlic, minced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Green Curry Sauce
</li>
<li>
  1 1/2    tablespoons  Thai green curry paste
</li>
<li>
  1 1/2    tablespoons  fish sauce
</li>
<li>
  1         tablespoon  brown sugar
</li>
<li>
  1                can  coconut milk
</li>
<li>
                        Garnish:
</li>
<li>
  15            leaves  mint
</li>
<li>
  2              fresh  green serrano chili peppers -- seeded and slivered
</li>
<li>
     1/2                red chiles -- slivered
</li>
<li>
Mix together items for sauce  in saucepan and heat to simmer;  hold aside
</li>
<li>
Place oil and garlic in large wok and cook briefly over high heat being careful not to burn garlic.  Add clams and saute briefly.  Add some of curry sauce, cover and cook until clams open, about 4-6 minutes.  Remove lid and quickly add remaining sauce, mint, serranos and red chile slivers.  Serve with rice.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
