<head>
<title>Thai Big Four Paste</title>
</head>
<body>
<h1>Thai Big Four Paste</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 tablespoon coriander seeds
</li>
<li>
2 tablespoons Thai white peppercorns
</li>
<li>
1 teaspoon sea salt
</li>
<li>
15 cloves garlic, minced (about 1/2 cup)
</li>
<li>
1 cup cilantro stems, and roots if available
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat a small skillet over medium high heat.  Add the coriander sees and dry roast until fragrant.  Transfer the seeds to a small bowl to cool and repeat with the peppercornrs.  When cool, grind the coriander seeds and peppercorns separately in a spice grinder (or coffee grinder used for this purpose).  Transfer to separate bowls.
</li>
<li>
Place the sea salt, garlic and cilantro stems  into a food processor and pulse until finely minced.  Add to ground spices and process to a paste.  Transfer to a jar, cover and refrigerate.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Versitile and will keep for up to a month.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;3/4 cup&quot;
</p>
</body>
