<h1>Thai Spicy Red Curry</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/2 teaspoon cumin seeds, (for meat curry)
</li>
<li>
1/2 teaspoon caraway seed, (for meat curry)
</li>
<li>
1/2 teaspoon Thai white peppercorns
</li>
<li>
1 tablespoon coriander seeds
</li>
<li>
1 teaspoon sea salt
</li>
<li>
7 large cloves garlic, minced
</li>
<li>
1 tablespoon cilantro roots and stems
</li>
<li>
15 dried japones, softened in warm water, half seeded, minced
</li>
<li>
4 serrano chiles, minced (w/or without seeds)
</li>
<li>
1/4 teaspoon freshly grated nutmet, (for meat or poultry curry)
</li>
<li>
1 tablespoon ginger root, minced (for seafood curry)
</li>
<li>
1 stalk lemongrass, minced
</li>
<li>
zest of one lime
</li>
<li>
2 shallots, minced
</li>
<li>
1 teaspoon fermented shrimp paste OR
</li>
<li>
1 tablespoon red miso, NOT BOTH
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Dry roast cumin and caraway in a hot cast iron skillet until a wonderful aroma occurs, about 1 minute.  Cool on a plate.  Do the same with the white peppercorns and coriander seeds.  After all seeds and peppercorns are cool, grind in a pepper grinder.  Set aside.
</li>
<li>
With a mortar and pestle, pound the sea salt and garlic into a paste.  One at a time add the cilantro, chiles, spices, nutmet, ginger root, lemongrass, lime zest and shallots.  ONly add a new ingredient after the previous ingredient in fully pureed and incorporated into the paste.  Add the  shrimp paste or miso and stir well.
</li>
<li>
Transfer to a jar with a lid and store in frig.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Very versitle, used in curries and stir fries.  Cook beef, pork or
</p>
<p>
  lamb in coconut milk before adding to the paste; using roasted pork or
</p>
<p>
  poultry is delicious with this curry.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Cracking the Coconut&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1/2 cup&quot;SOURCE: Adapted from Su-Mei Yu
</p>
</div></body>
