<head>
<title>Thai Black Rice Pudding</title>
</head>
<body>
<h1>Thai Black Rice Pudding</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups black sticky rice
</li>
<li>
3 cups water
</li>
<li>
2 cups canned coconut milk
</li>
<li>
3/4 cup brown sugar, or palm sugar
</li>
<li>
1/2 teaspoon salt
</li>
<li>
Optional Toppings (any one)
</li>
<li>
2 tablespoons dry roasted sesame seeds
</li>
<li>
1/2 cup coriander leaf
</li>
<li>
1/4 cup fried shallots
</li>
<li>
ripe mango or other sweet-acid fruit,
</li>
<li>
sliced.
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place rice and water in a heavy pot and bring to a boil.  Let boil vigorously for several minutes, stirring frequently, then cover, lower the heat to medium and cook for 10 minutes.  Lower the heat to very low and let simmer, still covered, for about 30 minutes.
</li>
<li>
Just before the rice finishes cooking, place the coconut milk in a saucepan over medium heat and stir in the sugar and salt until completely dissolved.  Heat just to a boil, then reduce to the lowest heat until the rice is cooked.
</li>
<li>
Add the coconut milk to the rice and stir well, the remove frm the heat and set aside for 10 minutes, or as long as 2 hours.
</li>
<li>
Serve warm or at room temperature, in small bowls, with your choice of topping.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Khao Meep See Dam&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: &quot;Hot, Sour, Salty, Sweet&quot;
</p>
</body>
