<head>
<title>Thai Shrimp Curry</title>
</head>
<body>
<h1>Thai Shrimp Curry</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons vegetable oil
</li>
<li>
2 tablespoons green curry paste
</li>
<li>
1/2 cup fresh green peas
</li>
<li>
Thai basil leaves
</li>
<li>
6 Kaffir lime leaves, torn
</li>
<li>
4 green chiles
</li>
<li>
2 stalks lemon grass, sliced
</li>
<li>
2 cups coconut milk
</li>
<li>
1 tablespoon fish sauce
</li>
<li>
2 teaspoons brown sugar
</li>
<li>
2 lbs. medium shrimp, peeled and deveined
</li>
<li>
2 tablespoons cilantro leaves, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat the oil in a large pan and add the curry paste and cook over a medium heat for a few minutes.  Add the peas, basil leaves, Kaffir lime leaves, chile peppers and lemon grass.  Stir fry for 3-5 minutes.  Add the shrimp and cook for 4-7 minutes until done.  Add the cilantro to the dish and serve hot with boiled rice.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;&quot;The Spice Trail:  One Hundred Hot Dishes from India to Indonesia&quot;&quot;SOURCE: Sandeep Chatterjee
</p>
</body>
