<h1>Thai Roasted Dried Chile Powder (Prikk Pow Poun)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup dried chiles
</li>
<li>
sea salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
In a 12&quot; skillet, dry roast the dried chiles over medium heat, shaking the skillet or tossing and stirring with a wooden spatula to ensure even heating, until blackened.  Adding a bit of sea salt to the skillet helps to cut down the fumes.  Take out of the pan and cool completely.
</li>
<li>
In a food processor, fitted with a steel blade, add the chiles and process until they turn to powder.  Let the mixture settle a bit before removing the lid and take off the lid at arms length with your face turned outward if possible (try not to inhale the fine dust).  Carefully transfer to a glass jar and seal with a tight-fitting lid.  Store at room temperature up to a year.  (Remember that it is slightly salty when you are cooking).
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is very strong...turn on the exhaust fan before starting and
</p>
<p>
  make sure your kitchen is well ventilated.   After you are finished
</p>
<p>
  inside, boil 1 cup of vinegar and 4 cups of water in a saucepan for at
</p>
<p>
  least 30 minutes to clean the air.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 cup&quot;
</p>
</div></body>
