<h1>Thai Spring Rolls</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 ounces vermicelli noodles
</li>
<li>
2 cloves garlic
</li>
<li>
1 bunch coriander stems, also called cilantro
</li>
<li>
1/8 teaspoon white pepper
</li>
<li>
pinch salt
</li>
<li>
1 tablespoon canola oil
</li>
<li>
2 ounces pork
</li>
<li>
2 ounces shirmp, minced
</li>
<li>
2 tablespoons fish sauce
</li>
<li>
1 tablespoon brown sugar
</li>
<li>
4 ounces bean sprouts
</li>
<li>
2 tablespoons cilantro leaves, whole
</li>
<li>
2 tablespoons shallots, sliced
</li>
<li>
1 package spring roll wrappers, about 50
</li>
<li>
4 tablespoons flour, mixed with 2 tablespoons water to make paste
</li>
<li>
6 cups canola oil, for deep-frying
</li>
</ul>
<h2>Method</h2><ul>
<li>
Soak the noodles in warm water for at least 10 minutes.  Drain and cut them into 3/4 inch lengths with scissors. 
</li>
<li>
In a food processor mix the garlic coriander root, peppercorns and salt until fine.  In a wok heat the oil over a medium heat and fry the mixture until fragrant.
</li>
<li>
Add the prawns and pork and fry until cooked, about 3 minutes.  Add the noodles and then season with the fish sauce and sugar.  Place the mixture in a bowl, allow to cool, then mix in the bean sprouts, coriander leaves and shallots.
</li>
<li>
Pass the wrappers in a bowl of warm water briefly and lay on work surface.  Place 1 tablespoon of the cooled mixture along the center of each wrapper.  Roll up the bottom edge of the wrapper and then fold over the left and right sides.  Roll the wrapper until it has almost reach the top edge.  Seal the roll with the flour and water paste.  Put aside for 1 hour to allow the paste to dry and seal the rolls.
</li>
<li>
Heat the oil in a wok to a medium heat and fry 4-5 spring rolls at a time for 5 minutes or until golden.  Remove and rrain on paper towels.  Serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Classic Thai Cuisine&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Thompson
</p>
</body>
