<h1>Thai Monkfish with Coconut Sauce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1/2 cup 1% low-fat milk
</li>
<li>
1 teaspoon coconut extract
</li>
<li>
2 lbs. monkfish, cut into 24 pieces
</li>
<li>
4 tablespoons fresh cilantro, chopped
</li>
<li>
8 teaspoons chunky peanut butter
</li>
<li>
2 tablespoons fresh ginger, minced
</li>
<li>
2 jalapeno pepper, seeded, minced
</li>
<li>
4 cloves garlic, minced
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
freshly ground pepper
</li>
<li>
4 slices lime
</li>
<li>
4 cups jasmine rice, (or basmati) cooked
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Spray the grill rack with non-stick spray and prepare the grill; or preheat the oven to 400F
</li>
<li>
Coconut Sauce:  Combine the milk and coconut extract in small bowl.
</li>
<li>
Cut 4 12x24 inch pieces of double thickness, heavy=duty aluminum foil.  Place 3 pieces of fish on each piece of foil.  Then top each portion of fish with some coconut sauce, cilantro, lime juice, peanut butter, ginger, jalapeno, garlic, salt, pepper and lime slices.  Fold the foil into packets, making a tight seal.
</li>
<li>
Grill packets 5&quot; from the heat, or bake until the fish is opaque in the center, 25-30 minutes.  Open the packets carefully when testing for doneness, as steam will escape.  Serve with the rice and drizzle with juices.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Because monkfish reminds us of the richness of lobster....&quot;the poor
</p>
<p>
  man&#39;s lobster&quot;.....it is perfect for this dish.  However, another
</p>
<p>
  firm-fleshed fish can be substituted; like sea bass.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Great Cooking Every Day&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Culinary Institute of America
</p>
</div></body>
