<head>
<title>Thai Curried Shrimp</title>
</head>
<body>
<h1>Thai Curried Shrimp</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 tablespoons oil
</li>
<li>
6 cloves garlic, minced
</li>
<li>
1 1/2 lbs. shrimp, shelled, deveined
</li>
<li>
2 teaspoons curry powder
</li>
<li>
4 tablespoons fish sauce
</li>
<li>
2 tablespoons oyster sauce
</li>
<li>
3 tablespoons sugar
</li>
<li>
1/2 cup green bell pepper, slivered
</li>
<li>
1/2 cup red bell pepper, slivered
</li>
<li>
1/2 cup Thai basil
</li>
<li>
1/2 cup onions, sliced
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat large skillet and add oil, garlic and shrimp.  Saute for 1 minute.  Add all the rest of the ingredients and cook for 2 minutes.  Serve with jasmne rice.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Thailand, The Beautiful Cookbook&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
