<h1>Thai Chicken &amp; Coconut Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup olive oil
</li>
<li>
1/2 stick butter
</li>
<li>
4 stalks lemon grass, chopped
</li>
<li>
6 shallots, finely chopped
</li>
<li>
4 cloves garlic, crushed
</li>
<li>
2 bunches scallions, finely chopped
</li>
<li>
2 tablespoons thyme leaves
</li>
<li>
2 tablespoons rosemary leaves
</li>
<li>
1 tablespoon peanut butter
</li>
<li>
2 cups coconut milk
</li>
<li>
5 cups chicken stock
</li>
<li>
1 cup white wine
</li>
<li>
1 cup heavy cream
</li>
<li>
3 cups dried shitake mushrooms, reconstituted, chopped
</li>
<li>
4 jalapeno chiles
</li>
<li>
2 cups bean sprouts
</li>
<li>
8 chicken breasts, skinned, poached and diced
</li>
<li>
1 bunch cilantro, chopped for garnishing
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat 2 tablespoons of oil with the butter in a large pot over low heat.  Add lemon grass, shallots, garlic, scallions, thyme and rosemary and cover and sweat 3-4 minutes.  Add peanut butter and stir until smooth.
</li>
<li>
Pour in the coconut milk, bring to a boil and simmer until reduced by half.  Add the chicken stock and wine and return to a boil, then pour in the cream.  Remove from the heat and let it cool.  Puree the soup and pass through a fine sieve.
</li>
<li>
Rinse the pot, then heat the remaining olive oil over low heat.  Add the shitake mushrooms, chiles and bean sprouts.  Cover and sweat for 3-4 minutes.  Add the soup and chicken breast and heat through gently.
</li>
<li>
Serve with cilantro.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Gallaghar
</p>
</body>
