<h1>Thai Curry Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 ounces coconut milk
</li>
<li>
2 1/2 tablespoons brown sugar
</li>
<li>
2 1/2 tablespoons orange juice concentrate
</li>
<li>
1 tablespoon red Thai curry paste
</li>
<li>
1/4 cup heavy cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
In a blender or food processor, combine coconut milk, brown sugar, orange juice concentrate and curry paste.  Cook over medium high heat, stirring in the heavy cream.  Reduce the mixture by half.  If you want spicier, add more curry paste...if milder add more cream.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Serve with Coconut Curry Prawns and Jasmine Rice&quot;
</p>
<p>
SERVINGS: 2
</p>
</body>
