<h1>Thai Mango Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 red chiles, slivered
</li>
<li>
4 firm mangos, peeled and julienned
</li>
<li>
1 red onion, thinly julienned
</li>
<li>
Garnish:
</li>
<li>
2 shallots, sliced into rings and fried
</li>
<li>
6 cloves garlic, sliced and fried
</li>
<li>
Dressing:
</li>
<li>
2 lemons, juiced
</li>
<li>
2 tablespoons fish, sauce
</li>
<li>
2 teaspoons sugar
</li>
<li>
2 tablespoons fried garlic and fried shallot oil, reserved from above.
</li>
</ul>
<h2>Method</h2><ul>
<li>
In large bowl, combine mangos, red onion and chiles.
</li>
<li>
Prepare garnish and reserve oil for dressing.
</li>
<li>
Dressing:  Whisk lemon juice, fish sauce and sugar and slowly drizzle in oil to create an emullsion.
</li>
<li>
Carefully toss salad together with dressing without breaking up the mango strips and let set for 10 minutes before serving on a platter.  Garnish with fried shallots and fried garlic.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
</body>
