<h1>The Best Biscuits</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups flour
</li>
<li>
4 1/2 teaspoons baking powder
</li>
<li>
1 1/2 teaspoons salt
</li>
<li>
12 tablespoons butter, cold
</li>
<li>
3/4 cup milk or cream, more or less
</li>
</ul>
<h2>Method</h2><ul>
<li>
Preheat oven to 425 degrees.  Mix dry ingredients.  Cut up butter and blend into flour mixture with a pastry blender until mixture looks like ground meal.  Add milk, enough to pull mixture together and hold together (the mixture should be doughy and not wet, wet).  Knead on floured board and flatten to 1/2&quot; circle.  Cut with 2&quot; round cutter.  Place on ungreased cookie sheet and bake for 10-12 minutes until golden.
</li>
<li>
***To make APPLE CHARLOTTE CINNAMON BISCUITS:  Add to dry ingredients ADD 1/4 cup sugar; decrease milk or cream to 1/2 cup and ADD one egg slightly beaten.  Roll out dough to about 1/4&quot; and spread with soften butter, sugar and cinnamon.  Roll up &quot;jelly-roll&quot; fashion and cut into about 16 equal pieces and place in greased oblong pan.  Cook at 400F for about 15-20 minutes.  Ice with a mixture of 1 Cup powdered sugar and 3 tablespoons of cream or milk with a 1/2 teaspoon of vanilla.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
Serving Ideas : Makes any meal special!NOTES :  This biscuit is unbelievable, rich and almost dessert-like!  You will love them...hot with jam or honey...believe me, they don&#39;t even need a pat of butter as they are full of it!
</p>
<p>
CHEF&#39;S TRICK...Don&#39;t use old baking powder, ever!  To check if it still has it potency, drop 1/2 teaspoon into a glass of warm water, if the baking powder foams to the top, it is still active.
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
