<h1>The Most Unbelievable Vanilla Ice Cream</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 cups sugar
</li>
<li>
1/2 cup flour
</li>
<li>
4 cups milk
</li>
<li>
2 quarts heavy cream
</li>
<li>
8 eggs, slightly beaten
</li>
<li>
3 tablespoons vanilla
</li>
<li>
1 tablespoon almond flavoring
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Combine sugar, flour and salt in a large saucepan; stir in milk.  Cook, stirring constantly, over medium heat, until mixture thickens and bubbles one minute.
</li>
<li>
Stir half the hot mixture slowly into beaten eggs in a medium-size bowl; stir back into remaining mixture in saucepan  (If you don&#39;t do this, you&#39;ll scramble the eggs).  Cook, stirring, one minute.
</li>
<li>
Pour into a large bowl; stir in cream and vanilla and almond flavoring.  Chill overnight.
</li>
<li>
Pour mixture into a 6+ quart freezer can; freeze following manufacturer&#39;s directions.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : Delicious all on its own...very rich!NOTES : This is the ice cream we have made for years...I use to make it with all cream (half &amp; half in place of milk).   Believe me, you don&#39;t need it.  This is incredibly creamy.
</p>
<p>
It has 323 calories in just a half cup with 66% from fat!!!
</p>
<p>
Holy Moses....
</p>
<p>
But you won&#39;t be able to eat any more than a half cup.
</p>
<p>
SERVINGS: 24
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
