<h1>The Ultimate Burger</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 strips bacon
</li>
<li>
1 cup white bread, 1/2&quot; cubes
</li>
<li>
1/4 cup milk
</li>
<li>
1 1/2 lbs. ground beef
</li>
<li>
1 teaspoon salt
</li>
<li>
1/2 teaspoon pepper
</li>
<li>
3 cloves garlic, minced
</li>
<li>
vegetable oil for grill
</li>
</ul>
<h2>Method</h2><ul>
<li>
Fry bacon until crisp.  Reserve 3 tablespoons bacon fat and place in frig to cool.
</li>
<li>
Add milk to bread in bowl and allow to sit about 5 minutes until saturated.  Mash the mixture with a fork until it turns to a smooth paste.  
</li>
<li>
Break up the beef into small pieces in a bowl.  Season with s/p and add garlic, bread and reserved bacon fat.  Lightly knead with hands until cohesive mass.  Divide into 4 equal pieces.  Using hands toss each portion of meat back and forth to form loose ball, then gently flatten into a 3/4&quot; patty.
</li>
<li>
Oil cooking grill and grill over very hot fire (don&#39;t press down) and sear well on both sides for 7-10 minutes.  Serve, topped with bacon.
</li>
</ul>
<h2>Notes</h2><p>
Source:
</p>
<p>
  &quot;Adapted from &quot;Cook&#39;s Country&quot;&quot;
</p>
<p>
SERVINGS: 4
</p>
</body>
