<head>
<title>The Widow&#39;s Frenchtown French Toast</title>
</head>
<body>
<h1>The Widow&#39;s Frenchtown French Toast</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
RECIPE INGREDIENTS
</li>
<li>
For the Batter:
</li>
<li>
1 quart eggnog
</li>
<li>
3 tablespoons cinnamon
</li>
<li>
1 teaspoon clove
</li>
<li>
1 teaspoon nutmeg
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1/2 teaspoon ground ginger
</li>
<li>
2 teaspoons Frangelica
</li>
<li>
1/4 cup Grand Marnier
</li>
<li>
Challah bread
</li>
<li>
Cooking spray
</li>
<li>
For the Topping:
</li>
<li>
1 pound fresh or frozen strawberries halves
</li>
<li>
2 tablespoons sugar
</li>
<li>
3 tablespoons Grand Marnier
</li>
<li>
DIRECTIONS
</li>
<li>
FOR THE TOPPING:
</li>
<li>
Mix the sugar and Grand Marnier together in a bowl, then add the strawberries. Refrigerate overnight.
</li>
<li>
Let stand for 30 minutes at room temperature prior to serving. Garnish with powdered sugar.
</li>
<li>
FOR THE BATTER:
</li>
<li>
Whisk batter ingredients until a batter is formed. Soak thick slices of Challah bread into batter.
</li>
<li>
Sear both sides of the bread in a non-stick pan treated with cooking spray.Preheat oven to 350 degrees F and bake bread on a cookie sheet for ten minutes.
</li>
<li>
Serve with a combination of the warmed strawberry topping and hot maple syrup.
</li>
<li>
Recipe reprinted by permission of Widow McCrea House, NJ. All rights reserved.
</li>
</ul>
<h2>Notes</h2><p>
Date Added: 01/01/2008SOURCE: Widow McCrea House, N.J.
</p>
</body>
