<h1>Thousand Island Dressing</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup mayonnaise
</li>
<li>
1/4 cup chili sauce
</li>
<li>
1/4 cup Italian parsley, minced
</li>
<li>
1 tablespoon red bell pepper, minced
</li>
<li>
1 tablespoon onion, minced
</li>
<li>
1 hard-cooked egg, finely chopped
</li>
<li>
1/4 teaspoon hot pepper sauce
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix all ingredients, cover and chill.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Easy to make and delicious for your salad (and hamburgers)...Your
</p>
<p>
  family will love this!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
