<h1>Three Layer Chocolate Cake with Blackout Filling</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Three-Layer Chocolate Cake with Blackout Filling
</li>
<li>
Created by Naomi Josepher &amp; Jon Payson
</li>
<li>
 
</li>
<li>
Naomi Josepher and Jon Payson, co-owners of the Brooklyn dessert caf&Atilde;&copy; the Chocolate Room, serve their cake with a glass of Bonny Doon Framboise, a liqueur made from raspberries.
</li>
<li>
Ingredients:Makes 1 three-layer 9-inch cake
</li>
<li>
Filling:
</li>
<li>
1/2 cup plus 1 tablespoon granulated sugar
</li>
<li>
1 teaspoon corn syrup
</li>
<li>
2/3 cup cocoa powder , sifted
</li>
<li>
3 tablespoons cornstarch
</li>
<li>
2 tablespoons butter , softened
</li>
<li>
1/4 teaspoon vanilla extract
</li>
<li>
Frosting:
</li>
<li>
13 tablespoons (1 stick plus 5 tablespoons) butter
</li>
<li>
6 ounces semisweet chocolate (60 percent)
</li>
<li>
3 1/2 ounces unsweetened chocolate
</li>
<li>
3/4 cup granulated sugar
</li>
<li>
Pinch salt
</li>
<li>
5 large eggs
</li>
<li>
Cake:
</li>
<li>
16 tablespoons (2 sticks) butter , softened
</li>
<li>
3 cups firmly packed dark brown sugar
</li>
<li>
4 large eggs
</li>
<li>
2 teaspoons vanilla extract
</li>
<li>
3/4 cup cocoa powder , sifted
</li>
<li>
1 tablespoon baking soda
</li>
<li>
1/2 teaspoon salt
</li>
<li>
3 cups cake flour (not self-rising)
</li>
<li>
1 1/2 cups sour cream
</li>
<li>
1 1/2 cups hot water
</li>
<li>
To make filling: In a small saucepan, combine sugar, corn syrup, cocoa powder, and 1/2 cup water. Bring to a boil over medium-high heat, whisking occasionally to prevent scorching. Meanwhile, in a separate small bowl, combine cornstarch and 2 tablespoons water. Remove boiling cocoa mixture from heat; whisk in cornstarch mixture.
</li>
<li>
Return saucepan to heat, and bring to a boil over medium heat, whisking constantly. Boil about 1 minute, until cornstarch is cooked and mixture is very thick.
</li>
<li>
Remove from heat. Stir in butter and vanilla. Pour into a shallow, heat-resistant bowl; immediately cover surface with plastic wrap to prevent film from forming. Cool completely, and refrigerate until firm, or overnight.
</li>
<li>
To make frosting: In a large glass bowl, combine butter and chocolates; heat in microwave (or on stovetop in a double boiler) until melted. Stir until thoroughly combined.
</li>
<li>
In a separate bowl, combine sugar and salt. In a medium saucepan, thoroughly whisk eggs; whisk in sugar mixture, combining thoroughly. Whisk in a scant 1/2 cup water, combining thoroughly; place over medium heat and bring to 160&Acirc;&deg; on a candy thermometer, whisking constantly to prevent sticking, but creating as little foam as possible.
</li>
<li>
Strain mixture through fine sieve into heat-resistant container. Whisk into chocolate mixture until thoroughly combined. Cool completely, then refrigerate until stiff enough to spread, or overnight.
</li>
<li>
To make cake: Preheat oven to 350&Acirc;&deg;. Grease three 9-inch round cake pans with butter; line bottoms with parchment paper, and butter the paper.
</li>
<li>
In a large bowl with an electric mixer, cream together butter and brown sugar on medium speed, about 5 minutes. In a separate bowl, combine eggs and vanilla; add to brown sugar mixture in two batches, mixing on medium speed until incorporated. Scrape bowl thoroughly; beat 1 minute on high speed.
</li>
<li>
Sift together cocoa powder, baking soda and salt; add to brown sugar mixture and beat on low speed until just combined.
</li>
<li>
Sift flour. Add 1 cup to batter and beat on low speed until just combined. Add 3/4 cup sour cream to batter; beat on low speed until just combined. Alternate adding flour and sour cream to batter until there&#39;s none left. With mixer still running on low, slowly add hot water, beating until just combined.
</li>
<li>
Scrape bowl thoroughly; beat batter on low speed about 20 seconds. Scrape bowl thoroughly once more, then divide batter evenly among the three pans, about 3 cups per pan. Bake 30 to 33 minutes, or until cake pulls away from sides of pan. Remove from oven. Cool layers in pans about 30 minutes, then remove from pans and cool completely on wire racks. Wrap in plastic and refrigerate up to one night before assembling.
</li>
<li>
To assemble, level cake layers by slicing off their tops. Place bottom layer on a serving platter cut side up. Spread 1/2 cup filling on top. Place middle layer cut side down on top of bottom layer. Spread remaining filling on top. Place top layer cut side down on top of middle layer. Spread top and sides of cake with frosting.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: Naomi Josepher &amp; Jon Payson
</p>
</div></body>
