<h1>Three-Color Poached Pears</h1>
<h2>Ingredients</h2>
<ul>
<li>
12 cups water
</li>
<li>
3 cups sugar
</li>
<li>
2 cups white wine
</li>
<li>
1/2 vanilla bean, split lenghwise
</li>
<li>
1/4 cup grenadine
</li>
<li>
1/2 lemon grated zest
</li>
<li>
1/2 lemon juice
</li>
<li>
3 cups fruity red wine
</li>
<li>
1/2 orange grated zest
</li>
<li>
1/2 orange juice
</li>
<li>
6 ripe Barlett or Bosc pears
</li>
</ul>
<h2>Method</h2><ul>
<li>
Arrange 3 saucepans on the stove.  In one, combine 4 cups water, 1 cup of the sugar, the white wine, and the vanilla bean.  In the next, combine 5 cups water, 1 cups of the sugar the grenadine, lemon zest and lemon juice.  In the last, combine 3 cups water, the remaining 1 cup of sugar, the red wine, orange zest and the orange juice.  Bring them al to a simmer over medium=low heat, stirring occasionally.
</li>
<li>
Meanwhile, peel the pears and cut them in half from top to bottom.  Using a melon baller, scoop out the seed pocket.  Using a small knife, cut a shallow V down the center of the bear&#39;s cut face to remove the stem, strings and bud end.
</li>
<li>
Cut out 3 circles of wax paper the same size as the saucepans.  Place 4 pear halves in each saucepan and rest a wax paper circle directly on top of the pears.  Bring to a gentle simmer and simmer without stirring until tender, about 15 minutes.  When the pears can be pierced easily with a fork, they are done.  Turn off the heat and let cool in the liquid.  Serve at room temperature. (Or refrigerate in the liquid overnight to let the pears absorb even more color and flavor:  bring to room temperature before serving.  
</li>
<li>
To serve, arrange one pear half of each color in a spoke pattern on a white plate.  Drizzle a spoonful of the grenadine 
</li>
<li>
poaching liquid over the pears and serve.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a wonderful and refreshing dessert after a multi-course
</p>
<p>
  meal.&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Gale Gand
</p>
</body>
