<h1>Tiny Salmon Plate</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. salmon fillet, cut 1&quot; squares
</li>
<li>
1/4 cup olive oil
</li>
<li>
1 large shallot, minced
</li>
<li>
5 cloves garlic
</li>
<li>
3 long rosemary sprig, leaves removed, minced
</li>
<li>
1 teaspoon dijon style mustard
</li>
<li>
1 cup cherry tomatoes, cut in half
</li>
<li>
1/2 cup fresh Italian parsley, chopped
</li>
<li>
1/2 lemon, juiced
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat olive oil in saute pan.  Add shallot, cook until fragrant.  Add garlic, rosemary and  mustard and cook briefly until softened and fragrant. 
</li>
<li>
Add salmon and cook on medium high heat just until golden on one side.  Turn each over separately with tongs.  Cook this side.  
</li>
<li>
Add the cherry tomatoes and heat through.  Add parsley and a squeeze of lemon juice.  Serve at once with Italian bread and olives.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Perfect for an addition to antipasti platter or plate.&quot;
</p>
<p>
SERVINGS: 8
</p>
</div></body>
