<h1>Tiramisu</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 large egg yolks
</li>
<li>
5 tablespoons sugar
</li>
<li>
1 3/4 cups mascarpone cheese, chilled
</li>
<li>
1 3/4 cups heavy whipping cream, chilled
</li>
<li>
1/2 cup brewed strong espresso, room temperature
</li>
<li>
1/2 cup coffee-flavored liqueur
</li>
<li>
1 genoise or pound cake, sliced 1/4&quot; thick
</li>
<li>
Dutch processed cocoa
</li>
<li>
1 large glass bowl
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  In a mixer bowl, beat the yolks over a bain marie until slightly thickened....do not allow to scramble but allow to get as hot as possible without scrambling and remaining  at a custard state.
</li>
<li>
2.  Take the same mixer bowl and transfer to an electric mixer and beat until smooth and lemon colored....about 4 minutes.
</li>
<li>
3.  Add the mascarpone and beat until thickened and smooth....about 3 minutes.
</li>
<li>
4.  In another bowl with clean beaters, whip the cream until soft peaks form.  Fold the whipped cream into the yolk mixture until thoroughly blended.
</li>
<li>
5.  In a small bowl, stir together the espresso and liqueur.
</li>
<li>
6.  Begin assembling by arranging the sliced genoise on the bottom of the glass bowl in one layer after dribbling the espresso mixture on both sides of each strip.  Top with about a half inch of mascarpone mixture and proceed until you run out of either cake or
</li>
<li>
espresso mixture.  Top with the remaining mascarpone mixture and sprinkle cocoa over the top through a fine mesh sieve.
</li>
<li>
7.  Cover and chill for about 6 hours or up to 2 days before serving.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
NOTES : The literal translation for tiramisu is &quot;pick-me-up&quot;.....what a way to end a great Italian meal.
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Char
</p>
</div></body>
