<head>
<title>Toasted Coconut Custard Pie</title>
</head>
<body>
<h1>Toasted Coconut Custard Pie</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 pie shells
</li>
<li>
6 cups unsweetened coconut
</li>
<li>
4 cups milk
</li>
<li>
1 1/2 cups sugar
</li>
<li>
8 large eggs
</li>
<li>
4 teaspoons vanlla extract
</li>
<li>
6 tablespoons raw turbinado sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
Toast 2 cups of  the coconut in a 350F oven for 6-8 minutes, stirring a couple of times.
</li>
<li>
In a large sauce pan over low heat, heat the mil until bubbles appear.  Add the remaining untoasted coconut.  Remove from the heat and let cool completely.  Pour the mixture through a fne strainer into a bowl, pressing on the coconut to extract as much moisture as possible.
</li>
<li>
Heat the oven the 350F.  Whisk together the eggs and sugar.  Then whisk in the milk the toasted coconut and the vanilla.  Pour the mixture into the prepared pie shells.  Bake for 35-45 minutes until the filling is set but not overcooked.  The center should jiggle slightly.  Let cool on a rack and then refrigerate for 4 hours.
</li>
<li>
Just before serving, preheat the broiler and sprinkle the top of the pie evenly with the sugar.  Broil until the sugar has melted for 1-2 minutes.  Allow sugar to cool slightly before serving.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;2 pies&quot;
</p>
<p>
SERVINGS: 16
</p>
<p>
SOURCE: Adapted from Bobby Flay
</p>
</body>
