<head>
<title>Tofu Chocolate Almond Mousse</title>
</head>
<body>
<h1>Tofu Chocolate Almond Mousse</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 1/2 lbs. tofu
</li>
<li>
1/2 cup sugar
</li>
<li>
1/2 cup unsweetened cocoa
</li>
<li>
1 teaspoon almond extract
</li>
<li>
1/4 cup slivered almonds, toasted
</li>
</ul>
<h2>Method</h2><ul>
<li>
In a food processor, puree the tofu until smooth.  Add the sugar, cocoa, and almond extract and continue to process until thoroughly combined.
</li>
<li>
Pour the mixture into an airtight container and chill for 2 hours.  Serve in individual dessert dishes and garnish with almonds.
</li>
<li>
This will keep wrapped in the refrigerator for 1 week.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;You will not know the difference from the real thing.&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;Soy Desserts&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Patricia Greenberg
</p>
</body>
