<h1>Tofu Stir Fry</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Tofu Stir Fry
</li>
<li>
Make Martin Yan&#39;s stir fry sauce then.....
</li>
<li>
Marinade:
</li>
<li>
1	tablespoon Kikkoman soy sauce
</li>
<li>
1/2	tablespoon rice wine or dry sherry wine
</li>
<li>
1/2 tablespoon sugar
</li>
<li>
1 # Japanese tofu, pressed 15-20 minutes under weight to remove liquid, then cubed
</li>
<li>
1/2-1 cup cornstarch
</li>
<li>
1/4-1/2 cup canola oil
</li>
<li>
After removing liquid from tofu; mix with marinade mixture.  Allow to marinade while you cut up vegetables, about 5-10 minutes.  Heat 1/4 - 1/2 cup canola oil in a wok.  Place the tofu into a the 1/2 - 1 cup cornstarch in a bowl and toss with fingers, gently, so as not to break apart.  Place into the hot canola oil and deep fry until crispy golden brown.  Remove with slotted spoon, place on paper towel lined place,  and salt slightly.  Save to add to stir fry at end of stir fry when vegetables are about done.
</li>
<li>
Vegetables:
</li>
<li>
1/4 onion, slice very thin into half moons
</li>
<li>
1	garlic, minced
</li>
<li>
1&quot;	ginger,  minced
</li>
<li>
broccoli, chopped into 1&quot; pieces
</li>
<li>
red  bell peppers cut into julienne
</li>
<li>
sliced mushrooms
</li>
<li>
1 zucchini, cut into julienne
</li>
<li>
1/2 teaspoon red chile flakes (if desired)
</li>
<li>
(Any vegetables desired.)
</li>
<li>
2	tablespoon canola oil
</li>
<li>
Place wok on heat until smoking.  Add onion, cook 1 minute. Add garlic  &amp; ginger and cook 15 seconds.  Add the rest of the vegetables, a large spoonful or 2  of Martin Yans stir fry sauce, stir and cover with lid for about 3 minutes.   Add tofu and heat through.  Add more sauce if needed.  Serve with noodles (in this case, stir in at this time) or serve with rice. 
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 4
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
