<h1>Tofu Filling for Chile Rellenos</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
12 ounces silken tofu
</li>
<li>
1 teaspoon Mexican oregano
</li>
<li>
1/2 or to taste lemon, juiced
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1/4 cup cilantro, chopped
</li>
<li>
drizzle of olive oil
</li>
<li>
salt &amp; pepper to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
</ul>
<h2>Notes</h2><div id='notes'><p>
Fabulous alternative to cheese in chile rellenos.  Prepare as usual.SOURCE: Liza Mattana
</p>
</div></body>
