<h1>Tofu Pumpkin Pie</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 pie crust, baked for 8 minutes and cooled
</li>
<li>
1 1/2 pounds firm tofu
</li>
<li>
1 1/2 cups canned pumpkin
</li>
<li>
3/4 cup brown sugar
</li>
<li>
1 teaspoon ground cinnamon
</li>
<li>
1/2 teaspoon ground ginger
</li>
<li>
1/4 teaspoon ground nutmeg
</li>
<li>
1/4 teaspoon ground cloves
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Pre-bake the pie shells in tins at 425F for 8 minutes.  Cool.
</li>
<li>
Filling:
</li>
<li>
Place the tofu in blender or food processor and process until smooth.  Add pumpkin and seasonings and continue to blend until all mixed thoroughly.
</li>
<li>
Pour the mixture into the pie shell and bake for 1 hour.  Serve warm or at room temperature.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: Soy Desserts, Patricia Greenberg
</p>
</div></body>
