<head>
<title>Tomato Salad</title>
</head>
<body>
<h1>Tomato Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
7 medium tomatoes, diced
</li>
<li>
1 cup Italian parsley, coarsely chopped
</li>
<li>
2 jalapeno chile pepper, minced
</li>
<li>
2 teaspoons cumin
</li>
<li>
2 tablespoons white vinegar
</li>
<li>
2 tablespoons olive oil
</li>
<li>
black pepper
</li>
<li>
salt, if needed
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place chopped tomatoes in a colander and sprinkle with salt.  Toss and allow to drain for at least 30 minutes.
</li>
<li>
Mix the remaining ingredients in a bowl.    Add tomatoes and serve at room temperature.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A Morocan salad that we love!&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Saveur, 1998.
</p>
</body>
