<head>
<title>Tomato-Jalapeno Sauce (Salsa de Jitomate Cocida)</title>
</head>
<body>
<h1>Tomato-Jalapeno Sauce (Salsa de Jitomate Cocida)</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 lb. tomatoes, generous pound
</li>
<li>
2 fresh jalapeno chiles, stemmed
</li>
<li>
1 tablespoon corn oil, (or lard)
</li>
<li>
1/2 small white onion
</li>
<li>
1 1/2 cups chicken broth
</li>
<li>
salt to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Roast the tomatoes and chiles on a bking sheet 4 inches below a very hot broiler until blistered and blackened on 1 side, about 6 minutes, then use tongs or a spoon to turn them over and roast the other side.  Cool, then peel the tomatoes, collecting all the juices.  Roughly chop the ciles.  Coarsely puree the tomatoes with juices and the chiles in a food processor or blender.  Pulse the mixture only a few times leaving it quite chunky for huevos rancheros, for instance, or run the machine until the sauce is quite smooth if you&#39;re preparing, say enchiladas.`
</li>
<li>
In a medium deep, heavy skillet or medium-size (2-3 quart) saucepan heat the oil or lard over medium.  Add the onion and fry until browned, about 10 minutes.  Increase the heat to medium-high, and, when very hot, add the tomato-chile mixture.  Stir for 5 minutes or so as the mixture sizzles, darkens and thickens, then redue the heat to medium-low, stir in the broth and let the sauce cook at a gentle simmer for about 15 minutes, until beginning to thicken (though it shouldn&#39;t be as thick as spaghetti sauce).  Taste and season with salt and it&#39;s ready to use.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Perfect for huevos rancheros or enchiladas.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;4 cups&quot;SOURCE: Rick Bayless
</p>
</body>
