<h1>Tomato Habanero-Serrano Salsa (Pico de Gallo)</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 small red onion, finely chopped
</li>
<li>
2 tablespoons fresh lime juice
</li>
<li>
4 plum tomatoes, 1/4&quot; dice
</li>
<li>
1 fresh habanero chile (discard seed pod), finely diced
</li>
<li>
2 fresh serrano chile (discard seed pod), finely diced
</li>
<li>
12 large sprigs cilantro, chopped
</li>
<li>
1/2 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  After chopping the onion, rinse the onion in cold water, drain and cover in small bowl with lime juice.  Set aside.  
</li>
<li>
2.  Mix all the ingredients together and taste for desired salt and hottness. 
</li>
<li>
Note:  It is a good idea to wear gloves when dealing with the habanero.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Rick Bayless
</p>
</body>
