<h1>Tomato Sauce II</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 ounces bacon
</li>
<li>
8 ounces onion/md
</li>
<li>
8 ounces carrots/md
</li>
<li>
4 quarts tomatoes, canned or fresh, coarsely chopped
</li>
<li>
2 quarts tomato puree, canned
</li>
<li>
1 lb. ham bones or browned pork bones
</li>
<li>
Sachet:
</li>
<li>
2 cloves garlic, crushed
</li>
<li>
1 bay leaf
</li>
<li>
1/4 teaspoon thyme
</li>
<li>
1/4 teaspoon rosemary
</li>
<li>
1/4 teaspoon peppercorns, crushed
</li>
<li>
ks
</li>
<li>
sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Render the bacon in a heavy sauce pot, but do not brown it.
</li>
<li>
2.  Add the mirepoix and saute until slightly softened, but do not brown.
</li>
<li>
3.  Add the tomatoes and their juice, the tomato puree, bones and sachet.  Bring to a boil, reduce heat and simmer over very low heat for 1 1/2 - 2 hours until reduced to desired consistency.
</li>
<li>
4.  Remove sachet and bones.  Strain sauce or pass it through a food mill.
</li>
<li>
5.  Adjust the seasoning with ks and a little sugar.
</li>
<li>
SMALL SAUCES FOR TOMATO SAUCE I OR II...
</li>
<li>
PORTUGAISE:  Saute 4 oz onions, cut brunoise, in 1 oz oil.  Add 1# tomato concasse and 1 tsp crushed garlic.  Simmer until reduced by about one-third.  Add 1 qt Tomato Sauce I or II, adjust seasonings, and add 2-4 tbsp chopped parsley.
</li>
<li>
SPANISH:  Lightly saute in oil without browning:  6 oz onion/sd; 4 oz green pepper/sd; and 1 clove garlic, chopped fine.  Add 4 oz mushrooms/sl and saute.  Add 1 qt Tomato Sauce II and season to taste with ks, bp and hot red pepper sauce.
</li>
<li>
CREOLE:  Saute in oil:  4 oz onion/sd; 4 oz celery/sl; 2 oz green pepper/sd; 1 tsp chopped garlic.  Add 1 qt Tomato Sauce II, 1 bay leaf, pinch of thyme, 1/2 tsp grated lemon rind.  Simmer 15 minutes.  Remove bay leaf and season to taste with salt, pepper and cayenne.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 50
</p>
<p>
SOURCE: Gisslen Text
</p>
</body>
