<head>
<title>Tomatillo-Green Guacamole</title>
</head>
<body>
<h1>Tomatillo-Green Guacamole</h1>
<h2>Ingredients</h2>
<ul>
<li>
For 1 Cup Essential Roasted
</li>
<li>
Tomatillo-Serrano Salsa:
</li>
<li>
6 medium tomatillos, husked &amp; rinsed
</li>
<li>
2 serrano chiles
</li>
<li>
1 large clove garlic, unpeeled
</li>
<li>
1/2 small white onion, finely chopped
</li>
<li>
1/4 cup cilantro, roughly chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
4              large  avocados -- ripe
</li>
<li>
  1           teaspoon  salt -- or to taste
</li>
<li>
Salsa:  Lay the tomatillos on a baking sheet and place 4 inches below a very hot broiler.  When the tomatillos blister, blacken and soften on one side, about 5 minutes, turn them over and roast the other side.  Cool.
</li>
<li>
Roast the chiles and garlic on an ungreased comal or cast iron skillet over medium heat, turning occasionally, until blackened in spots and soft, 5-10 minutes for the chiles, about 15 minutes for the garlic.  Cool, then pull the stems from the chiles and peel the garlic.
</li>
<li>
Combine the tomatillos, chiles and garlic in a food processor or blender.  Process to a coarse puree.  Transfer to a medium side bowl.  Scoop the onion into a strainer, rinse under cold water, shake off the excess and stir into the tomatillo mixture along with the cilantro.
</li>
<li>
Finishing the Guacamole:  Cut the avocados in half, running your knife around the pit from stem to blossom end and back up again, twist the halves in opposite directions to free the pits and pull the halves apart.  Scoop out the pits.  With a soup spoon, scoop out the avocado flesh.  Place in a medium-size bowl.
</li>
<li>
Mash the avocados with a large fork or potato masher.  Stir in the salsa, then taste and season with salt.  Cover with plastic wrap pressed directly on the surface of the guacamole.
</li>
<li>
Advance Preparation:  The salsa can be made 2 days ahead, but don&#39;t add onion and cilantro until using.  Finished guacamole keeps, covered and refrigerated, up to 5 hours.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;2 tablespoons&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Rick Bayless
</p>
</body>
