<head>
<title>Tomato &amp; Fennel Soup</title>
</head>
<body>
<h1>Tomato &amp; Fennel Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 large leek
</li>
<li>
1 large fennel bulb, stalks &amp; leaves removed
</li>
<li>
2 tablespoons extra virgin olive oil
</li>
<li>
2 cups chicken stock, or vegetable stock (homemade)
</li>
<li>
2 lbs. vine-ripened tomatoes, about 6; peeled, seeded and coarsely chopped
</li>
<li>
3/4 teaspoon salt
</li>
<li>
2 tablespoons French tarragon leaves, coarsely chopped
</li>
<li>
pepper, freshly ground
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cut the deep green part off the leek and split the remaining portion lengthwise in half, keeping the roots attached so that the layers do not fall apart and wash throughly.  Thinly slice into half circles.  Cut the fennel bulb in half and slice it 1/4&quot; thick.
</li>
<li>
Heat the olive oil in a saucepan over medium heat.  Add the leek and cook, stirring often, until it is softened and translucent but not browned.  Add the fennel, stock, tomatoes and salt.  Bring the soup to a boil, reduce the heat to low, ocver and simmer gently until the fennel is very soft, about 30 minutes.  Add the tarragon.
</li>
<li>
Transfer the soup to a food processor, filling it no more than half full and pulse until the soup is partially pureed but still has some texture.  Return the soup to the saucepan and reheat if necessary.  Taste and season with pepper and additional salt if needed.  Top with a dollap of plain yogurtif desired and a sprig of fennel fern.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;What a fabulous soup when tomatoes are being harvested&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;The Herbfarm Cookbook&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Jerry Traunfeld
</p>
</body>
