<h1>Tomato Couscous Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups couscous
</li>
<li>
salt
</li>
<li>
3 cups boiling water
</li>
<li>
2 tablespoons olive oil
</li>
<li>
2 cups diced tomato, 1/4&quot; dice
</li>
<li>
1 cup parsley, chopped
</li>
<li>
4 tablespoons fresh lemon juice
</li>
<li>
4 dashes Tabasco sauce
</li>
<li>
1 cup Tomato Salad Dressing
</li>
</ul>
<h2>Method</h2><ul>
<li>
Mix couscous with salt in a large bowl.  Add boiling water and oil.  Cover and allow to stand for about 10 minutes.
</li>
<li>
Fluff the couscous with a fork and add tomato, parsley, and 2 tablespoons of the lemon juice, Tabasco and dressing.  Stir gently with fork.  Taste and correct seasonings.
</li>
<li>
Can be made up to 3 hours in advance of serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
</body>
