<head>
<title>Tomato Rice Soup</title>
</head>
<body>
<h1>Tomato Rice Soup</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
4 tsp olive oil
</li>
<li>
1 C diced onion
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1 small carrot, diced
</li>
<li>
1 small celery rib, diced
</li>
<li>
8 lrg tomatoes, 16 small tomatoes, or 1 28oz can (not juice)
</li>
<li>
6 C chicken broth
</li>
<li>
1/4 C uncooked rice, or 1/2 C rice if using fresh tomatoes
</li>
<li>
2 T tomato paste
</li>
<li>
1 T worchestershire sauce
</li>
<li>
1/2 tsp dried thyme
</li>
<li>
1/4 tsp pepper
</li>
<li>
tobasco and salt to taste
</li>
<li>
Saute onion, garlic, carrot, celery in olive oil till tender. add
</li>
<li>
tomatoes, broth and remaining ingredients. simmer for 30 minutes. let
</li>
<li>
cool 10 minutes. use hand blender to achieve desired consistency.
</li>
</ul>
<h2>Notes</h2><p>
that&#39;s it!SOURCE: Hearty soups &amp; Stews
</p>
</body>
