<h1>Tomato Sauce I</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 ounces salt pork, diced
</li>
<li>
2 ounces butter
</li>
<li>
4 ounces onion/md
</li>
<li>
2 ounces carrot/md
</li>
<li>
2 ounces celery/md
</li>
<li>
4 ounces bread flour (or comb. brd/pastry)
</li>
<li>
1 1/2 quarts white stock
</li>
<li>
2 quarts tomatoes, canned
</li>
<li>
2 quarts tomato puree, canned
</li>
<li>
Sachet:
</li>
<li>
1 bay leaf
</li>
<li>
2 cloves garlic, crushed
</li>
<li>
1/4 teaspoon thyme
</li>
<li>
1/2 teaspoon peppercorns, crushed
</li>
<li>
ks
</li>
<li>
1 tablespoon sugar
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  In a heavy saucepan over medium heat, saute the salt pork in butter until partially rendered.
</li>
<li>
2.  Add the mirepoix and saute until slightly softened.
</li>
<li>
3.  Add the flour, stir to make a roux, and cook until the roux is just lightly browned.
</li>
<li>
4.  Slowly add the stock, while stirring and bring to a boil.  Add the tomatoes and tomato puree and again bring to a boil.  Reduce heat to a simmer.
</li>
<li>
5.  Add the sachet.  Simmer over very low heat for 1-1 1/2 hours until sauce is reduced to desired consistency.
</li>
<li>
6.  Remove sachet and strain sauce or pass through a food mill.  Season to taste with ks and sugar.
</li>
<li>
SEASONED TOMATO PUREE:  Prepare as in baic recipe, but omit flour, use only 1 1/2 pints stock and reduce to desired thickness.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Tomato Sauce scorches easily, so heat must be very low.  The sauce may be cooked in a slow oven (300F) loosely covered to reduce the danger of scorching.
</p>
<p>
SERVINGS: 50
</p>
<p>
SOURCE: Gisslen Text
</p>
</body>
