<head>
<title>Tomato &amp; Red Bell Soup with Basil Pesto</title>
</head>
<body>
<h1>Tomato &amp; Red Bell Soup with Basil Pesto</h1>
<h2>Ingredients</h2>
<ul>
<li>
30 roma tomato, or 4 lg. cans organic tomatoes,drained
</li>
<li>
6 medium red bell pepper
</li>
<li>
3 small red chiles, seeded and chopped
</li>
<li>
salt and pepper, to taste
</li>
<li>
3 cloves garlic, finely chopped
</li>
<li>
3 tablespoons red wine vinegar, or to taste
</li>
<li>
4 cups vegetable stock
</li>
<li>
1 tablespoon pesto sauce, made with 4 handfuls fresh basil leaves and 1 cup of olive oil
</li>
</ul>
<h2>Method</h2><ul>
<li>
If using fresh tomatoes, blanch in boiling water and then plunge into ice cold water to skin.  Squeeze out seeds.
</li>
<li>
Grill the peppers until they are black; place in covered bowl to sweat and then peel.  Finely chop.
</li>
<li>
 Place the chopped bells in a large saute pan with 4 tablespoons of olive oil with the red chile peppers.  Add a bit of salt. and cook briefly.  Add garlic and cook a couple of minutes.  Add tomatoes with a touch more salt and vinegar and cook for about 10 minutes.  Add stock and cook about 20 minutes or so. With a hand blender, puree briefly.  Leave some chunks.   Season to taste. 
</li>
<li>
In a food processor, puree the basil with a bit of salt.  Slowly drizzle the olive oil through the hole on top of the processor while it is running.  Add a bit more vinegar to taste.  Serve on top of soup.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adopted from Jamie Oliver
</p>
</body>
