<h1>Tordellis</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 cup &quot;Diego&quot; red wine
</li>
<li>
1 cup oil
</li>
<li>
1 cup water
</li>
<li>
1 1/2 cups sugar
</li>
<li>
3 eggs
</li>
<li>
3 teaspoons baking powder
</li>
<li>
1 teaspoon cinnamon
</li>
<li>
1 teaspoon salt
</li>
<li>
flour, approximately 7 cups
</li>
<li>
honey
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
In a large saucepan mix wine, oil, water, sugar and bring to a boil.  Allow to cool.
</li>
<li>
Add the remaining ingredients, adding enough flour to make a stiff dough (but not too stiff).  
</li>
<li>
Make 1&quot; balls and roll over a washboard.  Fry in hot oil.  Take out and drain briefly on paper towels and dip in hot honey.
</li>
<li>
Dip in hot honey, again, the next day!!   mmmmmm.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A family recipe of Jule Gerean (from Roasauers).  This is an Italian
</p>
<p>
  cookie.&quot;
</p>
</div></body>
