<h1>Torta della Nonna</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Thick Custard Filling:
</li>
<li>
4 cups milk
</li>
<li>
2/3 cup sugar
</li>
<li>
1/3 cup flour
</li>
<li>
8 large egg yolks
</li>
<li>
2 large whole eggs
</li>
<li>
1 teaspoon vanilla
</li>
<li>
orange skin
</li>
<li>
Crust or Cake:
</li>
<li>
2/3 cup flour
</li>
<li>
4 ounces butter
</li>
<li>
1/3 cup sugar
</li>
<li>
1 grated lemon
</li>
<li>
pinch salt
</li>
<li>
2 large eggs
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Boil milk with 1/2 sugar and all skin of the orange heating gently to about 120F.
</li>
<li>
Place the rest of the ingredients in a bowl and mix.  Slowly pour in the hot milk mixture tempering and cook in bain marie until thickened.
</li>
<li>
Crust:  Place flour and sugar in bowl.  Cut in butter.  Add grated lemon and salt.  Pour out on board, make well and add eggs working with hands and kneading until all comes together.  Roll out half of dough and prick and bake in 350F oven for 6-7 minutes.  Cool.  
</li>
<li>
Brush with egg &amp; water bath.  Add cream filling to top and spread top with slightly thicker topping of crust and seal around edge.  Bake at 350&quot; for 20 minutes.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Finally......my favorite dessert in Tuscany.&quot;SOURCE: Fattoria Medicea
</p>
</div></body>
