<h1>Tortilla Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
6 6&quot; tortillas
</li>
<li>
8 cups chicken stock
</li>
<li>
2 large onions, chopped
</li>
<li>
5 cloves garlic
</li>
<li>
1 cup tomato puree
</li>
<li>
4 tablespoons chopped cilantro
</li>
<li>
2 teaspoons cumin
</li>
<li>
2 teaspoons Mexican chili powder
</li>
<li>
2 whole bay leaves
</li>
<li>
1 teaspoon salt
</li>
<li>
2 4 ounce chicken breast, roasted or grilled
</li>
<li>
1/2 cup avocado, chopped
</li>
<li>
8 tablespoons cheddar cheese, grated
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat oven to 350F.  Thinly slice one of the tortillas; place on a baking sheet with the remaining tortillas.  Bake until crisp, about 10 minutes.  Crush the whole tortillas into small pieces.
</li>
<li>
Heat 2-3 tablespoons of the stock in a saucepan, then add the onion and garlic.  Cook until softened, about 2 minutes.  Add the remaining stock, the crushed tortillas, the tomato puree, cilantro, cumin, chili powder, bay leaves and salt.  Bring the mixture to a boil, reduce the heat and simmer 20 minutes.  Discard the bay leaves.   Puree the mixture with a hand blender.
</li>
<li>
Ladle the soup into 8 bowls; top each serving with equal amounts of tortilla stirips, chicken, avocado and cheese.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A wonderful spicy and delicious soup good anytime of year.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Weight Watchers
</p>
</div></body>
