<h1>Tort Orzechowy....Walnut Tort</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
12 large eggs, separated
</li>
<li>
1 cup sugar
</li>
<li>
1/2 lb. walnuts, finely ground
</li>
<li>
1/3 cup flour
</li>
<li>
1/2 teaspoon salt
</li>
<li>
fine dry breadcrumbs
</li>
<li>
3 tablespoons rum
</li>
<li>
Filling:
</li>
<li>
1 cup whipping cream
</li>
<li>
3/4 cup sugar
</li>
<li>
1/2 teaspoon vanilla
</li>
<li>
2 tablespoons rum
</li>
<li>
1 cup walnuts, finely ground
</li>
<li>
Frosting:
</li>
<li>
1 lb. unsalted butter
</li>
<li>
1 1/2 cups powdered sugar
</li>
<li>
2 large egg yolks
</li>
<li>
2 tablespoons instant coffee, dissolved in 3 tablespoons boiling water, cooled
</li>
<li>
1 1/2 cups walnut, coarsely chopped
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Beat egg yolks until thick and lemon colored.  Add sugar gradually, beating at high speed until mixture is very thick and piles softly.
</li>
<li>
Fold in ground walnuts and flour; mix thoroughly.
</li>
<li>
Beat egg whites with salt until stiff, but not dry, peaks form.  Fold beaten egg whites into egg yolk mixture.
</li>
<li>
Generously grease one 9&quot; springform pan.  Line with waxed paper.  Grease paper.  Coat with bread crumbs.
</li>
<li>
Turn batter into prepared pans.
</li>
<li>
Bake at 350F about 45-50 minutes.
</li>
<li>
Remove cake from pan.  Cool on racks 26 minutes.  Cut into  2 layers.  Sprinkle each layer with rum.  Cool completely.
</li>
<li>
Meanwhile, prepare filling and frosting.
</li>
<li>
Filling:  Whip whipping cream until it is very thick and piles softly.  Gradually beat in sugar and vanilla extract and rum.  Fold in 1 cup finely ground walnuts a small amount at a time until blended.
</li>
<li>
Frosting:  Cream the butter and sugar together until light and fluffy.  Beat in 2 egg yolks, 1 at a time.  Stir in dissolved coffee.  Continue to beat until the icing is creamy and thick.  Refrigerate about 15 minutes until firm enough to spread.
</li>
<li>
Spread filling over1 layer.  Set second layer on top.  Spread frosting over top and sides of torte.  Frosting is runny and will run down sides.  Let stand 30 minutes.  Pat chopped walnuts around sides of torte.  Refrigerate until service.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;I&#39;ve been making this cake since early in our marriage as a part of
</p>
<p>
  our Polish Dinners.&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1 cake&quot;SOURCE: Zyskowski Tradition
</p>
</div></body>
