<h1>Torta Barozzi</h1>
<h2>Ingredients</h2>
<ul>
<li>
1/2 cup blanched almond, toasted
</li>
<li>
2 tablespoons powdered sugar
</li>
<li>
3 tablespoons cocoa, not Dutch process
</li>
<li>
1 1/2 tablespoons butter
</li>
<li>
3 tablespoons flour
</li>
<li>
8 tablespoons unsalted butter, room temp
</li>
<li>
1/2 cup sugar + 2 tablespoons
</li>
<li>
3 1/2 tablespoons peanut butter, smooth
</li>
<li>
4 large eggs, separated
</li>
<li>
5 1/2 ounces bittersweet chocolate, melted and cooled
</li>
<li>
1/2 ounce unsweetened chocolate, melted and cooled
</li>
<li>
1 1/2 teaspoons dark rum
</li>
<li>
1 1/2 tablespoons instant espresso coffee granules, dissolved in 1 tablespoon boiling water
</li>
<li>
1 teaspoon vanilla
</li>
<li>
powdered sugar and cocoa for decorating
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine almonds, 2 tablespoons powdered sugar and 3 tablespoons cocoa in a food processor.  Process until almonds are a fine powder.
</li>
<li>
Butter the bottom and sides of an 8&quot; springform pan with 1 tablespoon of butter.  Line the bottom with parchment paper and use the other 1/2 tablespoon of butter to cover the parchment and sides of pan.  Sprinkle the 3 tablespoons of flour in the pan to dust, spilling out excess.
</li>
<li>
Preheat the oven to 375F and place the rack in the center of the oven.
</li>
<li>
Using an electric mixer with a paddle beater (or a hand mixer) beat the butter and sugar for about 8-10 minutes until very light and fluffy.  Scrape the bowl contents down periodically.  Still at medium speed, add peanut butter.  Add the eggs two at a time and mix at medium until smooth.  Reduce the mixer speed to medium low and add chocolate, rum, coffee water, vanilla.
</li>
<li>
Carefully fold in the almond mixture with a large spatula.
</li>
<li>
Whip the egg whites to stiff peaks.  Stir in about 1/4 of the egg white mixture to the chocolate mixture to lighten.  Carefully fold in the rest of the egg whites.  Place the batter in the prepared pan and place in oven.  Bake for 30 minutes.  Turn oven down to 325F and bake another 10 minutes or so until a pick inserted comes out with only a few small flecks.
</li>
<li>
Allow to cool on a rack for about 5 minutes.  Carefully cut around the outside of the cake with a sharp knife and continue to cool until service time.
</li>
<li>
Sprinkle powdered sugar and cocoa over all.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;First made in 1897 commeemorating the birthday of Renaissance
</p>
<p>
  architect Jocopo Barozzi (he invented the spiral staircase, afterall).
</p>
<p>
   There is much depate what really goes into this intriging cake all
</p>
<p>
  over Modena!&quot;
</p>
<p>
NOTES:
</p>
<p>
Serving Ideas : This cake is a labor of love....for YOU....I do this.  All it needs is a dusting of powdered sugar.  Love, Char
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Lynne Kasper
</p>
</body>
