<head>
<title>Torta della Ricotta</title>
</head>
<body>
<h1>Torta della Ricotta</h1>
<h2>Ingredients</h2>
<ul>
<li>
pastry dough (used in Torta della Nonna)
</li>
<li>
2 cups ricotta cheese
</li>
<li>
2 cups thick custard (Torta della Nonna recipe)
</li>
<li>
1 cup golden raisins, soaked in Grand Marnier and drained
</li>
<li>
4 seconds Grand Marnier
</li>
</ul>
<h2>Method</h2><ul>
<li>
Line pan with parchment paper.  Roll dough into pizza pan and trim around.
</li>
<li>
Spread custard mixture in pan on dough.  Top with bits of dough.  Cook in 350F oven until nicely golden.
</li>
</ul>
<h2>Notes</h2><p>
**Rice boiled in milk with ricotta, sugar and golden raisins is used as another filling.SOURCE: Fattoria Medicea
</p>
</body>
