<h1>Tourned Summer Squash</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Tourned zucchini
</li>
<li>
Tourned yellow squash
</li>
<li>
Butter
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Tourne zucchini and yellow squash with as much color and as little waste as possible;  making all same size.
</li>
<li>
2.  Cook both briefly in boiling water until cooked al dente.  Shock cold and hold.
</li>
<li>
3.  Before serving, toss in saute pan with butter to glaze, s/p.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Klaus Loos
</p>
</div></body>
