<h1>Traditional Chile Rellenos</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
12 chiles, California or pablano
</li>
<li>
1 lb. jack cheese or Mexican tofu cheese, sliced 1/8&quot; x 1&quot; x 1 1/2&quot; (approx.)
</li>
<li>
10 large eggs
</li>
<li>
10 tablespoons flour
</li>
<li>
salt, to taste
</li>
<li>
2 cups chicken or beef stock
</li>
<li>
2 cups chopped tomatoes
</li>
<li>
1 large onion, sliced
</li>
<li>
handful Mexican oregano
</li>
<li>
salt and pepper, to taste
</li>
<li>
1/2-1 cup fresh salsa
</li>
<li>
corn or canola oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Blacken chiles over open fire, grill or under broiler and sweat in bowl covered with plastic wrap until cool enough to handle. Peel, keeping whole and removing seeds where possible without tearing too much.  Lay out on sheet pan lined with parchment paper.  Cut each chile in half, length wise.
</li>
<li>
Fill each piece with 1-2 pieces of jack cheese or smooth with Mexican Tofu Cheese down one side.  Fold over.  Place on parchment lined sheet pan.  
</li>
<li>
Meanwhile, place stock in pan and add tomatoes, onions and season with oregano, salt and allow to simmer gently.
</li>
<li>
Make batter by separating egg yolks from egg whites.  Beat whites until stiff.  Beat egg yolks until light yellow.  Then alternately fold in egg yolks and flour in fourths folding after each addition of both until all in incorporated.  Should still be fluffy.
</li>
<li>
Heat oil to a depth of about 1/4&quot; in large saute pan.  Dip stuffed chiles into batter and gently lay in hot oil, leaving plenty of room around chiles to turn.  Complete this process with each chile and after browning on each side, remove to paper towels to absorb some of the oil.
</li>
<li>
When you are finished with the chiles, place them gently in one layer in a large ovenproof pan.  Keep hot in a 200F oven.
</li>
<li>
Finish the sauce with the fresh salsa to taste.
</li>
<li>
Serve the rellenos with the sauce and sour cream if desired.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This is a recipe I received as a young bride from one of my
</p>
<p>
  Mexican-American friends in Southern California...Still remains a
</p>
<p>
  favorite.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Traditional
</p>
</div></body>
