<h1>Triple Caramel Cake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 cups heavy cream
</li>
<li>
2 1/2 cups sugar
</li>
<li>
1 1/2 sticks butter, at room temperature
</li>
<li>
4 large eggs, at room temperature
</li>
<li>
2 cups unbleached flour
</li>
<li>
1 1/2 teaspoons baking powder
</li>
<li>
pinch salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Slowly bring 2 cups of the cream to a boil in a medium saucepan.  Reduce the heat and keep at a bare simmer.
</li>
<li>
Put 1 cups of the sugar in a heavy medium saucepan over medium heat.  Leave undisturbed until the sugar begins to melt and darken.  Gently shake the pan to distribute the sugar and to keep it from burning.  When all has melted and the caramel is a very dark amber, remove from the heat.  Carefully add the hot cream, stirring constantly with a wooden spoon.  Don&#39;t worry if the caramel hardens; it will melt as the sauce boils.  Return the pan to the heat and keep the sauce at a gentle boil for about 5 minutes, stirring constantly.  Set aside for at least 30 minutes, stirring often, until the sauce is cool.  Measure 1 cup of the caramel to add to the cake batter and refrigerate the rest.
</li>
<li>
Place a rack in the lower third of the oven and preheat to 325F.  Grease and flour a 12 cup bundt pan.
</li>
<li>
Cream the butter and remaining 1 1/2 cups sugar in a large bowl with an electric mixer until fluffy.  Add the eggs 1 at a time, beating until each one is incorporated before adding the next.  Sift together the flour, baking powder and salt into a bowl.  Gently but thoroughly fold the dry ingredients into the butter mixture alternately with the reserved 1 cup caramel, beginning and ending with the dry ingredients.
</li>
<li>
Pour the batter into the prepared pan and bake until a skewer inserted in the center comes out clean, 35-40 minutes.  Cool on a wire rack for about 10 inutes and then unmold and cool completely on the rack.  Bring the remaining caramel sauce to room temperature.  When the cake is cool, glaze it by drizzling half of the remaining caramel sauce over the top.
</li>
<li>
Whip the remaining 1 cup cream until it holds firm peaks.  Fold in the last third of the caramel gently, leaving streaks visible.  Serve with the cake.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Fine Cooking
</p>
</div></body>
