<h1>Triple Chocolate &quot;Mess&quot;</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 box devil&#39;s food cake mix
</li>
<li>
1 small box chocolate instant pudding and pie filling
</li>
<li>
1 pint sour cream
</li>
<li>
1 small bag chocolate chips
</li>
<li>
1/4 cup vegetabe oil
</li>
<li>
4 large eggs
</li>
<li>
1 cup water
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Spray crockpot with nonstick cooking spray.  Mix all ingredients until smooth and pour into crockpot.  Cook on low for 6-8 hours.
</li>
<li>
Serve with ice cream in bowls.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Source:
</p>
<p>
  &quot;Spokesman Review March 7, 2007&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Susan Dillard, Oldtown, ID
</p>
</div></body>
