<h1>Tripes a la Nicoise</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 lbs. beef tripe, cut into 2&quot; x 1/2&quot; strips
</li>
<li>
1/4 cup white vinegar
</li>
<li>
1/4 cup extra virgin olive oil
</li>
<li>
4 cups dry white wine
</li>
<li>
10 tomatoes, peeled, seeded and roughly chopped
</li>
<li>
9 cloves garlic, chopped
</li>
<li>
4 medium onions, chopped
</li>
<li>
bouquet garni: thyme, parsley stems, bay
</li>
<li>
leaf
</li>
<li>
2 small red chiles, dried
</li>
<li>
salt and pepper, to taste
</li>
<li>
parmigiano-reggiano, freshly grated
</li>
</ul>
<h2>Method</h2><ul>
<li>
Rinse tripe in several changes of cold water.  Bring a large pot to boil and add vinegar.  Add the tripe and blanch for 20 seconds.
</li>
<li>
Heat oil in a large pot and add tripe.  Cook for a few minutes.  Stir in wine, tomatoes, garlic onions bouquet garni, chile and salt and pepper.
</li>
<li>
Cover and reduce heat to low.  Simmer for at least 8 hours.  Adjust seasoning and serve with grated parm.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Cook very long and slowly to tenderize.  Serve with polenta.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte Cooking Co.
</p>
</body>
