<head>
<title>Tropical Fruit Prawns w/Chile Tamarind Vinaigrette</title>
</head>
<body>
<h1>Tropical Fruit Prawns w/Chile Tamarind Vinaigrette</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 walnut size piece of tamarind pulp
</li>
<li>
2 tablespoons peanut oil
</li>
<li>
2 tablespoons palm sugar or maple syrup
</li>
<li>
1/4 cup orange juice
</li>
<li>
1 lb. medium size prawns, shelled &amp; deveined
</li>
<li>
4 Thai chiles, chopped
</li>
<li>
1 inch piece fresh ginger, peeled
</li>
<li>
1/4 cup peanut oil
</li>
<li>
2 tablespoons palm sugar or maple syrup
</li>
<li>
1/2 teaspoon soy sauce
</li>
<li>
2 tablespoons juice from pink grapefruit
</li>
<li>
3 tablespoons orange juice
</li>
<li>
1 mango, peeled, pitted and cubed
</li>
<li>
1/2 fresh pineapple, cubed
</li>
<li>
1 papaya, peeled, seeded, cut into thin strips
</li>
<li>
1 banana, peeled, cut in 1/2&quot; diag.sl
</li>
<li>
1 pomelo, peeled and cut into 1&quot; pieces
</li>
<li>
(can substitute 1/2 grapefruit)
</li>
<li>
2 star fruits, sliced
</li>
<li>
1/2 red pepper, diced
</li>
<li>
zest of one lime
</li>
<li>
1/2 cup Thai basil leaves, thinly cut
</li>
<li>
1/2 cup mint leaves, chopped
</li>
<li>
1/2 cup unsalted cashews
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Soak tamarind in 1/4 cup warm water to soften for 15-20 minutes, smashing the pulp between your fingers to aid in the softening.
</li>
<li>
2.  Pour this through a sieve, pressing the pulp against the side to extract.  Discard remaining pulp.
</li>
<li>
3.  Mix the peanut oil, palm sugar, and orange juice in a bowl.  Toss the prawns in the peanut oil mixture.  Thread them on skewers and grill over hot coals or under broiler for 2-3 minutes on each side, basting once with marinade.  Cool and reserve.
</li>
<li>
4.  Place the chile, ginger and palm sugar in the bowl of a food processor and pulse  some and then add the 1/4 cup peanut oil.  Process until minced.
</li>
<li>
5.  Stop the machine, add the citrus juices, soy and the strained tamarind juice.  Process for 15-20 seconds.  Reserve.
</li>
<li>
6.  Place all the fruits &amp; bell pepper in a bowl and add the reserved prawns, lime zest, basil and mint.  Drizzle with the dressing and gently toss to coat everything.  
</li>
<li>
7.  Chill for a t least 30 minutes and toss again, adding the cashews just before serving.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Here is an example of spicy hot Southeast Asian cooking with sweet, sour, cool and crunchy...all wrapped into one great salad.
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Chili Pepper Magazine, June, 1997
</p>
</body>
