<h1>Tropical Fruit Salsa</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1 mango*
</li>
<li>
1 papayas, peeled, seeded, dice*
</li>
<li>
1 fresh pineapple, peeled, smal dice*
</li>
<li>
3 Roma tomatoes, peeled, seeded, dice
</li>
<li>
1 small red or Spanish onion, small dice
</li>
<li>
2 jalapenos, seeded, minced
</li>
<li>
lime juice, fresh squeezed
</li>
<li>
3 tablespoons cilantro, chopped
</li>
<li>
2 tablespoons mint, chopped
</li>
<li>
Mix all fruit ingredients.  Taste for correct seasoning.  Enjoy on fish, pork, chicken or with tortilla chips.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
*Any one or all three of these fruits can be used depending on what is available.  SOURCE: Apple Charlotte
</p>
</div></body>
