<h1>Tropical Shake</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 medium banana, 1&quot;slices
</li>
<li>
2 teaspoons lemon juice
</li>
<li>
1 medium mango, peeled and chopped
</li>
<li>
1 1/2 cups pineapple-orange juice, chilled
</li>
<li>
1 cup nonfat vanilla yogurt
</li>
</ul>
<h2>Method</h2><ul>
<li>
Toss banana with lemon juice, drain reserving lemon juice.  Place banana slices on a baking sheet and freeze 1 hour and 30 minutes.
</li>
<li>
Process frozen banana slices, reserved lemon juice, mango, 1 1/2 cups pineapple-orange juice and yogurt in a blender until smooth, stopping to scrape down sides.  Pour into chilled glasses and serve immediately.
</li>
</ul>
<h2>Notes</h2><p>
Yield:
</p>
<p>
  &quot;5 cups&quot;
</p>
<p>
SERVINGS: 5
</p>
<p>
SOURCE: Southern Living
</p>
</body>
