<head>
<title>Tunnel of Fudge Chocolate Cake</title>
</head>
<body>
<h1>Tunnel of Fudge Chocolate Cake</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
From the episode: Super Fudgy Cake
</li>
<li>
Do not use a cake tester, toothpick, or skewer to test the cake-the fudgy interior won&#39;t give an accurate reading. Instead, remove the cake from the oven when the sides just begin to pull away from the pan and the surface of the cake springs back when pressed gently with your finger.
</li>
<li>
Serves 12 to 14.  
</li>
<li>
INGREDIENTS
</li>
<li>
Cake
</li>
<li>
3/4	cup Dutch-processed cocoa powder , plus extra for dusting pan
</li>
<li>
1/2	cup boiling water
</li>
<li>
2	ounces chopped bittersweet chocolate
</li>
<li>
2	cups all-purpose flour
</li>
<li>
2	cups pecans or walnuts, chopped fine
</li>
<li>
2	cups confectioners&#39; sugar
</li>
<li>
1	teaspoon salt
</li>
<li>
5	 large eggs , room temperature
</li>
<li>
1	tablespoon vanilla extract
</li>
<li>
1	cup granulated sugar
</li>
<li>
3/4	cup packed light brown sugar
</li>
<li>
2 1/2	sticks unsalted butter , softened
</li>
<li>
Chocolate Glaze
</li>
<li>
3/4	cup heavy cream
</li>
<li>
1/4	cup light corn syrup
</li>
<li>
8	ounces bittersweet chocolate , chopped
</li>
<li>
1/2	teaspoon vanilla extract
</li>
<li>
INSTRUCTIONS
</li>
<li>
1. For the cake: Adjust oven rack to lower-middle position and heat oven to 350 degrees. Grease 12-cup Bundt pan and dust with cocoa powder. Pour boiling water over chocolate in medium bowl and whisk until smooth. Cool to room temperature. Whisk cocoa, flour, nuts, confectioners&#39; sugar, and salt in large bowl. Beat eggs and vanilla in large measuring cup.
</li>
<li>
2. With electric mixer on medium-high speed, beat granulated sugar, brown sugar, and butter until light and fluffy, about 2 minutes. On low speed, add egg mixture until combined, about 30 seconds. Add chocolate mixture and beat until incorporated, about 30 seconds. Beat in flour mixture until just combined, about 30 seconds.
</li>
<li>
3. Scrape batter into prepared pan, smooth batter, and bake until edges are beginning to pull away from pan, about 45 minutes. Cool upright in pan on wire rack for 1 1/2 hours, then invert onto serving plate and cool completely, at least 2 hours.
</li>
</ul>
<h2>Notes</h2><p>
4. For the glaze: Cook cream, corn syrup, and chocolate in small saucepan over medium heat, stirring constantly, until smooth. Stir in vanilla and set aside until slightly thickened, about 30 minutes. Drizzle glaze over cake and let set for at least 10 minutes. Serve. (Cake can be stored at room temperature for up to 2 days.)SOURCE: Cooks Country
</p>
</body>
