<h1>Turkey Fazule</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 12-14 pound turkey carcass, add wing tips &amp; a leg or two (of the turkey)
</li>
<li>
1 large onion, diced
</li>
<li>
2 large carrots, diced
</li>
<li>
3 stalks celery, diced
</li>
<li>
2 branches fresh thyme , left whole
</li>
<li>
1-2 bay leaves
</li>
<li>
water, to cover all
</li>
<li>
1 pound mixed beans, like for &quot;Bean Soup&quot;, discard the &quot;flavor packet&quot;
</li>
<li>
turkey stock* to cover by 2&quot;
</li>
<li>
salt to taste
</li>
<li>
2-3 tablespoons extra virgin olive oil
</li>
<li>
1 large shallot, minced
</li>
<li>
1/3 cup fresh sage, rosemary, thyme leaves, equal amounts of each to equal 1/3 cup total
</li>
<li>
2 large carrots, quartered and sliced
</li>
<li>
2 stalks celery, cut in thirds lengthwise and sliced
</li>
<li>
7 cloves garlic, minced
</li>
<li>
1-2 cups mushrooms, sliced
</li>
<li>
1 16 ounce can of crushed tomatoes
</li>
<li>
2 cups turkey, cut in bite size pieces
</li>
<li>
4-6 cups turkey stock*
</li>
<li>
salt &amp; pepper to taste
</li>
<li>
8 ounces small elbow macaroni, cooked, strained, sprinkled with olive oil
</li>
<li>
Parmesan cheese, grated
</li>
</ul>
<h2>Method</h2><ul>
<li>
Turkey Stock:  Place all ingredients for the stock in a large stock pot and cover with water by 2&quot;.  Bring to a boil, lower to simmer and skim the scum (the dark bubbles that initially come to the top).  Allow to simmer for about 3-4 hours.  Start the beans after you get the turkey stock simmering away.....
</li>
<li>
Beans:  Pour the beans into a sauce pot and cover with water by 2&quot;.  Bring to a boil.  Turn off the heat, cover the pot,  and allow the beans to soak for at least one hour.  Drain the beans and rinse them.  Rinse out the pot.  Place the beans back into the sauce pot and strain some turkey stock that has been cooking over the beans to cover by 2&quot;.  Bring to a boil; turn down to a simmer and cook until beans are cooked through, testing by tasting a couple of beans every 45 minutes or so.  Add a little salt to taste when they are about half cooked through.  Cook until cooked through, but still slightly chewy.  When they are cooked through, they are ready to use in the soup.  Just turn off the fire and let them sit there looking happy and ready.
</li>
<li>
Back to Stock:  After 3-4 hours, pull out the large chunks of carcass and increase the heat under the stock to a low boil, allowing the stock to reduce to enrich it and make it taste even better!!  Just keep it at a low boil for up to an hour or until you are ready to make the soup....it&#39;s ready, you can use it at any point.  Don&#39;t let it go any longer than 45 minutes to an hour.  
</li>
<li>
Soup:  Heat a large soup pot over medium heat.  Add olive oil, shallot, herbs.  Cook until fragrant, about 2 minutes, being careful not to burn the shallot.  Add the carrots and celery and cook about  3-4 minutes adding a bit of salt and pepper.   Add the minced garlic and cook another 1-2 minutes being careful not to burn the garlic.  Add the mushrooms and cook briefly, about 5 minutes, allowing the mushrooms to take in the flavors in the pot.  With a slotted spoon, spoon the beans over the top of all the vegetables in the pot.  Use all the beans and discard the dark bean water.  Add the turkey and tomatoes.  Hold a strainer over the soup pot and pour enough stock into the pot to cover adequately (usually almost to the top in my 6 quart pot).  Salt and pepper to taste.
</li>
<li>
Cook the pasta.  Strain and drizzle with olive oil to keep it from sticking to itself.  Do not put it in the pot or it will become big and too soft.  Keep it in a separate bowl and place a couple of tablespoons of pasta in the bottom of the bowl before pouring the soup on top.  Top with a sprinkle of Parmesan cheese.
</li>
<li>
If you have any stock left, strain the rest of it and place into freezer containers.  It is wonderful and can be used in any recipe that calls for chicken stock.  Consider it &quot;liquid gold&quot;!
</li>
<li>
*Turkey Stock/Beans - This soup can be made by using chicken stock instead of turkey stock.  Also, if you want to use canned beans (strain and rinse first),  put them in in the last 10 minutes before serving.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 16
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
