<head>
<title>Turkey Breast in Bread Crust</title>
</head>
<body>
<h1>Turkey Breast in Bread Crust</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 turkey breast, shaped into &quot;tenderloin&quot;
</li>
<li>
Italian seasoning salt (recipe follows)
</li>
<li>
1 small pizza dough
</li>
<li>
Sauce:
</li>
<li>
2 ounces dried porcini mushroom, soaked, strained, save liquid
</li>
<li>
1/2 lb. additional fresh mushrooms: crimini,
</li>
<li>
portibello
</li>
<li>
olive oil
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1/2 bunch Italian parsley, chopped fine
</li>
<li>
1 cup red meat (pork, beef, lamb....your choice)
</li>
</ul>
<h2>Method</h2><ul>
<li>
Italian Seasoning Salt:  sea salt, pepper, fresh sage, fresh rosemary, garlic.  Mix together in food processor and dry on sheet pan overnight.  Place in jar and store in refrigerator.
</li>
<li>
Season turkey breast with seasoning salt.  Sear in hot olive oil until lightly golden.  Take out of pan and allow to cool a few minutes.  Roll in dough and place in oiled pizza pan.
</li>
<li>
Spray with water to keep crust from forming too quickly and place in preheated 350F oven for about 20-25 minutes.
</li>
<li>
Meanwhile make sauce.
</li>
<li>
Sauce:
</li>
<li>
Soak porcini mushrooms about 15 minutes in warm water and strain through cheesecloth, reserving liquid.
</li>
<li>
Place minced garlic and parsley in sauce pan with olive oil to perfume.  Chop mushrooms in julienne.  Add to mixuture in pan 
</li>
<li>
and cook until caramelized.  Add salt and pepper to taste and then add mushroom liquid to barely cover.
</li>
<li>
Add meat, bring to boil and simmer until cooked through about 25-30 minutes.
</li>
<li>
For turkey breast; it is done when the little loaf is hard to the tap and golden.  Slice and serve with sauce.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a simple but fabulous preparation of a turkey breast.  I
</p>
<p>
  would make a pizza dough for the exterior coating....though their
</p>
<p>
  recommendation was simply a mixture of H20 and water to a dough
</p>
<p>
  texture.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Fattoria Madicia
</p>
</body>
