<h1>Tuscan Duck</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 whole duck, washed inside &amp; out
</li>
<li>
Italian Seasoning: 1/4 c salt, 1 1/2 T
</li>
<li>
fresh ground pepper to taste,
</li>
<li>
1 tablespoon fresh chopped rosemary &amp; sage, 2
</li>
<li>
cloves
</li>
<li>
minced garlic, Dry on sheetpan on stove before using.
</li>
<li>
1/2 cup olive oil
</li>
<li>
2 cut up oranges, inside and out
</li>
<li>
3 cups white wine
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Pour a good amount of olive over duck, squeeze orange juice over and place cut up orange inside and out of duck.  Sprinkle liberly with your own Italian seasoning mix.  Place in roasting pan with leftover orange slices and place at 350F in oven to roast for about 1 1/2 hour total.  
</li>
<li>
Half way through cooking at about 45 minutes....pour 1-1 1/2 cups of dry white wine over all allow to roast a bit longer.
</li>
<li>
 Take the duck out when done and tent duck.  Take fat out of pan leaving duck juices and brown bits.  Add more wine and reduce to about half.  Add fresh orange juice and slight amount of flour.  Boil slightly for about 10 minutes and taste for salt and pepper in sauce.  Strain and serve with duck.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;This fabulous dish....much like the famous French Duck a l&#39;orange,
</p>
<p>
  has its own Tuscan touch in seasonings.&quot;
</p>
<p>
SERVINGS: 10
</p>
</div></body>
