<h1>Tuscan Balsamic Pork Loin  Steaks</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 1 1/2# pork loin steaks, or chops
</li>
<li>
olive oil
</li>
<li>
3 bay leaves
</li>
<li>
1/2 bottle pink peppercorns (about 2 tablespoons)
</li>
<li>
1 cup balsamic vinegar
</li>
<li>
salt to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
In pan place olive oil, bay leaves, pink peppercorns to perfume.
</li>
<li>
Add  pork steaks and salt.  Lightly cook both sides and add ~ 1 cup balsamic vinegar and complete cooking 6-7 minutes evaporating acid and integrating flavor of balsamic into meat.  Serve.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a wonderful and quick preparation of pork tenderloin.&quot;
</p>
<p>
SERVINGS: 8
</p>
</body>
