<h1>Twelve-Fruit Compote</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups water
</li>
<li>
1 lb. mixed dried fruit, inc. pears, figs,
</li>
<li>
apricots, and peaches
</li>
<li>
1 cup pitted prunes
</li>
<li>
1/2 cup raisins
</li>
<li>
1 cup pitted sweet cherries
</li>
<li>
2 apple, peeled and sliced
</li>
<li>
1/2 cup cranberries
</li>
<li>
1 cup sugar
</li>
<li>
1 lemon, sliced
</li>
<li>
6 whole cloves
</li>
<li>
2 3&quot; cinnamon sticks
</li>
<li>
1 orange
</li>
<li>
1/2 cup grapes or pomegranate seeds
</li>
<li>
1/2 cup fruit flavored brandy
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine water, mixed dried fruits, prunes and raisins in a 6-quart kettle.  Bring to boiling.  Cover; simmer about 20 minutes, or until fruits are plump and tender.  Add cherries, apples, and cranberries.  Stir in sugar, lemon and spices.  Cover; simmer 5 minutes.  Grate peel of orange; reserve.  Peel and section orange removing all skin and white membrane.  Add to fruits in kettle.  Stir in grapes and brandy.  Bring just to boiling.  Remove from heat.  Stir in orange peel.  Cover; let stand 15 minutes.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is a wonderful Christmas tradition at our house.  I usually serve it with the pierogi as a  second course to our Christmas meal after the Almond Soup.
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Culinary Arts Institute Polish Cookbook
</p>
</body>
