<h1>Ultimate Cinnamon Buns</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
From the episode: Rise and Shine
</li>
<li>
In step 2, if after mixing for 10 minutes the dough is still wet and sticky, add up to &Acirc;&frac14; cup flour (a tablespoon at a time) until the dough releases from the bowl. For smaller cinnamon buns, cut the dough into 12 pieces in step 3.
</li>
<li>
Makes 8 Buns.  
</li>
<li>
INGREDIENTS
</li>
<li>
Dough
</li>
<li>
3/4	cup whole milk , heated to 110 degrees
</li>
<li>
1	envelope (2 1/4 teaspoons) instant or rapid-rise yeast
</li>
<li>
3	large eggs , room temperature
</li>
<li>
4 1/4	cups all-purpose flour
</li>
<li>
1/2	cup cornstarch
</li>
<li>
1/2	cup granulated sugar
</li>
<li>
1 1/2	teaspoons salt
</li>
<li>
12	tablespoons (1 1/2 sticks) unsalted butter , cut into 12 pieces and softened
</li>
<li>
Filling
</li>
<li>
1 1/2	cups packed light brown sugar
</li>
<li>
1 1/2	tablespoons ground cinnamon
</li>
<li>
1/4	teaspoon salt
</li>
<li>
4	tablespoons unsalted butter , softened
</li>
<li>
Glaze
</li>
<li>
4	ounces cream cheese , softened
</li>
<li>
1	tablespoon whole milk
</li>
<li>
1	teaspoon vanilla extract
</li>
<li>
1 1/2	cups confectioners&#39; sugar
</li>
<li>
INSTRUCTIONS
</li>
<li>
1. For the dough: Adjust oven rack to middle position and heat oven to 200 degrees. When oven reaches 200 degrees, shut off. Line 13- by 9-inch baking pan with foil, allowing excess foil to hang over pan edges. Grease foil and medium bowl.
</li>
<li>
2. Whisk milk and yeast in liquid measuring cup until yeast dissolves, then whisk in eggs. In bowl of stand mixer fitted with dough hook, mix flour, cornstarch, sugar, and salt until combined. With mixer on low, add warm milk mixture in steady stream and mix until dough comes together, about 1 minute. Increase speed to medium and add butter, one piece at a time, until incorporated. Continue to mix until dough is smooth and comes away from sides of bowl, about 10 minutes. Turn dough out onto clean surface and knead to form a smooth, round ball. Transfer dough to prepared bowl, cover with plastic wrap, and place in warm oven. Let rise until doubled in size, about 2 hours.
</li>
<li>
3. For the filling: Combine brown sugar, cinnamon, and salt in small bowl. Turn dough out onto lightly floured surface. Following photos 1 and 2 in the related step-by-step, roll dough into 18-inch square, spread with butter, and sprinkle evenly with filling. Starting with the edge nearest you, roll dough into tight cylinder, pinch lightly to seal seam, and, following photo 3, cut into 8 pieces. Transfer pieces, cut-side up, to prepared pan. Cover with plastic wrap and let rise in warm spot until doubled in size, about 1 hour.
</li>
<li>
4. For the glaze and to bake: Heat oven to 350 degrees. Whisk cream cheese, milk, vanilla, and confectioners&acirc;&#128;&#153; sugar in medium bowl until smooth. Discard plastic wrap and bake buns until deep golden brown and filling is melted, 35 to 40 minutes. Transfer to wire rack and top buns with &Acirc;&frac12; cup glaze; cool 30 minutes. Using foil overhang, lift buns from pan and top with remaining glaze. Serve.
</li>
<li>
Make Ahead: After transferring pieces to prepared pan in step 3, buns can be covered with plastic wrap and refrigerated for 24 hours. When ready to bake, let sit at room temperature for 1 hour. Remove plastic wrap and continue with step 4 as directed.
</li>
<li>
Print
</li>
<li>
Email
</li>
<li>
Recipes
</li>
<li>
Better-Than-The-Box Pancake Mix
</li>
<li>
Hoppel Poppel
</li>
<li>
Equipment Reviews
</li>
<li>
Inexpensive Stand Mixers
</li>
<li>
Taste Tests
</li>
<li>
Maple and Pancake Syrup
</li>
<li>
1. Roll the dough into an 18-inch square on a lightly floured work surface.
</li>
<li>
2. Leaving a &Acirc;&frac12;-inch border around edges, spread the softened butter over the dough, sprinkle with the sugar mixture, and lightly press the sugar mixture into the dough.
</li>
<li>
3. Use a knife (or metal dough scraper) to cut the rolled log in half and then into 8 equal pieces.
</li>
</ul>
<h2>Notes</h2><p>
SOURCE: Cooks Country
</p>
</body>
