<h1>Upside Down Pear Cake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3/4 cup butter, softened &amp; divided
</li>
<li>
1/2 cup packed brown sugar, 4
</li>
<li>
4 pears, cored, peled and sliced 1/2&quot;
</li>
<li>
1 1/2 cups AP flour
</li>
<li>
2 teaspoons Rumsford baking powder
</li>
<li>
1/4 teaspoon salt
</li>
<li>
2/3 cup granulated sugar
</li>
<li>
1 teaspoon vanilla
</li>
<li>
2 large eggs
</li>
<li>
2/3 cup milk
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat to 350F.  Place 1/4 cup butter in 9&quot; cast iron or other oven proof skillet.  Melt butter in skillet over medium heat.  Stir in brown sugar.  Cook and stir until sugar is melted and bubbly.  Remove from heat.  Set aside and cool. Arrange pear slice in pan.
</li>
<li>
Combine flour, baking powder and salt.  Set aside.
</li>
<li>
In large bowl, beat remaining 1/2 cup butter with mixer on medium for 30 seconds.   Beat in grnulated sugaar until combined.  Beat in vanilla.  Add eggs, one at a time, beating after each addition.   Alternately add flour mixture and milk to butter mixture beating on low speed after each addition just until combined.  (batter may appear curdled).  Spread batter evemly over pears.
</li>
<li>
Bake 40-45 minutes or until pick comes out clean.  Cool on rack 5 minutes.  Loosen cake from pan and invert onto plate.  Serve with Poire Williams Cream.
</li>
<li>
Poire Williams Cream:
</li>
<li>
Beat 1 cup whipping cream until thickens.  Add 1 tablespoon Poire Williams or other pear brandy and 2 teaspoons sugar.  Beat on high speed until soft peaks form.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: Adapted from Traditional Home
</p>
</div></body>
