<h1>Vanilla Buttercream Frosting</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 sticks unsalted butter
</li>
<li>
3 cups powdered sugar, sifted
</li>
<li>
4 teaspoons vanilla extract
</li>
<li>
3 tablespoons beaten egg, or replace with milk
</li>
</ul>
<h2>Method</h2><ul>
<li>
Beat butter until fluffy.  Add sugar a little at a time until mixed in  and beat an additional 3 minutes, scraping down bowl occasionally.
</li>
</ul>
<h2>Notes</h2><p>
Add vanilla and egg and beat until fully 3-5 minutes.  SOURCE: Adapted from Cook&#39;s Illustrated
</p>
</body>
