<head>
<title>Vanilla Bean Ice Cream</title>
</head>
<body>
<h1>Vanilla Bean Ice Cream</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 cup half &amp; half
</li>
<li>
2 cups whipping cream
</li>
<li>
1/2 cup sugar
</li>
<li>
1 vanilla bean, scraped of beans; added to cream
</li>
<li>
6 large egg yolks
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place half &amp; half, and sugar with vanilla bean and scrapping of seeds in a small sauce pot.  Heat until sugar is dissolved.  Turn off heat and allow the vanilla bean to infuse the mixture for at least 10 minutes up to a half hour.  Return the heat to simmer. 
</li>
<li>
Meanwhile, whisk the egg yolks briefly, just to mix.  When the cream mixture comes to a simmer, pour half of the cream mixture into the egg yolks, whisking while you do this process.  (This is called &quot;tempering the eggs&quot;, so they will not scramble).
</li>
<li>
Return the egg and cream mixture to the pan and cook, stirring constantly, until the  mixture coats the back of the spoon.  (Your finger drawn across the back of the spoon through the mixture will leave a clear, non-dripping, trail).
</li>
<li>
Strain the mixture into a metal bowl.  Add the 2 cups of  whipping cream.  Place this bowl inside a large bowl with water and ice to cool the mixture.  Cover and place in the refrigerator for several hours or overnight.
</li>
<li>
Freeze the mixture to the &quot;ice cream&quot; state with your ice cream maker, according to the manufacturer&#39;s instructions.  
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Chez Panesse
</p>
</body>
