<h1>Variations on a Grilled Cheese Sandwich</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Rosemary +Fontina+Brie
</li>
<li>
Rosemary Bread
</li>
<li>
Rosemary compound butter
</li>
<li>
Layered with Fontina, brie, fresh sliced pear, wildflower honey, goat cheese and cote blue cheese.   Adapted from Chana Hershberger, Taste Cafe
</li>
<li>
Homemade Bread + Feta
</li>
<li>
Salami, Feta, hand-whipped sage and shallot butter
</li>
<li>
Jeremy Hansen, Sante Restaurant
</li>
<li>
Pizza Bread + Smoked Mozzarella
</li>
<li>
Homemade honey sweetened pizza bread topped with applewood smoked mazzarella with
</li>
<li>
a balsamic onion preserve and grilloed slicd tomatoes.
</li>
<li>
Darrin Gleason, Downriver Grill
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: Adapted from Metro Magazine
</p>
</div></body>
