<head>
<title>Vatapa</title>
</head>
<body>
<h1>Vatapa</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 large onion, chopped
</li>
<li>
4 cloves garlic, minced
</li>
<li>
1 tablespoon fresh ginger, minced
</li>
<li>
7 jalapeno chile pepper, minced
</li>
<li>
3 cups tomatoes, chopped, fresh or canned
</li>
<li>
2 limes, juice of
</li>
<li>
4 tablespoons reduced shrimp shell stock
</li>
<li>
1/2 cup natural peanut butter
</li>
<li>
1 quart chicken broth
</li>
<li>
2 cups coconut milk
</li>
<li>
2 lbs. fish, white firm fillets, in 2&quot; cubes
</li>
<li>
1 1/2 lbs. shrimp, peeled and deveined
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook onion, garlic, fresh ginger and jalapeno in a pot with a little vegetable oil for a few minutes until the kitchen is filled with a wonderful fragrance.
</li>
<li>
Add the tomatoes, limes shrimp stock and peanut butter.  
</li>
<li>
Whisk in about 1 quart (more or less) chicken broth, 1 cup at a time.  Add the coconut milk and cilantro.
</li>
<li>
Place the fish fillets in a saute pan and the shrimp in a saucepan.  Pour some soup over the fish in the saute pan and some over the shrimp in the sauce pan.  Slowly bring both pans to a simmer and cook until both are done.  They will be done at different times...about 3 minutes for the shrimp and 5 minutes for the fish.  Place the fish and shrimp in bowls.   Taste the broth for salt and pepper and pour over the fish and serve.
</li>
<li>
If desired, a small amount of rice can be placed in the bowl first.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;What an incredible Brazilian fish soup....you will love it!!&quot;
</p>
<p>
SERVINGS: 12
</p>
</body>
