<h1>Vegetables a la Grecque</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups raw vegetables, cauliflower florets, green beans 1&quot;, broccoli florets,carrots into 1&quot; strips, zucchini into 1&quot; strips
</li>
<li>
1/2 cup water
</li>
<li>
1/2 cup dry white wine
</li>
<li>
1/4 cup olive oil
</li>
<li>
2 tablespoons wine vinegar
</li>
<li>
Bouquet Garni:
</li>
<li>
thyme
</li>
<li>
bay leaves
</li>
<li>
parsley stems
</li>
<li>
celery
</li>
</ul>
<h2>Method</h2><ul>
<li>
salt &amp; pepper
</li>
<li>
Boil salted water and blance vegetables for 4 minutes.
</li>
<li>
Remove from boiling water and shock vegetables cold in ice water.
</li>
<li>
Drain.
</li>
<li>
Combine all the above ingredients in a medium pan.  Cover and bring to a boil, simmer the vegetables for about 8 minutes.
</li>
<li>
Cool the vegetables in the liquid in the frig and serve cold.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 10
</p>
<p>
SOURCE: Adapted from Pol Martin
</p>
</body>
