<head>
<title>Vegetable Stock</title>
</head>
<body>
<h1>Vegetable Stock</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 teaspoons olive oil
</li>
<li>
4 cloves garlic, chopped
</li>
<li>
1 large shallot, chopped
</li>
<li>
7 quarts water
</li>
<li>
1 cup dry vermouth or white wine (optional)
</li>
<li>
3 carrots, thinly sliced
</li>
<li>
2 cups fresh mushrooms (can be mixed)
</li>
<li>
4 stalks celery, thinly sliced
</li>
<li>
1 small bulb fennel, thinly sliced
</li>
<li>
1 leek, sliced
</li>
<li>
1 bouquet garni: 2 bay leaf, fresh thyme,
</li>
<li>
parsley stems, peppercorns
</li>
<li>
1 tablespoon juniper berries, toasted
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  In a stock pot heat the o/o and add the garlic and shallots.  Sweat until translucent.
</li>
<li>
2.  Add the rest of the ingredients.
</li>
<li>
3.  Simmer slowly for about 45 minutes.  
</li>
<li>
4.  Strain and cool in an ice bath and store.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Makes about 7 quarts
</p>
<p>
SERVINGS: 1
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
