<h1>Vegetable Mousse</h1>
<h2>Ingredients</h2>
<ul>
<li>
6 carrots, cut in fourths
</li>
<li>
3 acorn squash
</li>
<li>
3 celery root
</li>
<li>
12 ounces binder (gelatin in finished liq. form)
</li>
<li>
Note: 1 cup comm. gelatin powder
</li>
<li>
dissolved in 1 gallon of water, heat
</li>
<li>
to 110F in double boiler, no higher
</li>
<li>
than 114F.
</li>
<li>
3 pints aeration or 3 cups whipping cream, whipped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Cook the carrots in water with a little salt until mushy, ~ 1 hour.
</li>
<li>
Cook the whole acorn squash in hot oven until blackened and very soft, ~1 1/2 hour.
</li>
<li>
Cook the whole peeled celery root in lemon water until mushy, ~ 1-1 1/2 hour.
</li>
<li>
Let cooked products cool until easy to touch, ~ 1 hour.  Mash each product separately and push through  a screen and should end up the consistency of &quot;runny mashed potatoes&quot;. 
</li>
<li>
Measure out 2 cups each of the mashed vegetable product in separate bowls.  Season each product base, taking into consideration the addition of aeration that will double the base, decreasing the taste of seasoning.
</li>
<li>
Add 4 oz. of dissolved gelatin to each product, followed by folding in 2 cups of whipped cream...one product at a time.  With each completed vegetable mousse, layer into lined mousse mold.  Its pretty to begin with the celery root on bottom, followed by squash, topped with carrot.  Refrigerate overnight.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 1
</p>
<p>
SOURCE: Chef Eric Gallanter
</p>
</body>
