<h1>Vegetarian Chili</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
16 cups pinto beans (8#)
</li>
<li>
18 cups black beans (9#)
</li>
<li>
16 cups red kidney beans (8#)
</li>
<li>
1 cup epazote (optional, but better if used)
</li>
<li>
2 1/3 cups cumin seeds
</li>
<li>
1 1/3 cups Mexican dried oregano
</li>
<li>
75 onions, finely diced
</li>
<li>
vegetable oil
</li>
<li>
100 cloves garlic, coarsely chopped
</li>
<li>
2 1/3 cups sweet paprika
</li>
<li>
4 2/3 cups New Mexican ground red chile
</li>
<li>
25 cups tomatoes in puree
</li>
<li>
25 cups chopped tomatoes in can, reserve juice
</li>
<li>
1 1/3 cups pureed chipotle chile
</li>
<li>
6 1/2 cups chopped cilantro
</li>
<li>
sherry vinegar, to taste
</li>
<li>
salt, to taste
</li>
<li>
Garnish: sour cream, green onions,
</li>
<li>
cilantro
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  After soaking the beans overnight, drain and place in one -three large pots dividing among the pots if using more than one pot.
</li>
<li>
2.  Add the epazote and fresh water to cover by about 3 inches and boil for 5-10 minutes.  Remove any surface scum.  Lower the heat and simmer, partially covered.
</li>
<li>
3.  Toast the cumin seeds; when fragrant, add the oregano shaking the pan so that the herbs don&#39;t burn for about 5 seconds.  Turn onto a sheet pan to cool, then grind in a spice grinder or coffee grinder until a powder consistency.
</li>
<li>
4.  Saute the onions in oil until transparent.  Add garlic, about 1/3 cup salt, cumin mixture, paprika and ground chile.  Lower the heat and cook for about 5 more minutes.  Add tomatoes, chipolte and cilantro and simmer for another 15 minutes.  Taste for added salt.  Add this mixture to the beans.
</li>
<li>
5.  Continue cooking until the beans are completely soft...about 30 minutes more making sure the water level stays an inch or two above the beans (use the reserved juice if needed to add more volume).  Taste for salt and add vinegar to taste.  
</li>
<li>
6.  Cool in shallow hotel pans in walk in stirring every so often for the first half hour.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 125
</p>
<p>
SOURCE: From Deborah Madison/&quot;Veg. Cooking for Everyone&quot;
</p>
</div></body>
