<h1>Vegetable Ragu</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
leek or small scallions preferred
</li>
<li>
asparagus, sliced small
</li>
<li>
celery, julienned
</li>
<li>
carrots, julienned
</li>
<li>
arichokes, rough leaves removed; quartered
</li>
<li>
zucchini, sliced
</li>
<li>
tomatoes, cubed
</li>
<li>
olive oil
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Add onions to olive oil to perfume.  Add celery, carrots for 3 minutes.  Add asparagus.  Add artichoke.  Add zucchini.  Add tomatoes.  Add 1 cup water.
</li>
<li>
Cook pasta until almost finished and then finish pasta in sauce.
</li>
<li>
No one flavor should prevail.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Light and bright......great for the summer harvest.&quot;SOURCE: Fattoria Madicia
</p>
</div></body>
