<h1>Veloute Sauce (Veal, Chicken or Fish)</h1>
<h2>Ingredients</h2>
<ul>
<li>
8 ounces clarified butter
</li>
<li>
8 ounces flour (4 oz. bread/4 oz. pastry or
</li>
<li>
8 ounces bread)
</li>
<li>
5 quarts white stock, hot (veal, chicken or
</li>
<li>
fish)
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Heat the butter in a sauce pot over low heat.  Add the flour and make a blond roux.  Cool the roux slightly.
</li>
<li>
2.  Gradually add the hot stock to the roux, beating constantly.  Bring to a boil, stirring constantly.  Reduce heat to a simmer.
</li>
<li>
3.  Simmer the sauce very slowly for an hour.  Stir occasionally, and skim the surface when necessary.  Add more stock if needed to adjust consistency.
</li>
<li>
4.  Do not season veloute, since it is not used as is but as an ingredient in other preparations.
</li>
<li>
5.  Strain through a china cap lined with wet cheesecloth.  Cover or spread melted butter on surface to prevent skin formation.  Keep hot in a BM or cool in a cold water bath for later use.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 50
</p>
<p>
SOURCE: Gisslen Text
</p>
</body>
