<head>
<title>Very Old-Fashioned Country Chicken Pie</title>
</head>
<body>
<h1>Very Old-Fashioned Country Chicken Pie</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 large chicken, 6-7#
</li>
<li>
flour, salt, freshly ground pepper and
</li>
<li>
paprika
</li>
<li>
4 tablespoons butter
</li>
<li>
3 tablespoons lard
</li>
<li>
1 large onion, thinly sliced
</li>
<li>
2 carrots, cut in quarters
</li>
<li>
boiling water
</li>
<li>
2 stalks celery, cut in thin slices
</li>
<li>
12 small white onions
</li>
<li>
1/4 cup chopped parsley
</li>
<li>
3 tablespoons butter
</li>
<li>
2 tablespoons flour
</li>
<li>
1 cup half and half
</li>
<li>
liver of the chicken, chopped
</li>
<li>
2 recipes bate brisee
</li>
<li>
1 egg yolk, blended with 1 tablespoon cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine the flour, s/p and paprika in a heavy sack.  Add the chicken pieces and shake well.  Heat the butter and other fat in a heavy deep skillet or braising pan and brown the pieces of chicken well over rather brisk heat.  When nicely browned and crusty add the onion, carrots and enough boiling water to just barely cover the chicken.  Bring to a boil, then reduce to a faint simmer.  Cook the chicken till just tender -- do not overcook.  Transfer the chicken pieces to a large baking dish that will hold the chicken and sauce.  
</li>
<li>
Add the celery and small white onions to the broth and cook gently till just tender.  Transfer the vegetables to the baking dish.
</li>
<li>
Combine the butter and flour in a small saucepan and when bubbling and cooked slightly, stir in the cream and continue to stir till thickened.  Skim excess fat from the chicken broth and stir the cream sauce into the broh.  Pour enough over the chicken pieces to cover well.  Cool thoroughly.
</li>
<li>
Roll out pastry to fit the top of the baking dish and allow for overlap -- about 1 1/2 &quot;.  Place the pastry over the dish, secure the edges, and crimp with the tines of a fork.  Brush the pastry with the egg-cream mixture.  Cut a vent in the ceneter for steam to escape.  Bake at 450F degrees 10 minutes, reduce the heat to 350 degrees and continue baking another 20-25 minutes or until the crust is golden and crisp.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;My friend, James Beard, used to enjoy this at a farm in Hood River,
</p>
<p>
  Oregon, where they took in paying guests during the summer.  Oh
</p>
<p>
  dear...wait until you taste this!!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;James Beard American Cookery&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: James Beard
</p>
</body>
