<h1>Very Chocolate Walnut Cream Pie</h1>
<h2>Ingredients</h2>
<ul>
<li>
Chocolate Crust:
</li>
<li>
1 package chocolate wafer cookies, crushed
</li>
<li>
1/4 cup butter, melted
</li>
<li>
1/2 cup walnuts, ground find
</li>
<li>
Filling:
</li>
<li>
3 cups whole milk
</li>
<li>
1/2 cup sugar
</li>
<li>
1/2 cup egg substitute, liquid
</li>
<li>
cornstarch
</li>
<li>
10 ounces semisweet chocolate, chopped
</li>
<li>
1/2 stick unsalted butter
</li>
<li>
1 1/2 teaspoons vanilla or Kalhua
</li>
<li>
1 cup heavy cream
</li>
</ul>
<h2>Method</h2><ul>
<li>
Crust:  Ground package of chocolate cookie wafers until fine.  Add melted butter.  Press into 9&quot; pie tin.  Grind walnuts until fine.  Sprinkle over pie crust and press gently into chocolate crust leaving a &quot;layer&quot; of walnut crumbs across chocolate crust.  Place in 350 degree oven for 10 minutes.  Place on rack to cool.
</li>
<li>
Filling:
</li>
<li>
Scald 21/2 cups of the milk in a heavy nonreactive saucepan over medium heat.
</li>
<li>
Meanwhile, in a bowl, whisk the remaining 1/2 cup milk with sugar, egg substitute and cornstarch until smooth.  Add a little of the hot milk mixture to the bowl, and whisk well.  Repeat with more hot milk.  Return the warmed mixture to the saucepan and bring to a boil. whisking.  Boil, whisking constantly, for 2 minutes.  Turn off the heat and add the chocolate, butter and 1 teaspoon of the vanilla; continue whisking until the mixture is smooth.  Strain the custard into a clean bowl.  Place a sheet of wax paper or plastic wrap directly on the surface of the custard to prevent a &quot;skin&quot; from forming, and refrigerate until cooled to room temperature.
</li>
<li>
Pour the custard into the cooled pie shell.  Loosely cover and chill for at least 2 hours.
</li>
<li>
Whip the heavy cream and add 1/2 teaspoon vanilla and some sugar if desired.  Spread on pie and chill before serving.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Since I can hardly resist chocolate and creaminess...this really takes the cake, so to speak!
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
