<h1>Vietnamese Summer Rolls (Goi Cuon)</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
4 ounces rice vermicelli
</li>
<li>
4 ounces pork tenderloin
</li>
<li>
18 small shrimp
</li>
<li>
12 round rice papers, 8&quot; diameter
</li>
<li>
1 head Boston lettuce
</li>
<li>
24 large mint leaves
</li>
<li>
1 cup carrots, julienned
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Soak the rice mermicelli in lukewarm water to cover in a bowl, until rehydrated and softened, about 15 minutes.  Drain and squeeze the noodles to get rid of the excess water.
</li>
<li>
Bring a pot filled with water to a boil over high heat.  Place the rice vermicelli in a sieve and lower it into the boiling water for 5 seconds.  Remove the vermicelli and transfer to a bowl.  When cool enough to handle, divide the vermicelli into 12 equal portions.  In the same boiling water, cook the pork tenderloin until cooked through, about 10 minutes.  When cool enough to handle, thinly slice the pork.  In the same water, cook the shrimp until they turn opaque about 1 minute.  When cool enough to handle, cut in half lengthwise and devein.
</li>
<li>
Pour lukewarm water about 1 inch deep into a square or rectangular dish.  Separate and soak 4 wrappers at a time until pliable about 5 minutes.  Place a clean kitchen towel on your work surface, then place each rice paper on the towel.  With another kitchen towel, gently blot each wrapper until it is no longer wet but remains sticky.  Leaving 1 inch uncovered on the side closest to you and the adjacent sides, place a lettuce leaf, vermicelli portion on top, 3 shrimp halves (overlapped), 2 pork slices (overlapped), 2 mint leaves, and some carrot on each rice paper.  Fold wrapper once over the filling, then fold in the sides, and continue rolling tightly to the end.  Repeat this process with the remaining ingredients to make 12 rolls.  Wrap in a damp towel or with plastic wrap until ready to eat.  Serve with peanut sauce.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 6
</p>
<p>
SOURCE: Corinnne Trang
</p>
</div></body>
