<h1>Vietnamese Shrimp Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 stalks lemongrass
</li>
<li>
2 pounds medium shrimp, leave shells on
</li>
<li>
Nuoc Cham (spicy fish sauce):
</li>
<li>
1 lime, juiced, 2 tablespoon
</li>
<li>
2 tablespoons rice vinegar
</li>
<li>
2 tablespoons fish sauce
</li>
<li>
2 tablespoons sugar
</li>
<li>
3 cloves garlic
</li>
<li>
2 fresh red chiles, minced
</li>
<li>
1 head lettuce (green leaf, red leaf, or romaine)
</li>
<li>
1/4 cup fresh mint leaves
</li>
<li>
1/4 cup coarsely chopped cilantro
</li>
<li>
2 shallots, sliced and fried
</li>
<li>
6 cloves garlic, sliced and fried
</li>
<li>
2 red jalapenos, seeded and minced
</li>
<li>
2 tablespoons roasted peanuts, coarsely chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Mince one stalk of lemongrass and reserve.  Bruise the other two stalks and cut into 2&quot; long pieces.  Bring 1 quart of water to boil with the bruised lemongrass and continue boiling for 5 minutes.  Add in shrimp and cook until just done, when flesh turns pink.
</li>
<li>
2.  Drain and let shrimp cool.  Peel shrimp at this point.
</li>
<li>
3.  Toss the shrimp with the minced lemongrass and place in a bowl, covered.  Refrigerate until ready to use.
</li>
<li>
4.  In the mean time, prepare Nuoc Cham (the dressing) by mixing all the ingredients together in a bowl.  Set aside for a least 5 minutes before use.
</li>
<li>
To serve:  Toss the shrimp with half of the dressing, mint, cilantro, shallots, garlic and chile and mix with washed torn lettuce leaves.  Garnish with peanuts and a couple of springs of cilantro.  Serve salad with the remain dressing on the side.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 4
</p>
<p>
SOURCE: Rhoda Yee, CCA
</p>
</body>
