<h1>Vitello Tonnato</h1>
<h2>Ingredients</h2>
<ul>
<li>
Bottom Round Veal
</li>
<li>
Roast to medium with m/p in
</li>
<li>
roasting pan
</li>
<li>
Cool in refrigerator, slice on slicer
</li>
<li>
Salsa Tonnato:
</li>
<li>
Simple mayonnaise
</li>
<li>
Canned tuna
</li>
<li>
Combine together
</li>
<li>
Add: capers, anchovies, s/p, lj
</li>
</ul>
<h2>Method</h2><ul>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : This is a dish I first had at a wine dinner at Joseph Phelps.  Joseph Phelps Grenache Rose was served with it and it was fabulous.  I asked Thomas if he had made it and this was the recipe he gave to me.  Yippy!
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Thomas Oden
</p>
</body>
