<h1>Walnut Cake with Carob Frosting</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Walnut cake with Carob Frosting
</li>
<li>
Prep Time:	20-30 minutes
</li>
<li>
Cooking Time:	1 hour
</li>
<li>
Yields:	8-10 servings
</li>
<li>
Ingredients:	For cake:
</li>
<li>
2 cups whole wheat pastry flour or spelt flour
</li>
<li>
1 cup unbleached white flour
</li>
<li>
1 tablespoon non-aluminum baking powder
</li>
<li>
&Acirc;&frac14; teaspoon sea salt
</li>
<li>
1 &Acirc;&frac12; cups roasted chopped walnuts
</li>
<li>
2/3 cup maple syrup
</li>
<li>
&Acirc;&frac12; cup unrefined corn oil
</li>
<li>
&Acirc;&frac14; cup tahini
</li>
<li>
4 ounces tofu
</li>
<li>
2/3 cup apple juice, water, rice or soy milk
</li>
<li>
For frosting:
</li>
<li>
1 package firm &acirc;&#128;&#156;Mori-Nu&acirc;&#128;&#157; tofu or 10 ounces silken tofu
</li>
<li>
&Acirc;&frac12; cup maple syrup or barley malt
</li>
<li>
&Acirc;&frac12; cup roasted carob powder
</li>
<li>
&Acirc;&frac12; cup almond or hazelnut extract 
</li>
<li>
Directions:	
</li>
<li>
Sift flour into a large bowl.
</li>
<li>
Add baking powder and salt.
</li>
<li>
Add 1 cup nuts (reserve the rest for decorating).
</li>
<li>
Combine syrup, oil, tahini, tofu and juice into a blender.
</li>
<li>
Gradually combine the liquid ingredients into dry until they are mixed well.
</li>
<li>
Transfer into a well-greased 9-inch cake pan.
</li>
<li>
Bake at 350 degrees for 45-50 minutes or until a cake tester comes out clean.
</li>
<li>
Let the cake cool before frosting it.
</li>
<li>
Frosting
</li>
<li>
Combine all ingredients into a blender and puree until smooth.
</li>
<li>
Cut the cooled cake in half horizontally.
</li>
<li>
Spread one third of the frosting, raspberry or apricot jam, over the bottom half.
</li>
<li>
Decorate with some chopped walnuts.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SOURCE: Integrative Nutrition
</p>
</div></body>
