<h1>Walnut Cheesecake</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 1/2 cups walnuts, toasted
</li>
<li>
1/3 cup graham cracker crumb, crushed
</li>
<li>
2 lbs. cream cheese, room temperature
</li>
<li>
1/2 cup heavy cream
</li>
<li>
4 large eggs, room temperature
</li>
<li>
1 3/4 cups sugar
</li>
<li>
1 teaspoon vanilla extract
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat the oven to 300F.
</li>
<li>
Process the nuts in a food processor and blend until almost paste-like.
</li>
<li>
Butter a metal cake pan 8&quot; wide and 3&quot; deep.  Do not use a springform pan.
</li>
<li>
Sprinkle the inside of the pan with the graham cracker crumbs.  Shake around and shake out excess.
</li>
<li>
Place the rest of the ingredients in the bowl of an electric mixer.  Beat at low speed and as the ingredients become blended, increase the speed to high.
</li>
<li>
Beat until thoroughly blended and smooth.  Add the nuts and beat until thoroughly blended.
</li>
<li>
Pour the batter into the prepared pan and shake gently to level.
</li>
<li>
Set the pan into a larger pan and pour boiling water into the larger pan to reach up the cheesecake pan about 1/2&quot;.  Do not let the edge of the cheesecake pan touch the larger pan.  Set the pans into the oven and bake for 2 hours.  At the end of the time, turn off the oven and bake for and let the cake sit in the oven for 1 hour longer.
</li>
<li>
Lift the cake from the water bath and place on a rack for 2 hours.
</li>
<li>
Turn the cheesecake out on a cake plate to unmold.  Serve lukewarm or at room temperature.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Craig Claiborne &amp; Pierre Franny
</p>
</div></body>
