<h1>Walnut Gorgonzola Shortbread</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
8 tablespoons unsalted butter, room temperture
</li>
<li>
8 tablespoons gorgonzola cheese, room temperture
</li>
<li>
1/4 cup packed brown sugar
</li>
<li>
1/4 cup granulated sugar
</li>
<li>
2 1/2 cups flour, sifted
</li>
<li>
1 cup finely ground walnuts
</li>
<li>
1/2 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Preheat the oven to 300F.  Butter a large rectangular pan.
</li>
<li>
With an electric mixer with paddle attachment, cream butter, gorgonzola, sugars and until light and fluffy.  Add flour, nuts, salt.  Beat on low speed for about 5 minutes.  Place the dough in the prepared pan and spread evenly.  Score into size desired and prick surfact with a fork. 
</li>
<li>
Bake until shortbread looks dry, about 1 hour.  Cool on wire rack. Turn out and cut on scored lines.
</li>
</ul>
<h2>Notes</h2><div id='notes'></div></body>
