<h1>Warm Red Snapper &amp; Artichoke Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
salt
</li>
<li>
2 cups penne rigate
</li>
<li>
8 tablespoons extra virgin olive oil
</li>
<li>
1 teaspoon balsamic vinegar
</li>
<li>
freshly ground pepper
</li>
<li>
6 baby artichokes, trimmed
</li>
<li>
8 cloves garlic, unpeeled
</li>
<li>
1/2 lb. cleaned squid, body sliced into rings;
</li>
<li>
tentacles quartered
</li>
<li>
4 8 oz. red snappers (or mullet or other
</li>
<li>
smaller round fish), cleaned, deboned,
</li>
<li>
head &amp; tail left on
</li>
<li>
1/2 cup flour
</li>
<li>
1/4 lb. parmigiano-reggiano
</li>
<li>
12 fresh basil leaves
</li>
<li>
8 fresh chives
</li>
<li>
8 sprigs fresh chervil
</li>
<li>
1/4 cup nicoise olives
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Bring a pot of salted water to a boil over high heat.  Add penne.  Cook 7-10 minutes.  Drain, then dress with 1 tablespoon of olive oil, all the vinegar and salt and pepper; set aside.
</li>
<li>
2.  Halve artichokes lengthwise, then heat 2 tablespoons of oil in a skillet over medium heat.  Add artichokes and garlic and brown on all sides for 5-7 minutes.  Remove and set aside.
</li>
<li>
3.  Add 1 tablespoon of oil to skillet, add squid and cook, stirring until squid is firm about 1 minute.  Season with salt and pepper, then immediately remove from skillet and set aside.
</li>
<li>
4.  Wipe out skillet.  Dredge fish in flour.  Shake off excess, then season with salt and pepper.  Heat 4 tablespoons oil in skillet over medium heat.  Add fish and fry, 3-5 minutes per side.  Drain on paper towels.
</li>
<li>
5.  To assemble, divide penne, artichokes and squid evenly between 4 plates.  Arrange fish on top and thinly shave parmigiano-reggiano over it.  Garnish with basil, chives, chervil and olives.  Serve drizzled with additional olive oil if desired.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Yield on this dish is 4 generous servings that include a whole snapper, squid, 4 artichoke halves, 2 garlic cloves and approximately 1/2 cup penne, with fresh herbs, olives and peeled parmigiano-reggiano per serving.
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Chef Jacques Maximin/Chez Maximin, Venice
</p>
</body>
