<h1>Warm Sauced Italian Salad</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 head romaine lettuce
</li>
<li>
1 head curly endive
</li>
<li>
1 head red leaf lettuce
</li>
<li>
1 head radicchio
</li>
<li>
3 ounces procuitto, julienned
</li>
<li>
3 ounces Parmesan cheese, cut in ribbons with potato peeler
</li>
<li>
1 cup Italian olives, pitted and chopped
</li>
<li>
1/2 cup roasted pine nuts
</li>
<li>
1 cup raisins
</li>
<li>
1 small red onion, sliced thinly
</li>
<li>
1/4 cup red wine vinegar
</li>
<li>
2 tablespoons shallots, minced
</li>
<li>
4 cloves garlic, minced
</li>
<li>
3/4 cup balsamic vinegar
</li>
<li>
1 tablespoon brown sugar
</li>
<li>
1 cup extra virgin olive oil, more or less
</li>
<li>
salt and pepper
</li>
</ul>
<h2>Method</h2><ul>
<li>
Wash and spin dry greens and radicchio.  Layer in large bowl between paper towels.  Place in refrigerator for at least 20 minutes to crisp. Roast the pinenuts in a 375F oven for about 6-8 minutes.  Watch carefully; they burn easily.  They are done when golden.
</li>
<li>
Cut with sharp knife all of greens and place in large bowl.  Tear the radicchio.  Add the procuitto, cheese, olives, nut (when cooled) raisins, and onions.
</li>
<li>
Place the thinly sliced red onion in the red wine vinegar and put aside while you proceed.
</li>
<li>
Place the shallots and garlic in 1 tablespoon of the olive oil in a saute pan.  Soften.  Add the balsamic vinegar and reduce by at least 1/3.  Add the 
</li>
<li>
1 tablespoon of brown sugar and dissolve.  Turn the stove off and remove pan for a moment.  Add olive oil, carefully, a little at a time, whisking.  When you get about 1/2 cup into the vinegar, taste for balance.  Add more if needed.  Continue, again, to warm slowly.  Do not boil.  Season with 
</li>
<li>
salt and pepper.
</li>
<li>
Meanwhile, go back to the salad and add the onions (not the vinegar) to the salad.  Top the salad with the warm viniagrette and serve immediately.  
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A fabulous combination of salad greens and delicious Italian items
</p>
<p>
  topped with a warm Balsamic Viniagrette.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
