<h1>Watermelon Salad w/Pickled Onions &amp; Feta</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 cups vertically sliced onons
</li>
<li>
1/2 cup red wine vinegar
</li>
<li>
1/2 teaspoon kosher salt
</li>
<li>
3 tablespoons white balsamic vinegar
</li>
<li>
2 tablespoons extra virgin olive oil
</li>
<li>
1/2 teaspoon freshly ground black pepper
</li>
<li>
5 cups seedless watermelon
</li>
<li>
2 small cucumbers, halved lengthwise and thinly sliced
</li>
<li>
1/2 cup crumbled feta cheese
</li>
<li>
1/4 cup fresh mint, chopped
</li>
<li>
1/4 cup fresh basil, chopped
</li>
</ul>
<h2>Method</h2><ul>
<li>
Combine onion, vinegar and salt.  Allow to macerate for 30 minutes. 
</li>
<li>
Whisk balsamic vinegar, oil and pepper.  Add onion mixture, watermelon and cucumber.  Toss gently.  Arrange all on platter.  Top with cheese, mint and basil.  
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Cooking Light
</p>
</body>
