<head>
<title>Watermelon Sorbet</title>
</head>
<body>
<h1>Watermelon Sorbet</h1>
<h2>Ingredients</h2>
<ul>
</ul>
<h2>Method</h2><ul>
<li>
Ingredients:
</li>
<li>
8 cups cubed (1 inch) watermelon, seeds and rind discarded
</li>
<li>
1 cup Simple Sugar Syrup
</li>
<li>
2 tablespoons fresh lemon juice
</li>
<li>
Preparation:
</li>
<li>
Puree the watermelon cubes in a food processor. Measure 4 cups of the puree and place in a bowl. Add the Simple Sugar Syrup and lemon juice and stir well. Freeze in an ice cream maker according to the manufacturer&#39;s instructions.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 12
</p>
<p>
SOURCE: Epicurious.com
</p>
</body>
