<h1>Whatever You Have...Great Summer Salad Bar</h1>
<h2>Ingredients</h2>
<ul>
<li>
lettuce, whatever you like...romaine, red leaf, green leaf, curley...a mixture or one or two.
</li>
<li>
tomatoes
</li>
<li>
onions, green or sliced
</li>
<li>
carrots, sliced or grated
</li>
<li>
cucumber, sliced
</li>
<li>
beans, canned, rinsed (the kind without sauce)
</li>
<li>
croutons, recipe below
</li>
<li>
cheese
</li>
<li>
bacon bits
</li>
<li>
smoked sausage slices
</li>
<li>
leftover cold pasta
</li>
<li>
raisins
</li>
<li>
nuts
</li>
<li>
olives
</li>
<li>
mushrooms, sliced
</li>
<li>
radishes
</li>
<li>
celery, sliced
</li>
<li>
zucchini, sliced
</li>
</ul>
<h2>Method</h2><ul>
<li>
You can choose as many items on this list or any others you might think of.......just have fun.  
</li>
<li>
Wash and cut up as needed and place in different bowls on your table.  Make a dressing or two and let people choose for themselves!
</li>
<li>
CROUTONS:  Cut up 10  pieces of day-old French bread into cube pieces.  Place 1/2 cube of butter and 1/4 cup of olive oil in a saute pan.  Add a couple of whole garlic cloves to season the butter and oil.  Add the pieces of cut-up bread to the butter and oil covering all the pieces with the mixture.  Place in 375F oven and bake for about 20 minutes, checking after 15 minutes to make sure not getting to dark.  When they are golden brown and crisp, they are done.  Yum!
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is the perfect salad for your busy family.  If you  just help by
</p>
<p>
  washing the lettuce and getting everything out...you will find
</p>
<p>
  yourself with a great family salad bar!&quot;
</p>
</body>
