<head>
<title>Whipped Goat Cheese in Endive Leaves</title>
</head>
<body>
<h1>Whipped Goat Cheese in Endive Leaves</h1>
<h2>Ingredients</h2>
<ul>
<li>
Belgian endive
</li>
<li>
1 cup butter
</li>
<li>
1 cup cream cheese
</li>
<li>
1 cup goat cheese
</li>
<li>
3 shallots, minced
</li>
<li>
1 clove garlic, minced
</li>
<li>
1/2 cup fresh herbs
</li>
<li>
chopped walnuts, roasted
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Sweat shallots &amp; garlic in butter; add herbs to bloom.  Take off heat and cool.
</li>
<li>
2.  Meanwhile cut ends of endive into points and place in lemoned water.
</li>
<li>
3.  Paddle together butter mixture, cream cheese and goat cheese.
</li>
<li>
4.  Pipe on to endive leaves and top a sprinkle of chopped walnuts.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 16
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
