<h1>White Cheddar Soup</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
5 tablespoons unsalted butter
</li>
<li>
1/2 large onion, finely chopped
</li>
<li>
1 large leek, finely chopped
</li>
<li>
2 stems thyme, leaves removed and chopped
</li>
<li>
1 clove garlic, minced
</li>
<li>
5 tablespoons AP flour
</li>
<li>
10 cups milk
</li>
<li>
1 bouquet garne, parsley stems, thyme, bay leaf
</li>
<li>
1 1/2 pounds good cheddar cheese, grated
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Melt butter in large soup pot and sauce pan.  Add onions, leeks and chopped thyme and cook briefly until translucent and fragrant.   Add garlic and cook briefly.   Add flour and make a roux, stirring and cooking over medium heat until mixture smells like a biscuit.  Whisk in milk.  Add bouquet garne.  Bring to a boil and then lower heat and simmer gently for about 10-15 minutes.  Turn off the heat and whisk in the cheese.  Taste to correct seasoning.
</li>
<li>
Ladle into bowls and top with homemade croutons or chopped spicy nuts.
</li>
<li>
Croutons:  Heat 3 tablespoons of butter together with 3 tablespoons of olive oil in an oven-proof saute pan.  Add 4 slightly smashed garlic cloves and allow the cloves to infuse the butter/oil mixture.  Add 3 cups of bread cubes (day old is best), stir to cover cubes with butter/oil mixture.  Place in 375F oven for 10-12 minutes until golden and slightly crunchy.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from James Peterson
</p>
</div></body>
