<h1>White Bean Soup with Tiny Pasta</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 lb. white beans, soaked overnight
</li>
<li>
1 1/2 quarts chicken stock
</li>
<li>
water to cover
</li>
<li>
1 whole carrot
</li>
<li>
2 whole celery stocks
</li>
<li>
2 cloves garlic, whole
</li>
<li>
1/2 onion, peeled
</li>
<li>
2 fingers rosemary
</li>
<li>
1 branch thyme
</li>
<li>
2 bay leaves
</li>
<li>
1 whole onion, chopped
</li>
<li>
3 cloves garlic, minced
</li>
<li>
1 branch sage, leaves removed
</li>
<li>
3 branches thyme, leaves removed
</li>
<li>
2 fingers rosemary, leaves removed
</li>
<li>
1 large carrot, minced
</li>
<li>
2 stalks celery, chopped
</li>
<li>
1 large can tomatoes, drained and chopped
</li>
<li>
salt and pepper, to taste
</li>
<li>
1/2 lb. cooked pasta, tiny size or small shells
</li>
<li>
parmesan cheese, to garnish
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
After soaking beans, cook in stock, water, with whole carrot, celery and half onion; garlic, rosemary, thyme, bay leaves until cooked half way.  Add salt to taste.
</li>
<li>
Add the rest of the chopped and minced vegetables to some olive oil in a saute pan and cook to fragrant.  Meanwhile remove whole vegetables from beans and stems from herbs.  Add sauted vegetables to soup with tomatoes.  Serve by placing cooked pasta in warm bowls and garnishing with parmesan.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</div></body>
