<h1>White Chocolate Ice Cream</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
5 ounces white chocolate
</li>
<li>
7/8 cup milk
</li>
<li>
1/2 cup sugar
</li>
<li>
1 1/2 cups whipping cream
</li>
<li>
vanilla extract, to taste
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Melt chocolate with 3/8 cup of the milk in a heavy pan over water that has been heated to 120F to 130F....this is usually about the temperature of hot water from the faucet.  
</li>
<li>
Heat the other 1/2 cup milk and dissolve the sugar in it.  Cool to 120F and carefully add to the melted chocolate.  Stir in the cream slowly, add a few drops of vanilla, and chill, stirring every 15 minutes or so until the mixture is cold and a layer of fat (the cocoa butter) no longer forms on the top.  Freeze according to the instructions with your ice cream maker.
</li>
<li>
 Add  nuts, if desired,  about 10 minutes into the freezing method (just as it is still soft but is coming together).
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Yield:
</p>
<p>
  &quot;1 quart&quot;SOURCE: Chez Panisse Desserts
</p>
</div></body>
