<h1>White Wine Sauce</h1>
<h2>Ingredients</h2>
<ul>
<li>
1 pint white wine
</li>
<li>
1 gallon fish veloute
</li>
<li>
1 pint heavy cream, hot
</li>
<li>
4 ounces butter
</li>
<li>
ks
</li>
<li>
wp
</li>
<li>
lj
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Reduce the wine by half in a saucepan.
</li>
<li>
2.  Add the veloute and simmer until reduced to desired consistency.
</li>
<li>
3.  Slowly stir in the hot ( or tempered) cream.
</li>
<li>
4.  Remove from heat and swirl in the raw butter, cut into pieces.
</li>
<li>
5.  Season to taste with s, wp, and a few drops of lj.
</li>
<li>
6.  Strain through wet cheesecloth.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 50
</p>
<p>
SOURCE: Gisslen Text
</p>
</body>
