<h1>Wild Boar Ragu</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
1 onion, chopped
</li>
<li>
3 celery stalks, chopped
</li>
<li>
3 carrots, chopped
</li>
<li>
bay leaf
</li>
<li>
4 cloves garlic, chopped
</li>
<li>
2 large stems rosemary, leaves removed and chopped
</li>
<li>
4 sage leaves, chopped
</li>
<li>
2 lbs. boar or selected meat(s), in small chunks
</li>
<li>
2 tablespoons tomato paste
</li>
<li>
1/2 bottle red wine
</li>
<li>
2 cups fresh tomato sauce (pureed tomatoes)
</li>
<li>
2 cups water
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Slightly caramelize onion, celery, carrots, garlic.  Add bay leaf and fresh herbs to perfume.  Add meat and brown slightly. 
</li>
<li>
Season with salt and pepper.  Add liquids and tomato paste.  Bring to boil and simmer for about 45 minutes to 1 1/2 hour depending on the meat used.  Should smell fabulous and taste magnificent!!
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;Wild boar is eaten all over Tuscany.  You can substitute any meat you
</p>
<p>
  like....pork, beef, chicken or a combo!&quot;
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Fattoria Madicia
</p>
</div></body>
