<h1>Wild Rice &amp; Grains Pilaf</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 cups rice mixture, called Bistro Rice @ Huckleberry&#39;s
</li>
<li>
1 1/2 tablespoons olive oil
</li>
<li>
1/2 medium onion, minced
</li>
<li>
6 1/2 cups chicken stock
</li>
<li>
1 bay leaf
</li>
<li>
5 sprigs fresh thyme, leaves removed
</li>
<li>
2 cups dried apricot, cut 1/2&quot; thick
</li>
<li>
1 teaspoon salt, or to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place olive oil in hot saucepan.  Add minced onion and cook briefly.  Add rice mixture and stir to cover each kernel with olive oil.  Add warm
</li>
<li>
stock, bay leaf and thyme.  Bring to a boil.  Add apricots.  Cover with a sheet of parchment paper directly on top of the rice mixture and cover with  a lid.  Allow to cook about 45  minutes on low; check and cook longer if necessary, usually about 50-55 minutes is max.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;A wonderful combination of wild rice, brown rice, red rice and wheat
</p>
<p>
  berries with apricots....yum!&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1/2 cup&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
