<head>
<title>Wine Poached &amp; Herbed Shrimp</title>
</head>
<body>
<h1>Wine Poached &amp; Herbed Shrimp</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 pounds medium shrimp
</li>
<li>
1 cup white wine
</li>
<li>
1 lemon, cut in quarters
</li>
<li>
1 lime, cut in quarters
</li>
<li>
1 orange, cut in quarters
</li>
<li>
1/2 spice jar pickling spice
</li>
<li>
water
</li>
<li>
1 shallot, minced
</li>
<li>
2 cloves garlic, minced
</li>
<li>
1 finger rosemary, leaves removed and chopped
</li>
<li>
5 parsley stems, leaves removed and chopped
</li>
<li>
1 large dill stem, leaves removed and chopped
</li>
<li>
4 stems thyme, leaves removed and chopped
</li>
<li>
salt and pepper
</li>
<li>
1/4 cup champagne vinegar
</li>
<li>
1 teaspoon Dijon mustard
</li>
<li>
1/2 cup olive oil, or to taste
</li>
<li>
1/2 red bell pepper, cut into 1/4&quot; dice
</li>
<li>
1/2 yellow bell pepper, cut into 1/4&quot; dice
</li>
</ul>
<h2>Method</h2><ul>
<li>
Place wine, citrus, pickling spice and enough water to make a depth in a large stainless saucepan of 5&quot; or more (to cover shrimp).  Bring to a boil.  Add shrimp and cook about  3 minutes until pink.  Remove immediately.  Spread on sheet pan and place in freezer to cool and stop cooking about 5 minutes.  Refrigerate shrimp until ready to use.
</li>
<li>
Meanwhile, in a large bowl, whisk shallot, garlic, herbs, s/p, vinegar and Dijon.  Slowly dribble in olive while whisking to emulsify mixture.  Stir in the bell peppers.
</li>
<li>
No more than 1/2 hour before serving, add shrimp to emulsified mixture and gently coat the shrimp.
</li>
</ul>
<h2>Notes</h2><p>
This is delicious as an appetizer or can be served as a wonderful summer pasta dish, served room temperature on hot pasta!SOURCE: Apple Charlotte
</p>
</body>
