<head>
<title>Wine Reduction</title>
</head>
<body>
<h1>Wine Reduction</h1>
<h2>Ingredients</h2>
<ul>
<li>
stock
</li>
<li>
wine
</li>
<li>
olive oil or meat fat
</li>
<li>
shallot
</li>
<li>
1 -2 tablespoons cold butter
</li>
</ul>
<h2>Method</h2><ul>
<li>
Reduce equal portions of wine and stock (in separate pans if making yorkshire pudding....in the same pan if only using for reduction).
</li>
<li>
In 1 tablespoon of pan fat  that meat has been cooked in, add 1-2 shallots, minced.  Add reduced stock and wine, deglazing pan juices and bits and pieces.
</li>
</ul>
<h2>Notes</h2><p>
Reduce further if needed....strain.  Place back in pan and add cold butter, whisking without bringing to a boil.  Season to taste, if necessary.SOURCE: Madeleine Kamman
</p>
</body>
