<h1>Wonton Chips with Fruit Salsa</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
2 mangos, peeled and diced
</li>
<li>
2 large tomatoes, cored and diced
</li>
<li>
2 small red bell pepper, diced
</li>
<li>
4 fresh jalapenos, seeded and minced
</li>
<li>
4 tablespoons pickled ginger, finely chopped
</li>
<li>
4 tablespoons cilantro, chopped
</li>
<li>
4 teaspoons garlic, minced
</li>
<li>
4 tablespoons plum sauce
</li>
<li>
4 teaspoons chile garlic sauce
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
2          teaspoons  salt
</li>
<li>
  1           teaspoon  Chinese five-spice
</li>
<li>
  60                    wonton wrappers
</li>
<li>
                        Cooking oil for deep frying
</li>
<li>
Combine salsa ingredients and allow flavors to blend for 1 hour before serving.
</li>
<li>
Mix salt and five-spice in another bowl.
</li>
<li>
Cut wonton wrappers in half diagonally into triangles.
</li>
<li>
In a wok pour oil and raise temperature to 350F.  Deep fry wontons until lightly browned, 15-20 seconds on each side.  Remove and drain on paper towels.  While hot, sprinkle lightly with salt mixture.
</li>
<li>
Serve chips with salsa.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 12
</p>
<p>
SOURCE: Adapted from Martin Yan
</p>
</div></body>
