<head>
<title>Yeasted Chocolate Belgian Waffles</title>
</head>
<body>
<h1>Yeasted Chocolate Belgian Waffles</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons dry yeast
</li>
<li>
1/4 cup warm water
</li>
<li>
1 teaspoon sugar
</li>
<li>
1 3/4 cups warm water
</li>
<li>
8 large egg yolks
</li>
<li>
8 large egg whites
</li>
<li>
1 teaspoon vanilla
</li>
<li>
1 teaspoon almond extract
</li>
<li>
4 cups flour
</li>
<li>
1 cup cocoa, sifted
</li>
<li>
1/2 teaspoon baking soda
</li>
<li>
3/4 teaspoon salt
</li>
<li>
1/2 cup sugar
</li>
<li>
1 cup unsalted butter, melted
</li>
</ul>
<h2>Method</h2><ul>
<li>
Dissolve dry yeast in 1/4 cup warm water and 1 teaspoon sugar.  Set aside to activate.
</li>
<li>
Beat egg yolks and add yeast mixture.  Add flavorings and milk.  Combine dry ingredients.  Add to egg mixture, gradually stirring in.  Stir in belted butter until mixuter is smooth.  Beat egg whites until stiff and fold into batter.  Let stand in warm place for 45 minutes or until doubled.  
</li>
<li>
Cook in waffle iron using about 1 cup batter per waffle.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;Fabulous, special and even romantic.....yum for brunch or dessert!&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
