<h1>Yellow Squash &amp; Blossom Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
4 shallots, minced
</li>
<li>
1/4 cup butter
</li>
<li>
4 lbs. yellow zucchini or crookneck squash
</li>
<li>
2 quarts chicken stock, or more if needed
</li>
<li>
salt and pepper
</li>
<li>
12 squash blossoms
</li>
</ul>
<h2>Method</h2><ul>
<li>
Sweat shallots in butter in soup pot and soft.  Rough chop squash and add to pot and cook about 5 minutes.  Add chicken stock to barely cover.  Simmer  until the squash is just tender.  With a hand blender puree the soup.  Season with salt and pepper.  Add more chicken stock if needed to make nice consistency.
</li>
<li>
Julienne the petals of the blossoms.  Serve the soup in warm wide bowls and garnish with blossoms.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Adapted from Alice Waters
</p>
</body>
