<head>
<title>Yellow Rice with Toasted Cumin</title>
</head>
<body>
<h1>Yellow Rice with Toasted Cumin</h1>
<h2>Ingredients</h2>
<ul>
<li>
2 tablespoons olive oil
</li>
<li>
2 teaspoons cuminseed
</li>
<li>
1/4 teaspoon saffron threads, crumbled
</li>
<li>
2 cups unconverted long grain rice
</li>
<li>
4 cups water
</li>
<li>
3/4 teaspoon salt
</li>
</ul>
<h2>Method</h2><ul>
<li>
In a large saucepan heat oil until hot but not smoking and saute cuminseed 10 seconds or until fragrant.  Stir in saffron and rice and saute stirring 1-2 minutes, or until rice is coated well.  Stir in water and salt and boil rice, uncovered and without stirring,  until surface of rice is covered with steam holes and grains on top appear dry, 8-10 minutes more.  Remove pan from heat and let rice stand coveered, 5 minutes.  Fluff rice with a fork.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Gourmet, 1995
</p>
</body>
