<h1>Yorkshire Pudding</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
3 cups AP flour
</li>
<li>
5 large eggs, separate out yolks
</li>
<li>
salt
</li>
<li>
ground pepper
</li>
<li>
2 1/2 - 3 cups skim milk
</li>
<li>
1 tablespoon fat from roast
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Begin making the yorkshire pudding as soon as you place the rib roast in the oven.
</li>
<li>
Sift the flour into a bowl.  Add egg yolks, seasonings and 1/3 of the milk.  Stir with a wooden spoon until smooth and then gradually add the remaining milk.
</li>
<li>
Cover.
</li>
<li>
When the temperature of the meat is at about 100F, whip the egg whites until a soft point can be made.  Gradually fold in the above batter into the egg whites.  Allow to rest until the roast is pulled out at 115F or 120F.
</li>
<li>
Pour off fat from roasting pan.  Reserve 1 tablespoons of it.  Pour about 1 cup of beef stock into the pan and deglaze the pan.  Strain this mixture and reserve it.  Do not wash the pan. Add the reserved fat and 2 tablespoons of the deglazed, strained mixture back into the roasting pan, spreading the mixture over the bottom of the pan.   Beat the pudding mixture to rehomogenize it and pour into the roasting pan.  Bake at 400F about 15 minutes until puffed up and then reduce the temperature to 350F and bake until golden and crisp for another 8-10 minutes.
</li>
<li>
During the time that the pudding cooks is the time you are allowing the rib roast to rest, covered, and you can continue with your reduction sauce.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
Description:
</p>
<p>
  &quot;A wonderful tradition served with Rib Roast.&quot;
</p>
<p>
SERVINGS: 8
</p>
<p>
SOURCE: Madeleine Kamman
</p>
</div></body>
