<h1>You-Make-It Vegetable Soup</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 quarts stock, chicken, vegetable or beef
</li>
<li>
1 large onion, chopped
</li>
<li>
1 leek, chopped
</li>
<li>
3 cloves garlic, chopped
</li>
<li>
Some suggested soup items:
</li>
<li>
carrots, small dicde
</li>
<li>
celery, sliced thin
</li>
<li>
tomatoes, chopped
</li>
<li>
chicken or beef, cut or shredded
</li>
<li>
smoked sausage, sliced
</li>
<li>
cabbage, thinly sliced and chopped
</li>
<li>
zucchini, cubed or sliced
</li>
<li>
yellow summer squash, cubed or sliced
</li>
<li>
kidney beans, canned, rinsed, drained
</li>
<li>
garbanzo beans, canned, rinsed, drained
</li>
<li>
swiss chard, stems removed, chopped
</li>
<li>
potato, small dice
</li>
<li>
fresh herbs: basil, parsley, sage,
</li>
<li>
rosemary, etc.
</li>
<li>
pasta, cooked
</li>
<li>
cheese, shredded
</li>
<li>
Any fresh vegetables or ingredients that
</li>
<li>
are available are perfect for adding
</li>
<li>
to a soup.
</li>
<li>
salt and pepper, to taste
</li>
<li>
juice of one lemon, or to taste
</li>
</ul>
<h2>Method</h2><ul>
<li>
Valentine Croutes:
</li>
<li>
  1               loaf  artisan bread
</li>
<li>
                        olive oil
</li>
<li>
Place diced onion, leek and garlic in a bit of olive oil and cook until fragrant.  Add stock.  Kids can add as much or as little as they wish of the above ingredients.  Cook for about 20-30 minutes until all the vegetables are cooked through.    Wait until just before serving to add cooked pasta. 
</li>
<li>
Top the served soup with a Valentine Croute and a bit of grated cheese.
</li>
<li>
Valentine Croutes:  Slice the bread about 1/4&quot; thin.  With a heart-shaped cookie cutter, cut out of the center of each piece of bread a heart-shaped croute.  Brush both sides with olive oil and grill on grill pan or saute pan until golden on both sides.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is a soup that kids can make all the choices about....using
</p>
<p>
  whatever is around.&quot;
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Char Zyskowski
</p>
</body>
