<h1>Yu Xiang Eggplant</h1>
<h2>Ingredients</h2>
<ul>
<li>
3 Chinese eggplants
</li>
<li>
1 teaspoon salt
</li>
<li>
1/3 cup canola oil
</li>
<li>
1/2 cup julienned pork or ground pork
</li>
<li>
Meat marinade:
</li>
<li>
1 teaspoon dark soy sauce
</li>
<li>
1/4 teaspoon rice wine
</li>
<li>
1/8 teaspoon sesame seed oil
</li>
<li>
1/2 teaspoon cornstarch
</li>
<li>
3 tablespoons minced garlic
</li>
<li>
1/2 cup julienned jicama or fresh bamboo shoots
</li>
<li>
Sauce mixture:
</li>
<li>
1/3 cup chicken broth
</li>
<li>
1 tablespoon chili paste with garlic
</li>
<li>
1 tablespoon sugar
</li>
<li>
1 tablespoon rice vinegar
</li>
<li>
1 tablespoon soy sauce
</li>
<li>
1 teaspoon sweet bean sauce
</li>
<li>
3/4 teaspoon ground Sichuan peppercorn
</li>
<li>
Cornstarch slurry: 1 t cornstarch:
</li>
<li>
3 tablespoons water
</li>
</ul>
<h2>Method</h2><ul>
<li>
1.  Quarter the eggplant lengthwise, then cut into 2&quot; length pieces.  Lightly salt the eggplant and let rest for 15 minutes.
</li>
<li>
2.  Heat oil in wok, add eggplant, stir fry on medium heat until eggplant is soft...but not mushy.  Drain on paper towel and press out excess oil.
</li>
<li>
3.  Marinade pork with soy sauce, wine, sesame seed oil and cornstarch.
</li>
<li>
4.  In the same wok, stir fry marinated pork with garlic until pork is cooked.  Add in jicama and sauce mixture.  Simmer for 1 minute and wait for meat to absorb all the flavors.  Add the eggplant back in and stir to mix.  
</li>
<li>
5.  Add cornstarch slurry to thicken and to give the dish a glossy appearance.  Sauce should not be thick and pasty.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : Sichuan
</p>
<p>
&quot;Fish Fragrant Eggplant&quot;
</p>
<p>
SERVINGS: 4
</p>
<p>
SOURCE: Rhoda Yee, CCA
</p>
</body>
