<h1>Zabaione with Strawberries</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Zabaione:
</li>
<li>
6 extra large egg yolks
</li>
<li>
3/4 cup granulated sugar
</li>
<li>
1 cup dry white wine
</li>
<li>
Whipped Cream:
</li>
<li>
1 cup heavy cream
</li>
<li>
3 tablespoons granulated sugar
</li>
<li>
2 teaspoons confectioners sugar
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
1.  Bring some water to a boil in the bottom of a double boiler.  Put the egg yolks in a crockery, glass or stainless steel boil and add the granulated sugar, butter and cinnamon.  
</li>
<li>
2.  Stir with a wooden spoon or a whisk in the same direction, until the sugar and butter are completely incorporated and the mixture turns a light yellow.  Add the wine and mix together.  
</li>
<li>
3.  Transfer the mixture to the top part of the double boiler or if you have used a stainless steel bowl, place it on top of the pan holding boiling water.  Constantly stir with a wooden spoon or whisk in the same direction until the zabaione is thick enough to coat the wooden spoon.  DO NOT ALLOW TO BOIL. 
</li>
<li>
4.  Remove the top of the double boiler or stainless steel bowl from the pan with the boiling water and stir for 2-3 minutes longer.
</li>
<li>
5.  Transfer the zabaione to individual dessert glasses.
</li>
<li>
6.  Make the whipping cream and either place in a pastry bag and top with a wisp of cream or place a dollop on top of the zabaione.  Fresh cold berries may be served with the zabaione.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
SERVINGS: 6
</p>
<p>
SOURCE: Classic Italian
</p>
</div></body>
