<head>
<title>Zuccatto</title>
</head>
<body>
<h1>Zuccatto</h1>
<h2>Ingredients</h2>
<ul>
<li>
A 8 or 9&quot; Genoise cake
</li>
<li>
1/2 cup hazelnuts or almonds, coarsely chopped
</li>
<li>
6 ounces bittersweet chocolate, chopped finely
</li>
<li>
2 cups heavy whipping cream
</li>
<li>
2 tablespoons sugar
</li>
<li>
1/2 cup dark rum
</li>
<li>
powdered sugar
</li>
<li>
cocoa powder
</li>
</ul>
<h2>Method</h2><ul>
<li>
Line a bowl (should be the about the same width as the cake pan, 8 or 9&quot;) with clear plastic wrap.  Cut the top of the cake off horizontally about 1/4&quot;.  Cut the remaining cake in 1/4&quot; slices straight down (vertically).  Line the bowl with the slices pushed against each other.  Sprinkle on about half of the rum.
</li>
<li>
Whip the cream with the sugar and beat until stiff.  Fold in the nuts, 1 tablespoon of the rum and the chocolate.  Fill the cake lined bowl with the cream and smooth it out.  Sprinkle the cut side of the reserved cake bottom with the remaining rum, and cover the cream filling.  Gently tamp down and cover the zuccotto with clear plastic wrap.  Refrigerate for several hours or over night.  You can freeze it for several weeks if you wish.  
</li>
<li>
Unmold onto plate.  Sprinkle with powdered sugar and then with cocoa.
</li>
</ul>
<h2>Notes</h2><p>
NOTES:
</p>
<p>
NOTES : In Italy this is also known as the Florentine Dessert Dome.  It is lovely, light and absolutely delicious!
</p>
<p>
SERVINGS: 12
</p>
<p>
SOURCE: Carlo Middione, San Francisco
</p>
</body>
