<h1>Zuppa di Pesce</h1>
<h2>Ingredients</h2>
<ul>
<li>
Broth:
</li>
<li>
4 tablespoons extra virgin olive oil
</li>
<li>
1 large yellow onions, chopped
</li>
<li>
4 cloves garlic, crushed, minced
</li>
<li>
2 cups red wine
</li>
<li>
2 bay leaves, crumbled
</li>
<li>
1/2 teaspoon dry oregano
</li>
<li>
2 cups marinara sauce
</li>
<li>
1 large can tomatoes, chopped with juice
</li>
<li>
1/2 teaspoon red pepper flakes
</li>
<li>
Fish:
</li>
<li>
2 lbs. red snapper, or cod or sea bass in 2&quot; pieces
</li>
<li>
1 lb. clams
</li>
<li>
1 lb. mussels
</li>
<li>
1 1/2 lbs. shrimp
</li>
<li>
fresh parmesan
</li>
</ul>
<h2>Method</h2><ul>
<li>
Heat the oil in havy pot and add the onion, cooking until soft and translucent.  Add the garlic and cook until it smells heavenly...do not burn!!  Add the wine and reduce by one half.
</li>
<li>
Add the rest of the broth ingredients and simmer over medium heat for 20 minutes.  This can be made ahead and reheated.
</li>
<li>
Scrub the clams and allow to sit in water for about 30 minutes.  Debeard the mussels.  
</li>
<li>
Add all the seafood to the broth and allow to simmer for about 5-7 minutes or until done....do not overcook.  Serve immediately with freshly grated parmesan.
</li>
</ul>
<h2>Notes</h2><p>
SERVINGS: 8
</p>
<p>
SOURCE: Apple Charlotte
</p>
</body>
