<h1>Zuppa di Pesce</h1>
<h2>Ingredients</h2>
<ul id='ingredients'>
<li>
Broth
</li>
<li>
4 tablespoons extra virgin olive oil
</li>
<li>
1 large yellow onion, chopped
</li>
<li>
8 lg cloves garlic, crushed &amp; minced
</li>
<li>
2 lg cans good quality canned tomatoes in juice
</li>
<li>
1 cup dry red wine
</li>
<li>
2 bay leaves, crumbled
</li>
<li>
1/2 teaspoon dry oregano (better than fresh here)
</li>
<li>
1 teaspoon salt
</li>
<li>
1/2 teaspoon fresh ground pepper
</li>
<li>
1/2 teaspoon red pepper flakes
</li>
<li>
Fish:
</li>
<li>
2 lbs. red snapper or rock cod, or sea bass, cut in 2&quot; pieces
</li>
<li>
or mixture
</li>
<li>
1 lb. small clams
</li>
<li>
1 lb. mussels
</li>
<li>
4 large crab legs, or crab chunks
</li>
<li>
Fresh Parmesan
</li>
</ul>
<h2>Method</h2><ul id='method'>
<li>
Heat the oil in large heavy pot and add the onion cooking until soft and translucent.  Add the garlic and saute until it is soft and smells heavenly...do not burn the garlic.  Add the rest of the ingredients for the broth and simmer over medium heat for 20 minutes.  This can be made ahead and reheated.
</li>
<li>
Scrub the clams and allow to sit in water for about 30 minutes.  Debeard the mussels.
</li>
<li>
Break open the crab legs with a cleaver on just one side of the shell and cut each  leg into about 3 pieces allowing for large pieces....this is what makes the dish fun!
</li>
<li>
Add all the seafood to the broth and allow to simmer for about 5-7 minutes or until done...do not overcook.  Serve immediately with freshly grated parmesan.
</li>
</ul>
<h2>Notes</h2><div id='notes'><p>
NOTES:
</p>
<p>
Serving Ideas : Serve withNOTES : This fabulous suppa is adapted from a recipe from Carlo Middone, a great chef in the San Francisco area.  It never disappoints and it is easy, festive and almost laughable with the mess of it all.  Its a great make ahead dinner because you can make the broth ahead and add the fish at the last minute.
</p>
<p>
SERVINGS: 6
</p>
<p>
SOURCE: Char Zyskowski
</p>
</div></body>
