<h1>Zuppa Inglesa</h1>
<h2>Ingredients</h2>
<ul>
<li>
Crema:
</li>
<li>
4 cups milk
</li>
<li>
4 egg yolks
</li>
<li>
5 tablespoons sugar
</li>
<li>
4 tablespoons flour
</li>
</ul>
<h2>Method</h2><ul>
<li>
1            package  ladyfinger cookies
</li>
<li>
     1/2           cup  Kirsh or cherry liquor
</li>
<li>
     1/3           cup  water
</li>
<li>
                        Chocolate sauce:
</li>
<li>
  1                cup  whipping cream
</li>
<li>
  8             ounces  semisweet chocolate -- chopped
</li>
<li>
                        Warm whipping cream and add chocolate over
</li>
<li>
                        double boiler.  Cool.
</li>
<li>
Make crema and cool in refrigerator for several hours or overnight.
</li>
<li>
Delute liquor with water so that just the essence of the liquor flavor comes through....to your taste.
</li>
<li>
In about a 2 quart bowl or container of choice place about 3/4 cup or so of custard.  Top with ladyfingers (or cake of choice) that have been briefly soaked in water/liquor mixture.  Top with more custard and then with some of the chocolate sauce.  Continue to layer:  ladyfingers, custard, chocolate sauce until ingredients are used....end with chocolate sauce.
</li>
<li>
Refrigerate 1-2 hours before serving.  Serve by the spoonful in small bowls.  This can be made one day ahead.
</li>
</ul>
<h2>Notes</h2><p>
Description:
</p>
<p>
  &quot;This is an Italian dessert you see all over Tuscany....even as a
</p>
<p>
  gelato flavor!&quot;
</p>
<p>
Source:
</p>
<p>
  &quot;La Miniera....Montecatini Val de Cecina&quot;
</p>
<p>
Yield:
</p>
<p>
  &quot;1/2 cup&quot;
</p>
<p>
SERVINGS: 10
</p>
<p>
SOURCE: Chef Stefania
</p>
</body>
