#header {
  background:#fff;
  padding: 5px 0;
  height: 128px;
  position: relative;
  border-bottom: 3px solid black;
  h1 {
    background: image-url("apple_char_logo2.png") no-repeat;
    height: 115px;
    width: 410px;
    position: absolute;
    top: 5px;
    left: 30%;
    text-indent: -9999px;
    padding-bottom: 5px;
  }
  .char-left {
    float: left;
    margin-left: 10px;
    display: none;
  }
  .char-right {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
  }
}

#navigation {
  /*background:#c99;*/
  clear: both;
  height: 28px;
  position: absolute;
  bottom: 0;
  .tabs {

    float: left;

    .tab {
      float: left;
      width: 100px;
      height: 20px;
      border: 1px solid grey;
      border-bottom: 0px;
      margin: 0 10px 0 0;
      color: white;
      text-align: center;
      padding: 6px 0 1px 0;
      background: #992233;
      background: -webkit-gradient(linear, left top, left bottom, from(#992233), to(#c46f7a));
      background: -webkit-linear-gradient(top, #992233, #c46f7a);
      background: -moz-linear-gradient(top, #992233, #EEB4BD);
      background: -ms-linear-gradient(top, #992233, #c46f7a);
      background: -o-linear-gradient(top, #992233, #c46f7a);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#992233', endColorstr='#c46f7a');
      a {
        font-weight: bold;
        color: white;
        &:hover {
          color: #F3EDC9;
        }
      }
    }

  }

}


#recipe-search-form {
}

.search-form {
  margin: 4px 10px 0 0;
  height: 1px;
  .search-input {
    width: 280px;
  }
}

.search-button {
  /*border-top: 1px solid #96d1f8;*/
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#c46f7a), to(#992233));
  background: -webkit-linear-gradient(top, #c46f7a, #992233);
  background: -moz-linear-gradient(top, #EEB4BD, #992233);
  background: -ms-linear-gradient(top, #c46f7a, #992233);
  background: -o-linear-gradient(top, #c46f7a, #992233);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c46f7a', endColorstr='#992233');
  padding: 3px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 13px;
  font-family: Georgia, serif;
  text-decoration: none;
  float: right;
  width: 140px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.search-button:hover {
  /*border-top-color: #28597a;*/
  /*background: #cf3e3e;*/
  color: #F3EDC9;
}
.search-button:active {
  /*border-top-color: #1b435e;*/
  background: #cf3e3e;
  color: #cccccc;
}