#header {
  background:#fff;
  h1 {
    background: image-url("apple_char_logo.png") no-repeat;
    height: 100px;
    width: 411px;
    margin: auto;
    text-indent: -9999px;
  }
}

#navigation {
  /*background:#c99;*/
  height: 28px;
  background: #fff;
  border-bottom: 1px solid gray;

  .tabs {

    float: left;

    .tab {
      float: left;
      width: 100px;
      height: 20px;
      background-color: #992233;
      border: black 1px solid;
      border-left: none;
      margin: 0 10px 0 0;
      color: white;
      text-align: center;
      padding: 3px;

      a {
        color: white;
        &:hover {
          color: #F1896B;
        }
      }
    }

  }

}


#recipe-search-form {
  float: right;
}

.search-form {
  margin: 4px 10px 0 0;
  height: 1px;
  float: right;
}

.search-button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 2px 12px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: Georgia, serif;
  text-decoration: none;
}
.search-button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.search-button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}