#header {
  background:#fff;
  padding: 5px 0;
  height: 128px;
  position: relative;
  border-bottom: 3px solid black;
  h1 {
    background: image-url("apple_char_logo2.png") no-repeat;
    height: 115px;
    width: 410px;
    position: absolute;
    top: 5px;
    left: 30%;
    text-indent: -9999px;
    padding-bottom: 5px;
  }
  .char-left {
    float: left;
    margin-left: 10px;
    display: none;
  }
  .char-right {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
  }
}

#navigation {
  /*background:#c99;*/
  clear: both;
  height: 28px;
  position: absolute;
  bottom: 0;
  .tabs {

    float: left;

    .tab {
      float: left;
      width: 100px;
      height: 20px;
      background-color: #992233;
      border: black 1px solid;
      border-left: none;
      margin: 0 10px 0 0;
      color: white;
      text-align: center;
      padding: 3px;

      a {
        color: white;
        &:hover {
          color: #F1896B;
        }
      }
    }

  }

}


#recipe-search-form {
}

.search-form {
  margin: 4px 10px 0 0;
  height: 1px;
  .search-input {
    width: 280px;
  }
}

.search-button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e779d', endColorstr='#65a9d7');
  padding: 2px 12px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: Georgia, serif;
  text-decoration: none;
  float: right;
  width: 140px;
  text-align: center;
  font-weight: bold;
}
.search-button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.search-button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}