// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe h1 {
  text-align: center;
}

#recipe-list {
  width: 470px;
  float: left;
  padding: 10px 5px 0px;
}

#comment-list {
  width: 470px;
  float: right;
  padding: 10px 5px 0px;
}

.subheader {
  text-align: center;
}
