// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe h1 {
  text-align: center;
}

#recipe-list {
  width: 470px;
  float: left;
  padding: 10px 5px 0px;
}

#char-picture {
  margin-top: 15px;
  text-align: center;
  img {
    border: 2px solid #992233;
    -moz-box-shadow:    3px 3px 3px -2px #992233;
    -webkit-box-shadow: 3px 3px 3px -2px #992233;
    box-shadow:         3px 3px 3px -2px #992233;
  }
}

.centered {
  text-align: center;
  width: 100%;
}

.form-row {
  height: 25px;
}

.subheader {
  text-align: center;
  h3 {
    margin-bottom: 4px;
  }
}

.recipe-list-footer {
  text-align: center;
  margin: 10px 0 0 0;
}
#all-recipe-link {
  text-align: center;
  color: #992233;
  &:hover {
    color: #F1896B;
  }
}

#more-recipes-link {
  width: 72px;
  margin: auto;
  float: none;
  font-size: 1em;
}
